﻿
@{
    Layout = null;
}
<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Seleccionar Proveedor</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--TABLA Proveedor -->
    <div class="row">
        <div class="col-md-12">
            <table id="ProveedoresTablaListado" class="display compact" style="width:100%"></table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="ConfirmarProveedorListado">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
<script>
    function CargarProvListado() {
        dataTable = $("#ProveedoresTablaListado").DataTable({
            "destroy": true,
            "bLengthChange": false,
            "autoWidth": true,
            "ajax": {
                "url": "/Proveedores/GetData/",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                {
                    "title": "Código",
                    "data": "Codigo_Proveedor"
                },
                {
                    "title": "Razon Social",
                    "data": "Razon_Social",
                    "sClass": "mayusculas-texto"
                }
            ],
            "language": idiomaEspañol,
            "select": 'single',
            "columnDefs": [
                { className: "text-right", "targets": [0] },
            ],
            "order": [[1, "asc"]]

        });
    }
</script>
