﻿@using MVC_Produccion.Sesiones
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;
}
<div class="modal-header col-md-12 modalCreate" style="display:flex; justify-content:space-between">
    <h4 class="modal-title">Listado Analisis</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--TABLA DETALLES ANALISIS -->
    <div class="row">
        <div class="col-md-12">
            <table id="ListadoAnalisisModal" class="display compact" style="width:100%"></table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="ConfirmarAnalisis">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
<script>

    var listadoAnalisis = [];

    function CargarAnalisisModal() {
        $.ajax({
            type: "GET",
            url: "/AnalisisMicrobiologicos/GetListado/",
            dataType: "json",
            success: function (data) {
                listadoAnalisis = data.data;
                dataTable = $("#ListadoAnalisisModal").DataTable({
                    "destroy": true,
                    "autoWidth": true,
                    "responsive": true,
                    "data": listadoAnalisis,
                    "columns": [
                        {
                            "data": "Codigo_Interno_Analisis",
                            "title": "Codigo",
                            "width": "25%"
                        },
                        {
                            "data": "Descripcion",
                            "title": "Descripcion",
                        },
                              
                    ],
                    "language": idiomaEspañol,
                    "columnDefs": [
                        { className: "text-center", "targets": [0, 1] }
                    ],
                    "order": [[1, "asc"]],
                    dom: 'Bft',
                    buttons: [                     
                    ],
                    select: 'single',
                    initComplete: function (data) {
                        $('div.dataTables_filter input').focus();
                    }
                });
            }
        });
    };

    /* METODO PARA AGREGAR UN REGISTRO*/

    function SubmitForm(form) {
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        Popup.dialog('close');
                        dataTable.ajax.reload();
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        return false;
    }

    function InsertarAnalisis() {
        var Codigo_Interno_Analisis = $('#data1').val();
        var Descripcion = $('#data2').val();
        if (Codigo_Interno_Analisis != '' && Descripcion != '') {
            $.ajax({
                url: "/AnalisisMicrobiologicos/AddOrEdit/",
                method: "POST",
                data: { Codigo_Interno_Analisis: Codigo_Interno_Analisis, Descripcion: Descripcion },
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                        CargarAnalisis();
                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });

                        $('#data1').focus();
                    }
                }
            });
        }
        else {
            alert("Ambos campos son requeridos");
        }
    };

    function AgregarAnalisis() {

        var filaAgregada = false;

        $('#ListadoAnalisisModal').find('#insert').each(function () {
            filaAgregada = true;
        });

        if (filaAgregada == false) {
            /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/

            var html = '<tr>';
            html += '<td><input id="data1" placeholder="Código" class="col-md-12 text-box single-line" style="text-align:center"></input></td>';
            html += '<td><input id="data2" placeholder="Descripcion" style="text-transform:capitalize;" class="col-md-12 text-box single-line"></input></td>';
            html += '<td class="text-center"><button type="button" name="insert" id="insert" onclick="InsertarAnalisis()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span></button>' +
                '<button type="button" name="cancel" id="cancel" onclick="CargarAnalisis()" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></td>';
            html += '</tr>';

            $('#ListadoAnalisisModal tbody').prepend(html);

            $.ajax({
                type: "GET",
                url: "/AnalisisMicrobiologicos/GetUltimo/",
                success: function (data) {
                    if (data.success) {
                        $('#data1').val(data.data + 1);
                        $('#data1').focus();
                    }
                    else {
                        $('#data1').val(1);
                        $('#data1').focus();
                    }

                    $("#data1").keyup(function (e) {
                        if (e.keyCode == 13) {

                            $("#data2").focus();
                        }
                    });

                    $("#data2").keyup(function (e) {
                        if (e.keyCode == 13) {

                            InsertarAnalisis();
                        }
                    });
                }
            });
        }
        else {
            $('#data1').focus();
        }
    };

    function EditarAnalisis(Codigo) {

        $('#ListadoAnalisisModal').find('tr').find('td').each(

            function () {
                if ($(this).index() == 0) {

                    if ($(this).html() == Codigo) {

                        $(this).parent('tr').find('td').each(function () {

                            if ($(this).index() == 1) {

                                var Descripcion = $(this).html();

                                $(this).html("");

                                $(this).prepend('<input id="nuevaDescripcion" style="text-transform:capitalize;" class="col-md-12"/>');

                                $('#nuevaDescripcion').val(Descripcion);

                                $('#nuevaDescripcion').focus();
                            }

                            if ($(this).index() == 2) {
                                $(this).html("");

                                $(this).prepend(
                                    "<a class='btn btn-success btn-sm' onclick=ConfirmarEdicionAnalisis('" + Codigo + "')>" +
                                    "<span class='glyphicon glyphicon-ok'></span>" +
                                    "</a>" +
                                    "<a class='btn btn-danger btn-sm' onclick=CargarAnalisis()>" +
                                    "<span class='glyphicon glyphicon-remove'></span>" +
                                    "</a>"

                                );
                            }

                        });
                    }
                }
            }
        )

        $("#nuevaDescripcion").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");

                ConfirmarEdicionAnalisis(Codigo);
            }
        });
    };


    function ConfirmarEdicionAnalisis(Codigo) {
        $.ajax({
            type: "POST",
            url: "/AnalisisMicrobiologicos/AddOrEdit/",
            data: { Codigo_Interno_Analisis: Codigo, Codigo_Interno_Analisis: 1, Descripcion: $('#nuevaDescripcion').val() },
            success: function (data) {
                if (data.success) {
                    CargarAnalisis();

                    notif({
                        msg: data.message,
                        type: "success",
                        position: "center"
                    });

                }
                else {

                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center"
                    });
                }
            }
        });
    };

    function modificarInput(Codigo) {
        $('input.codigo').text(Codigo);
    }

    function DeleteAnalisis() {
        $.ajax({
            type: "POST",
            url: "/AnalisisMicrobiologicos/Delete/",
            data: { Codigo_Interno_Analisis: $('input.codigo').text() },
            success: function (data) {
                if (data.success) {
                    $('#modalDelete').modal('hide');
                    CargarAnalisis();

                    notif({
                        msg: data.message,
                        type: "success",
                        position: "center"
                    });
                }
                else {

                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center"
                    });
                }
            }
        });

    };

</script>

