﻿@using MVC_Produccion.Sesiones
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;
}

<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Listado Fórmulas</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--TABLA FORMULAS -->
    <div class="row">
        <div class="col-md-12">
            <table id="FormulasModalTabla" class="display compact" style="width:100%"></table>
        </div>
    </div>

    <script>
        var FormulaActual = 0;

        function CargarFormulasModal() {

            dataTable = $("#FormulasModalTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/Formulas/GetData?nohistoricas=1",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Codigo_Producto",
                        "title": "Código",
                        "width": "10%"
                    },
                    {
                        "data": "Descripcion_Producto",
                        "title": "Producto",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        "data": "Litros_Kilos",
                        "title": "Litros/Kilos"
                    },
                    {
                        "data": "Factor",
                        "title": "Factor"
                    },
                    {
                        "data": "Kilos_Teoricos",
                        "title": "Kilos Teóricos"
                    },
                    {
                        "data": "Codigo_Formula",
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-xs' href='/Formulas/AddOrEdit/" + data + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                    "<a class='btn btn-danger btn-xs' onclick=FormulaActual="+data+" data-toggle='modal' data-target='#modalDeleteFormula'><span class='glyphicon glyphicon-trash'></span></a>";
                        },
                    }

                ],
                "language": idiomaEspañol,
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: 'nuevo',
                       action: function () {
                           window.location.href = "/Formulas/AddOrEdit/";
                       }
                   }
                ],
                "columnDefs": [
                      { className: "text-right", "targets": [2, 3, 4] },
                      { className: "text-center", "targets": [0, 5] }
                ],
                "order": [[1, "asc"]],
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                },
                select: 'single'

            });
        };

        function CargarFormulasSegunUsaProducto(Utiliza, familia) {

            dataTable = $("#FormulasModalTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/Formulas/GetFormulasSegunUsaProducto",
                    "type": "GET",
                    "datatype": "json",
                    data: {
                        utiliza: Utiliza,
                        nohistoricas: 1,
                        familia: familia
                    }
                },
                "columns": [
                    {
                        "data": "Codigo_Producto",
                        "title": "Código",
                        "width": "10%"
                    },
                    {
                        "data": "Descripcion_Producto",
                        "title": "Producto",
                        "sClass": "mayusculas-texto"
                    },
                   // {
                   //     "data": "Litros_Kilos",
                   //     "title": "Litros/Kilos"
                   // },
                   // {
                   //     "data": "Factor",
                   //     "title": "Factor"
                   // },
                   // {
                   //     "data": "Kilos_Teoricos",
                   //     "title": "Kilos Teóricos"
                   // },
                    {
                        "data": "Codigo_Formula",
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data) {
                            @{
                                if(ViewBag.Utiliza_Login == true)
                                {
                                    if (Sesion.UsuarioActual.Rol.ToLower() == "administrador")
                                    {
                                        <text>
                                            return "<a class='btn btn-default btn-xs' href='/Formulas/AddOrEdit/" + data + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                            "<a class='btn btn-danger btn-xs' onclick=FormulaActual=" + data + " data-toggle='modal' data-target='#modalDeleteFormula'><span class='glyphicon glyphicon-trash'></span></a>";
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            return "<a disabled class='btn btn-default btn-xs' href='/Formulas/AddOrEdit/" + data + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                            "<a disabled class='btn btn-danger btn-xs' onclick=FormulaActual=" + data + " data-toggle='modal' data-target='#modalDeleteFormula'><span class='glyphicon glyphicon-trash'></span></a>";
                                        </text>
                                    }
                                }
                                else
                                {
                                    <text>
                                        return "<a class='btn btn-default btn-xs' href='/Formulas/AddOrEdit/" + data + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                        "<a class='btn btn-danger btn-xs' onclick=FormulaActual=" + data + " data-toggle='modal' data-target='#modalDeleteFormula'><span class='glyphicon glyphicon-trash'></span></a>";
                                    </text>
                                }
                            }        
                        },
                    }

                ],
                "language": idiomaEspañol,
                dom: 'Bfrtip',
                buttons: [

                    @{
                        if(ViewBag.Utiliza_Login == true)
                            {
                                if (Sesion.UsuarioActual.Rol.ToLower() == "administrador")
                                {
                                    <text>
                                        {
                                            text: '<span class="glyphicon glyphicon-plus">',
                                            className: 'nuevo',
                                            action: function () {
                                                window.location.href = "/Formulas/AddOrEdit/";
                                            }
                                        },
                                    </text>
                                }
                            }
                        else
                        {
                            <text>
                                {
                                    text: '<span class="glyphicon glyphicon-plus">',
                                    className: 'nuevo',
                                    action: function () {
                                        window.location.href = "/Formulas/AddOrEdit/";
                                    }
                                }
                            </text>
                        }
                    }
                ],
                "columnDefs": [
                      { className: "text-right", "targets": [2/*, 3, 4*/] },
                      { className: "text-center", "targets": [0/*, 5*/] }
                ],
                "order": [[1, "asc"]],
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                },
                select: 'single'

            });
        };

        function DeleteFormulaModal() {
            $.ajax({
                type: "POST",
                url: "/Formulas/Delete/",
                data: { Codigo_Formula: FormulaActual },
                success: function (data) {
                    if (data.success) {
                        $('#modalDeleteFormula').modal('hide');

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                        CargarFormulasModal();

                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };


    </script>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="ConfirmarFormula">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
