﻿@using MVC_Produccion.Sesiones
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;

    Entities db = new Entities();

    OpcionesTrabajo configuraciones = new OpcionesTrabajo();

    configuraciones = db.OpcionesTrabajo.FirstOrDefault();
}
<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Listado Lavados</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table id="LavadosTabla" class="display compact" style="width:100%"></table>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="ConfirmarLavado">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
<script>
    function CargarLavados() {
        $("#LavadosTabla").DataTable({
            "destroy": true,
            "bLengthChange": false,
            "autoWidth": true,
            "ajax": {
                "url": "/Lavados/GetData/",
                "type": "GET",
                "datatype": "json",
                "data": {
                    sin_formula: false
                }
            },
            "columns": [
                {
                    "title": "Codigo",
                    "data": "Codigo",
                    "width": "10%"
                },
                {
                    "title": "Descripcion",
                    "data": "Descripcion",
                    "sClass": "mayusculas-texto"
                }
            ],
            "language": idiomaEspañol,
            "select": 'single',
            "columnDefs": [
                { className: "text-center", "targets": [0] },
            ],
            "order": [[1, "asc"]]

        });
    }

</script>