﻿@{
    Layout = null;
}

<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Tipos de Proveedores</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--TABLA TIPOS DE PROVEEDORES -->
    <div class="row">
        <div class="col-md-12">
            <table id="TiposProveedoresModalTabla" class="display compact" style="width:100%"></table>
        </div>
    </div>

    <script>
        function CargarTiposProveedores() {
            dataTable = $("#TiposProveedoresModalTabla").DataTable({
                "destroy": true,
                "bLengthChange": false,
                "autoWidth": true,
                "ajax": {
                    "url": "/Proveedores/ObtenerTiposProveedores/",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "CodigoProveedor",
                        "title": "Código",
                        "width": "10%"
                    },
                    {
                        "data": "DescripcionTipoProveedor",
                        "title": "Descripción",
                        "sClass": "mayusculas-texto",
                        "width": "90%"
                    },
                ],
                "language": idiomaEspañol,
                "select": 'single',
                "columnDefs": [
                    { className: "text-center", "targets": [0] },
                    { className: "text-left", "targets": [1] },
                ],
                "order": [[0, "asc"]]

            });
        }

        function getTipoProv() {
            $.ajax({
                type: "GET",
                url: "/Proveedores/GetOneTipoProveedor/",
                data: { codigoTipoProveedor: $('#TIPO_PROVEEDOR').val() },
                success: function (data) {
                    console.log(data);
                    if (data.success) {
                        if (data != null) {
                            $("#Descripcion_Tipo_Proveedor").text(data.data.DESCRIPCION);
                        }
                    }
                }
            });
        }
    </script>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="ConfirmarTipoProveedor">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>