﻿
@{
    Layout = null;
}
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabelRubro_CPP">Seleccionar Rubro</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA RUBROS -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="RubrosTablaListado" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ConfirmarRubro" >Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>

            <script>

                var dataTableRubros = [];

                var listadoRubros = [];

                function CargarRubrosListado() {
                    dataTable = $("#RubrosTablaListado").DataTable({
                        "bInfo": false,
                        "lengthChange": false,
                        "destroy": true,
                        "bLengthChange": false,
                        "autoWidth": true,
                        "ajax": {
                            "url": "/Rubros/GetData/",
                            "data": { Codigo_Rubro: -1 },
                            "type": "GET",
                            "datatype": "json"
                        },
                        "columns": [
                            {
                                "data": "Codigo_Rubro",
                                "width": "10%",
                                "title": "Código"
                            },
                            {
                                "data": "Nombre",
                                "title": "Nombre",
                                "width": "90%",
                                "sClass": "mayusculas-texto"
                            }

                        ],
                        "language": idiomaEspañol,
                        "select": 'single',
                        "order": [[1, "asc"]]

                    });
                }

            </script>