﻿@using MVC_Produccion.Sesiones
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;
    Entities db = new Entities();
    OpcionesTrabajo configuraciones = new OpcionesTrabajo();
    configuraciones = db.OpcionesTrabajo.FirstOrDefault();
}

<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="tituloModalEnvasados">Listado Envasados</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--TABLA ENVASADOS -->
    <div class="row">
        <div class="col-md-12">
            <table id="EnvasadosTabla" class="display compact" style="width:100%"></table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="ConfirmarEnvasado">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
<script>
    function CargarEnvasadosModal() {
        $.ajax({
            type: "GET",
            url: "/Envasados/GetData/",
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    listadoEnvasados = [];
                    for (var i in data.data) {
                        listadoEnvasados.push(data.data[i]);
                    }
                    dataTable = $("#EnvasadosTabla").DataTable({
                        "destroy": true,
                        "autoWidth": true,
                        "responsive": true,
                        data: listadoEnvasados,
                        "columns": [
                                {
                                    "data": "Codigo_Interno_Envasado",
                                    "title": "Código",
                                    width: "15%"
                                },
                            {
                                "data": "Lote",
                                "title": "Lote"
                            },
                            {
                                "data": "Fecha",
                                "title": "Fecha",
                                "render": function (data) { return moment(data).format('DD/MM/YYYY'); }
                            },
                            {
                                "data": "Humedad",
                                "title": "Humedad",
                                render: function (data) {
                                    if (data == null) {
                                        return "";
                                    }
                                    else {
                                        return parseFloat(data).toFixed(4);
                                    }
                                }
                            },
                            {
                                "data": "Codigo_Interno_Envasado",
                                "title": "Herramientas",
                                width: "10%",
                                "render": function (data) {
                                    @{
                                        if(configuraciones.Utiliza_Login == true)
                                        {
                                            if (Sesion.UsuarioActual.Rol.ToLower() == "administrador")
                                            {
                                                <text>
                                                    return "<a class='btn btn-danger btn-sm' onclick='AbrirModalDelete(" + data + ")'><span class='glyphicon glyphicon-trash'></span></a>";
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    return "<a disabled class='btn btn-danger btn-sm' onclick='AbrirModalDelete(" + data + ")'><span class='glyphicon glyphicon-trash'></span></a>";
                                                </text>
                                            }
                                        }
                                        else
                                        {
                                            <text>
                                                return "<a class='btn btn-danger btn-sm' onclick='AbrirModalDelete(" + data + ")'><span class='glyphicon glyphicon-trash'></span></a>";
                                            </text>
                                        }
                                    }
                                },
                            }
                        ],
                        "columnDefs": [
                            { className: "text-right", "targets": [3] },
                            { className: "text-center", "targets": [0, 1, 2, 4] }
                        ],
                        "order": [[1, 'asc']],
                        "language": idiomaEspañol,
                        dom: 'Bfrtip',
                        select: 'single'
                    });
                }
            }
        });
    };
</script>

