﻿
@{
    Layout = null;
}
<input hidden id="InsumoStock" value="@ViewBag.codInsumo" />
<!--Modal Stock Lotes-->
<div class="modal fade" id="modalStockLotes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal">Lotes del Insumo: @ViewBag.descripcion</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tablaStockLotes" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmar_stock_lotes" onclick="PasarLotesSeleccionados()" data-dismiss="modal" class="btn btn-primary">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Confirmar Seleccion-->
<div class="modal fade" id="modalConfirmarSeleccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lotes Seleccionados del Insumo: @ViewBag.descripcion</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tablaConfirmarSeleccion" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmar_lotes_seleccionados" onclick="ConfirmarSeleccionLotes()" data-dismiss="modal" class="btn btn-primary">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script>
    var lotes_seleccionados = [];
    var lotes = [];
    var jsonObj = @Html.Raw(Json.Encode(ViewBag.lotes));
    $.each(jsonObj,function(i,item){
        var existe = listadoDetallesAjuste.find(function(elemento){
            return elemento.Lote == item.Lote
        })
        if (existe) {
            item.Cantidad = item.Cantidad - existe.Cantidad;
            item.Kilos_Litros = item.Kilos_Litros - existe.Kilos_Litros;

            if (item.Cantidad > 0 || item.Kilos_Litros > 0) {
                item.Cantidad = item.Cantidad < 0 ? 0 : item.Cantidad;
                item.Kilos_Litros = item.Kilos_Litros < 0 ? 0 : item.Kilos_Litros;
                lotes.push(item);

            }
        }
        else
            lotes.push(item);
    })
    $.each(listadoDetallesAjuste,function(i,item){
        var existe = lotes.find(function(elemento){
            return elemento.Lote == item.Lote
        })
        if (!existe) {
            var indice = lotes.findIndex(function (elemento) {
                return elemento.Lote == null
            });
            console.log(indice)
            if (indice != -1) {
                lotes[indice].Cantidad = lotes[indice].Cantidad - item.Cantidad;
                lotes[indice].Kilos_Litros = lotes[indice].Kilos_Litros - item.Kilos_Litros;
            }
        }

    })

    $('#modalStockLotes').on('show.bs.modal', function (e) {
        CargarStockLotes();
    });
    $('#modalConfirmarSeleccion').on('show.bs.modal', function (e) {
        CargarLotesSeleccionados();
    });

    function CargarStockLotes() {
       $("#tablaStockLotes").DataTable({
            "destroy": true,
            "responsive": true,
            "autoWidth": true,
            "bInfo": false,
            "lengthChange": false,
            data: lotes,
            "columns": [
                {
                    "data": "Lote",
                    "title": "Lote",
                },
                {
                    "data": "Cantidad",
                    "title": "Cantidad"
                },
                {
                    "data": "Kilos_Litros",
                    "title": "Kilos Litros",
                },
            ],
            "language": idiomaEspañol,
            "columnDefs": [
                { className: "text-center lote", "targets": [0] },
                { className: "text-right cant", "targets": [1] },
                { className: "text-right kg", "targets": [2] }
            ],
            select: 'multiple',
            "order": [[0, "asc"]]
        });
    }


    function PasarLotesSeleccionados() {
        $("#tablaStockLotes").find("tr.selected")/*.find("td")*/.each(function () {
            let lote = $(this).find(".lote").html();
            let cant = $(this).find(".cant").html() || 0;
            let kg = $(this).find(".kg").html() || 0;
            lotes_seleccionados.push({ Lote: lote, Cantidad: parseFloat(cant), Kilos_Litros: parseFloat(kg) });
        });
        $('#modalConfirmarSeleccion').modal('show');
    }

    function CargarLotesSeleccionados() {
       $("#tablaConfirmarSeleccion").DataTable({
            "destroy": true,
            "responsive": true,
            "autoWidth": true,
            "bInfo": false,
           "lengthChange": false,
           data: lotes_seleccionados,
            "columns": [
                {
                    "data": "Lote",
                    "title": "Lote",
                    "render": function (data) {
                        if (data == '')
                            return '<input id="lote_nuevo" value="' + data +'"></input>';
                        else
                            return data
                    }
                },
                {
                    "data": "Cantidad",
                    "title": "Cantidad",
                    "render": function (data) {
                        if (data != 0)
                            return '<input id="c" value="' + data +'"></input>';
                        else
                            return '<input readonly id="c" value="' + data + '"></input>';

                    }
                },
                {
                    "data": "Kilos_Litros",
                    "title": "Kilos Litros",
                    "render": function (data) {
                        if (data != 0)
                            return '<input id="k" value="' + data + '"></input>';
                        else
                            return '<input readonly id="k" value="' + data + '"></input>';
}
                },
            ],
            "language": idiomaEspañol,
            "columnDefs": [
                { className: "text-center lote", "targets": [0] },
                { className: "text-right cant", "targets": [1] },
                { className: "text-right kg", "targets": [2] }
            ],
            "order": [[0, "asc"]]
        });

        $("#tablaConfirmarSeleccion tbody tr td #c").each(function () {
            $(this).change(function () {
                let lote = $(this).parent().parent().find(".lote").html();
                if (!lote) {
                    lote = $(this).parent().parent().find(".lote").val();
                }
                let registro = lotes_seleccionados.find(function (item) {
                    return item.Lote == lote
                });
                if (!registro) {
                    registro = lotes_seleccionados.find(function (item) {
                        return item.Lote == ''
                    });
                }
                if (registro.Cantidad < $(this).val()) {
                    $(this).val(registro.Cantidad);
                    $(this).focus();
                    notif({
                        msg: "No puede ingresar una Cantidad Mayor",
                        type: "error",
                        position: "center"
                    });
                }
            });
        });

        $("#tablaConfirmarSeleccion tbody tr td #k").each(function () {
            $(this).change(function () {
                let lote = $(this).parent().parent().find(".lote").html();
                if (!lote) {
                    lote = $(this).parent().parent().find(".lote").val();
                }
                let registro = lotes_seleccionados.find(function (item) {
                    return item.Lote == lote
                });
                if (!registro) {
                    registro = lotes_seleccionados.find(function (item) {
                        return item.Lote == ''
                    });
                }
                let nuevo_valor = $(this).val();
                if (registro.Kilos_Litros < nuevo_valor) {
                    $(this).val(registro.Kilos_Litros);
                    $(this).focus();
                    notif({
                        msg: "No puede ingresar Kilos Litros Mayor",
                        type: "error",
                        position: "center"
                    });
                }
            });
        });
    }


    
    function ConfirmarSeleccionLotes(){
        InsertarLotes();
    }

</script>

