﻿@using MVC_Produccion.Sesiones
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;
    Entities db = new Entities();
    OpcionesTrabajo configuraciones = new OpcionesTrabajo();
    configuraciones = db.OpcionesTrabajo.FirstOrDefault();
}

<div class="modal-header">
    <h4 class="modal-title" id="tituloModalCorreo">Enviar Correo</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--TABLA ENVASADOS -->
    <div class="row">
        <form class="form-horizontal" role="form" method="post" action="index.php">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="message" class="col-sm-2 control-label">Mensaje</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="4" name="message"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <! Will be used to display an alert to the user>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="EnviarMail">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
<script>
    @*function CargarEnvasadosModal() {
        $.ajax({
            type: "GET",
            url: "/Envasados/GetData/",
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    listadoEnvasados = [];
                    for (var i in data.data) {
                        listadoEnvasados.push(data.data[i]);
                    }
                    dataTable = $("#EnvasadosTabla").DataTable({
                        "destroy": true,
                        "autoWidth": true,
                        "responsive": true,
                        data: listadoEnvasados,
                        "columns": [
                                {
                                    "data": "Codigo_Interno_Envasado",
                                    "title": "Código",
                                    width: "15%"
                                },
                            {
                                "data": "Lote",
                                "title": "Lote"
                            },
                            {
                                "data": "Fecha",
                                "title": "Fecha",
                                "render": function (data) { return moment(data).format('DD/MM/YYYY'); }
                            },
                            {
                                "data": "Humedad",
                                "title": "Humedad",
                                render: function (data) {
                                    if (data == null) {
                                        return "";
                                    }
                                    else {
                                        return parseFloat(data).toFixed(4);
                                    }
                                }
                            },
                            {
                                "data": "Codigo_Interno_Envasado",
                                "title": "Herramientas",
                                width: "10%",
                                "render": function (data) {
                                    @{
                                        if(configuraciones.Utiliza_Login == true)
                                        {
                                            if (Sesion.UsuarioActual.Rol.ToLower() == "administrador")
                                            {
                                                <text>
                                                    return "<a class='btn btn-danger btn-sm' onclick='AbrirModalDelete(" + data + ")'><span class='glyphicon glyphicon-trash'></span></a>";
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    return "<a disabled class='btn btn-danger btn-sm' onclick='AbrirModalDelete(" + data + ")'><span class='glyphicon glyphicon-trash'></span></a>";
                                                </text>
                                            }
                                        }
                                        else
                                        {
                                            <text>
                                                return "<a class='btn btn-danger btn-sm' onclick='AbrirModalDelete(" + data + ")'><span class='glyphicon glyphicon-trash'></span></a>";
                                            </text>
                                        }
                                    }
                                },
                            }
                        ],
                        "columnDefs": [
                            { className: "text-right", "targets": [3] },
                            { className: "text-center", "targets": [0, 1, 2, 4] }
                        ],
                        "order": [[1, 'asc']],
                        "language": idiomaEspañol,
                        dom: 'Bfrtip',
                        select: 'single'
                    });
                }
            }
        });
    };*@
</script>

