﻿@{
    Layout = null;
}
<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Códigos de Comprobantes</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <!--TABLA CÓDIGOS DE COMPROBANTES -->
    <div class="row">
        <div class="col-md-12">
            <table id="ComprobantesTabla" class="display compact" style="width:100%"></table>
        </div>
    </div>

    <script>
            function CargarComprobantes() {
                dataTable = $("#ComprobantesTabla").DataTable({
                    "destroy": true,
                    "autoWidth": true,
                    "ajax": {
                        "url": "/ModalesListados/GetCodigosComprobantes",
                        "type": "GET",
                        "datatype": "json",
                        "data": { Codigo_Comprobante: "" }
                    },

                    "columns": [
                        {
                            "data": "Codigo_Comprobante",
                            "title": "Código"
                        },
                        {
                            "data": "Descripcion",
                            "title": "Descripción",
                            "sClass": "mayusculas-texto"
                        }
                       // {
                       //     "data": "Codigo_Comprobante",
                       //     "title": "Herramientas",
                       //     "width": "10%",
                       //     "render": function (data) {
                       //         return "<a class='btn btn-default btn-xs' onclick=AbrirModalNuevoProducto('" + data + "','" + 'Editar' + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                       //                "<a class='btn btn-danger btn-xs' onclick=AbrirModalDeleteProducto('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                       //     },
                       // }
                    ],
                    "language": idiomaEspañol,
                    select: 'single',
                    "columnDefs": [
                            { className: "text-center", "targets": [0] },
                    ],
                    initComplete: function () {

                    },
                    dom: 'Bfrtip',
                    buttons: [
                      // {
                      //     text: '<span class="glyphicon glyphicon-plus">',
                      //     className: 'nuevo',
                      //     action: function () {
                      //
                      //
                      //     }
                      // }
                    ],
                    "order": [[1, "asc"]]
                });
            };
    </script>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="ConfirmarComprobante">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
</div>
