﻿
@{
    Layout = null;
}
<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Seleccionar Linea</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--TABLA LINEAS -->
    <div class="row">
        <div class="col-md-12">
            <table id="LineaTablaListado" class="display compact" style="width:100%"></table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="ConfirmarLinea">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>

<script>

    var dataTableLineas = [];

    var listadoLineas = [];

    function CargarLineasListado() {
        dataTable = $("#LineaTablaListado").DataTable({
            "bInfo": false,
            "lengthChange": false,
            "destroy": true,
            "bLengthChange": false,
            "autoWidth": true,
            "ajax": {
                "url": "/Lineas/GetData/",
                "type": "GET",
                "data": { Codigo_Linea: -1 },
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "Codigo_Linea",
                    "width": "10%",
                    "title": "Código"
                },
                {
                    "data": "Nombre",
                    "title": "Nombre",
                    "width": "90%",
                    "sClass": "mayusculas-texto"
                }
            ],
            "language": idiomaEspañol,
            "select": 'single',
            "order": [[1, "asc"]]
        });
    }

</script>