﻿@using MVC_Produccion.Sesiones
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;

    Entities db = new Entities();

    OpcionesTrabajo configuraciones = new OpcionesTrabajo();

    configuraciones = db.OpcionesTrabajo.FirstOrDefault();
}

<div class="modal-header col-md-12 modalCreate" style="display:flex; justify-content:space-between" >
    <h4 class="modal-title" id="exampleModalLabel">Sucursales</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--TABLA SUCURSALES -->
    <div class="row">
        <div class="col-md-12">
            <table id="SucursalesTabla" class="display compact" style="width:100%"></table>
        </div>
    </div>

    <script>

            var editando = false;
        var seRepiteNum = false;
        var seRepiteNombre = false;
        function quitarAcentos(texto) {
            return texto.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
        }
        function GuardarSucursal(numero) {
            seRepiteNum = false;
            seRepiteNombre = false;
            let nombre = $('#nombreEditable').val();
            Sucursales.forEach(sucursal => {
                if (sucursal.Numero == numero) {
                    seRepiteNum = true;
                }
                if (quitarAcentos(sucursal.Nombre.toString().trim().toLowerCase()) == quitarAcentos(nombre.toString().trim().toLowerCase()) && sucursal.Numero != numero) {
                    seRepiteNombre = true;
                }
            });
            if ($('#nombreEditable').val() == "") {
                notif({
                    msg: "Por favor ingrese Nombre",
                    type: "error",
                    position: "center"
                });
                $('#nombreEditable').focus();
                return
            } else if (numero == "" || numero == null) {
                notif({
                    msg: "Por favor ingrese Numero",
                    type: "error",
                    position: "center"
                });
                $('#NumeroSucursal').focus();

                return
            } else if (seRepiteNum && editando == false) {
                notif({
                    msg: "El Numero ingresado ya existe",
                    type: "error",
                    position: "center"
                });
                $('#NumeroSucursal').focus();

                return
            } else if (seRepiteNombre) {
                
                notif({
                    msg: "El Nombre ingresado ya existe",
                    type: "error",
                    position: "center"
                });
                $('#nombreEditable').focus();

                return
            } else {                
                $.ajax({
                type: "POST",
                url: "/Sucursales/AddOrEdit/",
                data: { numero: numero, nombre: $('#nombreEditable').val(), confirmar_recepcion_automaticamente: $('#confirmarEditable').prop('checked') },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        seRepiteNum = false;
                        seRepiteNombre = false;
                        editando = false;
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        let agregar = true;
                        $.each(Sucursales, function (i, item) {
                            if (item.Numero == numero) {
                                Sucursales[i].Nombre = $('#nombreEditable').val();
                                Sucursales[i].Confirmar_Recepcion_Automaticamente = $('#confirmarEditable').prop('checked');
                                
                                agregar = false;
                            }
                        });
                        if (agregar) {
                            Sucursales.push({
                                Numero: numero,
                                Nombre: $('#nombreEditable').val(),
                                Confirmar_Recepcion_Automaticamente: $('#confirmarEditable').prop('checked')
                            });
                        }

                        ActualizarSucursales();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }

                },
            }); 
            }
        }
        function AgregarSucursal() {
            seRepiteNum = false;
            seRepiteNombre = false;
            editando = false;
            ActualizarSucursales();
            var html = '<tr>';

            html += '<td id="dataNumero" class="form-medio"> <input id="NumeroSucursal" placeholder="Numero" type="text" class="col-md-12 text-box single-line"></input> </td>';
            html += '<td id="dataNombre" style="text-transform:capitalize"> <input id="nombreEditable" placeholder="Nombre" type="text" class="col-md-12 text-box single-line"></input> </td>';
            html += '<td id="dataNombre" style="text-transform:capitalize"> <input id="confirmarEditable" type="checkbox"></input>  </td>';

            html += '<td style="display:flex; justify-content:center"><button type="button" name="insert" id="InsertarSucursal" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>' +
                 '<button type="button" onclick="ActualizarSucursales()" name="cancel" id="cancel" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
            html += '</tr>';
            $('#SucursalesTabla tbody').prepend(html);
            $("#InsertarSucursal").click(function () {
                GuardarSucursal($("#NumeroSucursal").val());
            });

        }

        var multiplesEdiciones = 0;
        function EditarSucursal(numero) {
            multiplesEdiciones++;
            editando = true;
            seRepiteNum = false;
            seRepiteNombre = false;
            if (multiplesEdiciones > 0) {
                ActualizarSucursales();
                multiplesEdiciones = 0;
            }
            $('#SucursalesTabla').find('tr').find('td').each(
            function () {

               if ($(this).index() == 0) {

                   if ($(this).html() == numero) {
                       $(this).parent('tr').find('td').each(function () {

                           $(this).addClass("editable");

                           if ($(this).index() == 1) {

                               var nombre = $(this).html();

                               $(this).html("");

                               $(this).prepend('<input id="nombreEditable" class="col-md-12 text-box single-line" style="text-align:left">');

                               $('#nombreEditable').val(nombre);
                               $('#nombreEditable').focus();

                           }

                           if ($(this).index() == 2) {

                               let check = $(this).find("#check").prop('checked');

                               $(this).html("");
                               if (check == true)
                                   $(this).prepend('<input id="confirmarEditable" checked type="checkbox"></input>');
                               else
                                   $(this).prepend('<input id="confirmarEditable"  type="checkbox"></input>');
                           }

                           if ($(this).index() == 3) {

                               $(this).html("");

                               $(this).prepend(
                                   "<a id='InsertarSucursal' class='btn btn-success btn-xs' onclick=GuardarSucursal('" + numero + "')>" +
                                   "<span class='glyphicon glyphicon-ok'></span>" +
                                   "</a>" +
                                   "<a class='btn btn-danger btn-xs' onclick=ActualizarSucursales()>" +
                                   "<span class='glyphicon glyphicon-remove'></span>" +
                                   "</a>"

                               );
                           }
                       });
                   }

               }
            }
            )
        }

        function EliminarSucursal(numero) {
            $.ajax({
                type: "POST",
                url: "/Sucursales/Eliminar/",
                data: { numero: numero },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        let suc = Sucursales.find(s => s.Numero == numero);
                        let i = Sucursales.indexOf(suc);

                        if (i !== -1) {
                            Sucursales.splice(i, 1);
                        }

                        ActualizarSucursales();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }

                },
            });
        }

        var Sucursales = []
        function ActualizarSucursales() {
            multiplesEdiciones = 0;
            dataTable = $("#SucursalesTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "data": Sucursales,
                "columns": [
                    {
                        "data": "Numero",
                        "title": "Número",
                        width: "15%"
                    },
                    {
                        "data": "Nombre",
                        "title": "Nombre",
                        "width": "55%",
                        sClass: "mayusculas-texto"
                      
                    },
                    {
                        "data": "Confirmar_Recepcion_Automaticamente",
                        "title": "Confir. Recep.",
                        "width": "10%",
                        sClass: "mayusculas-texto",
                        render: function (data) {
                            if (data == false) {
                                return '<input id="check" type="checkbox" disabled>';
                            }
                            else {
                                return '<input id="check" type="checkbox" checked disabled>';
                            }
                        }
                    },
                    {
                        "data": "Numero",
                        "title": "",
                        width: "20%",
                        "render": function (data) {
                            return '<a class="btn btn-default btn-xs" onclick="EditarSucursal(\'' + data + '\')"><span class="glyphicon glyphicon-pencil"></span></a>' +
                            '<a onclick="EliminarSucursal(\'' + data + '\')" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>';
                        },
                    }
                ],
                "order": [[1, 'asc']],
                "language": idiomaEspañol,
                "select": 'single',
                "columnDefs": [
                    { className: "text-center", "targets": [0, 2, 3] }
                ],
                dom: 'Bfrtip',
                buttons: [
                        {
                            text: '<span class="glyphicon glyphicon-plus">',
                            className: 'nuevo nuevoSucursal',
                            action: function () {
                                AgregarSucursal();
                            }
                        },
                ],
            });
        }

        function CargarSucursales() {
            $.ajax({
                type: "GET",
                url: "/Sucursales/GetData/",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        $.each(data.data, function (i, item) { Sucursales.push(item) })
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }

                },
                complete: () => {
                    ActualizarSucursales()
                    //$('input[aria-controls=SucursalesTabla]').focus()
                    //console.log($('input[aria-controls=SucursalesTabla]'))
                }
            });
        }
    </script>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="ConfirmarSucursal">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
