﻿@using MVC_Produccion.Sesiones
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;

    Entities db = new Entities();

    OpcionesTrabajo configuraciones = new OpcionesTrabajo();

    configuraciones = db.OpcionesTrabajo.FirstOrDefault();

    bool muestraCostos = false;
    if (Sesion.UsuarioActual != null)
    {
        muestraCostos = Sesion.UsuarioActual.Muestra_Costos != null ? Sesion.UsuarioActual.Muestra_Costos.Value : false;

    }

}

<div class="modal-header col-md-12 modalCreate" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Listado Costos Indirectos</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--TABLA INSUMOS -->
    <div class="row">
        <div class="col-md-12">
            <table id="CostosTabla" class="display compact" style="width:100%"></table>
        </div>
    </div>

    <script>

        var CostoActual = 0;

        function CargarCostos() {
            dataTable = $("#CostosTabla").DataTable({
                "destroy": true,
                "responsive": true,
                "iDisplayLength": 50,
                "autoWidth": true,
                "bInfo": false,
                "lengthChange": false,
                "ajax": {
                    "url": "/CostosIndirectos/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Codigo_Costo_Indirecto",
                        "title": "Código",
                    },
                    {
                        "data": "Descripcion",
                        "title": "Descripción",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        "data": "Porcentaje",
                        "title": "Porcentaje",
                        "render": function (data) {
                            if (data != null) { return "% " + data }
                            else { return "" }
                        }
                    },
                    @if (muestraCostos)
                    {
                        <Text>
                        {
                            "data": "Precio",
                            "title": "Precio",
                            "render": function (data) {
                                if (data != null) {
                                    return parseFloat(data).toFixed(4);
                                }
                                else {
                                    return "";
                                }
                            }
                        },
                        {
                            "data": "Precio_Fijo",
                            "title": "Precio Fijo",
                            "render": function (data) {
                                if (data != null) {
                                    return parseFloat(data).toFixed(4);

                                }
                                else {
                                    return "";
                                }
                            }
                        },
                        </Text>
                    }
                    {
                        "data": "Codigo_Costo_Indirecto",
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data) {

                            @{
                                if (configuraciones.Utiliza_Login == true)
                                {
                                    if (Sesion.UsuarioActual.Rol.ToLower() == "administrador")
                                    {
                                        <text>
                                                return " <a class='btn btn-default btn-xs' onclick=AbrirModalAddOrEditCosto('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                                "<a class='btn btn-danger btn-xs'onclick=AbrirModalVerificacionDelete('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                                return " <a class='btn btn-default btn-xs' disabled onclick=AbrirModalAddOrEditCosto('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                               "<a class='btn btn-danger btn-xs' disabled onclick=AbrirModalVerificacionDelete('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                                        </text>
                                    }
                                }
                                else
                                {
                                    <text>
                                        return " <a class='btn btn-default btn-xs' onclick=AbrirModalAddOrEditCosto('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                        "<a class='btn btn-danger btn-xs'onclick=AbrirModalVerificacionDelete('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                                    </text>
                                }
                            }
                        }
                    }

                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    { className: "text-center", "targets": [0 @if (muestraCostos) { <Text> , 5 </Text> } else { <Text> , 3 </Text> }]},
                    {
                        className: "text-right", "targets": [ 2 @if (muestraCostos) { <Text> , 3, 4 </Text> }]},
                ],
                "select": 'single',
                dom: 'Bfrtip',
                buttons: [

                    @{
                        if(configuraciones.Utiliza_Login == true)
                        {
                            if (Sesion.UsuarioActual.Rol.ToLower() == "administrador")
                            {
                                <text>
                                    {
                                        text: '<span class="glyphicon glyphicon-plus">',
                                        className: 'nuevo',
                                        action: function () {
                                            AbrirModalAddOrEditCosto();
                                        }
                                    },
                                </text>
                            }
                        }
                        else
                        {
                            <text>
                                {
                                    text: '<span class="glyphicon glyphicon-plus">',
                                    className: 'nuevo',
                                    action: function () {
                                        AbrirModalAddOrEditCosto();
                                    }
                                }
                            </text>
                        }
                    }
                ],
                "order": [[1, "asc"]]

            });
        };

        function AbrirModalVerificacionDelete(Codigo) {
            CostoActual = Codigo;

            $('#modalDeleteCosto').modal('toggle');
        }
    </script>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="ConfirmarCosto">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
