﻿@using MVC_Produccion.Sesiones
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;

    Entities db = new Entities();

    OpcionesTrabajo configuraciones = new OpcionesTrabajo();

    configuraciones = db.OpcionesTrabajo.FirstOrDefault();
}

<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Listado Productos</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--TABLA PRODUCTOS -->
    <div class="row">
        <div class="col-md-12">
            <table id="ProductosModalTabla" class="display compact" style="width:100%"></table>
        </div>
    </div>

    <script>
        var ProductoActual = 0;

        function DeleteProducto() {
            $.ajax({
                type: "POST",
                url: "/Productos/Delete/",
                data: { Codigo_Producto: ProductoActual },
                success: function (data) {
                    if (data.success) {
                        $('#modalDeleteProducto').modal('hide');
                        CargarProductosModal();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
    </script>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="ConfirmarProducto">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
