﻿@using MVC_Produccion.Sesiones
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;

    Entities db = new Entities();

    OpcionesTrabajo configuraciones = new OpcionesTrabajo();

    configuraciones = db.OpcionesTrabajo.FirstOrDefault();
}

<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Listado Fórmulas Envasado</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--TABLA FORMULAS -->
    <div class="row">
        <div class="col-md-12">
            <table id="FormulasModalTabla" class="display compact" style="width:100%"></table>
        </div>
    </div>

    <script>
        var FormulaActual = 0;

        function CargarFormulasModalEnvasado() {

            dataTable = $("#FormulasModalTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/FormulasEnvasado/GetData/",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                     {
                         "data": "Codigo_Interno_Formula",
                         "title": "Código",
                         "width": "10%"
                     },
                    {
                        "data": "Codigo_Producto",
                        "title": "Código Producto",
                        "width": "10%"
                    },
                    {
                        "data": "Producto",
                        "title": "Producto",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        "data": "Numero_Producto_Ventas",
                        "title": "Cod. Prod. Venta",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        "data": "ProductoVentas",
                        "title": "Producto Venta",
                        "sClass": "mayusculas-texto"
                    },
                    //{
                    //    "data": "Litros_Kilos",
                    //    "title": "Litros/Kilos"
                    //},
                    //{
                    //    "data": "Factor",
                    //    "title": "Factor"
                    //},
                    //{
                    //    "data": "Kilos_Teoricos",
                    //    "title": "Kilos Teóricos"
                    //},
                    //{
                    //    "data": "Codigo_Formula",
                    //    "title": "Herramientas",
                    //    "width": "10%",
                    //    "render": function (data) {
                    //        return "<a class='btn btn-default btn-xs' href='/Formulas/AddOrEdit/" + data + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                    //                "<a class='btn btn-danger btn-xs' onclick=FormulaActual="+data+" data-toggle='modal' data-target='#modalDeleteFormula'><span class='glyphicon glyphicon-trash'></span></a>";
                    //    },
                    //}

                ],
                "language": idiomaEspañol,
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: 'nuevo',
                       action: function () {
                           window.location.href = "/Formulas/AddOrEdit/";
                       }
                   }
                ],
                "columnDefs": [
                     /* { className: "text-right", "targets": [2, 3, 4] },*/
                      { className: "text-left", "targets": [2,4] },
                      { className: "text-center", "targets": [0,1,3] }
                ],
                "order": [[1, "asc"]],
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                },
                select: 'single'

            });
        };

        function DeleteFormulaModal() {
            $.ajax({
                type: "POST",
                url: "/Formulas/Delete/",
                data: { Codigo_Formula: FormulaActual },
                success: function (data) {
                    if (data.success) {
                        $('#modalDeleteFormula').modal('hide');

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                        CargarFormulasModalEnvasado();

                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };


    </script>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="ConfirmarFormula">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
