﻿@using MVC_Produccion.Sesiones
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;
}

<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Listado Artículos</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--TABLA INSUMOS -->
    <div class="row">
        <div class="col-md-12">
            <table id="InsumosLayoutTabla" class="display compact" style="width:100%"></table>
        </div>
    </div>
</div>
    <script>

        var Codigo_Insumo = 0;
        function AbrirModalVerificacion(Codigo) {
            Codigo_Insumo = Codigo;
            $('#modalDeleteInsumo').modal('toggle');
        }

        function DeleteInsumo() {
            $.ajax({
                type: "POST",
                url: "/Insumos/Delete/",
                data: { Codigo_Insumo: Codigo_Insumo },
                success: function (data) {
                    if (data.success) {
                        $('#modalDeleteInsumo').modal('hide');
                        CargarInsumos();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
    </script>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="ConfirmarInsumo">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
