﻿@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;

    Entities db = new Entities();

    <script src="~/Scripts/CorrectorDecimales.js"></script>

}

<div class="modal-header modalCreate col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Silos</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body modalCreate" id="BodySilos">
    <table id="SilosTabla" class="display compact" style="width:100%"></table>

    <script>

        var dataTableSilos = [];
        var listadoSilos = [];

        var Codigo_Silo_Actual = 0;

        function CargarSilos(TipoVista = '') {
            $.ajax({
                type: "GET",
                url: "/Silos/GetData/",
                dataType: "json",
                success: function (data) {
                    if (data.success) {

                        listadoSilos = data.data;

                        dataTableSilos = $("#SilosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            data: listadoSilos,
                            "columns": [
                                {
                                    "data": "Codigo_Silo",
                                    "title": "Código",
                                    "width": "15%"
                                },
                                {
                                    "data": "Nombre",
                                    "title": "Nombre",
                                    "sClass": "mayusculas-texto"
                                },
                                {
                                    "data": "Ecomilk",
                                    "title": "Ecomilk"
                                },
                                {
                                    "data": "Codigo_Silo",
                                    "width": "10%",
                                    "title": "Herramientas",
                                    "render": function (data) {
                                        return " <a class='btn btn-default btn-xs' onclick=EditarSilo(" + data + ")><span class='glyphicon glyphicon-pencil'></span></a>" +
                                            "<a class='btn btn-danger btn-xs'onclick=Codigo_Silo_Actual=" + data + " data-toggle='modal' data-target='#modalDeleteSilo'><span class='glyphicon glyphicon-trash'></span></a>";
                                    },
                                }

                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                { className: "text-center", "targets": [0, 2, 3] },
                            ],
                            select: TipoVista == 'listado' ? 'single' : null,
                            dom: 'Bfrtip',
                            buttons: [
                                {
                                    text: '<span class="glyphicon glyphicon-plus">',
                                    className: 'nuevo',
                                    action: function () {
                                        AgregarSilo();
                                    }
                                }
                            ],
                            "order": [[1, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            }

                        });
                    }
                }
            });
        };

        function AgregarSilo() {

            var filaAgregada = false;

            $('#SilosTabla').find('#insert').each(function () {
                filaAgregada = true;
            });

            if (filaAgregada == false) {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/

                var html = '<tr>';
                html += '<td><input id="data1" placeholder="Código" style="text-align:right" class="col-md-12 text-box single-line"></input></td>';
                html += '<td><input id="data2" placeholder="Nombre" style="text-transform:capitalize;" class="col-md-12 text-box single-line"></input></td>';
                html += '<td><input id="data3" placeholder="Ecomilk" class="col-md-12 text-box single-line"></input></td>';
                html += '<td class="text-center"><button type="button" name="insert" onclick="InsertarSilo()" id="insert" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>' +
                    '<button type="button" name="cancel" id="cancel" onclick="CargarSilos()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';

                $('#SilosTabla tbody').prepend(html);

                $.ajax({
                    type: "GET",
                    url: "/Silos/GetUltimo/",
                    success: function (data) {
                        if (data.success) {
                            $('#data1').val(data.data + 1);
                            $('#data1').focus();
                        }
                        else {
                            $('#data1').val(1);
                            $('#data1').focus();
                        }

                        $("#data1").keyup(function (e) {
                            if (e.keyCode == 13) {
                                $(this).trigger("enterKey");

                                $("#data2").focus();
                            }
                        });

                        $("#data2").keyup(function (e) {
                            if (e.keyCode == 13) {
                                $(this).trigger("enterKey");

                                $("#data3").focus();
                            }
                        });

                        $("#data3").keyup(function (e) {
                            if (e.keyCode == 13) {
                                $(this).trigger("enterKey");

                                InsertarSilo();
                            }
                        });

                    }
                });

                $('#data1').focus();

            }
            else {
                $('#data1').focus();
            }

        };

        function EditarSilo(Codigo_Silo) {

            dataTableSilos.clear();
            dataTableSilos.rows.add(listadoSilos);
            dataTableSilos.draw();

            $('#SilosTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 0) {

                    if ($(this).html() == Codigo_Silo) {

                        $(this).parent('tr').find('td').each(function () {

                            if ($(this).index() == 1) {

                                var Codigo = $(this).html();

                                $(this).html("");

                                $(this).prepend('<input id="nuevoNombre" style="text-transform:capitalize; width:100%"/>');

                                $('#nuevoNombre').val(Codigo);

                                $('#nuevoNombre').focus();
                            }

                            if ($(this).index() == 2) {

                                var Ecomilk = $(this).html();

                                $(this).html("");

                                $(this).prepend('<input id="nuevoEcomilk" style="width:100%"/>');

                                $('#nuevoEcomilk').val(Ecomilk);
                            }

                            if ($(this).index() == 3) {
                                $(this).html("");

                                $(this).prepend(
                                    "<a class='btn btn-success btn-xs' onclick=confirmarEdicion(" + Codigo_Silo + ")>" +
                                        "<span class='glyphicon glyphicon-ok'></span>" +
                                    "</a>" +
                                    "<a class='btn btn-danger btn-xs' onclick=CargarSilos()>" +
                                        "<span class='glyphicon glyphicon-remove'></span>" +
                                    "</a>"

                                    );
                            }
                        });
                    }
                }
            });

            $('#nuevoEcomilk').numeric(",");

            $("#nuevoNombre").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");

                    $("#nuevoEcomilk").focus();
                }
            });

            $("#nuevoEcomilk").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");

                    confirmarEdicion(Codigo_Silo);
                }
            });

        };

        function confirmarEdicion(Codigo) {
            $.ajax({
                type: "POST",
                url: "/Silos/AddOrEdit/",
                data: {
                    Codigo_Silo: Codigo,
                    Codigo_Interno_Silo: 1,
                    Nombre: $('#nuevoNombre').val(),
                    Ecomilk: $('#nuevoEcomilk').val()
                },
                success: function (data) {
                    if (data.success) {
                        CargarSilos();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        };

        function DeleteSilo() {
            $.ajax({
                type: "POST",
                url: "/Silos/Delete/",
                data: { Codigo_Silo: Codigo_Silo_Actual },
                success: function (data) {
                    if (data.success) {
                        $('#modalDeleteSilo').modal('hide');
                        CargarSilos();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

        function InsertarSilo() {
            var Codigo_Silo = $('#data1').val();
            var Nombre = $('#data2').val();
            var Ecomilk = $('#data3').val();

            $.ajax({
                    url: "/Silos/AddOrEdit/",
                    method: "POST",
                    data: {
                        Codigo_Silo: Codigo_Silo,
                        Nombre: Nombre,
                        Ecomilk: Ecomilk
                    },
                    success: function (data) {
                        if (data.success) {

                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                            CargarSilos();

                            AgregarSilo();
                        }
                        else {

                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });

                            $('#data1').focus();
                        }
                    }
                });
            
        };

        /* METODO PARA AGREGAR UN REGISTRO*/

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
            return false;
        }

        function refrescarSilos() {
            CargarSilos();

        };

    </script>
</div>

<div class="modal-footer modalCreate">
    <button type="button" class="btn btn-primary" id="ConfirmarSilo">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>




