﻿@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;

    Entities db = new Entities();

    <script src="~/Scripts/CorrectorDecimales.js"></script>

}

<div class="modal-header modalCreate col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Tinas</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body modalCreate" id="BodyTinas">
    <table id="TinasTabla" class="display compact" style="width:100%"></table>

    <script>

        var dataTableTinas = [];
        var listadoTinas = [];

        var Codigo_Tina_Actual = 0;
        var Codigo_Fabrica_Actual = 0;

        function CargarTinasLayout() {
            $.ajax({
                type: "GET",
                url: "/Tinas/GetData/",
                dataType: "json",
                success: function (data) {
                    if (data.success) {

                        listadoTinas = data.data;

                        dataTableTinas = $("#TinasTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            data: listadoTinas,
                            "columns": [
                                {
                                    "data": "Codigo_Fabrica",
                                    "title": "Código Fabrica",
                                    "width": "13%"
                                },
                                {
                                    "data": "CodigoTina",
                                    "title": "Código Tina",
                                    "width": "15%"
                                },
                                {
                                    "data": "LitrosTina",
                                    "title": "Capacidad Litros",
                                    "render": function (data) {
                                        let val = parseFloat(data);
                                        if (!isNaN(val))
                                            return val
                                        else
                                            return "0";
                                    }
                                },
                                {
                                    "data": "CodigoTina",
                                    "width": "10%",
                                    "title": "Herramientas",
                                    "render": function (data, type, row) {
                                        let fabrica = row['Codigo_Fabrica'];
                                        return " <a class='btn btn-default btn-xs' onclick='EditarTina(" + data + ", " + fabrica + ");'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                            "<a class='btn btn-danger btn-xs'onclick='Codigo_Tina_Actual=" + data + "; Codigo_Fabrica_Actual=" + fabrica + "' data-toggle='modal' data-target='#modalDeleteTina'><span class='glyphicon glyphicon-trash'></span></a>";
                                    },
                                }

                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                { className: "text-center", "targets": [0, 1, 3] },
                                { className: "text-right", "targets": 2 }
                            ],
                            dom: 'Bfrtip',
                            buttons: [
                               {
                                   text: '<span class="glyphicon glyphicon-plus">',
                                   className: 'nuevo',
                                   action: function () {
                                       AgregarTina();
                                   }
                               }
                            ],
                            "order": [[1, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            }

                        });
                    }
                }
            });
        };

        function AgregarTina() {

            var filaAgregada = false;

            $('#TinasTabla').find('#insert').each(function () {
                filaAgregada = true;
            });

            if (filaAgregada == false) {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/

                var html = '<tr>';
                html += '<td class="input-group"><input name="Codigo_Fabrica" id="data0" placeholder="Código Fabrica" style="text-align:right" class="form-control col-md-12 text-box single-line"></input><span style="cursor: pointer;" class="input-group-addon" onclick="AbrirModalFabricas(\'data0\')"><a href="#"><span class="glyphicon glyphicon-search"></span></a></span></td>';
                html += '<td><input id="data1" placeholder="Código Tina" style="text-align:right" class="col-md-12 text-box single-line"></input></td>';
                html += '<td><input id="data2" placeholder="Litros" style="text-align: right!important;" class="col-md-12 text-box single-line text-right"></input></td>';
                html += '<td class="text-center"><button type="button" name="insert" onclick="InsertarTina()" id="insert" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>' +
                    '<button type="button" name="cancel" id="cancel" onclick="CargarTinasLayout()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';

                $('#TinasTabla tbody').prepend(html);

                $("#data0").keyup(function (e) {
                    if (e.keyCode == 13) {
                        if (!$(this).val().trim())
                            AbrirModalFabricas('data0');

                        else {
                            $(this).trigger("enterKey");
                            $("#data1").focus();
                        }
                    }
                });

                $("#data1").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $(this).trigger("enterKey");

                        $("#data2").focus();
                    }
                });

                $("#data2").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $(this).trigger("enterKey");

                        InsertarTina();
                    }
                });

                $('#data0').focus();

            }
            else {
                $('#data0').focus();
            }
        };

        function refrescarTinas() { CargarTinasLayout() };

        function EditarTina(Codigo_Tina, Codigo_Fabrica) {

            dataTableTinas.clear();
            dataTableTinas.rows.add(listadoTinas);
            dataTableTinas.draw();

            let fabrica = -1;

            $('#TinasTabla').find('tr').find('td').each(function () {

                if ($(this).index() == 0)
                    fabrica = parseInt($(this).text().trim());

                if ($(this).index() == 1) {

                    if ($(this).html() == Codigo_Tina && Codigo_Fabrica == fabrica) {

                        $(this).parent('tr').find('td').each(function () {

                            if ($(this).index() == 2) {

                                var Litros = $(this).html();

                                $(this).html("");

                                $(this).prepend('<input id="nuevosLitros" class="text-right" style="width:100%; text-align: right;"/>');

                                $('#nuevosLitros').val(Litros);
                            }

                            if ($(this).index() == 3) {
                                $(this).html("");

                                $(this).prepend(
                                    "<a class='btn btn-success btn-xs' onclick='confirmarEdicion(" + Codigo_Tina + ", " + Codigo_Fabrica + ");'>" +
                                        "<span class='glyphicon glyphicon-ok'></span>" +
                                    "</a>" +
                                    "<a class='btn btn-danger btn-xs' onclick=refrescarTinas()>" +
                                        "<span class='glyphicon glyphicon-remove'></span>" +
                                    "</a>"

                                 );
                            }
                        });
                    }
                }
            });

            $('#nuevosLitros').numeric(",");

            $("#nuevosLitros").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");

                    confirmarEdicion(Codigo_Tina, Codigo_Fabrica);
                }
            });
        };

        function confirmarEdicion(Codigo_Tina, Codigo_Fabrica) {
            let NuevosLitros = $("#nuevosLitros").val()

            $.ajax({
                type: "POST",
                url: "/Tinas/AddOrEdit/",
                data: {
                    Codigo_Fabrica: Codigo_Fabrica,
                    CodigoTina: Codigo_Tina,
                    LitrosTina: NuevosLitros
                },
                success: function (data) {
                    if (data.success) {
                        CargarTinasLayout();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        };

        function DeleteTina() {
            $.ajax({
                type: "POST",
                url: "/Tinas/Delete/",
                data: { CodigoTina: Codigo_Tina_Actual, Codigo_Fabrica: Codigo_Fabrica_Actual },
                success: function (data) {
                    if (data.success) {
                        $('#modalDeleteTina').modal('hide');
                        CargarTinasLayout();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

        function InsertarTina() {
            let Codigo_Fabrica = $("#data0").val();
            let CodigoTina = $("#data1").val();
            let LitrosTina = $("#data2").val();

            $.ajax({
                url: "/Tinas/AddOrEdit/",
                    method: "POST",
                data: {
                        Codigo_Fabrica: Codigo_Fabrica,
                        CodigoTina: CodigoTina,
                        LitrosTina: LitrosTina
                    },
                    success: function (data) {
                        if (data.success) {

                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                            CargarTinasLayout();

                            AgregarTina();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                            AbrirModalFabricas('data0');
                            $('#data0').focus();
                        }
                    }
                });
            
        };
    </script>
</div>

<div class="modal-footer modalCreate">
    <button type="button" class="btn btn-primary" id="ConfirmarTina">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>




