﻿@model AccesoDatos.Contexto.Produccion.Usuarios

@{
    Layout = null;
}

<div class="modal-header modalCreate col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Administrar Rol</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body modalCreate">
    @using (Html.BeginForm("AdministrarRol", "Usuarios", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formRoles" }))
    {
        <div style="display:none">
            @Html.EditorFor(model => model.idUsuario, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="col-md-12 caja-sector-modal caja-contenedora">
            <div class="col-md-12 form-medio">
                <div class="col-md-2 form-medio">
                    @Html.LabelFor(model => model.Rol, "Rol:", new { @class = "control-label" })
                </div>
                <div class="col-md-10 form-medio">
                    @Html.DropDownListFor(model => model.Rol, ViewBag.Listado_Roles as IEnumerable<SelectListItem>, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-12 caja-sector-modal caja-contenedora">
            <div class="col-md-12 form-medio">
                <div class="col-md-10 form-medio">
                    @Html.LabelFor(model => model.Muestra_Costos, "Muestra Costos:", new { @class = "control-label" })
                </div>
                <div class="col-md-2 form-medio">
                    <input id="Muestra_Costos" name="Muestra_Costos" type="checkbox" value="true">
                </div>
            </div>
        </div>

        <script>
            function AdministrarRol(Formulario) {
                $.validator.unobtrusive.parse(Formulario);

                if ($(Formulario).valid()) {

                    $('.ConfirmarRol').attr('disabled', true);

                    $.ajax({
                        type: "POST",
                        url: "/Usuarios/AdministrarRol",
                        data: $(Formulario).serialize(),
                        success: function (data) {
                            if (data.success) {
                                notif({
                                    msg: data.message,
                                    type: "success",
                                    position: "center"
                                });

                                $('#modalAdministrarRol').modal('hide');

                                CargarUsuarios();

                            }
                            else {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                            }
                        },
                        complete: function (data) {
                            $('.ConfirmarRol').attr('disabled', false);
                        }
                    });

                    return false;
                }
            }
        </script>
    }
</div>

<div class="modal-footer modalCreate">
    <button type="button" class="btn btn-success ConfirmarRol" id="ConfirmarRol">Confirmar cambios</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
<script>
    function click() {
        @if (ViewBag.Muestra_Costos == true)
        {
            <Text> 
        $("#Muestra_Costos").attr('checked', true);
            </Text>
        }
    }
    click();
</script>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}



