﻿@model MVC_Produccion.ViewModels.LocalViewModels.CambioContraseñaViewModel
@{
    Layout = null;
}

<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Administrar Cuenta</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Html.BeginForm("AdministrarCuenta", "Usuarios", FormMethod.Post, new { id = "FormAdministrar" }))
{
    <div class="modal-body">

            @Html.AntiForgeryToken()
            <div class="col-md-12 caja-contenedora">
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="form-group" style="display:none">
                            <div class="col-md-4 form-medio">
                                @Html.LabelFor(model => model.idUsuario, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.idUsuario, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.idUsuario, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Password, "Contraseña Nueva:", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "PasswordCambiarContraseña" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.ConfirmPassword, "Confirmar Contraseña:", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @id = "ConfirmarAdministrar" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function Administrar(Formulario) {
                //VALIDADOR DEL FORMULARIO

                $.validator.unobtrusive.parse(Formulario);

                if ($(Formulario).valid()) {

                    $.ajax({
                        type: "POST",
                        url: "/Usuarios/AdministrarCuenta/",
                        data: $(Formulario).serialize(),
                        success: function (data) {
                            if (!data.success) {

                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });

                            } else {

                                $('#modalAdministrar').modal('hide');

                                notif({
                                    msg: data.message,
                                    type: "success",
                                    position: "center"
                                });

                            }
                        }
                    });
                }

                return false;
            }
            </script>

    </div>

    <div class="modal-footer">
        <button class="btn btn-success" type="button" onclick="Administrar($('#FormAdministrar'))">Confirmar Cambios</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>

}



