﻿@model MVC_Produccion.ViewModels.LocalViewModels.AdministrarFabricasModel
@{
    Layout = null;

}

<div class="modal-header modalCreate">
    <h4 class="modal-title" id="exampleModalLabel">Administrar Fábricas</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body modalCreate">
    <!--TABLA FABRICAS -->
    <div class="row">
        <div class="col-md-12">
            <table id="FabricasUsuarioTabla" class="display compact" style="width:100%"></table>
        </div>
    </div>

    @using (Html.BeginForm("Administrar_Fabricas", "Usuarios", FormMethod.Post, new { role="form", id="formAdministrarFabricas" }))
    {
        @Html.EditorFor(model => model.idUsuario, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })

        <div class="col-md-12 flexible2">
            <div class="col-md-12 caja-contenedora caja-sector-modal">
                <div class="col-md-7 form-medio">
                    <div class="col-md-3 form-medio">
                        @Html.Label("Fábrica:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-8 form-medio flexible2">
                        <div class="col-md-12 form-medio">
                            @Html.DropDownListFor(model => model.Fabrica, new SelectList(ViewBag.Fabricas, "Codigo_Fabrica", "Descripcion"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize" })
                        </div>
                        <div class="col-md-12 form-medio">
                            @Html.ValidationMessageFor(model => model.Fabrica)
                        </div>                   
                    </div>
                </div>
                <div class="col-md-3 form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.Label("Todas:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-4 form-medio">
                       @Html.CheckBox("Todas", new { style = "margin:0px !important", onclick="VerificarCheck()"})
                    </div>
                </div>
            </div>
        </div>

    }

    <script>

        function VerificarCheck() {
            if ($('#Todas').is(":checked")) {
                $('#Fabrica').attr("disabled", true);

                $('.field-validation-error').css("display", "none");
            }
            else {
                $('#Fabrica').attr("disabled", false);

                $('.field-validation-error').css("display", "block");
            }
        }

        function SubmitAdministrarFabricas(Formulario) {
            $.validator.unobtrusive.parse(Formulario);

            if ($(Formulario).valid()) {

                $.ajax({
                    type: "POST",
                    url: "/Usuarios/Administrar_Fabricas",
                    data: $(Formulario).serialize(),
                    success: function (data) {
                        if (data.success) {
                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                            $('#modalFabricasUsuario').modal('hide');

                            CargarUsuarios();

                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }

                });

                return false;
            }
        }

    </script>
</div>
<div class="modal-footer modalCreate">
    <button type="button" class="btn btn-primary" id="ConfirmarFabricas">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
