﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Usuarios : Listado";

    Entities db = new Entities();
}

<div class="row" style="display:flex; justify-content:center">
    <div class="col-md-6">
        <h2>Usuarios</h2>
        <table id="UsuariosTabla" class="display compact" style="width:100%"></table>
    </div>
</div>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:30%">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="DeleteUsuario()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Permisos-->
<div class="modal fade" id="modalPermisos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:85%">
        <div class="modal-content" id="ModalPermisos"></div>
    </div>
</div>

<!-- Modal Fabricas Usuario-->
<div class="modal fade" id="modalFabricasUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:40%">
        <div class="modal-content" id="ModalFabricasUsuario"></div>
    </div>
</div>

<!-- Modal Roles-->
<div class="modal fade" id="modalAdministrarRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:20%">
        <div class="modal-content" id="ModalAdministrarRol"></div>
    </div>
</div>

<input id="codigo_usuario" hidden />

@section scripts{
    <script>
        function EditarPermisos(idUsuario) {
            var x = $.ajax({
                type: "GET",
                url: "/Permisos/AddOrEditV2/",
                data: {
                    id: idUsuario
                },
                success: function (data) {
                    $('#ModalPermisos').html(data);
                    $('#modalPermisos').modal('toggle');
                    $('#ConfirmarPermisos').click(function () {
                        ConfirmarPermisos($('#formPermisos'));
                    });
                }
            });
        }
        function Administrar_Fabricas(idUsuario) {
            var x = $.ajax({
                type: "GET",
                url: "/Usuarios/Administrar_Fabricas/",
                data: { idUsuario: idUsuario },
                success: function (data) {
                    $('#ModalFabricasUsuario').html(data);
                    $('#modalFabricasUsuario').modal('toggle');
                    VerificarCheck();
                    $('#ConfirmarFabricas').click(function () {
                        SubmitAdministrarFabricas($('#formAdministrarFabricas'));
                    });

                }
            });
        }
        function AbrirModalAdministrarRol(idUsuario) {
            var x = $.ajax({
                type: "GET",
                url: "/Usuarios/AdministrarRol/",
                data: { idUsuario: idUsuario },
                success: function (data) {
                    $('#ModalAdministrarRol').html(data);
                    $('#modalAdministrarRol').modal('toggle');
                    $('#ConfirmarRol').click(function () {
                        AdministrarRol($('#formRoles'));
                    });
                }
            });
        }
        function modificarInput(id) {
            $("#codigo_usuario").val(id);
        }
        function CargarUsuarios() {
            $.ajax({
                type: "GET",
                url: "/Usuarios/GetData/",
                data: { idUsuario: 0 },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoUsuarios = data.data;
                        dataTableUsuarios = $("#UsuariosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            data: listadoUsuarios,
                            "columns": [
                                {
                                    "data": "idUsuario",
                                    "title": "Código",
                                    "width": "15%"
                                },
                                {
                                    "data": "Usuario",
                                    "title": "Usuario"
                                },
                                {
                                    "data": "Contraseña",
                                    "title": "Contraseña"
                                },
                                {
                                    "data": "idUsuario",
                                    "width": "10%",
                                    "title": "Herramientas",
                                    "render": function (data) {
                                        var Rol = "";
                                        for (var i in listadoUsuarios) {
                                            if (listadoUsuarios[i].idUsuario == data) {
                                                Rol = listadoUsuarios[i].Rol;
                                            }
                                        }
                                        if (Rol.toLowerCase() == 'administrador') {
                                            return "<div style='display:flex; justify-content:space-between'>" +
                                                "<a class='btn btn-info btn-sm' onclick=AbrirModalAdministrarRol(" + data + ")> Rol <span class='glyphicon glyphicon-eye-open'></span></a>" +
                                                "<a class='btn btn-danger btn-sm'onclick=modificarInput('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a></div>";
                                        }
                                        else {
                                            return "<div style='display:flex; justify-content:center'>" +
                                                "<a class='btn btn-info btn-sm' onclick=AbrirModalAdministrarRol(" + data + ")> Rol <span class='glyphicon glyphicon-eye-open'></span></a>" +
                                                "<a class='btn btn-default btn-sm' onclick=EditarPermisos('" + data + "')> Permisos <span class='glyphicon glyphicon-link'></span></a>" +
                                                "<a class='btn btn-primary btn-sm' onclick=Administrar_Fabricas('" + data + "')> Fábricas <span class='glyphicon glyphicon-home'></span></a>" +
                                                "<a class='btn btn-danger btn-sm'onclick=modificarInput('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a></div>";
                                        }
                                    },
                                }
                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                { className: "text-center", "targets": [0, 3] },
                            ],
                            "order": [[1, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            }

                        });
                    }
                }
            });
        };

        function DeleteUsuario() {
            $.ajax({
                type: "GET",
                url: "/Usuarios/Delete/",
                data: { idUsuario: $("#codigo_usuario").val() },
                success: function (data) {
                    notif({
                        msg: "Se elimino correctamente",
                        type: "success",
                        position: "center"
                    });
                    console.log(data.message);
                    CargarUsuarios();
                },
                error: function (e) {
                    notif({
                        msg: e.message,
                        type: "error",
                        position: "center"
                    });

                }
            });
        }

        $(document).ready(function () {
            CargarUsuarios();
        });
    </script>
}