﻿@model AccesoDatos.Contexto.Produccion.MovimientosBandejas
@{
    Layout = null;
}
<div class="modal-body modalCreate" style="padding: 0px">
    @using (Html.BeginForm("AddOrEdit", "Bandejas", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formAddOrEdit", autocomplete = "off" }))
    {
        @Html.HiddenFor(model => model.Historico)
        @Html.HiddenFor(model => model.CodigoMovimiento)
        @Html.HiddenFor(model => model.Codigo_Interno_Expedicion)

    <div class="col-md-12 caja-contenedora flexible2">
        <div class="col-md-12 caja-sector-modal">
            <div class="col-md-3">
                <div class="col-md-3" style="padding-right:10px!important;">
                    @Html.Label("Fecha:", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "text-align:right;display:inline-block;" } })
                </div>
            </div>
            <div class="col-md-4 form-medio">
                <div class="col-md-8">
                    @Html.Label("Sucursal Origen:", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-4 input-group">
                    @Html.EditorFor(model => model.Origen, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                    <span class="input-group-addon" style="max-height:25px;padding:3px 12px;"><a href="#" onclick="AbrirModalSucursales('Origen')" id="Lupa_Origen"><span class="glyphicon glyphicon-search"></span></a></span>
                </div>
            </div>
            <div class="col-md-4 form-medio">
                <div class="col-md-9">
                    @Html.Label("Sucursal Destino:", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-3 input-group">
                    @Html.EditorFor(model => model.Destino, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                    <span class="input-group-addon" style="max-height:25px;padding:3px 12px;"><a href="#" onclick="AbrirModalSucursales('Destino')"><span class="glyphicon glyphicon-search"></span></a></span>
                </div>
            </div>

        </div>
        <div class="col-md-12 caja-sector-modal">
            <div class="col-md-3 form-medio">
                <div class="col-md-4 form-medio">
                    @Html.LabelFor(model => model.Prefijo, "Prefijo", new { @class = "control-label" })
                </div>
                <div class="col-md-6 form-medio">
                    @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                    @Html.ValidationMessageFor(model => model.Prefijo)
                </div>
            </div>
            <div class="col-md-5 form-medio">
                <div class="col-md-7 form-medio">
                    @Html.LabelFor(model => model.NroComprobante, "Número de Comprobante", new { @class = "control-label" })
                </div>
                <div class="col-md-4 form-medio">
                    @Html.EditorFor(model => model.NroComprobante, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                    @Html.ValidationMessageFor(model => model.NroComprobante)
                </div>
            </div>
        </div>
        <div class="col-md-12 caja-contenedora">
            @{Html.RenderAction("TablaBandejas", "Bandejas", new { parametroPost = "Detalles", codigoMovimiento = Model.CodigoMovimiento });}
        </div>
    </div>
 
        <div class="modal-footer modalCreate">
            <button type="button" onclick="EnviarFormulario($('#formAddOrEdit'))" class="btn btn-primary">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
    }
</div>

<script>
    if ($('#Origen').val() == 0)
        $('#Origen').val("");

    $('#Fecha').datepicker();
    
    $(document).on("keypress", 'form', function (e) {
        var code = e.keyCode || e.which;
        if (code == 13) {
            e.preventDefault();
            return false;
        }
    });
    function EnviarFormulario(form) {
        $.ajax({
            type: "POST",
            url: "/Bandejas/AddOrEdit/",
            data: $(form).serialize(),
            success: function (data) {
                if (data.success) {
                    notif({
                        msg: data.mensaje,
                        type: "success",
                        position: "center"
                    });
                    $('#modalAddOrEdit').modal('hide');

                    dataTableBandejas.ajax.url('/Bandejas/ObtenerInformacion').load();
                }
                else
                    notif({
                        msg: data.mensaje,
                        type: "error",
                        position: "center"
                    });
            }
        });
    }

</script>