﻿
@{
    ViewBag.Title = "Index";
}
<div id="dropdownEstados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
</div>
<div class="col-sm-10" style="margin-left:auto;margin-right: auto;float: initial;">
    <h2>Insumos De Envio</h2>
    <table id="InicioBandejasTabla" class="display compact" style="width:100%"></table>

</div>
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:350px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="DeleteBandeja()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal AddOrEdit -->
<div class="modal fade" id="modalAddOrEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:65%">
        <div class="modal-content" id="ModalAddOrEdit"></div>
    </div>
</div>
<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="ActualizarMovimientosBandejas()" data-dismiss="modal" class="btn btn-success">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<input type="text" hidden id="codigo"/>
<script>
    var dataTableBandejas = null;
    function CargarMovimientosBandejas() {
        dataTableBandejas = $("#InicioBandejasTabla").DataTable({
            "destroy": true,
            "autoWidth": true,
            "ajax": {
                "url": "/Bandejas/ObtenerInformacion",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "CodigoMovimiento",
                    "title":"Codigo"
                },
                {
                    "data": "Fecha",
                    "title": "Fecha",
                    render: function (data) {
                        if (data != null) {
                            return moment(data).format('DD/MM/YYYY');
                        }
                        else {
                            return "";
                        }
                    }
                },
                {
                    "data": "Origen",
                    "title": "Origen",
                    render: function (data) {
                        return data
                    }
                },
                {
                    "data": "Destino",
                    "title": "Destino",
                    render: function (data) {
                        return data
                    }
                },
                {
                    "data": "CodigoMovimiento",
                    "title": "Herramientas",
                    "width": "10%",
                    "render": function (data) {
                        return "<a class='btn btn-default btn-sm'  onclick=AddOrEdit('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                            "<a class='btn btn-danger btn-sm' onclick=modificarInput('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                    },
                }

            ],
            "language": idiomaEspañol,
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '<span class="glyphicon glyphicon-plus">',
                    className: 'nuevo',
                    action: function () {
                        AddOrEdit(0);
                    }
                },
                {
                    text: 'Actualizar <span class="glyphicon glyphicon-refresh">',
                    className: 'primary btn_actualizar',
                    action: function () {
                        AbrirModalActualizar();
                    }
                },
                {
                    text: $('#dropdownEstados').html(),
                    className: 'botonDropdown'
                }
            ],
            "select": 'multiple',
            "columnDefs": [
                 { className: "text-right", "targets": [0,1,2] },
                 { className: "text-center", "targets": [3] }
             ],
            "order": [[0, "asc"]],
            initComplete: function (data) {
                $('div.dataTables_filter input').focus();
                $('#dropdownEstados').html("");

                $("#ListadoEstados").change(function () {
                    console.log("changed: ", $('option:selected', this).val());
                    estado = $('option:selected', this).val();
                    if (estado == "true") {
                        $("#aclaracion").show();
                        $(".btn_actualizar").hide();
                    }
                    else {
                        $(".btn_actualizar").show();
                        $("#aclaracion").hide();
                    }

                    dataTableBandejas.ajax.url('/Bandejas/ObtenerInformacion?Historicas=' + estado).load();
                });
            }

        });
    };
    function AddOrEdit(idMov) {
        $.ajax({
            type: "GET",
            url: "/Bandejas/AddOrEdit",
            data: { idMovimiento: idMov },
            success: function (data) {
                $('#ModalAddOrEdit').html(data);
                $('#modalAddOrEdit').modal('toggle');
            }
        });
    }
    function AbrirModalActualizar() {

        var bandera = false;

        $('#InicioBandejasTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 0) {

                bandera = true;
            }
        });

        if (bandera == false) {
            notif({
                msg: "Por favor seleccione un registro de la tabla.",
                type: "warning",
                position: "center"
            });

            return;
        }
        else {
            $('#modalVerificarActualizar').modal('toggle');
        }

    }

    function DeleteBandeja() {
        let codigo = $("#codigo").val();
        $.ajax({
            url: "/Bandejas/Delete",
            data: { id: codigo },
            success: function (data) {
                if (data.success) {
                    notif({
                        msg: "Se elimino Correctamente",
                        type: "success",
                        position: "center"
                    });
                    $('#modalDelete').modal('hide');
                    
                    dataTableBandejas.ajax.url('/Bandejas/ObtenerInformacion').load();
                }
                else
                    notif({
                        msg: data.mensaje,
                        type: "error",
                        position: "center"
                    });
            }
        });
    }

    function modificarInput(id) {
        $('#codigo').val(id);
    }
    $(document).ready(function () {
        CargarMovimientosBandejas();
    });

    function ActualizarMovimientosBandejas() {
        let codigos = [];
        $('#InicioBandejasTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 0) {
                codigos.push(parseInt($(this).html()));
            }
        });
        console.log(codigos);
        $.ajax({
            type:"POST",
            url: "/Bandejas/Actualizar",
            data: { codigos: codigos },
            success: function (data) {
                if (data.success) {
                    notif({
                        msg: "Se Actualizo Correctamente",
                        type: "success",
                        position: "center"
                    });
                    $('#modalVerificarActualizar').modal('hide');

                    dataTableBandejas.ajax.url('/Bandejas/ObtenerInformacion').load();
                }
                else
                    notif({
                        msg: data.mensaje,
                        type: "error",
                        position: "center"
                    });
            }
        });
    }
</script>