﻿@using AccesoDatos.Contexto.Produccion
@model List<DetallesMovimientosBandejas>
@{
    Layout = null;
}
<table id="TablaBandeja" class="display compact" style="width:100%">
    <thead>
        <tr>
            <th colspan="2" style="width:150px;">Insumos De Envio</th>
            <th style="width:100px;">Unidades</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!ViewBag.soloLectura)
        {
            <tr style="padding-top:5px;">
                <td style="width:10%;">
                    <div id="Div_Insumo">
                        <div class="input-group">
                            <input type="text" id="Codigo_Insumo" name="Codigo_Insumo" class="form-control" />
                            <span class="input-group-addon"><a href="#" onclick="AbrirModalInsumos()"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                    </div>
                </td>
                <td id="descripcion-insumo" style="width:50%;"></td>
                <td>
                    <input class="form-control text-box single-line" id="Unidades" type="number" placeholder="Unidades" style="text-align:right;padding:10px 10px !important;" />
                </td>
                <td style="text-align:right;">
                    <button type="button" class="btn btn-success btn-sm" onclick="ExisteInsumo(true);"><span class="glyphicon glyphicon-ok"></span></button>
                </td>
            </tr>
        }
        @{ foreach (var item in Model)
            {
        <tr class="tr-bandeja">
            <td id="td-codigo-insumo">@item.Codigo_Insumo<input hidden id="input-codigo-insumo" value="@item.Codigo_Insumo"></td>
            <td id="td-desc-insumo">@item.Insumo.Descripcion</td>
            <td id="td-unidades" style="padding:5px 10px !important;text-align:right;">@item.Unidades<input hidden id="input-unidades" value="@item.Unidades"></td>
            @if (!ViewBag.soloLectura)
            {
                <td style="text-align:right;"><a class="btn btn-danger btn-sm" onclick="BorrarBandeja($(this));"><span class="glyphicon glyphicon-trash"></span></a></td>
            }
        </tr>
            }
        }
    </tbody>
</table>
<script>
    $("#Codigo_Insumo").change(function () {
        ExisteInsumo(false);
    });

    ActualizarName();
    function ExisteInsumo(agregar) {
        let codigo = $("#Codigo_Insumo").val();
        if (!codigo) {
            return
        }
        $.ajax({
            type: "GET",
            url: "/Insumos/GetOne/",
            data: {
                Codigo_Insumo: codigo
            },
            success: function (data) {
                if (data.success) {
                    let insumo = data.data[0];
                    $("#descripcion-insumo").html(insumo.Descripcion);
                    if (agregar) {
                        AgregarBandeja();
                    }
                    return
                }
                else {
                    notif({
                        msg: "No existe el insumo",
                        type: "error",
                        position: "center"
                    });
                    $("#Codigo_Insumo").focus();
                    return true;
                }
            }
        });
    }

    function AgregarBandeja() {
        if ($('#Unidades').val() <= 0) {
            alert("Las unidades deben ser Mayor a 0");
            return
        }

        let fila = '';
        fila = '<tr class="tr-bandeja">';
        fila += '<td id="td-codigo-insumo">' + $("#Codigo_Insumo").val() + '<input hidden id="input-codigo-insumo" value=' + $("#Codigo_Insumo").val() + '></td>';
        fila += '<td id="td-desc-insumo">' + $("#descripcion-insumo").html() + '</td>';
        fila += '<td id="td-unidades" style="padding:5px 10px !important;text-align:right;">' + $('#Unidades').val() + '<input hidden id="input-unidades" value=' + $('#Unidades').val()+'></td>';
        fila += '<td style="text-align:right;"><a class="btn btn-danger btn-sm" onclick ="BorrarBandeja($(this));"><span class="glyphicon glyphicon-trash"></span></a></td>';
        fila += '</tr>';
        $('#TablaBandeja tbody').append(fila);
        $('#Unidades').val("");
        $("#Codigo_Insumo").val("");
        $("#descripcion-insumo").html("");
        ActualizarName();
        $("#Codigo_Insumo").focus();

    }

    function BorrarBandeja(td) {
        $(td).parent().parent().remove();
        ActualizarName();

    }

    function ActualizarName() {
        let nombre = '@ViewBag.parametroPost';
        $("#TablaBandeja tbody .tr-bandeja").each(function (i, item) {
            $(this).find("#input-codigo-insumo")[0].setAttribute("name", `${nombre}[${i}].Codigo_Insumo`);
            $(this).find("#input-unidades")[0].setAttribute("name", `${nombre}[${i}].Unidades`);
        });
    }

</script>
