﻿@model Ajustes_Insumos
@using AccesoDatos.Contexto.Produccion
@{
    Layout = null;
}

<div class="modal-header col-md-12 modalCreate" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Nuevo Ajuste</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-footer modalCreate">
    <a id="btnConfirmarSuperior" class="btn btn-primary" onclick="ConfirmarAjuste($('#formAddOrEdit'))">Confirmar</a>
    <a class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
</div>
<div class="modal-body modalCreate" style="padding: 0px">
    @using (Html.BeginForm("AddOrEdit", "AjustesInsumos", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formAddOrEdit", autocomplete = "off" }))
    {
        @Html.HiddenFor(model => model.Historico)
        @Html.EditorFor(model => model.Codigo_Interno_Ajuste, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
        <div class="col-md-12 caja-contenedora flexible2">
            <div class="col-md-12 caja-sector-modal">
                <div class="col-3" style="padding-right:10px!important;">
                    @Html.Label("Fecha:", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right;display:inline-block;", @minlength = 6 } })
                </div>
                <div class="col-3" style="padding-right:10px!important;">
                    @Html.Label("Tipo Movimiento:", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.Tipo_Movimiento, ViewBag.TiposMovimiento as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "display:inline-block;width:150px;" })
                </div>
                <div class="col-1" style="padding-right:10px!important;">
                    @Html.Label("Prefijo:", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control", @style = "display:inline-block;width:60px;", @min = "1" } })
                </div>
                <div class="col-2" style="padding-right:10px!important;">
                    @Html.Label("Nro Comprob:", htmlAttributes: new { @class = "control-label", })
                    @Html.EditorFor(model => model.Numero_Comprobante, new { htmlAttributes = new { @class = "form-control", @style = "display:inline-block;width:120px;", @autocomplete = "off", title = "Máximo 8 caracteres" } })
                </div>
                <div class="col-3 form-medio" style="padding-right:10px!important;">
                    @Html.Label("Fabrica: ", "Fábrica: ", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        @Html.EditorFor(model => model.Fabrica, new { htmlAttributes = new { @class = "form-control", @style = "width: 100px;", @type = "number", @min = "1" } })
                        <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas('Fabrica')"><span class="glyphicon glyphicon-search"></span></a></span>
                    </div>
                    <p style="text-transform: capitalize; margin: 0px 0px 0px 15px" id="fabrica-descripcion"></p>
                    @Html.ValidationMessageFor(m => m.Fabrica, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="col-md-12 caja-sector-modal">
                <div class="col-md-6 form-medio">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Codigo_Proveedor, "Proveedor: ", new { @class = "control-label" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.Codigo_Proveedor, new { htmlAttributes = new { @class = "form-control", @style = "text-transform: capitalize;width: 60px;", @type = "number", oninput = "SoloNumeros($(this))", @min = "1" } })
                            <span class="input-group-addon"><a href="#" onclick="AbrirModalProveedores()"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Codigo_Proveedor)
                    </div>
                    <div class="col-md-10" style="display:flex; margin-left: 50px; overflow: hidden;">
                        <p style="margin: 0px !important; white-space: nowrap; text-overflow: ellipsis; margin: 0px !important; overflow: hidden;" id="Descripcion_Proveedor"></p>
                    </div>
                </div>
                <div class="col-md-2 form-medio">
                    <div class="col-md-5 form-medio">
                        @Html.Label("Descuento:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Descuento, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", oninput = "SoloNumeros($(this))" } })
                    </div>
                </div>
                <div class="col-md-5 form-medio">
                    <div class="col-md-2 form-medio">
                        @Html.Label("Comentario:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })
                    </div>
                </div>
            </div>

            <div class="col-md-12 caja-contenedora">
                <table id="DetallesAjusteTabla" class="display compact" style="width:100%"></table>
            </div>

            <div id="DetalleAjustes" style="display:none"></div>
        </div>
    }
</div>
<div class="modal-footer modalCreate">
    <a id="btnConfirmarInferior" class="btn btn-primary" onclick="ConfirmarAjuste($('#formAddOrEdit'))">Confirmar</a>
    <a class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
</div>



<script>
    ['#Codigo_Linea', '#Codigo_Rubro', '#tb-prove-habitual', '#tb-prove-alternativo', '#tb-prove-ultimo', '#Codigo_Impuesto_Interno'].forEach(id => {
        if ($(id).val() == 0) $(id).val("");
    });
    var salidaProdVentasTabla = false;
    var tablaNecesitaRecarga = false;
    $("#Tipo_Movimiento").on("change", function () {
        if ($("#Tipo_Movimiento").val() == "Salida Producto De Ventas" && !salidaProdVentasTabla) {
            tablaNecesitaRecarga = true;
            RefrescarDetalles();
            tablaNecesitaRecarga = false;

            salidaProdVentasTabla = true;
        } else if ($("#Tipo_Movimiento").val() != "Salida Producto De Ventas" && salidaProdVentasTabla) {
            tablaNecesitaRecarga = true;
            RefrescarDetalles();
            tablaNecesitaRecarga = false;
            salidaProdVentasTabla = false;
        }
    });    

    function ConfirmarInsumo() {
        if ($("#modalInsumos").is(":visible")) {
            $('#Codigo_Insumo').val($('#InsumosLayoutTabla tr.selected td:first-child').html());
        }
        $.ajax({
            type: "GET",
            url: "/Insumos/GetOne/",
            data: { Codigo_Insumo: $('#Codigo_Insumo').val() },
            dataType: "json",
            success: function (data, row) {
                if (data.success) {
                    let Insumo = data.data[0];
                    if (Insumo != null) {
                        $("#descripcion-insumo").text(pad(Insumo.Descripcion, 4)); //Descripción insumo (label)
                        $('#dataFechaVencimiento').html('<input id="Fecha_Vencimiento" class="col-md-12 text-box single-line" style="text-align:center; width:100px">');
                        $('#Fecha_Vencimiento').datepicker();
                        $("#Fecha_Vencimiento").datepicker().datepicker('setDate', new Date());
                        $('#dataLote').html('<input id="lote" placeholder="Lote" class="text-box single-line" style="text-align:right; width:125px" autocomplete="off">');

                        if (Insumo.Masa) {
                            $('#dataPh').html('<input id="nuevoPh" placeholder="Ph" class="text-box single-line" style="text-align:right; width:100px" autocomplete="off">');
                            $('#dataHumedad').html('<input id="nuevaHumedad" placeholder="Humedad" class="text-box single-line" style="text-align:right; width:100px" autocomplete="off">');
                            $('#dataKilos').prop("required", true);
                        }
                        //Estos data deben borrarse ya que al cambiar de unidad de medida la tabla debe ajustarse a eso
                        $('#dataCantidad').html("");
                        $('#dataKilos').html("");
                        if ((Insumo.Unidad_Medida == 'U' || Insumo.Unidad_Medida == 'A') && !Insumo.Masa) {
                            $('#dataCantidad').append('<input id="nuevaCantidadDetalle" placeholder="Cantidad" class="text-box single-line" style="text-align:right; width:100px" autocomplete="off">');
                        }
                        if (Insumo.Unidad_Medida == 'K' || Insumo.Unidad_Medida == 'L' || Insumo.Unidad_Medida == 'A') {
                            $('#dataKilos').append('<input id="nuevosKilosDetalle" placeholder="Kilos" class="text-box single-line" style="text-align:right; width:100px" autocomplete="off">');
                        }

                        if (muestraCostos) {
                            $('#dataPrecioCompra').html('<input id="nuevoPrecioCompra" class="text-box single-line" style="text-align:right; width:100px" autocomplete="off">'); //Precio Compra
                            $('#nuevoPrecioCompra').val(Insumo.Precio_Ultima_Compra);
                        }

                        $("#Fecha_Vencimiento").focus();
                    }
                    else {
                        notif({
                            msg: "Error, no existe registro con el Código ingresado.",
                            type: "error",
                            position: "center"
                        });
                        $('#tb-insumo').focus();
                    }
                }
                $("#lote").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $("#nuevosKilosDetalle").focus();
                        $("#nuevaCantidadDetalle").focus();
                    }
                });
                $("#nuevaCantidadDetalle").keyup(function (e) {
                    if (e.keyCode == 13) {
                        if ($("#nuevosKilosDetalle").length)
                            $("#nuevosKilosDetalle").focus();
                        else
                            $("#nuevoPrecioCompra").focus();
                    }
                });
                $("#nuevosKilosDetalle").keyup(function (e) {
                    if (e.keyCode == 13) {
                        if (muestraCostos == true) {
                            $("#nuevoPrecioCompra").focus();
                        } else {
                            InsertarDetalle();
                        }
                    }
                });

                if (muestraCostos == true) {
                    $("#nuevoPrecioCompra").keyup(function (e) {
                        if (e.keyCode == 13) {
                            InsertarDetalle()
                        }
                    });
                }

                $('input').focus(function () { $(this).select() });
            }
        });
        $('#modalInsumos').modal('hide');
    }


    var listadoDetallesAjuste = [];

    function Obtener_Fabrica() {
        $.ajax({
            type: "POST",
            url: "/Fabricas/GetData/",
            data: { Codigo_Fabrica: $('#Fabrica').val() },
            success: function (data) {
                if (data.success) {
                    var Fabrica = data.data[0];

                    if (Fabrica != null) {
                        $("#fabrica-descripcion").html(Fabrica.Descripcion);
                    }
                }
                else {
                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center"
                    });

                    $('#Fabrica').focus();

                }
            }
        });
    }

    function ConfirmarAjuste(Formulario) {
        //VALIDADOR DEL FORMULARIO
        $.validator.unobtrusive.parse(Formulario);

        if ($('#Fecha').val() == "") {
            notif({
                msg: "Ingrese una Fecha Válida",
                type: "error",
                position: "center"
            });
            $('#Fecha').focus();

            return false;
        }
        else if ($('#Prefijo').val() == "" || $('#Prefijo').val() <= 0) {
            notif({
                msg: "Ingrese un Prefijo mayor a cero",
                type: "error",
                position: "center"
            });
            $('#Prefijo').val("");
            $('#Prefijo').focus();

            return false;
        }
        else if ($('#Numero_Comprobante').val() == "") {
            notif({
                msg: "Ingrese un Número de Comprobante",
                type: "error",
                position: "center"
            });
            $('#Numero_Comprobante').focus();

            return false;
        }
        else if ($('#Numero_Comprobante').val().length > 8) {
            notif({
                msg: "El Comprobante no puede tener más de 8 caracteres",
                type: "error",
                position: "center"
            });
            $('#Numero_Comprobante').focus();

            var str = $('#Numero_Comprobante').val();
            $("#Numero_Comprobante").val(str.substring(0, str.length - 1));

            return false;
        }
        else if ($('#Fabrica').val() == "" || $('#Fabrica').val() == 0) {
            notif({
                msg: "Ingrese una Fábrica",
                type: "error",
                position: "center"
            });
            $('#Fabrica').val("");
            $('#Fabrica').focus();

            return false;
        }
        else if ($("#Codigo_Proveedor").val() == "" || $("#Codigo_Proveedor").val() == 0) {
            notif({
                msg: "Ingrese un Proveedor",
                type: "error",
                position: "center"
            });
            $("#Codigo_Proveedor").val("");
            $("#Codigo_Proveedor").focus();
        }
        else if ($('#DetallesAjusteTabla tbody .tr-ajus').length == 0) {
            notif({
                msg: "Se Requiere un <b>Insumo</b>.",
                type: "error",
                position: "center"
            });
            $('.nuevoDetalle').trigger('click');

            return false;
        }
        else if (($('#DetallesAjusteTabla tbody .tr-kilos').html() == "" || $('#DetallesAjusteTabla tbody .tr-kilos').html() == "NaN" || $('#DetallesAjusteTabla tbody .tr-kilos').html() <= 0) && $('#DetallesAjusteTabla tbody .tr-cantidad').html() == "" || $('#DetallesAjusteTabla tbody .tr-cantidad').html() == "NaN") {
            notif({
                msg: "Ingrese <b>Kilos</b>.",
                type: "error",
                position: "center"
            });
            return false;
        }

        if ($(Formulario).valid()) {
            for (var i in listadoDetallesAjuste) {
                $('#DetalleAjustes').append('<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Codigo_Insumo" value="' + listadoDetallesAjuste[i].Codigo_Insumo + '"/>' +
                    '<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Cantidad" value="' + parseFloat(listadoDetallesAjuste[i].Cantidad).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Kilos_Litros" value="' + parseFloat(listadoDetallesAjuste[i].Kilos_Litros).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Precio_Compra" value="' + parseFloat(listadoDetallesAjuste[i].Precio_Compra).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Lote" value="' + listadoDetallesAjuste[i].Lote + '"/>' +
                    '<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Codigo_Interno_Ajuste" value="' + '@Model.Codigo_Interno_Ajuste' + '"/>' +
                    '<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Codigo_Interno_Detalle" value="' + listadoDetallesAjuste[i].Codigo_Interno_Detalle + '"/>' +
                    '<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Fecha_Vencimiento" value="' + listadoDetallesAjuste[i].Fecha_Vencimiento + '"/>' +
                    '<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Ph" value="' + listadoDetallesAjuste[i].Ph + '"/>' +
                    '<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Humedad" value="' + listadoDetallesAjuste[i].Humedad + '"/>'
                );
                if ($("#Tipo_Movimiento").val() == "Salida Producto De Ventas") {
                    $('#DetalleAjustes').append('<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Numero_Producto" value="' + listadoDetallesAjuste[i].Numero_Producto + '"/>')
                }
            }
            $.ajax({
                type: "POST",
                url: "/AjustesInsumos/AddOrEdit",
                data: $(Formulario).serialize(),
                success: function (data) {
                    if (data.success) {
                        if ($('#KilosEditable').html() == "" || $('#KilosEditable').html() == "NaN" || $('#KilosEditable').html() <= 0) {
                            notif({
                                msg: "Por favor, ingrese los kilos.",
                                type: "error",
                                position: "center"
                            });
                            $('#KilosEditable').focus();
                            return;
                        }

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        $('#modalAddOrEdit').modal('hide');
                        CargarAjustesInsumos();
                    }
                    else {
                        if (data.message == "Iniciar Sesion") {
                            AbrirModalLogin();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            });
        }
        return false;
    }

    function VerificarKilosReales() {
        $('#kilos-restantes').html(parseFloat($('#Kilos_Reales').val()));
    }

    //Arma la DataTable para los Insumos
    function RefrescarDetalles() {
        let columns = [
            {
                title: "Código",
                data: "Codigo_Insumo",
                sClass: "tr-ajus",
                render: function (data, type, row, meta) {
                    return row.Codigo_Insumo + `<input hidden class=".codigo_interno" value="${row.Codigo_Interno_Detalle}" />`;
                }
            },
            {
                title: "Descripc. Insumo",
                data: "Descripcion_Insumo",
                sClass : "mayusculas-texto"
            },
            {
                title: "Fecha Venc.",
                data: "Fecha_Vencimiento",
                width: "120px"
            },
            {
                title: "Ph",
                data: "Ph",
                render: function (data, row) {
                    if (data == null)
                        return "";
                    else
                        return parseFloat(data).toFixed(2);
                }
            },
            {
                title: "Humedad",
                data: "Humedad",
                render: function (data, row) {
                    if (data == null)
                        return "";
                    else
                        return parseFloat(data).toFixed(2);
                }
            },
            {
                title: "Lote",
                data: "Lote",
                width: "120px"
            },
            {
                title: "Cantidad",
                data: "Cantidad",
                sClass: "tr-cantidad text-right",
                render: function (data) {
                    if (data == null)
                        return "";
                    else
                        return parseFloat(data).toFixed(2);
                }
            },
            {
                title: "Kilos/Litros",
                data: "Kilos_Litros",
                sClass: "tr-kilos text-right",
                render: function (data, type, row, meta) {
                    if (data == null)
                        return "";
                    else
                        return parseFloat(data).toFixed(2);
                }
            },
            @if (ViewBag.Muestra_Costos == true) {
            <Text>
            {
                title: "Precio Compra",
                data: "Precio_Compra",
                render: function(data) {
                    if (data == null)
                        return "";
                    else
                        return parseFloat(data).toFixed(2);
                }
            },
            </Text>
            }
            {
                title: "Opciones",
                orderable: false,
                data: "Codigo_Interno_Detalle",
                width: "10%",
                render: function (data, type, row, meta) {
                    return "<a class='btn btn-default btn-xs' onclick=EditarDetalle('" + data + "'," + row.Masa + ")><span class='glyphicon glyphicon-pencil editarDetalle'></span></a>" +
                        "<a class='btn btn-danger btn-xs' onclick=BorrarDetalle('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                }
            }
        ];
        if ($("#Tipo_Movimiento").val() == "Salida Producto De Ventas") {
            columns.splice(2, 0, {
                title: "Prod. Venta",
                data: "Numero_Producto",
                sClass: "tr-numero",
            });
            columns.splice(3, 0, {
                title: "Descripc. Producto",
                data: "Descripcion_Producto_Venta",
                sClass: "mayusculas-texto"
            });
        }
        if ($.fn.DataTable.isDataTable("#DetallesAjusteTabla") && $("#DetallesAjusteTabla").length > 0 && tablaNecesitaRecarga) {
            $("#DetallesAjusteTabla_wrapper").html("");
            $("#DetallesAjusteTabla_wrapper").html("<table id='DetallesAjusteTabla' class='display compact' style='width: 100 %'></table>");
        }

        $("#DetallesAjusteTabla").DataTable({
            "bFilter": false,
            "destroy": true,
            "responsive": true,
            "autoWidth": true,
            "bInfo": false,
            "iDisplayLength": 50,
            "lengthChange": false,
            data: listadoDetallesAjuste,
            "columns": columns,
            "language": idiomaEspañol,
            "columnDefs": salidaProdVentasTabla ?
                [
                    { className: "text-right", "targets": [5, 6, 8, 9,@if (ViewBag.Muestra_Costos == true) {<Text> 10</Text>}] },
                    { className: "text-center", "targets": [0, 1, 2, 3, 4, 7, @if (ViewBag.Muestra_Costos == true) {<Text>11</Text>} else {<Text>10</Text>}] },
                    { "targets": "_all", "defaultContent": "-"}
                ]
                : [
                    { className: "text-right", "targets": [3, 4, 6, 7,@if (ViewBag.Muestra_Costos == true) {<Text> 8</Text>}] },
                    { className: "text-center", "targets": [0, 1, 2, 5, @if (ViewBag.Muestra_Costos == true) {<Text>9</Text>} else {<Text>8</Text>}] },
                    { "targets": "_all", "defaultContent": "-"}
                ],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '<span class="glyphicon glyphicon-plus">',
                    className: "nuevo nuevoDetalle",
                    action: function () {
                        AgregarDetalleAjuste();
                    }
                }
            ],
            "order": [[2, "asc"]]
        });
    }

    function CargarDetallesAjustesInsumos(Codigo) {
        $.ajax({
            type: "GET",
            url: "/AjustesInsumos/GetData/",
            data: {
                Codigo_Interno_Ajuste: Codigo
            },
            success: function (data) {
                if ($("#Tipo_Movimiento").val() == "Salida Producto De Ventas") salidaProdVentasTabla = true;
                listadoDetallesAjuste = [];
                if (data.success) {
                    if (Codigo >= 0) {
                        $.each(data.detalles, function (i, item) {
                            listadoDetallesAjuste.push({
                                Codigo_Insumo: item.Codigo_Insumo,
                                Descripcion_Insumo: item.Descripcion_Insumo,
                                Numero_Producto: item.Numero_Producto,
                                Descripcion_Producto_Venta: item.Descripcion_Producto_Venta,
                                Cantidad: item.Cantidad,
                                Kilos_Litros: item.Kilos_Litros,
                                Lote: item.Lote,
                                Fecha_Vencimiento: item.Fecha_Vencimiento != null ? moment(item.Fecha_Vencimiento).format("DD/MM/YYYY") : "",
                                Ph: item.Ph,
                                Humedad: item.Humedad,
                                Precio_Compra: item.Precio_Compra,
                                Precio_Por: item.Precio_Por,
                                Unidad_Medida: item.Unidad_Medida,
                                Codigo_Interno_Detalle: item.Codigo_Interno_Detalle,
                                Masa: item.Masa
                            });
                        });
                    }
                    RefrescarDetalles();
                }
            }
        });
    }

    function AgregarDetalleAjuste() {
        var filaAgregada = false;
        $('#DetallesAjusteTabla').find('#insertarDetalle').each(function () {
            filaAgregada = true;
        });
        if (filaAgregada == false) {
            /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
            let html = '<tr>';
            html += `<td id="dataCodigoInsumo" class="form-medio">
                <input type="number" id="Codigo_Insumo" placeholder="Código" class="text-box single-line" style="text-align:right;width:70px;" autocomplete="off">
                <div style="padding:0px !important; text-align:right"><a href="#" id="mostrarInsumos" onclick="AbrirModalInsumos(ConfirmarInsumo, ${muestraCostos})" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>
                </td>`; //Código Insumo
            html += '<td id="descripcion-insumo" style="text-transform:capitalize"></td>'; //Descripción insumo (label)
            if (salidaProdVentasTabla) {
                html += '<td id="dataNumeroProducto" class="form-medio">' +
                    '<input type="number" id="Numero_Producto" placeholder="Número" class="text-box single-line" style="text-align:right;width:70px;" autocomplete="off">' +
                    '<div style="padding:0px !important; text-align:right"><a href="#" id="mostrarProductos" onclick="AbrirModalProductosVentas()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>' +
                    '</td>';
                html += '<td id="Descripcion_Producto_Venta"></td>';
            }
            html += '<td id="dataFechaVencimiento"></td>';
            html += '<td id="dataPh"></td>';
            html += '<td id="dataHumedad"></td>';
            html += '<td id="dataLote"></td>';
            html += '<td id="dataCantidad"></td>'; //Cantidad, solo permite digitar valor si el insumo está en unidades y no kilos/litros
            html += '<td id="dataKilos"></td>'; //Kilos/Litros
            if (muestraCostos){
                html += '<td id="dataPrecioCompra"></td>'; //Precio Compra
            }

            html += '<td style="display:flex; justify-content:center"><a name="insert" id="insertarDetalle" onclick="InsertarDetalle()" class="btn btn-success btn-xs" style="margin-right:5px;"><span class="glyphicon glyphicon-ok"></span></a>' +
                    '<a onclick="RefrescarDetalles()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>';
            html += '</tr>';
            $('#DetallesAjusteTabla tbody').prepend(html);

            $('#Codigo_Insumo').on("keyup", function (e) {
                if (e.keyCode == 13) {
                    ConfirmarInsumo();
                    return false;
                }
            });
            
            if (salidaProdVentasTabla) {
                $("#Numero_Producto").on("keyup", function (e) {
                    if (e.keyCode == 13) {
                        ObtenerDescripProducto($(this).val(), "Descripcion_Producto_Venta");
                    }
                })
            }
        }
        $('#Codigo_Insumo').focus();
    }

    //Click al botón verde de confirmar un insumo que se está agregando
    function InsertarDetalle() {
        var bandera = false;
        if (bandera == false) {
            /*VERIFICA QUE EXISTA EN LA BASE DE DATOS EL INSUMO*/
            $.ajax({
                type: "GET",
                url: "/Insumos/GetOne/",
                data: { Codigo_Insumo: $('#Codigo_Insumo').val() },
                dataType: "json",
                success: function (data) {
                    if (!data.success) {
                        notif({
                            msg: data.mensaje,
                            type: "error",
                            position: "center"
                        });
                    } else {
                        let Insumo = data.data[0];
                        if ($('#nuevaCantidadDetalle').val() == "" && (Insumo.Unidad_Medida == 'U' || Insumo.Unidad_Medida == 'A')) {
                            notif({
                                msg: "Por favor, ingrese una nueva cantidad.",
                                type: "error",
                                position: "center"
                            });
                            $('#nuevaCantidadDetalle').focus();
                            return;
                        }
                        if ($('#nuevosKilosDetalle').val() == "" && (Insumo.Unidad_Medida == 'K' || Insumo.Unidad_Medida == 'L' || Insumo.Unidad_Medida == 'A')) {
                            notif({
                                msg: "Por favor, ingrese los kilos.",
                                type: "error",
                                position: "center"
                            });
                            $('#nuevosKilosDetalle').focus();
                            return;
                        }
                        if (salidaProdVentasTabla) {
                            if ($("#Numero_Producto").val() == "" || $("#Numero_Producto").val() == 0) {
                                notif({
                                    msg: "Por favor, ingrese el número de producto de ventas.",
                                    type: "error",
                                    position: "center",
                                    multiline: true
                                });
                                $('#Numero_Producto').focus();
                                return;
                            }
                        }

                        let codigos = listadoDetallesAjuste.map(function (l) { return l.Codigo_Interno_Detalle; });
                        let codigo_interno = Math.max(codigos) + 1;
                        listadoDetallesAjuste.push({
                            Codigo_Insumo: Insumo.Codigo_Insumo,
                            Descripcion_Insumo: Insumo.Descripcion,
                            Numero_Producto: $("#Numero_Producto").val(),
                            Descripcion_Producto_Venta: $("#Descripcion_Producto_Venta").text(),
                            Cantidad: (Insumo.Unidad_Medida == 'U' || Insumo.Unidad_Medida == 'A') ? $('#nuevaCantidadDetalle').val() : null,
                            Kilos_Litros: (Insumo.Unidad_Medida == 'K' || Insumo.Unidad_Medida == 'L' || Insumo.Unidad_Medida == 'A') ? $('#nuevosKilosDetalle').val() : null,
                            Lote: $('#lote').val(),
                            Fecha_Vencimiento: $("#Fecha_Vencimiento").val(),
                            Ph: $('#nuevoPh').val(),
                            Humedad: $('#nuevaHumedad').val(),
                            @if (ViewBag.Muestra_Costos == true)
                            {
                                <Text>
                                Precio_Compra: $('#nuevoPrecioCompra').val(),
                                </Text>
                            }
                            Precio_Por: Insumo.Precio_Por,
                            Unidad_Medida: Insumo.Unidad_Medida,
                            Codigo_Interno_Detalle: codigo_interno,
                            Masa: Insumo.Masa
                        });
                        RefrescarDetalles();
                        AgregarDetalleAjuste();
                    }
                }
            });
        }
    }

    function EditarDetalle(Codigo_Interno_Detalle, Usa_Masa) {
        var Unidad_Medida = "";
        $.each(listadoDetallesAjuste, function (i, item) {
            if (item.Codigo_Interno_Detalle == Codigo_Interno_Detalle) {
                Unidad_Medida = item.Unidad_Medida;
            }
        });
        let restaIndex = 1;
        $('#DetallesAjusteTabla').find('tr').find('td').each(function () {
            if ($(this).index() == 0) {
                if ($(this).find('input').val() == Codigo_Interno_Detalle) {
                    $(this).parent('tr').find('td').each(function () {
                        let index = $(this).index();

                        if (index == (2 + (salidaProdVentasTabla ? 2 : 0))) {
                            let fecha = $(this).html();
                            $(this).html('<input id="fechaVtoEditable" class="col-md-12 text-box single-line" style="text-align:center; width:100px">');
                            $('#fechaVtoEditable').val(fecha);
                            $('#fechaVtoEditable').datepicker();
                        }

                        if (index == (3 + (salidaProdVentasTabla ? 2 : 0))) {
                            let Ph = $(this).html();
                            $(this).html("");
                            if (Usa_Masa) {
                                $(this).prepend('<input id="phEditable" class="col-md-12 text-box single-line" style="text-align:right"; width:100px>');
                            }
                            $('#phEditable').val(Ph);
                        }

                        if (index == (4 + (salidaProdVentasTabla ? 2 : 0))) {
                            let Humedad = $(this).html();
                            $(this).html("");
                            if (Usa_Masa) {
                                $(this).prepend('<input id="humedadEditable" class="col-md-12 text-box single-line" style="text-align:right; width:100px">');
                            }
                            $('#humedadEditable').val(Humedad);
                        }

                        if (index == (5 + (salidaProdVentasTabla ? 2 : 0))) {
                            let Lote = $(this).html();
                            $(this).html('<input id="loteEditable" class="col-md-12 text-box single-line" style="text-align:center; width:125px">');
                            $('#loteEditable').val(Lote);
                            $('#loteEditable').focus();
                        }

                        if (index == (6 + (salidaProdVentasTabla ? 2 : 0)))
                        {
                            if (Unidad_Medida == "") {
                                Unidad_Medida = "U";
                            }
                            if ((Unidad_Medida == 'U' || Unidad_Medida == "A") && !Usa_Masa) {
                                let Cantidad = $(this).html();
                                $(this).html('<input id="cantidadEditable" class="col-md-12 text-box single-line" style="text-align:right; width:100px">');
                                $('#cantidadEditable').val(Cantidad);
                            }
                        }

                        if (index == (7 + (salidaProdVentasTabla ? 2 : 0)))
                        {
                            if (Unidad_Medida == 'K' || Unidad_Medida == 'L' || Unidad_Medida == "A" || Unidad_Medida == "" || Usa_Masa) {
                                let Kilos = $(this).html();
                                $(this).html("");
                                if (Usa_Masa) {
                                    $(this).prepend('<input id="KilosEditable" class="col-md-12 text-box single-line" style="text-align:right; width:100px" required>');
                                }
                                else {
                                    $(this).prepend('<input id="KilosEditable" class="col-md-12 text-box single-line" style="text-align:right; width:100px">');
                                }
                                $('#KilosEditable').val(Kilos);
                                if (!muestraCostos) {
                                    $('#KilosEditable').on("keyup", function () {
                                        ConfirmarEdicionDetalle(Codigo_Interno_Detalle);
                                    })
                                }
                            }

                        }

                        if (muestraCostos){
                            if (index == (8 + (salidaProdVentasTabla ? 2 : 0))) {
                                let Precio_Compra = $(this).html();
                                $(this).html('<input id="precioCompraEditable" class="col-md-12 text-box single-line" style="text-align:right; width:100px">');
                                $('#precioCompraEditable').val(Precio_Compra);
                                $("#precioCompraEditable").keyup(function (e) {
                                    if (e.keyCode == 13) {
                                        ConfirmarEdicionDetalle(Codigo_Interno_Detalle);
                                    }
                                });
                                restaIndex = 0
                            }
                        }

                        if (index == (9 + (salidaProdVentasTabla == true ? 2 : 0))-restaIndex) {
                            $(this).html(
                                "<button class='btn btn-success btn-xs' onclick=ConfirmarEdicionDetalle('" + Codigo_Interno_Detalle + "')>" +
                                    "<span class='glyphicon glyphicon-ok'></span>" +
                                "</button>" +
                                "<a class='btn btn-danger btn-xs' onclick=RefrescarDetalles()>" +
                                    "<span class='glyphicon glyphicon-remove'></span>" +
                                "</a>"
                            );
                        }
                    });
                }
                $('input').focus(function () { $(this).select() });
            }
        })
    }
    function ConfirmarEdicionDetalle(Codigo_Interno_Detalle) {
        $.each(listadoDetallesAjuste, function (i, item) {
            if (item.Codigo_Interno_Detalle == Codigo_Interno_Detalle) {
                listadoDetallesAjuste[i].Cantidad = $('#cantidadEditable').val();
                listadoDetallesAjuste[i].Kilos_Litros = $('#KilosEditable').val();
                listadoDetallesAjuste[i].Lote = $('#loteEditable').val();
                listadoDetallesAjuste[i].Fecha_Vencimiento = $('#fechaVtoEditable').val();
                listadoDetallesAjuste[i].Ph = $('#phEditable').val();
                listadoDetallesAjuste[i].Humedad = $('#humedadEditable').val();
                if (muestraCostos){
                    listadoDetallesAjuste[i].Precio_Compra = $('#precioCompraEditable').val();
                }
            }
            if ($('#KilosEditable').val() == "" || $('#KilosEditable').val() == "NaN" || $('#KilosEditable').val() <= 0) {
                notif({
                    msg: "Ingrese una cantidad válida de Kilos.",
                    type: "error",
                    position: "center"
                });
                $('#KilosEditable').focus();
                return;
            }
        });

        RefrescarDetalles();
    }
    function BorrarDetalle(Codigo_Interno_Detalle) {

        for (var i in listadoDetallesAjuste) {
            if (listadoDetallesAjuste[i].Codigo_Interno_Detalle == Codigo_Interno_Detalle) {
                listadoDetallesAjuste.splice(i, 1);
                RefrescarDetalles();
            }
        }
    }

    function SaltosEnFormulario(){
        $("#Fecha").keyup(function (e) {
            if (e.keyCode == 13) {
                $("#Tipo_Movimiento").focus();
            }
        });
        $("#Tipo_Movimiento").keyup(function (e) {
            if (e.keyCode == 13) {
                $("#Numero_Comprobante").focus();
            }
        });
        $("#Numero_Comprobante").keyup(function (e) {
            if (e.keyCode == 13) {
                $("#Descuento").focus();
            }
        });
        $("#Descuento").keyup(function (e) {
            if (e.keyCode == 13) {
                $("#Comentario").focus();
            }
        });
        $("#Comentario").keyup(function (e) {
            if (e.keyCode == 13) {
                AgregarDetalleAjuste();
            }
        });
    }

    function getProv_AI() {
        $.ajax({
            type: "GET",
            url: "/Proveedores/GetOne/",
            data: { Codigo_Proveedor: $('#Codigo_Proveedor').val() },
            success: function (data) {
                if (data.success) {
                    if (data != null) {
                        $("#Descripcion_Proveedor").text(data.data.RAZON_SOCIAL);
                    }
                }
            }
        });
    }

    var muestraCostos = false;
    $(document).ready(function () {
        muestraCostos = @{if (ViewBag.Muestra_Costos == true){<Text>true</Text>}else{<Text>false</Text>}};
        $("#Codigo_Proveedor").change(function () {
            getProv_AI();
        });
        $("#Fabrica").change(() => Obtener_Fabrica());
        $('#Fecha').datepicker();

        if ($('#Codigo_Fabrica').val() == 0)
            $('#Codigo_Fabrica').val("");

        if("@ViewBag.Fabrica_Enabled" == "disabled") {
            $("#Fabrica").attr("readonly", "readonly");
        }
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
