﻿@{
    ViewBag.Title = "Ajustes Insumos : Listado";
}
<div class="">
    <div class="col-sm-10" style="margin-left:auto;margin-right: auto;float: initial;">
        <h2>Ajustes Insumos</h2>
        <div id="dropdownEstados" style="display:none; text-transform:capitalize">
            @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
        </div>
        <table id="AjustesInsumosTabla" class="display compact" style="width:100%"></table>
    </div>

    <!-- Modal Eliminar-->
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:350px">
            <div class="modal-content">
                <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                    <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro desea eliminar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="DeleteAjuste()">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AddOrEdit  -->
    <div class="modal fade" id="modalAddOrEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:80%">
            <div class="modal-content" id="ModalAddOrEdit"></div>
        </div>
    </div>

    <!-- Modal Verificacion -->
    <div class="modal fade" id="modalVerificarActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:300px">
            <div class="modal-content">
                <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                    <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="Pasar_A_Historicos()">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <input class="codigo" hidden />

</div>

@section scripts{
    <script>
        var dataTableAjustesInsumos = null;
        var listadoAjustesInsumos = [];
        function ArmaTabla() {
            dataTableAjustesInsumos = $("#AjustesInsumosTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/AjustesInsumos/GetData",
                    "data": { Codigo_Interno_Ajuste:-1 },
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Codigo_Interno_Ajuste",
                        "title": "Código",
                        "width": "15%"
                    },
                    {
                        "data": "Tipo_Movimiento",
                        "title": "Movimiento",
                        sClass: "mayusculas-texto"
                    },
                    {
                        "data": "Fecha",
                        "title": "Fecha",
                        "render": function (data) {
                            if (data != null) {
                                return moment(data).format("DD/MM/YYYY");
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "Codigo_Interno_Ajuste",
                        "width": "10%",
                        "title": "Herramientas",
                        render: function (data) {
                            return "<a class='btn btn-default btn-sm' onclick=AbrirModalAddOrEdit('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                "<a class='btn btn-danger btn-sm' onclick=Salida=" + data + " data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                        }
                    }

                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    { className: "text-center", "targets": [0, 2, 3] }
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: '<span class="glyphicon glyphicon-plus">',
                        className: 'nuevo',
                        action: function () {
                            AbrirModalAddOrEdit();
                        }
                    },
                    {
                        text: 'Actualizar <span class="glyphicon glyphicon-refresh">',
                        className: 'primary',
                        action: function () {
                            var bandera = false;

                            $('#AjustesInsumosTabla').find('tr.selected').find('td').each(function () {
                                if ($(this).index() == 0) {
                                    bandera = true;
                                }
                            });

                            if (bandera == false) {
                                notif({
                                    msg: "Por favor seleccione un registro de la tabla.",
                                    type: "warning",
                                    position: "center"
                                });
                                return;
                            } else {
                                $('#modalVerificarActualizar').modal('toggle');
                            }
                        }
                    },
                    {
                        text: $('#dropdownEstados').html(),
                        className: 'botonDropdown'
                    }
                ],
                "order": [[1, "asc"]],
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                    $('#dropdownEstados').html("");

                    $("#ListadoEstados").change(function () {
                        estado = $('option:selected', this).val();
                        if (estado == "true") {
                            $("#aclaracion").show();
                            $(".btn_actualizar").hide();
                        }
                        else {
                            $(".btn_actualizar").show();
                            $("#aclaracion").hide();
                        }

                        dataTableAjustesInsumos.ajax.url(`/AjustesInsumos/GetData?estado=${estado}`).load();
                    });
                },
                select: 'multiple'

            });
        }
        function CargarAjustesInsumos() {
            dataTableAjustesInsumos.ajax.url(`/AjustesInsumos/GetData?estado=${$("#ListadoEstados").val()}`).load();
        }
        function TraerInsumo() {
            $.ajax({
                type: "GET",
                url: "/Insumos/GetOne/",
                data: { Codigo_Insumo: $('#tb-insumo').val() },
                dataType: "json",
                success: function (data) {
                    if (data.success) {

                        var Insumo = data.data[0];

                        if (Insumo != null) {

                            $("#data2").text("");
                            $('#data3').html("");
                            $('#data4').html("");
                            $("#data2").text(Insumo.Descripcion);

                            if (Insumo.Precio_Por == 'U') {
                                $('#data3').append('<input id="nuevaCantidad" placeholder="Cantidad" class="col-md-12 text-box single-line" style="text-align:right">');
                            } else {
                                $('#data4').append('<input id="nuevaCantidad" placeholder="Kilos/Litros" class="col-md-12 text-box single-line" style="text-align:right">');
                            }

                            $('#nuevaCantidad').focus();
                        }
                        else {
                            notif({
                                msg: "Error, no existe registro con el Código ingresado.",
                                type: "error",
                                position: "center"
                            });

                            $('#data2').html("");
                            $('#data3').html("");
                            $('#data4').html("");

                            $('#tb-insumo').focus();
                        }
                    }

                    $("#nuevaCantidad").keyup(function (e) {
                        if (e.keyCode == 13) {
                            $(this).trigger("enterKey");

                            $("#nuevoMotivo").focus()
                        }
                    });

                    $("#nuevoMotivo").keyup(function (e) {
                        if (e.keyCode == 13) {
                            $(this).trigger("enterKey");

                            InsertarAjuste();
                        }
                    });

                }
            });
        }
        function AgregarAjuste() {

            var filaAgregada = false;

            $('#AjustesInsumosTabla').find('#insert').each(function () {
                filaAgregada = true;
            });

            if (filaAgregada == false) {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/

                var html = '<tr>';
                html += '<td id="data1" style="height:100%" class="form-medio">' +
                    '<input id="tb-insumo" placeholder="Código" class="col-md-8 text-box single-line" style="text-align:right"/>' +
                    '<div class="col-md-4"><a href="#" id="mostrarInsumos" data-toggle="modal" data-target="#modalInsumos" onclick="tipoModalInsumos=1" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>' +
                    '</td>';
                html += '<td id="data2" style="text-transform:capitalize"></td>';
                html += '<td id="data3"></td>';
                html += '<td id="data4"></td>';
                html += '<td id="data5"><input id="nuevaFechaAjuste" type="date" placeholder="Fecha" style="width:100%"></td>';
                html += '<td id="data6"><input id="nuevoMotivo" placeholder="Motivo" style="width:100%; text-transform:capitalize"></td>';
                html += '<td class="text-center"><button type="button" name="insert" onclick="InsertarAjuste()" id="insert" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span></button>' +
                    '<button type="button" name="cancel" id="cancel" onclick="CargarAjustesInsumos()" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';

                $('#AjustesInsumosTabla tbody').prepend(html);

                var date = new Date();

                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();

                if (month < 10) month = "0" + month;
                if (day < 10) day = "0" + day;

                var today = year + "-" + month + "-" + day;

                document.getElementById('nuevaFechaAjuste').value = today;

                $('#tb-insumo').focus();
                $('#tb-insumo').numeric(",");

                $("#tb-insumo").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $(this).trigger("enterKey");

                        TraerInsumo();
                    }

                });

            }
            else {
                $('#tb-insumo').focus();
            }

        }
        function refrescarAjustesInsumos() {
            CargarAjustesInsumos()
        }
        function modificarInput(Codigo) {
            $('input.codigo').text(Codigo);
        }
        function DeleteAjuste() {
            $.ajax({
                type: "POST",
                url: "/AjustesInsumos/Delete/",
                data: { Codigo_Ajuste: Salida },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');
                        CargarAjustesInsumos();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        if (data.message == "Iniciar Sesion") {
                            AbrirModalLogin();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            });

        }
        function InsertarAjuste() {
            $.ajax({
                url: "/AjustesInsumos/AddOrEdit/",
                method: "POST",
                data: {
                    Codigo_Insumo: $('#tb-insumo').val(),
                    Cantidad: parseFloat($('#nuevaCantidad').val()).toString().replace(".", ","),
                    Fecha: $('#nuevaFechaAjuste').val() != "" ? $('#nuevaFechaAjuste').val() : null,
                    Motivo: $('#nuevoMotivo').val()
                },
                success: function (data) {
                    if (data.success) {

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                        CargarAjustesInsumos();
                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });

                        $('#tb-insumo').focus();
                    }
                }
            });

        }
        function AbrirModalAddOrEdit(Codigo) {
            $.ajax({
                type: "GET",
                url: "/AjustesInsumos/AddOrEdit/",
                data: { id: Codigo },
                success: function (data) {

                    $('#ModalAddOrEdit').html(data);

                    CargarDetallesAjustesInsumos(Codigo);

                    $('#modalAddOrEdit').modal('toggle');

                    SaltosEnFormulario();

                    $("#modalAddOrEdit").on('shown.bs.modal', function () {
                        $('#Tipo_Movimiento').focus();
                    });
                }
            });
        }
        function Pasar_A_Historicos() {

            var bandera = false;

            $('#AjustesInsumosTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {
                    bandera = true;
                }
            });

            if (bandera == false) {
                notif({
                    msg: "Por favor, seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });
                return;
            } else {
                let Codigo_Interno_Ajuste = $($('#AjustesInsumosTabla').find('tr.selected').find('td')[0]).text();
                $.ajax({
                    type: "POST",
                    url: "/AjustesInsumos/Pasar_A_Historico",
                    data: { Codigo_Interno_Ajuste: Codigo_Interno_Ajuste },
                    success: function (data) {
                        console.log(data)
                        if (data.success) {

                            CargarAjustesInsumos();

                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                            $('#modalVerificarActualizar').modal('hide');
                        }
                        else {
                            if (data.message == "Iniciar Sesion") {
                                AbrirModalLogin();
                            }
                            else {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                            }
                        }

                    }
                });
            }
        }
        $(document).ready(function () {
            /*EVITA ENVÍO DEL FORMULARIO POR PRESIONAR ENTER*/
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
            ArmaTabla();
            CargarInsumos();
        });
    </script>
}