﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Queseros : Listado";

    Entities db = new Entities();
}

<h2>Queseros</h2>
<div id="dropdownEstados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
</div>
<table id="QueserosTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteQuesero()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

<script src="~/Scripts/Queseros/Index.js"></script>

    <script>
        function CambiarEstado(codigo) {
            $.ajax({
                url: "/Queseros/CambiarEstado",
                data: {
                    codigo_quesero: codigo
                },
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: "Se cambió Correctamente de Estado",
                            type: "success",
                            position: "center"
                        });
                        $("#ListadoEstados").val("true");
                        dataTableQueseros.ajax.url('/Queseros/GetData').load();
                    }
                    else {
                        if (data.message == "Iniciar Sesion") {
                            AbrirModalLogin();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            })
        }


        function CargarQueseros() {

            $.ajax({
                type: "GET",
                url: "/Queseros/GetData/",
                dataType: "json",
                success: function (data) {
                    listadoQueseros = data.data;
                    dataTableQueseros = $("#QueserosTabla").DataTable({
                        "destroy": true,
                        "autoWidth": true,
                        "data": listadoQueseros,
                        "columns": [
                            {
                                "data": "Codigo_Quesero",
                                "title": "Código",
                                "width": "15%"
                            },
                            {
                                "data": "Nombre",
                                "title": "Nombre",
                                "sClass": "mayusculas-texto"
                            },
                            {
                                   
                                "width": "12%",
                                "title": "Herramientas",
                                "render": function (data, type, row, meta) {
                                    if (row.Activo == 0)
                                        return " <a class='btn btn-default btn-sm' onclick=EditarQuesero('" + row.Codigo_Quesero + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                                    "<a class='btn btn-danger btn-sm'onclick=modificarInput('" + row.Codigo_Quesero + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>" +
                                                    "<a class='btn btn-success btn-sm' onclick=CambiarEstado('" + row.Codigo_Quesero + "')><span>Activar</span></a>";

                                    else
                                        return " <a class='btn btn-default btn-sm' onclick=EditarQuesero('" + row.Codigo_Quesero + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                                    "<a class='btn btn-danger btn-sm'onclick=modificarInput('" + row.Codigo_Quesero + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>" +
                                                "<a class='btn btn-warning btn-sm' onclick=CambiarEstado('" + row.Codigo_Quesero + "')><span>Desactivar</span></a>";

                                },
                            }

                        ],
                        "language": idiomaEspañol,
                        "columnDefs": [
                                { className: "text-center", "targets": [0, 2] },
                        ],
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                text: '<span class="glyphicon glyphicon-plus">',
                                className: 'nuevo',
                                action: function () {
                                    AgregarQuesero();
                                }
                            },
                            {
                                text: $('#dropdownEstados').html(),
                                className: 'botonDropdown'

                            }
                        ],
                        "order": [[1, "asc"]],
                        initComplete: function (data) {
                            $('div.dataTables_filter input').focus();
                            $('#dropdownEstados').html("");

                            $("#ListadoEstados").change(function () {
                                console.log("changed: ", $('option:selected', this).val());
                                estado = $('option:selected', this).val();
                                dataTableQueseros.ajax.url('/Queseros/GetData?estado=' + estado).load();

                            });
                        }

                    });
                }
            });

        };

        $(document).ready(function () {

            CargarQueseros();

        });

    </script>
}


