﻿@model AccesoDatos.Contexto.Produccion.Resultado_Analisis_Microbiologico

@using System.Web.Mvc;
@{
    ViewBag.Title = "Resultados";
}
@using (Html.BeginForm("AddOrEdit", "AnalisisMicrobiologicos", FormMethod.Post, new { id = "ResultadoForm", onsubmit = "return SubmitResultado(this)" }))
{
    @Html.HiddenFor(model => model.Codigo_Interno_Resultado)
    <div class="col-md-12 flexible2 contenedor-formulas-add" style="border: 1px #0a6cbe solid">
        <div class="col-md-12 form-medio" style="margin-top: 20px;">
            <div class="col-md-1"></div>
            <div class="col-md-2 form-medio">
                <div class="col-md-4 form-medio">
                    @Html.LabelFor(model => model.Codigo_Fabrica, "Fábrica:", new { @class = "control-label" })
                </div>
                <div class="col-md-4 form-medio">
                    <div class="input-group">
                        @Html.EditorFor(model => model.Codigo_Fabrica, "Fabrica", new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                        <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                    </div>
                </div>
                    <p style="text-transform:capitalize; margin:10px" id="fabrica-descripcion"></p>
            </div>
            <div class="col-md-3 form-medio">
                <div class="col-md-4 form-medio">
                    @Html.LabelFor(model => model.Lote, "Lote:", new { @class = "control-label" })
                </div>
                <div class="col-md-6 form-medio">
                    <div class="input-group">
                        @Html.EditorFor(model => model.Lote, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                    </div>
                </div>
            </div>
            <div class="col-md-2 form-medio">
                <div class="col-md-3 form-medio">
                    @Html.LabelFor(model => model.Fecha, "Fecha:", new { @class = "control-label" })
                </div>
                <div class="col-md-7 form-medio">
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize; text-align:center; margin-left: 40px" } })
                    @Html.ValidationMessageFor(model => model.Fecha)
                </div>
            </div>
            <div class="col-md-3 form-medio">
                <div class="col-md-3 form-medio">
                    @Html.LabelFor(model => model.Comentario, "Comentario:", new { @class = "control-label" })
                </div>
                <div class="col-md-9 form-medio">
                    <div class="input-group" style="width: 100%; height: 80px">
                        @Html.TextAreaFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })
                        @Html.ValidationMessageFor(model => model.Comentario)
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="col-md-12 contenedor-listados">
            <!--DETALLES-->
            <div class="col-md-12 caja-contenedora">
                <div class="titulo-sector"></div>

                <table id="DetallesResultadosTabla" class="display compact noOrdenable" style="width:100%"></table>
            </div>
        </div>

        <div class="col-md-12 flexible">
            <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                <div class="form-group" style="margin:0px !important">
                    <input type="submit" value="Confirmar" class="btn btn-primary btnConfirmacionFrm" />
                    <a class="btn btn-default" href="@Url.Action("Index", "AnalisisMicrobiologicos")">Volver</a>
                </div>
            </div>
        </div>

    </div>
    <div id="DetallesResultadoAnalisis" style="display:none"></div>
}
@section scripts{

    <script>
        $.validator.methods.range = function (value, element, param) {
            let globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
        //Date dd/MM/yyyy
        $.validator.methods.date = function (value, element) {
            let date = value.split("/");
            return this.optional(element) || !/Invalid|NaN/.test(new Date(date[2], date[1], date[0]).toString());
        }
    </script>

    <script>
        let Codigo_Interno_Resultado = "@Model.Codigo_Interno_Resultado";
        var detalleAnalisis = [];
        var jsonObj = @Html.Raw(Json.Encode(ViewBag.detalleAnalisis));
        $.each(jsonObj, function (i, item) {
            detalleAnalisis.push(item);
        });
        var listadoDetallesAnalisis = [];
        let dataTableAnalisis = [];

        $('#Lote').on("click", function () {
            $(this).attr("disabled", true)
            AbrirModalLotesSinAnalizar();
        })
        $('#Lote').on("change", function (){
            $.ajax({
                url: "/Producciones/GetData/",
                method: "GET",
                data: { Lote: $(this).val() },
                dataType: "json",
                success: function(data) {
                    if (data.success) {
                        if (data.data.length == 0) {
                            notif({
                                msg: "Ingrese un Lote válido.",
                                type: "error",
                                position: "center"
                            });
                            $('#Lote').focus();
                            $(".btnConfirmacionFrm").prop('disabled', true);

                        }
                        else {
                            $(".btnConfirmacionFrm").prop('disabled', false);
                        }

                    } else {
                        $('#Lote').focus();
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });

                    }
                }
            })
        })

        $(document).ready(function () {
            if (Codigo_Interno_Resultado == 0) $("#Codigo_Fabrica").val("");
            CargarDetallesAnalisis();
            $('input').focus(function () { $(this).select() });

            $(document).on("keypress", 'form', function (e) {
                let code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
            $("#Lote").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Comentario').focus();
                }
            });

            $("#Comentario").keyup(function (e) {
                if (e.keyCode == 13) {
                    AgregarDetalleAnalisis();
                }
            });
        });

        function CargarDetallesAnalisis() {
            $.ajax({
                type: "GET",
                url: "/AnalisisMicrobiologicos/GetData/",
                dataType: "json",
                data: {Codigo_Interno_Resultado: Codigo_Interno_Resultado},
                success: function (data) {
                    listadoDetallesAnalisis = data.data;
                    CargarDetallesResultado();
                }
            });
        };

        function CargarDetallesResultado() {
            dataTable = $("#DetallesResultadosTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "responsive": true,
                "data": listadoDetallesAnalisis,
                "columns": [
                    {
                        "data": "Codigo_Interno_Analisis",
                        "title": "Código",
                        "width": "15%",

                    },
                    {
                        "data": "Descripcion",
                        "title": "Descripción",
                        "width": "25%",
                    },
                    {
                        "data": "Resultado_Analisis",
                        "title": "Resultado",
                        "width": "15%",
                        "render": function (data) {
                            return '<input id="Resultado_Analisis" value="' + (data != null && data != 0 ? data : '') + '" class="col-md-8 text-box single-line" style="text-align:right" />';
                        }

                    },
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    { className: "text-center", "targets": [0, 1, 2] }
                ],
                buttons: [],
                "order": [[1, "asc"]],
                dom: 'rt',
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();

                }
            });
        }

        $(".btnConfirmacionFrm").click(function () {
            let error = false;
            if ($("#Codigo_Fabrica").val() == "") {
                notif({
                    msg: "Ingrese una fábrica",
                    type: "error",
                    position: "center"
                });
                $("#Codigo_Fabrica").focus();
                error = true;
            }
            $.ajax({
                url: "/Producciones/GetData/",
                method: "GET",
                data: { Lote: $('#Lote').val() },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        if (data.data.length == 0) {
                            notif({
                                msg: "Ingrese un Lote válido.",
                                type: "error",
                                position: "center"
                            });
                            $('#Lote').focus();
                            error = true;
                            $(".btnConfirmacionFrm").prop('disabled', true);
                        }
                    } else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                        error = true;
                    }
                }
            })
            if (error) {
                return false;
            }
            if (error != true)
                SubmitResultado($("#ResultadoForm"));

        });

        function SubmitResultado(form) {
            $(".btnConfirmacionFrm").prop('disabled', true);
            $('#DetallesResultadoAnalisis').empty();

            let index = 0;
            let detallesValidos = [];

            $('#DetallesResultadosTabla tbody tr').each(function () {
                let codigoInternoAnalisis = $(this).find('td').eq(0).text();
                let descripcion = $(this).find('td').eq(1).text();
                let resultadoAnalisis = $(this).find('td input').val();

                if (resultadoAnalisis != null && resultadoAnalisis.trim() !== '' && parseFloat(resultadoAnalisis) !== 0) {
                    detallesValidos.push({
                        Codigo_Interno_Analisis: codigoInternoAnalisis,
                        Descripcion: descripcion,
                        Resultado_Analisis: parseFloat(resultadoAnalisis).toFixed(3).replace(".", ",")
                    });
                }
            });

            if (detallesValidos.length === 0) {
                notif({
                    msg: "Debe ingresar al menos un resultado válido.",
                    type: "error",
                    position: "center"
                });
                $(".btnConfirmacionFrm").prop('disabled', false);
                return false;
            }

            detallesValidos.forEach(function (detalle) {
                $('#DetallesResultadoAnalisis').append('<input type="hidden" name="detalleResultado[' + index + '].Codigo_Interno_Analisis" value="' + detalle.Codigo_Interno_Analisis + '"/>');
                $('#DetallesResultadoAnalisis').append('<input type="hidden" name="detalleResultado[' + index + '].Descripcion" value="' + detalle.Descripcion + '"/>');
                $('#DetallesResultadoAnalisis').append('<input type="hidden" name="detalleResultado[' + index + '].Resultado_Analisis" value="' + detalle.Resultado_Analisis + '"/>');
                index++;
            });

            // VALIDADOR DEL FORMULARIO
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: "/AnalisisMicrobiologicos/AddOrEdit",
                    data: $(form).serialize(),
                    success: function (data) {
                        if (!data.success) {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        } else {
                            window.location.href = "/AnalisisMicrobiologicos/Index?resultado=" + parseFloat(data.resultado);
                        }
                    }
                });
            }

            return false;
        }



        $('#Fecha').datepicker();

        function toDate(dateStr) {
            let parts = dateStr.split("/")
            return new Date(parts[2], parts[1] - 1, parts[0])
        }
    </script>
}