﻿@model AccesoDatos.Contexto.Produccion.Rango_Analisis_Microbiologico
@using System.Web.Mvc;
@using MVC_Produccion.Sesiones;
@{
    Layout = null;
}
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height: fit-content;overflow-y: hidden;">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="eliminarRango()">Confirmar</button>
                <button type="button" class="btn btn-secondary" onclick="cerrarModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-header" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" style="text-align:center">Rangos</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-medio" style="display: flex; flex-direction: row; margin-bottom: 20px; justify-content: center">
        
    </div>
    <div class="row">
        <div class="col-md-3 form-medio">
            @Html.Label("Codigo_Interno_Analisis", "Análisis:", new { @class = "control-label" })
        </div>
        <div class="col-md-5">
            <div class="col-md-12 form-medio">
                <div class="input-group">
                    @Html.Editor("Codigo_Interno_Analisis", "Codigo_Interno_Analisis", new { htmlAttributes = new { @class = "form-control", @placeholder = "Código Análisis" } })
                    <span class="input-group-addon"><a href="#" onclick="AbrirModalAnalisis('R')"><span class="glyphicon glyphicon-search"></span></a></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 form-medio">
            <p id="Descripcion_Analisis" style="text-transform:capitalize;text-align-last: start;"></p>
        </div>
    </div>

    <table id="RangosTabla" class="display compact" style="width:100%"></table>
    <input class="codigo" hidden />
</div>


<script>
    let listadoRangos = [];
    var existeMinInfinito = false;
    var existeMaxInfinito = false;
    function cerrarModal() {
        $('#modalDelete').modal('hide');
    }
    function CargarRangos() {
        dataTableRangos = $.ajax({
            type: "GET",
            url: "/AnalisisMicrobiologicos/GetRangos/",
            data: { Codigo_Interno_Analisis: $("#Codigo_Interno_Analisis").val() },
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    listadoRangos = data.data;
                    ActualizarTablaRangos();
                } else {
                    notif({
                        msg: data.mensaje,
                        type: "error",
                        position: "center"
                    });
                }
            }
        });
    };

    function ActualizarTablaRangos() {
        datatable = $("#RangosTabla").DataTable({
            "destroy": true,
            "autoWidth": true,
            "responsive": true,
            "data": listadoRangos,
            "columns": [
                {
                    "data": "Codigo_Interno_Rango",
                    "title": "Código",
                    "width": "20%",
                },
                {
                    "data": "Desde",
                    "title": "Desde",
                    "width": "20%",
                    "render": function (data) {
                        if (data == '' || data == null) {
                            return "<td class= 'text-center'>- ꝏ</td>";
                        } else {
                            return "<td class= 'text-center'>" + parseFloat(data).toFixed(3) + "</td>";
                        }
                    },
                },
                {
                    "data": "Hasta",
                    "title": "Hasta",
                    "width": "20%",
                    "render": function (data) {
                        if (data == '' || data == null) {
                            return "<td class= 'text-center'>ꝏ</td>";
                        } else {
                            return "<td class= 'text-center'>" + parseFloat(data).toFixed(3) + "</td>";
                        }
                    },
                },
                {
                    "data": "Codigo_Interno_Rango",
                    "title": "Herramientas",
                    width: "20%",
                    "render": function (data) {
                        return "<a class='btn btn-default btn-sm' onclick=editarRangos('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                            "<a class='btn btn-danger btn-sm' onclick=modificarInput('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                    }
                }
            ],
            "language": idiomaEspañol,
            dom: 'Bt',
            lengthMenu: [25],
            buttons: [
                {
                    text: '<span class="glyphicon glyphicon-plus">',
                    className: 'nuevo',
                    action: function () {
                        AgregarRangos();
                    }
                },
            ],
            "columnDefs": [
                { className: "text-center", "targets": [0, 1, 2, 3] }
            ],
            "order": [[2, "asc"]],
            initComplete: function (data) {
                $('div.dataTables_filter input').select();
            }
        });
    };

    $(document).ready(function () {
        $('input').focus(function () { $(this).select() });
        $('#Codigo_Interno_Analisis').on("change", function () {
            if (isNaN($(this).val()) || $(this).val() == '') {
                notif({
                    msg: "Ingrese un Código válido",
                    type: "error",
                    position: "center"
                });
                AbrirModalAnalisis('R');
            } else {
                $.ajax({
                    url: "/AnalisisMicrobiologicos/GetOne/",
                    method: "GET",
                    data: { Codigo_Interno_Analisis: $(this).val() },
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            $('#Descripcion_Analisis').html(data.data.Descripcion);
                            CargarRangos();
                        } else {
                            notif({
                                msg: "No se encontraron Analisis con el Código ingresado.",
                                type: "warning",
                                position: "center"
                            });
                            AbrirModalAnalisis('R');
                        }
                    }
                })
            }
        })

    });

    function AgregarRangos() {
        notif({
            msg: "Para ingresar un valor indeterminado deje vacío el campo deseado",
            type: "info",
            position: "center",
            
        });
        ActualizarTablaRangos();
        let filaAgregada = false;

        $('#RangosTabla').find('#insertarRango').each(function () {
            filaAgregada = true;
        });

        if (filaAgregada == false) {
            let html = '<tr>';
                html += '<td><div id="Codigo_Interno_Rango" class="col-md-8 text-box single-line" style="text-align:right"><div></td>';
                html += '<td><input id="Desde" placeholder="Desde" class="col-md-8 text-box single-line" style="text-align:right"></input></td>';
                html += '<td><input id="Hasta" placeholder="Hasta" class="col-md-8 text-box single-line" style="text-align:right"></input></td>';
                html += '<td style="display:flex;justify-content: center;"><button type="button" name="insert" id="insertarRango" onclick="InsertarRango()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span></button>' +
                    '<button type="button" onclick="ActualizarTablaRangos()" class="btn btn-danger btn-sm" style="margin-left: 5px"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';
            $('#RangosTabla tbody').prepend(html);

            $('#Desde').on("change", function () {
                let desde = $("#Desde").val();
                let regexp = desde.match("[,]");
                if (regexp) {
                    let reemplazo = desde.toString().replace(",", ".");
                    $("#Desde").val(reemplazo);
                }                
            });
            $('#Hasta').on("change", function () {
                let hasta = $("#Hasta").val();
                let regexp = hasta.match("[,]");
                if (regexp) {
                    let reemplazo = hasta.toString().replace(",", ".");
                    $("#Hasta").val(reemplazo);
                }
            });

            $.ajax({
                type: "GET",
                url: "/AnalisisMicrobiologicos/GetUltimoRango/",
                success: function (data) {
                    if (data.success) {
                        if (data.data == 1) {
                            $('#Codigo_Interno_Rango').html(data.data);
                        } else {
                            $('#Codigo_Interno_Rango').html(data.data + 1);
                        }
                    }
                    else {
                        $('#Codigo_Interno_Rango').val(1);
                    }

                    $("#Desde").focus();

                }
            });
        }
    };

    function InsertarRango() {
        let Codigo_Interno_Rango = $("#Codigo_Interno_Rango").html();
        let Codigo_Interno_Analisis = $("#Codigo_Interno_Analisis").val();
        let Desde = $("#Desde").val() == '' || $("#Desde").val() == 0 ? -99999999 : parseFloat($("#Desde").val()).toFixed(3);
        let Hasta = $("#Hasta").val() == '' || $("#Hasta").val() == 0 ?  99999999 : parseFloat($("#Hasta").val()).toFixed(3);
        existeMinInfinito = false;
        existeMaxInfinito = false;
        for (let i in listadoRangos) {
            if (listadoRangos[i].Desde == '' || listadoRangos[i].Desde == null) {
                existeMinInfinito = true;
            }
            if (listadoRangos[i].Hasta == '' || listadoRangos[i].Hasta == null) {
                existeMaxInfinito = true;
            }
            if (listadoRangos[i].Desde == Desde) {
                notif({
                    msg: "Ya existe un rango ingresado con ese valor.",
                    type: "warning",
                    position: "center"
                });

                $('#Desde').select();
                return false;
            } else if (existeMinInfinito == true && Desde == -99999999) {
                notif({
                    msg: "Ya existe un rango ingresado con ese valor.",
                    type: "warning",
                    position: "center"
                });

                $('#Desde').select();
                return false;
            }
            if (listadoRangos[i].Hasta == Hasta) {
                notif({
                    msg: "Ya existe un rango ingresado con ese valor.",
                    type: "warning",
                    position: "center"
                });

                $('#Hasta').select();
                return false;
            } else if (existeMaxInfinito == true && Hasta == 99999999) {
                notif({
                    msg: "Ya existe un rango ingresado con ese valor.",
                    type: "warning",
                    position: "center"
                });

                $('#Hasta').select();
                return false;
            }
        }
        if (Desde < 0 && Desde != -99999999) {
            notif({
                msg: "Por favor, ingrese valores positivos.",
                type: "warning",
                position: "center"
            });

            $("#Desde").select();
            return false;
        }else if (Hasta < 0) {
            notif({
                msg: "Por favor, ingrese valores positivos.",
                type: "warning",
                position: "center"
            });

            $("#Hasta").select();
            return false;
        } else if (isNaN($("#Desde").val()) && (Desde != '' || Desde != 0)) {
            notif({
                msg: "Por favor, ingrese un valor mínimo válido.",
                type: "warning",
                position: "center"
            });

            $('#Desde').select();
            return false;
        } else if (isNaN($("#Hasta").val()) && (Hasta != '' || Hasta != 0)) {
            notif({
                msg: "Por favor, ingrese un valor máximo válido.",
                type: "warning",
                position: "center"
            });

            $('#Hasta').select();
            return false;
        } else if (parseFloat(Desde) > parseFloat(Hasta)) {
            notif({
                msg: "El valor mínimo es superior al valor máximo.",
                type: "warning",
                position: "center"
            });

            $('#Desde').select();
        } else if (parseFloat(Desde) == parseFloat(Hasta) && Desde != "") {
            notif({
                msg: "Los rangos no pueden ser iguales.",
                type: "warning",
                position: "center"
            });

            $('#Desde').select();
        } else {
            if (Desde == -99999999) {
                Desde = '';
            } else {
                Desde = Desde.toString().replace(".", ",")
            }
            if (Hasta == 99999999) {
                Hasta = '';
            } else {
                Hasta = Hasta.toString().replace(".", ",");
            }
            $.ajax({
                url: "/AnalisisMicrobiologicos/AddOrEdit_Rango/",
                method: "POST",
                data: {
                    Codigo_Interno_Rango: Codigo_Interno_Rango,
                    Codigo_Interno_Analisis: Codigo_Interno_Analisis,
                    Desde: Desde,
                    Hasta: Hasta,
                },
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                        CargarRangos();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
    }

    function editarRangos(Codigo) {
        ActualizarTablaRangos();
        $('#RangosTabla').find('tr').find('td').each(
            function () {

                if ($(this).index() == 0) {

                    if ($(this).html() == Codigo) {

                        $(this).parent('tr').find('td').each(function () {

                            if ($(this).index() == 1) {
                                if ($(this).html() == '- ꝏ') {
                                    var Min = '';
                                } else {
                                    var Min = $(this).html();
                                }

                                $(this).html("");

                                $(this).prepend('<input id="nuevoMin" style="text-transform:capitalize;" class="col-md-12"/>');
                                $("#nuevoMin").val(Min);
                                $('#nuevoMin').on("change", function () {
                                    let desde = $("#nuevoMin").val().toString();
                                    let regexp = desde.match("[,]");
                                    if (regexp) {
                                        let reemplazo = $("#nuevoMin").val().toString().replace(",", ".");
                                        $("#nuevoMin").val(reemplazo);
                                    }
                                });
                               
                                $('#nuevoMin').select();

                            }
                            if ($(this).index() == 2) {
                                if ($(this).html() == 'ꝏ') {
                                    var Max = '';
                                } else {
                                    var Max = $(this).html();
                                }

                                $(this).html("");

                                $(this).prepend('<input id="nuevoMax" style="text-transform:capitalize;" class="col-md-12"/>');
                                $("#nuevoMax").val(Max);
                                $('#nuevoMax').on("change", function () {
                                    let hasta = $("#nuevoMax").val().toString();
                                    let regexp = hasta.match("[,]");
                                    if (regexp) {
                                        let reemplazo = $("#nuevoMax").val().toString().replace(",", ".");
                                        $("#nuevoMax").val(reemplazo);
                                    }
                                });

                            }
                            if ($(this).index() == 3) {
                                $(this).html("");

                                $(this).prepend(
                                    "<a class='btn btn-success btn-sm' onclick=confirmarEdicionRangos('" + Codigo + "')>" +
                                    "<span class='glyphicon glyphicon-ok'></span>" +
                                    "</a>" +
                                    "<a class='btn btn-danger btn-sm' onclick=CargarRangos()>" +
                                    "<span class='glyphicon glyphicon-remove'></span>" +
                                    "</a>"

                                );
                            }
                        });
                    }
                }
            })

        $("#nuevoMax").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");

                confirmarEdicionRangos(Codigo);
            }
        });
    }

    function confirmarEdicionRangos(Codigo) {
        let Codigo_Interno_Rango = Codigo;
        let Codigo_Interno_Analisis = $("#Codigo_Interno_Analisis").val();
        let nuevoMin = parseFloat($("#nuevoMin").val()).toFixed(3);
        let nuevoMax = parseFloat($("#nuevoMax").val()).toFixed(3);

        if ($("#nuevoMin").val() == '') {
            nuevoMin = '';
        } else if (isNaN(nuevoMin)) {
            notif({
                msg: "Por favor, ingrese un valor mínimo válido.",
                type: "warning",
                position: "center"
            });

            $('#nuevoMin').select();
            return false;
        }
        if ($("#nuevoMax").val() == '') {
            nuevoMax = '';
        } else if (isNaN(nuevoMax)) {
            notif({
                msg: "Por favor, ingrese un valor máximo válido.",
                type: "warning",
                position: "center"
            });

            $('#nuevoMax').select();
            return false;
        }
        existeMinInfinito = false;
        existeMaxInfinito = false;
        for (let i in listadoRangos) {
            if (listadoRangos[i].Desde == '' || listadoRangos[i].Desde == null) {
                existeMinInfinito = true;
            }
            if (listadoRangos[i].Hasta == '' || listadoRangos[i].Hasta == null) {
                existeMaxInfinito = true;
            }
            if (listadoRangos[i].Desde == nuevoMin) {
                notif({
                    msg: "Ya existe un rango ingresado con ese valor.",
                    type: "warning",
                    position: "center"
                });

                $('#nuevoMin').select();
                return false;
            } else if (existeMinInfinito == true && nuevoMin == '') {
                notif({
                    msg: "Ya existe un rango ingresado con ese valor.",
                    type: "warning",
                    position: "center"
                });

                $('#nuevoMin').select();
                return false;
            }
            if (listadoRangos[i].Hasta == nuevoMax) {
                notif({
                    msg: "Ya existe un rango ingresado con ese valor.",
                    type: "warning",
                    position: "center"
                });

                $('#nuevoMax').select();
                return false;
            } else if (existeMaxInfinito == true && nuevoMax == '') {
                notif({
                    msg: "Ya existe un rango ingresado con ese valor.",
                    type: "warning",
                    position: "center"
                });

                $('#nuevoMax').select();
                return false;
            }
        }


        if ($("#nuevoMin").val() == $("#nuevoMax").val() && nuevoMin != '') {
            notif({
                msg: "Los rangos no pueden ser iguales.",
                type: "warning",
                position: "center"
            });

            $('#nuevoMin').select();
            return false;
        } else if (parseFloat(nuevoMin) > parseFloat(nuevoMax) && nuevoMax != '') {
            notif({
                msg: "El valor mínimo es superior al valor máximo",
                type: "warning",
                position: "center"
            });

            $('#nuevoMin').select();
            return false;
        } else {
            nuevoMin = nuevoMin.toString().replace(".", ",")
            nuevoMax = nuevoMax.toString().replace(".", ",");
            $.ajax({
                type: "POST",
                url: "/AnalisisMicrobiologicos/AddOrEdit_Rango/",
                data: {
                    Codigo_Interno_Rango: Codigo_Interno_Rango,
                    Codigo_Interno_Analisis: Codigo_Interno_Analisis,
                    Desde: nuevoMin,
                    Hasta: nuevoMax,
                },
                success: function (data) {
                    if (data.success) {
                        CargarRangos();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
    };

    function modificarInput(Codigo) {
        $('input.codigo').text(Codigo);

    }
    function eliminarRango() {
        $.ajax({
            type: "POST",
            url: "/AnalisisMicrobiologicos/Delete_Rango/",
            data: { Codigo_Interno_Rango: $('input.codigo').text() },
            success: function (data) {
                if (data.success) {
                    $('#modalDelete').modal('hide');
                    CargarRangos();

                    notif({
                        msg: data.message,
                        type: "success",
                        position: "center"
                    });
                }
                else {

                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center"
                    });
                }
            }
        });
    }
</script>
