﻿@{
    ViewBag.Title = "Análisis Microbiológicos: Análisis";

}

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteAnalisis()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<h2>Análisis Microbiológicos: Análisis</h2>
<div id="dropdownEstados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
</div>
<table id="ListadoAnalisisTabla" class="display compact" style="width:100%"></table>

<input class="codigo" hidden />

@section scripts{
    <script>
        function CambiarEstado(codigo) {
            $.ajax({
                url: "/AnalisisMicrobiologicos/CambiarEstado",
                data: {
                    Codigo_Interno_Analisis: codigo
                },
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: "Cambio de Estado realizado correctamente",
                            type: "success",
                            position: "center"
                        });
                        ActualizarListado();
                    }
                    else {
                        if (data.message == "Iniciar Sesion") {
                            AbrirModalLogin();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            })
        }

        function CargarListado() {
            dataTable = $("#ListadoAnalisisTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "responsive": true,
                "data": listadoAnalisis,
                "columns": [
                    {
                        "data": "Codigo_Interno_Analisis",
                        "title": "Codigo",
                        "width": "25%"
                    },
                    {
                        "data": "Descripcion",
                        "title": "Descripcion",

                    },
                    {
                        "data": "Codigo_Interno_Analisis",
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data, row) {
                            if ($("#ListadoEstados").val() == "true") {
                                return "<a class='btn btn-default btn-sm' onclick=EditarAnalisis('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                    "<a class='btn btn-warning btn-sm' onclick=CambiarEstado('" + data + "')><span>Desactivar</span></a>";
                            } else {
                                return "<a class='btn btn-default btn-sm' onclick=EditarAnalisis('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                    "<a class='btn btn-success btn-sm' onclick=CambiarEstado('" + data + "')><span>Activar</span></a>";
                            }
                        },
                    }
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    { className: "text-center", "targets": [0, 1, 2] }
                ],
                "order": [[1, "asc"]],
                dom: 'Bfrtp',
                buttons: [
                    {
                        text: '<span class="glyphicon glyphicon-plus"></span>',
                        className: 'nuevo',
                        action: function () {
                            AgregarAnalisis();
                        },
                    },
                    {
                        text: $('#dropdownEstados').html(),
                        className: 'botonDropdown'

                    }
                ],
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                    $('#dropdownEstados').html("");

                    $("#ListadoEstados").change(function () {
                        let estado = $('option:selected', this).val();
                        dataTable.ajax.url('/AnalisisMicrobiologicos/GetListado?estado=' + estado).load();
                    });
                },
            });
        }

        function CargarAnalisis() {

            $.ajax({
                type: "GET",
                url: "/AnalisisMicrobiologicos/GetListado/",
                dataType: "json",
                success: function (data) {
                    listadoAnalisis = data.data;
                    CargarListado();
                }
            });
        };

        function ActualizarListado() {
            $("#ListadoEstados").val("true");
            dataTable.ajax.url('/AnalisisMicrobiologicos/GetListado').load();
        }

        function MostrarMensaje() {

            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };

        $(document).ready(function () {
            CargarAnalisis();
            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje();
            }
            $('input, input-group').focus(function () { $(this).select() });
        });


        var listadoAnalisis = [];

        /* METODO PARA AGREGAR UN REGISTRO*/

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                        }
                        else {

                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
            return false;
        }


        function AgregarAnalisis() {
            $("#ListadoEstados").val("true");
            var filaAgregada = false;

            $('#ListadoAnalisisTabla').find('#insert').each(function () {
                filaAgregada = true;
            });

            if (filaAgregada == false) {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/

                var html = '<tr>';
                html += '<td><div id="Codigo_Analisis" class="col-md-12 text-box single-line" style="text-align:center"></div></td>';
                html += '<td><input id="Descripcion_Analisis" placeholder="Descripcion" style="text-transform:capitalize;" class="col-md-12 text-box single-line"></input></td>';
                html += '<td class="text-center"><button type="button" name="insert" id="insert" onclick="InsertarAnalisis()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span></button>' +
                    '<button type="button" name="cancel" id="cancel" onclick="ActualizarListado()" class="btn btn-danger btn-sm" style="margin-left: 5px"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';

                $('#ListadoAnalisisTabla tbody').prepend(html);
                $("#Descripcion_Analisis").focus();
            }
        };
        function capitalizarAnalisis(string) {
            return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
        }
        function InsertarAnalisis() {
            var Codigo_Interno_Analisis = $('#Codigo_Analisis').html();
            var Descripcion = $('#Descripcion_Analisis').val();
            Descripcion = capitalizarAnalisis(Descripcion);
            if (Descripcion != '') {
                $.ajax({
                    url: "/AnalisisMicrobiologicos/AddOrEdit_Listado/",
                    method: "POST",
                    data: { Codigo_Interno_Analisis: Codigo_Interno_Analisis, Descripcion: Descripcion },
                    success: function (data) {
                        if (data.success) {
                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                            ActualizarListado();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });

                            $('#Codigo_Analisis').focus();
                        }
                    }
                });
            }
            else {
                notif({
                    msg: "Ingrese una Descripción.",
                    type: "error",
                    position: "center"
                });
            }
        };

        function EditarAnalisis(Codigo) {
            $("#ListadoEstados").val("true");
            $('#ListadoAnalisisTabla').find('tr').find('td').each(

                function () {
                    if ($(this).index() == 0) {

                        if ($(this).html() == Codigo) {

                            $(this).parent('tr').find('td').each(function () {

                                if ($(this).index() == 1) {

                                    var Descripcion = $(this).html();

                                    $(this).html("");

                                    $(this).prepend('<input id="nuevaDescripcion" style="text-transform:capitalize;" class="col-md-12"/>');

                                    $('#nuevaDescripcion').val(Descripcion);

                                    $('#nuevaDescripcion').focus();
                                }

                                if ($(this).index() == 2) {
                                    $(this).html("");

                                    $(this).prepend(
                                        "<a class='btn btn-success btn-sm' onclick=ConfirmarEdicionAnalisis('" + Codigo + "')>" +
                                        "<span class='glyphicon glyphicon-ok'></span>" +
                                        "</a>" +
                                        "<a class='btn btn-danger btn-sm' onclick=ActualizarListado()>" +
                                        "<span class='glyphicon glyphicon-remove'></span>" +
                                        "</a>"

                                    );
                                }

                            });
                        }
                    }
                }
            )

            $("#nuevaDescripcion").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");

                    ConfirmarEdicionAnalisis(Codigo);
                }
            });
        };


        function ConfirmarEdicionAnalisis(Codigo) {
            if ($('#nuevaDescripcion').val() == '') {
                notif({
                    msg: "Ingrese una Descripción.",
                    type: "error",
                    position: "center"
                });
            } else {
                $.ajax({
                    type: "POST",
                    url: "/AnalisisMicrobiologicos/AddOrEdit_Listado/",
                    data: { Codigo_Interno_Analisis: Codigo, Descripcion: $('#nuevaDescripcion').val() },
                    success: function (data) {
                        if (data.success) {
                            ActualizarListado();

                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                        }
                        else {

                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
        };

        function modificarInput(Codigo) {
            $('input.codigo').text(Codigo);
        }

        function DeleteAnalisis() {
            $.ajax({
                type: "POST",
                url: "/AnalisisMicrobiologicos/Delete/",
                data: { Codigo_Interno_Analisis: $('input.codigo').text() },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');
                        CargarAnalisis();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

    </script>
}











