﻿@{
    ViewBag.Title = "Análisis Microbiológicos: Resultados";
}

<h2>Análisis Microbiológicos: Resultados</h2>
<div id="dropdownResultados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoResultados", ViewBag.ListadoResultados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize;" })
</div>
<div id="dropdownLotes" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoLotes", ViewBag.ListadoResultados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize;" })
</div>
<table id="ResultadosTabla" class="display compact" style="width:100%"></table>
<table id="LotesTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="eliminarResultado()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script>
        var Codigo_Resultado = 0;
        var datatableResultados;
        var datatableLotes;
        function MostrarMensaje() {
            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };

        function modificarInput(Codigo_Resultado) {
            $('input.codigo').text(Codigo_Resultado);
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                        }
                        else {

                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
            return false;
        }

        function eliminarResultado() {
            $.ajax({
                type: "POST",
                url: "/AnalisisMicrobiologicos/Delete_Resultado/",
                data: { Codigo_Interno_Resultado: parseInt($('input.codigo').text()) },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                },
                complete: function () {
                    datatableResultados.ajax.reload(null, false);
                    datatableLotes.ajax.reload(null, false);
                }
            });
        };


        function CargarResultados() {
            datatableResultados = $("#ResultadosTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/AnalisisMicrobiologicos/GetResultados",
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    {
                        "data": "Fecha",
                        "title": "Fecha de Análisis",
                        render: function (data) {
                            if (data != null) {
                                return moment(data).format("DD/MM/YYYY");
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "Lote",
                        "title": "Lote",
                    },
                    {
                        "data": "Comentario",
                        "title": "Comentario",
                        render: function (data) {
                            if (data != null) {
                                return data;
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "Codigo_Interno_Resultado",
                        "title": "Herramientas",
                        "render": function (data, type, row, meta) {
                            let botones = `<a class='btn btn-default btn-sm' href='/AnalisisMicrobiologicos/AddOrEdit/${row.Codigo_Interno_Resultado}'><span class='glyphicon glyphicon-pencil'></span></a>`;
                            botones += `<a class='btn btn-danger btn-sm' onclick=modificarInput('${row.Codigo_Interno_Resultado}') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>`;

                            return botones;
                        },
                    }

                ],
                "language": idiomaEspañol,
                dom: 'Bfrtip',
                lengthMenu: [15],
                buttons: [
                    {
                        text: '<span class="glyphicon glyphicon-plus">',
                        className: 'nuevo',
                        action: function () {
                            window.location.href = "/AnalisisMicrobiologicos/AddOrEdit/";
                        }
                    },
                    {
                        text: $('#dropdownResultados').html(),
                        className: 'botonDropdown'

                    }
                ],
                "columnDefs": [
                      { className: "text-center", "targets": [0, 1, 2, 3] }
                ],
                "order": [[0, "desc"]],
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                    $("#dropdownResultados").html("");
                    $("#ListadoResultados").val("false");
                    $("#ListadoResultados").change(function () {
                        if ($(this).val() == "true") {
                            $("#ResultadosTabla_wrapper").hide();
                            $("#LotesTabla_wrapper").show();
                            $("#ListadoLotes").val("true");
                        }
                    });
                }
            });
        };

        $(document).ready(function () {

            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
            CargarResultados();
            $("#ResultadosTabla_wrapper").hide();
            CargarLotesSinAnalizar(false);
            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje();
            }
        });
    </script>
}


