﻿@using MVC_Produccion.ViewModels
@model LoginViewModel
@{
    Layout = null;
}
<div class="modal-header col-md-12">
    <h4 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            <div class="col-md-12 form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Usuario, new { @class = "control-label" }):
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" }):
                </div>
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.Password, new {@id="Contra", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" onclick="Login($('FormLogin'))">Iniciar Sesión</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
</div>
<script>
    function Login() {
        var token = $('input[name=__RequestVerificationToken]').val();
        $.ajax({
            type: "POST",
            url: "/Account/LoginModal/",
            data: {
                __RequestVerificationToken: token,
                UserName: $("#Usuario").val(),
                Password: $("#Contra").val(),
                RememberMe: false
            },
            success: function (data) {

                if (!data.success) {
                    notif({
                        msg: data.message,
                        type: "error",
                        width: 400,
                        timeout: 4000,
                        multiline: true,
                        position: "center"
                    });
                    if (data.error == 1)
                        $('#Password').focus();
                    if (data.error == 2)
                        $('#Usuario').focus();
                }
                else {
                    notif({
                        msg: "Sesión Iniciada",
                        type: "success",
                        position: "center"
                    });
                    $('#modalLogin').modal('hide');
                }
            }
        });
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





