﻿@model MVC_Produccion.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
    Layout = null;
}

<div class="modal-header modalCreate col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Registrarse</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id= "FormRegister" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body modalCreate">
        <div class="col-md-12 caja-contenedora flexible2">
            <div class="col-md-12 form-group">
                <div class="col-md-6 form-medio">
                    @Html.LabelFor(m => m.Usuario, new { @class = "control-label" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control", @id = "UsuarioRegister" })
                    @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-12 form-group">
                <div class="col-md-6 form-medio">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                </div>
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "PasswordRegister" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-12 form-group">
                    <div class="col-md-6 form-medio">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    </div>
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
        </div>
    </div>

    <div class="modal-footer modalCreate">
        <button class="btn btn-success" type="button" onclick="Register($('#FormRegister'))">Registrarse</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>

    <script>

        function Register(Formulario) {
            //VALIDADOR DEL FORMULARIO

            $.validator.unobtrusive.parse(Formulario);

            if ($(Formulario).valid()) {

                $.ajax({
                    type: "POST",
                    url: "/Sesion/Register/",
                    data: $(Formulario).serialize(),
                    success: function (data) {
                        if (!data.success) {

                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });

                            $('#UsuarioRegister').focus();

                        } else {
                            window.location.href = "/Home/Index/"

                        }
                    }
                });
            }

            return false;
        }
    </script>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
