﻿@model AccesoDatos.Contexto.Produccion.Lavados

@{
    ViewBag.Title = "AddOrEdit";
}


@using (Html.BeginForm())
{
<div class="col-md-12 contenedor-formulas-add flexible2">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Activo)
    @if (ViewBag.agregar)
    {
        <input type="text" hidden value="true" name="agregar" />
    }
    else
    {
        <input type="text" hidden value="false" name="agregar" />
    }
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <hr />
        <div class="col-md-12 caja-contenedora" style="padding-bottom:0px !important">
            <div class="col-md-12 caja-sector">
                <div class="col-md-2 form-medio">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Codigo,"Código", htmlAttributes: new { @class = "control-label col-md-2" })

                    </div>
                    <div class="col-md-6 form-medio">
                        @Html.EditorFor(model => model.Codigo, "", new { htmlAttributes = new { @readOnly = "true", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-10 form-medio">
                    <div class="col-md-1 form-medio">
                        @Html.LabelFor(model => model.Descripcion,"Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-11 form-medio">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 flexible">
            <div class="col-md-12 contenedor-btns-form">
                <div class="form-group" style="margin:0px !important">
                    <input type="submit" value="Confirmar" class="btn btn-primary" />
                    <a class="btn btn-default" href="@Url.Action("Index", "Lavados")">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>
}

