﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Limpieza";

    Entities db = new Entities();
}

<h2>Lavados</h2>
<div id="dropdownEstados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
</div>
<table id="LavadosTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Delete()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Verificacion Delete-->
<div class="modal fade" id="modalVerificarBorrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="DeleteInsumos()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script>
        dataTableLavados = null;
        var listadoLavados = [];
        function CambiarEstadoLavado(codigo) {
            $.ajax({
                url: "/Lavados/CambiarEstado",
                data: {
                    codigo: codigo
                },
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: "Se cambio Correctamente de Estado",
                            type: "success",
                            position: "center"
                        });
                        $("#ListadoEstados").val("true");
                        //$("#ListadoEstados option[value=" + '"true"' + "]").attr("selected", true);
                        // $("#ListadoEstados option:contains(Activo)").attr('selected', true);
                        dataTableLavados.ajax.url('/Lavados/GetData').load();
                    }
                    else {
                        if (data.message == "Iniciar Sesion") {
                            AbrirModalLogin();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            })
        }

        function VerificarFilasSeleccionadas() {

            var bandera = false;

            $('#InsumosTabla').find('tr.selected').each(function () {
                bandera = true;
            });

            if (bandera == true) {

                $('.btn-borrar').prop("disabled", false);
                $(".btn-borrar").addClass("rojo");
            }
        }

        function EditarLavado(Codigo) {            
            //dataTableLavados.clear();
            //dataTableLavados.rows.add(listadoLavados);
            //dataTableLavados.draw();
            var divs = $("div[name='divAcceptReject']")
            if (divs.length>0)  {
                notif({
                msg: "existen lavados sin terminar de modificar",
                type: "warning",
                position: "center"
                });
                return;
            }
             
            $('#LavadosTabla').find('tr').find('td').each(

                function () {
                    if ($(this).index() == 0) {

                        if ($(this).html() == Codigo) {

                            $(this).parent('tr').find('td').each(function () {

                                if ($(this).index() == 1) {

                                    var Nombre = $(this).html();

                                    $(this).html("");

                                    $(this).prepend('<input id="nuevoNombre" onfocus="this.select();" onmouseup="return false;" style="text-transform:capitalize; width:100%"/>');

                                    $('#nuevoNombre').val(Nombre);

                                    $('#nuevoNombre').focus();
                                }

                                if ($(this).index() == 2) {
                                    $(this).html("");

                                    $(this).prepend(
                                        "<div name='divAcceptReject' style='display:flex; flex-direction:row; justify-content:start;padding-left: 4em'>"+
                                        "<a class='btn btn-success btn-sm' onclick=confirmarEdicion('" + Codigo + "')>" +
                                        "<span class='glyphicon glyphicon-ok'></span>" +
                                        "</a>" +
                                        "<a class='btn btn-danger btn-sm' onclick=refrescarLavados()>" +
                                        "<span class='glyphicon glyphicon-remove'></span>" +
                                        "</a>" +
                                        "</div>"

                                    );
                                }

                            });
                        }
                    }
                }
            )

            $("#nuevoNombre").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");

                    confirmarEdicion(Codigo);
                }
            });
        };

        function MostrarMensaje() {
            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };
        function refrescarLavados() {
            $("#ListadoEstados").val("true");
            dataTableLavados.ajax.url('/Lavados/GetData').load();
        };
        function confirmarEdicion(Codigo) {
                $.ajax({
                    type: "POST",
                    url: "/Lavados/AddOrEdit/",
                    data: { Codigo: Codigo,  Descripcion: $('#nuevoNombre').val() , agregar:false},
                    success: function (data) {
                        if (data.success) {
                            refrescarLavados();
                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                        }
                        else {

                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            };
        $(document).ready(function () {
            CargarLavados();

            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje();
            }
        });


        function modificarInput(Codigo) {
            $('input.codigo').text(Codigo);
        }


        function Delete() {
            $.ajax({
                type: "POST",
                url: "/Lavados/Delete/",
                data: { Codigo: $('input.codigo').text() },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');
                        refrescarLavados();


                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

    </script>
}
