﻿@model AccesoDatos.Contexto.Produccion.Traspaso_Fabricas
@{
    Layout = null;
}

<div class="modal-header modalCreate" style="display:flex; justify-content:space-between">
    @{
        if (Model.Codigo_Interno_Traspaso == 0)
        {
            <h4 class="modal-title" id="tituloModalAddOrEdit">Nuevo</h4>
        }
        else
        {
            <h4 class="modal-title" id="tituloModalAddOrEdit">Editar</h4>
        }
    }
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">    
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@using (Html.BeginForm("AddOrEdit", "TraspasosFabricas", FormMethod.Post, new { @id = "FormAddOrEdit" }))
{
    <div class="modal-body modalCreate">
        <div class="col-md-12 flexible2">
            <div class="col-md-12 caja-contenedora flexible2">
                @if (Model.Motivo_Rechazo != null)
                {
                    if (Model.Motivo_Rechazo != "")
                    {
                        <p>Este remito fue rechazado por el siguiente motivo: <span class="motivo_rechazo">@Html.DisplayFor(model => model.Motivo_Rechazo)</span></p>
                    }
                }
                @Html.HiddenFor(model => model.Codigo_Interno_Traspaso, new { htmlAttributes = new { @class = "form-control" } })
                <div class="col-md-12 caja-sector-modal">
                    <div class="col-md-3 form-medio">
                        @Html.HiddenFor(model => model.Historico)
                        @Html.HiddenFor(model => model.Motivo_Rechazo)
                        @Html.LabelFor(model => model.Fecha, "Fecha", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right;width:100px;margin-left:10px;" } })
                        @Html.ValidationMessageFor(model => model.Fecha)
                    </div>
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(m => m.Origen, "Fabrica Origen", new { @class = "control-label" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.Origen, new { htmlAttributes = new { @class = "form-control", @style = "width:50px;margin-left:10px;", type = "text" } })
                            <span class="input-group-addon" style="max-height:25px;padding:3px 12px;"><a href="#" onclick="AbrirModalFabricasOrigen()" id="Lupa_Origen"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        <p style="text-transform:capitalize; margin:5px" id="Nombre_Traspaso_Origen">@ViewBag.Origen</p>
                    </div>
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(m => m.Fabrica, "Fabrica Destino", new { @class = "control-label" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.Fabrica, new { htmlAttributes = new { @class = "form-control", @style = "width:50px;margin-left:10px;", type = "text", required = "required" } })
                            <span class="input-group-addon" style="max-height:25px;padding:3px 12px;"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        <p style="text-transform:capitalize; margin:5px" id="Nombre_Fabrica">@ViewBag.Fabrica</p>
                    </div>
                </div>
                <div class="col-md-12 caja-sector-modal">
                    <div class="col-md-3 form-medio">
                        <div class="col-md-4 form-medio">
                            @Html.LabelFor(model => model.Prefijo, "Prefijo", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6 form-medio">
                            @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                            @Html.ValidationMessageFor(model => model.Prefijo)
                        </div>
                    </div>
                    <div class="col-md-5 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.Numero_Comprobante, "Número de Comprobante", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4 form-medio">
                            @Html.EditorFor(model => model.Numero_Comprobante, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                            @Html.ValidationMessageFor(model => model.Numero_Comprobante)
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-sector-modal">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-2 form-medio">
                            @Html.LabelFor(model => model.Comentario, "Comentario", new { @class = "control-label" })
                        </div>
                        <div class="col-md-10 form-medio">
                            @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-contenedora">
                    <table id="DetallesTraspasosTabla" class="display compact" style="width:100%"></table>
                    <h4 class="modal-title" id="tituloModalAddOrEdit">Totales Por Producto:</h4>
                    <table id="TotalesProductosProduccion" class="display compact" style="width:100%"></table>
                    @if (ViewBag.UsaBandejas)
                {
                    <div class="col-md-6">
                        @{Html.RenderAction("TablaBandejas", "Bandejas", new { parametroPost = "bandeja", codigoTraspaso = Model.Codigo_Interno_Traspaso });}
                    </div>
                }
                </div>


                <div id="DetallesTraspaso" style="display:none"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer modalCreate">
        <button id="crearTraspaso" type="button" class="btn btn-primary">Confirmar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
}

<!-- CARGA DE DATOS PARA VARIOS LOTES -->
<div id="modalCargaDatosVariosLotes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalCargaDatosVariosLotesLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalCargaDatosVariosLotesLabel">Confirmar Traspaso De Varios Lotes</h4>
            </div>

            <div class="modal-body">
                <div class="row" id="tablaDatosVarios" style="max-height: 250px!important; overflow: hidden!important; overflow-y: scroll!important;">
                    <div class="col-xs-12">
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>Lote</th>
                                    <th>Cantidad</th>
                                    <th>Kilos</th>
                                </tr>
                            </thead>

                            <tbody class="listado-lotes"></tbody>

                        </table>
                    </div>

                </div>
            </div>

            <div class="modal-footer" style="margin-top: 52px;">
                <button id="cancelarCargaVariosLotes" type="button" class="btn btn-default">Cancelar</button>
                <button id="confirmarCargaVariosLotes" type="button" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<!-- /. CARGA DE DATOS PARA VARIOS LOTES -->

<script>
    var numero_comprobante = '@Model.Numero_Comprobante';
    var CantidadRestanteADespachar = 0;
    var KilosRestantesADespachar = 0;
    var CantidadTotalADespachar = 0;
    var KilosTotalesADespachar = 0;
    var listadoCantidadPorLote = [];
    $('#Fecha').datepicker();
    var listadoLotesLiberados = [];
    var listadoDetallesTraspaso = [];
    if ($('#Origen').val() != 0) {
        document.getElementById("Origen").readOnly = true;
        document.getElementById("Lupa_Origen").onclick = null;
    }

    $("#crearTraspaso").removeAttr('disabled');
    
    $("#FormAddOrEdit").submit(function (event) {
        $("#crearTraspaso").attr('disabled', 'disabled');
        $("#crearTraspaso").text("Procesando...");
    });

    $("#FormAddOrEdit").error(function () {
        $("#crearTraspaso").removeAttr('disabled');
        $("#crearTraspaso").text("Confirmar");
    });

    var operacionVariosProceso = 0;
    $(document).ready(function () {
        $("#confirmarCargaVariosLotes").click(function () {
            $("#modalCargaDatosVariosLotes").modal("toggle");

            let lotes = $("#modalCargaDatosVariosLotes .lotedata");
            let lotesExpedir = [];

            try {

                let producto = $('#tb-producto').val().toString().trim();

                for (let i = 0; i < lotes.length; i++) {
                    let lote = $(lotes[i]);

                    lotesExpedir.push({
                        lote: lote.children('.lote-numero').text(),
                        producto: producto,
                        cantidad: parseInt(lote.children('.lote-cantidad').children('input').val()),
                        kilos: parseFloat(lote.children('.lote-kilos').children('input').val())
                    });
                }

                lotesExpedir = lotesExpedir.filter(lote => (lote.cantidad > 0) || (lote.kilos > 0));

                operacionVariosProceso = lotesExpedir.length;
                for (let i = 0; i < lotesExpedir.length; i++) {
                    let loteExpedido = lotesExpedir[i];

                    ConfirmarTraspasoDeLote(
                        loteExpedido,
                        InsertarDetalleTraspaso
                    );
                }
            }

            catch (error) {
                console.log(error);
            }
        });

        $("#cancelarCargaVariosLotes").click(function () {
            $("#modalCargaDatosVariosLotes").modal("toggle");
        });
    });

    var datosLotesExpedirVarios = {
        cantidadTotal: 0,
        kilosTotales: 0.00,

        actualizarControlesVisuales: function () {
            let cantidadView = $("#lotesCantidadTotalVarios");
            let kilosView = $("#lotesKilosTotalesVarios");

            console.log("DATOS LOTES VARIOS: ", this);
            cantidadView.text(this.cantidadTotal);
            kilosView.text(this.kilosTotales.toFixed(3));
        },

        crearControlesVisuales: function () {
            $('#visualLotesVarios').remove();

            let controlEstadoLotes = $("<div id='visualLotesVarios' style='float:right;' class='row dataTables_info'> <div class='col-xs-12'> <p style='font-weight: bold;'>Cantidad Total: <span id='lotesCantidadTotalVarios' style='font-weight: 400;'>0</span></p> </div> <div class='col-xs-12'> <p style='font-weight: bold;'>Kilos Totales: <span id='lotesKilosTotalesVarios' style='font-weight: 400;'>0.00</span></p> </div> </div>");

            $('#modalCargaDatosVariosLotes #tablaDatosVarios').after(controlEstadoLotes);
        },

        calcularCantidad: function () {
            let cantidades = $('.lotedata .lote-cantidad input');
            let cantidadTotal = 0;

            for (let i = 0; i < cantidades.length; i++) {
                let value = parseInt($(cantidades[i]).val());

                if (value != NaN && value != null) {
                    cantidadTotal += value;
                }
            }

            this.cantidadTotal = cantidadTotal;
        },

        calcularKilos: function () {
            let kilos = $('.lotedata .lote-kilos input');
            let kilosTotales = 0.00;

            for (let i = 0; i < kilos.length; i++) {
                let value = parseFloat($(kilos[i]).val());

                if (value != NaN && value != null) {
                    kilosTotales += value;
                }
            }

            this.kilosTotales = kilosTotales;
        },

        actualizar: function () {
            this.calcularCantidad();
            this.calcularKilos();
            this.actualizarControlesVisuales();
        }
    };

    function AbrirModalVariosLotes(lotes) {
        $("#modalCargaDatosVariosLotes").modal("toggle");

        datosLotesExpedirVarios.crearControlesVisuales();

        let listado = $("#modalCargaDatosVariosLotes .listado-lotes").first();

        listado.html("");

        for (let i = 0; i < lotes.length; i++) {
            let lote = lotes[i];

            let nuevaFila = $(
                "<tr class='lotedata'>\
                   <td class='lote-numero'>{lote}</td>\
                   <td class='lote-cantidad text-right'><input class='text-right' value='{cantidad}'></input></td>\
                   <td class='lote-kilos text-right'><input class='text-right' value='{kilos}'></input></td>\
                </tr>"
                    .replace('{lote}', lote.lote)
                    .replace('{cantidad}', lote.cantidad)
                    .replace('{kilos}', parseFloat(lote.kilos).toFixed(3))
            );

            listado.append(nuevaFila);
        }

        datosLotesExpedirVarios.actualizar();

        $('.lotedata .lote-cantidad input').change(function () {
            setTimeout(
                () => {
                    datosLotesExpedirVarios.calcularCantidad();
                    datosLotesExpedirVarios.actualizarControlesVisuales();
                },
                100
            );
        });

        $('.lotedata .lote-kilos input').change(function () {
            setTimeout(() => {
                datosLotesExpedirVarios.calcularKilos();
                datosLotesExpedirVarios.actualizarControlesVisuales();
            }, 100);
        });

    }

    function ConfirmarTraspasoDeLote(loteObj, callback=null) {
        $.ajax({

            type: "GET",

            url: "/Envasados/ObtenerRestantePorSalidaMercaderia/",

            data: {
                Lote: loteObj.lote,
                Numero_Producto_Ventas: loteObj.producto,
                Codigo_Interno_Traspaso: $('#Codigo_Interno_Traspaso').val(),
                Codigo_Fabrica: parseInt($("#Origen").val())
            },

            success: function (data) {

                console.log("LOTEOBJ: ", loteObj);

                if (data.success) {
                    var objeto = data.objeto;
                    console.log(objeto);

                    let lotedata = {
                        lote: loteObj,
                        restante: {
                            cantidad: 0,
                            kilos: 0,
                        }
                    };

                    let fail = false;

                    if (!objeto.Codigo_Producto_Produccion) {
                        notif({
                            msg: "LOTE " + loteObj.lote + ":" + " No existe el lote seleccionado",
                            type: "error",
                            position: "center"
                        });

                        fail = true;
                    }

                    if (objeto.Existe == false) {

                        notif({
                            msg: "LOTE " + loteObj.lote + ":" + " No existen envasados de " + $('#data3').html().toString().trim() + " en el lote seleccionado",
                            type: "error",
                            position: "center"
                        });

                        fail = true;
                    }

                    if (!fail) {
                        lotedata.restante.cantidad = parseInt(objeto.Cantidad_Restante);
                        lotedata.restante.kilos = parseFloat(objeto.Kilos_Restantes).toFixed(3);

                        if (listadoDetallesTraspaso.length > 0) {
                            for (var t in listadoDetallesTraspaso) {
                                console.log('Compara productos de venta: ' + listadoDetallesTraspaso[t].Numero_Producto_Ventas.toString().trim() == loteObj.producto)
                                console.log('Compara lotes: ' + listadoDetallesTraspaso[t].Lote.toString().trim() == loteObj.lote);
                                if (listadoDetallesTraspaso[t].Numero_Producto_Ventas.toString().trim() == loteObj.producto && listadoDetallesTraspaso[t].Lote.toString().trim() == loteObj.lote) {
                                    console.log('Encuentra');
                                    console.log('Cantidad cargada: ' + parseInt(listadoDetallesTraspaso[t].Cantidad));
                                    console.log('Kilos cargados: ' + parseFloat(listadoDetallesTraspaso[t].Kilos).toFixed(3));

                                    lotedata.restante.cantidad -= parseInt(listadoDetallesTraspaso[t].Cantidad);
                                    lotedata.restante.kilos -= parseFloat(listadoDetallesTraspaso[t].Kilos).toFixed(3);

                                    console.log('Cantidad final: ' + lotedata.restante.cantidad);
                                    console.log('Kilos finales: ' + lotedata.restante.kilos);
                                }
                            }
                        }

                        console.log("Resta procesar: ", operacionVariosProceso);
                        if (callback) callback(lotedata);
                    }
                    else {
                        operacionVariosProceso--;
                        console.log("Resta procesar: ", operacionVariosProceso);
                    }
                }
                else {
                    operacionVariosProceso--;
                    console.log("Resta procesar: ", operacionVariosProceso);
                }

                if (operacionVariosProceso <= 0) {
                    console.log("FIN DE OPERACION LOTES");
                    TotalesProductosProduccion();
                    CargarDetallesTras();
                }
            },

            error: function (err) {
                operacionVariosProceso--;

                if (operacionVariosProceso <= 0) {
                    console.log("FIN DE OPERACION LOTES CON ERROR");
                    TotalesProductosProduccion();
                    CargarDetallesTras();
                }
            }
        });
    }

    var datosLotesExpedir = {
        cantidadTotal: 0,
        kilosTotales: 0.00,

        actualizarControlesVisuales: function () {
            let cantidadView = $("#lotesCantidadTotal");
            let kilosView = $("#lotesKilosTotales");

            console.log("DATOS LOTES: ", this);
            cantidadView.text(this.cantidadTotal);
            kilosView.text(this.kilosTotales.toFixed(3));
        },

        crearControlesVisuales: function () {
            $('#visualLotes').remove();
            let controlEstadoLotes = $("<div id='visualLotes' style='float: right; padding-top: 0.555em; margin-bottom: 10px!important; padding-right: 15px; clear:none!important;' class='row dataTables_info'> <div class='col-xs-12'> <p style='font-weight: bold;'>Cantidad Total: <span id='lotesCantidadTotal' style='font-weight: 400;'>0</span></p> </div> <div class='col-xs-12'> <p style='font-weight: bold;'>Kilos Totales: <span id='lotesKilosTotales' style='font-weight: 400;'>0.00</span></p> </div> </div>");
            $('#ModalLotesLiberados #EnvasadosTabla_wrapper #EnvasadosTabla_info').after(controlEstadoLotes);
        }
    };

    function CargarLotesLiberados() {
        if ($('#tb-producto').val() == "") {
            notif({
                msg: "Por favor ingrese un Producto.",
                type: "warning",
                position: "center"
            });
            $('#tb-producto').focus();
        }
        else if ($('#Origen').val() == "") {
            notif({
                msg: "Por favor ingrese la fabrica de origen.",
                type: "warning",
                position: "center"
            });
            $('#Origen').focus();
        }
        else {
            $.ajax({
                type: "GET",
                url: "/Envasados/ObtenerLotesLiberados/",
                data: {
                    Numero_Producto_Ventas: $('#tb-producto').val().toString().trim(),
                    Codigo_Interno_Traspaso: $('#Codigo_Interno_Traspaso').val(),
                    Codigo_Fabrica: $('#Origen').val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoLotesLiberados = [];
                        for (var i in data.data) {
                            listadoLotesLiberados.push(data.data[i]);
                        };
                        dataTable = $("#EnvasadosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            "responsive": true,
                            data: listadoLotesLiberados,
                            "columns": [
                                /*{
                                    "data": "Codigo_Interno_Envasado",
                                    "title": "Código",
                                    width: "15%"
                                },*/
                                {
                                    "data": "Lote",
                                    "title": "Lote"
                                },
                                /*{
                                    "data": "Fecha",
                                    "title": "Fecha",
                                    "render": function (data) { return moment(data).format('DD/MM/YYYY'); }
                                },
                                {
                                    "data": "Humedad",
                                    "title": "Humedad",
                                    render: function (data) {
                                        if (data == null) {
                                            return "";
                                        }
                                        else {
                                            return parseFloat(data).toFixed(4);
                                        }
                                    }
                                },*/
                                {
                                    "data": "Cantidad",
                                    "title": "Cantidad",
                                    render: function (data, type, full, meta) {
                                        for (var t in listadoDetallesTraspaso) {
                                            console.log('Numero producto ventas en array: ' + listadoDetallesTraspaso[t].Numero_Producto_Ventas);
                                            console.log('Numero producto ventas seleccionado: ' + $('#tb-producto').val().toString().trim());
                                            console.log('Lote en array:' + listadoDetallesTraspaso[t].Lote);
                                            console.log('Lote del lote liberado: ' + data);
                                            console.log('Cantidad expedida: ' + listadoDetallesTraspaso[t].Cantidad);
                                            console.log('Cantidad restante por expedir: ' + full.Cantidad);
                                            if (listadoDetallesTraspaso[t].Numero_Producto_Ventas == $('#tb-producto').val().toString().trim() && listadoDetallesTraspaso[t].Lote == full.Lote.trim()) {
                                                return parseInt(data) - listadoDetallesTraspaso[t].Cantidad;
                                            }
                                        }
                                        return data;
                                    }
                                },
                                {
                                    "data": "Kilos",
                                    "title": "Kilos",
                                    render: function (data, type, full, meta) {
                                        for (var t in listadoDetallesTraspaso) {
                                            let log = false;

                                            if (log) {
                                                console.log('Numero producto ventas en array: ' + listadoDetallesTraspaso[t].Numero_Producto_Ventas);
                                                console.log('Numero producto ventas seleccionado: ' + $('#tb-producto').val().toString().trim());
                                                console.log('Lote en array:' + listadoDetallesTraspaso[t].Lote);
                                                console.log('Lote del lote liberado: ' + data);
                                                console.log('Kilos expedidos: ' + listadoDetallesTraspaso[t].Kilos);
                                                console.log('Kilos restante por expedir: ' + full.Kilos);
                                            }

                                            if (listadoDetallesTraspaso[t].Numero_Producto_Ventas == $('#tb-producto').val().toString().trim() && listadoDetallesTraspaso[t].Lote == full.Lote.trim()) {
                                                return parseFloat(parseFloat(data) - parseFloat(listadoDetallesTraspaso[t].Kilos)).toFixed(3);
                                            }
                                        }

                                        return parseFloat(data).toFixed(3);
                                    }
                                }/*,
                                {
                                    "data": "Codigo_Interno_Envasado",
                                    "title": "Herramientas",
                                    width: "10%",
                                    "render": function (data) {
                                        return "<a class='btn btn-danger btn-xs' onclick='AbrirModalDelete(" + data + ")'><span class='glyphicon glyphicon-trash'></span></a>";
                                    },
                                }*/
                            ],
                            "columnDefs": [
                                {
                                    className: "text-right",
                                    targets: [1, 2]
                                },
                                {
                                    className: "text-center",
                                    targets: [0]
                                }
                            ],
                            "order": [[1, 'asc']],
                            "language": idiomaEspañol,
                            dom: 'Bfrtip',
                            buttons: [
                            ],
                            initComplete: function () {

                                this.fnSort([[0, 'asc']]);

                                // creo controles visuales para mostrar los datos
                                datosLotesExpedir.crearControlesVisuales();

                                // restauro valores por defecto
                                datosLotesExpedir.cantidadTotal = 0;
                                datosLotesExpedir.kilosTotales = 0.00;
                                filasEnvasados = [];

                                datosLotesExpedir.actualizarControlesVisuales();

                                $('#ModalLotesLiberados #EnvasadosTabla tbody').on('click', 'tr', function () {
                                    // actualizacion lotes seleccionados

                                    let loteN = $(this).children('td')[1].textContent.trim();
                                    let cantidad = parseInt($(this).children('td')[1].textContent.trim());
                                    let kilos = parseFloat($(this).children('td')[2].textContent.trim());
                                    let seleccionado = $(this).hasClass('selected');
                                    let operacion = seleccionado ? -1 : 1;

                                    datosLotesExpedir.cantidadTotal += cantidad * operacion;
                                    datosLotesExpedir.kilosTotales += kilos * operacion;

                                    datosLotesExpedir.actualizarControlesVisuales();

                                    if (seleccionado)
                                        filasEnvasados = filasEnvasados.filter(lote => lote.numero != loteN);
                                    else
                                        filasEnvasados.push({ numero: loteN, control: $(this) });

                                    $(this).toggleClass('selected');
                                });
                            }
                        });
                    }
                }
            });
        }
    }
    function ConfirmarProdLiberado(Producto_Seleccionado) {
        console.log(Producto_Seleccionado);
        console.log(Producto_Seleccionado == null);
        document.getElementById("tb-producto").disabled = true;
        if (Producto_Seleccionado == null) {
            Producto_Seleccionado = $('#ProductosVentasTabla tr.selected td:first-child').html();
            $("#tb-producto").val(Producto_Seleccionado);
            var Descripcion_Seleccionado = "";
            Descripcion_Seleccionado = $('#ProductosVentasTabla tr.selected td:nth-child(2)').html();
            $('#data3').html(Descripcion_Seleccionado);
        }
        else {
            $.ajax({
                type: "GET",
                url: "/ProductosVentas/GetOne/",
                data: { Codigo_de_Producto: Producto_Seleccionado },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        console.log(data);
                        var Producto = data.data;
                        console.log(Producto);
                        if (Producto != null) {
                            $("#data3").text(pad(Producto.Descripcion, 4));
                        }
                        else {
                            $('#data2').html("");
                            $("#data3").html("");
                            notif({
                                msg: "No existe un producto con el Código ingresado.",
                                type: "error",
                                position: "center"
                            });
                            $("#tb-producto").focus();
                        }
                    }
                    else {
                        $('#data2').html("");
                        $("#data3").html("");
                        notif({
                            msg: "No existe un producto con el Código ingresado.",
                            type: "error",
                            position: "center"
                        });
                        $("#tb-producto").focus();
                    }
                    document.getElementById("tb-producto").disabled = false;
                }
            });
        }

        if (Producto_Seleccionado != "") {
            $('#data2').html("");
            $("#data2").append('<div class="col-md-8 form-medio"><input id="tb-lote" placeholder="Lote" style="text-align:right; width:100%"/></div>' +
                '<div class="col-md-4" style="padding:0px !important; text-align:center"><a href="#" id="mostrarInsumos" onclick="AbrirModalLotesLiberados()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>'
            );
            $('#modalProductosVentas').modal('hide');
            /*$("#modalProductosVentas").on('hidden.bs.modal', function () {
                $('#tb-lote').focus();
            });*/
            $('#tb-lote').focus();
            $('#tb-lote').keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");
                    ConfirmarLoteLiberado($('#tb-lote').val());
                }
            });
        }
        else {
            notif({
                msg: "Por favor seleccione un registro de la tabla.",
                type: "warning",
                position: "center"
            });
        }
    }
    function AbrirModalProductosVentasLiberados() {
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Productos_Ventas/",
            success: function (data) {
                $('#ModalProductosVentas').html(data);
                $('#modalProductosVentas').modal('toggle');
                CargarProductosLiberados();
                $('#ConfirmarProducto').click(function () {
                    ConfirmarProdLiberado();
                });
                $('#ProductosVentasTabla tbody').on('click', 'tr.selected', function () {
                    ConfirmarProdLiberado();
                });
            }
        });
    }
    function ConfirmarLoteLiberado(Lote) {
        document.getElementById("tb-lote").disabled = true;
        if (Lote == null) {
            Lote = $('#EnvasadosTabla tr.selected td').html();
            $("#tb-lote").val(Lote);
        }
        console.log('Lote seleccionado: ' + Lote);
        $.ajax({
            type: "GET",
            url: "/Envasados/ObtenerRestantePorSalidaMercaderia/",
            data: {
                Lote: Lote,
                Numero_Producto_Ventas: $('#tb-producto').val().toString().trim(),
                Codigo_Interno_Traspaso: $('#Codigo_Interno_Traspaso').val(),
                Codigo_Fabrica: parseInt($("#Origen").val())
            },
            success: function (data) {
                if (data.success) {
                    var objeto = data.objeto;
                    console.log(objeto);
                    if (!objeto.Codigo_Producto_Produccion) {
                        $("#tb-lote").val('');
                        notif({
                            msg: "No existe el lote seleccionado",
                            type: "error",
                            position: "center"
                        });
                        $("#data5").html('');
                        $("#data6").html('');
                        document.getElementById("tb-lote").disabled = false;
                        return;
                    }
                    if (objeto.Existe == false) {
                        $("#tb-lote").val('');
                        notif({
                            msg: "No existen envadados de " + $('#data3').html().toString().trim() + " en el lote seleccionado",
                            type: "error",
                            position: "center"
                        });
                        $("#data5").html('');
                        $("#data6").html('');
                        document.getElementById("tb-lote").disabled = false;
                        return;
                    }
                    CantidadRestanteADespachar = parseInt(objeto.Cantidad_Restante);
                    KilosRestantesADespachar = parseFloat(objeto.Kilos_Restantes).toFixed(3);
                    console.log('Cantidad restante: ' + CantidadRestanteADespachar);
                    console.log('Kilos restantes: ' + KilosRestantesADespachar);
                    if (listadoDetallesTraspaso.length > 0) {
                        for (var t in listadoDetallesTraspaso) {
                            console.log('Compara productos de venta: ' + listadoDetallesTraspaso[t].Numero_Producto_Ventas.toString().trim() == $('#tb-producto').val().toString().trim())
                            console.log('Compara lotes: ' + listadoDetallesTraspaso[t].Lote.toString().trim() == Lote.toString().trim());
                            if (listadoDetallesTraspaso[t].Numero_Producto_Ventas.toString().trim() == $('#tb-producto').val().toString().trim() && listadoDetallesTraspaso[t].Lote.toString().trim() == Lote.toString().trim()) {
                                console.log('Encuentra');
                                console.log('Cantidad cargada: ' + parseInt(listadoDetallesTraspaso[t].Cantidad));
                                console.log('Kilos cargados: ' + parseFloat(listadoDetallesTraspaso[t].Kilos).toFixed(3));
                                CantidadRestanteADespachar -= parseInt(listadoDetallesTraspaso[t].Cantidad);
                                KilosRestantesADespachar -= parseFloat(listadoDetallesTraspaso[t].Kilos).toFixed(3);
                                console.log('Cantidad final: ' + CantidadRestanteADespachar);
                                console.log('Kilos finales: ' + KilosRestantesADespachar);
                            }
                        }
                        /*
                        for (var t in listadoCantidadPorLote) {
                            if (listadoCantidadPorLote[t].Numero_Producto_Ventas == $('#tb-producto').val()
                                && listadoCantidadPorLote[t].Lote == $("#tb-lote").val()) {
                                CantidadRestanteADespachar -= parseFloat(listadoCantidadPorLote[t].Cantidad);
                                KilosRestantesADespachar -= parseFloat(listadoCantidadPorLote[t].Kilos).toFixed(2);
                            }
                        }
                        */
                    }
                    $('#data5').html("");
                    $('#data6').html("");
                    if (CantidadRestanteADespachar <= 0 && KilosRestantesADespachar <= 0) {
                        $("#tb-lote").val('');
                        notif({
                            msg: "Ya se ha despachado el total del Lote seleccionado.",
                            type: "error",
                            position: "center"
                        });
                        $("#data5").html('');
                        $("#data6").html('');
                        document.getElementById("tb-lote").disabled = false;
                        return;
                    }
                    else {
                        $("#data5").append('<input id="nuevaCantidad" style="text-align:right" placeholder="Cantidad" class="col-md-12 text-box single-line" value="' + CantidadRestanteADespachar + '"></input>');
                        $("#data6").append('<input id="nuevosKilos" style="text-align:right" placeholder="Kilos" class="col-md-12 text-box single-line" value="' + parseFloat(KilosRestantesADespachar).toFixed(3) + '"></input>');
                        $('#modalLotesLiberados').modal('hide');
                        $('#modalLotesLiberados').on('hidden.bs.modal', function (e) {
                            $('#nuevaCantidad').focus();
                            $("#cantidadEditable").keyup(function (e) {
                                if (e.keyCode == 13) {
                                    $(this).trigger("enterKey");
                                    $("#kilosEditable").focus();
                                }
                            });
                            $("#kilosEditable").keyup(function (e) {
                                if (e.keyCode == 13) {
                                    $(this).trigger("enterKey");
                                    InsertarDetalleTraspaso();
                                }
                            });
                        })
                    }
                }
                else {
                    $("#tb-lote").val(Lote);
                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center"
                    });
                }
                document.getElementById("tb-lote").disabled = false;
            }
        });
    }

    var filasEnvasados = [];
    function AbrirModalLotesLiberados() {
        if ($('#Origen').val() == "") {
            notif({
                msg: "Por favor ingrese el traspaso de origen.",
                type: "warning",
                position: "center"
            });
            $('#Origen').focus();
            return;
        }
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Envasados/",
            success: function (data) {
                $('#ModalLotesLiberados').html(data);

                $('#tituloModalEnvasados').html('Envasados Del Producto: ' + $('#data3').html());

                CargarLotesLiberados();

                $('#modalLotesLiberados').modal('toggle');

                $('#ConfirmarEnvasado').click(function () {
                    let lotesQuery = $("#ModalLotesLiberados #EnvasadosTabla tbody tr.selected");

                    $('#modalLotesLiberados').modal('toggle');
                    let filas = filasEnvasados.map(lote => lote.control);
                    let lotes = [];
                    let excluirVacios= true;

                    for (let i = 0; i < filas.length; i++) {

                        let columna = {
                            fila: $(filas[i]),
                            lote: $(filas[i]).children('td')[0].textContent.trim(),
                            cantidad: parseInt($(filas[i]).children('td')[1].textContent.trim()),
                            kilos: parseFloat($(filas[i]).children('td')[2].textContent.trim())
                        };

                        if (excluirVacios) {
                            if ((columna.cantidad > 0) || (columna.kilos > 0))
                                lotes.push(columna);
                            else
                                columna.fila.toggleClass('selected');
                        }
                    }

                    if (lotes.length <= 1) {
                        ConfirmarLoteLiberado();
                    }
                    else {
                        AbrirModalVariosLotes(lotes);
                    }

                });
            }
        });
    }

    function CargarProductosLiberados() {
        dataTable = $("#ProductosVentasTabla").DataTable({
            "destroy": true,
            "autoWidth": true,
            "ajax": {
                "url": "/Envasados/ObtenerProductosLiberadosPorCalidad",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "Numero_Producto",
                    "title": "Nímero",
                    "width": "15%"
                },
                {
                    "data": "Descripcion_Producto",
                    "title": "Descripción",
                    "sClass": "mayusculas-texto"
                }
            ],
            "language": idiomaEspañol,
            "columnDefs": [
                { className: "text-center", "targets": [0] },
            ],
            "select": 'single',
            "order": [[1, "asc"]],
        });
    }
    function AbrirModalFabricasOrigen() {
        CargarFabricas();
        $('#modalFabricas').modal('toggle');
        document.getElementById("modalFabricas").style.zIndex = maximoZindex($("body"));
    }
    function AbrirModalFabricas() {
        CargarFabricas();
        $('#modalFabricas').modal('toggle');
    }
    function ConfirmarTraspaso() {
        $('#TraspasosFabricasTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 0) {
                var Numero = $(this).html();
                $('#Traspaso').val(Numero);
            }
            if ($(this).index() == 1) {
                var Nombre = $(this).html();
                $('#Nombre_Traspaso').html(Nombre);
            }
        });
        $('#modalTraspaso').modal('hide');
    }


    function ConfirmarEnvasado() {
        $('#EnvasadosTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 1) {
                var Lote = $(this).html();
                $('#Lote').val(Lote);
            }
        });
        $('#modalEnvasados').modal('hide');
    }
    function AbrirModalEnvasados() {
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Envasados/",
            success: function (data) {
                $('#ModalEnvasados').html(data);
                CargarEnvasadosModal();
                $('#ConfirmarEnvasado').click(function () {
                    ConfirmarEnvasado();
                });
                $('#EnvasadosTabla tbody').on('click', 'tr.selected', function () {
                    ConfirmarEnvasado();
                });
                $('#modalEnvasados').modal('toggle');
            }
        });
    }
    function CalcularTotalesPorLote() {
        
        listadoCantidadPorLote = [];
        listadoCantidadPorLote[0] = listadoDetallesTraspaso[0];
        for (var i in listadoDetallesTraspaso) {
            if (i > 0) {
                for (var t in listadoCantidadPorLote) {
                    var encontrado = false;
                    if (listadoCantidadPorLote[t].Numero_Producto_Ventas == listadoDetallesTraspaso[i].Numero_Producto_Ventas
                        && listadoCantidadPorLote[t].Lote == listadoDetallesTraspaso[i].Lote) {
                        listadoCantidadPorLote[t].Cantidad += parseFloat(listadoDetallesTraspaso[i].Cantidad);
                        listadoCantidadPorLote[t].Kilos += parseFloat(listadoDetallesTraspaso[i].Kilos);
                        encontrado = true;
                    }
                    if (encontrado == false)
                        listadoCantidadPorLote.push(listadoDetallesTraspaso[i]);
                }
            }
        }
        
    }

    function CargarDetallesTras() {
        agregandoDetalle = false;

        dataTable = $("#DetallesTraspasoTabla").DataTable({
            "bFilter": false,
            "destroy": true,
            "responsive": true,
            "autoWidth": true,
            "bInfo": false,
            "lengthChange": false,
            data: listadoDetallesTraspaso,
            "columns": [
                {
                    title: "Código",
                    data: "Codigo_Interno_Detalle",
                    width: "10%"
                },
                {
                    title: "Número",
                    data: "Numero_Producto_Ventas",
                    width: "15%"
                },
                {
                    title: "Lote",
                    data: "Lote"
                },
                {
                    title: "Producto",
                    data: "Descripcion_Producto",
                    sClass: "mayusculas-texto"
                },
                {
                    title: "Tipo",
                    data: "Tipo",
                    sClass: "mayusculas-texto",
                    render: function (data, type, row, meta) {
                        data = data != null ? data.toString() : data;

                        let habilitado = data == '3';

                        let canSelect = habilitado ? '' : 'disabled';

                        let seleccionoVentas = (data == '2') && (!habilitado)  ? 'selected' : '';
                        let seleccionoInsumo = (data == '1') && (!habilitado) ? 'selected' : '';
                        let codigo = row.Codigo_Interno_Detalle;

                        return `<select codigo='${codigo}' class='selectTipoDetalle' ${canSelect}>\
                                    <option value='' disabled></option>\
                                    <option value='2' ${seleccionoVentas}>Prod. Ventas</option>\
                                    <option value='1' ${seleccionoInsumo}>Insumo</option>\
                                </select>\
                               `;
                    },
                },
                {
                    "data": "Cantidad",
                    "title": "Cantidad",
                    render: function (data) {
                        if (data != null && parseFloat(data).toFixed(0) > 0)
                            return parseFloat(data).toFixed(0);
                        else
                            return "";
                    },
                    width: "10%"
                },
                {
                    "data": "Kilos",
                    "title": "Kilos",
                    render: function (data) {
                        if (data != null && parseFloat(data) > 0)
                            return parseFloat(data).toFixed(3);
                        else
                            return "";
                    }
                },
                {
                    title: "Herramientas",
                    data: "Codigo_Interno_Detalle",
                    "width": "10%",
                    "render": function (data) {
                        return "<a class='btn btn-default btn-xs' onclick=EditarDetalleTraspaso('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                            "<a class='btn btn-danger btn-xs' onclick=BorrarDetalleTras('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                    },
                }
            ],
            "language": idiomaEspañol,
            "columnDefs": [
                { className: "text-right", "targets": [5, 6] },
                { className: "text-center", "targets": [0, 1, 2, 4, 7] }
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '<span class="glyphicon glyphicon-plus">',
                    className: "nuevo nuevoDetalle",
                    action: function () {
                        AgregarDetalleTraspaso();
                    }
                }
            ],
            pageLength: 50,
            "order": [[1, "asc"]],
            initComplete: function (data) {
                agregandoDetalle = false;
                CalcularTotalesPorLote();
                TotalesProductosProduccion();

                $("#DetallesTraspasoTabla").on("change", ".selectTipoDetalle", function () {

                    let codigo = $(this).attr("codigo");
                    let tipo = $(this).val();

                    let detalle = listadoDetallesTraspaso.filter(d => d.Codigo_Interno_Detalle == codigo);

                    let index = listadoDetallesTraspaso.findIndex(d2 => d2.Codigo_Interno_Detalle == codigo);

                    if (detalle.length > 0)
                        detalle = detalle[0];
                    else
                        detalle = null;

                    if (detalle) {

                        detalle.Tipo = tipo;

                        if (index > 0) {

                            listadoDetallesTraspaso[index] = detalle;

                        }

                    }

                    console.log("Editado: ", detalle);

                });
            }
        });

        $("#DetallesTraspasoTabla").on("draw.dt", function () { agregandoDetalle = false; });
    }

    function CargarDetallesTraspaso() {
        var x = $.ajax({
            type: "GET",
            url: "/TraspasosFabricas/GetData/",
            data: { Codigo_Interno_Traspaso: $('#Codigo_Interno_Traspaso').val() },
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    listadoDetallesTraspaso = [];
                    for (var i in data.detalles) {

                        let ndetalle = data.detalles[i];
                        listadoDetallesTraspaso.push(ndetalle);

                    }
                    CargarDetallesTras();
                    TotalesProductosProduccion();
                }
                else {
                    notif({
                        msg: data.mensaje,
                        type: "error",
                        position: "center"
                    });
                }
            }
        });
    }
    function AbrirModalProductosVentas() {
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Productos_Ventas/",
            success: function (data) {
                $('#ModalProductosVentas').html(data);
                $('#ConfirmarProducto').click(function () {
                    ConfirmarProductoVentas();
                });
                CargarProductosVentas();
                $('#ProductosVentasTabla tbody').on('click', 'tr.selected', function () {
                    ConfirmarProductoVentas();
                });
                $('#modalProductosVentas').modal('toggle');
            }
        });
    }

    var agregandoDetalle = false;
    function AgregarDetalleTraspaso() {
        if (!agregandoDetalle) {
            agregandoDetalle = true;
            var filaAgregada = false;
            $('#DetallesTraspasoTabla').find('#insertarDetalle').each(function () {
                filaAgregada = true;
            });
            if (filaAgregada == false) {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
                var html = '<tr>';
                html += '<td id="data0" ></td>';
                html += '<td id="data1" class="col-md-12 form-medio">' +
                    '<div class="col-md-8 form-medio"><input id="tb-producto" placeholder="Número" style="text-align:right; width:100%"/></div>' +
                    '<div class="col-md-4" style="padding:0px !important; text-align:center"><a href="#" id="mostrarInsumos" onclick="AbrirModalProductosVentasLiberados()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>' +
                    '</td>';
                html += '<td id="data2" ></td>';
                html += '<td id="data3" style="text-transform:capitalize"></td>';
                html += '<td id="data4"></td>';
                html += '<td id="data5"></td>';
                html += '<td id="data6"></td>';

                html += '<td style="display:flex; justify-content:center"><a class="btn btn-success btn-xs" onclick="InsertarDetalleTraspaso()"><span class="glyphicon glyphicon-ok"></span></a>' +
                    '<a onclick="CargarDetallesTras()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>';
                html += '</tr>';
                $('#DetallesTraspasoTabla tbody').prepend(html);

                $("#tb-producto").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $(this).trigger("enterKey");
                        ConfirmarProdLiberado($('#tb-producto').val());
                    }
                });

                $('#tb-producto').focus();
            }
            else
                $('#tb-producto').focus();
        }
    }

    function InsertarDetalleTraspaso(lotedata = null) {
        agregandoDetalle = false;
        let nuevaCantidad = 0;
        let nuevosKilos = 0;
        let lote_codigo = -1;
        let codigo_producto = -1;
        let cantidad_restante = 0;
        let kilos_restante = 0;

        if (lotedata == null) {
            if ($('#tb-producto').val() == "" && $('#tb-lote').val() == "") {
                notif({
                    msg: "Por favor ingrese Producto y Lote.",
                    type: "warning",
                    position: "center"
                });
                $('#tb-producto').focus();
                return;
            }

            if ($('#tb-producto').val() == "") {
                notif({
                    msg: "Por favor ingrese un Producto.",
                    type: "warning",
                    position: "center"
                });
                $('#tb-producto').focus();
                return;
            }

            if ($('#tb-lote').val() == "") {
                notif({
                    msg: "Por favor ingrese un Lote.",
                    type: "warning",
                    position: "center"
                });
                $('#tb-lote').focus();
                return;
            }

            nuevaCantidad = parseInt($('#nuevaCantidad').val());
            nuevosKilos = parseFloat($('#nuevosKilos').val());
            lote_codigo = $('#tb-lote').val();
            codigo_producto = $('#tb-producto').val().toString().trim();
            cantidad_restante = CantidadRestanteADespachar;
            kilos_restante = parseFloat(KilosRestantesADespachar).toFixed(3);
        }
        else {
            console.log("LOTE DATA: ", lotedata);
            nuevaCantidad = lotedata.lote.cantidad != NaN ? lotedata.lote.cantidad : 0;
            nuevosKilos = lotedata.lote.kilos;
            lote_codigo = lotedata.lote.lote;
            codigo_producto = lotedata.lote.producto;
            cantidad_restante = lotedata.restante.cantidad;
            kilos_restante = parseFloat(lotedata.restante.kilos).toFixed(3);
        }

        try {
            if ((nuevaCantidad > cantidad_restante) || (nuevosKilos > kilos_restante)) {
                notif({
                    msg: "LOTE " + lote_codigo + ": No se pueden despachar más de " + parseFloat(cantidad_restante).toFixed(0) + " unidades y " + parseFloat(kilos_restante).toFixed(3) + " kilos.",
                    type: "error",
                    width: 500,
                    timeout: 4000,
                    multiline: true,
                    position: "center"
                });
                console.log('nuevaCantidad: '+nuevaCantidad);
                console.log('cantidad_restante: ' + cantidad_restante);
                console.log('nuevaCantidad es mayor: ' + nuevaCantidad > cantidad_restante);
                console.log('nuevosKilos: '+nuevosKilos);
                console.log('kilos_restantes: ' + kilos_restante);
                console.log('nuevosKilos es mayor: '+ nuevosKilos > kilos_restante);
                return;
            }
            else {
                var CantRestanteLote = 0;
                var KgRestanteLote = 0.00;
                var Codigo_Producto_Produccion = 0;
                var Descripcion_Producto_Produccion = '';
                $.ajax({
                    type: "GET",
                    url: "/Envasados/ObtenerRestantePorSalidaMercaderia/",
                    data: {
                        Lote: lote_codigo,
                        Numero_Producto_Ventas: codigo_producto,
                        Codigo_Interno_Traspaso: $('#Codigo_Interno_Traspaso').val(),
                        Codigo_Fabrica: parseInt($("#Origen").val())
                    },
                    success: function (data) {
                        if (data.success) {
                            var objeto = data.objeto;
                            CantRestanteLote = parseInt(objeto.Cantidad_Restante);
                            KgRestanteLote = parseFloat(objeto.Kilos_Restantes).toFixed(3);
                            Codigo_Producto_Produccion = objeto.Codigo_Producto_Produccion;
                            Descripcion_Producto_Produccion = objeto.Descripcion_Producto_Produccion;
                            var OBjetoTipo = objeto.Tipo;
                            var encontrado = false;
                            var validos = false;

                            var CantCargadaMasNueva = 0;
                            var KgCargadoMasNuevo = 0;

                            for (var t in listadoDetallesTraspaso) {
                                if (listadoDetallesTraspaso[t].Numero_Producto_Ventas == codigo_producto && listadoDetallesTraspaso[t].Lote == lote_codigo) {
                                    CantCargadaMasNueva = parseInt(listadoDetallesTraspaso[t].Cantidad) + nuevaCantidad;

                                    KgCargadoMasNuevo = parseFloat(parseFloat(listadoDetallesTraspaso[t].Kilos) + nuevosKilos).toFixed(3);

                                    if (CantCargadaMasNueva > CantRestanteLote) {
                                        notif({
                                            msg: "LOTE " + lote_codigo + ": Se están expidiendo mas unidades que las disponibles!",
                                            type: "error",
                                            position: "center"
                                        });
                                        return;
                                    }

                                    console.log('Kilos restantes del lote: ' + KgRestanteLote);
                                    console.log('Kilos cargados del lote: ' + KgCargadoMasNuevo);
                                    console.log('KgCargadoMasNuevo es mayor a KgRestanteLote? ' + parseFloat(KgCargadoMasNuevo) > parseFloat(KgRestanteLote));

                                    if (parseFloat(KgCargadoMasNuevo) > parseFloat(KgRestanteLote)) {
                                        notif({
                                            msg: "LOTE " + lote_codigo + ": Se están expidiendo mas kilos que los disponibles!",
                                            type: "error",
                                            position: "center"
                                        });

                                        return;
                                    }
                                    listadoDetallesTraspaso[t].Cantidad += nuevaCantidad;
                                    listadoDetallesTraspaso[t].Kilos += nuevosKilos;
                                    encontrado = true;
                                    validos = true;
                                }
                            }

                            if (!encontrado) {
                                console.log("DETALLE Traspaso AGREGADO!");

                                listadoDetallesTraspaso.push({
                                    Codigo_Interno_Detalle: listadoDetallesTraspaso.length + 1,
                                    Numero_Producto_Ventas: codigo_producto,
                                    Lote: lote_codigo,
                                    Descripcion_Producto: $('#data3').text().trim(),
                                    Cantidad: nuevaCantidad,
                                    Kilos: nuevosKilos,
                                    Codigo_Producto_Produccion: Codigo_Producto_Produccion,
                                    Descripcion_Producto_Produccion: Descripcion_Producto_Produccion,
                                    Tipo: OBjetoTipo,
                                });

                                validos = true;
                            }

                            if (lotedata == null) {
                                console.log("Carga lote solo");
                                validos = true;
                            }

                            if (operacionVariosProceso > 0)
                                operacionVariosProceso--;

                            if (operacionVariosProceso <= 0) {
                                console.log("FIN DE OPERACION LOTES");
                                TotalesProductosProduccion();
                                CargarDetallesTras();
                            }

                            notif({
                                msg: "LOTE " + lote_codigo + ": Registro guardado satisfactoriamente.",
                                type: "success",
                                position: "center"
                            });
                        }
                        else {
                            console.log(data);
                            notif({
                                msg: "LOTE " + lote_codigo + ": " + data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
        }
        catch (error) {
            notif({
                msg: "LOTE " + lote_codigo + ": " + error,
                type: "error",
                position: "center"
            });
        }
    }
    var TotalesProductoProduccion = [];
    function TotalesProductosProduccion() {
        TotalesProductoProduccion = [];
        var encuentra;
        for (var d in listadoDetallesTraspaso) {
            encuentra = false;
            for (var p in TotalesProductoProduccion) {
                if (TotalesProductoProduccion[p].Numero_Producto_Ventas == listadoDetallesTraspaso[d].Numero_Producto_Ventas) {
                    TotalesProductoProduccion[p].Cantidad += parseInt(listadoDetallesTraspaso[d].Cantidad);
                    TotalesProductoProduccion[p].Kilos += parseFloat(listadoDetallesTraspaso[d].Kilos);
                    encuentra = true;
                }
            }
            if (!encuentra) {
                TotalesProductoProduccion.push({
                    Numero_Producto_Ventas: listadoDetallesTraspaso[d].Numero_Producto_Ventas,
                    Descripcion_Producto: listadoDetallesTraspaso[d].Descripcion_Producto,
                    Cantidad: parseInt(listadoDetallesTraspaso[d].Cantidad),
                    Kilos: parseFloat(listadoDetallesTraspaso[d].Kilos)
                });
            }
        }
        $('#TotalesProductosProduccion').DataTable({
            "destroy": true,
            "bFilter": false,
            "bInfo": false,
            "paging": false,
            "lengthChange": false,
            "data": TotalesProductoProduccion,
            "columns": [
                {
                    data: "Numero_Producto_Ventas",
                    title: "Número",
                    width: "15%"
                },
                {
                    data: "Descripcion_Producto",
                    title: "Descripción",
                    sClass: "mayusculas-texto"
                },
                {
                    data: "Cantidad",
                    title: "Cantidad"
                },
                {
                    data: "Kilos",
                    title: "Kilos",
                    render: function (data) { if (data != null) return data.toFixed(3); else return 0.000.toFixed(3); }
                }
            ],
            "language": idiomaEspañol,
            "select": 'single',
            initComplete: function (data) {
                document.getElementById("TotalesProductosProduccion_wrapper").classList.add('col-sm-6');
                document.getElementById("TotalesProductosProduccion_wrapper").style.paddingLeft = "0px";
                document.getElementById("TotalesProductosProduccion_wrapper").style.paddingRight = "0px";
            }
        });
    }
    function EditarDetalleTraspaso(Codigo_Interno_Detalle) {
        CargarDetallesTras();
        $('#DetallesTraspasoTabla').find('tr').find('td').each(function () {
            if ($(this).index() == 0) {
                if ($(this).html() == Codigo_Interno_Detalle) {
                    $(this).parent('tr').find('td').each(function () {
                        $(this).addClass("editable");
                        if ($(this).index() == 5) {
                            var Cantidad = $(this).html();
                            $(this).html("");
                            $(this).prepend('<input id="cantidadEditable" class="col-md-12 text-box single-line" style="text-align:right">');
                            $('#cantidadEditable').val(Cantidad.toString().replace(",", "."));
                            $('#cantidadEditable').focus();
                        }
                        if ($(this).index() == 6) {
                            var Kilos = $(this).html();
                            $(this).html("");
                            $(this).prepend('<input id="kilosEditable" class="col-md-12 text-box single-line" style="text-align:right">');
                            $('#kilosEditable').val(Kilos.toString().replace(",", "."));
                        }
                        if ($(this).index() == 7) {
                            $(this).html("");
                            $(this).prepend(
                                "<a class='btn btn-success btn-xs' onclick=ConfirmarEdicionDetalleTras('" + Codigo_Interno_Detalle + "')>" +
                                "<span class='glyphicon glyphicon-ok'></span>" +
                                "</a>" +
                                "<a class='btn btn-danger btn-xs' onclick=CargarDetallesTras()>" +
                                "<span class='glyphicon glyphicon-remove'></span>" +
                                "</a>");

                        }
                    });
                }
            }
        });
        $("#cantidadEditable").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");

                $("#kilosEditable").focus();
            }
        });
        $("#kilosEditable").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");

                ConfirmarEdicionDetalleTras(Numero_Producto);
            }
        });
    }
    function ConfirmarEdicionDetalleTras(Codigo_Interno_Detalle) {
        for (var i in listadoDetallesTraspaso) {
            if (listadoDetallesTraspaso[i].Codigo_Interno_Detalle == Codigo_Interno_Detalle) {
                try {
                    listadoDetallesTraspaso[i].Cantidad = parseFloat($('#cantidadEditable').val()) > 0 ? parseFloat($('#cantidadEditable').val()).toString() : $('#cantidadEditable').val();
                    listadoDetallesTraspaso[i].Kilos = parseFloat($('#kilosEditable').val()) > 0 ? parseFloat($('#kilosEditable').val()).toString() : $('#kilosEditable').val();
                    notif({
                        msg: "Registro editado satisfactoriamente.",
                        type: "success",
                        position: "center"
                    });
                    CargarDetallesTras();
                }
                catch (error) {
                    notif({
                        msg: error,
                        type: "error",
                        position: "center"
                    });
                }
            }
        }
    }
    function BorrarDetalleTras(Codigo_Interno_Detalle) {
        for (var i in listadoDetallesTraspaso) {
            if (listadoDetallesTraspaso[i].Codigo_Interno_Detalle == Codigo_Interno_Detalle) {
                listadoDetallesTraspaso.splice(i, 1);
                CargarDetallesTras();
                notif({
                    msg: "Registro eliminado satisfactoriamente.",
                    type: "success",
                    position: "center"
                });
            }
        }
    }
    function SubmitTraspaso(Formulario) {
        if ('@Model.Codigo_Interno_Traspaso' == 0 || numero_comprobante != $('#Numero_Comprobante').val()) {
            $.ajax({
                type: "GET",
                url: "/TraspasosFabricas/Existe/",
                data: {
                    Prefijo: $('#Prefijo').val(),
                    Numero_Comprobante: $('#Numero_Comprobante').val()
                },
                success: function (data) {
                    console.log(data.data);
                    if (data.data == true) {
                        notif({
                            msg: "Ya existe otra Traspaso con el mismo prefijo y numero de comprobante.",
                            type: "error",
                            position: "center"
                        });
                    }
                    else
                        EnviarFormulario(Formulario);
                }
            });
        }
        else
            EnviarFormulario(Formulario);
    }
    function EnviarFormulario(Formulario) {
        $.validator.unobtrusive.parse(Formulario);
        if (!$(Formulario).valid())
            return;
        $('#DetallesTraspaso').html("");
        for (var i in listadoDetallesTraspaso) {
            if ([1, 2, 3].indexOf(parseInt(listadoDetallesTraspaso[i].Tipo)) > -1) {
                let codigo = listadoDetallesTraspaso[i].Codigo_Interno_Detalle;
                let val = $(`.selectTipoDetalle[codigo=${codigo}]`).val();
                listadoDetallesTraspaso[i].Tipo = val;
            }

            $('#DetallesTraspaso').append('<input type="text" name="Detalle_Traspaso[' + i + '].Numero_Producto_Ventas" value="' + listadoDetallesTraspaso[i].Numero_Producto_Ventas + '"/>' +
                '<input type="text" name="Detalle_Traspaso[' + i + '].Lote" value="' + listadoDetallesTraspaso[i].Lote.toString() + '"/>' +
                '<input type="text" name="Detalle_Traspaso[' + i + '].Kilos" value="' + parseFloat(listadoDetallesTraspaso[i].Kilos).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Detalle_Traspaso[' + i + '].Cantidad" value="' + parseFloat(listadoDetallesTraspaso[i].Cantidad).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Detalle_Traspaso[' + i + '].Tipo" value="' + listadoDetallesTraspaso[i].Tipo.toString() + '"/>');
        }

        $.ajax({
            type: "POST",
            url: "/TraspasosFabricas/AddOrEdit/",
            data: $(Formulario).serialize(),
            success: function (data) {
                if (data.success) {
                    notif({
                        msg: data.message,
                        type: "success",
                        position: "center"
                    });
                    $('#modalAddOrEdit').modal('hide');
                    CargarTraspasos();

                } else {
                    console.log(data.message);
                    if (data.alert) {
                        alert(data.message);
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            }
        });
    }
</script>