﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "TraspasosFabricas : Listado";
    Entities db = new Entities();
}
<div class="col-md-8" style="margin-left:auto;margin-right:auto;float:initial;">
    <h2>Traspaso</h2>
    <table id="TraspasosFabricasTabla" class="display compact" style="width:100%"></table>
</div>
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDeleteTraspaso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteTraspaso()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal AddOrEdit -->
<div class="modal fade" id="modalAddOrEdit"  data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:80%">
        <div class="modal-content" id="ModalAddOrEdit"></div>
    </div>
</div>
<!-- Modal Envasados-->
<div class="modal fade" id="modalEnvasados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="ModalEnvasados"></div>
    </div>
</div>
<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Pasar_A_Historicos()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalLotesLiberados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:800px;">
        <div class="modal-content" id="ModalLotesLiberados"></div>
    </div>
</div>
<input class="codigo" hidden />
@section scripts{
    <script>
        var dataTableTraspaso = [];
        var listadoTraspaso = [];
        function CargarTraspaso() {
            $.ajax({
                type: "GET",
                url: "/TraspasosFabricas/GetData/",
                data: { Codigo_Interno_Traspaso: 0 },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoTraspaso = data.data;
                        dataTableTraspaso = $("#TraspasosFabricasTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            data: listadoTraspaso,
                            "columns": [
                                {
                                    "data": "Codigo_Interno_Traspaso",
                                    "title": "Código",
                                    "width": "15%"
                                },
                                {
                                    "data": "Numero_Comprobante",
                                    "title": "Numero de Comprobante"
                                },
                                {
                                    "data": "Fecha",
                                    "title": "Fecha",
                                    "render": function (data) {
                                        if (data == null)
                                            return "";
                                        else
                                            return moment(data).format('DD/MM/YYYY');
                                    }
                                },
                                {
                                    "data": "Egreso_Ingreso",
                                    "title": "Tipo",
                                    "sClass": "mayusculas-texto"
                                },
                                {
                                    "data": "Codigo_Interno_Traspaso",
                                    "title": "Herramientas",
                                    "width": "10%",
                                    "render": function (data) {
                                        return " <a class='btn btn-default btn-sm' onclick=AbrirModalAddOrEdit(" + data + ",event)><span class='glyphicon glyphicon-pencil'></span></a>" +
                                            "<a class='btn btn-danger btn-sm'onclick=modificarInput(" + data + ") data-toggle='modal' data-target='#modalDeleteTraspaso'><span class='glyphicon glyphicon-trash'></span></a>";
                                    },
                                }

                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                { className: "text-center", "targets": [0, 1, 2, 3, 4] }
                            ],
                            dom: 'Bfrtip',
                            select: 'multiple',
                            buttons: [
                                {
                                    text: '<span class="glyphicon glyphicon-plus">',
                                    className: 'nuevo',
                                    action: function () {
                                        AbrirModalAddOrEdit();
                                    }
                                },
                                {
                                    text: 'Actualizar <span class="glyphicon glyphicon-refresh">',
                                    className: 'primary',
                                    action: function () {
                                        $('#modalVerificarActualizar').modal('toggle');
                                    }
                                },
                                {
                                    text: 'Refrescar <span class="glyphicon glyphicon-refresh">',
                                    className: '',
                                    action: function () {
                                        CargarTraspaso();
                                    }
                                }
                            ],
                            createdRow: function (row, data, dataIndex) {
                                if (data.Motivo_Rechazo)
                                    $(row).addClass('traspaso_rechazado');
                            },
                            order: [[3, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            }
                        });
                    }
                }
            });
        }
        function modificarInput(Codigo) {
            $('input.codigo').text(Codigo);
        }
        function DeleteTraspaso() {
            $.ajax({
                type: "POST",
                url: "/TraspasosFabricas/Delete/",
                data: { Codigo_Interno_Traspaso: $('input.codigo').text() },
                success: function (data) {
                    if (data.success) {
                        $('#modalDeleteTraspaso').modal('hide');
                        CargarTraspaso();
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        function AbrirModalAddOrEdit(Codigo, event) {
            //event.stopPropagation();
            $.ajax({
                type: "GET",
                url: "/TraspasosFabricas/AddOrEdit/",
                data: { Codigo_Interno_Traspaso: Codigo },
                success: function (data) {
                    $('#ModalAddOrEdit').html(data);
                    CargarDetallesTraspaso();
                    $('#modalAddOrEdit').modal('toggle');
                    //$('body').removeClass('modal-open');
                    $("#modalAddOrEdit").on('shown.bs.modal', function () {
                        $('#Numero_Comprobante').focus();
                    });
                    //$('#FormAddOrEdit').submit(SubmitTraspaso);
                    $('#crearTraspaso').click(function () {
                        SubmitTraspaso($('#FormAddOrEdit'));
                    });
                }
            });
        }
        function Pasar_A_Historicos() {

            let TraspasosFabricas = $('#TraspasosFabricasTabla tr.selected').length;

            if (TraspasosFabricas == 0) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });
                return;
            }
            else {
                let TraspasosFabricas_enviar = $('#TraspasosFabricasTabla tr.selected');

                // control de enviados bien o con errores
                var enviados_ok = 0;
                var enviados_err = 0;

                // total TraspasosFabricas a actualizar
                var enviar_total = TraspasosFabricas_enviar.length;

                // controla el estado de las TraspasosFabricas siendo actualizadas
                function controlarEnviados() {
                    if (enviados_ok + enviados_err >= enviar_total) {
                        // mensaje de notificacion al usuario
                        let message = "Traspasos actualizados correctamente.";
                        let message_type = "success";

                        // hecho con errores
                        if (enviados_ok > 0 && enviados_err > 0) {
                            message_type = "warning";
                            message = "Algunos Traspasos fueron actualizados correctamente pero otras fallaron.";
                        }

                        // no pudo actualizar ninguno
                        if (enviados_ok == 0 && enviados_err > 0) {
                            message = "Hubo errores al actualizar los Traspasos";
                            message_type = "danger";
                        }

                        // actualizo datos
                        if (enviados_ok > 0) {
                            CargarTraspaso();
                            $('#modalVerificarActualizar').modal('hide');
                        }

                        // notifico al usuario del proceso
                        notif({
                            msg: message,
                            type: message_type,
                            position: "center"
                        });
                    }
                }

                TraspasosFabricas_enviar.each(function () {
                    // columnas de la fila
                    let columns = $(this).find('td');

                    if (columns.length > 0) {
                        // columna con el id
                        let column_id = $(columns[0]);

                        // id del Traspaso
                        let Traspaso_id = parseInt(column_id.text());

                        // guardo cada Traspaso por separado
                        $.ajax({
                            type: "POST",
                            url: "/TraspasosFabricas/Pasar_A_Historico",
                            data: { Codigo_Interno_Traspaso: Traspaso_id },
                            success: function (data) {
                                if (data.success) {
                                    enviados_ok++;
                                }
                                else {
                                    enviados_err++;
                                    console.log(data.message);
                                }

                                controlarEnviados();
                            }, CargarTraspaso()
                            error: function (err) {
                                enviados_err++;
                                console.log(err);
                                controlarEnviados();
                            }
                        });
                    }
                });
            }
        }
        $(document).ready(function () {
            CargarTraspaso();
            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
}
