﻿@using MVC_Produccion.ContextoProduccion
@model MVC_Produccion.ContextoProduccion.Movimientos_Volteo

@{
    Entities db = new Entities();

    ViewBag.Title = "Movimientos Volteo";

}

<h2>Movimientos Volteo</h2>
@*

    <div id="dropdownEstados" style="display:none; text-transform:capitalize">
        @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
    </div>

*@
<table id="MovimientosVolteo" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteIngreso()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:500px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Voltear</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @Html.LabelFor(model => model.Fecha_Volteo, "Fecha:", new { @class = "control-label" })
                @Html.EditorFor(model => model.Fecha_Volteo, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                @Html.LabelFor(model => model.Comentario, "Comentario:", new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Comentario, new { @class = "form-control", @style = "text-transform:capitalize; height:100% !important" })
                @Html.LabelFor(model => model.Responsable_Volteo, "Responsable:", new { @class = "control-label space-label" })
                @Html.DropDownListFor(model => model.Responsable_Volteo, new SelectList(db.Queseros.Where(q => q.Activo == true), "Codigo_Quesero", "Nombre"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize" })

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Actualizar()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
        //Date dd/MM/yyyy
        $.validator.methods.date = function (value, element) {
            var date = value.split("/");
            return this.optional(element) || !/Invalid|NaN/.test(new Date(date[2], date[1], date[0]).toString());
        }
    </script>

    <script>
        var dataTableIngresosLeche = [];
        var ListadoVolteos = [];

        var listadoIngresosLeche = [];
        var listadoDetallesIngreso = [];

        var dataTableDetallesIngreso = [];

        var Ingreso = 0;

        function DeleteIngreso() {
            $.ajax({
                type: "POST",
                url: "/IngresosLeche/Delete/",
                data: { Codigo_Interno_Ingreso: Ingreso },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');
                        dataTableIngresosLeche.ajax.url('/IngresosLeche/GetData/?Estado=Pendiente').load();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };
        var fab = @ViewBag.fabrica
        function CargarMovimientos() {
            dataTableIngresosLeche = $("#MovimientosVolteo").DataTable({
                "destroy": true,
                "autoWidth": true,
                data: ListadoVolteos,
                "columns": [
                    {
                        "data": "Lote",
                        "title": "Lote",
                        "width": "10%"
                    },
                    {
                        "data": "Dias_Proximo_Volteo",
                        "title": "Dias para Voltear",
                        "width": "15%",
                        render: function (data) {
                            if (data < 0)
                                return "Hace " + Math.abs(data) + " Dias";

                            if (data > 0)
                                return "Dentro De " + Math.abs(data);

                            return "HOY";

                        }
                    },
                    {
                        "data": "Dias_Proximo_Volteo",
                        "title": "",
                        "width": "1%",
                    },

                ],
                "language": idiomaEspañol,
                "columnDefs": [
                   {
                       targets:[2],
                       visible: false
                   },
                    { className: "text-center", "targets": [0, 1] },
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Voltear <span class="glyphicon glyphicon-refresh">',
                        className: 'primary',
                        action: function () {
                            AbrirModalActualizar();
                        }
                    }/*,
                    {
                        text: $('#dropdownEstados').html(),
                        className: 'botonDropdown'

                    },*/
                ],
                createdRow: function (row, data, dataIndex) {
                    if (data.Dias_Proximo_Volteo < 1)
                        $(row).addClass('expedicion_rechazada');
                },
                "order": [[2,"asc"]],
                select: "multiple",
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                    /*$('#dropdownEstados').html("");

                    $("#ListadoEstados").change(function () {
                        //console.log("changed: ", $('option:selected', this).val());
                        estado = $('option:selected', this).val();
                        dataTableIngresosLeche.ajax.url('/IngresosLeche/GetData/?Estado=' + estado).load();
                    });*/
                }

            });
        }
        function Traer_Movimientos() {
            $.ajax({
                type: "POST",
                url: "/MovimientosVolteo/Obtener_Volteos/",
                data: { fabrica: fab },
                success: function (data) {
                    ListadoVolteos = data.volteos;
                },
                complete: CargarMovimientos,
            });
        }
        function AbrirModalActualizar() {

            var bandera = false;

            $('#MovimientosVolteo').find('tr.selected').find('td').each(function () {
                bandera = true;
            });

            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione al menos un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });

                return;
            }
            else {
                $('#modalVerificarActualizar').modal('toggle');
            }

        }


        function Actualizar() {
            let lotes = []
            $('#MovimientosVolteo').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {
                    lotes.push($(this).html())
                }
            });

            $.ajax({
                type: "POST",
                url: "/MovimientosVolteo/Voltear/",
                data: {
                    lotes: lotes,
                    responsable: $("#Responsable_Volteo").val(),
                    comentario: $("#Comentario").val(),
                    fecha: $("#Fecha_Volteo").val()
                },
                success: function (data) {
                    if (data.ok) {
                        notif({
                            msg: data.mensaje,
                            type: "success",
                            position: "center"
                        });
                        $("#Responsable_Volteo").val("");
                        $("#Comentario").val("");
                        $("#Fecha_Volteo").val("");
                        $('#modalVerificarActualizar').modal('hide');

                        Traer_Movimientos();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                        console.log(data);
                    }
                }
            });


        }


        $(document).ready(function () {
            $('#Fecha_Volteo').datepicker();

            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/

            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });

            Traer_Movimientos();

        });

    </script>
}

