﻿@model AccesoDatos.Contexto.Produccion.Produccion_Crema
@using MVC_Produccion.Sesiones
@using AccesoDatos.Contexto.Produccion.SP
@using System.Linq
@using System.Globalization
@{
    dbProdSP db = new dbProdSP();

    if (Model.Codigo_Interno_Produccion == 0)
    {
        ViewBag.Title = "Producciones : Nuevo";
    }
    else
    {
        ViewBag.Title = "Producciones : Editar";
    }
}

@using (Html.BeginForm("AddOrEdit", "ProduccionesCrema", FormMethod.Post, new { id = "FormNuevo" }))
{
    @Html.HiddenFor(model=>model.Produccion.Historico)

    <div class="col-md-12 contenedor-producciones-add">
        <div class="col-md-12 flexible2">
            <!-- CONTENEDOR SUBMIT-->
            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <a onclick="SubmitProduccion($('#FormNuevo'))" class="AddProduccion btn btn-primary">Confirmar</a>
                        <a class="btn btn-default" href="@Url.Action("Index", "ProduccionesCrema")">Volver</a>
                    </div>
                </div>
            </div>
            <!--FABRICA / NUMERO PLANILLA / FECHA / LOTE / PRODUCTO / QUESERO / ESTADO-->
            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Codigo_Interno_Produccion, new { @class = "control-label" })
                @Html.EditorFor(model => model.Codigo_Interno_Produccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Codigo_Interno_Produccion)
            </div>
            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Produccion.Codigo_Interno_Produccion, new { @class = "control-label" })
                @Html.EditorFor(model => model.Produccion.Codigo_Interno_Produccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Produccion.Codigo_Interno_Produccion)
            </div>
            <fieldset class="scheduler-border caja-contenedora" style="margin-bottom:10px !important">
                <legend class="scheduler-border">Encabezado</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <div class="col-md-2 form-medio">
                                @Html.Label("Fábrica:", htmlAttributes: new { @class = "control-label" })
                            </div>
                            @{
                                if (Model.Codigo_Interno_Produccion != 0)
                                {
                                    <div class="col-md-3 form-medio flexible2">
                                        <div class="col-md-12 form-medio form-group">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.Produccion.Codigo_Fabrica, new { htmlAttributes = new { @class = "form-control" } })
                                                <span class="input-group-addon">
                                                    <a href="#" id="btn-fabrica" onclick="AbrirModalFabricas('Produccion_Codigo_Fabrica')">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-medio">
                                            @Html.ValidationMessageFor(model => model.Produccion.Codigo_Fabrica)
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="fabrica-descripcion">
                                            @{
                                                if (Model.Produccion.Fabricas != null)
                                                {
                                                    <text>
                                                        @Model.Produccion.Fabricas.Descripcion
                                                    </text>
                                                }
                                            }
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 form-medio flexible2">
                                        <div class="col-md-12 form-medio form-group">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.Produccion.Codigo_Fabrica, new { htmlAttributes = new { @class = "form-control" } })
                                                <span class="input-group-addon">
                                                    <a href="#" id="btn-fabrica" onclick="AbrirModalFabricas('Produccion_Codigo_Fabrica')">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-medio">
                                            @Html.ValidationMessageFor(model => model.Produccion.Codigo_Fabrica)
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="fabrica-descripcion"></p>
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="form-medio">
                                @Html.LabelFor(model => model.Produccion.Fecha, "Fecha:", new { @class = "control-label" })
                                @Html.EditorFor(model => model.Produccion.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                            </div>
                        </div>
                        <div class="col-md-3 form-medio flexible2">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Produccion.Nro_Planilla, "Número de Planilla:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @if (Model.Codigo_Interno_Produccion == 0 && !ViewBag.NroAuto)
                                    {
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @disabled = "disabled", @id = "Nro_Planilla_Editar" } })
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                    }
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(model => model.Produccion.Nro_Planilla)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio" style="flex-direction:column !important">
                            @if (Model.Codigo_Interno_Produccion == 0)
                            {
                                <div class="col-md-12 form-medio">
                                    @Html.LabelFor(model => model.Produccion.Lote, "Lote:", new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-12 form-medio">
                                    @Html.ValidationMessageFor(model => model.Produccion.Lote)
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-3 form-medio">
                                        @Html.LabelFor(model => model.Produccion.Lote, "Lote:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-9 form-medio">
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @id = "LoteEditar" } })
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                        @Html.ValidationMessageFor(model => model.Produccion.Lote)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <div class="col-md-2 form-medio">
                                @Html.Label("Producto:", htmlAttributes: new { @class = "control-label" })
                            </div>

                            @{
                                if (Model.Codigo_Interno_Produccion != 0)
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="Codigo_Producto" id="Codigo_Producto" style="text-align:right" value="@Model.Produccion.Formulas.Codigo_Producto" />
                                            <span class="input-group-addon"><a href="#" id="btn-producto" onclick="AbrirModalFormulas('C')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="producto-descripcion">
                                            @{
                                                if (Model.Produccion.Formulas.Productos != null)
                                                {
                                                    <text>
                                                        @Model.Produccion.Formulas.Productos.Descripcion
                                                    </text>
                                                }
                                            }
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="Codigo_Producto" id="Codigo_Producto" style="text-align:right" />
                                            <span class="input-group-addon"><a href="#" id="btn-producto" onclick="AbrirModalFormulas('C')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="producto-descripcion"></p>
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-md-4 col-md-offset-3 form-medio flexible2" style="justify-content:flex-end">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-3 form-medio">
                                    @Html.LabelFor(model => model.Produccion.Codigo_Quesero, "Responsable:", new { @class = "control-label" })
                                </div>

                                <div class="col-md-9 form-medio">
                                    @Html.DropDownListFor(model => model.Produccion.Codigo_Quesero, new SelectList(ViewBag.queseros, "Codigo_Quesero", "Nombre"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(model => model.Produccion.Codigo_Quesero)
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="col-md-12 caja-sector-modal caja-contenedora">
                <div class="col-md-2 form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.LabelFor(model => model.Litros_Crema, "Litros Crema:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-5 form-medio">
                        @Html.EditorFor(model => model.Litros_Crema, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                        @Html.ValidationMessageFor(model => model.Litros_Crema)
                    </div>
                </div>
                <div class="col-md-2 form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.Label("Fecha Venc:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-5 form-medio">
                        @Html.EditorFor(model => model.Fecha_Vencimiento, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                    </div>
                </div>
                <div class="col-md-3 form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.Label("Materia Grasa Inicial:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-5 form-medio">
                        @Html.EditorFor(model => model.Materia_Grasa, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                    </div>
                </div>
                <div class="col-md-1 form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.Label("Acidez:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-5 form-medio">
                        @Html.EditorFor(model => model.Acidez, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                    </div>
                </div>
                <div class="col-md-1 form-medio">
                    <div class="col-md-3 form-medio">
                        @Html.Label("Ph:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Ph, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                    </div>
                </div>
                <div class="col-md-3 form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.Label("Materia Grasa Final:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-5 form-medio">
                        @Html.EditorFor(model => model.Materia_Grasa_Final, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                    </div>
                </div>
            </div>
            <!--PIEZAS OBTENIDAS / Litros TEORICOS / Litros REALES -->
            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Rinde</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">

                        <div class="col-md-2 form-medio flexible2">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-7 form-medio">
                                    @Html.LabelFor(model => model.Piezas_Obtenidas, "Piezas Obtenidas:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-4 form-medio">
                                    @Html.EditorFor(model => model.Piezas_Obtenidas, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                <div class="col-md-12 form-medio">
                                    @Html.ValidationMessageFor(model => model.Piezas_Obtenidas)
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.Litros_Teoricos, "Litros Teóricos:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Litros_Teoricos, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @readonly = "true" } })
                                @Html.ValidationMessageFor(model => model.Litros_Teoricos)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Litros_Reales, "Litros Reales:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Litros_Reales, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Litros_Reales)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!--Observacion -->
            <div class="col-md-12 caja-contenedora">
                <input class="collapseGroupCheck" type="checkbox" value="" id="collapseOneCheck" data-target=".collapseOne">
                <label for="Produccion.Observacion" class="noselect">Ver Observación</label>
                <div class="panel-group" id="accordion">
                    <div id="infoObservacion" class="collapseOne panel-collapse collapse">
                        <div class="col-md-6">
                            <textarea name="Produccion.Observacion" value="" style="width: 90%; height: 211px; padding: 12px 20px; box-sizing: border-box;
                                border: 2px solid #ccc; border-radius: 4px;
                                background-color: #f8f8f8; font-size: 16px;  " id="textAreaObservacion" rows="5" placeholder="Por favor ingrese una observación">@{if (Model.Produccion.Observacion != null) {<text> @Model.Produccion.Observacion</text> }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--LISTADOS -->
            <div class="col-md-12 caja-contenedora" id="InsumosConsumidosDiv">
            </div>
            <div class="col-md-12 caja-contenedora" id="ProductosAsociados">
                <table id="InsumosAsociadosTabla" class="display compact" style="width:100%;"></table>
            </div>
            <!-- LISTADOS PARA ENVIAR AL CONTROLADOR -->
            <div id="DetallesProduccion" style="display:none"></div>
            <div id="Mov_Ins_Asoc" style="display:none"></div>
            <div id="CostosIndirectosProduccion" style="display:none"></div>
            <!-- CONTENEDOR SUBMIT-->
            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <a onclick="SubmitProduccion($('#FormNuevo'))" class="AddProduccion btn btn-primary">Confirmar</a>
                        <a class="btn btn-default" href="@Url.Action("Index", "ProduccionesCrema")">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Modal Detalles-->
<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:900px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Detalles</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA DETALLES -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="DetallesFormulaTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarAjustes()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Fábricas-->
<div class="modal fade" id="modalFabricas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:500px">
        <div class="modal-content" id="ModalFabricas"></div>
    </div>
</div>
<!-- Modal Fórmulas-->
<div class="modal fade" id="modalFormulas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:55%">
        <div class="modal-content" id="ModalFormulas"></div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/CorrectorDecimales.js"></script>
    <script>
        var Codigo_Producto_Seleccionado = '';
        var listadoDetalles = [];
        var Codigo_Familia = @ViewBag.Codigo_Familia;

        var dataTableDetalles = [];
        var dataTableFormulas = [];
        var dataTableAjustes = [];
        var dataTableProductosFormula = [];

        var listadoProductosFormula = [];

        var Producto = [];

        var ListadoDetalles = [];

        var LitrosRestantes = 0;
        var PiezasRestantes = 0;
        var KilosRestantes = 0;
        var Kilos_Reales = 0;
        var listadoCostosIndirectosProduccion = [];

        $('input').focus(function () { $(this).select() });
        $("#collapseOneCheck").on('click', function () {
            if (this.checked)
                $('#infoObservacion').show();
            else
                $('#infoObservacion').hide();

        });

        /*SE LLAMA UNA VEZ INSERTADO UN CODIGO_FORMULA, TRAE TODOS SUS DETALLES Y LOS SETEA EN listadoDetalles*/
        function CargarDetallesFormula() {
            if ($('#Codigo_Producto').val() == "") {
                notif({
                    msg: "Por favor ingrese Código de Producto",
                    type: "error",
                    position: "center"
                });
                $('#Codigo_Producto').focus();
                return;
            }
            if ($('#Litros_Crema').val() == "") {
                notif({
                    msg: "Por favor ingrese Litros Crema",
                    type: "error",
                    position: "center"
                });
                $('#Litros_Crema').focus();
                return;
            }
            $("#InsumosConsumidosDiv").html("<h1>Cargando Insumos</h1>");
            $.ajax({
                type: "GET",
                url: "/Producciones/ObtenerInsumosConsumidos/",
                data: {
                    producto: $('#Codigo_Producto').val(),
                    litros: $('#Litros_Crema').val(),
                    tipoProd:"crema"
                },
                success: function (data) {
                    $("#InsumosConsumidosDiv").html(data);
                }
            });

        }
        let Lote = "@Model.Lote";
        let Codigo_Form = "@Model.Produccion.Codigo_Formula";
        function SaltosAlPresionarEnter() {
            $("#Produccion_Codigo_Fabrica").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "POST",
                        url: "/Fabricas/GetData/",
                        data: { Codigo_Fabrica: $('#Produccion_Codigo_Fabrica').val()},
                        success: function (data) {
                            if (data.success) {
                                var Fabrica = data.data[0];
                                if (Fabrica != null) {
                                    $("#fabrica-descripcion").html(Fabrica.Descripcion);
                                    $('#Produccion_Fecha').focus();
                                }
                            }
                            else {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                                $('#Produccion_Codigo_Fabrica').focus();
                            }
                        }
                    });
                }
            });
            $("#Produccion_Fecha").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Produccion_Nro_Planilla').focus();
                }
            });
            $("#Produccion_Nro_Planilla").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Produccion_Lote').focus();
                }
            });
            $("#Produccion_Lote").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Codigo_Producto').focus();
                }
            });
            $("#Codigo_Producto").keyup(function (e) {
                if (e.keyCode == 13) {
                    if ($('#Produccion_Lote').val() == "") {
                        notif({
                            msg: "Por favor ingrese un Lote.",
                            type: "warning",
                            position: "center"
                        });
                        return;
                    }
                    else{
                        $.ajax({
                            type: "POST",
                            url: "/Formulas/GetOne/",
                            data: { Codigo_Formula: -1, Codigo_Producto: $('#Codigo_Producto').val() },
                            success: function (data) {
                                if (data.success) {
                                    FormulaActual = [];
                                    FormulaActual = data.data[0];
                                    if (FormulaActual != null) {
                                        if (FormulaActual.AptoParaEnvasar == true) {
                                            let codigo = $('#Codigo_Producto').val();

                                            $("#producto-descripcion").html(FormulaActual.Producto);
                                            $('#Factor').val(FormulaActual.Factor);
                                            $('#Produccion_Codigo_Quesero').focus();
                                            /*CARGA LISTADO PRODUCTOS ASOCIADOS A LA FÓRMULA*/
                                            AddOrEditInsumos(FormulaActual.Codigo_Formula, "");
                                            GetCostosIndirectos(FormulaActual.Codigo_Formula);

                                            if (codigo)
                                                actualizarProducto(codigo);
                                        }
                                        else{
                                            notif({
                                                msg: "El Producto seleccionado no tiene Fórmulas de Envasado.",
                                                type: "error",
                                                position: "center"
                                            });
                                            $("#Codigo_Producto").focus();
                                        }
                                    }
                                    else{
                                        notif({
                                            msg: "Error, no existe registro con el Código ingresado.",
                                            type: "error",
                                            position: "center"
                                        });
                                    }
                                }
                            }
                        });
                    }
                }
            });
            $("#Produccion_Codigo_Quesero").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Kilo_Crema').focus();
                }
            });

            $("#Piezas_Obtenidas").keyup(function (e) {
                if (e.keyCode == 13) {
                    if (!$("#Piezas_Obtenidas").val() || $("#Piezas_Obtenidas").val() == "" || $("#Piezas_Obtenidas").val() <= 0) {
                        notif({
                            msg: "Debe ingresar las Piezas Obtenidas",
                            type: "error",
                            position: "center"
                        });

                        $("#Piezas_Obtenidas").focus();

                        return false;
                    }
                    else {
                        $('#Litros_Teoricos').focus();
                    }
                }
            });

            $("#Litros_Crema").keyup(function (e) {
                if (e.keyCode == 13) {
                    //CargarDetallesFormula();

                    if (FormulaActual.Kilos_Teoricos != null && FormulaActual.Kilos_Teoricos > 0 && FormulaActual.Litros_Crema != null && FormulaActual.Litros_Crema > 0) {
                        $('#Litros_Teoricos').val((parseFloat((parseFloat($('#Litros_Crema').val()) * parseFloat(FormulaActual.Kilos_Teoricos)) / parseFloat(FormulaActual.Litros_Crema)).toFixed(3)).toString().replace(".", ","));
                    }

                    if (!$("#Litros_Crema").val() || $("#Litros_Crema").val() == "" || $("#Litros_Crema").val() <= 0) {
                        notif({
                            msg: "Por favor, ingrese Litros Crema",
                            type: "error",
                            position: "center"
                        });

                        $("#Litros_Crema").focus();

                        return false;
                    }
                    else {
                        $('#Fecha_Vencimiento').focus();
                    }
                }
            });
            $("#Litros_Teoricos").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Litros_Reales').focus();
                }
            });
            $("#Fecha_Vencimiento").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Ph').focus();
                }
            });
            $("#Ph").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Piezas_Obtenidas').focus();
                }
            });
        }

        /* LLAMA AL METODO POST DE ADDOREDIT DE FORMULAS*/
        function SubmitProduccion(form) {
            let dateRegex = /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-.\/])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$/;

            if (!dateRegex.test($("#Produccion_Fecha").val())) {
                notif({
                    msg: "Ingrese una fecha válida.",
                    type: "error",
                    position: "center"
                });

                $("#Produccion_Fecha").focus();

                return false;
            }

            if (!$("#Produccion_Lote").val() || $("#Produccion_Lote").val() == "") {
                notif({
                    msg: "Complete el lote.",
                    type: "error",
                    position: "center"
                });

                $("#Produccion_Lote").focus();

                return false;
            }

            if (!$("#Codigo_Producto").val() || $("#Codigo_Producto").val() == "") {
                notif({
                    msg: "Ingrese un Código de Producto.",
                    type: "error",
                    position: "center"
                });

                $("#Codigo_Producto").focus();

                return false;
            }

            if (!$("#Litros_Crema").val() || $("#Litros_Crema").val() == "" || $("#Litros_Crema").val() <= 0) {
                notif({
                    msg: "Debe ingresar los Litros de Crema.",
                    type: "error",
                    position: "center"
                });

                $("#Litros_Crema").focus();

                return false;
            }

            if (!$("#Piezas_Obtenidas").val() || $("#Piezas_Obtenidas").val() == "" || $("#Piezas_Obtenidas").val() <= 0) {
                notif({
                    msg: "Debe ingresar las Piezas Obtenidas.",
                    type: "error",
                    position: "center"
                });

                $("#Piezas_Obtenidas").focus();

                return false;
            }

            if (!$("#Litros_Reales").val() || $("#Litros_Reales").val() == "" || $("#Litros_Reales").val() <= 0) {
                notif({
                    msg: "Debe ingresar los Litros Reales.",
                    type: "error",
                    position: "center"
                });

                $("#Litros_Reales").focus();

                return false;
            }

            $('#InsumosAsociadosTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 0) {
                    InsumoActual = $(this).html();
                    for (var i in listadoInsumosFormula) {
                        if (listadoInsumosFormula[i].Codigo_Insumo == InsumoActual) {
                            $(this).parent().find('td').find('#kilosEditable').each(function () {
                                if ($(this).val() != "" || $(this).val() > 0) {
                                    listadoInsumosFormula[i].Litros = parseFloat($(this).val());
                                }
                            });
                        }
                    }
                }
            });
            for (var r in listadoInsumosFormula) {
                $('#Mov_Ins_Asoc').append('<input type="text" name="Produccion.Mov_Ins_Asoc[' + r + '].Codigo_Insumo" value="' + listadoInsumosFormula[r].Codigo_Insumo + '"/>' +
                    '<input type="text" name="Produccion.Mov_Ins_Asoc[' + r + '].Litros" value="' + parseFloat(listadoInsumosFormula[r].Litros).toString().replace(".", ",") + '"/>');
            }
            Armar_Array_Insumos_Consumidos("DetallesProduccion");

            for (var t in listadoCostosIndirectosProduccion) {
                $('#CostosIndirectosProduccion').append('<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Codigo_Costo_Indirecto" value="' + listadoCostosIndirectosProduccion[t].Codigo_Costo_Indirecto + '"/>' +
                    '<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Cantidad" value="' + parseFloat($('#Litros_Tina').val()).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Porcentaje" value="' + parseFloat(listadoCostosIndirectosProduccion[t].Porcentaje).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Precio_Fijo" value="' + parseFloat(listadoCostosIndirectosProduccion[t].Precio_Fijo).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Precio" value="' + parseFloat(listadoCostosIndirectosProduccion[t].Precio).toString().replace(".", ",") + '"/>');
            }
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                //VALIDADOR DEL FORMULARIO
                $('#Materia_Grasa').val($('#Materia_Grasa').val().toString().replace(".", ","));
                $('#Acidez').val($('#Acidez').val().toString().replace(".", ","));
                $('#Ph').val($('#Ph').val().toString().replace(".", ","));
                $('#Materia_Grasa_Final').val($('#Materia_Grasa_Final').val().toString().replace(".", ","));
                $('#Piezas_Obtenidas').val($('#Piezas_Obtenidas').val().toString().replace(".", ","));
                $('#Litros_Teoricos').val($('#Litros_Teoricos').val().toString().replace(".", ","));
                $('#Litros_Reales').val($('#Litros_Reales').val().toString().replace(".", ","));
                $('#Litros_Crema').val($('#Litros_Crema').val().toString().replace(".", ","));

                    $('.AddProduccion').attr('disabled', true);
                    $.ajax({
                        type: "POST",
                        url: "/ProduccionesCrema/AddOrEdit",
                        data: $(form).serialize(),
                        success: function (data) {
                            if (!data.success) {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                            }
                            else {
                                let siguiente = "/ProduccionesCrema/Index?resultado=" + data.resultado;
                                if (data.envasar) {
                                    EnvasarInicio($("#Produccion_Lote").val(), siguiente);
                                }
                                else
                                    window.location = siguiente;
                            }
                        },
                        complete: function(data){
                            $('.AddProduccion').attr('disabled', false);
                        }
                    });

            }
            return false;
        }
        function ConfirmarAjustes() {
            var InsumoActual;
            $('#DetallesFormulaTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 0) {
                    InsumoActual = $(this).html();
                    for (var i in listadoDetalles) {
                        if (listadoDetalles[i].Descripcion == InsumoActual) {
                            $(this).parent().find('td').find('.nuevoAjuste').each(function () {
                                let valord = $(this).val();
                                if (valord != "") {
                                    if (valord >= 0) {
                                        valord = parseFloat(valord);
                                        if (!isNaN(valord))
                                            listadoDetalles[i].Ajuste = valord;
                                    }
                                }
                            });
                        }
                    }
                }
            });
            $('#modalDetalles').modal('hide');
            CargarDetalles();
        }
        function GetFormula(Codigo) {
            var x = $.ajax({
                type: "GET",
                url: "/Formulas/GetOne/",
                data: { Codigo_Formula: Codigo,
                    Codigo_Producto : -1
                },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        FormulaActual = data.data[0];
                        $('#Codigo_Formula').val(FormulaActual.Codigo_Producto);
                        return FormulaActual;
                    }
                    else {
                        $.notify(data.mensaje, {
                            globalPosition: "top center",
                            className: "error"
                        });
                    }
                }
            });
        }
               
        function TraerFormula(Codigo){
            $.ajax({
                type: "POST",
                url: "/Formulas/GetOne/",
                data: { Codigo_Formula: -1,
                    Codigo_Producto: Codigo },
                success: function (data) {
                    if (data.success) {
                        FormulaActual = [];
                        FormulaActual = data.data[0];
                        if (FormulaActual == null) {
                            notif({
                                msg: "Error, no existe registro con el Código ingresado.",
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            });
        }
        function AddOrEditInsumos(Codigo_Formula, Lote) {
            /*SE LLAMA CUANDO SE INGRESA UNA NUEVA PRODUCCION*/
            if (Lote == "" && Codigo_Formula != "") {
                ObtenerInsumosFormula(Codigo_Formula, Lote)
            } else {
                /*SE LLAMA CUANDO SE EDITA UNA PRODUCCION*/
                var y = $.ajax({
                    type: "GET",
                    url: "/Producciones/Get_Mov_Ins_Asoc/",
                    data: {
                        Lote: Lote
                    },
                    success: function (data) {
                        if (data.success) {
                            listadoInsumosFormula = [];
                            for (var i in data.data) {
                                listadoInsumosFormula.push(data.data[i]);
                            }
                            CargarInsumosFormula();
                        }
                    }
                });
            }
        }
        /*CARGA DESDE listadoDetalles*/
        function CargarDetalles() {
            $.fn.dataTable.ext.errMode = 'none';

            dataTableDetalles = $("#DetallesTabla").DataTable({
                "bPaginate": false,
                "bFilter": false,
                "destroy": true,
                "responsive": true,
                "autoWidth": true,
                "bInfo": false,
                "lengthChange": false,
                data: listadoDetalles,
                "columns": [
                    {
                        title: "Insumo",
                        data: "Descripcion",
                        "sClass": "mayusculas-texto",
                        width: "40%"
                    },
                    {
                        title: "Unidades",
                        data: "Codigo_Insumo",
                        "render": function (data) {
                            for (var i in listadoDetalles) {
                                if (listadoDetalles[i].Codigo_Insumo == data) {
                                    if (listadoDetalles[i].Precio_Por == 'U')
                                        return parseFloat(listadoDetalles[i].Cantidad).toFixed(4);
                                    else
                                        return "";
                                }
                            }

                        }
                    },
                    {
                        title: "Litros/Litros",
                        data: "Codigo_Insumo",
                        "render": function (data) {
                            for (var i in listadoDetalles) {
                                if (listadoDetalles[i].Codigo_Insumo == data) {
                                    if (listadoDetalles[i].Precio_Por != 'U')
                                        return parseFloat(listadoDetalles[i].Cantidad).toFixed(4);
                                    else
                                        return "";
                                }
                            }
                        }
                    },
                    {
                        title: "Ajuste",
                        data: "Ajuste",
                        render: function (data) {
                            let valor = parseFloat(data);
                            if (!isNaN(valor))
                                return valor.toFixed(4);
                            else
                                return "";
                        }
                    },
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    { className: "text-right", "targets": [1, 2, 3] }
                ],
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-cog"></span> Realizar Ajustes',
                       className: 'ajustes',
                       action: function () {
                           CargarDetallesEnModal();
                           $('#modalDetalles').modal('toggle');
                       }
                   },
                ],
                "order": [[0, "asc"]]
            })

            dataTableDetalles.on('error.dt', function (e, settings, techNote, message) {
                console.log('An error has been reported by DataTables: ', message);
            });
        }
        /*SE LLAMA CUANDO SE ESTA HACIENDO LA EDICIÓN DE LA PRODUCCIÓN ACTUAL*/
        function CargarDetallesProduccion() {

        }
        /* FUNCIONAMIENTO PRODUCTO, LITROS, KILOS TEORICOS Y FACTOR */
        var controlLitros = null;
        var controlProducto = null;
        var controlKilosTeoricos = null;
        var controlFactor = null;

        $(document).ready(function () {
            controlLitros = $("#Litros_Crema");
            controlProducto = $("#Codigo_Producto");
            controlKilosTeoricos = $("#Kilos_Teoricos");
            controlFactor = $("#Factor");

            let valorLeche = controlLitros.val().trim();
            let valorProducto = controlProducto.val().trim();

            if (!valorProducto)
                controlLitros.val("");

            valorLeche = controlLitros.val().trim();

            controlProducto.change(actualizarProducto);
            controlLitros.change(actualizarLeche);

            controlLitros.blur(function (e) {
                let valorLeche = controlLitros.val();
                let valorFactor = controlFactor.val();

                if (valorLeche)
                    calcularKilosTeoricos();

                if (!valorLeche)
                    controlKilosTeoricos.val("");
            });

            @if (Model.Produccion.Detalle_Produccion.Count != 0)
            {
                <Text>
                    $("#InsumosConsumidosDiv").html("<h1>Cargando Insumos</h1>");
                    $.ajax({
                        type: "GET",
                        url: "/Producciones/ObtenerInsumosConsumidos/",
                        data: { producto: '', litros: 0, lote: '@Model.Lote' },
                        success: function (data) {
                            $("#InsumosConsumidosDiv").html(data);
                        }
                    });
                </text>
            }
        });        

        function actualizarLeche() {
            CargarDetallesFormula();
        }

        function calcularKilosTeoricos() {

        }

        function cargarFabrica(fabrica_codigo) {
            if (fabrica_codigo != null && fabrica_codigo != -1) {
                $("#Produccion_Codigo_Fabrica").val(fabrica_codigo);
                $.ajax({
                    type: "GET",
                    url: "/Fabricas/GetData/",
                    data: { Codigo_Fabrica: fabrica_codigo },
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            var Fabrica = data.data[0];
                            $("#Produccion_Codigo_Fabrica").val(Fabrica.Codigo_Fabrica);
                            $("#fabrica-descripcion").html(Fabrica.Descripcion);
                        }
                        else
                            console.log("ERROR AUTO FABRICA: ", data);
                    }
                });
            }
            else
                console.log("NO se pudo auto completar fabrica: ", fabrica_codigo);
        }

        $("#Produccion_Codigo_Fabrica").blur(function () {
            cargarFabrica($(this).val().trim());
        });

        $(document).ready(function () {

            if(@Model.Codigo_Interno_Produccion == 0)
                cargarFabrica(@{@(Sesion.UsuarioActual != null ? (Sesion.UsuarioActual.Fabrica.HasValue ? Sesion.UsuarioActual.Fabrica.Value : -1) : -1)});

            $("#modalFabricas").on('shown.bs.modal', function () {
                $('#modalFabricas input').focus();
            });
            $("#modalFormulas").on('shown.bs.modal', function () {
                $('#modalFormulas input').focus();
            });
            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
            if(@Model.Codigo_Interno_Produccion == 0){
                $('#Piezas_Obtenidas').val("");
                $('#Produccion_Lote').val("");
                $('#Produccion_Lote').focus();
                CargarDetalles();
            }
            else{
                Lote = $('#Produccion_Lote').val();
                $('#Nro_Planilla').val($('#Nro_Planilla_Editar').val());
                TraerFormula($('#Codigo_Producto').val());
                AddOrEditInsumos("@Model.Produccion.Codigo_Formula", Lote);
                CargarDetallesProduccion();
            }
            SaltosAlPresionarEnter();
            $("#Produccion_Fecha").datepicker();
            $("#Fecha_Vencimiento").datepicker();

            let autoFecha = '@{
                try
                {
                    if (Model.Codigo_Interno_Produccion == 0)
                    {
                         @db.Obtener_Ultima_Fecha_Producion(Sesion.UsuarioActual != null ? Sesion.UsuarioActual.Fabrica.HasValue ? Sesion.UsuarioActual.Fabrica.Value : -1 : -1, "Crema").First().Value.ToString("dd/M/yyyy", CultureInfo.InvariantCulture);
                    }
                    else
                    {
                        @String.Empty;
                    }
                    //@db.Produccion.OrderByDescending(x => x.Fecha).First().Fecha.Value.ToString("dd/M/yyyy", CultureInfo.InvariantCulture);
                }
                catch(Exception e)
                {
                    @String.Empty;
                }
            }';

            if (autoFecha) {
                $("#Produccion_Fecha").val(autoFecha.trim());
                $("#Fecha_Vencimiento").val(autoFecha.trim());
            }
        })
    </script>
}