﻿@using MVC_Produccion.Sesiones;
@{
    ViewBag.Title = "Producciones : Listado";
    if (ViewBag.Error == null)
    {
        <h2>Producciones de Crema</h2>

        <table id="ProduccionesTabla" class="display compact" style="width:100%"></table>

        <input class="codigo" hidden />

        <div id="dropdownHistoricos" style="display:none; text-transform:capitalize">
            @Html.DropDownList("ListadoHistoricos", ViewBag.ListadoHistoricos as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
        </div>
    }
    else
    {
        <div class="alert alert-danger col-md-12" style="margin-top:70px !important" role="alert">
            @ViewBag.Error
        </div>
    }
}

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Delete()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var Linea_a_envasar = null;
        var ListadoDetalles = [];
        var dataTable = null;
        var Lote = "";
        function modificarInput(Codigo) {
            $('input.codigo').val(Codigo);
        }

        function Delete() {
            $.ajax({
                type: "POST",
                url: "/Producciones/Delete/",
                data: { Lote: $('input.codigo').val() },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');
                        CargarProducciones();
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

        function CargarProduccionesPorHistorico(Historico) {
            $.ajax({
                type: "GET",
                url: "/ProduccionesCrema/GetHistoricos/",
                data: {
                    Lote: "",
                    Historico: Historico
                },
                dataType: "json",
                success: function (data) {
                    listadoProducciones = data.data;
                    dataTable.clear();
                    dataTable.rows.add(listadoProducciones);
                    dataTable.draw();
                }
            });
        }

        function CargarProducciones() {
            $.ajax({
                type: "GET",
                url: "/ProduccionesCrema/GetData/",
                data: { Lote: "" },
                dataType: "json",
                success: function (data) {
                    listadoProducciones = data.data;
                    dataTable = $("#ProduccionesTabla").DataTable({
                        "destroy": true,
                        "autoWidth": true,
                        "responsive": true,
                        data: listadoProducciones,
                        "columns": [
                            {
                                "data": "Lote",
                                "title": "Lote",
                                "width": "15%"
                            },
                             {
                                 "data": "Fecha",
                                 "title": "Fecha Elaboración",
                                 "render": function (data) {
                                     if (data != null)
                                         return moment(data).format('DD/MM/YYYY');
                                     else
                                         return "";
                                 }
                             },
                             {
                                 "data": "Piezas_Obtenidas",
                                 "title": "Unidades Elaboradas",
                                 render: function (data) {
                                     if (data == null)
                                         return "";
                                     else
                                         return parseFloat(data).toFixed(4);
                                 }
                             },
                            {
                                "data": "Litros_Teoricos",
                                "title": "Litros Teóricos",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    else
                                        return parseFloat(data).toFixed(4);
                                }
                            },
                            {
                                "data": "Litros_Reales",
                                "title": "Litros Reales",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    else
                                        return parseFloat(data).toFixed(4);
                                }
                            },
                            {
                                "data": "Restan_Envasar",
                                "title": "Restan Envasar",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    else
                                    return parseFloat(data).toFixed(4);
                                }
                            },
                            {
                                "data": "Materia_Grasa",
                                "title": "Materia Grasa",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    else
                                        return parseFloat(data).toFixed(2);
                                }
                            },
                            {
                                "data": "Fecha_Vencimiento",
                                "title": "Fecha Vencimiento",
                                "render": function (data) {
                                    if (data != null)
                                        return moment(data).format('DD/MM/YYYY');
                                    else
                                        return "";
                                }
                            },
                            @{
                                if (Sesion.UsuarioActual.Rol.ToLower() == "administrador" || !ViewBag.configuraciones.Requiere_Rol_Administrador  || !ViewBag.configuraciones.Utiliza_Login)
                                {
                                    <text>
                                        {
                                            "data": "Lote",
                                            "title": "Herramientas",
                                            width: "10%",
                                            "render": function (data) {
                                                return "<a class='btn btn-default btn-xs' href=/ProduccionesCrema/AddOrEdit?Lote=" + data + "><span class='glyphicon glyphicon-pencil'></span></a>" +
                                                    "<a class='btn btn-danger btn-xs' onclick=modificarInput('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                                            }
                                        },
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        {
                                            "title": "",
                                            "render": function (data) {
                                                return "";
                                            }
                                        }
                                    </text>
                                }
                            }
                        ],
                        "columnDefs": [
                            { className: "text-right", "targets": [2, 3, 4,5,6] },
                            { className: "text-center", "targets": [0, 1, 2, 7, 8] }
                        ],
                        "order": [[1, 'asc']],
                        "language": idiomaEspañol,
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                text: '<span class="glyphicon glyphicon-plus"></span>',
                                className: 'nuevo',
                                action: function () {
                                    window.location.href = "/ProduccionesCrema/AddOrEdit/";
                                }
                            },
                            {
                                text: '<span class="glyphicon glyphicon-arrow-right"></span> Envasar',
                                className: 'envasar',
                                action: function () {
                                    EnvasarInicio(Linea_A_Envasar.Lote);
                                }
                            },
                            {
                                text: '<span class="glyphicon glyphicon-arrow-right"></span> Modificar lote',
                                className: 'modificarLoteProduccion',
                                action: function () {
                                    AbrirModalModificarLoteProd($("#ProduccionesTabla > tbody > tr.selected td").first().text());
                                }
                            },
                            {
                                text: $('#dropdownHistoricos').html(),
                                className: 'botonDropdown'
                            },
                        ],
                        initComplete: function () {
                            $("#ListadoHistoricos").change(function () {
                                CargarProduccionesPorHistorico($('option:selected', this).val());
                            });
                            $('#ListadoHistoricos').val(0);
                            $('div.dataTables_filter input').focus();

                        },
                        select: 'single'
                    });
                    dataTable.on('select', function (e, dt, type, indexes) {
                        $(".modificarLoteProduccion").prop("disabled", false);
                        $(".modificarLoteProduccion").addClass("azul");
                        Linea_A_Envasar = dataTable.rows(indexes[0]).data()[0];
                        Codigo_Producto_Seleccionado = dataTable.rows(indexes[0]).data()[0].Codigo_Producto;
                        var Restan_Envasar = dataTable.rows(indexes[0]).data()[0].Restan_Envasar;
                        if (Restan_Envasar > 0) {
                            $('.envasar').prop("disabled", false);
                            $(".envasar").addClass("verde");
                            
                        }
                        else {
                            $('.envasar').prop("disabled", true);
                            $(".envasar").removeClass("verde");
                        }
                    });

                    dataTable.on('deselect', function (e, dt, type, indexes) {
                        if ($('#ProduccionesTabla>tbody>tr.selected').length == 0) {
                            $('.envasar').prop("disabled", true);
                            $(".envasar").removeClass("verde");
                            $(".modificarLoteProduccion").prop("disabled", true);
                            $(".modificarLoteProduccion").removeClass("azul");
                        }
                    });
                }
            });
          

        };
        function MostrarMensaje() {

            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };
        $(document).ready(function () {
            CargarProducciones();
            if ("@ViewBag.Resultado" != "")
                MostrarMensaje();
        });
    </script>
}











