﻿@model AccesoDatos.Contexto.Produccion.Orden_Compra
@using Newtonsoft.Json;
@{
    if (Model.Codigo_Interno_Orden == 0)
    {
        ViewBag.Title = "Órdenes de Compra : Nuevo";
    }
    else
    {
        ViewBag.Title = "Órdenes de Compra : Editar";
    }
}

@using (Html.BeginForm("AddOrEdit", "OrdenesDeCompra", FormMethod.Post, new { id = "OrdenForm", onsubmit = "return SubmitOrden(this)" }))
{
    @Html.HiddenFor(model => model.Codigo_Interno_Orden)
    <div class="col-md-12 contenedor-formulas-add">
        <div class="col-md-12 flexible2">
            <!-- CONTENEDOR SUBMIT-->

            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <input type="submit" value="Confirmar" class="btn btn-primary btnConfirmacionFrm" />
                        <a class="btn btn-default" href="@Url.Action("Index", "OrdenesDeCompra")">Volver</a>
                    </div>
                </div>
            </div>

            <!-- CONTENEDOR DETALLES DE ORDEN-->

            <div class="col-md-12 caja-contenedora">
                <!--NUMERO COMPROBANTE / FECHA / FECHA DE ENTREGA-->

                <div class="col-md-12 caja-sector">
                    <div class="col-md-3 form-medio">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Codigo_Interno_Orden, "Número:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4 form-medio">
                            @Html.EditorFor(model => model.Codigo_Interno_Orden, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize", @Readonly = true } })
                            @Html.ValidationMessageFor(model => model.Codigo_Interno_Orden)
                        </div>
                    </div>

                    <div class="col-md-2 form-medio">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha, "Fecha:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize; text-align:right" } })
                            @Html.ValidationMessageFor(model => model.Fecha)
                        </div>
                    </div>

                    <div class="col-md-2 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.Fecha_Entrega, "F. Entrega:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Fecha_Entrega, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize; text-align:right" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Entrega)
                        </div>
                    </div>


                    <div class="col-md-3 form-medio">
                        <div class="col-md-2 col-md-offset-2  form-medio ">
                            @Html.LabelFor(m => m.Codigo_Fabrica, "Fábrica:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Fabrica, "Fábrica", new { htmlAttributes = new { @class = "form-control", @Type = "Text" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                            @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })

                        </div>                        
                        <p style="text-transform: capitalize; margin: 10px; color: #0a6cbe" id="fabrica-descripcion">
                            @{
                                if (Model.Codigo_Fabrica != null)
                                {
                                    @ViewBag.descFabrica;
                                }
                            }
                        </p>
                    </div>

                    <div class="col-md-2 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.Precio_Dolar, "Precio Dólar:", htmlAttributes: new { @class = "control-label", @style = "text-align:right" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Precio_Dolar, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @Type = "Text" } })
                            @Html.ValidationMessageFor(model => model.Precio_Dolar)
                        </div>
                    </div>
                </div>

                <!-- PROVEEDOR / DESCUENTO / PRECIO DOLAR -->

                <div class="col-md-12 caja-sector">
                    <div class="col-md-5 form-medio">
                        <div style="display:none">
                            @Html.EditorFor(model => model.Codigo_Interno_Orden, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-2 form-medio">
                            @Html.LabelFor(model => model.Codigo_Proveedor, "Proveedor:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Proveedor, new { htmlAttributes = new { @class = "form-control", @Type = "Text" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalProveedores()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                        <div class="col-md-7 producto">
                            @Html.ValidationMessageFor(model => model.Codigo_Proveedor)
                            <p style="text-transform: capitalize; color: #0a6cbe" id="Descripcion_Proveedor">
                                @{
                                    if (Model.Codigo_Proveedor != null)
                                    {
                                        @ViewBag.descProv;
                                    }
                                }
                            </p>
                        </div>

                    </div>


                    <div class="col-md-5 form-medio">
                        <div class="col-md-2 form-medio">
                            @Html.LabelFor(model => model.Codigo_Transporte, "Transporte:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Transporte, new { htmlAttributes = new { @class = "form-control", @Type = "Text" } })
                                <span class="input-group-addon"><a href="#" data-toggle="modal" data-target="#modalTransportes"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                        <div class="col-md-7 producto">
                            @Html.ValidationMessageFor(model => model.Codigo_Transporte)
                            <p style="text-transform: capitalize; color: #0a6cbe" id="Descripcion_Transporte">
                                @{
                                    if (Model.Codigo_Transporte != null)
                                    {
                                        @ViewBag.descTransporte;
                                    }
                                }
                            </p>
                        </div>

                    </div>

                    <div class="col-md-2 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.Descuento, "Bonificación:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Descuento, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @Type = "Text" } })
                            @Html.ValidationMessageFor(model => model.Descuento)
                        </div>
                    </div>


                </div>

                <!-- TOTAL -->

                <div style="display:none">
                    <input type="text" name="Total" id="Total" />
                </div>

            </div>

            <div class="col-md-12 contenedor-listados">

                <!--DETALLES-->
                <div class="col-md-12 caja-contenedora">
                    <div class="titulo-sector"></div>

                    <table id="DetallesTabla" class="display compact noOrdenable" style="width:100%"></table>
                </div>

                <!--TOTAL-->
                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-12 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                        <div class="col-md-3 flexible" style="justify-content:flex-end;">
                            <h3 style="margin:0px 5px 0px 0px">Total:</h3><h3 style="margin:0px !important" id="precio-total"></h3>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-12 caja-contenedora">
                <!--COMENTARIO / CONDICIÓN DE PAGO-->

                <div class="col-md-12 caja-sector">
                    <div class="col-md-5 form-medio">
                        <div class="col-md-2 form-medio">
                            @Html.LabelFor(model => model.Comentario, "Comentario:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-9 form-medio">
                            @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })
                            @Html.ValidationMessageFor(model => model.Comentario)
                        </div>
                    </div>
                    <div class="col-md-3 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.Condicion_Pago, "Condición de Pago:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Condicion_Pago, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })
                            @Html.ValidationMessageFor(model => model.Condicion_Pago)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-11 form-medio">
                            @Html.EditorFor(model => model.Descripcion_Condicion_Pago, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })
                            @Html.ValidationMessageFor(model => model.Descripcion_Condicion_Pago)
                        </div>
                    </div>
                </div>

                <!-- LUGAR ENTREGA / PLAZO ENTREGA -->

                <div class="col-md-12 caja-sector">
                    <div class="col-md-3 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.Lugar_Entrega, "Lugar de Entrega:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Lugar_Entrega, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })
                            @Html.ValidationMessageFor(model => model.Lugar_Entrega)
                        </div>
                    </div>

                    <div class="col-md-3 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.Plazo_Entrega, "Plazo de Entrega:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Plazo_Entrega, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })
                            @Html.ValidationMessageFor(model => model.Plazo_Entrega)
                        </div>
                    </div>
                </div>

            </div>

            <!-- LISTADOS PARA ENVIAR AL CONTROLADOR -->

            <div id="DetallesOrden" style="display:none"></div>

            <!-- CONTENEDOR SUBMIT-->

            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <input type="submit" value="Confirmar" class="btn btn-primary btnConfirmacionFrm"/>
                        <a class="btn btn-default" href="@Url.Action("Index", "OrdenesDeCompra")">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- Modal Transportes-->
<div class="modal fade" id="modalTransportes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Transportes</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!--TABLA TRANSPORTES -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="TransportesTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarTransporte()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        $.validator.methods.range = function (value, element, param) {
            let globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
        //Date dd/MM/yyyy
        $.validator.methods.date = function (value, element) {
            let date = value.split("/");
            return this.optional(element) || !/Invalid|NaN/.test(new Date(date[2], date[1], date[0]).toString());
        }
    </script>

    <script>

        $('#Fecha').datepicker();
        $('#Fecha_Entrega').datepicker();
        $('#Condicion_Pago').datepicker();

        let tipoModalInsumo = 0;
        let dataTableInsumos = [];

        let Total = 0;

        let Codigo_Orden = @Model.Codigo_Interno_Orden;

        function ConfirmarInsumo() {

            tipoModalInsumo = 0;
            $('#InsumosLayoutTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {
                    $('#tb-insumo').val($(this).text())
                    AgregarCamposInsumoNuevo();
                }
            });
            $('#modalInsumos').modal('hide');

        }

        function toDate(dateStr) {
            let parts = dateStr.split("/")
            return new Date(parts[2], parts[1] - 1, parts[0])
        }

        $(".btnConfirmacionFrm").click(function () {

            if (!$(this).prop('disabled')) {

                $(this).prop('disabled', true);

                SubmitOrden($("#OrdenForm"));

            }

        });

        function SubmitOrden(form) {
            for (let i in listadoDetalles) {
                $('#DetallesOrden').append('<input type="text" name="detalleOrdenCompra[' + i + '].Codigo_Insumo" value="' + listadoDetalles[i].Codigo_Insumo + '"/>' +
                    '<input type="text" name="detalleOrdenCompra[' + i + '].Cantidad" value="' + parseFloat(listadoDetalles[i].Cantidad).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="detalleOrdenCompra[' + i + '].Sin_Cargo_Cantidad" value="' + parseFloat(listadoDetalles[i].Sin_Cargo_Cantidad).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="detalleOrdenCompra[' + i + '].Descuento" value="' + parseFloat(listadoDetalles[i].Descuento).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="detalleOrdenCompra[' + i + '].Precio_Costo" value="' + parseFloat(listadoDetalles[i].Precio_Costo).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="detalleOrdenCompra[' + i + '].Fecha_Entrega" value="' + moment(listadoDetalles[i].Fecha_Entrega).format("DD/MM/YYYY") + '"/>' +
                    '<input type="text" name="detalleOrdenCompra[' + i + '].Kilos_Litros" value="' + parseFloat(listadoDetalles[i].Kilos_Litros).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="detalleOrdenCompra[' + i + '].Importe" value="' + parseFloat(listadoDetalles[i].Total).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="detalleOrdenCompra[' + i + '].Sin_Cargo_Kilos_Litros" value="' + listadoDetalles[i].Sin_Cargo_Kilos_Litros + '"/>' +
                    '<input type="text" name="detalleOrdenCompra[' + i + '].Recibidos" value="' + parseFloat(listadoDetalles[i].Recibidos).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="detalleOrdenCompra[' + i + '].Faltantes" value="' + parseFloat(listadoDetalles[i].Faltantes).toString().replace(".", ",") + '"/>');
            }

            //VALIDADOR DEL FORMULARIO
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {

                $('#Descuento').val($('#Descuento').val().toString().replace(".", ","));
                $('#Precio_Dolar').val($('#Precio_Dolar').val().toString().replace(".", ","));
                $('#Total').val(parseFloat(CalcularTotales()).toString().replace(".", ","));
                $.ajax({
                    type: "POST",
                    url: "/OrdenesDeCompra/AddOrEdit",
                    data: $(form).serialize(),
                    success: function (data) {
                        if (!data.success) {

                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });

                            $(".btnConfirmacionFrm").prop("disabled", false);

                        }
                        else {
                            window.location.href = "/OrdenesDeCompra/Index?resultado= " + parseInt(data.resultado);
                        }
                    }
                });
            }

            else {

                $(".btnConfirmacionFrm").prop("disabled", false);

            }

            return false;
        }

        function SaltosEnFormulario() {
            $("#Numero_Comprobante").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Fecha').focus();
                }
            });

            $("#Fecha").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Fecha_Entrega').focus();
                }
            });

            $("#Fecha_Entrega").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Codigo_Proveedor').focus();
                }
            });

            $("#Descuento").keyup(function (e) {
                if (e.keyCode == 13) {
                    RecalculaDescuentos(parseFloat($('#Descuento').val()))
                    CargarDetalles();
                    $('#Precio_Dolar').focus();
                }
            });

            $("#Precio_Dolar").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Codigo_Transporte').focus();
                }
            });

            $("#Comentario").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Condicion_Pago').focus();
                }
            });

            $("#Condicion_Pago").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Descripcion_Condicion_Pago').focus();
                }
            });

            $("#Descripcion_Condicion_Pago").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Lugar_Entrega').focus();
                }
            });
            $("#Lugar_Entrega").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Plazo_Entrega').focus();
                }
            });

            $("#Codigo_Proveedor").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "POST",
                        url: "/Proveedores/GetOne/",
                        data: { Codigo_Proveedor: $('#Codigo_Proveedor').val() },
                        success: function (data) {
                            if (data.success) {
                                $('#Descripcion_Proveedor').html(data.data.RAZON_SOCIAL);
                                $('#Descuento').focus();
                            }
                            else {
                                notif({
                                    msg: "No existe proveedor con el Código ingresado.",
                                    type: "error",
                                    position: "center"
                                });

                                $('#Descripcion_Proveedor').focus();
                            }
                        }
                    });
                }
            });

            $("#Codigo_Transporte").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "POST",
                        url: "/Transportes/GetOne/",
                        data: { Codigo_Transporte: $('#Codigo_Transporte').val() },
                        success: function (data) {
                            if (data.success) {
                                $('#Descripcion_Transporte').html(data.data.RAZON_SOCIAL);
                                $('.nuevoDetalle').focus();
                            }
                            else {
                                notif({
                                    msg: "No existe transporte con el Código ingresado.",
                                    type: "error",
                                    position: "center"
                                });

                                $('#Codigo_Transporte').focus();
                            }
                        }
                    });
                }
            });
        }

        

        function ConfirmarTransporte() {
            $('#TransportesTabla').find('tr.selected').find('td').each(
                function () {
                    if ($(this).index() == 0) {
                        $("#Codigo_Transporte").val($(this).html());
                    }
                    if ($(this).index() == 1) {
                        $("#Descripcion_Transporte").html($(this).html());
                    }
                }
            )

            $('#modalTransportes').modal('hide');

            $('#modalTransportes').on('hidden.bs.modal', function (e) {
                $('.nuevoDetalle').focus();
            });

        };

        function CargarTransportes() {
            dataTable = $("#TransportesTabla").DataTable({
                "destroy": true,
                "bLengthChange": false,
                "autoWidth": true,
                "ajax": {
                    "url": "/Transportes/GetData/",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Codigo_Transporte",
                        "title" : "Código",
                        width: "10%"
                    },
                    {
                        "data": "Razon_Social",
                        "title": "Razón Social",
                        "sClass": "mayusculas-texto"
                    }
                ],
                "language": idiomaEspañol,
                "select": 'single',
                "columnDefs": [
                    { className: "text-center", "targets": [0] },
                ],
                "order": [[1, "asc"]]

            });

            $('#TransportesTabla tbody').on('click', 'tr.selected', function () {

                ConfirmarTransporte();

            });
        }


        function CargarDetalles() {
            dataTableInsumos = $("#DetallesTabla").DataTable({
                "bPaginate": false,
                "bFilter": false,
                "destroy": true,
                "responsive": true,
                "bInfo": false,
                "iDisplayLength": 50,
                "lengthChange": false,
                "autoWidth": true,
                data: listadoDetalles,
                "columns": [
                    {
                        title: "Código",
                        data: "Codigo_Insumo",
                        "width": "80px"
                    },
                    {
                        title: "Artículo",
                        data: "Descripcion_Insumo",
                        "sClass": "mayusculas-texto",
                        "width": "250px"
                    },
                    {
                        title: "Cantidad",
                        data: "Cantidad",
                        "render": function (data) {
                            if (!data) {
                                return "";
                            } else {
                                return parseFloat(data).toFixed(4);
                            }
                        }
                    },
                    {
                        title: "Kilos/Litros",
                        data: "Kilos_Litros",
                        "render": function (data) {
                            if (!data) {
                                return "";
                            } else {
                                return parseFloat(data).toFixed(4);
                            }
                        }
                    },
                    {
                        title: "Precio Costo",
                        data: "Precio_Costo",
                        "render": function (data) {
                            if (!data) {
                                return "";
                            } else {
                                return parseFloat(data).toFixed(4);
                            }

                        }
                    },
                    {
                        title: "Moneda",
                        data: "Moneda",
                        "sClass": "mayusculas-texto",
                    },
                    {
                        title: "% Dto.",
                        data: "Descuento",
                        "render": function (data) {
                            if (!data) {
                                return "";
                            } else {
                                return parseFloat(data).toFixed(4);
                            }

                        }
                    },
                    {
                        title: "Fecha Entrega",
                        data: "Fecha_Entrega",
                        "render": function (data) {
                            if (data == null) {
                                return "";
                            }
                            else {
                                return moment(data).format("DD/MM/YYYY");
                            }

                        }
                    },
                    {
                        title: "Total",
                        data: "Total",
                        "render": function (data) {
                            if (data == null) {
                                return "";
                            }
                            else {

                                return parseFloat(data).toFixed(4)
                            }

                        }
                    },
                    {
                        title: "Recibidos",
                        data: "Recibidos",
                        "render": function (data) {
                            if (!data) {
                                return "";
                            } else {
                                return parseFloat(data).toFixed(4);
                            }
                        }
                    },
                    {
                        title: "Faltantes",
                        data: "Faltantes",
                        "render": function (data) {
                            if (!data) {
                                return "";
                            } else {
                                return parseFloat(data).toFixed(4);
                            }
                        }
                    },
                    {
                        title: "",
                        data: "Codigo_Interno",
                        "width": "50px",
                        "render": function (data) {
                            return "<div class='row'><div style='padding-top: 0.6em;' class='row-sm-offset-4 ' > <div class='btn-group' ><a class='btn btn-default btn-xs' onclick=editarDetalle('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                            "<a class='btn btn-danger btn-xs' onclick=borrarDetalle('" + data + "')><span class='glyphicon glyphicon-trash'></span></a></div></div></div>";
                        },
                    },
                    {  
                        title: "",
                        orderable:false,
                        data: "Codigo_Interno",
                        "render": function (data) {
                            return "<input id='e' type='hidden' value='"+data+"'></input>";
                        },
                    }
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    { className: "text-right", "targets": [2, 3, 4, 5, 7, 9,10,11] },
                    { className: "text-center", "targets": [0, 6,8] }
                ],
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: "nuevo nuevoDetalle",
                       action: function () {

                           AgregarDetalle();
                       }
                   }
                ],
                initComplete: function () {
                    $('#precio-total').html(parseFloat(CalcularTotales()).toFixed(4));
                },
                "order": [[1, "asc"]]

            });
        }

        function CargarDetallesEditar() {
            $.ajax({
                type: "GET",
                url: "/OrdenesDeCompra/GetDetalles/",
                data: { Codigo_Interno_Orden: Codigo_Orden },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        for (let i in data.data) {
                            data.data[i].Codigo_Interno = i;
                            listadoDetalles.push(data.data[i]);
                        }
                        CargarDetalles();

                    };
                }
            });
        };

        function AgregarDetalle() {

            let filaAgregada = false;

            $('#DetallesTabla').find('#insertarDetalle').each(function () {
                filaAgregada = true;
            });

            if (filaAgregada == false) {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/

                let html = '<tr>';
                html += '<td id="data1" class="form-medio">' +
                    '<input id="tb-insumo" placeholder="Código" class="col-md-8 text-box single-line" style="text-align:right">' +
                    `<div class="col-md-4" style="padding:0px !important; text-align:right"><a href="#" id="mostrarInsumos" onclick="AbrirModalInsumos(ConfirmarInsumo)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>` +
                    '</td>';
                html += '<td id="data2" style="text-transform:capitalize"></td>';
                html += '<td id="data3"></td>';
                html += '<td id="data4"></td>';
                html += '<td id="data5"></td>';
                html += '<td id="data11"></td>';
                html += '<td id="data6"></td>';
                html += '<td id="data7"></td>';
                html += '<td id="data8"></td>';
                html += '<td id="data9"></td>';
                html += '<td id="data10"></td>';
                html += '<td style="display:flex; justify-content:flex-end"><button type="button" name="insert" id="insertarDetalle" onclick="InsertarDetalle()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>' +
                     '<button type="button" onclick="CargarDetalles()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';
                $('#DetallesTabla tbody').prepend(html);

                $('#tb-insumo').focus();  

                $("#tb-insumo").keyup(function (e) {
                    if (e.keyCode == 13) {
                        tipoModalInsumo = 0;
                        AgregarCamposInsumoNuevo();
                    }
                });
            }
        };

        function AgregarCamposInsumoNuevo() {
            $.ajax({
                type: "GET",
                url: "/Insumos/GetOne/",
                data: { Codigo_Insumo: $('#tb-insumo').val() },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        let Insumo = data.data[0];

                        for (let i in listadoDetalles) {
                            if (listadoDetalles[i].Codigo_Insumo == Insumo.Codigo_Insumo) {

                                notif({
                                    msg: "Ya existe un registro ingresado con ese código.",
                                    type: "warning",
                                    position: "center"
                                });

                                $('#tb-insumo').focus();
                                return;
                            }
                        }

                        $('#tb-insumo').change(function () {
                            if (Insumo.Precio_Por == 'U') {
                                $("#nuevaCantidadDetalle").focus();
                            } else {
                                $("#kilosLitrosNuevo").focus();
                            }
                        });

                        if (tipoModalInsumo == 0) {
                            if ($("#tb-insumo").val() == "") { $("#tb-insumo").val(Insumo.Codigo_Insumo); }

                            $("#data2").text(Insumo.Descripcion);

                            if (Insumo.Precio_Por == 'U') {
                                $('#data3').html('<input id="nuevaCantidadDetalle" placeholder="Cantidad" class="col-md-12 text-box single-line" style="text-align:right">');
                                $("#nuevaCantidadDetalle").focus();
                                $("#nuevaCantidadDetalle").blur(function () {
                                    if ($(this).val() == '' || $(this).val() == 0) {
                                        notif({
                                            msg: "Por favor, ingrese una cantidad.",
                                            type: "warning",
                                            position: "center"
                                        });

                                        $('#nuevaCantidadDetalle').focus();
                                        return false;
                                    }
                                });
                            } else {
                                $('#data4').html('<input id="kilosLitrosNuevo" placeholder="Kilos/Litros" class="col-md-12 text-box single-line" style="text-align:right">');
                                $("#kilosLitrosNuevo").focus();
                                $("#kilosLitrosNuevo").blur(function () {
                                    if ($(this).val() == '' || $(this).val() == 0) {
                                        notif({
                                            msg: "Por favor, ingrese kilos/litros.",
                                            type: "warning",
                                            position: "center"
                                        });

                                        $('#kilosLitrosNuevo').focus();
                                        return false;
                                    }
                                });
                            }

                            $('#data5').html(`<input id="nuevoPrecioCosto" placeholder="Precio Costo" value="${Insumo.Precio_Lista == null ? "" : Insumo.Precio_Lista}" class="col-md-12 text-box single-line" style="text-align:right">`);

                            $('#data6').html('<input id="nuevoDescuento" placeholder="Descuento" class="col-md-12 text-box single-line" style="text-align:right">');

                            $('#data7').html('<input id="nuevaFechaEntrega" placeholder="Fecha Entrega" class="col-md-12 text-box single-line">');

                            $('#nuevaFechaEntrega').datepicker();
                            $("#nuevaFechaEntrega").datepicker().datepicker('setDate', new Date());

                            $('#data8').html('<div id="totalItemDetalle" placeholder="Total" class="col-md-12 text-box single-line" style="text-align:right"></div>');

                            $('#data9').html('<input id="nuevoRecibidos" placeholder="Recibidos" class="col-md-12 text-box single-line" style="text-align:right">');

                            $("#data11").text(Insumo.Moneda);

                            $("#nuevaCantidadDetalle").keyup(function (e) {
                                if (e.keyCode == 13) {
                                    $("#nuevoDescuento").focus();
                                }
                            });

                            $("#kilosLitrosNuevo").keyup(function (e) {
                                if (e.keyCode == 13) {
                                    $("#nuevoPrecioCosto").focus();
                                }
                            });

                            $("#nuevoPrecioCosto").keyup(function (e) {
                                if (e.keyCode == 13) {
                                    $("#nuevoDescuento").focus();
                                }
                            });

                            $("#nuevoDescuento").keyup(function (e) {
                                if (e.keyCode == 13) {
                                    let Precio_Costo = $("#nuevoPrecioCosto").val() == '' ? 0 : parseFloat($("#nuevoPrecioCosto").val());
                                    let Cantidad_KilosLitros = 0;

                                    if (Insumo.Precio_Por == 'U') {
                                        Cantidad_KilosLitros = $('#nuevaCantidadDetalle').val() == '' ? 0 : parseFloat($('#nuevaCantidadDetalle').val());
                                    } else {
                                        Cantidad_KilosLitros = $('#kilosLitrosNuevo').val() == '' ? 0 : parseFloat($('#kilosLitrosNuevo').val());
                                    }

                                    if (Cantidad_KilosLitros >= 0 && Precio_Costo >= 0) {
                                        Total = CalculaDescuentoLinea($('#nuevoDescuento').val() == '' ? 0 : parseFloat($('#nuevoDescuento').val()), Precio_Costo, Cantidad_KilosLitros, parseFloat($('#Descuento').val()))
                                    }

                                    $('#totalItemDetalle').text(parseFloat(Total).toFixed(4));
                                    $("#nuevaFechaEntrega").focus();
                                }
                            });

                            $("#nuevaFechaEntrega").change(function (e) {
                                if (e.keyCode == 13) {
                                    $("#nuevoRecibidos").focus();
                                }
                            });

                            if ($('#Fecha_Entrega').val() != "") {
                                $('#nuevaFechaEntrega').val(moment(toDate($('#Fecha_Entrega').val())).format("DD/MM/YYYY"));
                            }

                            $("#nuevoRecibidos").keyup(function (e) {
                                if (e.keyCode == 13) {
                                    InsertarDetalle()
                                }
                            });

                            $('input').focus(function () { $(this).select() });

                        } else if (tipoModalInsumo == 1) {

                            $("#tb-insumoEditable").val(Insumo.Codigo_Insumo);

                            $('#DetallesTabla').find('tr').find('td.editable').each(function () {

                                if ($(this).index() == 1) {
                                    $(this).html("");
                                    $(this).html(Insumo.Descripcion);
                                }
                            });
                        }
                    } else {
                        notif({
                            msg: data.mensaje,
                            type: "error",
                            position: "center"
                        });
                        return false;
                    }
                }
            });
        }

        function InsertarDetalle() {
        
            //VERIFICA QUE EXISTA EN LA BASE DE DATOS EL INSUMO
        
            $.ajax({
                type: "GET",
                url: "/Insumos/GetOne/",
                data: { Codigo_Insumo: $('#tb-insumo').val() },
                dataType: "json",
                success: function (data) {
                    if (!data.success) {
                        notif({
                            msg: "Error, no existe un registro con el código ingresado.",
                            type: "error",
                            position: "center"
                        });
                        $("#tb-insumo").focus()
                        $("#tb-insumo").select()
                    } else {
                        let Insumo = data.data[0];
                        let Cantidad_KilosLitros = 0;
                        let Descuento_Linea = $('#nuevoDescuento').val() == '' ? 0 : parseFloat($('#nuevoDescuento').val());;
                        let Precio_Costo = $("#nuevoPrecioCosto").val() == '' ? 0 : parseFloat($("#nuevoPrecioCosto").val());
                        let Total = 0;
                        let Faltantes = 0;

                        for (let i in listadoDetalles) {
                            if (listadoDetalles[i].Codigo_Insumo == Insumo.Codigo_Insumo) {
                                notif({
                                    msg: "Ya existe un registro ingresado con ese código.",
                                    type: "warning",
                                    position: "center"
                                });

                                $('#tb-insumo').focus();
                                return false;
                            }
                        }

                        if (Insumo.Precio_Por == 'U') {
                            Cantidad_KilosLitros = parseFloat($('#nuevaCantidadDetalle').val() == '' ? 0 : $('#nuevaCantidadDetalle').val());
                        } else {
                            Cantidad_KilosLitros = parseFloat($('#kilosLitrosNuevo').val() == '' ? 0 : $('#kilosLitrosNuevo').val());
                        }

                        if (Insumo.Precio_Por == 'U') {
                            if (Cantidad_KilosLitros <= 0) {
                                notif({
                                    msg: "Por favor, ingrese una cantidad.",
                                    type: "warning",
                                    position: "center"
                                });

                                $('#nuevaCantidadDetalle').focus();
                                return false;
                            }
                        } else {
                            if (Cantidad_KilosLitros <= 0) {
                                notif({
                                    msg: "Por favor, ingrese kilos/litros.",
                                    type: "warning",
                                    position: "center"
                                });

                                $('#kilosLitrosNuevo').focus();
                                return false;
                            }
                        }

                        if (Cantidad_KilosLitros >= 0 && Precio_Costo >= 0) {
                            Total = CalculaDescuentoLinea(Descuento_Linea, Precio_Costo, Cantidad_KilosLitros, parseFloat($('#Descuento').val()))
                        }

                        if ($("#nuevoRecibidos").val() == '' || parseFloat($("#nuevoRecibidos").val()) == 0) {
                            Faltantes = Cantidad_KilosLitros;
                        } else {
                            Faltantes = Cantidad_KilosLitros - parseFloat($("#nuevoRecibidos").val());
                        }

                        let codigo_interno = -1;
                        $.each(listadoDetalles, function (i, item) {
                            if (item.Codigo_Interno > codigo_interno)
                                codigo_interno = item.Codigo_Interno;
                        });

                        listadoDetalles.push({
                            Codigo_Insumo: Insumo.Codigo_Insumo,
                            Descripcion_Insumo: Insumo.Descripcion,
                            Cantidad: $('#nuevaCantidadDetalle').val() == '' ? null : parseFloat($('#nuevaCantidadDetalle').val()),
                            Sin_Cargo_Cantidad: 0,
                            Descuento: Descuento_Linea,
                            Precio_Costo: Precio_Costo == 0 ? '0' : Precio_Costo,
                            Moneda: Insumo.Moneda,
                            Fecha_Entrega: $('#nuevaFechaEntrega').val() == '' ? null : toDate($('#nuevaFechaEntrega').val()),
                            Kilos_Litros: $('#kilosLitrosNuevo').val() == '' ? null : parseFloat($('#kilosLitrosNuevo').val()),
                            Sin_Cargo_Kilos_Litros: 0,
                            Total: Total,
                            Codigo_Interno: codigo_interno + 1,
                            Recibidos: $("#nuevoRecibidos").val() == '' ? '0' : parseFloat($("#nuevoRecibidos").val()),
                            Faltantes: Faltantes == 0 ? '0' : Faltantes,
                            Precio_Por: Insumo.Precio_Por,
                        })

                        dataTableInsumos.clear();
                        dataTableInsumos.rows.add(listadoDetalles);
                        dataTableInsumos.draw();

                        AgregarDetalle();

                        $('#precio-total').html(parseFloat(CalcularTotales()).toFixed(4));
                    }
                }
            });
        }

        function editarDetalle(Codigo_Nuevo) {
            dataTableInsumos.clear();
            dataTableInsumos.rows.add(listadoDetalles);
            dataTableInsumos.draw();

            $('#DetallesTabla').find('tr').find('td').each(function () {
                if ($(this).find('#e').val() == Codigo_Nuevo) {
                    let Code = $(this);
                    let Insumo = listadoDetalles.find(item => item.Codigo_Interno == Codigo_Nuevo);

                    Code.parent('tr').find('td').each(function () {

                        let Celda = $(this);
                        $(this).addClass("editable");

                        //Indice de celda
                        switch (Celda.index()) {
                            case 2:
                                let Cantidad = $(this).html();
                                if (Insumo.Precio_Por == 'U') {
                                    $(this).html('<div><input class="col-md-12 text-box single-line" id="cantidadEditable" value="' + Cantidad + '" style="text-align:right"></div>');
                                    $('#cantidadEditable').focus();
                                }
                                break;
                            case 3:
                                let Kilos_Litros = $(this).html();
                                if (Insumo.Precio_Por != 'U') {
                                    $(this).html('<div><input class="col-md-12 text-box single-line" id="kilosLitrosEditable" value="' + Kilos_Litros + '" style="text-align:right"></div>');
                                    $('#kilosLitrosEditable').focus();
                                }
                                break;
                            case 4:
                                let Precio_Costo = $(this).html();
                                $(this).html('<div><input class="col-md-12 text-box single-line" id="precioCostoEditable" value="' + Precio_Costo + '" style="text-align:right"></div>');
                                break;
                            case 6:
                                let Descuento = $(this).html();
                                $(this).html('<div><input class="col-md-12 text-box single-line" id="descuentoEditable" value="' + Descuento + '" style="text-align:right"></div>');
                                break;
                            case 7:
                                $(this).html('<div><input class="col-md-12 text-box single-line" id="fechaEntregaEditable" value="' + moment(Insumo.Fecha_Entrega).format("DD/MM/YYYY") + '" style="text-align:right"></div>');
                                $('#fechaEntregaEditable').datepicker();
                                break;
                            case 9:
                                let Recibidos = $(this).html();
                                $(this).html('<div><input class="col-md-12 text-box single-line" id="RecibidosEditable" value="' + Recibidos + '" style="text-align:right"></div>');
                                break;
                            case 11:
                                $(this).html(
                                    "<div class='row'><div style='padding-top: 0.6em; display:flex; justify-content:flex-end;' class='row-sm-offset-4' > <div class='btn-group' ><a class='btn btn-success btn-xs' onclick=confirmarEdicionDetalle('" + Codigo_Nuevo + "')>" +
                                    "<span class='glyphicon glyphicon-ok'></span>" +
                                    "</a>" +
                                    "<a class='btn btn-danger btn-xs' onclick=CargarDetalles()>" +
                                    "<span class='glyphicon glyphicon-remove'></span>" +
                                    "</a></div></div></div>"
                                );
                                break;
                        }
                    });

                    PasarCamposConEnterDetalles(Codigo_Nuevo)
                }
            })
        }

        function PasarCamposConEnterDetalles(Codigo_Nuevo){

            $("#cantidadEditable").keyup(function (e) {
                if (e.keyCode == 13) {
                    $("#precioCostoEditable").focus();
                }
            });

            $("#kilosLitrosEditable").keyup(function (e) {
                if (e.keyCode == 13) {
                    $("#precioCostoEditable").focus();
                }
            });

            $("#precioCostoEditable").keyup(function (e) {
                if (e.keyCode == 13) {
                    let Descuento_Linea = parseFloat($('#descuentoEditable').val() == '' ? 0 : $('#descuentoEditable').val());
                    let Cantidad_KilosLitros = 0;
                    let Precio_Costo = $(this).val() == '' ? 0 : parseFloat($(this).val());

                    if (listadoDetalles[i].Precio_Por == 'U') {
                        Cantidad_KilosLitros = parseFloat($('#cantidadEditable').val() == '' ? 0 : $('#cantidadEditable').val());
                    } else {
                        Cantidad_KilosLitros = parseFloat($('#kilosLitrosEditable').val() == '' ? 0 : $('#kilosLitrosEditable').val());
                    }

                    if (Cantidad_KilosLitros >= 0 && Precio_Costo >= 0) {
                        Total = CalculaDescuentoLinea(Descuento_Linea, Precio_Costo, Cantidad_KilosLitros, parseFloat($('#Descuento').val()))
                    }

                    $('#data10').text(parseFloat(Total).toFixed(4));

                    $("#descuentoEditable").focus();
                }
            });

            $("#descuentoEditable").keyup(function (e) {
                if (e.keyCode == 13) {
                    $("#fechaEntregaEditable").focus();
                }
            });

            $("#fechaEntregaEditable").keyup(function (e) {
                if (e.keyCode == 13) {
                    $("#RecibidosEditable").focus();
                }
            });
            $("#RecibidosEditable").keyup(function (e) {
                if (e.keyCode == 13) {
                    confirmarEdicionDetalle(Codigo_Nuevo);
                }
            });

            $('input').focus(function () { $(this).select() });
        }

        function confirmarEdicionDetalle(Codigo) {
            for (let i in listadoDetalles) {
                if (listadoDetalles[i].Codigo_Interno == Codigo) {
                    let Total = 0;
                    let Descuento_Linea = parseFloat($('#descuentoEditable').val() == '' ? 0 : $('#descuentoEditable').val());
                    let Cantidad_KilosLitros = 0;
                    let Precio_Costo = $("#precioCostoEditable").val() == '' ? 0 : parseFloat($("#precioCostoEditable").val());
                    let Recibidos = $('#RecibidosEditable').val() != '' && parseFloat($('#RecibidosEditable').val()) > 0 ? parseFloat($('#RecibidosEditable').val()) : 0;

                    if (listadoDetalles[i].Precio_Por == 'U') {
                        Cantidad_KilosLitros = parseFloat($('#cantidadEditable').val() == '' ? 0 : $('#cantidadEditable').val());
                    } else {
                        Cantidad_KilosLitros = parseFloat($('#kilosLitrosEditable').val() == '' ? 0 : $('#kilosLitrosEditable').val());
                    }

                    listadoDetalles[i].Cantidad = $('#cantidadEditable').val() == '' ? null : parseFloat($('#cantidadEditable').val());
                    listadoDetalles[i].Sin_Cargo_Cantidad = 0;
                    listadoDetalles[i].Kilos_Litros = $('#kilosLitrosEditable').val() == '' ? null : parseFloat($('#kilosLitrosEditable').val());
                    listadoDetalles[i].Sin_Cargo_Kilos_Litros = 0;
                    listadoDetalles[i].Precio_Costo = $('#precioCostoEditable').val() == '' ? 0 : parseFloat($('#precioCostoEditable').val());
                    listadoDetalles[i].Descuento = Descuento_Linea;
                    listadoDetalles[i].Fecha_Entrega = $('#fechaEntregaEditable').val() != null && $('#fechaEntregaEditable').val() != "" ? toDate($('#fechaEntregaEditable').val()) : null;
                    listadoDetalles[i].Recibidos = Recibidos == 0 ? '0' : Recibidos;
                    listadoDetalles[i].Faltantes = (Cantidad_KilosLitros - Recibidos) == 0 ? '0' : Cantidad_KilosLitros - Recibidos;

                    if (Cantidad_KilosLitros >= 0 && Precio_Costo >= 0) {
                        Total = CalculaDescuentoLinea(Descuento_Linea, Precio_Costo, Cantidad_KilosLitros, parseFloat($('#Descuento').val()))
                    }

                    listadoDetalles[i].Total = Total;

                    notif({
                        msg: "Registro editado satisfactoriamente.",
                        type: "success",
                        position: "center"
                    });

                    CargarDetalles();
                }
            }

            $('#precio-total').html(parseFloat(CalcularTotales()).toFixed(4));
        }

        function borrarDetalle(Codigo) {
            for (let i in listadoDetalles) {
                if (listadoDetalles[i].Codigo_Interno == Codigo) {

                    listadoDetalles.splice(i, 1);

                    CargarDetalles();

                    notif({
                        msg: "Registro eliminado satisfactoriamente.",
                        type: "success",
                        position: "center"
                    });
                }
            }

            //SumarTotales();
        }

        function CalcularTotales(){
            let TotalDetalles = 0;
            let Monedas = [];

            for(let i in listadoDetalles){
                if (listadoDetalles[i].Total != "" && parseFloat(listadoDetalles[i].Total) > 0) {
                    if (listadoDetalles[i].Moneda != 'Pesos') {
                        if (!Monedas.length) {
                            $.ajax({
                                type: "GET",
                                url: "/Utilidades/Monedas/",
                                success: function (data) {
                                    if (data.length) {
                                        Monedas = data;
                                    };
                                }
                            });
                        }

                        let Intercambio = 1;
                        for (let m in Monedas) {
                            if (Monedas[m].nombre == listadoDetalles[i].Moneda) {
                                Intercambio = Monedas[m].intercambio;
                            }
                        }
                        TotalDetalles += parseFloat(listadoDetalles[i].Total * Intercambio);
                    } else {
                        TotalDetalles += parseFloat(listadoDetalles[i].Total);
                    }
                }
            }

            return TotalDetalles;
        }

        function CalcularPrecioMonedaExtranjera(i) {
            return $.ajax({
                        type: "GET",
                        url: "/Utilidades/Monedas/",
                        success: function (data) {
                            if (data.length) {
                                let Monedas = data;
                                let Intercambio = 1;
                                for (let m in Monedas) {
                                    if (Monedas[m].nombre == listadoDetalles[i].Moneda) {
                                        Intercambio = Monedas[m].intercambio;
                                    }
                                }
                                return 
                            };
                        }
                    });
        }

        function CalculaDescuentoLinea(descLine,Pcosto,CantOKilo,descGlo){
            descGlo = descGlo || 0
            descLine = descLine || 0
            return Pcosto * CantOKilo * (1- (descLine/100)) * (1- (descGlo/100))
        }

        function RecalculaDescuentos(nuevodesc){
            let nuevodescuento = nuevodesc || 0;
            let cantkilo = 0.0;
            for(let i in listadoDetalles){

                if(listadoDetalles[i].Total != "" && parseFloat(listadoDetalles[i].Total) >= 0 ){
                    cantkilo = listadoDetalles[i].Cantidad || 0 ;
                    if (cantkilo ==  0){
                        cantkilo = listadoDetalles[i].Kilos_Litros ;
                    }
                    listadoDetalles[i].Total = CalculaDescuentoLinea(listadoDetalles[i].Descuento,listadoDetalles[i].Precio_Costo,cantkilo,nuevodescuento);
                }
            }
        }

        $(document).ready(function () {
            CargarTransportes();
            CargarInsumos();
            $("#modalTransportes").on('shown.bs.modal', function () {
                $('#modalTransportes input').focus();
            });

            $('#Numero_Comprobante').numeric();
            $('#Descuento').numeric();
            $('#Precio_Dolar').numeric();


            SaltosEnFormulario();

            @{
                if(Model.Codigo_Interno_Orden == 0)
                {
                    <text>
            CargarDetalles();
            </text>
                }
                else
                {
                     <text>
            CargarDetallesEditar();

            </text>
                }
            }

            CargarDetalles();

            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/

            $(document).on("keypress", 'form', function (e) {
                let code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });


            $('#modalTransportes').on('hidden.bs.modal', function (e) {
                CargarTransportes();
            });

        });

    </script>

}



