﻿@{
    ViewBag.Title = "Órdenes de Compra : Listado";
}

<h2>Órdenes de Compra</h2>

<div id="dropdownEstados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
</div>
<table id="OrdenesDeCompraTabla" class="display compact" style="width:100%"></table>

<!-- Modal Imprimir-->
<div class="modal fade" id="modalPrint" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:25%">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Imprimir Orden de Compra</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-medio" style="margin-bottom: 0px"> 
                    <div class="col-md-8" style="text-align:center">
                        @Html.Label("Mostrar_Costos", "Mostrar costos:", new { @class = "control-label", @style = "margin-right: 15px !important" })
                    </div>
                    <div class="col-md-1">
                        @Html.CheckBox("Mostrar_Costos", false, new { @style = "height: 18px !important; margin: 0px 0px 6px 0px !important;", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="RPT_Orden_Compra()"><span class='glyphicon glyphicon-print' style='margin-right:5px'></span> Imprimir</button>
                <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea eliminar esta orden de compra?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteOC()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Desactivar-->
<div class="modal fade" id="modalInactivate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea inactivar esta orden de compra?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="InactivateOC()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cumplir-->
<div class="modal fade" id="modalFulfill" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Imprimir Orden de Compra</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea marcar como cumplida esta orden de compra?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="FulfillOC()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script>
        var Codigo_Orden = 0;
        var dataTable;

        function MostrarMensaje() {
            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };

        function modificarInput(Codigo_Orden) {
            $('input.codigo').text(Codigo_Orden);
        }

        /*ELIMINA UNA FÓRMULA*/

        function DeleteOC() {
            $.ajax({
                type: "POST",
                url: "/OrdenesDeCompra/Delete/",
                data: { Codigo_Interno_Orden: parseInt($('input.codigo').text()) },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                },
                complete: function () {
                    dataTable.ajax.reload();
                }
            });
        };

        /*INACTIVA UNA FÓRMULA*/

        function InactivateOC() {
            $.ajax({
                type: "POST",
                url: "/OrdenesDeCompra/Inactivate/",
                data: { Codigo_Interno_Orden: parseInt($('input.codigo').text()) },
                success: function (data) {
                    if (data.success) {
                        $('#modalInactivate').modal('hide');

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                },
                complete: function () {
                    dataTable.ajax.reload();
                }
            });
        };

        function FulfillOC() {
            $.ajax({
                type: "POST",
                url: "/OrdenesDeCompra/Fulfill/",
                data: { Codigo_Interno_Orden: parseInt($('input.codigo').text()) },
                success: function (data) {
                    if (data.success) {
                        $('#modalFulfill').modal('hide');

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                },
                complete: function () {
                    dataTable.ajax.reload();
                }
            });
        };

        function CargarOrdenes() {
            dataTable = $("#OrdenesDeCompraTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/OrdenesDeCompra/GetData",
                    "type": "GET",
                    "datatype": "json",
                    data: {
                        Codigo_Interno_Orden: -1,
                        estado: "Activa",
                    }
                },
                "columns": [
                    {
                        "data": "Codigo_Interno_Orden",
                        "title": "Número",
                        "width": "10%"
                    },
                    {
                        "data": "Fecha",
                        "title": "Fecha",
                        render: function (data) {
                            if (data != null) {

                                return moment(data).format("DD/MM/YYYY");
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "Descripcion_Proveedor",
                        "title": "Proveedor",
                        "sClass": "mayusculas-texto",
                        render: function (data) {
                            if (data != null) {
                                return data;
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "Total",
                        "title": "Total",
                        render: function (data) {
                            if (data != null) {
                                return parseFloat(data).toFixed(4);
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": {
                            cod: "Codigo_Interno_Orden",
                            e: "estado"
                        },
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data) {
                            let botones = `<a class='btn btn-default btn-sm' href='/OrdenesDeCompra/AddOrEdit/${data.Codigo_Interno_Orden}'><span class='glyphicon glyphicon-pencil'></span></a>`;
                            if (data.Estado == "Cumplida")
                                botones += `<a class='btn btn-default btn-sm' onclick="AbrirModalCumplir('${data.Codigo_Interno_Orden}', '${data.Estado}')" data-toggle='modal' data-target='#modalFulfill'><span class='glyphicon glyphicon-remove'></span></a>`;
                            else if (data.Estado == "Activa")
                                botones += `<a class='btn btn-primary btn-sm' onclick="AbrirModalCumplir('${data.Codigo_Interno_Orden}', '${data.Estado}')" data-toggle='modal' data-target='#modalFulfill'><span class='glyphicon glyphicon-ok'></span></a>`;
                            if (data.Estado == "Activa")
                            {
                                botones += `<a class='btn btn-danger btn-sm' onclick=modificarInput('${data.Codigo_Interno_Orden}') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>`;
                                botones += `<a class='btn btn-warning btn-sm' onclick=modificarInput('${data.Codigo_Interno_Orden}') data-toggle='modal' data-target='#modalInactivate'><span class='glyphicon glyphicon-minus-sign'></span></a>`;
                            }

                            return botones;
                        },
                    }

                ],
                "language": idiomaEspañol,
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: 'nuevo',
                       action: function () {
                           window.location.href = "/OrdenesDeCompra/AddOrEdit/";
                       }
                   },
                   {
                       text: 'Imprimir <span class="glyphicon glyphicon-print" style="margin-left:10px">',
                       className: 'primary',
                       action: function () {
                           AbrirModalImprimir();
                       }
                   },
                    {
                        text: $('#dropdownEstados').html(),
                        className: 'botonDropdown'

                    },
                ],
                "columnDefs": [
                      { className: "text-right", "targets": [3] },
                      { className: "text-center", "targets": [0, 1, 4] }
                ],
                "order": [[1, "asc"]],
                "select": 'single',
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                    $('#dropdownEstados').html("");

                    $("#ListadoEstados").change(function () {
                        //console.log("changed: ", $('option:selected', this).val());
                        estado = $('option:selected', this).val();
                        dataTable.ajax.url('/OrdenesDeCompra/GetData?estado=' + estado).load();
                    });
                }

            });

        };

        function AbrirModalCumplir(Codigo_Interno_Compra, Estado) {
            modificarInput(Codigo_Interno_Compra)
            if (Estado == "Cumplida") {
                $("#modalFulfill .modal-body p").text("¿Está seguro de que desea marcar como incumplida esta orden de compra?")
            } else {
                $("#modalFulfill .modal-body p").text("¿Está seguro de que desea marcar como cumplida esta orden de compra?")
            }
        }

        function AbrirModalImprimir() {
            $('#modalPrint').modal('toggle');
            $("#modalPrint").on('shown.bs.modal', function () {
                $('#modalPrint input[type=checkbox]').focus();
            });

            $("#Codigo_Orden").val(Codigo_Orden)
        }

        function RPT_Orden_Compra() {
            let bandera = false;

            $('#OrdenesDeCompraTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {
                    bandera = true;
                }
            });
            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });
                return;
            }

            let url = `/Listados/RPT_Orden_Compra?Codigo_Orden=${Codigo_Orden}&Mostrar_Costos=${$("#Mostrar_Costos").prop('checked')}`;
            let urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    agregarModal('Reportes');
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }

        $(document).ready(function () {
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });

            CargarOrdenes("");

            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje();
            }

            $('#OrdenesDeCompraTabla').on('click', 'td', function () {
                $(this).closest('tr').find('td').each(function () {
                    if ($(this).index() == 0) {
                        Codigo_Orden = $(this).html();
                    }
                });
            });
        });
    </script>
}


