﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Productos Ventas : Listado";

    Entities db = new Entities();
}

<h2>Productos Ventas</h2>
<div id="dropdownEstados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
</div>
<table id="ProdVentasTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteProdVenta()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{
<script>

    var listadoProdVentas = [];

    var dataTableProdVentas = [];

function CambiarEstado(codigo) {
        $.ajax({
            url: "/ProductosVentas/CambiarEstado",
            data: {
                codigo_producto: codigo
            },
            success: function (data) {
                if (data.success) {
                    notif({
                        msg: "Se cambio Correctamente de Estado",
                        type: "success",
                        position: "center"
                    });
                    $("#ListadoEstados").val("0");
                    dataTableProdVentas.ajax.url('/ProductosVentas/ObtenerProdVentas').load();
                }
                else {
                    if (data.message == "Iniciar Sesion") {
                        AbrirModalLogin();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            }
        })
    }

function CargarProdVentas() {
    $.ajax({
        type: "GET",
        url: "/ProductosVentas/ObtenerProdVentas/",
        dataType: "json",
        success: function (data) {
            if (data.success) {

                listadoProdVentas = data.data;

                dataTableProdVentas = $("#ProdVentasTabla").DataTable({
                    "destroy": true,
                    "autoWidth": true,
                    "ajax": {
                        "url": "/ProductosVentas/ObtenerProdVentas",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        {
                            "data": "Numero_de_Producto",
                            "title": "Numero de Producto",
                            "width": "15%"
                        },
                        {
                            "data": "Descripcion",
                            "title": "Descripcion",
                            "sClass": "mayusculas-texto",
                            "render": function (data) {
                                return data.trim();
                            }
                        },
                        {
                            "width": "12%",
                            "title": "Herramientas",
                            "render": function (data, type, row, meta) {
                                if (row.Baja == 1)
                                    return "<input id='nro_prod' hidden value='" + row.Numero_de_Producto + "'/>" +
                                            "<input id='estado' hidden value='" + row.Baja + "'/>" +
                                            "<a class='btn btn-default btn-sm' onclick=EditarProdVenta('" + row.Numero_de_Producto + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                            //"<a class='btn btn-danger btn-sm' onclick=modificarInput('" + row.Numero_de_Producto+ "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>"+
                                            "<a class='btn btn-success btn-sm' onclick=CambiarEstado('" + row.Numero_de_Producto + "')><span>Activar</span></a>";
                                else
                                    return "<input id='nro_prod' hidden value='" + row.Numero_de_Producto + "'/>" +
                                            "<input id='estado' hidden value='" + row.Baja + "'/>" +
                                            "<a class='btn btn-default btn-sm' onclick=EditarProdVenta('" + row.Numero_de_Producto + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                            //"<a class='btn btn-danger btn-sm' onclick=modificarInput('" + row.Numero_de_Producto+ "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>" +
                                            "<a class='btn btn-warning btn-sm' onclick=CambiarEstado('" + row.Numero_de_Producto + "')><span>Desactivar</span></a>";


                            },
                        }

                    ],
                    "language": idiomaEspañol,
                    "columnDefs": [
                        { className: "text-center", "targets": [0, 2] },
                    ],
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            text: '<span class="glyphicon glyphicon-plus">',
                            className: 'nuevo',
                            action: function () {
                                AgregarProdVentas();
                            }
                        },
                            {
                                text: $('#dropdownEstados').html(),
                                className: 'botonDropdown'

                            }
                    ],
                    "order": [[1, "asc"]],
                    initComplete: function (data) {
                        $('div.dataTables_filter input').focus();

                        $('#dropdownEstados').html("");

                        $("#ListadoEstados").change(function () {
                            console.log("changed: ", $('option:selected', this).val());
                            estado = $('option:selected', this).val();
                            dataTableProdVentas.ajax.url('/ProductosVentas/ObtenerProdVentas?estado=' + estado).load();

                        });
                    }

                });
            }

        }
    });
};


$(document).ready(function () {

    CargarProdVentas();

});




function AgregarProdVentas() {

var filaAgregada = false;

$('#ProdVentasTabla').find('#insert').each(function () {
    filaAgregada = true;
});

if (filaAgregada == false) {
    /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/

    var html = '<tr>';
    html += '<td><input id="data1" placeholder="Código" class="col-md-12 text-box single-line" style="text-align:center"></td>';
    html += '<td><input id="data2" placeholder="Nombre" style="text-transform:capitalize;" class="col-md-12 text-box single-line"></td>';
    html += '<td class="text-center"><button type="button" name="insert" onclick="InsertarProdVenta()" id="insert" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span></button>' +
        '<button type="button" name="cancel" onclick="refrescarProdVentas()" id="cancel" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></td>';
    html += '</tr>';

    $('#ProdVentasTabla tbody').prepend(html);
    $('#data1').focus();

    $("#data1").keyup(function (e) {
        if (e.keyCode == 13) {
            $(this).trigger("enterKey");

            $("#data2").focus();
        }
    });

}
else {
    $('#data1').focus();
}

};

function modificarInput(Codigo) {
$('input.codigo').text(Codigo);
}


function refrescarProdVentas() {
    dataTableProdVentas.clear();
    dataTableProdVentas.rows.add(listadoProdVentas);
    dataTableProdVentas.draw();
    $("#ListadoEstados").val("0");

    };
    function limpiar() {
        if ($("#actualDescripcion").val()) {
            $("#actualDescripcion").parent('td').parent('tr').find('td').each(function () {

                if ($(this).index() == 1) {
                    $(this).html($(this).find('#actualDescripcion').val());
                }
                if ($(this).index() == 2) {
                    let numero = $(this).find('#nro_prod').val();
                    let estado = $(this).find('#estado').val();
                    let input = '';
                    if (estado == 1)
                        input = "<input id='nro_prod' hidden value='" + numero + "'/>" +
                            "<input id='estado' hidden value='" + estado + "'/>" +
                            "<a class='btn btn-default btn-sm' onclick=EditarProdVenta('" + numero + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                            //"<a class='btn btn-danger btn-sm' onclick=modificarInput('" + numero + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>" +
                            "<a class='btn btn-success btn-sm' onclick=CambiarEstado('" + numero + "')><span>Activar</span></a>";
                    else
                        input = "<input id='nro_prod' hidden value='" + numero + "'/>" +
                            "<input id='estado' hidden value='" + estado + "'/>" +
                            "<a class='btn btn-default btn-sm' onclick=EditarProdVenta('" + numero + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                            //"<a class='btn btn-danger btn-sm' onclick=modificarInput('" + numero + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>" +
                            "<a class='btn btn-warning btn-sm' onclick=CambiarEstado('" + numero + "')><span>Desactivar</span></a>";

                    $(this).html(input);
                }
            });

        }
    }
    function EditarProdVenta(Codigo) {

        limpiar();
        $('#ProdVentasTabla').find('tr').find('td').each(function () {
            if ($(this).index() == 0) {

                if ($(this).html() == Codigo) {

                    $(this).parent('tr').find('td').each(function () {

                        if ($(this).index() == 1) {

                            var Descripcion = $(this).html();

                            $(this).html("");

                            $(this).prepend('<input id="nuevaDescripcion" style="text-transform:capitalize;" class="col-md-12"/>');
                            $(this).prepend('<input hidden id="actualDescripcion" style="text-transform:capitalize;" class="col-md-12"/>');

                            $('#nuevaDescripcion').val(Descripcion);
                            $('#actualDescripcion').val(Descripcion);

                            $('#nuevaDescripcion').focus();
                            $("#nuevaDescripcion").keyup(function (e) {
                                if (e.keyCode == 13) {
                                    $(this).trigger("enterKey");

                                    ConfirmarEdicionProdVenta(Codigo);
                                }
                            });
                        }

                        if ($(this).index() == 2) {
                            let numero = $(this).find('#nro_prod').val();
                            let estado = $(this).find('#estado').val();
                            $(this).html("");

                            $(this).prepend(
                                "<a class='btn btn-success btn-sm' onclick=ConfirmarEdicionProdVenta('" + Codigo + "')>" +
                                    "<span class='glyphicon glyphicon-ok'></span>" +
                                "</a>" +
                                "<a class='btn btn-danger btn-sm' onclick=limpiar()>" +
                                    "<span class='glyphicon glyphicon-remove'></span>" +
                                "</a>" +
                                "<input id='nro_prod' hidden value='" + numero + "'/>" +
                                "<input id='estado' hidden value='" + estado + "'/>" 

                                );
                        }
                    });
                }
            }
        }
    )

};



function ConfirmarEdicionProdVenta(Codigo) {
$.ajax({
    type: "POST",
    url: "/ProductosVentas/AddOrEdit/",
    data: { Numero_de_Producto: Codigo, Descripcion: $('#nuevaDescripcion').val() },
    success: function (data) {
        console.log(data.message);
        if (data.success) {

            notif({
                msg: data.message,
                type: "success",
                position: "center"
            });
            let estado = $('option:selected', this).val();
            dataTableProdVentas.ajax.url('/ProductosVentas/ObtenerProdVentas?estado=' + estado).load();
        }
        else {
            notif({
                msg: data.message,
                type: "error",
                position: "center"
            });
            console.log("El problema fue: "+ data.consola);
        }
    }
});
};

function DeleteProdVenta() {
$.ajax({
    type: "POST",
    url: "/ProductosVentas/Delete/",
    data: { Numero_de_Producto: $('input.codigo').text() },
    success: function (data) {
        if (data.success) {
            $('#modalDelete').modal('hide');
            let estado = $('option:selected', this).val();
            dataTableProdVentas.ajax.url('/ProductosVentas/ObtenerProdVentas?estado=' + estado).load();

            notif({
                msg: data.message,
                type: "success",
                position: "center"
            });
        }
        else {
            notif({
                msg: data.message,
                type: "error",
                position: "center"
            });
        }
    }
});

};

function InsertarProdVenta() {
var Codigo = $('#data1').val();
var Nombre = $('#data2').val();
if (Codigo != '' && Nombre != '') {
    $.ajax({
        url: "/ProductosVentas/AddOrEdit/",
        method: "POST",
        data: { Numero_de_Producto: Codigo, Descripcion: Nombre },
        success: function (data) {
            if (data.success) {
                notif({
                    msg: data.message,
                    type: "success",
                    position: "center"
                });
                let estado = $('option:selected', this).val();
                dataTableProdVentas.ajax.url('/ProductosVentas/ObtenerProdVentas?estado=' + estado).load();
            }
            else {
                notif({
                    msg: data.message,
                    type: "error",
                    position: "center"
                });

                $('#data1').focus();
            }
        }
    });
}
else {
    alert("Ambos campos son requeridos");
}
}










    </script>
}
