﻿@model AccesoDatos.Contexto.Gastos.Provee_Cta_Cte
@{
    if (Model.RAZON_SOCIAL == null || Model.RAZON_SOCIAL == "")
    {
        ViewBag.Title = "Proveedor : Nuevo";
    }
    else
    {
        ViewBag.Title = "Proveedor : Editar";
    }
}

@using (Html.BeginForm("AddOrEdit", "Proveedores", FormMethod.Post, new { id = "proveedoresForm" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12 contenedor-formulas-add">
        <div class="col-md-12 flexible2">
            @if (ViewBag.agregar)
            {
                <input type="text" hidden value="true" name="agregar" />
            }
            else
            {
                <input type="text" hidden value="false" name="agregar" />
            }

            <div class="col-md-12 caja-contenedora" style="padding-bottom:0px !important">
                <div class="col-md-12 caja-sector">
                    <div class="col-md-2 form-medio">
                        <div class="col-md-4 form-medio">
                            @Html.LabelFor(model => model.CODIGO, "Código:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.CODIGO, new { htmlAttributes = new { @class = "form-control", @type = "text", @readOnly = "readOnly" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 form-medio">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.CUIT, "CUIT:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-7 form-medio">
                            @Html.EditorFor(model => model.CUIT, new { htmlAttributes = new { @class = "form-control", @style = "text-transform: capitalize ", @type = "text" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.CUIT)
                    </div>
                    <div class="col-md-4 form-medio">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.RAZON_SOCIAL, "Razón Social:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-7 form-medio">
                            @Html.EditorFor(model => model.RAZON_SOCIAL, new { htmlAttributes = new { @class = "form-control", @style = "text-transform: capitalize ", @type = "text", @required = "true" } })
                        </div>
                    </div>
                    <div class="col-md-4 form-medio">
                        <div class="col-md-2 form-medio">
                            @Html.LabelFor(model => model.TIPO_PROVEEDOR, "Tipo:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.TIPO_PROVEEDOR, new { htmlAttributes = new { @class = "form-control", @style = "text-transform: capitalize ", @type = "text", @required = "true" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalTiposProveedores()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.TIPO_PROVEEDOR)
                        </div>
                        <div class="col-md-6" style="display:flex; align-content:center">
                            <p style="margin:0px !important" id="Descripcion_Tipo_Proveedor"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-sector">
                    <div class="col-md-3 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.TIPO_FACTURA, "Tipo Comprobante:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-3 form-medio">
                            @Html.DropDownListFor(model => model.TIPO_FACTURA, ViewBag.ListadoTipoFactura as IEnumerable<SelectListItem>, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="col-md-2 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.PREFIJO, "Prefijo:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4 form-medio">
                            @Html.EditorFor(model => model.PREFIJO, new { htmlAttributes = new { @class = "form-control", @type = "text" } })

                        </div>
                    </div>
                    <div class="col-md-3 form-medio">
                        <div class="col-md-5 form-medio col-md-offset-1">
                            @Html.LabelFor(model => model.Codigo_Comprob, "Cod. Comprobante:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Comprob, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                <span class="input-group-addon"><a onclick="AbrirModalCodigosComprobantes()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Codigo_Comprob)
                        </div>
                    </div>
                    <div class="col-md-4 form-medio">
                        <div class="col-md-4 form-medio col-md-offset-1">
                            @Html.LabelFor(model => model.Condicion_pagos, "Condición Pago:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Condicion_pagos, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalCondicionesDePago()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Condicion_pagos)
                        </div>
                        <div class="col-md-6" style="display:flex; align-content:center">
                            <p style="margin:0px !important" id="Descripcion_Condicion_Pago"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-sector">
                    <div class="col-md-3 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.IVA, "Cond. de IVA:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4 form-medio">
                            @Html.DropDownListFor(model => model.IVA, ViewBag.ListadoIva as IEnumerable<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3 form-medio">
                        <div class="col-md-2 form-medio">
                            @Html.LabelFor(model => model.EMAIL, "Email:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-8 form-medio">
                            @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.EMAIL)
                    </div>
                    <div class="col-md-2 form-medio">
                        <div class="col-md-4 form-medio">
                            @Html.LabelFor(model => model.LINEA1, "Teléfono:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-8 form-medio">
                            @Html.EditorFor(model => model.LINEA1, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.LINEA1)
                    </div>
                    <div class="col-md-3 form-medio">
                        <div class="col-md-5 form-medio col-md-offset-1">
                            @Html.LabelFor(model => model.CONTACTO, "Contacto:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.CONTACTO, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.CONTACTO)
                        </div>
                    </div>

                </div>
                <div class="col-md-12 caja-sector">
                    <div class="col-md-3 form-medio">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.LOCALIDAD, "Localidad:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.LOCALIDAD, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                <span class="input-group-addon"><a onclick="AbrirModalLocalidades('LOCALIDAD')"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.LOCALIDAD)
                        </div>
                    </div>
                    <div class="col-md-3 form-medio">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.DIRECCION, "Dirección:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-8 form-medio">
                            @Html.EditorFor(model => model.DIRECCION, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.DIRECCION)
                    </div>

                </div>
            </div>
            <!-- CONTENEDOR SUBMIT-->

            <div class="col-md-12 flexible">
                <div class="col-md-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <a class="btn btn-primary" id="btn_ConfirmarFormulario">Confirmar</a>
                        <a class="btn btn-default" href="@Url.Action("Inicio", "Proveedores")">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- LOCALIDADES -->
<div class="modal fade" id="modalLocalidades" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:500px">
        <div class="modal-content" id="ModalLocalidades">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Localidades</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <table id="LocalidadesTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="ConfirmarLocalidad">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CancelarLocalidad()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ConfirmarCodigoComprobante() {
        $('#ComprobantesTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 0) {

                $('#Codigo_Comprob').val($(this).html());
            }
        });

        $('#modalCodigosComprobantes').modal('hide');
    }

    $("#Condicion_pagos").keyup(function (e) {
        if (e.keyCode == 13) {
            ConfirmarCondicionPago()
        }
    });

    function getCond() {
        $.ajax({
            type: "GET",
            url: "/CondicionesPago/GetOne/",
            data: { Codigo: $('#Condicion_pagos').val() },
            success: function (data) {
                if (data.success) {
                    if (data != null) {
                        $("#Descripcion_Condicion_Pago").text(data.data[0].DESCRIPCION);
                    }
                }
            }
        });
    }

    $(document).ready(function () {
        if ("@ViewBag.error" != "") {
            notif({
                msg: "@ViewBag.error",
                type: error,
                position: "center"
            });
        }

        $('#modalCodigosComprobantes').on('shown.bs.modal', function (e) {
            $('#ConfirmarComprobante').click(function () {
                ConfirmarCodigoComprobante();
            });

            $('#ComprobantesTabla tbody').on('click', 'tr.selected', function () {
                ConfirmarCodigoComprobante();
            });
        });

        $("#btn_ConfirmarFormulario").on("click", function () {
            $("#CUIT").val($("#CUIT").val().replace(new RegExp("-", 'g'), ""));
            if ($("#CUIT").val() != "" && $("#CUIT").val().length != 11) {
                notif({
                    msg: "El CUIT es inválido.",
                    type: "error",
                    position: "center"
                });
            }
            $("#proveedoresForm").submit()
        });

        $("#Condicion_pagos").change(function () {
            getCond();
        });
        $("#TIPO_PROVEEDOR").change(function () {
            getTipoProv();
        });

        $("#CUIT").on("keyup", function (e) {
            if (e.keyCode == 13) {
                $("#RAZON_SOCIAL").focus();
            }
        });

        $("#RAZON_SOCIAL").on("keyup", function (e) {
            if (e.keyCode == 13) {
                $("#TIPO_PROVEEDOR").focus();
            }
        });

        $("#TIPO_PROVEEDOR").on("keyup", function (e) {
            if (e.keyCode == 13) {
                $("#TIPO_FACTURA").focus();
            }
        });

        $("#PREFIJO").on("keyup", function (e) {
            if (e.keyCode == 13) {
                $("#Codigo_Comprob").focus();
            }
        });

        $("#Codigo_Comprob").on("keyup", function (e) {
            if (e.keyCode == 13) {
                $("#Condicion_pagos").focus();
            }
        });

        $("#Condicion_pagos").on("keyup", function (e) {
            if (e.keyCode == 13) {
                $("#IVA").focus();
            }
        });

        $("#EMAIL").on("keyup", function (e) {
            if (e.keyCode == 13) {
                $("#LINEA1").focus();
            }
        });

        $("#LINEA1").on("keyup", function (e) {
            if (e.keyCode == 13) {
                $("#CONTACTO").focus();
            }
        });

        $("#CONTACTO").on("keyup", function (e) {
            if (e.keyCode == 13) {
                $("#LOCALIDAD").focus();
            }
        });

        $("#LOCALIDAD").on("keyup", function (e) {
            if (e.keyCode == 13) {
                $("#DIRECCION").focus();
            }
        });
    });
</script>