﻿@{
    ViewBag.Title = "Proveedores : Listado";
}

<h2>Proveedores</h2>
<div id="dropdownEstados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
</div>
<table id="ProveedoresTabla" class="display compact" style="width:100%"></table>

<input class="codigo" hidden />

@section scripts{
    <script>
        var dataTableProveedores = null;

        function CambiarEstado(codigo) {
            $.ajax({
                url: "/Proveedores/CambiarEstado",
                data: {
                    codigo_proveedor: codigo
                },
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: "Se cambio Correctamente de Estado",
                            type: "success",
                            position: "center"
                        });
                        $("#ListadoEstados").val("0");
                        dataTableProveedores.ajax.url('/Proveedores/ObtenerProveedores').load();
                    }
                    else {
                        if (data.message == "Iniciar Sesion") {
                            AbrirModalLogin();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            })
        }

        function CargarProveedoresTabla() {
            dataTableProveedores = $("#ProveedoresTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    type: "GET",
                    url: "/Proveedores/ObtenerProveedores/",
                    dataType: "json"
                },
                "columns": [
                    {
                        "data": "Codigo",
                        "title": "Código",
                        "width": "10%"
                    },
                    {
                        "data": "RazonSocial",
                        "title": "Razon Social",
                        render: function (data) {
                            if (data != null) {
                                return data;
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "TipoProveedor",
                        "title": "Tipo Proveedor",
                        render: function (data) {
                            if (data != null) {
                                return data;
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "Prefijo",
                        "title": "Prefijo",
                        render: function (data) {
                            if (data != null) {
                                return data;
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "TipoFactura",
                        "title": "Tipo Factura",
                        render: function (data) {
                            if (data != null) {
                                return data;
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "CodComprobante",
                        "title": "Cod Comprobante",
                        render: function (data) {
                            if (data != null) {
                                return '<div style="margin-right:10px !important">' + data + '</div>'
                            }
                            else {
                                return '<div style="margin-right:10px !important">' + 0 + '</div>'
                            }
                        }
                    },

                    {
                        
                        "title": "Herramientas",
                        "width": "16%",
                        "render": function (data, type, row, meta) {
                            if (row.Activo == 0) 
                                return "<a class='btn btn-default btn-sm' href='/Proveedores/AddOrEdit/?codigo=" + row.Codigo + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                    "<a class='btn btn-warning btn-sm' onclick=CambiarEstado('" + row.Codigo + "')><span>Desactivar</span></a>";
                            else
                                return "<a class='btn btn-default btn-sm' href='/Proveedores/AddOrEdit/?codigo=" + row.Codigo + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                  "<a class='btn btn-success btn-sm' onclick=CambiarEstado('" + row.Codigo + "')><span>Activar</span></a>";
                        },
                    }

                ],
                "language": idiomaEspañol,
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: 'nuevo',
                       action: function () {
                           window.location.href = "/Proveedores/AddOrEdit/";
                       }
                    },
                    {
                        text: $('#dropdownEstados').html(),
                        className: 'botonDropdown'

                    }
                ],
                "select": 'multiple',
                "columnDefs": [
                      { className: "text-left", "targets": [1] },
                      { className: "text-center", "targets": [0, 2, 3, 4, 6] },
                      { className: "text-right", "targets": [5] },

                ],
                "order": [[0, "asc"]],
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                    $('#dropdownEstados').html("");

                    $("#ListadoEstados").change(function () {
                        estado = $('option:selected', this).val();
                        dataTableProveedores.ajax.url('/Proveedores/ObtenerProveedores?estado='+estado).load();

                    });
                }

            });

        };

        function MostrarMensaje(mensaje, tipo) {
            notif({
                msg: mensaje,
                type: tipo,
                position: "center"
            });
        };

        $(document).ready(function () {
            CargarProveedoresTabla();
            //CargarProveedores();

            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje("@ViewBag.Resultado", "success");
            }

            if ("@ViewBag.error" != "") {
                MostrarMensaje("@ViewBag.error","error");
            }
        });
    </script>
}
