﻿@model AccesoDatos.Contexto.Produccion.Lavados_Formula
@using MVC_Produccion.Sesiones
@{
    if (Model.Codigo_Lavado == 0)
    {
        ViewBag.Title = "Fórmulas Lavado: Nuevo";
    }
    else
    {
        ViewBag.Title = "Fórmulas Lavado: Editar";
    }

    bool muestraCostos = false;
    if (Sesion.UsuarioActual != null)
    {
        muestraCostos = Sesion.UsuarioActual.Muestra_Costos != null ? Sesion.UsuarioActual.Muestra_Costos.Value : false;

    }
}

<div class="col-md-12 contenedor-formulas-add flexible2">
    <div class="form-horizontal">
        @using (Html.BeginForm("AddOrEdit", "FormulasLavados", FormMethod.Post, new { id = "formFormula" }))
        {
            @Html.AntiForgeryToken()
            if (ViewBag.agregar)
            {
                <input type="text" hidden value="true" name="agregar" />
            }
            else
            {
                <input type="text" hidden value="false" name="agregar" />
            }

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <hr />
            <div class="col-md-12 caja-contenedora" style="padding-bottom:0px !important">
                <div class="col-md-12 caja-sector">
                    <div class="col-md-2 form-medio">
                        <div class="col-md-6 form-medio">
                            <label>Número Fórmula</label>
                            @*@Html.LabelFor(model => model.Codigo, "Número Fórmula", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        </div>
                        <div class="col-md-6 form-medio">
                            @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @readOnly = "true", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2 form-medio" style="margin-left: 25px;">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Codigo_Lavado, "Lavado", htmlAttributes: new { @class = "control-label col-md-2" })

                        </div>
                        <div class="col-md-4 form-medio" style="margin-left: 25px;">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Lavado, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalLavados(0, ConfirmarLavados)"><span class="glyphicon glyphicon-search"></span></a></span>
                                @*@Html.ValidationMessageFor(model => model.Codigo_Lavado, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="col-md-10 proveedor" style="padding-right:0px !important">
                            <p style="margin: 0px 0px 0px 20px !important;text-transform:capitalize;width: 200px;" id="descLavado">@ViewBag.lavado_desc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-sector">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-1 form-medio">
                            @Html.LabelFor(model => model.Comentario, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-11 form-medio">
                            @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            <div hidden id="enviar_detalles">

            </div>


        }
        <div class="col-md-12 caja-contenedora" style="padding-bottom: 0px !important">
            <div class="titulo-sector">
                Insumos Consumidos
            </div>
            <table id="tablaInsumosFormula" class="display compact" style="width:100%"></table>

        </div>
        <div class="col-md-12 caja-contenedora" id="SubT_insumos">
            <div class="col-md-12 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                <div class="col-md-3 flexible" style="justify-content:flex-end;">
                    <h4 style="margin:0px 5px 0px 0px">Subtotal:</h4><h4 style="margin:0px !important" id="st_insumos"></h4>
                </div>
            </div>
        </div>
        <div class="col-md-12 caja-contenedora">
            <div class="titulo-sector">Costos Indirectos</div>
            <table id="CostosFormulaTabla" class="display compact" style="width:100%"></table>
        </div>
        <div class="col-md-12 caja-contenedora" id="SubT_costos">
            <div class="col-md-12 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                <div class="col-md-3 flexible" style="justify-content:flex-end;">
                    <h4 style="margin:0px 5px 0px 0px">Subtotal:</h4><h4 style="margin:0px !important" id="st_costos"></h4>
                </div>
            </div>
        </div>
        <div class="col-md-12 caja-contenedora" id="total">
            <div class="col-md-12 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                <div class="col-md-3 flexible" style="justify-content:flex-end;">
                    <h3 style="margin:0px 5px 0px 0px">Total:</h3><h3 style="margin:0px !important" id="tt_formula"></h3>
                </div>
            </div>
        </div>
        <div class="col-md-12 flexible">
            <div class="col-md-12 contenedor-btns-form">
                <div class="form-group" style="margin:0px !important">
                    <input type="submit" onclick="CargarParaEnviar()" value="Confirmar" class="btn btn-primary" />
                    <a class="btn btn-default" href="@Url.Action("Index", "FormulasLavados")">Volver</a>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    var tablaInsumosFormula = null;
    var jsonObj = @Html.Raw(Json.Encode(ViewBag.detalleInsumos));
    var jsonObjCostos = @Html.Raw(Json.Encode(ViewBag.CostosIndirectos));
    var listadoCostos = [];

    if ($("#Codigo_Lavado").val() == 0) {
        $("#Codigo_Lavado").val('');
    }
    function ConfirmarLavados() {
        $("#LavadosTabla").find("tr.selected").find("td").each(function () {
            if ($(this).index() == 0) {
                $("#Codigo_Lavado").val($(this).html());
            }
            if ($(this).index() == 1) {
                $("#descLavado").text($(this).html());
            }
        });
        $('#modalLavados').modal('hide');
    }

    function ConfirmarInsumo() {
        if ($("#modalInsumos").is(":visible")) {
            $("#insumo_formula").val($('#InsumosLayoutTabla tr.selected td:first-child').html());
        }
        let Codigo_Insumo = $("#insumo_formula").val();
        let existe = listaInsumos.find(function (item, i) {
            return item.Codigo_Insumo == Codigo_Insumo
        });
        if (!existe) {
            $.ajax({
                type: "GET",
                url: "/Insumos/GetOne/",
                data: { Codigo_Insumo: Codigo_Insumo },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        if (data.data[0].ImputacionCorrecta == 0) {
                            notif({
                                msg: "Error, insumo con Imputacion que NO existe",
                                type: "error",
                                position: "center"
                            });
                            return;
                        }
                        $("#insumo_formula").val(Codigo_Insumo);
                        debugger;
                        InsumoActual = data.data[0];
                        $('#dataKL').html("");
                        $('#dataC').html("");
                        $("#dataDesc").text(InsumoActual.Descripcion);
                        if (InsumoActual.Precio_Por == "U") {
                            $("#dataC").append('<input id="cantidad" placeholder="Cantidad" class="col-md-12 text-box single-line"></input>');
                            $('#cantidad').focus();
                        }
                        if (InsumoActual.Precio_Por == "K") {
                            $("#dataKL").append('<input id="kiloslitros" placeholder="Kilos/Litros" class="col-md-12 text-box single-line"></input>');
                            if (InsumoActual.Unidad_Medida != "A")
                                $('#kiloslitros').focus();
                        }
                        @if (muestraCostos) {
                            <Text>
                                $("#dataP").html("");
                                $("#dataP").text(parseFloat(InsumoActual.Precio_Unitario).toFixed(4));
                            </Text>
                        }
                    } else {
                        notif({
                            msg: data.mensaje,
                            type: "error",
                            position: "center"
                        });
                        $("#insumo_formula").focus();
                    }
                }
            });
        } else {
            notif({
                msg: "Ya existe un registro ingresado con ese Código",
                type: "warning",
                position: "center"
            });
        }

        $('#modalInsumos').modal('hide');
        return false;
    }
    function getFormula() {
        $.ajax({
            type: "GET",
            url: "/Lavados/GetOne/",
            data: { Codigo: $('#Codigo_Lavado').val() },
            success: function (data) {
                if (data.success) {
                    if (data != null) {
                        $("#descLavado").text(data.data);
                    } else {
                        AbrirModalLavados(0, ConfirmarLavados);
                    }
                } else {
                    notif({
                        msg: "El Código ingresado no existe.",
                        type: "error",
                        position: "center"
                    });
                    AbrirModalLavados(0, ConfirmarLavados);
                    $("#Codigo_Producto").focus();
                }
            }
        });
    }

    function CargarDetalleInsumos(){
        tablaInsumosFormula = $("#tablaInsumosFormula").DataTable({
            "bPaginate": false,
            "bFilter": false,
            "destroy": true,
            "responsive": true,
            "autoWidth": true,
            "bInfo": false,
            "lengthChange": false,
            "data": listaInsumos,
            "columns": [
                {
                    title: "Código",
                    data: "Codigo_Insumo",
                    width: "3%"

                },
                {
                    title: "Insumo",
                    data: "Descripcion_Insumo",
                    "sClass": "mayusculas-texto",
                    width: "18%"
                },
                {
                    title: "Cantidad",
                    data: "cantidad",
                    "width": "8%",
                    render : function(data){
                        if(data){
                            return (data).toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                        } else {
                            return "";
                        }
                    }
                },
                {
                    title: "Kilos/Litros",
                    data: "kilos_litros",
                    "width": "8%",
                    render : function(data){
                        if(!data){
                            return "";
                        }
                        else{
                            return (data).toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                        }
                    }
                },
                @if (muestraCostos) {
                    <Text>
                        {
                            title: "P. Unitario",
                            data: "precio_unitario",
                            "width": "8%",
                            render: function (data) {
                                if (!data) {
                                    return "";
                                }
                                else {
                                    return (data).toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                                }
                            }
                        },
                        {
                            title: "Total",
                            data: "total",
                            "width": "8%",
                            render: function (data) {
                                if (!data) {
                                    return "";
                                }
                                else {
                                    return (data).toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                                }
                            }
                        },
                    </Text>
                }
                {
                    title: "Herramientas",
                    orderable:false,
                    data: "Codigo_Insumo",
                    "width": "5%",
                    "render": function (data) {
                        return "<a class='btn btn-default btn-xs' onclick=editarDetalle(this)><span class='glyphicon glyphicon-pencil'></span></a>" +
                                "<a class='btn btn-danger btn-xs' onclick=DeleteInsumoFormula('"+data+"')><span class='glyphicon glyphicon-trash'></span></a>";
                    },
                },

            ],
            "language": idiomaEspañol,
            "columnDefs": [
                { className: "text-right", "targets": [2, 3 @if (muestraCostos) { <Text>, 4, 5 </Text> }] },
                { className: "text-center", "targets": [0 @if (muestraCostos) { <Text>, 6 </Text> } else { <Text> , 4 </Text>  }] },
            ],
            dom: 'Bfrtip',
            buttons: [
               {
                   text: '<span class="glyphicon glyphicon-plus">',
                   className: "nuevo nuevoDetalle",
                   action: function () {
                       AgregarDetalleFormula();
                   }
               }
            ],
            "order": [[2, "asc"]]
        });
    }
    function AgregarDetalleFormula() {
        let existe = $('#tablaInsumosFormula tbody tr').find('#data1').html();
        if (existe) {
            return;
        }
        let html = '<tr>';

        html += '<td id="data1" class="form-medio">' +
            '<input id="insumo_formula" placeholder="Código" class="col-md-8 text-box single-line" style="text-align:right">' +
            '<div class="col-md-4" style="padding:0px !important; text-align:right"><a href="#" onclick="AbrirModalInsumos(ConfirmarInsumo, \'\')" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>' +
            '</td>';

        html += '<td id="dataDesc" style="text-transform:capitalize"></td>';
        html += '<td id="dataC" style="text-align:right"></td>';
        html += '<td id="dataKL" style="text-align:right;"></td>';
        @if (muestraCostos) { 
            <Text>
                html += '<td id="dataP" style="text-align:right;"></td>';
                html += '<td style="text-align:right;"></td>';
            </Text>
        }
        html += '<td style="display:flex; justify-content:center"><button id="herramientas" type="button" onclick="InsertarDetalleInsumoFormula()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>' +
             '<button type="button" onclick="CargarDetalleInsumos()" name="cancel" id="cancel" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
        html += '</tr>';
        $('#tablaInsumosFormula tbody').prepend(html);

        $("#insumo_formula").keyup(function (e) {
            if (e.keyCode == 13) {
                ConfirmarInsumo();
            }
        })

        $('#insumo_formula').focus();

    }
    function InsertarDetalleInsumoFormula() {
        $.ajax({
            type: "GET",
            url: "/Insumos/GetOne/",
            data: { Codigo_Insumo: $("#insumo_formula").val()},
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    if (data.data[0].ImputacionCorrecta == 0) {
                        $('#modalInsumos').modal('hide');
                        notif({
                            msg: "Error, insumo con Imputacion que NO existe",
                            type: "error",
                            position: "center"
                        });
                        return;

                    }
                    if ($('#cantidad').val() == "" || $('#kiloslitros').val() == "" ) {
                        notif({
                            msg: "Por favor, ingrese una Cantidad o Kilos/Litros.",
                            type: "error",
                            position: "center"
                        });

                        $('#cantidad').focus();
                        return false;
                    } else {
                        let cant_kilo = data.data[0].Precio_Por == 'K' || data.data[0].Precio_Por == 'L' ? convertirFormato($('#kiloslitros').val()) : convertirFormato($('#cantidad').val());
                        let precio_unitario = parseFloat($("#dataP").html()).toFixed(4);
                        listaInsumos.push({
                            Codigo_Insumo: $("#insumo_formula").val(),
                            cantidad: $('#cantidad').val() != undefined ? convertirFormato($('#cantidad').val()) : null,
                            kilos_litros: $('#kiloslitros').val() != undefined ? convertirFormato($('#kiloslitros').val()) : null,
                            Descripcion_Insumo: $("#dataDesc").html(),
                            Precio_Por: data.data[0].Precio_Por,
                            precio_unitario: precio_unitario,
                            total: precio_unitario * cant_kilo
                        });
                        SumarTotales();
                        CargarDetalleInsumos();
                        AgregarDetalleFormula();
                    }
                }
            }
        });
    }
    function editarDetalle(boton) {
        $("#herramientas").parent('td').parent('tr').html("");
        if ($("#cantidadEditar").val() != '' && $("#kilosEditar").val() != '') {
            let codigo = 0;
            $("#cantidadEditar").parent('td').parent('tr').find('td').each(function () {
                if ($(this).index() == 0)
                    codigo = $(this).html();

                if ($(this).index() == 6) {
                    $(this).html("<a class='btn btn-default btn-xs' onclick=editarDetalle(this)><span class='glyphicon glyphicon-pencil'></span></a>" +
                        `<a class='btn btn-danger btn-xs' onclick=DeleteInsumoFormula('${codigo}')><span class='glyphicon glyphicon-trash'></span></a>`);
                }
            });
            $("#cantidadEditar").parent('td').html($("#cantidadAnt").val());

            $("#kilosEditar").parent('td').parent('tr').find('td').each(function () {
                if ($(this).index() == 0)
                    codigo = $(this).html();

                if ($(this).index() == 6) {
                    $(this).html("<a class='btn btn-default btn-xs' onclick=editarDetalle(this)><span class='glyphicon glyphicon-pencil'></span></a>" +
                        `<a class='btn btn-danger btn-xs' onclick=DeleteInsumoFormula('${codigo}')><span class='glyphicon glyphicon-trash'></span></a>`);
                }
            });
            $("#kilosEditar").parent('td').html($("#kilosAnt").val());


        }
        let codigo = '';
        let cantidad = 0;
        let kilos = 0;
        $(boton).parent('td').parent('tr').find('td').each(function () {
            if ($(this).index() == 0) {
                codigo = $(this).html()
            }
            if ($(this).index() == 2 && $(this).html() != '') {
                cantidad = $(this).html()
                $(this).html(`<input id="cantidadAnt" hidden value="${cantidad}" class="col-md-12 text-box single-line" style="text-align:right">`);
                $(this).prepend(`<input id="cantidadEditar" class="col-md-12 text-box single-line" style="text-align:right" value="${cantidad}">`);
                $("#cantidadEditar").select();
            }

            if ($(this).index() == 3 && $(this).html() != '') {
                kilos = $(this).html()
                $(this).html(`<input id="kilosAnt" value="${kilos}" hidden class="col-md-12 text-box single-line" style="text-align:right">`);
                $(this).prepend(`<input id="kilosEditar" class="col-md-12 text-box single-line" style="text-align:right" value="${kilos}">`);
                $("#kilosEditar").select();
            }

            if ($(this).index() == @{ if (muestraCostos) { <Text> 6 </Text>} else { <Text> 4 </Text>} }) {
                $(this).html(
                    `<button  class='btn btn-success btn-xs' onclick=ConfirmarEdicionDetalle('${codigo}')>` +
                    "<span class='glyphicon glyphicon-ok'></span>" +
                    "</button>" +
                    "<button class='btn btn-danger btn-xs' onclick=CargarDetalleInsumos()>" +
                    "<span class='glyphicon glyphicon-remove'></span>" +
                    "</button>"

                );
            }
            });
    }
    function ConfirmarEdicionDetalle(codigo) {
        $.each(listaInsumos, function (i, item) {
            if (item.Codigo_Insumo == codigo) {
                listaInsumos[i].cantidad != null ? listaInsumos[i].cantidad = convertirFormato($("#cantidadEditar").val()) : listaInsumos[i].cantidad = null;
                listaInsumos[i].kilos_litros != null ? listaInsumos[i].kilos_litros = convertirFormato($("#kilosEditar").val()) : listaInsumos[i].kilos_litros = null;
                if (listaInsumos[i].kilos_litros)
                    listaInsumos[i].total = item.precio_unitario * listaInsumos[i].kilos_litros;
                else
                    listaInsumos[i].total = item.precio_unitario * listaInsumos[i].cantidad;

            }
        });
        SumarTotales();
        CargarCostosFormula();
        CargarDetalleInsumos();

    }
    function DeleteInsumoFormula(codigo) {
        listaInsumos = listaInsumos.filter(function (e) {
            return e.Codigo_Insumo !== codigo;
        });
        SumarTotales();
        CargarCostosFormula();
        CargarDetalleInsumos();
    }

    function AbrirModalAddOrEditCosto(Codigo) {

        $.ajax({
            type: "GET",
            url: "/CostosIndirectos/AddOrEdit/",
            data: { Codigo_Costo_Indirecto: Codigo },
            success: function (data) {

                $('#ModalAddOrEditCosto').html(data);

                verificarPrecioPorcentaje();
                SaltosEnFormulario();
                VerificarCampos();

                $('#modalAddOrEditCosto').modal('toggle');

                $('#modalAddOrEditCosto').on('shown.bs.modal', function (e) {

                    if ($('#Codigo_Interno_Costo_Indirecto').val() == 0) {
                        $('#Codigo_Costo_Indirecto').focus();

                    } else {
                        $('#Descripcion').focus();
                    }
                });
            }
        });
    }

    function CargarParaEnviar() {
        $.each(listaInsumos, function (i, item) {
            $("#enviar_detalles").append('<input type="text" name="Detalle_Formula_Lavados[' + i + '].Codigo_Insumo" value="' + item.Codigo_Insumo + '"/>' +
                '<input type="text" name="Detalle_Formula_Lavados[' + i + '].kilos_litros" value="' + parseFloat(item.kilos_litros).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Detalle_Formula_Lavados[' + i + '].cantidad" value="' + parseFloat(item.cantidad).toString().replace(".", ",") + '"/>'
            );
        });
        $.each(listadoCostos, function (i, item) {
            $("#enviar_detalles").append('<input type="text" name="Costos_Indirectos_Formula_Lavados[' + i + '].Codigo_Costo_Indirecto" value="' + item.Codigo_Costo_Indirecto + '"/>' +
                '<input type="text" name="Costos_Indirectos_Formula_Lavados[' + i + '].Precio" value="' + parseFloat(item.Precio).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Costos_Indirectos_Formula_Lavados[' + i + '].Cantidad" value="' + parseFloat(item.Cantidad).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Costos_Indirectos_Formula_Lavados[' + i + '].Porcentaje" value="' + parseFloat(item.Porcentaje).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Costos_Indirectos_Formula_Lavados[' + i + '].Precio_Fijo" value="' + parseFloat(item.Precio_Fijo).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Costos_Indirectos_Formula_Lavados[' + i + '].Marca" value="' + item.Marca.toString() + '"/>'
            );
        });
        $("#formFormula").submit();
    }

    $(document).ready(function () {
        $("#Codigo_Lavado").change(function () {
            if (isNaN("#Codigo_Lavado".val())) {
                notif({
                    msg: "Ingrese un número.",
                    type: "error",
                    position: "center"
                });
                AbrirModalLavados(0, ConfirmarLavados);
            } else {
                getFormula();
            }
        });

        @if (!muestraCostos) {
            <Text>
                $("#SubT_insumos, #SubT_costos, #total").addClass("hidden");
            </Text>
        }

        /*EVITA ENVÍO DEL FORMULARIO POR PRESIONAR ENTER*/
        $(document).on("keypress", 'form', function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                e.preventDefault();
                return false;
            }
        });
        $(document).on('change', 'input[type="checkbox"]', function () {
            SumarTotales();
        });
        $.each(jsonObj, function (i, item) {
            Total_Insumos += item.total;
            listaInsumos.push(item);
        });

        $.each(jsonObjCostos, function (i, item) {
            if (item.Marca == null) {
                item.Marca = true;
            }
            if (item.Precio_Fijo) {
                item.Precio_Fijo = item.Precio;
                item.Total = item.Precio;
            } else if (item.Precio) {
                item.Precio_Fijo = null;
                item.Total = item.Precio * item.Cantidad;
            } else {
                item.Precio_Fijo = null;
            }

            if (item.Porcentaje) {
                if (item.Porcentaje_Aplica == "Total")
                    item.Total = null;
                else
                    item.Total = Total_Insumos * item.Porcentaje / 100;
            }
            if (item.Total == null)
                item.Total = 0;
            listadoCostos.push(item);
        });

        CargarDetalleInsumos();
        CargarCostosFormula()
        SumarTotales();
    });
</script>