﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Fórmulas Lavado: Listado";    
    Entities db = new Entities();
}
<h2>Formulas Lavados</h2>
<table id="LavadosTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Se eliminarán todas las limpiezas que utilicen este lavado ¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteLavado()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Verificacion Delete-->
<div class="modal fade" id="modalVerificarBorrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="DeleteInsumos()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script>

        $(document).ready(function () {
            CargarLavadosFormulas();

            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje();
            }
        });


        function modificarInput(Codigo) {
            $('input.codigo').val(Codigo);
        }


        function DeleteLavado() {
            $.ajax({
                type: "POST",
                url: "/FormulasLavados/Delete/",
                data: { codigo: parseInt($('input.codigo').val()) },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                },
                complete: function () {
                    CargarLavadosFormulas();
                }
            });

        };

    </script>
}
