﻿@model AccesoDatos.Contexto.Produccion.Traspaso_Fabricas
@{
    Layout = null;
}

<div class="modal-header modalCreate" style="display:flex; justify-content:space-between">
    @{
        if (Model.Codigo_Interno_Traspaso == 0)
        {
            <h4 class="modal-title" id="tituloModalAddOrEdit">Nuevo</h4>
        }
        else
        {
            <h4 class="modal-title" id="tituloModalAddOrEdit">Editar</h4>
        }
    }
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@using (Html.BeginForm("AddOrEdit", "TraspasosFabricas", FormMethod.Post, new { @id = "FormAddOrEdit" }))
{
    <div class="modal-body modalCreate">
        <div class="col-md-12 flexible2">
            <div class="col-md-12 caja-contenedora flexible2">
                @if (Model.Motivo_Rechazo != null)
                {
                    if (Model.Motivo_Rechazo != "")
                    {
                        <p>Este traspaso fue rechazado por el siguiente motivo: <span class="motivo_rechazo">@Html.DisplayFor(model => model.Motivo_Rechazo)</span></p>
                    }
                }
                @Html.HiddenFor(model => model.Codigo_Interno_Traspaso, new { htmlAttributes = new { @class = "form-control" } })
                <div class="col-md-12 caja-sector-modal">
                    <div class="col-md-3 form-medio">
                        @Html.HiddenFor(model => model.Historico)
                        @Html.HiddenFor(model => model.Motivo_Rechazo)
                        @Html.HiddenFor(model => model.Egreso_Ingreso)
                        @Html.HiddenFor(model => model.Recepcion_Confirmada)
                        @Html.LabelFor(model => model.Fecha, "Fecha", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right;width:100px;margin-left:10px;" } })
                        @Html.ValidationMessageFor(model => model.Fecha)
                    </div>
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(m => m.Fabrica_Origen, "Fábrica Origen:", new { @class = "control-label", @type = "number" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.Fabrica_Origen, new { htmlAttributes = new { @class = "form-control", @style = "width:50px;margin-left:10px;", type = "text" } })
                            <span class="input-group-addon" style="max-height:25px;padding:3px 12px;"><a href="#" onclick="AbrirModalFabricas('Fabrica_Origen')" id="Lupa_Origen"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        <p style="text-transform:capitalize; margin:5px" id="Fabrica_Origen_Descripcion">@ViewBag.Fabrica_Origen</p>
                    </div>
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Fabrica_Destino, "Fábrica Destino:", new { @class = "control-label", @type = "number" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.Fabrica_Destino, new { htmlAttributes = new { @class = "form-control", @style = "width:50px;margin-left:10px;", type = "text", required = "required" } })
                            <span class="input-group-addon" style="max-height:25px;padding:3px 12px;"><a href="#" onclick="AbrirModalFabricas('Fabrica_Destino')"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        <p style="text-transform:capitalize; margin:5px" id="Fabrica_Destino_Descripcion">@ViewBag.Fabrica_Destino</p>
                    </div>
                </div>
                <div class="col-md-12 caja-sector-modal">
                    <div class="col-md-3 form-medio">
                        <div class="col-md-4 form-medio">
                            @Html.LabelFor(model => model.Prefijo, "Prefijo", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6 form-medio">
                            @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                            @Html.ValidationMessageFor(model => model.Prefijo)
                        </div>
                    </div>
                    <div class="col-md-5 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.Numero_Comprobante, "Número de Comprobante", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4 form-medio">
                            @Html.EditorFor(model => model.Numero_Comprobante, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                            @Html.ValidationMessageFor(model => model.Numero_Comprobante)
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-sector-modal">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-2 form-medio">
                            @Html.LabelFor(model => model.Comentario, "Comentario", new { @class = "control-label" })
                        </div>
                        <div class="col-md-10 form-medio">
                            @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-contenedora">
                    <table id="DetallesTraspasoTabla" class="display compact" style="width:100%"></table>
                    @{
                        if(Model.Codigo_Interno_Traspaso != 0)
                        {
                            <text>
                                <p>Nota: si necesita editar el cuerpo del traspaso, bórre los items que desee editar, confirme el 
                                traspaso y vuelva a ingresarlos</p>
                            </text>
                        }
                    }
                    <h4 class="modal-title" id="tituloModalAddOrEdit">Totales Por Producto:</h4>
                    <table id="TotalesProductosProduccion" class="display compact" style="width:100%"></table>
                </div>


                <div id="DetallesTraspaso" style="display:none"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer modalCreate">
        <button type="submit" id="crearTraspaso" class="btn btn-primary">Confirmar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
}

<!-- CARGA DE DATOS PARA VARIOS LOTES -->
<div id="modalCargaDatosVariosLotes" class="modal fade overflow-y-hidden" tabindex="-1" role="dialog" aria-labelledby="modalCargaDatosVariosLotesLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalCargaDatosVariosLotesLabel">Confirmar Traspaso De Varios Lotes</h4>
            </div>

            <div class="modal-body" style="margin-right:5px;">
                <div class="row" id="tablaDatosVarios" style="max-height: 250px!important; overflow: hidden!important; overflow-y: scroll!important;">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Lote</th>
                                    <th>Cantidad</th>
                                    <th>Kilos</th>
                                </tr>
                            </thead>
                            <tbody class="listado-lotes"></tbody>
                        </table>
                    </div>
                </div>
                <div id='visualLotesVarios' class='row dataTables_info' style="float:right;">
                    <div class='col-xs-12'>
                        <p style="font-weight:bold;">Cantidad Total: <span id='lotesCantidadTotalVarios' style='font-weight: 400;'>0</span></p>
                    </div>
                    <div class='col-xs-12'>
                        <p style="font-weight:bold;">Kilos Totales: <span id='lotesKilosTotalesVarios' style='font-weight: 400;'>0.000</span></p>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style="margin-top: 52px;">
                <button id="cancelarCargaVariosLotes" type="button" class="btn btn-default">Cancelar</button>
                <button id="confirmarCargaVariosLotes" type="button" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<!-- /. CARGA DE DATOS PARA VARIOS LOTES -->

<script>
    var numero_comprobante = '@Model.Numero_Comprobante';
    var CantidadRestanteADespachar = 0;
    var KilosRestantesADespachar = 0;
    var CantidadTotalADespachar = 0;
    var KilosTotalesADespachar = 0;
    var listadoCantidadPorLote = [];
    $('#Fecha').datepicker();
    var listadoLotesLiberados = [];
    var listadoDetallesTraspaso = [];
    if ($('#Fabrica_Origen').val() != 0) {
        document.getElementById("Fabrica_Origen").readOnly = true;
        document.getElementById("Lupa_Origen").onclick = null;
    }

    $("#FormAddOrEdit").on('submit', function (event) {
        event.preventDefault();
        setTimeout(function () {
            $.ajax({
                type: "GET",
                url: "/Fabricas/GetData/",
                data: { Codigo_Fabrica: $("#Fabrica_Origen").val() },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (!data.success) {
                        $("#Fabrica_Origen").val("")
                        $("#Fabrica_Origen_Descripcion").val("")
                    }
                }
            });
        }, 0);
        if ($("#Fabrica_Origen").val() == "") {
            notif({
                msg: "Ingrese Fábrica de Origen válida.",
                type: "warning",
                position: "center"
            });
            $("#Fabrica_Origen").focus();
            return false;
        }
        setTimeout(function () {
            $.ajax({
                type: "GET",
                url: "/Fabricas/GetData/",
                data: { Codigo_Fabrica: $("#Fabrica_Destino").val() },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (!data.success) {
                        $("#Fabrica_Destino").val("")
                        $("#Fabrica_Destino_Descripcion").val("")
                    }
                }
            });
        }, 0);
        if ($("#Fabrica_Destino").val() == "") {
            notif({
                msg: "Ingrese Fábrica de Destino válida.",
                type: "warning",
                position: "center"
            });
            $("#Fabrica_Destino").focus();
            return false;
        }
        if ($("#Prefijo").val() == "") {
            notif({
                msg: "Ingrese número de Prefijo.",
                type: "warning",
                position: "center"
            });
            return false;
        }
        if ($("#Numero_Comprobante").val() == "") {
            notif({
                msg: "Ingrese Número de Comprobante.",
                type: "warning",
                position: "center"
            });
            return false;
        }
        if (listadoDetallesTraspaso.length == 0) {
            notif({
                msg: "Ingrese Detalle de Traspaso.",
                type: "warning",
                position: "center"
            });
            return false;
        }
        $("#crearTraspaso").attr('disabled', 'disabled');
        $("#crearTraspaso").text("Procesando...");
        SubmitTraspaso($(this))
    });

    var operacionVariosProceso = 0;
    $(document).ready(function () {
        CargarDetallesTraspaso();
        $("#confirmarCargaVariosLotes").click(function () {
            let lotesTraspaso = [];
            try {
                let producto = $('#tb-producto').val().toString().trim();
                $("#modalCargaDatosVariosLotes .lotedata").each((index, lote) => {
                    lotesTraspaso.push({
                        Lote: $(lote).children('.lote-numero').text(),
                        Numero_Producto_Ventas: producto,
                        Cantidad: parseInt($(lote).children('.lote-cantidad').children('input').val()),
                        Kilos: parseFloat($(lote).children('.lote-kilos').children('input').val())
                    });
                })
                lotesTraspaso = lotesTraspaso.filter(lote => (lote.Cantidad > 0) || (lote.Kilos > 0));
                operacionVariosProceso = lotesTraspaso.length;

                ConfirmarTraspasoLotes(lotesTraspaso);
            } catch (error) {
                console.log(error);
            }

            $("#modalCargaDatosVariosLotes").modal("toggle");
        });

        $("#cancelarCargaVariosLotes").click(function () {
            $("#modalCargaDatosVariosLotes").modal("toggle");
        });

        $("#Fabrica_Origen").on("change", () => {
            let Codigo_Fabrica = parseInt($("#Fabrica_Origen").val());
            if (!isNaN(Codigo_Fabrica))
                CargarFabrica("Fabrica_Origen", Codigo_Fabrica);
        })

        $("#Fabrica_Destino").on("change", () => {
            let Codigo_Fabrica = parseInt($("#Fabrica_Destino").val());
            if (!isNaN(Codigo_Fabrica))
                CargarFabrica("Fabrica_Destino", Codigo_Fabrica);
        })

        $("input").focus(function () { $(this).select() });
    });

    var datosLotesTraspasoVarios = {
        cantidadTotal: 0,
        kilosTotales: 0.00,

        actualizarControlesVisuales: function () {
            $("#lotesCantidadTotalVarios").text(this.cantidadTotal);
            $("#lotesKilosTotalesVarios").text(this.kilosTotales.toFixed(3));
        },

        calcularCantidad: function () {
            let cantidades = $('.lotedata .lote-cantidad input');
            let cantidadTotal = 0;
            cantidades.each((index, cantidadParcial) => {
                let value = parseInt($(cantidadParcial).val());

                if (!isNaN(value)) {
                    cantidadTotal += value;
                }
            });
            this.cantidadTotal = cantidadTotal;
        },

        calcularKilos: function () {
            let kilos = $('.lotedata .lote-kilos input');
            let kilosTotales = 0.000;
            kilos.each((index, kilosParcial) => {
                let value = parseFloat($(kilosParcial).val());
                if (!isNaN(value)) {
                    kilosTotales += value;
                }
            });
            this.kilosTotales = kilosTotales;
        },

        actualizar: function () {
            this.calcularCantidad();
            this.calcularKilos();
            this.actualizarControlesVisuales();
        }
    };

    function AbrirModalVariosLotes(lotes) {
        $("#modalCargaDatosVariosLotes").modal("toggle");
        let listado = $("#modalCargaDatosVariosLotes .listado-lotes").first();
        listado.html("");
        lotes.forEach((lote) => {
            listado.append(
                `<tr class='lotedata'>
                   <td class='lote-numero'>${lote.lote}</td>
                   <td class='lote-cantidad text-right'><input type='number' class='text-right' value='${lote.cantidad}'></td>
                   <td class='lote-kilos text-right'><input type='number' class='text-right' value='${parseFloat(lote.kilos).toFixed(3)}'></td>
                </tr>`
            );
        });

        datosLotesTraspasoVarios.actualizar();

        $('.lotedata .lote-cantidad input').change(function () {
            datosLotesTraspasoVarios.calcularCantidad();
            datosLotesTraspasoVarios.actualizarControlesVisuales();
        });

        $('.lotedata .lote-kilos input').change(function () {
            datosLotesTraspasoVarios.calcularKilos();
            datosLotesTraspasoVarios.actualizarControlesVisuales();
        });

    }

    function ConfirmarTraspasoLotes(lotesTraspaso) {
        console.log(lotesTraspaso)
        if (lotesTraspaso.length == 0) {
            if ($('#tb-producto').val() == "") {
                notif({
                    msg: "Por favor ingrese un Producto.",
                    type: "warning",
                    position: "center"
                });
                $('#tb-producto').focus();
                return;
            }

            if ($('#tb-lote').val() == "") {
                notif({
                    msg: "Por favor ingrese un Lote.",
                    type: "warning",
                    position: "center"
                });
                $('#tb-lote').focus();
                return;
            }

            lotesTraspaso.push({
                Lote: $('#tb-lote').val().toString().trim(),
                Numero_Producto_Ventas: $('#tb-producto').val().toString().trim(),
                Cantidad: parseInt($('#nuevaCantidad').val()),
                Kilos: parseFloat($('#nuevosKilos').val().replace(",", "."))
            });
        }
        $.ajax({
            type: "GET",
            url: "/Envasados/ObtenerRestantePorSalidaMercaderiaLotes/",
            data: {
                Codigo_Fabrica: parseInt($("#Fabrica_Origen").val()),
                Productos: lotesTraspaso
            },
            success: function (data) {
                if (data.success) {
                    for (let lote of data.data) {
                        let fail = false;
                        if (!lote.Codigo_Producto_Produccion) {
                            notif({
                                msg: `LOTE ${lote.Lote}: No existe el lote seleccionado`,
                                type: "error",
                                position: "center"
                            });

                            fail = true;
                        }

                        if (lote.Existe == false) {
                            notif({
                                msg: `LOTE ${lote.Lote}: No existen envasados de ${$('#data3').html().toString().trim()} en el lote seleccionado`,
                                type: "error",
                                position: "center"
                            });

                            fail = true;
                        }

                        if (!fail) {
                            let lotedata = {
                                lote: lote,
                                restante: {
                                    Cantidad: parseInt(lote.Cantidad_Restante),
                                    Kilos: parseFloat(lote.Kilos_Restantes),
                                }
                            };
                            
                            InsertarDetalleTraspaso(lotedata, false, true);
                        }
                    }
                } else {
                    notif({
                        msg: data.message,
                        position: "center",
                        type: "error",
                        multiline: true
                    });
                }
            }
        });
    }

    var datosLotesTraspaso = {
        cantidadTotal: 0,
        kilosTotales: 0.00,

        actualizarControlesVisuales: function () {
            $("#lotesCantidadTotal").text(this.cantidadTotal);
            $("#lotesKilosTotales").text(this.kilosTotales.toFixed(3));
        },

        crearControlesVisuales: function () {
            $('#visualLotes').remove();
            let controlEstadoLotes = $("<div id='visualLotes' style='float: right; padding-top: 0.555em; margin-bottom: 10px!important; padding-right: 15px; clear:none!important;' class='row dataTables_info'> <div class='col-xs-12'> <p style='font-weight: bold;'>Cantidad Total: <span id='lotesCantidadTotal' style='font-weight: 400;'>0</span></p> </div> <div class='col-xs-12'> <p style='font-weight: bold;'>Kilos Totales: <span id='lotesKilosTotales' style='font-weight: 400;'>0.00</span></p> </div> </div>");
            $('#ModalLotesLiberados #EnvasadosTabla_wrapper #EnvasadosTabla_info').after(controlEstadoLotes);
        }
    };

    function CargarLotesLiberados() {
        if ($('#tb-producto').val() == "") {
            notif({
                msg: "Por favor ingrese un Producto.",
                type: "warning",
                position: "center"
            });
            $('#tb-producto').focus();
        }
        else {
            $.ajax({
                type: "GET",
                url: "/Envasados/ObtenerLotesLiberados/",
                data: {
                    Codigo_Fabrica: $('#Fabrica_Origen').val(),
                    Numero_Producto_Ventas: $('#tb-producto').val().toString().trim()
                },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        dataTable = $("#EnvasadosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            "responsive": true,
                            data: data.data,
                            "columns": [
                                {
                                    "data": "Lote",
                                    "title": "Lote"
                                },
                                {
                                    "data": "Cantidad",
                                    "title": "Cantidad",
                                    render: function (data, type, full, meta) {
                                        if (listadoDetallesTraspaso.length > 0) {
                                            let cantidad_utilizada = 0;
                                            for (var t in listadoDetallesTraspaso) {
                                                if (listadoDetallesTraspaso[t].Numero_Producto_Ventas == $('#tb-producto').val().toString().trim() && listadoDetallesTraspaso[t].Lote == full.Lote.trim()) {
                                                    cantidad_utilizada += listadoDetallesTraspaso[t].Cantidad;
                                                }
                                            }
                                            return parseInt(data) - parseInt(cantidad_utilizada);
                                        } else {
                                            return data;
                                        }
                                    }
                                },
                                {
                                    "data": "Kilos",
                                    "title": "Kilos",
                                    render: function (data, type, full, meta) {
                                        if (listadoDetallesTraspaso.length > 0) {
                                            let kilos_utilizados = 0;
                                            for (let t in listadoDetallesTraspaso) {
                                                if (listadoDetallesTraspaso[t].Numero_Producto_Ventas == $('#tb-producto').val().toString().trim() && listadoDetallesTraspaso[t].Lote == full.Lote.trim()) {
                                                    kilos_utilizados += parseFloat(listadoDetallesTraspaso[t].Kilos);
                                                }
                                            }
                                            return (parseFloat(data) - parseFloat(kilos_utilizados)).toFixed(3);
                                        } else {
                                            return data
                                        }
                                    }
                                }
                            ],
                            "columnDefs": [
                                {
                                    className: "text-right",
                                    targets: [1, 2]
                                },
                                {
                                    className: "text-center",
                                    targets: [0]
                                }
                            ],
                            "order": [[1, 'asc']],
                            "language": idiomaEspañol,
                            dom: 'Bfrtip',
                            buttons: [],
                            initComplete: function () {
                                this.fnSort([[0, 'asc']]);
                                datosLotesTraspaso.crearControlesVisuales();

                                // restauro valores por defecto
                                datosLotesTraspaso.cantidadTotal = 0;
                                datosLotesTraspaso.kilosTotales = 0.00;
                                filasEnvasados = [];

                                datosLotesTraspaso.actualizarControlesVisuales();

                                $('#ModalLotesLiberados #EnvasadosTabla tbody').on('click', 'tr', function () {
                                    // actualizacion lotes seleccionados

                                    let loteN = $(this).children('td')[1].textContent.trim();
                                    let cantidad = parseInt($(this).children('td')[1].textContent.trim());
                                    let kilos = parseFloat($(this).children('td')[2].textContent.trim());
                                    let seleccionado = $(this).hasClass('selected');
                                    let operacion = seleccionado ? -1 : 1;

                                    datosLotesTraspaso.cantidadTotal += cantidad * operacion;
                                    datosLotesTraspaso.kilosTotales += kilos * operacion;
                                    datosLotesTraspaso.actualizarControlesVisuales();

                                    if (seleccionado)
                                        filasEnvasados = filasEnvasados.filter(lote => lote.numero != loteN);
                                    else
                                        filasEnvasados.push({ numero: loteN, control: $(this) });

                                    $(this).toggleClass('selected');
                                });
                            }
                        });
                    }
                }
            });
        }
    }
    function ConfirmarLoteLiberado(Lote) {
        if (Lote == null) {
            Lote = $('#EnvasadosTabla tr.selected td').html();
            $("#tb-lote").val(Lote);
        }
        $.ajax({
            type: "GET",
            url: "/Envasados/ObtenerRestantePorSalidaMercaderia/",
            data: {
                Lote: Lote,
                Numero_Producto_Ventas: $('#tb-producto').val().toString().trim(),
                Codigo_Fabrica: parseInt($("#Fabrica_Origen").val())
            },
            success: function (data) {
                if (data.success) {
                    let objeto = data.objeto;
                    if (!objeto.Codigo_Producto_Produccion) {
                        $("#tb-lote").val('');
                        notif({
                            msg: "No existe el lote seleccionado",
                            type: "error",
                            position: "center"
                        });
                        $("#data5").html('');
                        $("#data6").html('');
                        return;
                    }
                    if (objeto.Existe == false) {
                        $("#tb-lote").val('');
                        notif({
                            msg: "No existen envasados de " + $('#data3').html().toString().trim() + " en el lote seleccionado",
                            type: "error",
                            position: "center"
                        });
                        $("#data5").html('');
                        $("#data6").html('');
                        return;
                    }
                    CantidadRestanteADespachar = parseInt(objeto.Cantidad_Restante);
                    KilosRestantesADespachar = parseFloat(objeto.Kilos_Restantes);
                    if (listadoDetallesTraspaso.length > 0) {
                        for (var t in listadoDetallesTraspaso) {
                            if (listadoDetallesTraspaso[t].Numero_Producto_Ventas.toString().trim() == $('#tb-producto').val().toString().trim() && listadoDetallesTraspaso[t].Lote.toString().trim() == Lote.toString().trim()) {
                                CantidadRestanteADespachar -= parseInt(listadoDetallesTraspaso[t].Cantidad);
                                KilosRestantesADespachar -= parseFloat(listadoDetallesTraspaso[t].Kilos).toFixed(3);
                            }
                        }
                    }
                    $('#data5').html("");
                    $('#data6').html("");
                    if (CantidadRestanteADespachar <= 0 || KilosRestantesADespachar <= 0) {
                        $("#tb-lote").val('');
                        notif({
                            msg: "Ya se ha despachado el total del Lote seleccionado.",
                            type: "error",
                            position: "center"
                        });
                        $("#data5").html('');
                        $("#data6").html('');
                        return;
                    }
                    else {
                        $("#data5").append('<input id="nuevaCantidad" style="text-align:right" placeholder="Cantidad" class="col-md-12 text-box single-line" value="' + CantidadRestanteADespachar + '"></input>');
                        $("#data6").append('<input id="nuevosKilos" style="text-align:right" placeholder="Kilos" class="col-md-12 text-box single-line" value="' + parseFloat(KilosRestantesADespachar).toFixed(3) + '"></input>');
                        $('#modalLotesLiberados').modal('hide');
                        $("#nuevaCantidad").focus(function () { $(this).select() });
                        $("#nuevosKilos").focus(function () { $(this).select() });
                        $('#nuevaCantidad').focus();
                    }
                }
                else {
                    $("#tb-lote").val(Lote);
                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center"
                    });
                }
            }
        });
    }

    var filasEnvasados = [];
    function AbrirModalLotesLiberados() {
        if ($('#Fabrica_Origen').val() == "") {
            notif({
                msg: "Por favor ingrese la fábrica de origen.",
                type: "warning",
                position: "center"
            });
            $('#Fabrica_Origen').focus();
            return;
        }
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Envasados/",
            success: function (data) {
                $('#ModalLotesLiberados').html(data);
                $('#tituloModalEnvasados').html('Envasados Del Producto: ' + $('#data3').html());
                CargarLotesLiberados();
                $('#modalLotesLiberados').modal('toggle');
                $('#ConfirmarEnvasado').click(function () {
                    $('#modalLotesLiberados').modal('toggle');
                    let filas = filasEnvasados.map(lote => lote.control);
                    let lotes = [];

                    for (let i = 0; i < filas.length; i++) {

                        let columna = {
                            fila: $(filas[i]),
                            lote: $(filas[i]).children('td')[0].textContent.trim(),
                            cantidad: parseInt($(filas[i]).children('td')[1].textContent.trim()),
                            kilos: parseFloat($(filas[i]).children('td')[2].textContent.trim())
                        };

                        if ((columna.cantidad > 0) || (columna.kilos > 0))
                            lotes.push(columna);
                        else
                            columna.fila.toggleClass('selected');
                    }

                    if (lotes.length <= 1) {
                        ConfirmarLoteLiberado();
                    } else {
                        AbrirModalVariosLotes(lotes);
                    }

                });
            }
        });
    }

    function AbrirModalFabricas(OrigenDestino) {
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Fabricas/",
            success: function (data) {
                $('#ModalFabricas').html(data);
                CargarFabricas();
                $('#modalFabricas').modal('toggle');
                $('#ConfirmarFabrica').click(function () {
                    ConfirmarFabrica(OrigenDestino);
                });
                $('#FabricasModalTabla tbody').on('click', 'tr.selected', function () {
                    ConfirmarFabrica(OrigenDestino);
                });
            }
        });
    }

    function ConfirmarFabrica(OrigenDestino) {
        let Codigo_Fabrica = $('#FabricasModalTabla').find('tr.selected').find('td').first().text();
        $(`#${OrigenDestino}`).val(parseInt(Codigo_Fabrica));
        CargarFabrica(OrigenDestino, Codigo_Fabrica);
        $('#modalFabricas').modal('hide');
    }

    function CargarFabrica(OrigenDestino, Codigo_Fabrica) {
        $.ajax({
            type: "GET",
            url: "/Fabricas/GetData/",
            data: { Codigo_Fabrica: Codigo_Fabrica },
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    $(`#${OrigenDestino}_Descripcion`).html(data.data[0].Descripcion);
                } else {
                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center"
                    })
                }
            }
        });
    }

    function ConfirmarEnvasado() {
        $('#EnvasadosTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 1) {
                var Lote = $(this).html();
                $('#Lote').val(Lote);
            }
        });
        $('#modalEnvasados').modal('hide');
    }
    function AbrirModalEnvasados() {
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Envasados/",
            success: function (data) {
                $('#ModalEnvasados').html(data);
                CargarEnvasadosModal();
                $('#ConfirmarEnvasado').click(function () {
                    ConfirmarEnvasado();
                });
                $('#EnvasadosTabla tbody').on('click', 'tr.selected', function () {
                    ConfirmarEnvasado();
                });
                $('#modalEnvasados').modal('toggle');
            }
        });
    }

    function CargarDetallesTrasp() {
        agregandoDetalle = false;

        dataTable = $("#DetallesTraspasoTabla").DataTable({
            "bFilter": false,
            "destroy": true,
            "responsive": true,
            "autoWidth": true,
            "bInfo": false,
            "lengthChange": false,
            data: listadoDetallesTraspaso,
            "columns": [
                {
                    title: "Código",
                    data: "Codigo_Interno_Detalle",
                    width: "10%"
                },
                {
                    title: "Número",
                    data: "Numero_Producto_Ventas",
                    width: "15%"
                },
                {
                    title: "Lote",
                    data: "Lote"
                },
                {
                    title: "Producto",
                    data: "Descripcion_Producto",
                    sClass: "mayusculas-texto"
                },
                {
                    title: "Tipo",
                    data: "Tipo",
                    sClass: "mayusculas-texto",
                    render: function (data, type, row, meta) {
                        data = data != null ? data.toString() : data;

                        let habilitado = data == '3';

                        let canSelect = habilitado ? '' : 'disabled';

                        let seleccionoVentas = (data == '2') && (!habilitado)  ? 'selected' : '';
                        let seleccionoInsumo = (data == '1') && (!habilitado) ? 'selected' : '';
                        let codigo = row.Codigo_Interno_Detalle;

                        return `<select codigo='${codigo}' class='selectTipoDetalle' ${canSelect}>\
                                    <option value='' disabled></option>\
                                    <option value='2' ${seleccionoVentas}>Prod. Ventas</option>\
                                    <option value='1' ${seleccionoInsumo}>Insumo</option>\
                                </select>\
                               `;
                    },
                },
                {
                    "data": "Cantidad",
                    "title": "Cantidad",
                    render: function (data) {
                        if (data != null && parseInt(data) > 0)
                            return parseInt(data);
                        else
                            return "";
                    },
                    width: "10%"
                },
                {
                    "data": "Kilos",
                    "title": "Kilos",
                    render: function (data) {
                        if (data != null && parseFloat(data) > 0)
                            return parseFloat(data).toFixed(3);
                        else
                            return "";
                    }
                },
                {
                    title: "Herramientas",
                    data: "Codigo_Interno_Detalle",
                    "width": "10%",
                    "render": function (data) {
                        return `<button type="button" class='btn btn-default btn-xs' style="margin-right: 5px" onclick=EditarDetalleTraspaso(${data})><span class='glyphicon glyphicon-pencil'></span></button>
                            <button type="button" class='btn btn-danger btn-xs' onclick=BorrarDetalleTrasp(${data})><span class='glyphicon glyphicon-trash'></span></button>`;
                    },
                }
            ],
            "language": idiomaEspañol,
            "columnDefs": [
                { className: "text-right", "targets": [5, 6] },
                { className: "text-center", "targets": [0, 1, 2, 4, 7] }
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '<span class="glyphicon glyphicon-plus">',
                    className: "nuevo nuevoDetalle",
                    action: function () {
                        AgregarDetalleTraspaso();
                    }
                }
            ],
            pageLength: 50,
            "order": [[1, "asc"]],
            initComplete: function (data) {
                agregandoDetalle = false;

                $("#DetallesTraspasoTabla").on("change", ".selectTipoDetalle", function () {
                    let codigo = $(this).attr("codigo");
                    let tipo = $(this).val();
                    let detalle = listadoDetallesTraspaso.filter(d => d.Codigo_Interno_Detalle == codigo);
                    let index = listadoDetallesTraspaso.findIndex(d2 => d2.Codigo_Interno_Detalle == codigo);

                    if (detalle.length > 0)
                        detalle = detalle[0];
                    else
                        detalle = null;

                    if (detalle) {
                        detalle.Tipo = tipo;
                        if (index > 0) {
                            listadoDetallesTraspaso[index] = detalle;
                        }
                    }
                });
            }
        });

        $("#DetallesTraspasoTabla").on("draw.dt", function () { agregandoDetalle = false; });
    }

    function CargarDetallesTraspaso() {
        $.ajax({
            type: "GET",
            url: "/TraspasosFabricas/GetData/",
            data: { Codigo_Interno_Traspaso: $('#Codigo_Interno_Traspaso').val() },
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    listadoDetallesTraspaso = data.detalles;
                    CargarDetallesTrasp();
                    TotalesProductosProduccion();
                }
                else {
                    notif({
                        msg: data.mensaje,
                        type: "error",
                        position: "center"
                    });
                }
            }
        });
    }

    var agregandoDetalle = false;
    function AgregarDetalleTraspaso() {
        if ($('#Fabrica_Origen').val() == "") {
            notif({
                msg: "Por favor ingrese la fábrica de origen.",
                type: "warning",
                position: "center"
            });
            $('#Fabrica_Origen').focus();
            return;
        }
        if (!agregandoDetalle) {
            agregandoDetalle = true;
            var filaAgregada = false;
            $('#DetallesTraspasoTabla').find('#insertarDetalle').each(function () {
                filaAgregada = true;
            });
            if (filaAgregada == false) {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
                var html = '<tr>';
                html += '<td id="data0" ></td>';
                html += '<td id="data1" class="col-md-12 form-medio">' +
                    '<div class="col-md-8 form-medio"><input id="tb-producto" placeholder="Número" style="text-align:right; width:100%"/></div>' +
                    '<div class="col-md-4" style="padding:0px !important; text-align:center"><a href="#" id="mostrarInsumos" onclick="AbrirModalProductosVentasLiberados()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>' +
                    '</td>';
                html += '<td id="data2" ></td>';
                html += '<td id="data3" style="text-transform:capitalize"></td>';
                html += '<td id="data4"></td>';
                html += '<td id="data5"></td>';
                html += '<td id="data6"></td>';

                html += '<td style="display:flex; justify-content:center"><button type="button" class="btn btn-success btn-xs" style="margin-right: 5px" onclick="ConfirmarTraspasoLotes([])"><span class="glyphicon glyphicon-ok"></span></button>' +
                    '<button type="button" onclick="CargarDetallesTrasp()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';
                $('#DetallesTraspasoTabla tbody').prepend(html);

                $("#tb-producto").keyup(function (e) {
                    if (e.keyCode == 13) {
                        ConfirmarProdLiberado();
                        return false;
                    }
                });

                $("#tb-producto").focus(function () { $(this).select() });
                $('#tb-producto').focus();
            }
            else
                $('#tb-producto').focus();
        }
    }

    function InsertarDetalleTraspaso(lotedata = null, actualizartablas = true, varioslotes = false) {
        console.log(lotedata)
        agregandoDetalle = false;
        let nuevaCantidad = !isNaN(lotedata.lote.Cantidad) ? parseInt(lotedata.lote.Cantidad) : 0;
        let nuevosKilos = parseFloat(lotedata.lote.Kilos);
        let lote = lotedata.lote.Lote;
        let codigo_producto = lotedata.lote.Codigo_Producto_Produccion;
        let cantidad_restante = lotedata.restante.Cantidad;
        let kilos_restante = parseFloat(lotedata.restante.Kilos);
        let numero_producto_ventas = lotedata.lote.Numero_Producto_Ventas;
        let descripcion_producto = lotedata.lote.Descripcion_Producto_Produccion;
        let tipo = lotedata.lote.Tipo;
        try {
            let detalle = null;
            for (let t in listadoDetallesTraspaso) {
                if (listadoDetallesTraspaso[t].Numero_Producto_Ventas == numero_producto_ventas && listadoDetallesTraspaso[t].Lote == lote) {
                    nuevaCantidad += listadoDetallesTraspaso[t].Cantidad;
                    nuevosKilos += listadoDetallesTraspaso[t].Kilos;
                    detalle = t;
                }
            }

            if ((nuevaCantidad > cantidad_restante) || (nuevosKilos > kilos_restante)) {
                notif({
                    msg: `LOTE ${lote}: No se pueden despachar más de ${parseInt(cantidad_restante)} unidades y ${parseFloat(kilos_restante).toFixed(3)} kilos.`,
                    type: "error",
                    width: 500,
                    timeout: 4000,
                    multiline: true,
                    position: "center"
                });
            } else {
                operacionVariosProceso--;

                if (detalle == null) {
                    listadoDetallesTraspaso.push({
                        Codigo_Interno_Detalle: listadoDetallesTraspaso.length == 0 ? 1 : listadoDetallesTraspaso[listadoDetallesTraspaso.length - 1].Codigo_Interno_Detalle + 1,
                        Numero_Producto_Ventas: numero_producto_ventas,
                        Lote: lote,
                        Descripcion_Producto: $('#data3').text().trim(),
                        Cantidad: nuevaCantidad,
                        Kilos: nuevosKilos,
                        Codigo_Producto_Produccion: codigo_producto,
                        Descripcion_Producto_Produccion: descripcion_producto,
                        Tipo: tipo,
                    });
                    validos = true;
                } else {
                    listadoDetallesTraspaso[detalle].Cantidad = nuevaCantidad;
                    listadoDetallesTraspaso[detalle].Kilos = nuevosKilos;
                }

                if (actualizartablas || operacionVariosProceso <= 0) {
                    TotalesProductosProduccion();
                    CargarDetallesTrasp();
                    if (varioslotes) {
                        notif({
                            msg: "Registros guardados satisfactoriamente.",
                            type: "success",
                            position: "center"
                        });
                    } else {
                        notif({
                            msg: `LOTE ${lote}: Registro guardado satisfactoriamente.`,
                            type: "success",
                            position: "center",
                            multiline: true
                        });
                    }
                }
            }
        } catch (error) {
            notif({
                msg: `LOTE ${lote}: ${error}`,
                type: "error",
                position: "center",
                multiline: true
            });
        }
    }
    var TotalesProductoProduccion = [];
    function TotalesProductosProduccion() {
        TotalesProductoProduccion = [];
        let encuentra;
        for (var d in listadoDetallesTraspaso) {
            encuentra = false;
            for (var p in TotalesProductoProduccion) {
                if (TotalesProductoProduccion[p].Numero_Producto_Ventas == listadoDetallesTraspaso[d].Numero_Producto_Ventas) {
                    TotalesProductoProduccion[p].Cantidad += parseInt(listadoDetallesTraspaso[d].Cantidad);
                    TotalesProductoProduccion[p].Kilos += parseFloat(listadoDetallesTraspaso[d].Kilos);
                    encuentra = true;
                }
            }
            if (!encuentra) {
                TotalesProductoProduccion.push({
                    Numero_Producto_Ventas: listadoDetallesTraspaso[d].Numero_Producto_Ventas,
                    Descripcion_Producto: listadoDetallesTraspaso[d].Descripcion_Producto,
                    Cantidad: parseInt(listadoDetallesTraspaso[d].Cantidad),
                    Kilos: parseFloat(listadoDetallesTraspaso[d].Kilos)
                });
            }
        }
        $('#TotalesProductosProduccion').DataTable({
            "destroy": true,
            "bFilter": false,
            "bInfo": false,
            "paging": false,
            "lengthChange": false,
            "data": TotalesProductoProduccion,
            "columns": [
                {
                    data: "Numero_Producto_Ventas",
                    title: "Número",
                    width: "15%"
                },
                {
                    data: "Descripcion_Producto",
                    title: "Descripción",
                    sClass: "mayusculas-texto"
                },
                {
                    data: "Cantidad",
                    title: "Cantidad"
                },
                {
                    data: "Kilos",
                    title: "Kilos",
                    render: function (data) { if (data != null) return data.toFixed(3); else return 0.000.toFixed(3); }
                }
            ],
            "language": idiomaEspañol,
            "select": 'single',
            initComplete: function (data) {
                document.getElementById("TotalesProductosProduccion_wrapper").classList.add('col-sm-6');
                document.getElementById("TotalesProductosProduccion_wrapper").style.paddingLeft = "0px";
                document.getElementById("TotalesProductosProduccion_wrapper").style.paddingRight = "0px";
            }
        });
    }
    function EditarDetalleTraspaso(Codigo_Interno_Detalle) {
        CargarDetallesTrasp();
        $('#DetallesTraspasoTabla').find('tr').find('td').each(function () {
            if ($(this).index() == 0) {
                if ($(this).html() == Codigo_Interno_Detalle) {
                    $(this).parent('tr').find('td').each(function () {
                        $(this).addClass("editable");
                        if ($(this).index() == 5) {
                            var Cantidad = $(this).html();
                            $(this).html("");
                            $(this).prepend('<input id="cantidadEditable" class="col-md-12 text-box single-line" style="text-align:right">');
                            $('#cantidadEditable').val(Cantidad.toString().replace(",", "."));
                        }
                        if ($(this).index() == 6) {
                            var Kilos = $(this).html();
                            $(this).html("");
                            $(this).prepend('<input id="kilosEditable" class="col-md-12 text-box single-line" style="text-align:right">');
                            $('#kilosEditable').val(Kilos.toString().replace(",", "."));
                        }
                        if ($(this).index() == 7) {
                            $(this).html("");
                            $(this).prepend(
                                `<button type="button" class='btn btn-success btn-xs' style="margin-right: 5px" onclick=ConfirmarEdicionDetalleTrasp(${Codigo_Interno_Detalle})>` +
                                "<span class='glyphicon glyphicon-ok'></span>" +
                                "</button>" +
                                "<button type='button' class='btn btn-danger btn-xs' onclick=CargarDetallesTrasp()>" +
                                "<span class='glyphicon glyphicon-remove'></span>" +
                                "</button>");

                        }
                    });
                }
            }
        });

        $("#cantidadEditable").focus(function () { $(this).select() });
        $("#kilosEditable").focus(function () { $(this).select() });
        $("#cantidadEditable").focus();
    }
    function ConfirmarEdicionDetalleTrasp(Codigo_Interno_Detalle) {
        for (let i = 0; i < listadoDetallesTraspaso.length; i++) {
            if (listadoDetallesTraspaso[i].Codigo_Interno_Detalle == Codigo_Interno_Detalle) {
                $.ajax({
                    type: "GET",
                    url: "/Envasados/ObtenerRestantePorSalidaMercaderia/",
                    data: {
                        Lote: listadoDetallesTraspaso[i].Lote,
                        Numero_Producto_Ventas: listadoDetallesTraspaso[i].Numero_Producto_Ventas,
                        Codigo_Fabrica: parseInt($("#Fabrica_Origen").val())
                    },
                    success: function (data) {
                        if (data.success) {
                            let objeto = data.objeto;
                            let CantCargada = parseInt($("#cantidadEditable").val());
                            let KgCargado = parseFloat($("#kilosEditable").val());
                            CantRestanteLote = parseInt(objeto.Cantidad_Restante);
                            KgRestanteLote = parseFloat(objeto.Kilos_Restantes);

                            if (CantCargada > CantRestanteLote) {
                                notif({
                                    msg: `LOTE ${listadoDetallesTraspaso[i].Lote}: Se están traspasando más unidades que las disponibles! \n Unidades disponibles: ${parseInt(CantRestanteLote)}`,
                                    type: "error",
                                    position: "center",
                                    multiline: true
                                });
                                return;
                            }

                            if (KgCargado > KgRestanteLote) {
                                notif({
                                    msg: `LOTE ${listadoDetallesTraspaso[i].Lote}: Se están traspasando más kilos que los disponibles! \n Kilos disponibles: ${parseFloat(KgRestanteLote)}`,
                                    type: "error",
                                    position: "center",
                                    multiline: true
                                });

                                return;
                            }

                            listadoDetallesTraspaso[i].Cantidad = CantCargada > 0 ? CantCargada.toString() : 0;
                            listadoDetallesTraspaso[i].Kilos = KgCargado > 0 ? KgCargado.toString() : 0;

                            notif({
                                msg: "Registro editado satisfactoriamente.",
                                type: "success",
                                position: "center"
                            });

                            TotalesProductosProduccion();
                            CargarDetallesTrasp();
                        }
                    }
                });
            }
        }
    }

    function BorrarDetalleTrasp(Codigo_Interno_Detalle) {
        listadoDetallesTraspaso.splice(listadoDetallesTraspaso.findIndex((dt) => dt.Codigo_Interno_Detalle == Codigo_Interno_Detalle), 1);
        TotalesProductosProduccion();
        CargarDetallesTrasp();
        notif({
            msg: "Registro eliminado satisfactoriamente.",
            type: "success",
            position: "center"
        });
    }

    function SubmitTraspaso(Formulario) {
        $.validator.unobtrusive.parse(Formulario);
        if (!$(Formulario).valid())
            return;
        $('#DetallesTraspaso').html("");
        for (var i in listadoDetallesTraspaso) {
            if ([1, 2, 3].indexOf(parseInt(listadoDetallesTraspaso[i].Tipo)) > -1) {
                let codigo = listadoDetallesTraspaso[i].Codigo_Interno_Detalle;
                let val = $(`.selectTipoDetalle[codigo=${codigo}]`).val();
                listadoDetallesTraspaso[i].Tipo = val;
            }

            $('#DetallesTraspaso').append('<input type="text" name="Detalle_Traspaso[' + i + '].Numero_Producto_Ventas" value="' + listadoDetallesTraspaso[i].Numero_Producto_Ventas + '"/>' +
                '<input type="text" name="Detalle_Traspaso[' + i + '].Lote" value="' + listadoDetallesTraspaso[i].Lote.toString() + '"/>' +
                '<input type="text" name="Detalle_Traspaso[' + i + '].Kilos" value="' + parseFloat(listadoDetallesTraspaso[i].Kilos).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Detalle_Traspaso[' + i + '].Cantidad" value="' + parseInt(listadoDetallesTraspaso[i].Cantidad).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Detalle_Traspaso[' + i + '].Tipo" value="' + listadoDetallesTraspaso[i].Tipo.toString() + '"/>'
            );
        }

        $.ajax({
            type: "POST",
            url: "/TraspasosFabricas/AddOrEdit/",
            data: $(Formulario).serialize(),
            success: function (data) {
                if (data.success) {
                    notif({
                        msg: data.message,
                        type: "success",
                        position: "center",
                        multiline: true
                    });
                    $('#modalAddOrEdit').modal('hide');
                    CargarTraspasos();

                } else {
                    $("#crearTraspaso").removeAttr('disabled');
                    $("#crearTraspaso").text("Confirmar");
                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center",
                        multiline: true,
                        timeout: 10000
                    });
                }
            }
        });
    }
</script>