﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Traspasos : Listado";
    Entities db = new Entities();
}
<div class="col-md-8" style="margin-left:auto;margin-right:auto;float:initial;">
    <h2>Traspaso</h2>
    <table id="TraspasosTabla" class="display compact" style="width:100%"></table>
</div>
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDeleteTraspaso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteTraspaso()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal AddOrEdit -->
<div class="modal fade overflow-y-hidden" id="modalAddOrEdit"  data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:80%">
        <div class="modal-content" id="ModalAddOrEdit"></div>
    </div>
</div>
<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Pasar_A_Historicos()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="Codigo_Traspaso">
<div class="modal fade overflow-y-hidden" id="modalLotesLiberados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:800px;">
        <div class="modal-content" id="ModalLotesLiberados"></div>
    </div>
</div>
@section scripts{
    <script>
        var listadoTraspasos = [];

        function CargarTraspasos() {
            $.ajax({
                type: "GET",
                url: "/TraspasosFabricas/GetData/",
                data: { Codigo_Interno_Traspaso: -1 },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoTraspasos = data.data;
                        $("#TraspasosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            data: listadoTraspasos,
                            "columns": [
                                {
                                    "data": "Codigo_Interno_Traspaso",
                                    "title": "Código",
                                    "width": "15%"
                                },
                                {
                                    "data": "Numero_Comprobante",
                                    "title": "Numero de Comprobante"
                                },
                                {
                                    "data": "Fecha",
                                    "title": "Fecha",
                                    "render": function (data) {
                                        if (data == null)
                                            return "";
                                        else
                                            return moment(data).format('DD/MM/YYYY');
                                    }
                                },
                                {
                                    "data": "Egreso_Ingreso",
                                    "title": "Tipo",
                                    "sClass": "mayusculas-texto"
                                },
                                {
                                    "data": "Codigo_Interno_Traspaso",
                                    "title": "Herramientas",
                                    "width": "10%",
                                    "render": function (data) {
                                        return `<a class='btn btn-default btn-sm' onclick=AbrirModalAddOrEdit(${data})><span class='glyphicon glyphicon-pencil'></span></a>
                                            <a class='btn btn-danger btn-sm' onclick='ItemEliminar(${data})' data-toggle='modal' data-target='#modalDeleteTraspaso'><span class='glyphicon glyphicon-trash'></span></a>`;
                                    },
                                }

                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                { className: "text-center", "targets": [0, 1, 2, 3, 4] }
                            ],
                            dom: 'Bfrtip',
                            select: 'multiple',
                            buttons: [
                                {
                                    text: '<span class="glyphicon glyphicon-plus">',
                                    className: 'nuevo',
                                    action: function () {
                                        AbrirModalAddOrEdit();
                                    }
                                },
                                {
                                    text: 'Actualizar <span class="glyphicon glyphicon-refresh">',
                                    className: 'primary',
                                    action: function () {
                                        if ($("#TraspasosTabla").find("tr.selected").length == 0)
                                            notif({
                                                msg: "Por favor, seleccione como mínimo un registro de la tabla.",
                                                position: "center",
                                                type: "warning",
                                                multiline: true
                                            })
                                        else
                                            $('#modalVerificarActualizar').modal('toggle');
                                    }
                                },
                                {
                                    text: 'Refrescar <span class="glyphicon glyphicon-refresh">',
                                    className: '',
                                    action: function () {
                                        CargarTraspasos();
                                    }
                                }
                            ],
                            createdRow: function (row, data, dataIndex) {
                                if (data.Motivo_Rechazo)
                                    $(row).addClass('expedicion_rechazada');
                            },
                            order: [[3, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            }
                        });
                    }
                }
            });
        }

        function ItemEliminar(Codigo_Interno_Traspaso) { $('#modalDeleteTraspaso button.btn-primary').first().attr('data-codigo-traspaso', Codigo_Interno_Traspaso); }

        function DeleteTraspaso() {
            $.ajax({
                type: "POST",
                url: "/TraspasosFabricas/Delete/",
                data: { Codigo_Interno_Traspaso: $('#modalDeleteTraspaso button.btn-primary').first().attr('data-codigo-traspaso') },
                success: function (data) {
                    if (data.success) {
                        $('#modalDeleteTraspaso').modal('hide');
                        CargarTraspasos();
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        function AbrirModalAddOrEdit(Codigo_Interno_Traspaso) {
            $.ajax({
                type: "GET",
                url: "/TraspasosFabricas/AddOrEdit/",
                data: { Codigo_Interno_Traspaso: Codigo_Interno_Traspaso },
                success: function (data) {
                    $('#ModalAddOrEdit').html(data);
                    $('#modalAddOrEdit').modal('toggle');
                    $('body').removeClass('modal-open');
                    $("#modalAddOrEdit").on('shown.bs.modal', function () {
                        $('#Fecha').focus();
                    });
                }
            });
        }

        function Pasar_A_Historicos() {
            let traspasos_enviar = $('#TraspasosTabla tr.selected');
            let traspasos_error = [];
            traspasos_enviar.each(function () {
                // columnas de la fila
                let columns = $(this).find('td');
                if (columns.length > 0) {
                    // columna con el id
                    let column_id = $(columns[0]);
                    let traspaso_id = parseInt(column_id.text());

                    // guardo cada traspaso por separado
                    $.ajax({
                        type: "POST",
                        url: "/TraspasosFabricas/Pasar_A_Historico",
                        data: { Codigo_Interno_Traspaso: traspaso_id },
                        success: function (data) {
                            if (!data.success) {
                                traspasos_error.push(traspaso_id);
                                console.log(`Traspaso ID: ${traspaso_id}: ${data.message}`);
                            }
                        },
                        error: function (err) {
                            traspasos_error.push(traspaso_id);
                            console.log(`Traspaso ID: ${traspaso_id}: ${err}`);
                        }
                    });
                }
            });

            let message = "";
            let messageType = ""
            if (traspasos_error.length != 0) {
                messageType = "error";
                if (traspasos_error.length == 1) {
                    message = `El traspaso con código ${traspasos_error[0]} no se completó correctamente.`;
                } else {
                    message = "Los traspasos con código ";
                    traspasos_error.forEach((codigo) => {
                        if (traspasos_error.indexOf(codigo) != traspasos_error.length - 2) // Anteúltimo código, debe agregar el y para el último
                            message += `${codigo} y `;
                        else if (traspasos_error.indexOf(codigo) == traspasos_error.length - 1)
                            message += `${codigo} `;
                        else
                            message += `${codigo}, `;
                    })

                    message += "no se completaron correctamente.";
                }
            } else {
                messageType = "success";
                if (traspasos_enviar.length == 1)
                    message = "Traspaso completado correctamente.";
                else
                    message = "Traspasos completados correctamente.";
            }
            $('#modalVerificarActualizar').modal('toggle');
            CargarTraspasos();
            notif({
                msg: message,
                type: messageType,
                position: "center",
                multiline: true
            });
        }

        $(document).ready(function () {
            CargarTraspasos();
            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
}