﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Traspasos pendientes";
    Entities db = new Entities();
}
<div class="col-md-8" style="margin-left:auto;margin-right:auto;float:initial;">
    <h2>Traspasos pendientes</h2>
    <table id="TraspasosTabla" class="display compact" style="width:100%"></table>
</div>
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDeleteTraspaso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteTraspaso()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal AddOrEdit -->
<div class="modal fade" id="modalVerDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:80%">
        <div class="modal-content" id="ModalVerDetalle"></div>
    </div>
</div>
<!-- Modal Envasados-->
<div class="modal fade" id="modalEnvasados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="ModalEnvasados"></div>
    </div>
</div>
<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:400px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="pregunta">¿Está seguro que desea confirmar el traspaso seleccionado?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Confirmar_Traspaso()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalRechazar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:400px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title">Rechazar traspaso pendiente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="pregunta_rechazo"></p>
                <textarea id="motivo_rechazo" style="width:400px;height:200px;"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Confirmar_Rechazo()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalLotesLiberados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="ModalLotesLiberados"></div>
    </div>
</div>
<input class="codigo" hidden />
@section scripts{
    <script>
        let listadoTraspasosPendientes = [];
        function CargarTraspasosPendientes() {
            $.ajax({
                type: "GET",
                url: "/TraspasosFabricas/GetTraspasosPendientes",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoTraspasosPendientes = data.data;
                        $("#TraspasosTabla").DataTable({
                            destroy: true,
                            responsive: true,
                            autoWidth: true,
                            data: listadoTraspasosPendientes,
                            autoWidth: true,
                            columns: [
                                {
                                    data: "Codigo_Interno_Traspaso",
                                    title: "Código",
                                    width: "80px"
                                },
                                {
                                    data: "Prefijo",
                                    title: "Prefijo",
                                    width: "80px"
                                },
                                {
                                    data: "Numero_Comprobante",
                                    title: "Comprobante",
                                    width: "100px"
                                },
                                {
                                    data: "Fecha",
                                    title: "Fecha",
                                    width: "100px",
                                    render: function (data) {
                                        if (data == null)
                                            return "";
                                        else
                                            return moment(data).format('DD/MM/YYYY');
                                    }
                                },
                                {
                                    data: "Egreso_Ingreso",
                                    title: "Tipo",
                                    sClass: "mayusculas-texto"
                                },
                                {
                                    data: "Codigo_Interno_Traspaso",
                                    title: "Herramientas",
                                    width: "300px",
                                    render: function (data) {
                                        return "<a class='btn btn-default btn-sm' onclick=VerDetalle(" + data + ")><span class='glyphicon glyphicon-list'></span> Ver</a>" +
                                            "<a class='btn btn-success btn-sm' onclick=Pregunta_Confirmar_Traspaso(" + data + ")><span class='glyphicon glyphicon-ok'></span> Confirmar</a>" +
                                            "<a class='btn btn-danger btn-sm' onclick=Pregunta_Confirmar_Rechazo(" + data + ")><span class='glyphicon glyphicon-remove'></span> Rechazar</a>";
                                    },
                                }
                            ],
                            language: idiomaEspañol,
                            columnDefs: [
                                {
                                    className: "text-center",
                                    targets: [3, 5]
                                },
                                {
                                    className: "text-right",
                                    targets: [0, 1, 2]
                                }
                            ],
                            buttons: [
                                {
                                    text: 'Refrescar <span class="glyphicon glyphicon-refresh">',
                                    className: '',
                                    action: function () {
                                        CargarTraspasosPendientes();
                                    }
                                }
                            ],
                            order: [[3, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            }
                        });

                    } else {
                        notif({
                            msg: data.mensaje,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            })
        }

        var codigo_confirmar
        function Pregunta_Confirmar_Traspaso(codigo_interno_confirmar) {
            codigo_confirmar = codigo_interno_confirmar;
            $('#modalVerificarActualizar').modal('toggle');
        }
        function Confirmar_Traspaso() {
            $.ajax({
                type: "POST",
                url: "/TraspasosFabricas/Confirmar_Traspaso_Pendiente",
                data: { Codigo_Interno_Traspaso: codigo_confirmar},
                success: function (data) {
                    if (data.success) {
                        CargarTraspasosPendientes();
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        notif({
                            msg: "Error en el proceso, revisar el registro de errores.",
                            type: "error",
                            position: "center"
                        });
                    }
                    $('#modalVerificarActualizar').modal('hide');
                }
            });
        }

        var codigo_rechazar;
        function Pregunta_Confirmar_Rechazo(codigo_interno_rechazar) {
            codigo_rechazar = codigo_interno_rechazar;
            $('#pregunta_rechazo').html(`A continuación ingrese el motivo del rechazo del traspaso: <b>${codigo_rechazar}</b>`);
            $('#modalRechazar').modal('toggle');
            $('#motivo_rechazo').focus();
        }

        function Confirmar_Rechazo() {
            if (!$('#motivo_rechazo').val()) {
                notif({
                    msg: "Debe ingresar el motivo del rechazo del traspaso",
                    type: "error",
                    position: "center"
                });
                $('#motivo_rechazo').focus();
                return;
            }
            $.ajax({
                type: "POST",
                url: "/TraspasosFabricas/Rechazar_Traspaso_Pendiente",
                data: { Codigo_Interno_Traspaso: codigo_rechazar, Motivo: $('#motivo_rechazo').val() },
                success: function (data) {
                    if (data.success) {
                        CargarTraspasosPendientes();
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        notif({
                            msg: "Error en el proceso, revisar el registro de errores.",
                            type: "error",
                            position: "center"
                        });
                    }
                    $('#motivo_rechazo').val('');
                    $('#modalRechazar').modal('hide');
                }
            });
        }
       
        function VerDetalle(Codigo) {
            $.ajax({
                type: "GET",
                url: "/TraspasosFabricas/VerDetalle/",
                data: { Codigo_Interno_Traspaso: Codigo },
                success: function (data) {
                    $('#ModalVerDetalle').html(data);
                    CargarDetallesTraspaso();
                    $('#modalVerDetalle').modal('toggle');             
                }
            });
        }
        $(document).ready(function () {
            CargarTraspasosPendientes();
            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
}
