﻿@model AccesoDatos.Contexto.Produccion.Costos_Indirectos
@{
    Layout = null;
}

<div class="modal-header modalCreate" style="display:flex; justify-content:space-between">
    @{
        if (Model.Codigo_Costo_Indirecto == "")
        {
            <h4 class="modal-title" id="tituloModalAddOrEdit">Nuevo</h4>
        }
        else
        {
            <h4 class="modal-title" id="tituloModalAddOrEdit">Editar</h4>
        }
    }
    
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Html.BeginForm("AddOrEdit", "CostosIndirectos", FormMethod.Post, new { @id = "FormAddOrEdit"}))
{
    <div class="modal-body modalCreate">
        <div class="col-md-12 flexible2">
            <div class="col-md-12 caja-contenedora flexible2">

                @Html.EditorFor(model => model.Codigo_Interno_Costo_Indirecto, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })

                <div class="col-md-12 form-medio">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Codigo_Costo_Indirecto, "Código:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-8 form-medio">
                        @Html.EditorFor(model => model.Codigo_Costo_Indirecto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Codigo_Costo_Indirecto)
                    </div>
                </div>

                <div class="col-md-12 form-medio">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Descripcion, "Descripción:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-8 form-medio">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @style="text-transform:capitalize" } })
                        @Html.ValidationMessageFor(model => model.Descripcion)
                    </div>
                </div>

                <div class="col-md-12 form-medio">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Moneda, "Moneda:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-8 form-medio">
                        <select id="Moneda" name="Moneda"></select>
                    </div>
                </div>

                <div class="col-md-12 form-medio">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Precio, "Precio:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-8 form-medio">
                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control precioUniCostoInd", @style = "text-align:right" } })
                    </div>
                </div>

                <div class="col-md-12 form-medio">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Precio_Fijo, "Importe Fijo:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-8 form-medio">
                        @Html.EditorFor(model => model.Precio_Fijo, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                    </div>
                </div>

                <div class="col-md-12 form-medio">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Porcentaje, "Porcentaje:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-8 form-medio">
                        @Html.EditorFor(model => model.Porcentaje, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="col-md-12 form-medio" id="Aplica" style="display:none !important">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Porcentaje_Aplica, "Aplica a:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-8 form-medio">
                        <div class="col-md-4 form-medio" style="display:flex !important">
                            <p style="margin:0px !important">Insumos:</p> @Html.RadioButtonFor(model => model.Porcentaje_Aplica, "Insumos")
                        </div>
                        <div class="col-md-4 form-medio" style="display:flex !important">
                            <p style="margin:0px !important">Total:</p> @Html.RadioButtonFor(model => model.Porcentaje_Aplica, "Total")
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>
            $(document).ready(function () {
                $('#Precio').numeric();
                $('#Porcentaje').numeric();
                $('#Precio_Fijo').numeric();
                SaltosEnFormulario();
                VerificarCampos();
                verificarPrecioPorcentaje();

                let monedas = @Html.Raw(Json.Encode(ViewBag.Monedas));
                for (let moneda of monedas) {
                    $("#Moneda").append(`<option value="${moneda.nombre}" ${"@Model.Moneda" == moneda.nombre ? "selected" : ""}>${moneda.nombre}</option>`);
                }
                if ("@Model.Moneda" == "")
                    $("#Moneda").val("Pesos")
            });

            function SaltosEnFormulario() {
                $("#Codigo_Costo_Indirecto").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $('#Descripcion').focus();
                    }
                });

                $("#Descripcion").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $('#Precio').focus();
                    }
                });

                $("#Precio").keyup(function (e) {
                    if (e.keyCode == 13) {
                        SubmitCosto($('#FormAddOrEdit'));
                    }
                });

                $("#Precio_Fijo").keyup(function (e) {
                    if (e.keyCode == 13) {
                        SubmitCosto($('#FormAddOrEdit'));
                    }
                });

                $("#Porcentaje").keyup(function (e) {
                    if (e.keyCode == 13) {
                        SubmitCosto($('#FormAddOrEdit'));
                    }
                });
            }

            function VerificarCampos() {
                if ($('#Precio').val() != "") {
                    $("#Porcentaje").val("");
                    $("#Precio_Fijo").val("");
                    $("#Porcentaje").attr("disabled", true);
                    $("#Precio_Fijo").attr("disabled", true);
                }
                else if ($("#Porcentaje").val() != "") {
                    $("#Precio").val("");
                    $("#Precio_Fijo").val("");
                    $("#Precio").attr("disabled", true);
                    $("#Precio_Fijo").attr("disabled", true);

                    $('#Aplica').attr('style', 'display:flex !important');
                }
                else if ($("#Precio_Fijo").val() != "") {
                    $("#Precio").val("");
                    $("#Porcentaje").val("");
                    $("#Precio").attr("disabled", true);
                    $("#Porcentaje").attr("disabled", true);
                }
            }

            function verificarPrecioPorcentaje() {

                $("#Precio").keyup(function () {
                    if ($('#Precio').val() != "") {
                        $("#Porcentaje").val("");
                        $("#Precio_Fijo").val("");
                        $("#Porcentaje").attr("disabled", true);
                        $("#Precio_Fijo").attr("disabled", true);
                    }
                    else {
                        $("#Porcentaje").val("");
                        $("#Precio_Fijo").val("");
                        $("#Porcentaje").attr("disabled", false);
                        $("#Precio_Fijo").attr("disabled", false);
                    }
                });

                $("#Precio_Fijo").keyup(function () {
                    if ($('#Precio_Fijo').val() != "") {
                        $("#Porcentaje").val("");
                        $("#Precio").val("");
                        $("#Porcentaje").attr("disabled", true);
                        $("#Precio").attr("disabled", true);
                    }
                    else {
                        $("#Porcentaje").val("");
                        $("#Precio").val("");
                        $("#Porcentaje").attr("disabled", false);
                        $("#Precio").attr("disabled", false);
                    }
                });

                $("#Porcentaje").keyup(function () {
                    if ($('#Porcentaje').val() != "") {
                        $("#Precio").val("");
                        $("#Precio_Fijo").val("");
                        $("#Precio").attr("disabled", true);
                        $("#Precio_Fijo").attr("disabled", true);

                        $('#Aplica').attr('style', 'display:flex !important');
                    }
                    else {
                        $("#Precio").val("");
                        $("#Precio_Fijo").val("");
                        $("#Precio").attr("disabled", false);
                        $("#Precio_Fijo").attr("disabled", false);

                        $('#Aplica').attr('style', 'display:none !important');
                    }
                });
            }

            function SubmitCosto(Formulario) {
                //VALIDADOR DEL FORMULARIO

                if ($('#Precio').val() == "" && $('#Porcentaje').val() == "" && $('#Precio_Fijo').val() == "") {
                    notif({
                        msg: "Por favor ingrese Precio, Precio Fijo o Porcentaje.",
                        type: "warning",
                        position: "center"
                    });

                    $('#Precio').focus();

                    return;
                }

                $.validator.unobtrusive.parse(Formulario);

                if ($(Formulario).valid()) {

                    $('#Precio').val($('#Precio').val().toString().replace(".", ","));
                    $('#Porcentaje').val($('#Porcentaje').val().toString().replace(".", ","));
                    $('#Precio_Fijo').val($('#Precio_Fijo').val().toString().replace(".", ","));

                    $.ajax({
                        type: "POST",
                        url: "/CostosIndirectos/AddOrEdit/",
                        data: $(Formulario).serialize(),
                        success: function (data) {
                            if (data.success) {

                                notif({
                                    msg: data.message,
                                    type: "success",
                                    position: "center"
                                });

                                $('#modalAddOrEdit').modal('hide');
                                $('#modalAddOrEditCosto').modal('hide');

                                CargarCostos();
                                //SubmitFormulaCI(form);

                            } else {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                            }
                        }
                    });
                }

                return false;
            }

            function SubmitFormulaCI(form) {
                for (var u in listadoInsumos) {
                    $('#InsumosFormula').append('<input type="text" name="Insumos[' + u + '].Codigo_Insumo" value="' + listadoInsumos[u].Codigo_Insumo + '"/>');

                    $('#InsumosFormula').append('<input type="text" name="Insumos_Formulas_Recuperado[' + u + '].Codigo_Insumo" value="' + listadoInsumos[u].Codigo_Insumo + '"/>');
                    $('#InsumosFormula').append('<input type="text" name="Insumos_Formulas_Recuperado[' + u + '].Codigo_Formula" value="' + CodigoFormula + '"/>');
                    $('#InsumosFormula').append('<input type="text" name="Insumos_Formulas_Recuperado[' + u + '].CantidadRecuperada" value="' + parseFloat(listadoInsumos[u].CantidadRecuperada).toString().replace(".", ",") + '"/>');
                }
                //debugger
                for (var i in listadoDetalles) {
                    $('#DetallesFormula').append('<input type="text" name="Detalle_Formula[' + i + '].Codigo_Insumo" value="' + listadoDetalles[i].Codigo_Insumo + '"/>' +
                        '<input type="text" name="Detalle_Formula[' + i + '].Cantidad" value="' + parseFloat(listadoDetalles[i].Cantidad).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Detalle_Formula[' + i + '].Costo" value="' + parseFloat(listadoDetalles[i].Costo).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Detalle_Formula[' + i + '].Precio_Unitario" value="' + parseFloat(listadoDetalles[i].Precio_Unitario).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Detalle_Formula[' + i + '].Marca" value="' + listadoDetalles[i].Marca + '"/>');
                }
                //debugger
                for (var j in listadoCostos) {
                    $('#CostosFormula').append('<input type="text" name="Costos_Indirectos_Formula[' + j + '].Precio" value="' + parseFloat(listadoCostos[j].Precio).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Costos_Indirectos_Formula[' + j + '].Codigo_Costo_Indirecto" value="' + listadoCostos[j].Codigo_Costo_Indirecto + '"/>' +
                        '<input type="text" name="Costos_Indirectos_Formula[' + j + '].Cantidad" value="' + parseFloat(listadoCostos[j].Cantidad).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Costos_Indirectos_Formula[' + j + '].Precio_Fijo" value="' + parseFloat(listadoCostos[j].Precio_Fijo).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Costos_Indirectos_Formula[' + j + '].Porcentaje" value="' + parseFloat(listadoCostos[j].Porcentaje).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Costos_Indirectos_Formula[' + j + '].Marca" value="' + listadoCostos[j].Marca + '"/>');
                }
                //debugger
                //VALIDADOR DEL FORMULARIO

                $.validator.unobtrusive.parse(form);

                if ($(form).valid()) {
                    $('#Litros_Tina').val($('#Litros_Tina').val() != "" ? $('#Litros_Tina').val().toString().replace(".", ",") : "");
                    $('#Kilos_Masa').val($('#Kilos_Masa').val() != "" ? $('#Kilos_Masa').val().toString().replace(".", ",") : "");
                    $('#Litros_Suero').val($('#Litros_Suero').val() != "" ? $('#Litros_Suero').val().toString().replace(".", ",") : "");
                    $('#Litros_Crema').val($('#Litros_Crema').val() != "" ? $('#Litros_Crema').val().toString().replace(".", ",") : "");
                    $('#Factor').val($('#Factor').val() != "" ? $('#Factor').val().toString().replace(".", ",") : "");
                    $('#Kilos_Teoricos').val($('#Kilos_Teoricos').val().toString().replace(".", ","));

                    $.ajax({
                        type: "POST",
                        url: "/Formulas/AddOrEdit",
                        data: $(form).serialize(),
                        success: function (data) {
                            if (!data.success) {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                            }
                            else {
                                window.location.href = "/Formulas/Index?resultado= " + parseInt(data.resultado);
                            }
                        },
                        beforeSend: function (data) {
                            $('.AddFormula').attr('disabled', true);
                        },
                        complete: function (data) {
                            $('.AddFormula').attr('disabled', false);
                        }
                    });
                }

                return false;
            }
        </script>
    </div>

    <div class="modal-footer modalCreate">
        <but onclick="SubmitCosto($('#FormAddOrEdit'))" class="btn btn-primary">Confirmar</but>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
