﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Costos Indirectos : Listado";

    Entities db = new Entities();
}

<h2>Costos Indirectos</h2>

<table id="CostosTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDeleteCosto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="borrarCostoIndex()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal AddOrEdit -->
<div class="modal fade" id="modalAddOrEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:550px">
        <div class="modal-content" id="ModalAddOrEdit"></div>
    </div>
</div>


<input class="codigo" hidden />

@section scripts{

    <script>
        var dataTableCostos = [];
        var listadoCostos = [];

        function CargarCostos() {

            $.ajax({
                type: "GET",
                url: "/CostosIndirectos/GetData/",
                dataType: "json",
                success: function (data) {
                    if (data.success) {

                        listadoCostos = data.data;

                        dataTableCostos = $("#CostosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            data: listadoCostos,
                            "columns": [
                                {
                                    "data": "Codigo_Costo_Indirecto",
                                    "title": "Código",
                                    "width": "15%"
                                },
                                {
                                    "data": "Descripcion",
                                    "title": "Descripción",
                                    "sClass": "mayusculas-texto"
                                },
                                {
                                    "data": "Porcentaje",
                                    "title": "Porcentaje",
                                    "render": function (data) {
                                        if (data != null) {
                                            return "% " + data;

                                        }
                                        else {
                                            return "";
                                        }
                                    }
                                },
                                {
                                    "data": "Precio",
                                    "title": "Precio Unitario",
                                    "render": function (data) {
                                        if (data != null) {
                                            return parseFloat(data).toFixed(4);

                                        }
                                        else {
                                            return "";
                                        }
                                    }
                                },
                                {
                                    "data": "Precio_Fijo",
                                    "title": "Precio Fijo",
                                    "render": function (data) {
                                        if (data != null) {
                                            return parseFloat(data).toFixed(4);

                                        }
                                        else {
                                            return "";
                                        }
                                    }
                                },
                                {
                                    "data": "Codigo_Costo_Indirecto",
                                    "title": "Herramientas",
                                    "width": "10%",
                                    "render": function (data) {
                                        return " <a class='btn btn-default btn-sm' onclick=AbrirModalAddOrEdit('"+data+"')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                                 "<a class='btn btn-danger btn-sm'onclick=modificarInput('" + data + "') data-toggle='modal' data-target='#modalDeleteCosto'><span class='glyphicon glyphicon-trash'></span></a>";
                                    },
                                }

                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                    { className: "text-center", "targets": [0, 5] },
                                    { className: "text-right", "targets": [2, 3, 4] },
                            ],
                            dom: 'Bfrtip',
                            buttons: [
                               {
                                   text: '<span class="glyphicon glyphicon-plus">',
                                   className: 'nuevo',
                                   action: function () {
                                       AbrirModalAddOrEdit();
                                   }
                               }
                            ],
                            "order": [[1, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            }

                        });
                    }

                }
            });

        };

        function modificarInput(Codigo) {
            $('input.codigo').text(Codigo);
        }

        function borrarCostoIndex() {
            $.ajax({
                type: "POST",
                url: "/CostosIndirectos/Delete/",
                data: { Codigo_Costo_Indirecto: $('input.codigo').text() },
                success: function (data) {
                    if (data.success) {
                        $('#modalDeleteCosto').modal('hide');
                        CargarCostos();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        };

        function AbrirModalAddOrEdit(Codigo) {
            $.ajax({
                type: "GET",
                url: "/CostosIndirectos/AddOrEdit/",
                data: { Codigo_Costo_Indirecto : Codigo },
                success: function (data) {
                    $('#ModalAddOrEdit').html(data);
                    $('#modalAddOrEdit').modal('toggle');
                    $('#modalAddOrEdit').on('shown.bs.modal', function (e) {
                        if ($('#Codigo_Interno_Costo_Indirecto').val() == 0) {
                            $('#Codigo_Costo_Indirecto').focus();
                        }
                        else {
                            $('#Descripcion').focus();
                        }
                    })
                }
            });
        }

        $(document).ready(function () {
            CargarCostos();
        });

    </script>
}
