﻿@{
    ViewBag.Title = "Inicio";
}

<div class="container contenedor-index-home">
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 contenedor-titulo">
                    Módulo Producción
                </div>
            </div>
        </div>
    </div>
</div>