﻿@{
    Layout = null;
}
<div class="modal-dialog"  style="width:90%;height:95%;">
    <div class="modal-content"  style="height:95%;">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="width:100%;height:95%;overflow-y:hidden;">
            <div  id="cargando">
                <img src="~/images/Loading.gif" style="width:40px;display:block;margin:auto;"/>
                <label style="display:block;text-align:center;">Espere un momento...</label>
            </div>
            <object  onload="ocultar()" data="@ViewBag.Url" type="application/pdf" width="100%" height="100%" id="report_object"></object>
        </div>
    </div>
</div>
<script>
    function ocultar() {
        $("#cargando").hide();
    }

    $('#report_object').onerror = () => {
        console.log('Ocurrió un error al cargar el reporte.');
    };
</script>