﻿@model AccesoDatos.Contexto.Produccion.Productos
@{
    if (Model.Codigo_Interno_Producto == 0)
    {
        ViewBag.Title = "Productos : Nuevo";
    }
    else
    {
        ViewBag.Title = "Productos : Editar";
    }

}

@using (Html.BeginForm("AddOrEdit", "Productos", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.AntiForgeryToken()

    <div class="container contenedor-formulas-add col-md-8 col-md-offset-1">

        <div class="col-md-12 flexible2">

            <!--CONTENEDOR SUBMIT-->
            <div class="col-md-12 flexible">
                <div class="col-md-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <input type="submit" value="Confirmar" class="btn btn-primary" />
                        <a class="btn btn-default" href="@Url.Action("Index", "Productos")">Volver</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 flexible2">
                <!--CÓDIGO / DESCRIPCIÓN-->
                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-12 form-medio" style="padding-bottom:10px !important">
                        <div class="col-md-3 form-medio" style="display:none !important">
                            @Html.EditorFor(model => model.Codigo_Interno_Producto, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                        <div class="col-md-3 form-medio" style="flex-wrap:wrap">
                            <div class="col-md-3 form-medio">
                                @Html.LabelFor(model => model.Codigo_Producto, "Código:", htmlAttributes: new { @class = "control-label" })
                            </div>

                            <div class="col-md-7 form-medio">
                                @Html.EditorFor(model => model.Codigo_Producto, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                        </div>
                        <div class="col-md-9 form-medio">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.Descripcion, "Descripción:", htmlAttributes: new { @class = "control-label" })
                            </div>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-medio" style="padding-bottom:10px !important">
                        <div class="col-md-3 form-medio" style="flex-wrap:wrap">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Dias_Volteo, "Dias de Volteo", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.EditorFor(model => model.Dias_Volteo, new { htmlAttributes = new { @class = "form-control", style = "width:100px;" } })
                            </div>
                        </div>

                        <div class="col-md-3 form-medio" style="flex-wrap:wrap">
                            <div class="col-md-4 form-medio">
                                @Html.LabelFor(model => model.Codigo_Familia, "Familia", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-7 form-medio">
                                @Html.DropDownListFor(model => model.Codigo_Familia, ViewBag.ListadoFamilia as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3 form-medio" style="flex-wrap:wrap">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Dias_Frescura, "Vida Util(días)", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.EditorFor(model => model.Dias_Frescura, new { htmlAttributes = new { @class = "form-control", style = "width:100px;" } })
                            </div>
                        </div>
                        <div class="col-md-3 form-medio" style="flex-wrap:wrap">
                            <div class="col-md-8 form-medio">
                                @Html.LabelFor(model => model.Relacion_Teorica, "Relación Teórica Grasa/Proteína:", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-3 form-medio">
                                @Html.EditorFor(model => model.Relacion_Teorica, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-medio">
                        <div class="col-md-3 form-medio" style="flex-wrap:wrap">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Tolerancia, "Tolerancia", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.EditorFor(model => model.Tolerancia, new { htmlAttributes = new { @class = "form-control", style = "width:100px; text-align:right;" } })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 form-medio">
                        @Html.ValidationMessageFor(model => model.Codigo_Producto, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--ARTÍCULO-->

                <div class="col-md-12 caja-contenedora flexible2" style="padding:0px 10px !important">
                    <div class="col-md-12 form-medio">
                        <hr style="width:100%" />
                    </div>

                    <div class="col-md-8 form-medio">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-2 form-medio">
                                <label class="control-label" style="margin:0px !important">Artículo</label>
                            </div>
                            <div class="col-md-1 form-medio">
                                <input type="checkbox" id="checkInsumo" @( !string.IsNullOrEmpty(Model.Codigo_Insumo) ? "checked=\"checked\"" : "" ) onclick="ModificarChecks()" />

                            </div>
                            <div class="col-md-7 form-medio" id="divInsumo">

                                <div class="col-md-4 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Insumo, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" id="btn-insumo" onclick="AbrirModalInsumos()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Codigo_Insumo, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-6 producto">
                                    <p id="descripcion-insumo" style="text-transform:capitalize">
                                        @if (Model.Insumos != null)
                                        {
                                            @Model.Insumos.Descripcion
                                        }
                                    </p>
                                </div>
                            </div>

                        </div>




                    </div>

                    <div class="col-md-12 form-medio">
                        <hr style="width:100%" />
                    </div>
                </div>

                <!--SALIDA DIRECTA-->

                <div class="col-md-8 caja-contenedora">
                    <div class="col-md-2 form-medio">
                        @Html.LabelFor(model => model.Salida_Directa, "Salida Directa:", htmlAttributes: new { @class = "control-label" })
                    </div>

                    <div class="col-md-3 form-medio">
                        @Html.CheckBox("Salida_Directa", Model.Salida_Directa.HasValue ? Model.Salida_Directa : false)
                    </div>
                    <div class="col-md-6 form-medio">
                        <p></p>
                    </div>
                </div>

                <!--CARGAR VENCIMIENTO EN EL ENVASADO-->
                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Vencimiento_Envasado, "Calcular Vencimiento en Base a la Fecha de:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Html.RadioButtonFor(model => model.Vencimiento_Envasado, "false", new { id = "Vencimiento_Envasado_1" })
                        <label for="Vencimiento_Envasado_1" style="font-weight:inherit;">Producción</label>
                    </div>
                    <div class="col-md-2">
                        @Html.RadioButtonFor(model => model.Vencimiento_Envasado, "true", new { id = "Vencimiento_Envasado_2" })
                        <label for="Vencimiento_Envasado_2" style="font-weight:inherit;">Envasado</label>
                    </div>
                </div>
            </div>

            <!--CONTENEDOR SUBMIT-->
            <div class="col-md-12 flexible">
                <div class="col-md-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <input type="submit" value="Confirmar" class="btn btn-primary" />
                        <a class="btn btn-default" href="@Url.Action("Index", "Productos")">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<!-- Modal Productos-->
<div class="modal fade" id="modalProductos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Productos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA PRODUCTOS -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="ProductosVentaTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarProducto()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Verificacion-->
<div class="modal fade" id="modalProductoInsumo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:850px" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">¿Que desea cargar?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" href="@Url.Action("AddOrEdit", "Productos")">Producto Terminado</button>
                <button type="button" class="btn btn-success" href="@Url.Action("AddOrEdit", "Productos")">Insumo</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/Productos/AddOrEdit.js"></script>

    <script>

        /* LLAMA AL METODO POST DE ADDOREDIT*/

        function SubmitForm(form) {

            //VALIDADOR DEL FORMULARIO
            if ($("#Codigo_Producto").val() == '') {
                notif({
                    msg: "Ingrese un Código de Producto.",
                    type: "warning",
                    position: "center",
                    multiline: true
                });
                return false;
            }

            if ($("#Descripcion").val() == '') {
                notif({
                    msg: "Ingrese una Descripción.",
                    type: "warning",
                    position: "center",
                    multiline: true
                });
                return false;
            }

            if ($("#Codigo_Familia").val() == '') {
                notif({
                    msg: "Ingrese una Familia.",
                    type: "warning",
                    position: "center",
                    multiline: true
                });
                return false;
            }

            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {

                $('#Relacion_Teorica').val($('#Relacion_Teorica').val().toString().replace(".", ","));

                $.ajax({
                    type: "POST",
                    url: "/Productos/AddOrEdit/",
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            window.location.href = "/Productos/Index?resultado=" + data.resultado;
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center",
                                multiline: true
                            });
                        }
                    }
                });
            }
            return false;
        }

        /*PASA A SIGUIENTE INPUT AL DAR ENTER*/

        function SaltosEnFormulario() {
            $("#Codigo_Producto").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Descripcion').focus();
                }
            });

            $("#Descripcion").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Relacion_Teorica').focus();
                }
            });

            $("#Relacion_Teorica").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#tb-producto').focus();
                }
            });

            $("#tb-producto").keyup(function (e) {
                if (e.keyCode == 13) {

                    $.ajax({
                        type: "GET",
                        url: "/ProductosVentas/GetOne/",
                        data: { Codigo_de_Producto: $('#tb-producto').val() },
                        success: function (data) {
                            if (data.success) {
                                var Producto = data.data;

                                $('#descripcion-prod-ventas').html(Producto.Descripcion);

                            }
                            else {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                            }
                        }
                    });

                    $('#tb-producto').focus();
                }
            });

        }

        window.onload = $('#Codigo_Producto').focus();

        $(document).ready(function () {


            $('#checkInsumo').change(function () {
                if ($(this).prop('checked') == false) {
                    document.getElementById('Codigo_Insumo').value = "";
                    document.getElementById('descripcion-insumo').value = "";
                }
            });

            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/

            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });

            $("#modalInsumos").on('shown.bs.modal', function () {
                $('#modalInsumos input').focus();
            });


            /* PRODUCTO TERMINADO */

            @{
                if (ViewBag.ProductoInsumo == 0)
                {
                    <text>
                        $('#checkProdTerminado').prop('checked', true);
                        $('#checkInsumo').prop('checked', false);
                    </text>

                }

                /* INSUMO */

                if (ViewBag.ProductoInsumo == 1)
                {
                     <text>
                        $('#checkProdTerminado').prop('checked', false);
                        $('#checkInsumo').prop('checked', true);
                    </text>

                }

                /* AMBOS */

                if (ViewBag.ProductoInsumo == 2)
                {
                    <text>
                        $('#checkProdTerminado').prop('checked', true);
                        $('#checkInsumo').prop('checked', true);
                    </text>

                }
            }

            CargarProductosVentas();
            CargarInsumos();

            $('#InsumosTabla tbody').on('click', 'tr.selected', function () {
                ConfirmarInsumo();
            });

            $('#ProductosVentaTabla tbody').on('click', 'tr.selected', function () {
                ConfirmarProducto();
            });

            SaltosEnFormulario();
            ModificarChecks();

        });
    </script>
}
