﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Productos : Listado";

    Entities db = new Entities();
}

<h2>Productos</h2>
<div id="dropdownEstados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
</div>
<table id="ProductosTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Delete()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script src="~/Scripts/Productos/Index.js"></script>
    
    <script>
        var dataTableProd = null;

        function CambiarEstado(codigo) {
            $.ajax({
                url: "/Productos/CambiarEstado",
                data: {
                    codigo_producto: codigo
                },
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: "Se cambio Correctamente de Estado",
                            type: "success",
                            position: "center"
                        });
                        $("#ListadoEstados").val("true");
                        dataTableProd.ajax.url('/Productos/GetData').load();

                    }
                    else {
                        if (data.message == "Iniciar Sesion") {
                            AbrirModalLogin();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            })
        }

        function CargarProductos() {
            dataTableProd = $("#ProductosTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/Productos/GetData",
                    "type": "GET",
                    "datatype": "json"
                },

                "columns": [
                    {
                        "data": "Codigo_Producto",
                        "title": "Código",
                        "width": "15%"
                    },
                    {
                        "data": "Descripcion",
                        "title": "Descripción",
                        "sClass": "mayusculas-texto",
                    },
                    {
                        "data": "Salida_Directa",
                        "title": "Salida Directa",
                        "width": "10%",
                        render: function (data) {
                            if (data == false) {
                                return '<input type="checkbox" disabled>';
                            }
                            else {
                                return '<input type="checkbox" checked disabled>';
                            }
                        }
                    },
                    {
                        
                        "title": "Herramientas",
                        "width": "12%",
                        "render": function (data, type, row, meta) {
                            if (row.Activo) 
                                return "<a class='btn btn-default btn-sm' href='/Productos/AddOrEdit/" + row.Codigo_Producto + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                        //"<a class='btn btn-danger btn-sm' onclick=modificarInput('" + row.Codigo_Producto + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>" +
                                        "<a class='btn btn-warning btn-sm' onclick=CambiarEstado('" + row.Codigo_Producto + "')><span>Desactivar</span></a>";

                            else
                                return "<a class='btn btn-default btn-sm' href='/Productos/AddOrEdit/" + row.Codigo_Producto + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                        //"<a class='btn btn-danger btn-sm' onclick=modificarInput('" + row.Codigo_Producto + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>" +
                                        "<a class='btn btn-success btn-sm' onclick=CambiarEstado('" + row.Codigo_Producto + "')><span>Activar</span></a>";

                        },
                    }
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                        { className: "text-center", "targets": [0, 1, 2, 3] }
                ],
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: 'nuevo',
                       action: function () {

                           window.location.href = "/Productos/AddOrEdit/";
                       }
                   },
                    {
                        text: $('#dropdownEstados').html(),
                        className: 'botonDropdown'

                    }
                ],
                "order": [[1, "asc"]],
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                    $('#dropdownEstados').html("");

                    $("#ListadoEstados").change(function () {
                        console.log("changed: ", $('option:selected', this).val());
                        estado = $('option:selected', this).val();
                        dataTableProd.ajax.url('/Productos/GetData?estado='+estado).load();

                    });
                }

            });

            //MUESTRA INFORMACIÓN ADICIONAL

            $('#ProductosTabla tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = dataTableProd.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        };

        function MostrarMensaje() {
            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };


        $(document).ready(function () {

            CargarProductos();

            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje();
            }
        });

    </script>
}
