﻿@model MVC_Produccion.ContextoProduccion.Productos
@using MVC_Produccion.ContextoProduccion
@using MVC_Produccion.ContextoVentas
@{
    Layout = null;

    Entities db = new Entities();

    Ventas dbVentas = new Ventas();

}
@using (Html.BeginForm("AddOrEdit", "Productos", FormMethod.Post, new { id = "FormNuevoProducto" }))
{
    @Html.AntiForgeryToken()

    <!-- Modal Productos Ventas -->
    <div class="modal fade" id="modalProdsVentas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="ModalProdsVentas"></div>
        </div>
    </div>

    <div class="modal-body modalCreate">
        <div class="col-md-12 flexible2">
                <!--CÓDIGO / DESCRIPCIÓN-->

                <div class="col-md-12 flexible2 caja-contenedora">
                    <div class="col-md-12 form-medio" style="padding-bottom:10px !important">

                        @Html.EditorFor(model => model.Codigo_Interno_Producto, new { htmlAttributes = new { @class = "form-control", @style="display:none" } })

                        <div class="col-md-3 form-medio" style="flex-wrap:wrap">
                            <div class="col-md-4 form-medio">
                                @Html.LabelFor(model => model.Codigo_Producto, "Código:", htmlAttributes: new { @class = "control-label" })
                            </div>

                            @{
                                if (Model.Codigo_Interno_Producto == 0)
                                {
                                    <div class="col-md-8 form-medio">
                                        @Html.EditorFor(model => model.Codigo_Producto, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                }
                                else
                                {
                

                                    <div class="col-md-8 form-medio">
                                        <fieldset disabled>
                                            @Html.EditorFor(model => model.Codigo_Producto, new { htmlAttributes = new { @class = "form-control", @id = "Codigo_Producto_Modal" } })
                                        </fieldset>

                                        @Html.EditorFor(model => model.Codigo_Producto, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-md-9 form-medio">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.Descripcion, "Descripción:", htmlAttributes: new { @class = "control-label" })
                            </div>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12 form-medio">
                        <div class="col-md-3 form-medio" style="flex-wrap:wrap">
                            <div class="col-md-8 form-medio">
                                @Html.LabelFor(model => model.Relacion_Teorica, "Relación Teórica:", htmlAttributes: new { @class = "control-label" })
                            </div>

                            <div class="col-md-3 form-medio">
                                @Html.EditorFor(model => model.Relacion_Teorica, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                        </div>
                        <div class="col-md-3 form-medio" style="flex-wrap:wrap">
                            <div class="col-md-4 form-medio">
                                @Html.LabelFor(model => model.Codigo_Familia, "Familia", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-7 form-medio">
                                @Html.DropDownListFor(model => model.Codigo_Familia, ViewBag.ListadoFamilia as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3 form-medio" style="flex-wrap:wrap">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.Dias_Frescura, "Vida Util(días)", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Dias_Frescura, new { htmlAttributes = new { @class = "form-control", style = "width:100px;" } })
                            </div>
                        </div>
                        <div class="col-md-3 form-medio" style="flex-wrap:wrap">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Dias_Volteo, "Dias de Volteo", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.EditorFor(model => model.Dias_Volteo, new { htmlAttributes = new { @class = "form-control", style = "width:100px;" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-medio">
                        <div class="col-md-3 form-medio" style="flex-wrap:wrap">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Tolerancia, "Tolerancia", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.EditorFor(model => model.Tolerancia, new { htmlAttributes = new { @class = "form-control", style = "width:100px;" } })
                            </div>
                        </div>
                        
                    </div>

                </div>

                <!--PRODUCTO VENTAS-->

                <div class="col-md-12 caja-contenedora" style="padding:0px 10px !important">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-12 form-medio" style="flex-direction:column !important">
                            <div class="col-md-12 form-medio">
                                <h4>Producto Terminado</h4><input type="checkbox" onclick="ModificarChecks()" id="checkProdTerminado" style="margin-left:10px;" />
                            </div>
                        </div>
                    </div>

                   @*
                    <div class="col-md-12 form-medio" id="divProducto">

                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Numero_Producto_Ventas, "Número Producto Ventas:", htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="col-md-2 form-medio">
                            <div class="input-group">

                                @Html.EditorFor(model => model.Numero_Producto_Ventas, new { htmlAttributes = new { @class = "form-control", @id ="Numero_Producto" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalProductosVentas()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Numero_Producto_Ventas, "", new { @class = "text-danger" })
                        </div>


                        <div class="col-md-5 producto">
                            <p id="DescripcionProdVentas">
                                @dbVentas.Productos.Where(p => p.Numero_de_Producto == Model.Numero_Producto_Ventas).Select(p => p.Descripcion).FirstOrDefault()
                            </p>
                        </div>

                    </div>*/
                    *@

                    <div class="col-md-12 form-medio">
                        <hr style="width:100%" />
                    </div>
                </div>

                <!--INSUMO-->

                <div class="col-md-12 caja-contenedora" style="padding:0px 10px !important">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-12 form-medio" style="flex-direction:column !important">
                            <div class="col-md-12 form-medio">
                                <h4>Insumo</h4><input type="checkbox" id="checkInsumo" onclick="ModificarChecks()" style="margin-left:10px;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-medio" id="divInsumo">
                        <div class="col-md-1 form-medio">
                            @Html.LabelFor(model => model.Codigo_Insumo, "Insumo:", htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="col-md-2 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Insumo, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon"><a href="#" id="btn-insumo" onclick="AbrirModalInsumos()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Codigo_Insumo, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-5 producto">
                            <p id="descripcion-insumo" style="text-transform:capitalize">
                                @db.Insumos.Where(i => i.Codigo_Insumo == Model.Codigo_Insumo).Select(i => i.Descripcion).FirstOrDefault()
                            </p>
                        </div>

                    </div>

                    <div class="col-md-12 form-medio">
                        <hr style="width:100%" />
                    </div>
                </div>

                <!--SALIDA DIRECTA-->

                <div class="col-md-12 caja-contenedora">
                    <div class="form-group">
                        <div class="col-md-2 form-medio">
                            @Html.LabelFor(model => model.Salida_Directa, "Salida Directa:", htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="col-md-3">
                            @Html.CheckBox("Salida_Directa", Model.Salida_Directa.HasValue ? Model.Salida_Directa : false)
                        </div>
                        <div class="col-md-6 form-medio">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

        <script>

            var ProductoInsumo = @ViewBag.ProductoInsumo;

            function ConfirmarInsumo() {
                $('#InsumosLayoutTabla').find('tr.selected').find('td').each(function () {
                    if ($(this).index() == 0) {

                        $("#Codigo_Insumo").val($(this).html());
                    }
                    if ($(this).index() == 1) {

                        $("#descripcion-insumo").html($(this).html());
                    }

                });

                $('#modalInsumosLayout').modal('hide');

                $("#modalInsumosLayout").on('hidden.bs.modal', function () {
                    $("#Salida_Directa").focus();
                });
            }

            function ModificarChecks() {

                if ($('#checkProdTerminado').is(":checked")) {
                    $('#divProducto').attr('style', 'display:flex !important');
                }
                else {
                    $('#divProducto').attr('style', 'display:none !important');
                }

                if ($('#checkInsumo').is(":checked")) {
                    $('#divInsumo').attr('style', 'display:flex !important');
                }

                else {
                    $('#divInsumo').attr('style', 'display:none !important');
                }


            }

            function SaltosEnFormulario() {
                $("#Codigo_Producto").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $('#Descripcion').focus();
                    }
                });

                $("#Descripcion").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $('#Relacion_Teorica').focus();
                    }
                });

                $("#Relacion_Teorica").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $('#Numero_Producto_Ventas').focus();
                    }
                });

                $("#Numero_Producto_Ventas").keyup(function (e) {
                    if (e.keyCode == 13) {

                        $.ajax({
                            type: "GET",
                            url: "/ProductosVentas/GetOne/",
                            data: { Codigo_de_Producto: $('#Numero_Producto_Ventas').val() },
                            success: function (data) {
                                if (data.success) {
                                    var Producto = data.data;

                                    $('#DescripcionProdVentas').html(Producto.Descripcion);

                                }
                                else {
                                    notif({
                                        msg: data.message,
                                        type: "error",
                                        position: "center"
                                    });
                                }
                            }
                        });
                    }
                });

                $("#Codigo_Insumo").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $(this).trigger("enterKey");

                        $.ajax({
                            type: "GET",
                            url: "/Insumos/GetOne/",
                            data: { Codigo_Insumo: $('#Codigo_Insumo').val() },
                            dataType: "json",
                            success: function (data) {
                                if (data.success) {

                                    var Insumo = data.data[0];
                            
                                    if (Insumo != null) {
                                        $('#descripcion-insumo').html(Insumo.Descripcion);
                                    }
                                    else {
                                        notif({
                                            msg: "Error, no existe registro con el Código ingresado.",
                                            type: "error",
                                            position: "center"
                                        });

                                        $('#Codigo_Insumo').focus();
                                    }

                                }
                            }
                        });
                    }

                });

            }

            function SubmitProducto(Formulario) {

                //VALIDADOR DEL FORMULARIO

                $.validator.unobtrusive.parse(Formulario);

                if ($(Formulario).valid()) {

                    $.ajax({
                        type: "POST",
                        url: "/Productos/AddOrEdit/",
                        data: $(Formulario).serialize(),
                        success: function (data) {
                            if (data.success) {
                                $('#modalProductoLayout').modal('hide');

                                if (data.resultado == 1) {
                                    notif({
                                        msg: "Registro guardado satisfactoriamente.",
                                        type: "success",
                                        position: "center"
                                    });
                                }

                                if (data.resultado == 2) {

                                    notif({
                                        msg: "Registro modificado satisfactoriamente.",
                                        type: "success",
                                        position: "center"
                                    });
                                } 

                                CargarProductosModal();
                            }
                            else {

                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });

                                $('#Codigo_Producto_Modal').focus();
                            }
                        }
                    });
                }
                return false;
            }
        </script>
    </div>

    <div class="modal-footer modalCreate">
        <a onclick="SubmitProducto($('#FormNuevoProducto'))" class="btn btn-primary">Confirmar</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>

}



