﻿@model MVC_Produccion.ContextoProduccion.Expedicion
@{
    Layout = null;
}
<div class="modal-header modalCreate" style="display:flex; justify-content:space-between">
    @{
        if (Model.Codigo_Interno_Expedicion == 0)
        {
            <h4 class="modal-title" id="tituloModalAddOrEdit">Nuevo</h4>
        }
        else
        {
            <h4 class="modal-title" id="tituloModalAddOrEdit">Editar</h4>
        }
    }
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@using (Html.BeginForm("AddOrEdit", "Expediciones", FormMethod.Post, new { @id = "FormAddOrEdit" }))
{
    <div class="modal-body modalCreate">
        <div class="col-md-12 flexible2">
            <div class="col-md-12 caja-contenedora flexible2">
                @if (Model.Motivo_Rechazo != null)
                {
                    if (Model.Motivo_Rechazo != "")
                    {
                        <p>Este remito fue rechazado por el siguiente motivo: <span class="motivo_rechazo">@Html.DisplayFor(model => model.Motivo_Rechazo)</span></p>
                    }
                }
                @Html.HiddenFor(model => model.Codigo_Interno_Expedicion, new { htmlAttributes = new { @class = "form-control" } })
                <div class="col-md-12 caja-sector-modal">
                    @*<div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Egreso_Ingreso, "Movimiento", new { @class = "control-label" }):
                        @Html.DropDownListFor(model => model.Egreso_Ingreso, ViewBag.TipoExpedicion as IEnumerable<SelectListItem>, new { @class = "form-control" ,style="width:100px;margin-left:10px;"})
                        @Html.ValidationMessageFor(model => model.Egreso_Ingreso)
                    </div>*@
                    <div class="col-md-3 form-medio">
                        @Html.LabelFor(model => model.Fecha, "Fecha", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right;width:100px;margin-left:10px;" } })
                        @Html.ValidationMessageFor(model => model.Fecha)
                    </div>
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(m => m.Origen, "Sucursal origen", new { @class = "control-label" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.Origen, new { htmlAttributes = new { @class = "form-control", @style = "width:50px;margin-left:10px;" } })
                            <span class="input-group-addon" style="max-height:25px;padding:3px 12px;"><a href="#" onclick="AbrirModalSucursalesOrigen()"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        <p style="text-transform:capitalize; margin-left:5px" id="Nombre_Sucursal_Origen">@ViewBag.Origen</p>
                    </div>
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(m => m.Sucursal, "Sucursal destino", new { @class = "control-label" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.Sucursal, new { htmlAttributes = new { @class = "form-control", @style = "width:50px;margin-left:10px;" } })
                            <span class="input-group-addon" style="max-height:25px;padding:3px 12px;"><a href="#" onclick="AbrirModalSucursales()"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        <p style="text-transform:capitalize; margin-left:5px" id="Nombre_Sucursal">@ViewBag.Sucursal</p>
                    </div>
                </div>
                <div class="col-md-12 caja-sector-modal">
                    <div class="col-md-4 form-medio">
                        <div class="col-md-7 form-medio">
                            @Html.LabelFor(model => model.Tipo_Comprobante, "Tipo Comprobante", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4 form-medio">
                            @Html.DropDownListFor(model => model.Tipo_Comprobante, ViewBag.Tipo_Comprobante as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Tipo_Comprobante)
                        </div>
                    </div>
                    <div class="col-md-3 form-medio">
                        <div class="col-md-4 form-medio">
                            @Html.LabelFor(model => model.Prefijo, "Prefijo", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6 form-medio">
                            @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                            @Html.ValidationMessageFor(model => model.Prefijo)
                        </div>
                    </div>
                    <div class="col-md-5 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.Numero_Comprobante, "Número de Comprobante", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4 form-medio">
                            @Html.EditorFor(model => model.Numero_Comprobante, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                            @Html.ValidationMessageFor(model => model.Numero_Comprobante)
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-sector-modal">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-2 form-medio">
                            @Html.LabelFor(model => model.Comentario, "Comentario", new { @class = "control-label" })
                        </div>
                        <div class="col-md-10 form-medio">
                            @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-contenedora">
                    <table id="Totales_Producto_Produccion" class="display compact" style="width:100%"></table>
                    <table id="DetallesExpedicionTabla" class="display compact" style="width:100%"></table>
                </div>
                <div id="DetallesExpedicion" style="display:none"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer modalCreate">
        <button type="submit" class="btn btn-primary">Confirmar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
}
<script>
    var CantidadRestanteADespachar = 0;
    var KilosRestantesADespachar = 0;
    var CantidadTotalADespachar = 0;
    var KilosTotalesADespachar = 0;
    var listadoCantidadPorLote = [];
    $('#Fecha').datepicker();
    var listadoLotesLiberados = [];
    var listadoDetallesExpedicion = [];
    function CargarLotesLiberados() {
        if ($('#tb-producto').val() == "") {
            notif({
                msg: "Por favor ingrese un Producto.",
                type: "warning",
                position: "center"
            });
            $('#tb-producto').val();
        }
        else {
            $.ajax({
                type: "GET",
                url: "/Envasados/ObtenerLotesLiberados/",
                data: { Numero_Producto_Ventas: $('#tb-producto').val().toString().trim() },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoLotesLiberados = [];
                        for (var i in data.data) {
                            listadoLotesLiberados.push(data.data[i]);
                        };
                        dataTable = $("#EnvasadosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            "responsive": true,
                            data: listadoLotesLiberados,
                            "columns": [
                                /*{
                                    "data": "Codigo_Interno_Envasado",
                                    "title": "Código",
                                    width: "15%"
                                },*/
                                {
                                    "data": "Lote",
                                    "title": "Lote"
                                },
                                /*{
                                    "data": "Fecha",
                                    "title": "Fecha",
                                    "render": function (data) { return moment(data).format('DD/MM/YYYY'); }
                                },
                                {
                                    "data": "Humedad",
                                    "title": "Humedad",
                                    render: function (data) {
                                        if (data == null) {
                                            return "";
                                        }
                                        else {
                                            return parseFloat(data).toFixed(4);
                                        }
                                    }
                                },*/
                                {
                                    "data": "Cantidad",
                                    "title": "Cantidad",
                                    render: function (data, type, full, meta) {
                                        for (var t in listadoDetallesExpedicion) {
                                            console.log('Numero producto ventas en array: ' + listadoDetallesExpedicion[t].Numero_Producto_Ventas);
                                            console.log('Numero producto ventas seleccionado: ' + $('#tb-producto').val().toString().trim());
                                            console.log('Lote en array:' + listadoDetallesExpedicion[t].Lote);
                                            console.log('Lote del lote liberado: ' + data);
                                            console.log('Cantidad expedida: ' + listadoDetallesExpedicion[t].Cantidad);
                                            console.log('Cantidad restante por expedir: ' + full.Cantidad);
                                            if (listadoDetallesExpedicion[t].Numero_Producto_Ventas == $('#tb-producto').val().toString().trim() && listadoDetallesExpedicion[t].Lote == full.Lote.trim()) {
                                                return parseInt(data) - listadoDetallesExpedicion[t].Cantidad;
                                            }
                                        }
                                        return data;
                                    }
                                },
                                {
                                    "data": "Kilos",
                                    "title": "Kilos",
                                    render: function (data, type, full, meta) {
                                        for (var t in listadoDetallesExpedicion) {
                                            console.log('Numero producto ventas en array: ' + listadoDetallesExpedicion[t].Numero_Producto_Ventas);
                                            console.log('Numero producto ventas seleccionado: ' + $('#tb-producto').val().toString().trim());
                                            console.log('Lote en array:' + listadoDetallesExpedicion[t].Lote);
                                            console.log('Lote del lote liberado: ' + data);
                                            console.log('Kilos expedidos: ' + listadoDetallesExpedicion[t].Kilos);
                                            console.log('Kilos restante por expedir: ' + full.Kilos);
                                            if (listadoDetallesExpedicion[t].Numero_Producto_Ventas == $('#tb-producto').val().toString().trim() && listadoDetallesExpedicion[t].Lote == full.Lote.trim()) {
                                                return parseFloat(parseFloat(data) - parseFloat(listadoDetallesExpedicion[t].Kilos)).toFixed(2);
                                            }
                                        }
                                        return data;
                                    }
                                }/*,
                                {
                                    "data": "Codigo_Interno_Envasado",
                                    "title": "Herramientas",
                                    width: "10%",
                                    "render": function (data) {
                                        return "<a class='btn btn-danger btn-xs' onclick='AbrirModalDelete(" + data + ")'><span class='glyphicon glyphicon-trash'></span></a>";
                                    },
                                }*/
                            ],
                            "columnDefs": [
                                {
                                    className: "text-right",
                                    targets: [1,2]
                                },
                                {
                                    className: "text-center",
                                    targets: [0]
                                }
                            ],
                            "order": [[1, 'asc']],
                            "language": idiomaEspañol,
                            dom: 'Bfrtip',
                            buttons: [
                            ],
                            select: 'single'
                        });
                    }
                }
            });
        }
    }
    function ConfirmarProdLiberado() {
        var bandera = false;
        $('#ProductosVentasTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 0) {
                $("#tb-producto").val($(this).html());
                bandera = true;
            }
            if ($(this).index() == 1)
                $('#data3').html($(this).html());
        });

        if (bandera == true) {
            $('#data2').html("");
            $("#data2").append('<div class="col-md-8 form-medio"><input id="tb-lote" placeholder="Lote" style="text-align:right; width:100%" readonly/></div>' +
                '<div class="col-md-4" style="padding:0px !important; text-align:center"><a href="#" id="mostrarInsumos" onclick="AbrirModalLotesLiberados()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>'
            );
            $('#modalProductosVentas').modal('hide');
            $("#modalProductosVentas").on('hidden.bs.modal', function () {
                $('#tb-lote').focus();
            });
        }
        else {
            notif({
                msg: "Por favor seleccione un registro de la tabla.",
                type: "warning",
                position: "center"
            });
        }
    }
    function AbrirModalProductosVentasLiberados() {
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Productos_Ventas/",
            success: function (data) {
                $('#ModalProductosVentas').html(data);
                $('#modalProductosVentas').modal('toggle');
                CargarProductosLiberados();
                $('#ConfirmarProducto').click(function () {
                    ConfirmarProdLiberado();
                });
                $('#ProductosVentasTabla tbody').on('click', 'tr.selected', function () {
                    ConfirmarProdLiberado();
                });
            }
        });
    }
    function ConfirmarLoteLiberado() {
        $('#EnvasadosTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 0) {
                var lote_seleccionado = $(this).html();
                console.log('Lote seleccionado: ' + lote_seleccionado);
                $.ajax({
                    type: "GET",
                    url: "/Envasados/ObtenerRestantePorSalidaMercaderia/",
                    data: {
                        Lote: $(this).html(),
                        Numero_Producto_Ventas: $('#tb-producto').val().toString().trim()
                    },
                    success: function (data) {
                        if (data.success) {
                            var objeto = data.objeto;
                            CantidadRestanteADespachar = parseInt(objeto.Cantidad_Restante);
                            KilosRestantesADespachar = parseFloat(objeto.Kilos_Restantes).toFixed(2);
                            console.log('Cantidad restante: ' + CantidadRestanteADespachar);
                            console.log('Kilos restantes: ' + KilosRestantesADespachar);
                            if (listadoDetallesExpedicion.length > 0) {
                                for (var t in listadoDetallesExpedicion) {
                                    console.log('Compara: ' + listadoDetallesExpedicion[t].Numero_Producto_Ventas + ' con ' + $('#tb-producto').val());
                                    console.log('Compara: ' + listadoDetallesExpedicion[t].Lote + ' con ' + lote_seleccionado);
                                    console.log(listadoDetallesExpedicion[t].Numero_Producto_Ventas.toString().trim() == $('#tb-producto').val().toString().trim())
                                    console.log(listadoDetallesExpedicion[t].Lote == lote_seleccionado);
                                    if (listadoDetallesExpedicion[t].Numero_Producto_Ventas.toString().trim() == $('#tb-producto').val().toString().trim() && listadoDetallesExpedicion[t].Lote == lote_seleccionado) {
                                        console.log('Encuentra');
                                        console.log('Cantidad cargada: ' + parseInt(listadoDetallesExpedicion[t].Cantidad));
                                        console.log('Kilos cargados: ' + parseFloat(listadoDetallesExpedicion[t].Kilos).toFixed(2));
                                        CantidadRestanteADespachar -= parseInt(listadoDetallesExpedicion[t].Cantidad);
                                        KilosRestantesADespachar -= parseFloat(listadoDetallesExpedicion[t].Kilos).toFixed(2);
                                        console.log('Cantidad final: ' + CantidadRestanteADespachar);
                                        console.log('Kilos finales: ' + KilosRestantesADespachar);
                                    }
                                }
                            }
                            $('#data4').html("");
                            $('#data5').html("");
                            if (CantidadRestanteADespachar <= 0 && KilosRestantesADespachar <= 0) {
                                notif({
                                    msg: "Ya se ha despachado el total del Lote seleccionado.",
                                    type: "error",
                                    position: "center"
                                });
                                return;
                            }
                            else {
                                $("#tb-lote").val(lote_seleccionado);
                                $("#data4").append('<input id="nuevaCantidad" style="text-align:right" placeholder="Cantidad" class="col-md-12 text-box single-line" value="' + CantidadRestanteADespachar + '"></input>');
                                $("#data5").append('<input id="nuevosKilos" style="text-align:right" placeholder="Kilos" class="col-md-12 text-box single-line" value="' + KilosRestantesADespachar + '"></input>');
                                $('#modalLotesLiberados').modal('hide');
                                $('#modalLotesLiberados').on('hidden.bs.modal', function (e) {
                                    $('#nuevaCantidad').focus();
                                    $("#cantidadEditable").keyup(function (e) {
                                        if (e.keyCode == 13) {
                                            $(this).trigger("enterKey");
                                            $("#kilosEditable").focus();
                                        }
                                    });
                                    $("#kilosEditable").keyup(function (e) {
                                        if (e.keyCode == 13) {
                                            $(this).trigger("enterKey");
                                            InsertarDetalleExpedicion();
                                        }
                                    });
                                })
                            }
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
        });
    }
    function AbrirModalLotesLiberados() {
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Envasados/",
            success: function (data) {
                $('#ModalLotesLiberados').html(data);
                $('#tituloModalEnvasados').html('Envasados del producto: ' + $('#data3').html());
                CargarLotesLiberados();
                $('#modalLotesLiberados').modal('toggle');
                $('#ConfirmarEnvasado').click(function () {
                    ConfirmarLoteLiberado();
                });
                $('#EnvasadosTabla tbody').on('click', 'tr.selected', function () {
                    ConfirmarLoteLiberado();
                });
            }
        });
    }
    function CargarProductosLiberados() {
        dataTable = $("#ProductosVentasTabla").DataTable({
            "destroy": true,
            "autoWidth": true,
            "ajax": {
                "url": "/Envasados/ObtenerProductosLiberadosPorCalidad",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "Numero_Producto",
                    "title": "Nímero",
                    "width": "15%"
                },
                {
                    "data": "Descripcion_Producto",
                    "title": "Descripción",
                    "sClass": "mayusculas-texto"
                }
            ],
            "language": idiomaEspañol,
            "columnDefs": [
                { className: "text-center", "targets": [0] },
            ],
            "select": 'single',
            "order": [[1, "asc"]],
        });
    }
    function AbrirModalSucursalesOrigen() {
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Sucursales/",
            success: function (data) {
                $('#ModalSucursales').html(data);
                CargarSucursales();
                $('#ConfirmarSucursal').click(function () {
                    ConfirmarSucursalOrigen();
                });
                $('#SucursalesTabla tbody').on('click', 'tr.selected', function () {
                    ConfirmarSucursalOrigen();
                });
                $('#modalSucursales').modal('toggle');
            }
        });
    }
    function ConfirmarSucursalOrigen() {
        $('#SucursalesTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 0) {
                var Numero = $(this).html();
                $('#Origen').val(Numero);
            }
            if ($(this).index() == 1) {
                var Nombre = $(this).html();
                $('#Nombre_Sucursal_Origen').html(Nombre);
            }
        });
        $('#modalSucursales').modal('hide');
    }
    function AbrirModalSucursales() {
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Sucursales/",
            success: function (data) {
                $('#ModalSucursales').html(data);
                CargarSucursales();
                $('#ConfirmarSucursal').click(function () {
                    ConfirmarSucursal();
                });
                $('#SucursalesTabla tbody').on('click', 'tr.selected', function () {
                    ConfirmarSucursal();
                });
                $('#modalSucursales').modal('toggle');
            }
        });
    }
    function ConfirmarSucursal() {
        $('#SucursalesTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 0) {
                var Numero = $(this).html();
                $('#Sucursal').val(Numero);
            }
            if ($(this).index() == 1) {
                var Nombre = $(this).html();
                $('#Nombre_Sucursal').html(Nombre);
            }
        });
        $('#modalSucursales').modal('hide');
    }
    function ConfirmarEnvasado() {
        $('#EnvasadosTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 1) {
                var Lote = $(this).html();
                $('#Lote').val(Lote);
            }
        });
        $('#modalEnvasados').modal('hide');
    }
    function AbrirModalEnvasados() {
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Envasados/",
            success: function (data) {
                $('#ModalEnvasados').html(data);
                CargarEnvasadosModal();
                $('#ConfirmarEnvasado').click(function () {
                    ConfirmarEnvasado();
                });
                $('#EnvasadosTabla tbody').on('click', 'tr.selected', function () {
                    ConfirmarEnvasado();
                });
                $('#modalEnvasados').modal('toggle');
            }
        });
    }
    function CalcularTotalesPorLote() {
        /*
        listadoCantidadPorLote = [];
        listadoCantidadPorLote[0] = listadoDetallesExpedicion[0];
        for (var i in listadoDetallesExpedicion) {
            if (i > 0) {
                for (var t in listadoCantidadPorLote) {
                    var encontrado = false;
                    if (listadoCantidadPorLote[t].Numero_Producto_Ventas == listadoDetallesExpedicion[i].Numero_Producto_Ventas
                        && listadoCantidadPorLote[t].Lote == listadoDetallesExpedicion[i].Lote) {
                        listadoCantidadPorLote[t].Cantidad += parseFloat(listadoDetallesExpedicion[i].Cantidad);
                        listadoCantidadPorLote[t].Kilos += parseFloat(listadoDetallesExpedicion[i].Kilos);
                        encontrado = true;
                    }
                    if (encontrado == false)
                        listadoCantidadPorLote.push(listadoDetallesExpedicion[i]);
                }
            }
        }
        */
    }
    function CargarDetallesExp() {
        dataTable = $("#DetallesExpedicionTabla").DataTable({
            "bFilter": false,
            "destroy": true,
            "responsive": true,
            "autoWidth": true,
            "bInfo": false,
            "lengthChange": false,
            data: listadoDetallesExpedicion,
            "columns": [
                {
                    title: "Código",
                    data: "Codigo_Interno_Detalle",
                    width: "10%"
                },
                {
                    title: "Número",
                    data: "Numero_Producto_Ventas",
                    width: "15%"
                },
                {
                    title: "Lote",
                    data: "Lote"
                },
                {
                    title: "Producto",
                    data: "Descripcion_Producto",
                    sClass: "mayusculas-texto"
                },
                {
                    "data": "Cantidad",
                    "title": "Cantidad",
                    render: function (data) {
                        if (data != null && parseFloat(data).toFixed(0) > 0)
                            return parseFloat(data).toFixed(0);
                        else
                            return "";
                    },
                    width: "10%"
                },
                {
                    "data": "Kilos",
                    "title": "Kilos",
                    render: function (data) {
                        if (data != null && parseFloat(data) > 0)
                            return parseFloat(data).toFixed(2);
                        else
                            return "";
                    }
                },
                {
                    title: "Herramientas",
                    data: "Codigo_Interno_Detalle",
                    "width": "10%",
                    "render": function (data) {
                        return "<a class='btn btn-default btn-xs' onclick=EditarDetalleExpedicion('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                            "<a class='btn btn-danger btn-xs' onclick=BorrarDetalleExp('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                    },
                }
            ],
            "language": idiomaEspañol,
            "columnDefs": [
                { className: "text-right", "targets": [4, 5] },
                { className: "text-center", "targets": [0, 1, 2, 6] }
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '<span class="glyphicon glyphicon-plus">',
                    className: "nuevo nuevoDetalle",
                    action: function () {
                        AgregarDetalleExpedicion();
                    }
                }
            ],
            "order": [[1, "asc"]],
            initComplete: function (data) {
                CalcularTotalesPorLote();
            }

        });
    }
    function CargarDetallesExpedicion() {
        var x = $.ajax({
            type: "GET",
            url: "/Expediciones/GetData/",
            data: { Codigo_Interno_Expedicion: $('#Codigo_Interno_Expedicion').val() },
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    listadoDetallesExpedicion = [];
                    for (var i in data.detalles) {
                        listadoDetallesExpedicion.push(data.detalles[i]);
                    }
                    CargarDetallesExp();
                }
                else {
                    notif({
                        msg: data.mensaje,
                        type: "error",
                        position: "center"
                    });
                }
            }
        });
    }
    function AbrirModalProductosVentas() {
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Productos_Ventas/",
            success: function (data) {
                $('#ModalProductosVentas').html(data);
                $('#ConfirmarProducto').click(function () {
                    ConfirmarProductoVentas();
                });
                CargarProductosVentas();
                $('#ProductosVentasTabla tbody').on('click', 'tr.selected', function () {
                    ConfirmarProductoVentas();
                });
                $('#modalProductosVentas').modal('toggle');
            }
        });
    }
    function AgregarDetalleExpedicion() {
        var filaAgregada = false;
        $('#DetallesExpedicionTabla').find('#insertarDetalle').each(function () {
            filaAgregada = true;
        });
        if (filaAgregada == false) {
            /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
            var html = '<tr>';
            html += '<td id="data0" ></td>';
            html += '<td id="data1" class="col-md-12 form-medio">' +
                '<div class="col-md-8 form-medio"><input id="tb-producto" placeholder="Número" style="text-align:right; width:100%"/></div>' +
                '<div class="col-md-4" style="padding:0px !important; text-align:center"><a href="#" id="mostrarInsumos" onclick="AbrirModalProductosVentasLiberados()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>' +
                '</td>';
            html += '<td id="data2" ></td>';
            html += '<td id="data3" style="text-transform:capitalize"></td>';
            html += '<td id="data4"></td>';
            html += '<td id="data5"></td>';
            html += '<td style="display:flex; justify-content:center"><a class="btn btn-success btn-xs" onclick="InsertarDetalleExpedicion()"><span class="glyphicon glyphicon-ok"></span></a>' +
                '<a onclick="CargarDetallesExp()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>';
            html += '</tr>';
            $('#DetallesExpedicionTabla tbody').prepend(html);

            $('#tb-producto').focus();
        }
        else
            $('#tb-producto').focus();
    }
    function InsertarDetalleExpedicion() {
        if ($('#tb-producto').val() == "" && $('#tb-lote').val() == "") {
            notif({
                msg: "Por favor ingrese Producto y Lote.",
                type: "warning",
                position: "center"
            });
            $('#tb-producto').focus();
            return;
        }
        if ($('#tb-producto').val() == "") {
            notif({
                msg: "Por favor ingrese un Producto.",
                type: "warning",
                position: "center"
            });
            $('#tb-producto').focus();
            return;
        }
        if ($('#tb-lote').val() == "") {
            notif({
                msg: "Por favor ingrese un Lote.",
                type: "warning",
                position: "center"
            });
            $('#tb-lote').focus();
            return;
        }
        try {
            if (parseFloat($('#nuevaCantidad').val()) > CantidadRestanteADespachar || parseFloat($('#nuevosKilos').val()) > KilosRestantesADespachar) {
                notif({
                    msg: "No se pueden despachar más de " + parseFloat(CantidadRestanteADespachar).toFixed(0) + " unidades y " + parseFloat(KilosRestantesADespachar).toFixed(2) + " kilos.",
                    type: "error",
                    width: 500,
                    timeout: 4000,
                    multiline: true,
                    position: "center"
                });
                return;
            }
            else {
                var CantRestanteLote = 0;
                var KgRestanteLote = 0.00;
                var Codigo_Producto_Produccion = 0;
                var Descripcion_Producto_Produccion = '';
                $.ajax({
                    type: "GET",
                    url: "/Envasados/ObtenerRestantePorSalidaMercaderia/",
                    data: {
                        Lote: $('#tb-lote').val(),
                        Numero_Producto_Ventas: $('#tb-producto').val().toString().trim()
                    },
                    success: function (data) {
                        if (data.success) {
                            var objeto = data.objeto;
                            CantRestanteLote = objeto.Cantidad_Restante;
                            KgRestanteLote = parseFloat(objeto.Kilos_Restantes).toFixed(2);
                            Codigo_Producto_Produccion = objeto.Codigo_Producto_Produccion;
                            Descripcion_Producto_Produccion = objeto.Descripcion_Producto_Produccion;
                            var encontrado = false;
                            for (var t in listadoDetallesExpedicion) {
                                if (listadoDetallesExpedicion[t].Numero_Producto_Ventas == $('#tb-producto').val().toString().trim() && listadoDetallesExpedicion[t].Lote == $('#tb-lote').val()) {
                                    var CantCargadaMasNueva = listadoDetallesExpedicion[t].Cantidad + parseInt($('#nuevaCantidad').val());
                                    if (CantCargadaMasNueva > CantRestanteLote) {
                                        notif({
                                            msg: "Se están expidiendo mas unidades que las disponibles!",
                                            type: "error",
                                            position: "center"
                                        });
                                        return;
                                    }
                                    var KgCargadoMasNuevo = parseFloat(listadoDetallesExpedicion[t].Kilos + parseFloat($('#nuevosKilos').val())).toFixed(2);
                                    if (KgCargadoMasNuevo > KgRestanteLote) {
                                        notif({
                                            msg: "Se están expidiendo mas kilos que los disponibles!",
                                            type: "error",
                                            position: "center"
                                        });
                                        return;
                                    }
                                    listadoDetallesExpedicion[t].Cantidad += parseFloat($('#nuevaCantidad').val());
                                    listadoDetallesExpedicion[t].Kilos += parseFloat($('#nuevosKilos').val());
                                    encontrado = true;
                                }
                            }
                            if (encontrado == false) {
                                listadoDetallesExpedicion.push({
                                    Codigo_Interno_Detalle: listadoDetallesExpedicion.length + 1,
                                    Numero_Producto_Ventas: $('#tb-producto').val().toString().trim(),
                                    Lote: $('#tb-lote').val(),
                                    Descripcion_Producto: $('#data3').html().toString().trim(),
                                    Cantidad: parseFloat($('#nuevaCantidad').val()),
                                    Kilos: parseFloat($('#nuevosKilos').val()),
                                    Codigo_Producto_Produccion: Codigo_Producto_Produccion,
                                    Descripcion_Producto_Produccion: Descripcion_Producto_Produccion
                                });
                            }
                            notif({
                                msg: "Registro guardado satisfactoriamente.",
                                type: "success",
                                position: "center"
                            });
                            CargarDetallesExp();
                            TotalPorProductoProduccion();
                        }
                        else {
                            console.log(data);
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
        }
        catch (error) {
            notif({
                msg: error,
                type: "error",
                position: "center"
            });
        }
    }
    function TotalPorProductoProduccion() {
        for (var t in listadoDetallesExpedicion) {
            console.log(listadoDetallesExpedicion[t].Descripcion_Producto_Produccion);
        }
    }
    function EditarDetalleExpedicion(Codigo_Interno_Detalle) {
        CargarDetallesExp();
        $('#DetallesExpedicionTabla').find('tr').find('td').each(function () {
            if ($(this).index() == 0) {
                if ($(this).html() == Codigo_Interno_Detalle) {
                    $(this).parent('tr').find('td').each(function () {
                        $(this).addClass("editable");
                        if ($(this).index() == 4) {
                            var Cantidad = $(this).html();
                            $(this).html("");
                            $(this).prepend('<input id="cantidadEditable" class="col-md-12 text-box single-line" style="text-align:right">');
                            $('#cantidadEditable').val(Cantidad.toString().replace(",", "."));
                            $('#cantidadEditable').focus();
                        }
                        if ($(this).index() == 5) {
                            var Kilos = $(this).html();
                            $(this).html("");
                            $(this).prepend('<input id="kilosEditable" class="col-md-12 text-box single-line" style="text-align:right">');
                            $('#kilosEditable').val(Kilos.toString().replace(",", "."));
                        }
                        if ($(this).index() == 6) {
                            $(this).html("");
                            $(this).prepend(
                                "<a class='btn btn-success btn-xs' onclick=ConfirmarEdicionDetalleExp('" + Codigo_Interno_Detalle + "')>" +
                                "<span class='glyphicon glyphicon-ok'></span>" +
                                "</a>" +
                                "<a class='btn btn-danger btn-xs' onclick=CargarDetallesExp()>" +
                                "<span class='glyphicon glyphicon-remove'></span>" +
                                "</a>");
                                    
                        }
                    });
                }
            }
        });
        $("#cantidadEditable").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");

                $("#kilosEditable").focus();
            }
        });
        $("#kilosEditable").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");

                ConfirmarEdicionDetalleExp(Numero_Producto);
            }
        });
    }
    function ConfirmarEdicionDetalleExp(Codigo_Interno_Detalle) {
        for (var i in listadoDetallesExpedicion) {
            if (listadoDetallesExpedicion[i].Codigo_Interno_Detalle == Codigo_Interno_Detalle) {
                try {
                    listadoDetallesExpedicion[i].Cantidad = parseFloat($('#cantidadEditable').val()) > 0 ? parseFloat($('#cantidadEditable').val()).toString() : $('#cantidadEditable').val();
                    listadoDetallesExpedicion[i].Kilos = parseFloat($('#kilosEditable').val()) > 0 ? parseFloat($('#kilosEditable').val()).toString() : $('#kilosEditable').val();
                    notif({
                        msg: "Registro editado satisfactoriamente.",
                        type: "success",
                        position: "center"
                    });
                    CargarDetallesExp();
                }
                catch (error) {
                    notif({
                        msg: error,
                        type: "error",
                        position: "center"
                    });
                }
            }
        }
    }
    function BorrarDetalleExp(Codigo_Interno_Detalle) {
        for (var i in listadoDetallesExpedicion) {
            if (listadoDetallesExpedicion[i].Codigo_Interno_Detalle == Codigo_Interno_Detalle) {
                listadoDetallesExpedicion.splice(i, 1);
                CargarDetallesExp();
                notif({
                    msg: "Registro eliminado satisfactoriamente.",
                    type: "success",
                    position: "center"
                });
            }
        }
    }
    function SubmitExpedicion(e) {
        $.validator.unobtrusive.parse($(this));
        if (!$(this).valid())
            return;
        $('#DetallesExpedicion').html("");
        for (var i in listadoDetallesExpedicion) {
            $('#DetallesExpedicion').append('<input type="text" name="Detalle_Expedicion[' + i + '].Numero_Producto_Ventas" value="' + listadoDetallesExpedicion[i].Numero_Producto_Ventas + '"/>' +
                '<input type="text" name="Detalle_Expedicion[' + i + '].Lote" value="' + listadoDetallesExpedicion[i].Lote.toString() + '"/>' +
                '<input type="text" name="Detalle_Expedicion[' + i + '].Kilos" value="' + parseFloat(listadoDetallesExpedicion[i].Kilos).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Detalle_Expedicion[' + i + '].Cantidad" value="' + parseFloat(listadoDetallesExpedicion[i].Cantidad).toString().replace(".", ",") + '"/>');
        }
        var formData = new FormData(this);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Expediciones/AddOrEdit/",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.success) {
                    notif({
                        msg: data.message,
                        type: "success",
                        position: "center"
                    });
                    $('#modalAddOrEdit').modal('hide');
                    CargarExpediciones();

                } else {
                    console.log(data.message);
                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center"
                    });
                }
            }
        });
        e.preventDefault();
    }
    function SaltosEnFormulario() {
        $("#Numero_Comprobante").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Tipo_Comprobante').focus();
            }
        });
        $("#Tipo_Comprobante").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Prefijo').focus();
            }
        });
        $("#Prefijo").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Fecha').focus();
            }
        });
        $("#Fecha").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Egreso_Ingreso').focus();
            }
        });
        $("#Egreso_Ingreso").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Lote').focus();
            }
        });
        $("#Lote").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Comentario').focus();
            }
        });
    }
    if ($('#Origen').val() != 0) {
        document.getElementById("Origen").disabled = true;
    }
</script>









