﻿@model AccesoDatos.Contexto.Produccion.Expedicion
@{
    Layout = null;
}

<div class="modal-header modalCreate" style="display:flex; justify-content:space-between">
    @{
        if (Model.Codigo_Interno_Expedicion == 0)
        {
            <h4 class="modal-title" id="tituloModalAddOrEdit">Nuevo</h4>
        }
        else
        {
            <h4 class="modal-title" id="tituloModalAddOrEdit">Editar</h4>
        }
    }
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@using (Html.BeginForm("AddOrEdit", "Expediciones", FormMethod.Post, new { @id = "FormAddOrEdit" }))
{
    <div class="modal-body modalCreate">
        <div class="col-md-12 flexible2">
            <div class="col-md-12 caja-contenedora flexible2">
                @if (Model.Motivo_Rechazo != null)
                {
                    if (Model.Motivo_Rechazo != "")
                    {
                        <p>Este remito fue rechazado por el siguiente motivo: <span class="motivo_rechazo">@Html.DisplayFor(model => model.Motivo_Rechazo)</span></p>
                    }
                }
                @Html.HiddenFor(model => model.Codigo_Interno_Expedicion, new { htmlAttributes = new { @class = "form-control" } })
                <div class="col-md-12 caja-sector-modal">
                    <div class="col-md-3 form-medio">
                        @Html.HiddenFor(model => model.Historico)
                        @Html.HiddenFor(model => model.Motivo_Rechazo)
                        @Html.LabelFor(model => model.Fecha, "Fecha", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right;width:100px;margin-left:10px;" } })
                        @Html.ValidationMessageFor(model => model.Fecha)
                    </div>
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(m => m.Origen, "Sucursal Origen:", new { @class = "control-label" })
                        <div class="input-group">
                            @Html.EditorFor(m => m.Origen, new { htmlAttributes = new { @class = "form-control text-box single-line", @style = "width:50px;margin-left:10px;", @type="number" } })
                            <span class="input-group-addon" style="max-height:25px;padding:3px 12px;"><a href="#" onclick="AbrirModalSucursales('Origen')" id="Lupa_Origen"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        <p style="text-transform:capitalize; margin:5px" id="Desc_Suc_Origen">@ViewBag.Origen</p>
                    </div>
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(m => m.Sucursal, "Sucursal Destino", new { @class = "control-label" })
                        <div class="input-group">
                            @Html.EditorFor(m => m.Sucursal, new { htmlAttributes = new { @class = "form-control text-box single-line", @style = "width:50px;margin-left:10px;", @type = "number", @id = "Destino" } })
                            <span class="input-group-addon" style="max-height:25px;padding:3px 12px;"><a href="#" onclick="AbrirModalSucursales('Destino')"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        <p style="text-transform:capitalize; margin:5px" id="Desc_Suc_Destino">@ViewBag.Sucursal</p>
                    </div>
                </div>
                <div class="col-md-12 caja-sector-modal">
                    <div class="col-md-3 form-medio">
                        <div class="col-md-4 form-medio">
                            @Html.LabelFor(model => model.Prefijo, "Prefijo", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6 form-medio">
                            @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                            @Html.ValidationMessageFor(model => model.Prefijo)
                        </div>
                    </div>
                    <div class="col-md-5 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.Numero_Comprobante, "Número de Comprobante", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4 form-medio">
                            @Html.EditorFor(model => model.Numero_Comprobante, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                            @Html.ValidationMessageFor(model => model.Numero_Comprobante)
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-sector-modal">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-2 form-medio">
                            @Html.LabelFor(model => model.Comentario, "Comentario", new { @class = "control-label" })
                        </div>
                        <div class="col-md-10 form-medio">
                            @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-contenedora">
                    <table id="DetallesExpedicionTabla" class="display compact" style="width:100%"></table>
                    <h4 class="modal-title" id="tituloModalAddOrEdit">Totales Por Producto:</h4>
                    <table id="TotalesProductosProduccion" class="display compact" style="width:100%"></table>
                    @if (ViewBag.UsaBandejas)
                    {
                        <div class="col-md-6">
                          @{Html.RenderAction("TablaBandejas", "Bandejas", new { parametroPost= "bandeja" , codigoExpedicion = Model.Codigo_Interno_Expedicion });}
                        </div>
                    }
                </div>


                <div id="DetallesExpedicion" style="display:none"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer modalCreate">
        <button id="crearExpedicion" type="button" class="btn btn-primary">Confirmar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
}

<!-- CARGA DE DATOS PARA VARIOS LOTES -->
<div id="modalCargaDatosVariosLotes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalCargaDatosVariosLotesLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalCargaDatosVariosLotesLabel">Confirmar Expedición De Varios Lotes</h4>
            </div>

            <div class="modal-body">
                <div class="row" id="tablaDatosVarios" style="max-height: 250px!important; overflow: hidden!important; overflow-y: scroll!important;">
                    <div class="col-xs-12">
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>Lote</th>
                                    <th>Cantidad</th>
                                    <th>Kilos</th>
                                </tr>
                            </thead>

                            <tbody class="listado-lotes"></tbody>

                        </table>
                    </div>

                </div>
            </div>

            <div class="modal-footer" style="margin-top: 52px;">
                <button id="cancelarCargaVariosLotes" type="button" class="btn btn-default">Cancelar</button>
                <button id="confirmarCargaVariosLotes" type="button" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<!-- /. CARGA DE DATOS PARA VARIOS LOTES -->

<script>
    var numero_comprobante = '@Model.Numero_Comprobante';
    var CantidadRestanteADespachar = 0;
    var KilosRestantesADespachar = 0;
    var CantidadTotalADespachar = 0;
    var KilosTotalesADespachar = 0;
    var listadoCantidadPorLote = [];
    $('#Fecha').datepicker();
    var listadoLotesLiberados = [];
    var listadoDetallesExpedicion = [];
    if ($('#Origen').val() != 0) {
        document.getElementById("Origen").readOnly = true;
        document.getElementById("Lupa_Origen").onclick = null;
    }

    $("#crearExpedicion").removeAttr('disabled');
    
    $("#FormAddOrEdit").submit(function (event) {
        $("#crearExpedicion").attr('disabled', 'disabled');
        $("#crearExpedicion").text("Procesando...");
    });

    $("#FormAddOrEdit").error(function () {
        $("#crearExpedicion").removeAttr('disabled');
        $("#crearExpedicion").text("Confirmar");
    });

    var operacionVariosProceso = 0;
    $(document).ready(function () {
        $("#confirmarCargaVariosLotes").click(function () {
            $("#modalCargaDatosVariosLotes").modal("toggle");

            let lotes = $("#modalCargaDatosVariosLotes .lotedata");
            let lotesExpedir = [];

            try {
                let producto = $('#tb-producto').val().toString().trim();

                for (let i = 0; i < lotes.length; i++) {
                    let lote = $(lotes[i]);

                    lotesExpedir.push({
                        lote: lote.children('.lote-numero').text(),
                        producto: producto,
                        cantidad: parseInt(lote.children('.lote-cantidad').children('input').val()),
                        kilos: parseFloat(lote.children('.lote-kilos').children('input').val())
                    });
                }

                lotesExpedir = lotesExpedir.filter(lote => (lote.cantidad > 0) || (lote.kilos > 0));

                operacionVariosProceso = lotesExpedir.length;
                for (let i = 0; i < lotesExpedir.length; i++) {
                    let loteExpedido = lotesExpedir[i];

                    ConfirmarExpedicionDeLote(
                        loteExpedido,
                        InsertarDetalleExpedicion
                    );
                }
            }

            catch (error) {
                console.log(error);
            }
        });

        $("#cancelarCargaVariosLotes").click(function () {
            $("#modalCargaDatosVariosLotes").modal("toggle");
        });
    });

    var datosLotesExpedirVarios = {
        cantidadTotal: 0,
        kilosTotales: 0.00,

        actualizarControlesVisuales: function () {
            let cantidadView = $("#lotesCantidadTotalVarios");
            let kilosView = $("#lotesKilosTotalesVarios");

            cantidadView.text(this.cantidadTotal);
            kilosView.text(this.kilosTotales.toFixed(3));
        },

        crearControlesVisuales: function () {
            $('#visualLotesVarios').remove();

            let controlEstadoLotes = $("<div id='visualLotesVarios' style='float:right;' class='row dataTables_info'> <div class='col-xs-12'> <p style='font-weight: bold;'>Cantidad Total: <span id='lotesCantidadTotalVarios' style='font-weight: 400;'>0</span></p> </div> <div class='col-xs-12'> <p style='font-weight: bold;'>Kilos Totales: <span id='lotesKilosTotalesVarios' style='font-weight: 400;'>0.00</span></p> </div> </div>");

            $('#modalCargaDatosVariosLotes #tablaDatosVarios').after(controlEstadoLotes);
        },

        calcularCantidad: function () {
            let cantidades = $('.lotedata .lote-cantidad input');
            let cantidadTotal = 0;

            for (let i = 0; i < cantidades.length; i++) {
                let value = parseInt($(cantidades[i]).val());

                if (value != NaN && value != null) {
                    cantidadTotal += value;
                }
            }

            this.cantidadTotal = cantidadTotal;
        },

        calcularKilos: function () {
            let kilos = $('.lotedata .lote-kilos input');
            let kilosTotales = 0.00;

            for (let i = 0; i < kilos.length; i++) {
                let value = parseFloat($(kilos[i]).val());

                if (value != NaN && value != null) {
                    kilosTotales += value;
                }
            }

            this.kilosTotales = kilosTotales;
        },

        actualizar: function () {
            this.calcularCantidad();
            this.calcularKilos();
            this.actualizarControlesVisuales();
        }
    };

    function AbrirModalVariosLotes(lotes) {
        $("#modalCargaDatosVariosLotes").modal("toggle");

        datosLotesExpedirVarios.crearControlesVisuales();

        let listado = $("#modalCargaDatosVariosLotes .listado-lotes").first();

        listado.html("");

        for (let i = 0; i < lotes.length; i++) {
            let lote = lotes[i];

            let nuevaFila = $(
                "<tr class='lotedata'>\
                   <td class='lote-numero'>{lote}</td>\
                   <td class='lote-cantidad text-right'><input class='text-right' value='{cantidad}'></input></td>\
                   <td class='lote-kilos text-right'><input class='text-right' value='{kilos}'></input></td>\
                </tr>"
                    .replace('{lote}', lote.lote)
                    .replace('{cantidad}', lote.cantidad)
                    .replace('{kilos}', parseFloat(lote.kilos).toFixed(3))
            );

            listado.append(nuevaFila);
        }

        datosLotesExpedirVarios.actualizar();

        $('.lotedata .lote-cantidad input').change(function () {
            setTimeout(
                () => {
                    datosLotesExpedirVarios.calcularCantidad();
                    datosLotesExpedirVarios.actualizarControlesVisuales();
                },
                100
            );
        });

        $('.lotedata .lote-kilos input').change(function () {
            setTimeout(() => {
                datosLotesExpedirVarios.calcularKilos();
                datosLotesExpedirVarios.actualizarControlesVisuales();
            }, 100);
        });

    }

    function ConfirmarExpedicionDeLote(loteObj, callback = null) {
        console.log(1)
        $.ajax({
            type: "GET",
            url: "/Envasados/ObtenerRestantePorSalidaMercaderia/",
            data: {
                Lote: loteObj.lote,
                Numero_Producto_Ventas: loteObj.producto,
                Codigo_Fabrica: parseInt($("#Origen").val())
            },
            success: function (data) {
                if (data.success) {
                    var objeto = data.objeto;

                    let lotedata = {
                        lote: loteObj,
                        restante: {
                            cantidad: 0,
                            kilos: 0,
                        }
                    };

                    let fail = false;

                    if (!objeto.Codigo_Producto_Produccion) {
                        notif({
                            msg: "LOTE " + loteObj.lote + ":" + " No existe el lote seleccionado",
                            type: "error",
                            position: "center"
                        });

                        fail = true;
                    }

                    if (objeto.Existe == false) {

                        notif({
                            msg: "LOTE " + loteObj.lote + ":" + " No existen envasados de " + $('#data3').html().toString().trim() + " en el lote seleccionado",
                            type: "error",
                            position: "center"
                        });

                        fail = true;
                    }

                    if (!fail) {
                        lotedata.restante.cantidad = parseInt(objeto.Cantidad_Restante);
                        lotedata.restante.kilos = parseFloat(objeto.Kilos_Restantes).toFixed(3);

                        if (listadoDetallesExpedicion.length > 0) {
                            for (var t in listadoDetallesExpedicion) {
                                if (listadoDetallesExpedicion[t].Numero_Producto_Ventas.toString().trim() == loteObj.producto && listadoDetallesExpedicion[t].Lote.toString().trim() == loteObj.lote) {
                                    lotedata.restante.cantidad -= parseInt(listadoDetallesExpedicion[t].Cantidad);
                                    lotedata.restante.kilos -= parseFloat(listadoDetallesExpedicion[t].Kilos).toFixed(3);
                                }
                            }
                        }

                        if (callback) callback(lotedata);
                    }
                    else {
                        operacionVariosProceso--;
                    }
                }
                else {
                    operacionVariosProceso--;
                }

                if (operacionVariosProceso <= 0) {
                    TotalesProductosProduccion();
                    CargarDetallesExp();
                }
            },
            error: function (err) {
                operacionVariosProceso--;

                if (operacionVariosProceso <= 0) {
                    TotalesProductosProduccion();
                    CargarDetallesExp();
                }
            }
        });
    }

    var datosLotesExpedir = {
        cantidadTotal: 0,
        kilosTotales: 0.00,

        actualizarControlesVisuales: function () {
            let cantidadView = $("#lotesCantidadTotal");
            let kilosView = $("#lotesKilosTotales");

            cantidadView.text(this.cantidadTotal);
            kilosView.text(this.kilosTotales.toFixed(3));
        },

        crearControlesVisuales: function () {
            $('#visualLotes').remove();
            let controlEstadoLotes = $("<div id='visualLotes' style='float: right; padding-top: 0.555em; margin-bottom: 10px!important; padding-right: 15px; clear:none!important;' class='row dataTables_info'> <div class='col-xs-12'> <p style='font-weight: bold;'>Cantidad Total: <span id='lotesCantidadTotal' style='font-weight: 400;'>0</span></p> </div> <div class='col-xs-12'> <p style='font-weight: bold;'>Kilos Totales: <span id='lotesKilosTotales' style='font-weight: 400;'>0.00</span></p> </div> </div>");
            $('#ModalLotesLiberados #EnvasadosTabla_wrapper #EnvasadosTabla_info').after(controlEstadoLotes);
        }
    };

    function CargarLotesLiberados() {
        if ($('#tb-producto').val() == "") {
            notif({
                msg: "Por favor ingrese un Producto.",
                type: "warning",
                position: "center"
            });
            $('#tb-producto').focus();
        }
        else if ($('#Origen').val() == "") {
            notif({
                msg: "Por favor ingrese la sucursal de origen.",
                type: "warning",
                position: "center"
            });
            $('#Origen').focus();
        }
        else {
            $.ajax({
                type: "GET",
                url: "/Envasados/ObtenerLotesLiberados/",
                data: {
                    Numero_Producto_Ventas: $('#tb-producto').val().toString().trim(),
                    Codigo_Fabrica: $('#Origen').val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoLotesLiberados = data.data;
                        dataTable = $("#EnvasadosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            "responsive": true,
                            data: listadoLotesLiberados,
                            "columns": [
                                {
                                    "data": "Lote",
                                    "title": "Lote"
                                },
                                {
                                    "data": "Cantidad",
                                    "title": "Cantidad",
                                    render: function (data, type, full, meta) {
                                        for (var t in listadoDetallesExpedicion) {
                                            if (listadoDetallesExpedicion[t].Numero_Producto_Ventas == $('#tb-producto').val().toString().trim() && listadoDetallesExpedicion[t].Lote == full.Lote.trim()) {
                                                return parseInt(data) - listadoDetallesExpedicion[t].Cantidad;
                                            }
                                        }
                                        return data;
                                    }
                                },
                                {
                                    "data": "Kilos",
                                    "title": "Kilos",
                                    render: function (data, type, full, meta) {
                                        for (var t in listadoDetallesExpedicion) {
                                            if (listadoDetallesExpedicion[t].Numero_Producto_Ventas == $('#tb-producto').val().toString().trim() && listadoDetallesExpedicion[t].Lote == full.Lote.trim()) {
                                                return parseFloat(parseFloat(data) - parseFloat(listadoDetallesExpedicion[t].Kilos)).toFixed(3);
                                            }
                                        }
                                        return parseFloat(data).toFixed(3);
                                    }
                                }
                            ],
                            "columnDefs": [
                                {
                                    className: "text-right",
                                    targets: [1, 2]
                                },
                                {
                                    className: "text-center",
                                    targets: [0]
                                }
                            ],
                            "order": [[1, 'asc']],
                            "language": idiomaEspañol,
                            dom: 'Bfrtip',
                            buttons: [],
                            initComplete: function () {

                                this.fnSort([[0, 'asc']]);
                                datosLotesExpedir.crearControlesVisuales();

                                // restauro valores por defecto
                                datosLotesExpedir.cantidadTotal = 0;
                                datosLotesExpedir.kilosTotales = 0.00;
                                filasEnvasados = [];

                                datosLotesExpedir.actualizarControlesVisuales();

                                $('#ModalLotesLiberados #EnvasadosTabla tbody').on('click', 'tr', function () {
                                    // actualizacion lotes seleccionados

                                    let loteN = $(this).children('td')[1].textContent.trim();
                                    let cantidad = parseInt($(this).children('td')[1].textContent.trim());
                                    let kilos = parseFloat($(this).children('td')[2].textContent.trim());
                                    let seleccionado = $(this).hasClass('selected');
                                    let operacion = seleccionado ? -1 : 1;

                                    datosLotesExpedir.cantidadTotal += cantidad * operacion;
                                    datosLotesExpedir.kilosTotales += kilos * operacion;

                                    datosLotesExpedir.actualizarControlesVisuales();

                                    if (seleccionado)
                                        filasEnvasados = filasEnvasados.filter(lote => lote.numero != loteN);
                                    else
                                        filasEnvasados.push({ numero: loteN, control: $(this) });

                                    $(this).toggleClass('selected');
                                });
                            }
                        });
                    }
                }
            });
        }
    }
    function AbrirModalLotesLiberadosExp() {
        if ($('#Origen').val() == "") {
            notif({
                msg: "Por favor ingrese la sucursal de origen.",
                type: "warning",
                position: "center"
            });
            $('#Origen').focus();
            return;
        }
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Envasados/",
            success: function (data) {
                //CargarEnvasadosModal();
                $('#tituloModalEnvasados').html('Envasados Del Producto: ' + $('#data3').html());
                $('#ModalLotesLiberados').html(data);
                $('#modalLotesLiberados').modal('toggle');
                CargarLotesLiberados();
                $("#modalLotesLiberados").on('shown.bs.modal', function () {
                    $('#ModalLotesLiberados input').focus();
                });

                $('#ConfirmarEnvasado').click(function () {
                    $('#modalLotesLiberados').modal('toggle');
                    let filas = filasEnvasados.map(lote => lote.control);
                    let lotes = [];
                    let excluirVacios = true;

                    for (let i = 0; i < filas.length; i++) {

                        let columna = {
                            fila: $(filas[i]),
                            lote: $(filas[i]).children('td')[0].textContent.trim(),
                            cantidad: parseInt($(filas[i]).children('td')[1].textContent.trim()),
                            kilos: parseFloat($(filas[i]).children('td')[2].textContent.trim())
                        };

                        if (excluirVacios) {
                            if ((columna.cantidad > 0) || (columna.kilos > 0))
                                lotes.push(columna);
                            else
                                columna.fila.toggleClass('selected');
                        }
                    }

                    if (lotes.length <= 1) {
                        ConfirmarLoteLiberado();
                    }
                    else {
                        AbrirModalVariosLotes(lotes);
                    }

                });
            }
        });
    }

    function ConfirmarLoteLiberado(Lote) {
        document.getElementById("tb-lote").disabled = true;
        if (Lote == null) {
            Lote = $('#EnvasadosTabla tr.selected td').html();
            $("#tb-lote").val(Lote);
        }
        $.ajax({
            type: "GET",
            url: "/Envasados/ObtenerRestantePorSalidaMercaderia/",
            data: {
                Lote: Lote,
                Numero_Producto_Ventas: $('#tb-producto').val().toString().trim(),
                Codigo_Fabrica: parseInt($("#Origen").val())
            },
            success: function (data) {
                if (data.success) {
                    var objeto = data.objeto;
                    if (!objeto.Codigo_Producto_Produccion) {
                        $("#tb-lote").val('');
                        notif({
                            msg: "No existe el lote seleccionado",
                            type: "error",
                            position: "center"
                        });
                        $("#data5").html('');
                        $("#data6").html('');
                        document.getElementById("tb-lote").disabled = false;
                        return;
                    }
                    if (objeto.Existe == false) {
                        $("#tb-lote").val('');
                        notif({
                            msg: "No existen envadados de " + $('#data3').html().toString().trim() + " en el lote seleccionado",
                            type: "error",
                            position: "center"
                        });
                        $("#data5").html('');
                        $("#data6").html('');
                        document.getElementById("tb-lote").disabled = false;
                        return;
                    }
                    CantidadRestanteADespachar = parseInt(objeto.Cantidad_Restante);
                    KilosRestantesADespachar = parseFloat(objeto.Kilos_Restantes).toFixed(3);
                    if (listadoDetallesExpedicion.length > 0) {
                        for (var t in listadoDetallesExpedicion) {
                            if (listadoDetallesExpedicion[t].Numero_Producto_Ventas.toString().trim() == $('#tb-producto').val().toString().trim() && listadoDetallesExpedicion[t].Lote.toString().trim() == Lote.toString().trim()) {
                                CantidadRestanteADespachar -= parseInt(listadoDetallesExpedicion[t].Cantidad);
                                KilosRestantesADespachar -= parseFloat(listadoDetallesExpedicion[t].Kilos).toFixed(3);
                            }
                        }
                    }
                    $('#data5').html("");
                    $('#data6').html("");
                    if (CantidadRestanteADespachar <= 0 && KilosRestantesADespachar <= 0) {
                        $("#tb-lote").val('');
                        notif({
                            msg: "Ya se ha despachado el total del Lote seleccionado.",
                            type: "error",
                            position: "center"
                        });
                        $("#data5").html('');
                        $("#data6").html('');
                        document.getElementById("tb-lote").disabled = false;
                        return;
                    }
                    else {
                        $("#data5").append('<input id="nuevaCantidad" style="text-align:right" placeholder="Cantidad" class="col-md-12 text-box single-line" value="' + CantidadRestanteADespachar + '"></input>');
                        $("#data6").append('<input id="nuevosKilos" style="text-align:right" placeholder="Kilos" class="col-md-12 text-box single-line" value="' + parseFloat(KilosRestantesADespachar).toFixed(3) + '"></input>');
                        $('#modalLotesLiberados').modal('hide');
                        $('#modalLotesLiberados').on('hidden.bs.modal', function (e) {
                            $('#nuevaCantidad').focus();
                            $("#cantidadEditable").keyup(function (e) {
                                if (e.keyCode == 13) {
                                    $(this).trigger("enterKey");
                                    $("#kilosEditable").focus();
                                }
                            });
                            $("#kilosEditable").keyup(function (e) {
                                if (e.keyCode == 13) {
                                    $(this).trigger("enterKey");
                                    InsertarDetalleExpedicion();
                                }
                            });
                        })
                    }
                }
                else {
                    $("#tb-lote").val(Lote);
                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center"
                    });
                }
                document.getElementById("tb-lote").disabled = false;
            }
        });
    }

    var filasEnvasados = [];
 
    function CargarDetallesExp() {
        agregandoDetalle = false;

        dataTable = $("#DetallesExpedicionTabla").DataTable({
            "bFilter": false,
            "destroy": true,
            "responsive": true,
            "autoWidth": true,
            "bInfo": false,
            "lengthChange": false,
            data: listadoDetallesExpedicion,
            "columns": [
                {
                    title: "Código",
                    data: "Codigo_Interno_Detalle",
                    width: "10%"
                },
                {
                    title: "Número",
                    data: "Numero_Producto_Ventas",
                    width: "15%"
                },
                {
                    title: "Lote",
                    data: "Lote"
                },
                {
                    title: "Producto",
                    data: "Descripcion_Producto",
                    sClass: "mayusculas-texto"
                },
                {
                    title: "Tipo",
                    data: "Tipo",
                    sClass: "mayusculas-texto",
                    render: function (data, type, row, meta) {
                        data = data != null ? data.toString() : data;

                        let habilitado = data == '3';

                        let canSelect = habilitado ? '' : 'disabled';

                        let seleccionoVentas = (data == '2') && (!habilitado)  ? 'selected' : '';
                        let seleccionoInsumo = (data == '1') && (!habilitado) ? 'selected' : '';
                        let codigo = row.Codigo_Interno_Detalle;

                        return `<select codigo='${codigo}' class='selectTipoDetalle' ${canSelect}>\
                                    <option value='' disabled></option>\
                                    <option value='2' ${seleccionoVentas}>Prod. Ventas</option>\
                                    <option value='1' ${seleccionoInsumo}>Insumo</option>\
                                </select>\
                               `;
                    },
                },
                {
                    "data": "Cantidad",
                    "title": "Cantidad",
                    render: function (data) {
                        if (data != null && parseFloat(data).toFixed(0) > 0)
                            return parseFloat(data).toFixed(0);
                        else
                            return "";
                    },
                    width: "10%"
                },
                {
                    "data": "Kilos",
                    "title": "Kilos",
                    render: function (data) {
                        if (data != null && parseFloat(data) > 0)
                            return parseFloat(data).toFixed(3);
                        else
                            return "";
                    }
                },
                {
                    title: "Herramientas",
                    data: "Codigo_Interno_Detalle",
                    "width": "10%",
                    "render": function (data) {
                        return "<a class='btn btn-default btn-xs' onclick=EditarDetalleExpedicion('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                            "<a class='btn btn-danger btn-xs' onclick=BorrarDetalleExp('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                    },
                }
            ],
            "language": idiomaEspañol,
            "columnDefs": [
                { className: "text-right", "targets": [5, 6] },
                { className: "text-center", "targets": [0, 1, 2, 4, 7] }
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '<span class="glyphicon glyphicon-plus">',
                    className: "nuevo nuevoDetalle",
                    action: function () {
                        AgregarDetalleExpedicion();
                    }
                }
            ],
            pageLength: 50,
            "order": [[1, "asc"]],
            initComplete: function (data) {
                agregandoDetalle = false;
                TotalesProductosProduccion();

                $("#DetallesExpedicionTabla").on("change", ".selectTipoDetalle", function () {
                    let codigo = $(this).attr("codigo");
                    let tipo = $(this).val();
                    let detalle = listadoDetallesExpedicion.filter(d => d.Codigo_Interno_Detalle == codigo);
                    let index = listadoDetallesExpedicion.findIndex(d2 => d2.Codigo_Interno_Detalle == codigo);

                    if (detalle.length > 0)
                        detalle = detalle[0];
                    else
                        detalle = null;

                    if (detalle) {
                        detalle.Tipo = tipo;
                        if (index > 0) {
                            listadoDetallesExpedicion[index] = detalle;
                        }
                    }
                });
            }
        });

        $("#DetallesExpedicionTabla").on("draw.dt", function () { agregandoDetalle = false; });
    }

    function CargarDetallesExpedicion() {
        $.ajax({
            type: "GET",
            url: "/Expediciones/GetData/",
            data: { Codigo_Interno_Expedicion: $('#Codigo_Interno_Expedicion').val() },
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    listadoDetallesExpedicion = data.detalles;
                    CargarDetallesExp();
                    TotalesProductosProduccion();
                }
                else {
                    notif({
                        msg: data.mensaje,
                        type: "error",
                        position: "center"
                    });
                }
            }
        });
    }

    var agregandoDetalle = false;
    function AgregarDetalleExpedicion() {
        if (!agregandoDetalle) {
            agregandoDetalle = true;
            let filaAgregada = false;
            $('#DetallesExpedicionTabla').find('#insertarDetalle').each(function () {
                filaAgregada = true;
            });
            if (filaAgregada == false) {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
                let html = '<tr>';
                html += '<td id="data0" ></td>';
                html += '<td id="data1" class="col-md-12 form-medio">' +
                    '<div class="col-md-8 form-medio"><input id="tb-producto" placeholder="Número" style="text-align:right; width:100%"/></div>' +
                    '<div class="col-md-4" style="padding:0px !important; text-align:center"><a href="#" id="mostrarInsumos" onclick="AbrirModalProductosVentasLiberados(1)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>' +
                    '</td>';
                html += '<td id="data2" ></td>';
                html += '<td id="data3" style="text-transform:capitalize"></td>';
                html += '<td id="data4"></td>';
                html += '<td id="data5"></td>';
                html += '<td id="data6"></td>';

                html += '<td style="display:flex; justify-content:center"><a class="btn btn-success btn-xs" onclick="InsertarDetalleExpedicion()"><span class="glyphicon glyphicon-ok"></span></a>' +
                    '<a onclick="CargarDetallesExp()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>';
                html += '</tr>';
                $('#DetallesExpedicionTabla tbody').prepend(html);

                $("#tb-producto").keyup(function (e) {
                    if (e.keyCode == 13) {
                        ConfirmarProdLiberado(1);
                    }
                });

                $('#tb-producto').focus();
            }
            else
                $('#tb-producto').focus();
        }
    }

    function InsertarDetalleExpedicion(lotedata = null) {
        agregandoDetalle = false;
        let nuevaCantidad = 0;
        let nuevosKilos = 0;
        let lote_codigo = -1;
        let codigo_producto = -1;
        let cantidad_restante = 0;
        let kilos_restante = 0;

        if (lotedata == null) {
            if ($('#tb-producto').val() == "" && $('#tb-lote').val() == "") {
                notif({
                    msg: "Por favor ingrese Producto y Lote.",
                    type: "warning",
                    position: "center"
                });
                $('#tb-producto').focus();
                return;
            }

            if ($('#tb-producto').val() == "") {
                notif({
                    msg: "Por favor ingrese un Producto.",
                    type: "warning",
                    position: "center"
                });
                $('#tb-producto').focus();
                return;
            }

            if ($('#tb-lote').val() == "") {
                notif({
                    msg: "Por favor ingrese un Lote.",
                    type: "warning",
                    position: "center"
                });
                $('#tb-lote').focus();
                return;
            }

            nuevaCantidad = parseInt($('#nuevaCantidad').val());
            nuevosKilos = parseFloat($('#nuevosKilos').val());
            lote_codigo = $('#tb-lote').val();
            codigo_producto = $('#tb-producto').val().toString().trim();
            cantidad_restante = CantidadRestanteADespachar;
            kilos_restante = parseFloat(KilosRestantesADespachar).toFixed(3);
        }
        else {
            nuevaCantidad = lotedata.lote.cantidad != NaN ? lotedata.lote.cantidad : 0;
            nuevosKilos = lotedata.lote.kilos;
            lote_codigo = lotedata.lote.lote;
            codigo_producto = lotedata.lote.producto;
            cantidad_restante = lotedata.restante.cantidad;
            kilos_restante = parseFloat(lotedata.restante.kilos).toFixed(3);
        }

        try {
            if ((nuevaCantidad > cantidad_restante) || (nuevosKilos > kilos_restante)) {
                notif({
                    msg: "LOTE " + lote_codigo + ": No se pueden despachar más de " + parseFloat(cantidad_restante).toFixed(0) + " unidades y " + parseFloat(kilos_restante).toFixed(3) + " kilos.",
                    type: "error",
                    width: 500,
                    timeout: 4000,
                    multiline: true,
                    position: "center"
                });
                return;
            }
            else {
                let CantRestanteLote = 0;
                let KgRestanteLote = 0.00;
                let Codigo_Producto_Produccion = 0;
                let Descripcion_Producto_Produccion = '';
                $.ajax({
                    type: "GET",
                    url: "/Envasados/ObtenerRestantePorSalidaMercaderia/",
                    data: {
                        Lote: lote_codigo,
                        Numero_Producto_Ventas: codigo_producto,
                        Codigo_Fabrica: parseInt($("#Origen").val())
                    },
                    success: function (data) {
                        if (data.success) {
                            let objeto = data.objeto;
                            CantRestanteLote = parseInt(objeto.Cantidad_Restante);
                            KgRestanteLote = parseFloat(objeto.Kilos_Restantes).toFixed(3);
                            Codigo_Producto_Produccion = objeto.Codigo_Producto_Produccion;
                            Descripcion_Producto_Produccion = objeto.Descripcion_Producto_Produccion;
                            let Tipo = objeto.Tipo;
                            let encontrado = false;

                            let CantCargadaMasNueva = 0;
                            let KgCargadoMasNuevo = 0;

                            for (let t in listadoDetallesExpedicion) {
                                if (listadoDetallesExpedicion[t].Numero_Producto_Ventas == codigo_producto && listadoDetallesExpedicion[t].Lote == lote_codigo) {
                                    CantCargadaMasNueva = parseInt(listadoDetallesExpedicion[t].Cantidad) + nuevaCantidad;

                                    KgCargadoMasNuevo = parseFloat(parseFloat(listadoDetallesExpedicion[t].Kilos) + nuevosKilos).toFixed(3);

                                    if (CantCargadaMasNueva > CantRestanteLote) {
                                        notif({
                                            msg: "LOTE " + lote_codigo + ": Se están expidiendo mas unidades que las disponibles!",
                                            type: "error",
                                            position: "center"
                                        });
                                        return;
                                    }

                                    if (parseFloat(KgCargadoMasNuevo) > parseFloat(KgRestanteLote)) {
                                        notif({
                                            msg: "LOTE " + lote_codigo + ": Se están expidiendo mas kilos que los disponibles!",
                                            type: "error",
                                            position: "center"
                                        });

                                        return;
                                    }
                                    listadoDetallesExpedicion[t].Cantidad += nuevaCantidad;
                                    listadoDetallesExpedicion[t].Kilos += nuevosKilos;
                                    encontrado = true;
                                }
                            }

                            if (!encontrado) {
                                listadoDetallesExpedicion.push({
                                    Codigo_Interno_Detalle: listadoDetallesExpedicion.length + 1,
                                    Numero_Producto_Ventas: codigo_producto,
                                    Lote: lote_codigo,
                                    Descripcion_Producto: $('#data3').text().trim(),
                                    Cantidad: nuevaCantidad,
                                    Kilos: nuevosKilos,
                                    Codigo_Producto_Produccion: Codigo_Producto_Produccion,
                                    Descripcion_Producto_Produccion: Descripcion_Producto_Produccion,
                                    Tipo: Tipo,
                                });
                                validos = true;
                            }

                            if (lotedata == null) {
                                validos = true;
                            }

                            if (operacionVariosProceso > 0)
                                operacionVariosProceso--;

                            if (operacionVariosProceso <= 0) {
                                TotalesProductosProduccion();
                                CargarDetallesExp();
                            }

                            notif({
                                msg: "LOTE " + lote_codigo + ": Registro guardado satisfactoriamente.",
                                type: "success",
                                position: "center"
                            });
                        }
                        else {
                            notif({
                                msg: "LOTE " + lote_codigo + ": " + data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
        }
        catch (error) {
            notif({
                msg: "LOTE " + lote_codigo + ": " + error,
                type: "error",
                position: "center"
            });
        }
    }
    var TotalesProductoProduccion = [];
    function TotalesProductosProduccion() {
        TotalesProductoProduccion = [];
        var encuentra;
        for (var d in listadoDetallesExpedicion) {
            encuentra = false;
            for (var p in TotalesProductoProduccion) {
                if (TotalesProductoProduccion[p].Numero_Producto_Ventas == listadoDetallesExpedicion[d].Numero_Producto_Ventas) {
                    TotalesProductoProduccion[p].Cantidad += parseInt(listadoDetallesExpedicion[d].Cantidad);
                    TotalesProductoProduccion[p].Kilos += parseFloat(listadoDetallesExpedicion[d].Kilos);
                    encuentra = true;
                }
            }
            if (!encuentra) {
                TotalesProductoProduccion.push({
                    Numero_Producto_Ventas: listadoDetallesExpedicion[d].Numero_Producto_Ventas,
                    Descripcion_Producto: listadoDetallesExpedicion[d].Descripcion_Producto,
                    Cantidad: parseInt(listadoDetallesExpedicion[d].Cantidad),
                    Kilos: parseFloat(listadoDetallesExpedicion[d].Kilos)
                });
            }
        }
        $('#TotalesProductosProduccion').DataTable({
            "destroy": true,
            "bFilter": false,
            "bInfo": false,
            "paging": false,
            "lengthChange": false,
            "data": TotalesProductoProduccion,
            "columns": [
                {
                    data: "Numero_Producto_Ventas",
                    title: "Número",
                    width: "15%"
                },
                {
                    data: "Descripcion_Producto",
                    title: "Descripción",
                    sClass: "mayusculas-texto"
                },
                {
                    data: "Cantidad",
                    title: "Cantidad"
                },
                {
                    data: "Kilos",
                    title: "Kilos",
                    render: function (data) { if (data != null) return data.toFixed(3); else return 0.000.toFixed(3); }
                }
            ],
            "language": idiomaEspañol,
            "select": 'single',
            initComplete: function (data) {
                document.getElementById("TotalesProductosProduccion_wrapper").classList.add('col-sm-6');
                document.getElementById("TotalesProductosProduccion_wrapper").style.paddingLeft = "0px";
                document.getElementById("TotalesProductosProduccion_wrapper").style.paddingRight = "0px";
            }
        });
    }
    function EditarDetalleExpedicion(Codigo_Interno_Detalle) {
        CargarDetallesExp();
        $('#DetallesExpedicionTabla').find('tr').find('td').each(function () {
            if ($(this).index() == 0) {
                if ($(this).html() == Codigo_Interno_Detalle) {
                    $(this).parent('tr').find('td').each(function () {
                        $(this).addClass("editable");
                        if ($(this).index() == 5) {
                            var Cantidad = $(this).html();
                            $(this).html("");
                            $(this).prepend('<input id="cantidadEditable" class="col-md-12 text-box single-line" style="text-align:right">');
                            $('#cantidadEditable').val(Cantidad.toString().replace(",", "."));
                            $('#cantidadEditable').focus();
                        }
                        if ($(this).index() == 6) {
                            var Kilos = $(this).html();
                            $(this).html("");
                            $(this).prepend('<input id="kilosEditable" class="col-md-12 text-box single-line" style="text-align:right">');
                            $('#kilosEditable').val(Kilos.toString().replace(",", "."));
                        }
                        if ($(this).index() == 7) {
                            $(this).html("");
                            $(this).prepend(
                                "<a class='btn btn-success btn-xs' onclick=ConfirmarEdicionDetalleExp('" + Codigo_Interno_Detalle + "')>" +
                                "<span class='glyphicon glyphicon-ok'></span>" +
                                "</a>" +
                                "<a class='btn btn-danger btn-xs' onclick=CargarDetallesExp()>" +
                                "<span class='glyphicon glyphicon-remove'></span>" +
                                "</a>");

                        }
                    });
                }
            }
        });
        $("#cantidadEditable").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");

                $("#kilosEditable").focus();
            }
        });
        $("#kilosEditable").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");

                ConfirmarEdicionDetalleExp(Codigo_Interno_Detalle);
            }
        });
    }
    function ConfirmarEdicionDetalleExp(Codigo_Interno_Detalle) {
        for (var i in listadoDetallesExpedicion) {
            if (listadoDetallesExpedicion[i].Codigo_Interno_Detalle == Codigo_Interno_Detalle) {
                try {
                    listadoDetallesExpedicion[i].Cantidad = parseFloat($('#cantidadEditable').val()) > 0 ? parseFloat($('#cantidadEditable').val()).toString() : $('#cantidadEditable').val();
                    listadoDetallesExpedicion[i].Kilos = parseFloat($('#kilosEditable').val()) > 0 ? parseFloat($('#kilosEditable').val()).toString() : $('#kilosEditable').val();
                    notif({
                        msg: "Registro editado satisfactoriamente.",
                        type: "success",
                        position: "center"
                    });
                    CargarDetallesExp();
                }
                catch (error) {
                    notif({
                        msg: error,
                        type: "error",
                        position: "center"
                    });
                }
            }
        }
    }
    function BorrarDetalleExp(Codigo_Interno_Detalle) {
        for (var i in listadoDetallesExpedicion) {
            if (listadoDetallesExpedicion[i].Codigo_Interno_Detalle == Codigo_Interno_Detalle) {
                listadoDetallesExpedicion.splice(i, 1);
                CargarDetallesExp();
                notif({
                    msg: "Registro eliminado satisfactoriamente.",
                    type: "success",
                    position: "center"
                });
            }
        }
    }
    function SubmitExpedicion(Formulario) {
        if ('@Model.Codigo_Interno_Expedicion' == 0 || numero_comprobante != $('#Numero_Comprobante').val()) {
            $.ajax({
                type: "GET",
                url: "/Expediciones/Existe/",
                data: {
                    Prefijo: $('#Prefijo').val(),
                    Numero_Comprobante: $('#Numero_Comprobante').val()
                },
                success: function (data) {
                    if (data.data == true) {
                        notif({
                            msg: "Ya existe otra expedicion con el mismo prefijo y numero de comprobante.",
                            type: "error",
                            position: "center"
                        });
                    }
                    else
                        EnviarFormulario(Formulario);
                }
            });
        }
        else
            EnviarFormulario(Formulario);
    }
    function EnviarFormulario(Formulario) {

        if ($("#Origen").val() == '') {
            notif({
                msg: "Por favor, ingrese una sucursal de origen",
                type: "error",
                position: "center"
            });
            AbrirModalSucursales('Origen')
            return;
        }

        if ($("#Destino").val() == '') {
            notif({
                msg: "Por favor, ingrese la sucursal de destino",
                type: "error",
                position: "center"
            });
            AbrirModalSucursales('Destino')
            return;
        }

        if ($("#Prefijo").val() == '') {
            notif({
                msg: "Por favor, ingrese un prefijo",
                type: "error",
                position: "center"
            });
            $("#Prefijo").focus();
            return;
        }

        if ($("#Numero_Comprobante").val() == '') {
            notif({
                msg: "Por favor, ingrese un número de comprobante",
                type: "error",
                position: "center"
            });
            $("#Numero_Comprobante").focus();
            return;
        }

        if (listadoDetallesExpedicion.length == 0) {
            notif({
                msg: "No se puede expedir sin detalle",
                type: "error",
                position: "center"
            });
            AgregarDetalleExpedicion();
            return;
        }

        $.validator.unobtrusive.parse(Formulario);
        if (!$(Formulario).valid())
            return;
        $('#DetallesExpedicion').html("");
        for (var i in listadoDetallesExpedicion) {
            if ([1, 2, 3].indexOf(parseInt(listadoDetallesExpedicion[i].Tipo)) > -1) {
                let codigo = listadoDetallesExpedicion[i].Codigo_Interno_Detalle;
                let val = $(`.selectTipoDetalle[codigo=${codigo}]`).val();
                listadoDetallesExpedicion[i].Tipo = val;
            }

            $('#DetallesExpedicion').append('<input type="text" name="Detalle_Expedicion[' + i + '].Numero_Producto_Ventas" value="' + listadoDetallesExpedicion[i].Numero_Producto_Ventas + '"/>' +
                '<input type="text" name="Detalle_Expedicion[' + i + '].Lote" value="' + listadoDetallesExpedicion[i].Lote.toString() + '"/>' +
                '<input type="text" name="Detalle_Expedicion[' + i + '].Kilos" value="' + parseFloat(listadoDetallesExpedicion[i].Kilos).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Detalle_Expedicion[' + i + '].Cantidad" value="' + parseFloat(listadoDetallesExpedicion[i].Cantidad).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Detalle_Expedicion[' + i + '].Tipo" value="' + listadoDetallesExpedicion[i].Tipo.toString() + '"/>');
        }

        $.ajax({
            type: "POST",
            url: "/Expediciones/AddOrEdit/",
            data: $(Formulario).serialize(),
            success: function (data) {
                if (data.success) {
                    notif({
                        msg: data.message,
                        type: "success",
                        position: "center"
                    });
                    $('#modalAddOrEdit').modal('hide');
                    CargarExpediciones();

                } else {
                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center",
                        multiline: true,
                        timeout: 10000
                    });
                }
            }
        });
    }
</script>