﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Ingresos pendientes";
    Entities db = new Entities();
}
<div class="col-md-8" style="margin-left:auto;margin-right:auto;float:initial;">
    <h2>Ingresos pendientes</h2>
    <table id="IngresosTabla" class="display compact" style="width:100%"></table>
</div>
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDeleteExpedicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteExpedicion()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal AddOrEdit -->
<div class="modal fade" id="modalVerDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:80%">
        <div class="modal-content" id="ModalVerDetalle"></div>
    </div>
</div>
<!-- Modal Envasados-->
<div class="modal fade" id="modalEnvasados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="ModalEnvasados"></div>
    </div>
</div>
<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:400px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="pregunta">¿Está seguro que desea confirmar el ingreso del remito?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="confirmarIngreso" onclick="Confirmar_Ingreso()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalRechazar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:400px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title">Rechazar ingreso pendiente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="pregunta_rechazo"></p>
                <textarea id="motivo_rechazo" style="width:400px;height:200px;"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Confirmar_Rechazo()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalLotesLiberados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="ModalLotesLiberados"></div>
    </div>
</div>
<input class="codigo" hidden />
@section scripts{
    <script>
        var dataTableIngresosPendientes = null;

        function CargarIngresosPendientes() {
            if (dataTableIngresosPendientes == null) {
                dataTableIngresosPendientes = $("#IngresosTabla").DataTable({
                    ajax: "/Expediciones/GetIngresosPendientes",
                    deferRender: true,
                    autoWidth: true,
                    columns: [
                        {
                            data: "Codigo_Interno_Expedicion",
                            title: "Código",
                            width: "80px"
                        },
                        {
                            data: "Prefijo",
                            title: "Prefijo",
                            width: "80px"
                        },
                        {
                            data: "Numero_Comprobante",
                            title: "Comprobante",
                            width: "100px"
                        },
                        {
                            data: "Fecha",
                            title: "Fecha",
                            width: "100px",
                            render: function (data) {
                                if (data == null)
                                    return "";
                                else
                                    return moment(data).format('DD/MM/YYYY');
                            }
                        },
                        {
                            data: "FechaRecepcion",
                            title: "Fecha de Recepción",
                            width: "100px",
                            className: "col-editable",
                            render: function (data) {
                                if (data == null) {
                                    return "";
                                }
                                else {
                                    return moment(data).format('DD/MM/YYYY');
                                }
                            }
                        },
                        {
                            data: "Egreso_Ingreso",
                            title: "Tipo",
                            sClass: "mayusculas-texto"
                        },
                        {
                            "data": "Codigo_Interno_Expedicion",
                            "title": "Herramientas",
                            "width": "300px",
                            "render": function (data) {
                                return "<a class='btn btn-default btn-sm' onclick=VerDetalle(" + data + ")>Ver detalle</a>" +
                                    "<a class='btn btn-success btn-sm' onclick=Pregunta_Confirmar_Ingreso(" + data + ")>Confirmar ingreso</a>" +
                                    "<a class='btn btn-danger btn-sm' onclick=Pregunta_Confirmar_Rechazo(" + data + ")>Rechazar</a>";
                            },
                        }
                    ],
                    "language": idiomaEspañol,
                    "columnDefs": [
                        {
                            className: "text-center",
                            targets: [3, 5]
                        },
                        {
                            className: "text-right",
                            targets: [0, 1, 2]
                        }
                    ],
                    rowId: 'Codigo_Interno_Expedicion',
                    select: true,
                    order: [[3, "asc"]],
                    initComplete: function (data) {
                        $('div.dataTables_filter input').focus();

                        var editor = new ControlEditable(
                            "#IngresosTabla td.col-editable",
                            "/Expediciones/GetIngresosPendientes",
                            "FechaRecepcion"
                        );

                        setInterval(function () {
                            dataTableIngresosPendientes.ajax.reload(() => {
                                editor.loadEditor();
                            }, false);
                        }, 3600);
                    }
                });
            }
        }

        var codigo_confirmar
        function Pregunta_Confirmar_Ingreso(codigo_interno_confirmar) {
            codigo_confirmar = codigo_interno_confirmar;
            $('#pregunta').html('¿Está seguro que desea confirmar el ingreso seleccionado?');
            $('#modalVerificarActualizar').modal('toggle');
        }
        function Confirmar_Ingreso() {
            $("#confirmarIngreso").prop("disabled", true);
            $.ajax({
                type: "POST",
                url: "/Expediciones/Confirmar_Ingreso_Pendiente",
                data: { Codigo_Interno_Expedicion: codigo_confirmar},
                success: function (data) {
                    if (data.success) {
                        CargarIngresosPendientes();
                        notif({
                            msg: "Ingreso confirmado correctamente.",
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        console.log(data.message);
                        notif({
                            msg: "Error en el proceso, revisar el registro de errores.",
                            type: "error",
                            position: "center"
                        });
                    }
                },
                complete: function () {
                    $("#confirmarIngreso").prop("disabled", false);
                    $('#modalVerificarActualizar').modal('hide');
                }
            });
        }

        var codigo_rechazar;
        function Pregunta_Confirmar_Rechazo(codigo_interno_rechazar) {
            codigo_rechazar = codigo_interno_rechazar;
            $('#pregunta_rechazo').html('A continuación ingrese el motivo del rechazo del remito: '+codigo_rechazar);
            $('#modalRechazar').modal('toggle');
            $('#motivo_rechazo').focus();
        }

        function Confirmar_Rechazo() {
            if (!$('#motivo_rechazo').val()) {
                notif({
                    msg: "Debe ingresar el motivo del rechazo del remito",
                    type: "error",
                    position: "center"
                });
                $('#motivo_rechazo').focus();
                return;
            }
            $.ajax({
                type: "POST",
                url: "/Expediciones/Rechazar_Ingreso_Pendiente",
                data: { Codigo_Interno_Expedicion: codigo_rechazar, Motivo: $('#motivo_rechazo').val() },
                success: function (data) {
                    if (data.success) {
                        CargarIngresosPendientes();
                        notif({
                            msg: "El ingreso pendiente fue rechazado correctamente.",
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        console.log(data.message);
                        notif({
                            msg: "Error en el proceso, revisar el registro de errores.",
                            type: "error",
                            position: "center"
                        });
                    }
                    $('#motivo_rechazo').val('');
                    $('#modalRechazar').modal('hide');
                }
            });
        }
        function modificarInput(Codigo) {
            $('input.codigo').text(Codigo);
        }
        function DeleteExpedicion() {
            $.ajax({
                type: "POST",
                url: "/Expediciones/Delete/",
                data: { Codigo_Interno_Expedicion: $('input.codigo').text() },
                success: function (data) {
                    if (data.success) {
                        $('#modalDeleteExpedicion').modal('hide');
                        CargarExpediciones ();
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        function VerDetalle(Codigo) {
            $.ajax({
                type: "GET",
                url: "/Expediciones/VerDetalle/",
                data: { Codigo_Interno_Expedicion: Codigo },
                success: function (data) {
                    $('#ModalVerDetalle').html(data);
                    CargarDetallesExpedicion();
                    $('#modalVerDetalle').modal('toggle');
                    $("#btnSucDestino").addClass("hidden");
                }
            });
        }
        function Pasar_A_Historicos() {
            var bandera = false;
            $('#ExpedicionesTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0)
                    bandera = true;
            });
            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });
                return;
            }
            else {
                $('#ExpedicionesTabla').find('tr.selected').find('td').each(function () {
                    if ($(this).index() == 0) {
                        $.ajax({
                            type: "POST",
                            url: "/Expediciones/Pasar_A_Historico",
                            data: { Codigo_Interno_Expedicion: $(this).html() },
                            success: function (data) {
                                if (data.success) {
                                    CargarExpediciones();
                                    notif({
                                        msg: data.message,
                                        type: "success",
                                        position: "center"
                                    });
                                    $('#modalVerificarActualizar').modal('hide');
                                }
                                else {
                                    notif({
                                        msg: data.message,
                                        type: "error",
                                        position: "center"
                                    });
                                }
                            }
                        });
                    }
                });
            }
        }
        $(document).ready(function () {
            CargarIngresosPendientes();
            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
}
