﻿@model AccesoDatos.Contexto.Produccion.Expedicion
@{
    Layout = null;
}
<div class="modal-header modalCreate" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="tituloModalAddOrEdit">Detalle del remito @Model.Prefijo - @Model.Numero_Comprobante</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body modalCreate">
    <div class="col-md-12 flexible2">
        <div class="col-md-12 caja-contenedora flexible2">
            @Html.HiddenFor(model => model.Codigo_Interno_Expedicion, new { htmlAttributes = new { @class = "form-control" } })
            <div class="col-md-12 caja-sector-modal">
                <div class="col-md-4 form-medio">
                    <div class="col-md-7 form-medio">
                        @Html.LabelFor(model => model.Egreso_Ingreso, "Movimiento", new { @class = "control-label" }):
                    </div>
                    <div class="col-md-4 form-medio">
                        @Html.DropDownListFor(model => model.Egreso_Ingreso, ViewBag.TipoExpedicion as IEnumerable<SelectListItem>, new { @class = "form-control",@disabled="true" })
                        @Html.ValidationMessageFor(model => model.Egreso_Ingreso)
                    </div>
                </div>
                <div class="col-md-3 form-medio">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Fecha, "Fecha", new { @class = "control-label" }):
                    </div>
                    <div class="col-md-6 form-medio">
                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @disabled = "true" } })
                        @Html.ValidationMessageFor(model => model.Fecha)
                    </div>
                </div>
                <div class="col-md-5 form-medio">
                    <div class="col-md-3 form-medio">
                        @Html.LabelFor(m => m.Sucursal, new { @class = "control-label" }):
                    </div>
                    <div class="col-md-3 form-medio">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Sucursal, "Sucursal", new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                            <span class="input-group-addon hidden"><a href="#" onclick="AbrirModalSucursales('Destino')"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                    </div>
                    <div class="col-md-5" style="display:flex; align-content:center;">
                        <p style="text-transform:capitalize; margin:0px" id="Desc_Suc">@ViewBag.Sucursal</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 caja-sector-modal">
                <div class="col-md-3 form-medio">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Prefijo, "Prefijo", new { @class = "control-label" }):
                    </div>
                    <div class="col-md-6 form-medio">
                        @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @disabled = "true" } })
                        @Html.ValidationMessageFor(model => model.Prefijo)
                    </div>
                </div>
                <div class="col-md-5 form-medio">
                    <div class="col-md-5 form-medio">
                        @Html.LabelFor(model => model.Numero_Comprobante, "Número de Comprobante", new { @class = "control-label" }):
                    </div>
                    <div class="col-md-4 form-medio">
                        @Html.EditorFor(model => model.Numero_Comprobante, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @disabled = "true" } })
                        @Html.ValidationMessageFor(model => model.Numero_Comprobante)
                    </div>
                </div>
            </div>
            <div class="col-md-12 caja-sector-modal">
                <div class="col-md-12 form-medio">
                    <div class="col-md-2 form-medio">
                        @Html.LabelFor(model => model.Comentario, "Comentario", new { @class = "control-label" }):
                    </div>
                    <div class="col-md-10 form-medio">
                        @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize", @disabled = "true" } })
                    </div>
                </div>
            </div>
            <div class="col-md-12 caja-contenedora">
                <table id="DetallesExpedicionTabla" class="display compact" style="width:100%"></table>
                <h4 class="modal-title" id="tituloModalAddOrEdit">Totales por producto de producción:</h4>
                <table id="TotalesProductosProduccion" class="display compact" style="width:100%"></table>
                @if (ViewBag.UsaBandejas)
                {
                    <div class="col-md-6">
                        @{Html.RenderAction("TablaBandejas", "Bandejas", new { parametroPost = "bandeja", codigoExpedicion = Model.Codigo_Interno_Expedicion, soloLectura=true });}
                    </div>
                }
            </div>
            <div id="DetallesExpedicion" style="display:none"></div>
        </div>
    </div>
</div>
<div class="modal-footer modalCreate" style="text-align:center">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
</div>
    <script>
        var CantidadRestanteADespachar = 0;
        var KilosRestantesADespachar = 0;
        var CantidadTotalADespachar = 0;
        var KilosTotalesADespachar = 0;
        var listadoCantidadPorLote = [];
        $('#Fecha').datepicker();
        var listadoLotesLiberados = [];
        var listadoDetallesExpedicion = [];

        function CargarDetallesExp() {
            dataTable = $("#DetallesExpedicionTabla").DataTable({
                "bFilter": false,
                "destroy": true,
                "responsive": true,
                "autoWidth": true,
                "bInfo": false,
                "lengthChange": false,
                data: listadoDetallesExpedicion,
                "columns": [
                    {
                        title: "Código",
                        data: "Codigo_Interno_Detalle",
                        width: "10%"
                    },
                    {
                        title: "Número",
                        data: "Numero_Producto_Ventas",
                        width: "15%"
                    },
                    {
                        title: "Lote",
                        data: "Lote"
                    },
                    {
                        title: "Producto",
                        data: "Descripcion_Producto",
                        sClass: "mayusculas-texto"
                    },
                    {
                        "data": "Cantidad",
                        "title": "Cantidad",
                        render: function (data) {
                            if (data != null && parseFloat(data).toFixed(0) > 0)
                                return parseFloat(data).toFixed(0);
                            else
                                return "";
                        },
                        width: "10%"
                    },
                    {
                        "data": "Kilos",
                        "title": "Kilos",
                        render: function (data) {
                            if (data != null && parseFloat(data) > 0)
                                return parseFloat(data).toFixed(2);
                            else
                                return "";
                        }
                    }
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    {
                        className: "text-right",
                        targets: [4, 5]
                    },
                    {
                        className: "text-center",
                        targets: [0, 1, 2]
                    }
                ],
                "order": [[1, "asc"]],
                initComplete: function (data) {
                }

            });
        }
        function CargarDetallesExpedicion() {
            var x = $.ajax({
                type: "GET",
                url: "/Expediciones/GetData/",
                data: { Codigo_Interno_Expedicion: $('#Codigo_Interno_Expedicion').val() },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoDetallesExpedicion = [];
                        for (var i in data.detalles) {
                            listadoDetallesExpedicion.push(data.detalles[i]);
                        }
                        CargarDetallesExp();
                        TotalesProductosProduccion();
                    }
                    else {
                        notif({
                            msg: data.mensaje,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        var TotalesProductoProduccion = [];
        function TotalesProductosProduccion() {
            TotalesProductoProduccion = [];
            var encuentra;
            for (var d in listadoDetallesExpedicion) {
                encuentra = false;
                for (var p in TotalesProductoProduccion) {
                    if (TotalesProductoProduccion[p].Numero_Producto_Ventas == listadoDetallesExpedicion[d].Numero_Producto_Ventas) {
                        TotalesProductoProduccion[p].Cantidad += parseInt(listadoDetallesExpedicion[d].Cantidad);
                        TotalesProductoProduccion[p].Kilos += parseFloat(listadoDetallesExpedicion[d].Kilos);
                        encuentra = true;
                    }
                }
                if (!encuentra) {
                    TotalesProductoProduccion.push({
                        Numero_Producto_Ventas: listadoDetallesExpedicion[d].Numero_Producto_Ventas,
                        Descripcion_Producto: listadoDetallesExpedicion[d].Descripcion_Producto,
                        Cantidad: parseInt(listadoDetallesExpedicion[d].Cantidad),
                        Kilos: parseFloat(listadoDetallesExpedicion[d].Kilos)
                    });
                }
            }
            $('#TotalesProductosProduccion').DataTable({
                "destroy": true,
                "bFilter": false,
                "bInfo": false,
                "paging": false,
                "lengthChange": false,
                "data": TotalesProductoProduccion,
                "columns": [
                    {
                        data: "Numero_Producto_Ventas",
                        title: "Número",
                        width: "15%"
                    },
                    {
                        data: "Descripcion_Producto",
                        title: "Descripción",
                        sClass: "mayusculas-texto"
                    },
                    {
                        data: "Cantidad",
                        title: "Cantidad"
                    },
                    {
                        data: "Kilos",
                        title: "Kilos"
                    }
                ],
                "language": idiomaEspañol,
                "select": 'single',
                initComplete: function (data) {
                    document.getElementById("TotalesProductosProduccion_wrapper").classList.add('col-sm-6');
                    document.getElementById("TotalesProductosProduccion_wrapper").style.paddingLeft = "0px";
                    document.getElementById("TotalesProductosProduccion_wrapper").style.paddingRight = "0px";
                }
            });
        }
    </script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}








