﻿@{
    ViewBag.Title = "Estados : Listado";
}
<h2>Estados</h2>
<table id="estadosTabla" class="display compact" style="width:100%"></table>
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteEstado()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<input class="codigo" hidden />
@section scripts{
<script>
    function CargarEstados() {
        $.ajax({
            type: "GET",
            url: "/Estados/GetData/",
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    listadoEstados = data.data;
                    dataTableEstados = $("#estadosTabla").DataTable({
                        destroy: true,
                        autoWidth: true,
                        data: listadoEstados,
                        columns: [
                            {
                                data: "Codigo_Estado",
                                title: "Código",
                                width: "150px"
                            },
                            {
                                data: "Descripcion",
                                title: "Descripción",
                                sClass: "mayusculas-texto"
                            },
                            {
                                data: "Se_Puede_Envasar",
                                title: "Se puede envasar",
                                width: "150px",
                                render: function (data) {
                                    if (data)
                                        return "SI";
                                    else
                                        return "NO";
                                }
                            },
                            {
                                data: "Codigo_Estado",
                                width: "150px",
                                title: "Herramientas",
                                render: function (data) {
                                    return " <a class='btn btn-default btn-sm' onclick=EditarEstado('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                                "<a class='btn btn-danger btn-sm'onclick=modificarInput('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                                },
                            }
                        ],
                        language: idiomaEspañol,
                        columnDefs: [
                            {
                                className: "text-center", "targets": [0,2,3]
                            },
                        ],
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                text: '<span class="glyphicon glyphicon-plus">',
                                className: 'nuevo',
                                action: function () {
                                    AgregarEstado();
                                }
                            }
                        ],
                        order: [[1, "asc"]],
                        initComplete: function (data) {
                            $('div.dataTables_filter input').focus();
                        }
                    });
                }
            }
        });
    };
    $(document).ready(function () {
        CargarEstados();
    });
    var dataTableEstados = [];
    var listadoEstados = [];
    /* METODO PARA AGREGAR UN REGISTRO*/
    function SubmitForm(form) {
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        Popup.dialog('close');
                        dataTable.ajax.reload();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        return false;
    }
    function AgregarEstado() {
        var filaAgregada = false;
        $('#estadosTabla').find('#insert').each(function () {
            filaAgregada = true;
        });
        if (filaAgregada == false) {
            /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
            var html = '<tr>';
            html += '<td><input id="data1" placeholder="Código" style="text-align:center" class="col-md-12 text-box single-line"></input></td>';
            html += '<td><input id="data2" placeholder="Descripción" style="text-transform:capitalize;" class="col-md-12 text-box single-line"></input></td>';
            html += '<td><input id="data3" type="checkbox" style="text-transform:capitalize;"/> Se puede envasar</td>';
            html += '<td class="text-center"><button type="button" name="insert" onclick="InsertarEstado()" id="insert" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span></button>' +
                '<button type="button" name="cancel" id="cancel" onclick="CargarEstados()" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></td>';
            html += '</tr>';
            $('#estadosTabla tbody').prepend(html);
            $.ajax({
                type: "GET",
                url: "/Estados/GetUltimo/",
                success: function (data) {
                    if (data.success) {
                        $('#data1').val(data.data + 1);
                        $('#data1').focus();
                    }
                    else {
                        $('#data1').val(1);
                        $('#data1').focus();
                    }
                    $("#data1").keyup(function (e) {
                        if (e.keyCode == 13) {
                            $(this).trigger("enterKey");
                            $("#data2").focus();
                        }
                    });
                    $("#data2").keyup(function (e) {
                        if (e.keyCode == 13) {
                            $(this).trigger("enterKey");
                            InsertarEstado();
                        }
                    });
                }
            });
        }
        else
            $('#data1').focus();
    }
    function refrescarEstados() {
        CargarEstados()
    }
    function EditarEstado(Codigo) {
        dataTableEstados.clear();
        dataTableEstados.rows.add(listadoEstados);
        dataTableEstados.draw();
        $('#estadosTabla').find('tr').find('td').each(
            function () {
                if ($(this).index() == 0) {
                    if ($(this).html() == Codigo) {
                        $(this).parent('tr').find('td').each(function () {
                            if ($(this).index() == 1) {
                                var Descripcion = $(this).html();
                                $(this).html("");
                                $(this).prepend('<input id="nuevaDescripcion" style="text-transform:capitalize; width:100%"/>');
                                $('#nuevaDescripcion').val(Descripcion);
                                $('#nuevaDescripcion').focus();
                            }
                            if ($(this).index() == 2) {
                                var Se_Puede_Envasar = $(this).html();
                                if (Se_Puede_Envasar == 'SI')
                                    Se_Puede_Envasar = true;
                                else
                                    Se_Puede_Envasar = false;
                                $(this).html("");
                                $(this).prepend('<input id="nuevoSePuedeEnvasar" type="checkbox" style="text-transform:capitalize;"/> Se puede envasar');
                                $('#nuevoSePuedeEnvasar').prop('checked',Se_Puede_Envasar);
                            }
                            if ($(this).index() == 3) {
                                $(this).html("");
                                $(this).prepend(
                                    "<a class='btn btn-success btn-sm' onclick=confirmarEdicion('" + Codigo + "')>" +
                                    "<span class='glyphicon glyphicon-ok'></span>" +
                                    "</a>" +
                                    "<a class='btn btn-danger btn-sm' onclick=refrescarEstados()>" +
                                    "<span class='glyphicon glyphicon-remove'></span>" +
                                    "</a>");
                            }
                        });
                    }
                }
            }
        )
        $("#nuevaDescripcion").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");
                confirmarEdicion(Codigo);
            }
        });
    }
    function confirmarEdicion(Codigo) {
        $.ajax({
            type: "POST",
            url: "/Estados/AddOrEdit/",
            data: { Codigo_Estado: Codigo, Codigo_Interno_Estados: 1, Descripcion: $('#nuevaDescripcion').val(), Se_Puede_Envasar: $('#nuevoSePuedeEnvasar').prop('checked') },
            success: function (data) {
                if (data.success) {
                    CargarEstados();
                    notif({
                        msg: data.message,
                        type: "success",
                        position: "center"
                    });
                }
                else {
                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center"
                    });
                }
            }
        });
    }
    function modificarInput(Codigo) {
        $('input.codigo').text(Codigo);
    }
    function DeleteEstado() {
        $.ajax({
            type: "POST",
            url: "/Estados/Delete/",
            data: { Codigo_Estado: $('input.codigo').text() },
            success: function (data) {
                if (data.success) {
                    $('#modalDelete').modal('hide');
                    CargarEstados();
                    notif({
                        msg: data.message,
                        type: "success",
                        position: "center"
                    });
                }
                else {
                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center"
                    });
                }
            }
        });
    };
    function InsertarEstado() {
        var Codigo_Estado = $('#data1').val();
        var Descripcion = $('#data2').val();
        var Se_Puede_Envasar = $('#data3').prop('checked');
        if (Codigo_Estado != '' && Descripcion != '') {
            $.ajax({
                url: "/Estados/AddOrEdit/",
                method: "POST",
                data: { Codigo_Estado: Codigo_Estado, Descripcion: Descripcion, Se_Puede_Envasar },
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        CargarEstados();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                        $('#data1').focus();
                    }
                }
            });
        }
        else
            alert("Ambos campos son requeridos");
    }
</script>
}
