﻿@{
    Layout = null;
}
    <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
        <h4 class="modal-title" id="exampleModalLabel">Condiciones de Pago</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <!--TABLA CONDICIONES DE PAGO -->
        <div class="row">
            <div class="col-md-12">
                <table id="CondicionesTabla" class="display compact" style="width:100%"></table>
            </div>
        </div>

        <script>
            var dataTableCondicion = null;
            function AddOrEddit(codigo) {
                $.ajax({
                    url: "/CondicionesPago/AddOrEdit",
                    datatype: "json",
                    data: {
                        codigo: codigo,
                        descipcion: $("#Descripcion").val(),
                        cant_dias: $("#Dias").val()
                    },
                    success:function (data) {
                        if (data.ok) {
                            notif({
                                msg: data.mensaje,
                                type: "success",
                                position: "center"
                            });
                            RefrescarDetalles();
                        }
                        else {
                            notif({
                                msg: data.mensaje,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }

            function editarCondicion(codigo) {
                $('#CondicionesTabla').find('tr').find('td').each(function () {
                    if ($(this).index() == 0) {
                        console.log($(this).html());
                        if ($(this).html() == codigo) {

                            $(this).parent('tr').find('td').each(function () {
                                if ($(this).index() == 1) {
                                    var descripcion = $(this).html();
                                    console.log(descripcion);
                                    $(this).html("");
                                    $(this).prepend('<input type="text" id="Descripcion" class="col-md-12" style="padding:0px !important; text-align:left" placeHolder="descripcion"/>');
                                    $('#Descripcion').val(descripcion);
                                }
                                if ($(this).index() == 2) {

                                    var dias = $(this).html();
                                    $(this).html("");
                                    $(this).prepend('<input type="text" id="Dias" class="col-md-12" style="witdh:50px !important;padding:0px !important; text-align:right" placeHolder="Dias"/>');
                                    $('#Dias').val(dias);

                                }

                                if ($(this).index() == 3) {
                                    $(this).html("");

                                    $(this).prepend(
                                        "<div style='display:flex; justify-content:center'><button class='btn btn-success btn-xs' onclick=AddOrEddit('" + codigo + "')>" +
                                        "<span class='glyphicon glyphicon-ok'></span>" +
                                        "</button>" +
                                        "<button class='btn btn-danger btn-xs' onclick=RefrescarDetalles()>" +
                                        "<span class='glyphicon glyphicon-remove'></span>" +
                                        "</button></div>"
                                    );
                                }
                            });
                        }
                    }
                }
              )
            }
            function RefrescarDetalles() {
                dataTableCondicion.ajax.url('/CondicionesPago/GetData').load();
            }
            function eliminarCondicion(codigo) {
                $.ajax({
                    url: "/CondicionesPago/eliminar",
                    datatype: "json",
                    data: { Codigo_Condicion: codigo },
                    success: function (data) {
                        console.log(data);
                        if (data.ok) {
                            notif({
                                msg: data.mensaje,
                                type: "success",
                                position: "center"
                            });
                        }
                        else {
                            notif({
                                msg: data.mensaje,
                                type: "error",
                                position: "center"
                            });
                        }
                        RefrescarDetalles();
                    }
                });
            }
            function CargarCondiciones() {
                dataTableCondicion = $("#CondicionesTabla").DataTable({
                    "destroy": true,
                    "autoWidth": true,
                    "ajax": {
                        "url": "/CondicionesPago/GetData",
                        "type": "GET",
                        "datatype": "json",
                        "data": { Codigo_Condicion: -1 }
                    },

                    "columns": [
                        {
                            "data": "Codigo_Condicion",
                            "title": "Código"
                        },
                        {
                            "data": "Descripcion",
                            "title": "Descripción",
                            "sClass": "mayusculas-texto"
                        },
                        {
                            "data": "Dias",
                            "title": "Dias",
                        },
                        {
                            "data": "Codigo_Condicion",
                            "title": "",
                            "width": "5%",
                            "render": function (data) {
                                return "<a class='btn btn-default btn-xs' onclick=editarCondicion('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                       "<a class='btn btn-danger btn-xs' onclick=eliminarCondicion('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                            },
                        }
                    ],
                    "language": idiomaEspañol,
                    select: 'single',
                    "columnDefs": [
                            { className: "text-center", "targets": [0, 2] },
                    ],
                    initComplete: function () {
                        
                    },
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            text: '<span class="glyphicon glyphicon-plus">',
                            className: 'nuevo',
                            action: function () {
                                AgregarCondicion();
                            }
                        }
                    ],
                    "order": [[1, "asc"]]
                });
            };

            function AgregarCondicion() {
                var html = '<tr>';
                
                html += '<td></td>';
                html += '<td id="data2" style="text-transform:capitalize"><input id="Descripcion" placeholder="Descripcion" /></td>';
                html += '<td id="data13" style="text-align:center"><input id="Dias" placeholder="Dias" /></td>';
                html += '<td style="display:flex; justify-content:center"><button type="button" name="insert" id="" onclick="AddOrEddit(-1)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>' +
                    '<button type="button" onclick="RefrescarDetalles()" name="cancel" id="cancel" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';
                $('#CondicionesTabla tbody').prepend(html);
            }

        </script>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="ConfirmarCondicion">Confirmar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>




