﻿@using MVC_Produccion.Sesiones
@model AccesoDatos.Contexto.Produccion.Insumos

@{
    if (Model.Codigo_Interno_Insumos == 0)
    {
        ViewBag.Title = "Insumos : Nuevo";
    }
    else
    {
        ViewBag.Title = "Insumos : Editar";
    }
    bool muestraCostos = Sesion.UsuarioActual.Muestra_Costos.HasValue ? Sesion.UsuarioActual.Muestra_Costos.Value : false;
    bool esModal = ViewBag.EsModal;
    if (esModal == true)
    {
        Layout = null;
    }
}
@using (Html.BeginForm("AddOrEdit", "Insumos", FormMethod.Post, new { onsubmit = "return SubmitFormInsumos(this)" }))
{
    @Html.HiddenFor(model => model.Codigo_Interno_Insumos)
    @Html.HiddenFor(model => model.Activo)

    <div class="col-md-12 contenedor-insumos-add">
        <!-- CONTENEDOR SUBMIT-->
        <div class="col-md-12 flexible">
            <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                <div class="form-group" style="margin:0px !important">
                    <input type="hidden" id="EsModal" value=@esModal />

                    <input type="submit" value="Confirmar" class="btn btn-primary" id="confirmar-btn" />
                    @if (esModal == false)
                    {
                        <a class="btn btn-default" href="@Url.Action("Index", "Insumos")">Volver</a>
                    }else{
                        <button type="button" class="btn btn-secondary" style="margin-left: 5px" data-dismiss="modal">Volver</button>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-12 flexible">
            <!-- COLUMNA LADO IZQUIERDO-->
            <div class="col-md-9 columna-izquierda">
                <!-- DESCRIPCION GENERAL -->
                <div class="col-md-12 flexible">
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-2 flexible2">
                                <div class="col-md-12 form-medio">
                                    <div class="form-group" style="display:none">
                                        @Html.LabelFor(model => model.Codigo_Interno_Insumos, new { @class = "control-label" })
                                        <div class="col-md-2">@Html.EditorFor(model => model.Codigo_Interno_Insumos, new { htmlAttributes = new { @class = "form-control" } })</div>
                                        @Html.ValidationMessageFor(model => model.Codigo_Interno_Insumos)
                                    </div>
                                    @if (Model.Codigo_Interno_Insumos == 0)
                                    {
                                        <div class="col-md-5 form-medio">
                                            @Html.LabelFor(model => model.Codigo_Insumo, "Código", new { @class = "control-label" }):
                                        </div>
                                        <div class="col-md-7 form-medio">
                                            @Html.EditorFor(model => model.Codigo_Insumo, new { htmlAttributes = new { @class = "form-control", oninput = "SoloNumeros($(this))" } })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-5 form-medio">
                                            @Html.LabelFor(model => model.Codigo_Insumo, "Código", new { @class = "control-label" }):
                                        </div>
                                        <div class="col-md-7 form-medio">
                                            <fieldset disabled>
                                                @Html.EditorFor(model => model.Codigo_Insumo, new { htmlAttributes = new { @class = "form-control" } })
                                            </fieldset>
                                        </div>
                                        <div class="form-group" style="display:none">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Codigo_Insumo, new { @class = "control-label" })
                                                <div class="col-md-2">@Html.EditorFor(model => model.Codigo_Insumo, new { htmlAttributes = new { @class = "form-control" } })</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-4 col-md-offset-4 form-medio">
                                        @Html.ValidationMessageFor(model => model.Codigo_Insumo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="col-md-12 form-medio flexible2">
                                    <div class="col-md-12 form-medio">
                                        <div class="col-md-3 form-medio">@Html.LabelFor(model => model.Descripcion, "Descripción", new { @class = "control-label" }):</div>
                                        <div class="col-md-9 form-medio">@Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @style = "text-transform: capitalize " } })</div>
                                    </div>
                                    <div class="col-md-12 form-medio">
                                        <div class="col-md-10 col-md-offset-2 form-medio">
                                            @Html.ValidationMessageFor(model => model.Descripcion)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-3 form-medio">@Html.LabelFor(model => model.Descripcion_Larga, "Descripción Larga", new { @class = "control-label" }):</div>
                                    <div class="col-md-9 form-medio">@Html.EditorFor(model => model.Descripcion_Larga, new { htmlAttributes = new { @class = "form-control", @style = "text-transform: capitalize " } })</div>
                                    @Html.ValidationMessageFor(model => model.Descripcion_Larga)
                                </div>
                            </div>
                            <div class="col-md-3" style="padding-right:0px !important">
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-11">
                                        @Html.LabelFor(model => model.Materia_Prima, "Es Insumo/Materia Prima", new { @class = "control-label" }):
                                    </div>
                                    <div class="col-md-1 form-medio">
                                        @Html.EditorFor(model => model.Materia_Prima, new { htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                </div>
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-12">
                                        @Html.ValidationMessageFor(model => model.Materia_Prima)
                                    </div>
                                </div>
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-11">
                                        @Html.LabelFor(model => model.Leche, "Es Leche", new { @class = "control-label" }):
                                    </div>
                                    <div class="col-md-1 form-medio">
                                        @Html.EditorFor(model => model.Leche, new { htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                </div>
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-11">
                                        @Html.LabelFor(model => model.Masa, "Es Masa", new { @class = "control-label" }):
                                    </div>
                                    <div class="col-md-1 form-medio">
                                        @Html.EditorFor(model => model.Masa, new { htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TIPO DE INSUMO / PROVEEDORES / LINEA / RUBRO -->
                <div class="col-md-12 flexible">
                    <!-- TIPO DE INSUMO -->
                    <div class="col-md-4 caja-contenedora">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="titulo-caja">Tipo de Insumo</p> <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-medio">
                                    <div class="col-md-3 form-medio" style="padding-left:0px !important">
                                        @Html.LabelFor(model => model.Codigo_Linea, "Línea", new { @class = "control-label" }):
                                    </div>
                                    <div class="input-group col-md-9">
                                        @Html.EditorFor(model => model.Codigo_Linea, new { htmlAttributes = new { @class = "form-control", oninput = "SoloNumeros($(this))", @id = "Codigo_LineaAddOrEdit" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalLineas(1)"><span class="glyphicon glyphicon-search"></span></a></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-medio">
                                    <div style="visibility:hidden" class="col-md-3 form-medio"><b>Línea</b>:</div>
                                    <div class="col-md-9">
                                        @Html.ValidationMessageFor(model => model.Codigo_Linea)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-medio">
                                    <div class="col-md-3 form-medio">
                                        @Html.LabelFor(model => model.Codigo_Rubro, "Rubro", new { @class = "control-label" }):
                                    </div>
                                    <div class="input-group col-md-9">
                                        @Html.EditorFor(model => model.Codigo_Rubro, new { htmlAttributes = new { @class = "form-control", oninput = "SoloNumeros($(this))", @id = "Codigo_RubroAddOrEdit" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalRubros(1)"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-medio">
                                    <div style="visibility:hidden" class="col-md-3 form-medio"><b>Rubro</b>:</div>
                                    <div class="col-md-9">
                                        @Html.ValidationMessageFor(model => model.Codigo_Rubro)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PROVEEDORES -->
                    <div class="col-md-8 caja-contenedora">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="titulo-caja">Proveedores</p> <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-medio">
                                    <div class="col-md-2 form-medio">
                                        @Html.LabelFor(model => model.Codigo_Proveedor, "Habitual", new { @class = "control-label" }):
                                    </div>
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Codigo_Proveedor, new { htmlAttributes = new { @class = "form-control", @id = "tb-prove-habitual", oninput = "SoloNumeros($(this))", @min = "1" } })
                                            <span class="input-group-addon"><a href="#" onclick="AbrirModalProveedores('H')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-right:0px !important">
                                        <div class="col-md-12 form-medio">
                                            <div class="col-md-9">
                                                @Html.LabelFor(model => model.Codigo_Insumo_Proveedor, "Código Insumo Proveedor", new { @class = "control-label" }):
                                            </div>
                                            <div class="col-md-4 form-medio">
                                                @Html.EditorFor(model => model.Codigo_Insumo_Proveedor, new { htmlAttributes = new { @class = "form-control" } })

                                            </div>
                                        </div>
                                        <div class="col-md-12 form-medio">
                                            <div class="col-md-12">
                                                @Html.ValidationMessageFor(model => model.Codigo_Insumo_Proveedor)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 provee-habitual" style="padding-right:0px !important">
                                <p style="text-transform:capitalize" id="prove-habitual-descripcion">@ViewBag.Prove_Habitual</p>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-medio">
                                    <div style="visibility:hidden" class="col-md-2 form-medio"><b>Habitual</b>:</div>
                                    <div class="col-md-3 form-medio">
                                        @Html.ValidationMessageFor(model => model.Codigo_Proveedor)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-medio">
                                    <div class="col-md-2 form-medio">
                                        @Html.LabelFor(model => model.Codigo_Proveedor_Alternativo, "Alternativo", new { @class = "control-label" }):
                                    </div>
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Codigo_Proveedor_Alternativo, new { htmlAttributes = new { @class = "form-control", @id = "tb-prove-alternativo" } })
                                            <span class="input-group-addon"><a href="#" onclick="AbrirModalProveedores('A')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Codigo_Proveedor_Alternativo)
                                    </div>
                                    <div class="col-md-6" style="padding-right:0px !important">
                                        <div class="col-md-12 form-medio">
                                            <div class="col-md-9">
                                                @Html.LabelFor(model => model.Codigo_Insumo_Proveedor_Alt, "Código Insumo Proveedor", new { @class = "control-label" }):
                                            </div>
                                            <div class="col-md-4 form-medio">
                                                @Html.EditorFor(model => model.Codigo_Insumo_Proveedor_Alt, new { htmlAttributes = new { @class = "form-control" } })

                                            </div>
                                        </div>
                                        <div class="col-md-12 form-medio">
                                            <div class="col-md-12">
                                                @Html.ValidationMessageFor(model => model.Codigo_Insumo_Proveedor_Alt)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12 provee-alternativo" style="padding: 0px">
                                    <p style="text-transform:capitalize" id="prove-alternativo-descripcion">@ViewBag.Prove_Alternativo</p>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-medio">
                                        <div style="visibility:hidden" class="col-md-2 form-medio"><b>Habitual</b>:</div>
                                        <div class="col-md-3 form-medio">
                                            @Html.ValidationMessageFor(model => model.Codigo_Proveedor_Alternativo)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-medio">
                                    <div class="col-md-2 form-medio">
                                        @Html.LabelFor(model => model.Codigo_Ultimo_Proveedor, "Último", new { @class = "control-label" }):
                                    </div>
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Codigo_Ultimo_Proveedor, new { htmlAttributes = new { @class = "form-control", @id = "tb-prove-ultimo" } })
                                            <span class="input-group-addon"><a href="#" onclick="AbrirModalProveedores('U')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Codigo_Ultimo_Proveedor)
                                    </div>
                                    <div class="col-md-6 provee-ultimo" style="padding-right:0px !important">
                                        <p style="text-transform:capitalize" id="prove-ultimo-descripcion">@ViewBag.Prove_Ultimo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- UNIDAD DE MEDIDA / IMPUTACION -->
                <div class="col-md-12 flexible">
                    <div class="col-md-12 caja-contenedora">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-medio">
                                    <div class="col-md-2" style="padding:0px !important">
                                        @Html.LabelFor(model => model.Unidad_Medida, "Unidad de Medida", new { @class = "control-label" }):
                                    </div>
                                    <div class="col-md-5 form-medio">
                                        <div class="col-md-12 form-medio">
                                            <fieldset id="Unidad_Medida_Articulo" class="col-md-12">
                                                <div class="col-md-3 form-medio" style="display:flex !important">
                                                    @Html.RadioButtonFor(model => model.Unidad_Medida, "U", new { @id = "UM_Unidad", @name = "Unidad_Medida", @class = "U_Unidad" }) @Html.LabelFor(model => model.Unidad_Medida, "Cantidad", new { @for = "UM_Unidad", @class = "label-data" })
                                                </div>
                                                <div class="col-md-3 form-medio" style="display:flex !important">
                                                    @Html.RadioButtonFor(model => model.Unidad_Medida, "K", new { @id = "UM_Kilos", @name = "Unidad_Medida", @class = "U_Kilos" }) @Html.LabelFor(model => model.Unidad_Medida, "Kilos", new { @for = "UM_Kilos", @class = "label-data" })
                                                </div>
                                                <div class="col-md-3 form-medio" style="display:flex !important">
                                                    @Html.RadioButtonFor(model => model.Unidad_Medida, "L", new { @id = "UM_Litros", @name = "Unidad_Medida", @class = "U_Litros" }) @Html.LabelFor(model => model.Unidad_Medida, "Litros", new { @for = "UM_Litros", @class = "label-data" })
                                                </div>
                                                <div class="col-md-3 form-medio" style="display:flex !important">
                                                    @Html.RadioButtonFor(model => model.Unidad_Medida, "A", new { @id = "UM_Ambos", @name = "Unidad_Medida", @class = "U_Ambos" }) @Html.LabelFor(model => model.Unidad_Medida, "Ambos", new { @for = "UM_Ambos", @class = "label-data" })
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Unidad_Medida)
                                </div>
                            </div>
                        </div>
                        @{
                            if (ViewBag.ImputarCompras == true)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-medio">
                                            <div class="col-md-2" style="padding:0px !important">
                                                @Html.LabelFor(model => model.Codigo_Imputacion, "Imputación", new { @class = "control-label" }):
                                            </div>
                                            <div class="col-md-2 form-medio">
                                                <div class="input-group">
                                                    @Html.EditorFor(model => model.Codigo_Imputacion, new { htmlAttributes = new { @class = "form-control" } })
                                                    <span class="input-group-addon"><a href="#" onclick="AbrirImputacionesModal('Codigo_Imputacion','imputacion-descripcion')"><span class="glyphicon glyphicon-search"></span></a></span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Codigo_Imputacion)
                                            </div>
                                            <div class="col-md-7 imputacion" style="padding-right:0px !important">
                                                <p style="margin:0px !important; text-transform:capitalize" id="imputacion-descripcion">@ViewBag.Imputacion</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-medio">
                                    <div class="col-md-2 form-medio">@Html.LabelFor(model => model.Comentario, "Comentario", new { @class = "control-label" }):</div>
                                    <div class="col-md-10 form-medio">@Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize; overflow:hidden " } })</div>
                                    @Html.ValidationMessageFor(model => model.Comentario)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COLUMNA LADO DERECHO-->
            <div class="col-md-3 columna-derecha">
                <div class="col-md-12 caja-contenedora">
                    <div class="form-group form-medio">
                        <div class="col-md-7" style="padding-left:0px !important">
                            @Html.LabelFor(model => model.Codigo_Iva, "IVA", new { @class = "control-label" }):
                        </div>
                        <div class="col-md-5" style="padding:0px !important">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Iva, new { htmlAttributes = new { @class = "form-control", @id = "tb-iva" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalImpuesto('tb-iva', 'iva-descripcion')"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Codigo_Iva)
                        </div>
                    </div>
                    <div class="form-group form-medio">
                        <div class="col-md-7" style="padding-left:0px !important">
                            @Html.LabelFor(model => model.Codigo_Impuesto_Interno, "Impuesto Interno", new { @class = "control-label" }):
                        </div>
                        <div class="col-md-5" style="padding:0px !important">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Impuesto_Interno, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalImpuesto('Codigo_Impuesto_Interno', '')"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Codigo_Impuesto_Interno)
                        </div>
                    </div>
                    <div style="font-weight:bold; display:flex;">
                        <p>Insc.%:</p><p id="iva-descripcion"></p>
                    </div>
                </div>
                <!--PUNTO DE PEDIDO-->
                <div class="col-md-12 caja-contenedora">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="titulo-caja">Punto de Pedido</p> <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-medio">
                                <div class="col-md-4" style="padding-left:0px !important">
                                    <b>Unidades:</b>
                                </div>
                                <div class="col-md-8" style="padding-right:0px !important">
                                    @Html.EditorFor(model => model.Punto_Pedido, new { htmlAttributes = new { @class = "form-control", @id = "tb-unidades" } })
                                    @Html.ValidationMessageFor(model => model.Punto_Pedido)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-medio">
                                <div class="col-md-4" style="padding-left:0px !important">
                                    <b>Kilos/Litros:</b>
                                </div>
                                <div class="col-md-8" style="padding-right:0px !important">
                                    @Html.EditorFor(model => model.Punto_Pedido, new { htmlAttributes = new { @class = "form-control", @id = "tb-kilos" } })
                                    @Html.ValidationMessageFor(model => model.Punto_Pedido)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--DATOS ÚLTIMA COMPRA-->
                <div class="col-md-12 caja-contenedora">
                    @if (muestraCostos)
                    {

                        <div class="row">
                            <div class="col-md-12">
                                <p class="titulo-caja">Datos Última Compra</p> <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-medio">
                                    <div class="col-md-5" style="padding-left:0px !important">
                                        @Html.LabelFor(model => model.Fecha_Ultima_Compra, "Fecha", new { @class = "control-label", @autocomplete = "off" })
                                    </div>
                                    <div class="col-md-7" style="padding-right:0px !important">
                                        @Html.EditorFor(model => model.Fecha_Ultima_Compra, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                        @Html.ValidationMessageFor(model => model.Fecha_Ultima_Compra)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-medio">
                                    <div class="col-md-5" style="padding:0px !important">
                                        @Html.LabelFor(model => model.Precio_Ultima_Compra, "Precio Costo", new { @class = "control-label" }):
                                    </div>
                                    <div class="col-md-7" style="padding-right:0px !important">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Precio_Ultima_Compra, new { htmlAttributes = new { @class = "form-control", @Value = String.Format("{0:f3}", Model.Precio_Ultima_Compra), @style = "text-align:right" } })
                                        </div>

                                        @Html.ValidationMessageFor(model => model.Precio_Ultima_Compra)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-medio">
                                    <div class="col-md-5" style="padding:0px !important">
                                        @Html.LabelFor(model => model.Precio_Lista, "Precio Lista", new { @class = "control-label" }):
                                    </div>
                                    <div class="col-md-7" style="padding-right:0px !important">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Precio_Lista, new { htmlAttributes = new { @class = "form-control", @Value = String.Format("{0:f3}", Model.Precio_Lista), @style = "text-align:right" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Precio_Lista)
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                    else
                    {
                        @Html.HiddenFor(model => model.Fecha_Ultima_Compra);
                        @Html.HiddenFor(model => model.Precio_Ultima_Compra);
                        @Html.HiddenFor(model => model.Precio_Lista);
                    }
                    <div class="col-md-12 row">
                        <div class="form-group form-medio" style="display:flex; flex-direction:column;">
                            <div class="col-md-12" style="padding:0px !important">
                                @Html.LabelFor(model => model.Precio_Por, "Precio Por", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-12">
                                <fieldset id="Unidad_Medida_Precio_Por">
                                    <div class="col-md-4 form-medio" style="display:flex !important; justify-content:flex-end">
                                        @Html.RadioButtonFor(model => model.Precio_Por, "U", new { @id = "UPP_Unidad", @class = "U_Unidad" }) @Html.LabelFor(model => model.Precio_Por, "Cantidad", new { @class = "label-data", @for = "UPP_Unidad" })
                                    </div>
                                    <div class="col-md-4 form-medio" style="display:flex !important; justify-content:flex-end">
                                        @Html.RadioButtonFor(model => model.Precio_Por, "K", new { @id = "UPP_Kilos", @class = "U_Kilos" }) @Html.LabelFor(model => model.Precio_Por, "Kilos", new { @class = "label-data", @for = "UPP_Kilos" })
                                    </div>
                                    <div class="col-md-4 form-medio" style="display:flex !important; justify-content:flex-end">
                                        @Html.RadioButtonFor(model => model.Precio_Por, "L", new { @id = "UPP_Litros", @class = "U_Litros" }) @Html.LabelFor(model => model.Precio_Por, "Litros", new { @class = "label-data", @for = "UPP_Litros" })
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="form-group form-medio" style="display:flex; flex-direction:column;">
                            <div class="col-md-12" style="padding:0px !important">
                                @Html.LabelFor(model => model.Moneda, "Moneda", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-12 form-group" style="padding:0px !important; margin-top:5px; display:flex; justify-content:flex-end">
                                <fieldset class="col-md-12">
                                    <div class="col-md-4 form-medio" style="display:flex !important; justify-content:flex-end">
                                        @Html.RadioButtonFor(model => model.Moneda, "Pesos", new { @id = "M_Peso" }) @Html.LabelFor(model => model.Moneda, "Pesos", new { @for = "M_Peso", @class = "label-data" })
                                    </div>
                                    <div class="col-md-4 form-medio" style="display:flex !important; justify-content:flex-end">
                                        @Html.RadioButtonFor(model => model.Moneda, "Dólares", new { @id = "M_Dolar" }) @Html.LabelFor(model => model.Moneda, "Dólares", new { @for = "M_Dolar", @class = "label-data" })
                                    </div>
                                    <div class="col-md-4 form-medio" style="display:flex !important; justify-content:flex-end">
                                        @Html.RadioButtonFor(model => model.Moneda, "Euros", new { @id = "M_Euro" }) @Html.LabelFor(model => model.Moneda, "Euros", new { @for = "M_Euro", @class = "label-data" })
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- CONTENEDOR SUBMIT-->
        <div class="col-md-12 flexible">
            <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                <div class="form-group" style="margin:0px !important">
                    <input type="submit" value="Confirmar" class="btn btn-primary" id="confirmar-btn" />
                    @if (esModal == false)
                    {
                        <a class="btn btn-default" href="@Url.Action("Index", "Insumos")">Volver</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary" style="margin-left: 5px" data-dismiss="modal">Volver</button>
                    }
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        <script src="~/Scripts/CorrectorDecimales.js"></script>
        <script>
            function SubmitFormInsumos(form) {
                //VALIDADOR DEL FORMULARIO
                if ('@Model.Codigo_Insumo' == "")
                    if (ExisteInsumo())
                        return false;

                $.validator.unobtrusive.parse(form);
                if ($(form).valid()) {
                    $('#tb-unidades').val($('#tb-unidades').val().toString().replace(".", ","));
                    $('#tb-kilos').val($('#tb-kilos').val().toString().replace(".", ","));
                    $('#Precio_Ultima_Compra').val($('#Precio_Ultima_Compra').val().toString().replace(".", ","));

                    if ($('#Precio_Lista').val() != "") {
                        $('#Precio_Lista').val($('#Precio_Lista').val().toString().replace(".", ","));
                    }

                    $.ajax({
                        type: "POST",
                        url: "/Insumos/AddOrEdit/",
                        data: $(form).serialize(),
                        dataType: "json",
                        success: function (data) {
                            if (data.success) {
                                if ($("#Leche").is(':checked') && $("#Masa").is(':checked')) {
                                    notif({
                                        msg: "No puede elegir ambas opciones, elija Leche, Masa o ninguna",
                                        type: "error",
                                        position: "center"
                                    });
                                    $("#Leche").focus();
                                    return;
                                }

                                if ($("#EsModal").val() == 'True')
                                {
                                    notif({
                                    msg: "Registro modificado correctamente",
                                    type: "success",
                                    position: "center"
                                    });
                                    $('#modalInsumos').modal('hide');
                                }else
                                {
                                    window.location.href = "/Insumos/Index";
                                    notif({
                                        msg: "Registro agregado/modificado correctamente",
                                        type: "success",
                                        position: "center"
                                    });
                                }
                            }
                            else {
                                $.notify(data.error, {
                                    globalPosition: "top center",
                                    className: "error"
                                });
                                    $('#Codigo_Insumo').focus();
                            }
                        }
                    });
                }
                return false;
            }

            ['#Codigo_LineaAddOrEdit', '#Codigo_RubroAddOrEdit', '#tb-prove-habitual', '#tb-prove-alternativo', '#tb-prove-ultimo', '#Codigo_Impuesto_Interno'].forEach(id => {
                if ($(id).val() == 0) $(id).val("");
            });

            function GetUltimo() {
                $.ajax({
                    type: "GET",
                    url: "/Insumos/GetUltimo/",
                    success: function (data) {
                        if (data.success) {
                            $('#Codigo_Insumo').val(parseInt(data.data) + 1);
                        }
                        else {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })
                        }
                    }
                });
            }
            function ExisteInsumo() {
                $.ajax({
                    type: "GET",
                    url: "/Insumos/GetOne/",
                    data: {
                        Codigo_Insumo: $("#Codigo_Insumo").val()
                    },
                    success: function (data) {
                        if (data.success) {
                            notif({
                                msg: "Ya existe un Articulo con ese Codigo.",
                                type: "error",
                                position: "center"
                            });
                            $("#Codigo_Insumo").focus();
                            return true;
                        }
                        else
                            return false;
                    }
                });
            }

            function SincronizarUnidad(activar,desactivar) {
                if (!$('#U_Ambos').is(":checked")) {
                    $(`#${desactivar}`).prop("checked", false);
                    $(`#${activar}`).prop("checked", true);
                }
                VerificarPrecioPor();
            }
            function Sincronizar(activar, desactivar) {
                $(`#${desactivar}`).prop("checked", false);
                $(`#${activar}`).prop("checked", true);
                VerificarPrecioPor();
            }

            $(document).ready(function () {

                /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/
                $(document).on("keypress", 'form', function (e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        e.preventDefault();
                        return false;
                    }
                    if (code == 9) {
                        e.preventDefault();
                        return false;
                    }

                });
                $("#Codigo_Insumo").change(ExisteInsumo);
                SaltosEnFormulario();
                VerificarPrecioPor();
                $('#Codigo_Insumo').focus();
                $('#Codigo_Insumo').numeric();
                $('#Precio_Ultima_Compra').numeric();
                $('#Precio_Lista').numeric();
                $('#tb-kilos').numeric();
                $('#tb-unidades').numeric();
                $('#Fecha_Ultima_Compra').datepicker();

                $("#Unidad_Medida_Articulo input[type=radio]").on("click", function () {
                let unidad = "";
                if ($(this).hasClass("U_Unidad")) {
                     unidad = "U_Unidad";
                    } else if ($(this).hasClass("U_Kilos")) {
                     unidad = "U_Kilos";
                    } else if ($(this).hasClass("U_Litros")) {
                     unidad = "U_Litros";
                    }

                $(`#Unidad_Medida_Precio_Por input[type=radio].${unidad}`).prop("checked", true);
                 VerificarPrecioPor();
                });

                $("#Unidad_Medida_Precio_Por input[type=radio]").on("click", function () {
                    let unidad = "";
                    if ($(this).hasClass("U_Unidad")) {
                        unidad = "U_Unidad";
                    } else if ($(this).hasClass("U_Kilos")) {
                        unidad = "U_Kilos";
                    } else if ($(this).hasClass("U_Litros")) {
                        unidad = "U_Litros";
                    }

                    $(`#Unidad_Medida_Articulo input[type=radio].${unidad}`).prop("checked", true);

                    VerificarPrecioPor();
                });
            })
        /*PASA A SIGUIENTE INPUT AL DAR ENTER*/

        function SaltosEnFormulario() {
            $("#Codigo_Insumo").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Codigo_Insumo_Proveedor').focus();
                }
            });
            $("#Codigo_Insumo_Proveedor").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Descripcion').focus();
                }
            });
            $("#Descripcion").keyup(function (e) {
                if (e.keyCode == 9) {
                    $('#Descripcion_Larga').val($('#Descripcion').val());
                }

                if (e.keyCode == 13) {
                    $('#Descripcion_Larga').val($('#Descripcion').val());
                    $('#Descripcion_Larga').focus();
                }

                $(document).on("keypress", 'form', function (e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        e.preventDefault();
                        return false;
                    }

                    if (code == 9) {
                        e.preventDefault();
                        return false;
                    }
                });
            });


            $("#Descripcion_Larga").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Codigo_LineaAddOrEdit').focus();
                }
            });

            $("#Unidad_Medida").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Codigo_Imputacion').focus();
                }
            });

            $("#Comentario").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#btn-IVA').focus();
                }
            });
            $("#Precio_Ultima_Compra").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Precio_Lista').focus();
                }
            });

            $("#Precio_Lista").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#unidades').focus();
                }
            });

            $("#tb-unidades").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#peso').focus();
                }
            });

            $("#tb-kilos").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#peso').focus();
                }
            });

            $("#tb-prove-habitual").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "POST",
                        url: "/Proveedores/GetOne/",
                        data: { Codigo_Proveedor: $('#tb-prove-habitual').val() },
                        success: function (data) {
                            if (data.success) {
                                $('#prove-habitual-descripcion').html(data.data.RAZON_SOCIAL);
                            }
                            else {
                                notif({
                                    msg: "No existe proveedor con el Código ingresado.",
                                    type: "error",
                                    position: "center"
                                });

                                $('#tb-prove-habitual').focus();
                            }
                        }
                    });
                }
            });


            $("#tb-prove-alternativo").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "POST",
                        url: "/Proveedores/GetOne/",
                        data: { Codigo_Proveedor: $('#tb-prove-alternativo').val() },
                        success: function (data) {
                            if (data.success) {
                                $('#prove-alternativo-descripcion').html(data.data.RAZON_SOCIAL);
                            }
                            else {
                                notif({
                                    msg: "No existe proveedor con el Código ingresado.",
                                    type: "error",
                                    position: "center"
                                });

                                $('#tb-prove-alternativo').focus();
                            }
                        }
                    });
                }
            });

            $("#tb-prove-ultimo").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "POST",
                        url: "/Proveedores/GetOne/",
                        data: { Codigo_Proveedor: $('#tb-prove-ultimo').val() },
                        success: function (data) {
                            if (data.success) {
                                $('#prove-ultimo-descripcion').html(data.data.RAZON_SOCIAL);
                                $('#Codigo_Imputacion').focus();
                            }
                            else {
                                notif({
                                    msg: "No existe proveedor con el Código ingresado.",
                                    type: "error",
                                    position: "center"
                                });

                                $('#tb-prove-ultimo').focus();
                            }
                        }
                    });
                }
            });

            $("#Codigo_Imputacion").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "POST",
                        url: "/Imputaciones/GetOne/",
                        data: { Codigo: $('#Codigo_Imputacion').val() },
                        success: function (data) {
                            if (data.success) {
                                $('#imputacion-descripcion').html(data.data.DESCRIPCION);
                                $('#Comentario').focus();
                            }
                            else {
                                notif({
                                    msg: "No existe imputación con el Código ingresado.",
                                    type: "error",
                                    position: "center"
                                });

                                $('#Codigo_Imputacion').focus();

                            }
                        }
                    });
                }
            });

            $("#Codigo_LineaAddOrEdit").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "POST",
                        url: "/Lineas/GetData/",
                        data: { Codigo_Linea: $('#Codigo_LineaAddOrEdit').val() },
                        success: function (data) {
                            if (data.success) {
                                $('#Codigo_RubroAddOrEdit').focus();
                            }
                            else {

                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });

                                $('#Codigo_LineaAddOrEdit').focus();

                                return;

                            }
                        }
                    });
                }
            });

            $("#Codigo_RubroAddOrEdit").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "POST",
                        url: "/Rubros/GetData/",
                        data: { Codigo_Rubro: $('#Codigo_RubroAddOrEdit').val() },
                        success: function (data) {
                            if (data.success) {
                                $('#tb-prove-habitual').focus();
                            }
                            else {

                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });

                                $('#Codigo_RubroAddOrEdit').focus();

                                return;

                            }
                        }
                    });
                }
            });
        }

        if ($("#Masa").is(':checked')) {
            $("#Leche").prop('checked', false)
        }

        if ($("#Leche").is(':checked')) {
            $("#Masa").prop('checked', false)
        }

        </script>
    }
}