﻿@using MVC_Produccion.ContextoProduccion
@using MVC_Produccion.Sesiones

@{
    ViewBag.Title = "Insumos : Listado";

    Entities db = new Entities();
    bool muestraCostos = Sesion.UsuarioActual.Muestra_Costos.HasValue ? Sesion.UsuarioActual.Muestra_Costos.Value : false;
}

<h2>Artículos</h2>
<div id="dropdownEstados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
</div>
<table id="InsumosTabla" class="display compact" style="width:100%">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descripción</th>
            @if (muestraCostos)
            {
                <th>Moneda</th>
                <th>Precio Costo</th>
            }
            <th>Proveedor</th>
            <th>Herramientas</th>
        </tr>
    </thead>
</table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Delete()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Verificacion Delete-->
<div class="modal fade" id="modalVerificarBorrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="DeleteInsumos()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script src="~/Scripts/Insumos/Index.js"></script>

    <script>
        dataTableInsumos = null;
        function CambiarEstadoInsumo(codigo) {
            $.ajax({
                url: "/Insumos/CambiarEstado",
                data: {
                    Codigo_Insumo: codigo
                },
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: "Se cambio Correctamente de Estado",
                            type: "success",
                            position: "center"
                        });
                        $("#ListadoEstados").val("true");
                        //$("#ListadoEstados option[value=" + '"true"' + "]").attr("selected", true);
                        // $("#ListadoEstados option:contains(Activo)").attr('selected', true);
                        dataTableInsumos.ajax.url('/Insumos/GetData').load();
                    }
                    else {
                        if (data.message == "Iniciar Sesion") {
                            AbrirModalLogin();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            })
        }

        function CargarInsumosIndex() {
            dataTableInsumos = $("#InsumosTabla").DataTable({
                        "autoWidth": true,
                        "destroy": true,
                        "ajax": {
                            "url": "/Insumos/GetData",
                            "type": "GET",
                            "datatype": "json"
                        },
                        "columns": [
                             //{
                             //    "class": "details-control",
                             //    "orderable": false,
                             //    "data": "1",
                             //    "defaultContent": ""
                             //},
                            {
                                "data": "Codigo_Insumo",
                                "width": "15%",
                                render: function (data) {
                                    if (data == null) {
                                        return "";
                                    }
                                    else {
                                        return data;
                                    }
                                }
                            },
                            {
                                "data": "Descripcion",
                                "sClass": "mayusculas-texto",
                                render: function (data) {
                                    if (data == null) {
                                        return "";
                                    }
                                    else {
                                        return data;
                                    }
                                }
                            },

                           
                            @if (muestraCostos)
                            {
                                    <Text>
                            {
                                "data": "Moneda",
                                "sClass": "mayusculas-texto",
                                "render": function (data) {
                                    return data ? data : "-";
                                }
                            },
                                    {
                                        "data": "Precio_Ultima_Compra",
                                        "render": function (data) {
                                            if (data == null) {
                                                return "";
                                            }
                                            else {
                                                return "<div style='width:100%; padding-right:10px'>" + parseFloat(data).toFixed(4) + "</div>"
                                            }
                                        }
                                    },

                                    </Text>
                            }
                            { "data": "RAZON_SOCIAL" },
                            {

                                "width": "250px",
                                "render": function (data, type, row, meta) {
                                    if (row.Activo)
                                        return "<a class='btn btn-default btn-sm' href='/Insumos/AddOrEdit/" + row.Codigo_Insumo + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                            //"<a class='btn btn-danger btn-sm' onclick=modificarInput('" + row.Codigo_Insumo + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>" +
                                            "<a class='btn btn-warning btn-sm' onclick=CambiarEstadoInsumo('" + row.Codigo_Insumo + "')><span>Desactivar</span></a>";
                                    else
                                        return "<a class='btn btn-default btn-sm' href='/Insumos/AddOrEdit/" + row.Codigo_Insumo + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                         //"<a class='btn btn-danger btn-sm' onclick=modificarInput('" + row.Codigo_Insumo + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>" +
                                         "<a class='btn btn-success btn-sm' onclick=CambiarEstadoInsumo('" + row.Codigo_Insumo + "')><span>Activar</span></a>";


                                },
                            }
                        ],
                        "columnDefs": [
                            { className: "text-right", "targets": [3] },
                            { className: "text-center", "targets": [0, 1] }
                        ],
                        "order": [[1, 'asc']],
                        "language": idiomaEspañol,
                        dom: 'Bfrtip',
                        select : 'multiple',
                        buttons: [
                            {
                                text: '<span class="glyphicon glyphicon-plus">',
                                className: 'nuevo',
                                action: function () {
                                    window.location.href = "/Insumos/AddOrEdit/";
                                }
                            },
                            {
                                text: 'Reiniciar <span class="glyphicon glyphicon-refresh">',
                                className: '',
                                action: function () {
                                    dataTableInsumos.ajax.url('/Insumos/GetData').load();

                                }
                            },
                            //{
                            //    text: 'Borrar <span class="glyphicon glyphicon-trash">',
                            //    className: 'btn-borrar',
                            //    action: function () {
                            //        $('#modalVerificarBorrar').modal('toggle');
                            //    }
                            //},
                            {
                                text: $('#dropdownEstados').html(),
                                className: 'botonDropdown'

                            }
                        ],
                        "order": [[2, "asc"]],
                        initComplete: function (data) {
                            $('div.dataTables_filter input').focus();
                            $('#dropdownEstados').html("");

                            $("#ListadoEstados").change(function () {
                                console.log("changed: ", $('option:selected', this).val());
                                estado = $('option:selected', this).val();
                                dataTableInsumos.ajax.url('/Insumos/GetData?estado='+ estado).load();

                            });
                        }

                    });
                    // Array to track the ids of the details displayed rows
                    var detailRows = [];

                    $('#InsumosTabla tbody').on('click', 'tr td.details-control', function () {
                        var tr = $(this).closest('tr');
                        var row = dataTableInsumos.row(tr);
                        var idx = $.inArray(tr.attr('id'), detailRows);
                        console.log(row.data());
                        if (row.child.isShown()) {
                            tr.removeClass('details');
                            row.child.hide();

                            // Remove from the 'open' array
                            detailRows.splice(idx, 1);
                        }
                        else {
                            tr.addClass('details');
                            let nuevo_formato = format(row.data());
                            console.log(nuevo_formato);
                            row.child(nuevo_formato).show();

                            // Add to the 'open' array
                            if (idx === -1) {
                                detailRows.push(tr.attr('id'));
                            }
                        }
                    });

                    // On each draw, loop over the `detailRows` array and show any child rows
            dataTableInsumos.on('draw', function () {
                        $.each(detailRows, function (i, id) {
                            $('#' + id + ' td.details-control').trigger('click');
                        });
                    });

                    $('#InsumosTabla tbody').on('click', 'tr', function () {
                        VerificarFilasSeleccionadas();
                    });



            //MUESTRA INFORMACIÓN ADICIONAL
            /*
            $('#InsumosTabla tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = dataTableInsumos.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });*/
        };

        function VerificarFilasSeleccionadas() {

            var bandera = false;

            $('#InsumosTabla').find('tr.selected').each(function () {
                bandera = true;
            });

            if (bandera == true) {

                $('.btn-borrar').prop("disabled", false);
                $(".btn-borrar").addClass("rojo");
            }
        }

        function DeleteInsumos() {
            var bandera = false;

            $('#InsumosTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {

                    bandera = true;
                }
            });

            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });

                return;
            }
            else {

                $('#InsumosTabla').find('tr.selected').find('td').each(function () {
                    if ($(this).index() == 1) {

                        $.ajax({
                            type: "POST",
                            url: "/Insumos/Delete",
                            data: { Codigo_Insumo: $(this).html() },
                            success: function (data) {
                                if (data.success) {
                                    $("#ListadoEstados").val("true");
                                    dataTableInsumos.ajax.url('/Insumos/GetData').load();

                                    notif({
                                        msg: data.message,
                                        type: "success",
                                        position: "center"
                                    });

                                    $('#modalVerificarBorrar').modal('hide');
                                }
                                else {
                                    notif({
                                        msg: data.message,
                                        type: "error",
                                        position: "center"
                                    });
                                }

                            }
                        });
                    }
                });


            }
        }

        function MostrarMensaje() {
            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };

        $(document).ready(function () {

            $('.btn-borrar').prop("disabled", true);

            CargarInsumosIndex();


            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje();
            }
        });

    </script>
}
