﻿@model AccesoDatos.Contexto.Produccion.Produccion_Ricota
@using MVC_Produccion.Sesiones
@using System.Linq
@using System.Globalization
@using AccesoDatos.Contexto.Produccion.SP;
@{
    dbProdSP db = new dbProdSP();
    if (Model.Codigo_Interno_Produccion == 0)
    {
        ViewBag.Title = "Producciones : Nuevo";
    }
    else
    {
        ViewBag.Title = "Producciones : Editar";
    }
}
@using (Html.BeginForm("AddOrEdit", "ProduccionesRicota", FormMethod.Post, new { id = "FormNuevo" }))
{
    @Html.HiddenFor(model => model.Produccion.Historico)
    <div class="col-md-12 contenedor-producciones-add">
        <div class="col-md-12 flexible2">
            <!-- CONTENEDOR SUBMIT-->
            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <a onclick="Confirmar_Produccion_Ricota();" class="AddProduccion btn btn-primary">Confirmar</a>
                        <a class="btn btn-default" href="@Url.Action("Index", "ProduccionesRicota")">Volver</a>
                    </div>
                </div>
            </div>
            <!--FABRICA / NUMERO PLANILLA / FECHA / LOTE / PRODUCTO / QUESERO / ESTADO-->
            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Codigo_Interno_Produccion, new { @class = "control-label" })
                @Html.EditorFor(model => model.Codigo_Interno_Produccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Codigo_Interno_Produccion)
            </div>

            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Produccion.Codigo_Interno_Produccion, new { @class = "control-label" })
                @Html.EditorFor(model => model.Produccion.Codigo_Interno_Produccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Produccion.Codigo_Interno_Produccion)
            </div>

            <fieldset class="scheduler-border caja-contenedora" style="margin-bottom:10px !important">
                <legend class="scheduler-border">Encabezado</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <div class="col-md-2 form-medio">
                                @Html.Label("Fábrica:", htmlAttributes: new { @class = "control-label" })
                            </div>
                            @{
                                if (Model.Codigo_Interno_Produccion != 0)
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Produccion.Codigo_Fabrica, new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-addon" id="buscadorFabrica">
                                                <a href="#" id="btn-fabrica" onclick="AbrirModalFabricas('Produccion_Codigo_Fabrica')">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="fabrica-descripcion">
                                            @{
                                                if (Model.Produccion.Fabricas != null)
                                                {
                                                    <text>
                                                        @Model.Produccion.Fabricas.Descripcion
                                                    </text>
                                                }
                                            }
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Produccion.Codigo_Fabrica, new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-addon" id="buscadorFabrica">
                                                <a href="#" id="btn-fabrica" onclick="AbrirModalFabricas('Produccion_Codigo_Fabrica')">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="fabrica-descripcion"></p>
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="form-medio">
                                <div class="col-md-4 col-md-offset-1 form-medio">
                                    @Html.LabelFor(model => model.Produccion.Fecha, "Fecha:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-6 form-medio">
                                    @Html.EditorFor(model => model.Produccion.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 form-medio flexible2">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Produccion.Nro_Planilla, "Número de Planilla:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @if (Model.Codigo_Interno_Produccion == 0 && !ViewBag.NroAuto)
                                    {
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @disabled = "disabled", @id = "Nro_Planilla_Editar" } })
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                    }
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(model => model.Produccion.Nro_Planilla)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio" style="flex-direction:column !important">
                            @if (Model.Codigo_Interno_Produccion == 0)
                            {
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-3 form-medio">
                                        @Html.LabelFor(model => model.Produccion.Lote, "Lote:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-9 form-medio">
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.EditorFor(model => model.Produccion.Lote_Padre, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })

                                    </div>
                                </div>
                                <div class="col-md-12 form-medio">
                                    @Html.ValidationMessageFor(model => model.Produccion.Lote)
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-3 form-medio">
                                        @Html.LabelFor(model => model.Produccion.Lote, "Lote:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-9 form-medio">
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @id = "LoteEditar" } })
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                        @Html.ValidationMessageFor(model => model.Produccion.Lote)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <div class="col-md-2 form-medio">
                                @Html.Label("Producto:", htmlAttributes: new { @class = "control-label", @for = "Codigo_Producto" })
                            </div>

                            @{
                                if (Model.Codigo_Interno_Produccion != 0)
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            <input class="form-control" type="number" name="Codigo_Producto" id="Codigo_Producto" style="text-align:right" value="@Model.Produccion.Formulas.Codigo_Producto" />
                                            <span class="input-group-addon" id="buscadorProducto"><a href="#" id="btn-producto" onclick="AbrirModalFormulas('R')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="producto-descripcion">
                                            @{
                                                if (Model.Produccion.Formulas.Productos != null)
                                                {
                                                    <text>
                                                        @Model.Produccion.Formulas.Productos.Descripcion
                                                    </text>
                                                }
                                            }
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            <input class="form-control" type="number" name="Codigo_Producto" id="Codigo_Producto" style="text-align:right" />
                                            <span class="input-group-addon" id="buscadorProducto"><a href="#" id="btn-producto" onclick="AbrirModalFormulas('R')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="producto-descripcion"></p>
                                    </div>
                                }
                            }

                        </div>
                        <div class="col-md-4 col-md-offset-3 form-medio flexible2" style="justify-content:flex-end">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-3 form-medio">
                                    @Html.LabelFor(model => model.Produccion.Codigo_Quesero, "Responsable:", new { @class = "control-label" })
                                </div>

                                <div class="col-md-9 form-medio">
                                    @Html.DropDownListFor(model => model.Produccion.Codigo_Quesero, new SelectList(ViewBag.queseros, "Codigo_Quesero", "Nombre"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(model => model.Produccion.Codigo_Quesero)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="col-md-12 caja-sector-modal caja-contenedora flexible2">
                <div class="col-md-12 form-medio form-group">
                    <div class="col-md-2 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.Litros_Suero, "Litros Suero:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Litros_Suero, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", oninput = "SoloNumeros($(this))" } })
                            @Html.ValidationMessageFor(model => model.Litros_Suero)
                        </div>
                    </div>
                    <div class="col-md-2 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.Litros_Tina, "Litros Leche:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Litros_Tina, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", oninput = "SoloNumeros($(this))" } })
                            @Html.ValidationMessageFor(model => model.Litros_Tina)
                        </div>
                    </div>
                    <div class="col-md-2 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.Label("Fecha_Vencimiento", "Fecha Venc.:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Fecha_Vencimiento, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                        </div>
                    </div>
                    <div class="col-md-1 form-medio">
                        <div class="col-md-4 form-medio">
                            @Html.Label("Silo:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-7 form-medio">
                            @Html.EditorFor(model => model.Codigo_Silo, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", min = "1", @type = "number" } })
                        </div>
                    </div>
                    <div class="col-md-1 form-medio">
                        <div class="col-md-4 form-medio">
                            @Html.Label("Tina:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-7 form-medio">
                            @Html.EditorFor(model => model.Tina, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", oninput = "SoloNumeros($(this))" } })
                        </div>
                    </div>
                    <div class="col-md-2 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.Label("Porcentaje_Solidos", "Porcent. Sólidos:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Porcentaje_Solidos, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", oninput = "SoloNumeros($(this))" } })
                        </div>
                    </div>
                    <div class="col-md-2 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.Label("Factor_Concentracion", "Factor Concent.:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Factor_Concentracion, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", oninput = "SoloNumeros($(this))" } })
                            <input type="hidden" id="Factor" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 caja-sector-modal caja-contenedora flexible2">
                <div class="col-md-12 form-medio">
                    <div class="col-md-2 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.Label("Temp. Corte:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Temperatura_Corte, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                        </div>
                    </div>
                    <div class="col-md-2 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.Label("Acidez Inicial:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Acidez_Inicial, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", oninput = "SoloNumeros($(this))" } })
                        </div>
                    </div>
                    <div class="col-md-2 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.Label("Acidez Final:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Acidez_Final, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", oninput = "SoloNumeros($(this))" } })
                        </div>
                    </div>
                    <div class="col-md-2 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.Label("Hora Inicio:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Hora_Inicio, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @type = "time" } })
                        </div>
                    </div>
                    <div class="col-md-2 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.Label("Hora Final:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Hora_Final, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @type = "time" } })
                        </div>
                    </div>
                </div>
            </div>
            <!--PIEZAS OBTENIDAS / KILOS TEORICOS / KILOS REALES -->
            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Rinde</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-2 form-medio">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.Kilos_Teoricos, "Kilos Teóricos:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Kilos_Teoricos, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Kilos_Teoricos)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Kilos_Reales, "Kilos Reales:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Kilos_Reales, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", oninput = "SoloNumeros($(this))" } })
                                @Html.ValidationMessageFor(model => model.Kilos_Reales)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio" id="div_unidades">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Piezas_Obtenidas, "Unidades:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Piezas_Obtenidas, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", oninput = "SoloNumeros($(this))" } })
                                @Html.ValidationMessageFor(model => model.Piezas_Obtenidas)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!--Observacion -->
            <div class="col-md-12 caja-contenedora">
                <input class="collapseGroupCheck" type="checkbox" value="" id="collapseOneCheck" data-target=".collapseOne">
                <label for="Produccion.Observacion" class="noselect">Ver Observación</label>
                <div class="panel-group" id="accordion">
                    <div id="infoObservacion" class="collapseOne panel-collapse collapse">
                        <div class="col-md-6">
                            <textarea name="Produccion.Observacion" value="" style="width: 90%; height: 211px; padding: 12px 20px; box-sizing: border-box;
                                border: 2px solid #ccc; border-radius: 4px;
                                background-color: #f8f8f8; font-size: 16px;  " id="textAreaObservacion" rows="5" placeholder="Por favor ingrese una observación">@{if (Model.Produccion.Observacion != null) {<text> @Model.Produccion.Observacion</text> }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--LISTADOS -->
            <div class="col-md-12 caja-contenedora" id="checkDesglose">
                <input type="checkbox" id="cb-desglose" /> <label for="cb-desglose" class="noselect">Desglosar la Producción</label>
            </div>
            <div class="col-md-12 caja-contenedora" id="DivDesglose" style="display:none;">
                <h3>Desglosar la Producción</h3>
                <!--button class="btn btn-success" id="AgregarDesglose" style="margin-bottom:5px;"><span><span class="glyphicon glyphicon-plus"></span></span></button-->
                <table id="DesgloseTabla" class="display compact table" style="width:850px">
                    <thead>
                        <tr>
                            <th style="width:150px;">Producto</th>
                            <th>Producto</th>
                            <th style="width:100px;">Cantidad</th>
                            <th style="width:100px;">Kilos</th>
                            <th style="width:120px;">Lote</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="padding-top:5px;" id="filaDesglose">
                            <td>
                                <div class="input-group">
                                    <input class="form-control text-box single-line" type="number" id="Producto_Desglose" placeholder="Producto" style="padding:10px 10px !important;" />
                                    <span class="input-group-addon" autocomplete="off"><a href="#" onclick="AbrirModalProds(ConfirmarProdDesglose)"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </td>
                            <td>
                                <label id="Label_Producto_Desglose" style="margin-left:10px;"> </label>
                            </td>
                            <td>
                                <input class="form-control text-box single-line" id="Cantidad_Desglose" type="number" placeholder="Cantidad" style="text-align:right;padding:10px 10px !important;" autocomplete="off" />
                            </td>
                            <td>
                                <input class="form-control text-box single-line" id="Kilos_Desglose" placeholder="Kilos" type="number" style="text-align:right;padding:10px 10px !important;" autocomplete="off" />
                            </td>
                            <td>
                                <input class="form-control text-box single-line" id="Lote_Desglose" placeholder="Lote" type="text" style="text-align:right;padding:10px 10px !important;" autocomplete="off" />
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="DivDesgloseData">
            </div>
            <div class="col-md-12 caja-contenedora" id="InsumosConsumidosDiv">
            </div>
            <div class="col-md-12 caja-contenedora" id="ProductosAsociados">
                <table id="InsumosAsociadosTabla" class="display compact" style="width:100%;"></table>
            </div>
            <!-- LISTADOS PARA ENVIAR AL CONTROLADOR -->
            <div id="DetallesProduccion" style="display:none"></div>
            <div id="Mov_Ins_Asoc" style="display:none"></div>
            <!-- CONTENEDOR SUBMIT-->
            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <a onclick="Confirmar_Produccion_Ricota();" class="AddProduccion btn btn-primary">Confirmar</a>
                        <a class="btn btn-default" href="@Url.Action("Index", "ProduccionesRicota")">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>  }
<!-- Modal Detalles-->
<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:900px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Detalles</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA DETALLES -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="DetallesFormulaTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarAjustes()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/CorrectorDecimales.js"></script>

    <script>
        var Codigo_Producto_Seleccionado = '';
        var listadoDetalles = [];
        var Codigo_Familia = @ViewBag.Codigo_Familia;
        var dataTableDetalles = [];
        var dataTableFormulas = [];
        var dataTableAjustes = [];
        var dataTableProductosFormula = [];
        var listadoProductosFormula = [];
        var Producto = [];
        var ListadoDetalles = [];
        var KilosRestantes = 0;
        var PiezasRestantes = 0;
        var listadoCostosIndirectosProduccion = [];

        $("#collapseOneCheck").on('click', function () {
            if (this.checked)
                $('#infoObservacion').show();
            else
                $('#infoObservacion').hide();

        });
        $('#cb-desglose').change(function () {
            if ($("#Piezas_Obtenidas").val() == '' || (parseFloat($("#Kilos_Reales").val().replace(',', '.')) == 0)) {
                notif({
                    msg: "Por favor ingrese Piezas o kilos antes de desglosar",
                    type: "error",
                    position: "center"
                });
                $('#cb-desglose').prop('checked', false);
                $('#DivDesglose').hide();

            } else {
                if (this.checked) {
                    $('#DivDesglose').show();
                    $('#Kilos_Reales').attr('required', true);
                }

                else {
                    $('#DivDesglose').hide();
                    $('#Kilos_Reales').attr('required', false);
                }
            }
        });

        function BorrarDesglose(td) {
            let kilos = parseFloat($(td).parent().parent().find("#td-kilos").text());
            totalKilosDesglose -= kilos;

            let cant = parseFloat($(td).parent().parent().find("#td-cantidad").text());
            cantidadTotalDesglose -= cant;

            if (parseFloat($("#Piezas_Obtenidas").val()) > cantidadTotalDesglose || parseFloat($("#Kilos_Reales").val().replace(',', '.')) > totalKilosDesglose)
                $('#filaDesglose').show();

            $(td).parent().parent().remove();
        }

        $("#Producto_Desglose").keyup(function (e) {
            if (e.keyCode == 13)
                getProductoDesglose();
        });

        $("#Lote_Desglose").keyup(function (e) {
            if (e.keyCode == 13) {

                $.ajax({
                    type: "GET",
                    url: "/Producciones/ExisteProduccion/",
                    data: { Lote: $('#Lote_Desglose').val() },
                    success: function (data) {
                        if (data == true) {
                            var existe = 0;
                            if ($('#Produccion_Lote').val().trim() == $('#Lote_Desglose').val().trim()) {
                                notif({
                                    msg: "El Lote del desglose no puede ser igual al Lote Padre!",
                                    type: "error",
                                    position: "center"
                                });
                                $('#Lote_Desglose').focus();

                                existe = 1;
                            }
                            if ($('#DesgloseTabla #td-producto').length == 0 && existe == 0)
                                agregarFilaDesglose();
                            else {
                                $('#DesgloseTabla #td-producto').each(function (index) {
                                    if ($(this).text().trim() == $('#Producto_Desglose').val().trim()) {
                                        notif({
                                            msg: "Ya existe el producto en el desglose!",
                                            type: "error",
                                            position: "center"
                                        });
                                        existe = 1;
                                    }
                                });
                                if (existe == 0)
                                    $('#DesgloseTabla #td-lote').each(function (index) {
                                        if ($(this).text().trim() == $('#Lote_Desglose').val().trim()) {
                                            notif({
                                                msg: "Ya existe el lote en el desglose!",
                                                type: "error",
                                                position: "center"
                                            });
                                            existe = 1;
                                        }
                                    });
                                if (existe == 0)
                                    agregarFilaDesglose();
                            }
                        }
                        else if (data == 'Ya existe.')
                            notif({
                                msg: "Ya existe el Lote en el sistema!",
                                type: "error",
                                position: "center"
                            });
                        else
                            notif({
                                msg: "Error comprobando si existe el Lote.",
                                type: "error",
                                position: "center"
                            });
                    }
                });
            }
        });
        let totalKilosDesglose = 0;
        let kilosADesglosar = 0;
        let cantidadTotalDesglose = 0;
        let error;
        function agregarFilaDesglose() {
            error = 0;
            if ($('#Producto_Desglose').val().trim() == '') {
                notif({
                    msg: "Debe Ingresar Producto",
                    type: "error",
                    position: "center"
                });
                $('#Producto_Desglose').focus();
                error = 1;
                return;
            }
            if ($('#Cantidad_Desglose').val().trim() == '') {
                notif({
                    msg: "Debe Ingresar Cantidad",
                    type: "error",
                    position: "center"
                });
                $('#Cantidad_Desglose').focus();
                error = 1;
                return;
            }
            if ($('#Kilos_Desglose').val().trim() == '') {
                notif({
                    msg: "Debe Ingresar Kilos",
                    type: "error",
                    position: "center"
                });
                $('#Kilos_Desglose').focus();
                error = 1;
                return;
            }
            if ($('#Lote_Desglose').val().trim() == '') {
                notif({
                    msg: "Debe Ingresar Lote",
                    type: "error",
                    position: "center"
                });
                $('#Lote_Desglose').focus();
                error = 1;
                return;
            }
            var kilosADesglosar = 0;
            @if (!ViewBag.Envasa_Sin_Kilos)
             {
                <text>
                    kilosADesglosar = parseFloat($("#Kilos_Reales").val().replace(',', '.'));
                </text>
             }else {
                <text>
                    $("#Kilos_Reales").removeAttr("required");
                    if (parseFloat($("#Kilos_Reales").val().replace(',', '.')) > 0)
                        kilosADesglosar = parseFloat($("#Kilos_Reales").val().replace(',', '.'));
                </text>
             }
                var cantidadADesglosar = parseFloat($("#Piezas_Obtenidas").val());
                let kilos = $('#Kilos_Desglose').val() == "" ? 0 : $('#Kilos_Desglose').val().trim();
                let cant = $('#Cantidad_Desglose').val() == "" ? 0 : $('#Cantidad_Desglose').val().trim();
                if (error != 1) {
                    totalKilosDesglose += parseFloat(kilos);
                    cantidadTotalDesglose += parseFloat(cant);
                }
                if (kilosADesglosar != 0) {
                    if (totalKilosDesglose > kilosADesglosar) {
                        notif({
                            msg: "Se están desglosando más kilos de los producidos",
                        type: "error",
                        position: "center"
                        });
                    $('#Kilos_Desglose').focus();
                        totalKilosDesglose -= parseFloat(kilos);
                        cantidadTotalDesglose -= parseFloat(cant);

                        return;
                    }
                }
                if (cantidadTotalDesglose > cantidadADesglosar) {
                    notif({
                        msg: "Se están desglosando más piezas que las obtenidas",
                    type: "error",
                    position: "center"
                    });
                $('#Cantidad_Desglose').focus();
                    cantidadTotalDesglose -= parseFloat(cant);
                    totalKilosDesglose -= parseFloat(kilos);

                    return;
                }
                var fila = '';
                fila = '<tr id="tr-desglose">';
                fila += '<td id="td-producto" style="padding:5px 10px !important;">' + $('#Producto_Desglose').val().trim() + '</td>';
                fila += '<td>' + $('#Label_Producto_Desglose').html() + '</td>';
                fila += '<td id="td-cantidad" style="padding:5px 10px !important;text-align:right;">' + parseFloat($('#Cantidad_Desglose').val().trim()).toFixed(2) + '</td>';
                fila += '<td id="td-kilos" style="padding:5px 10px !important;text-align:right;">' + parseFloat($('#Kilos_Desglose').val().trim()).toFixed(2) + '</td>';
                fila += '<td id="td-lote" style="padding:5px 10px !important;text-align:right;">' + $('#Lote_Desglose').val().trim() + '</td>';
                fila += '<td style="text-align:right;"><a class="btn btn-danger btn-sm" onclick ="BorrarDesglose($(this));"><span class="glyphicon glyphicon-trash"></span></a></td>';
                fila += '</tr>';
            //if (kilosADesglosar > 0) {
            //    if (cantidadTotalDesglose == cantidadADesglosar && totalKilosDesglose == kilosADesglosar) {
            //        $('#DesgloseTabla').prepend(fila);
            //        $('#Producto_Desglose').val('');
            //        $('#Label_Producto_Desglose').html('');
            //        $('#Cantidad_Desglose').val('');
            //        $('#Kilos_Desglose').val('');
            //        $('#Lote_Desglose').val('');
            //        $('#Producto_Desglose').focus();
            //        $('#filaDesglose').hide();
            //        notif({
            //            msg: "Se desglosaron todas las piezas y kilos de la producción",
            //            type: "info",
            //            position: "center"
            //        });
            //    } else {
            //        $('#DesgloseTabla').prepend(fila);
            //        $('#Producto_Desglose').val('');
            //        $('#Label_Producto_Desglose').html('');
            //        $('#Cantidad_Desglose').val('');
            //        $('#Kilos_Desglose').val('');
            //        $('#Lote_Desglose').val('');
            //        $('#Producto_Desglose').focus();
            //    }
            //} else
            if (cantidadTotalDesglose == cantidadADesglosar) {
                $('#DesgloseTabla').prepend(fila);
                $('#Producto_Desglose').val('');
                $('#Label_Producto_Desglose').html('');
                $('#Cantidad_Desglose').val('');
                $('#Kilos_Desglose').val('');
                $('#Lote_Desglose').val('');
                $('#Producto_Desglose').focus();
                $('#filaDesglose').hide();
                notif({
                    msg: "Se desglosaron todas las piezas de la producción",
                    type: "info",
                    position: "center"
                });
            } else {
                $('#DesgloseTabla').prepend(fila);
                $('#Producto_Desglose').val('');
                $('#Label_Producto_Desglose').html('');
                $('#Cantidad_Desglose').val('');
                $('#Kilos_Desglose').val('');
                $('#Lote_Desglose').val('');
                $('#Producto_Desglose').focus();
            }
        }

        function Confirmar_Produccion_Ricota() {
            let codigo_interno = '@Model.Codigo_Interno_Produccion';
            var form = $('#FormNuevo');
            @if (ViewBag.esDesglose != null && ViewBag.esDesglose == false)
            {
                <text>
                    let piezasTotales = parseFloat($("#Piezas_Obtenidas").val());
                    if (cantidadTotalDesglose > 0) {
                        if (cantidadTotalDesglose < piezasTotales) {
                            notif({
                                msg: "Por favor asigne todas las piezas al desglose.",
                                type: "warning",
                                position: "center"
                            });
                            $('#filaDesglose').show();
                            $("#Producto_Desglose").focus();
                            return false;
                        }
                        if (piezasTotales < cantidadTotalDesglose) {
                            notif({
                                msg: "Las piezas desglosadas son mayores a las piezas obtenidas.",
                                type: "error",
                                position: "center"
                            });

                            $("#Piezas_Obtenidas").focus();
                            $("#filaDesglose").hide();
                            return false;
                        }
                    }                   
                </text>
            }
            if (!$("#Litros_Suero").val()) {
                notif({
                    msg: "Complete los Litros Suero.",
                    type: "error",
                    position: "center"
                });
                $('#Litros_Suero').focus();

                return false;
            }
            if (!$("#Codigo_Silo").val()) {
                notif({
                    msg: "Complete el silo.",
                    type: "error",
                    position: "center"
                });
                $('#Codigo_Silo').focus();

                return false;
            }
                $.validator.unobtrusive.parse(form);
                if ($('#Codigo_Producto').val() == "") {
                    notif({
                        msg: "Por favor, ingrese un Producto.",
                        type: "warning",
                        position: "center"
                    });
                    $('#Codigo_Producto').focus();
                    return;
                }
                if ($(form).valid()) {
                    var ProductoActual = 0;
                    $('#InsumosAsociadosTabla').find('tr').find('td').each(function () {
                        if ($(this).index() == 0) {
                            InsumoActual = $(this).html();
                            for (var i in listadoInsumosFormula) {
                                if (listadoInsumosFormula[i].Codigo_Insumo == InsumoActual) {
                                    $(this).parent().find('td').find('#kilosEditable').each(function () {
                                        if ($(this).val() != "" || $(this).val() > 0) {
                                            listadoInsumosFormula[i].Litros = parseFloat($(this).val());
                                        }
                                    });
                                }
                            }
                        }
                    });

                    $('#DivDesgloseData').html('');
                    $('#DesgloseTabla #tr-desglose').each(function (index) {
                        $('#DivDesgloseData').append('<input name="desglose[' + index + '].Numero_Producto" type="hidden" value="' + $(this).find('#td-producto').html() + '"/>');
                        $('#DivDesgloseData').append('<input name="desglose[' + index + '].Cantidad" type="hidden" value="' + $(this).find('#td-cantidad').html().replace('.', ',') + '"/>');
                        $('#DivDesgloseData').append('<input name="desglose[' + index + '].Kilos" type="hidden" value="' + $(this).find('#td-kilos').html().replace('.', ',') + '"/>');
                        $('#DivDesgloseData').append('<input name="desglose[' + index + '].Lote" type="hidden" value="' + $(this).find('#td-lote').html() + '"/>');
                    });


                    for (var r in listadoInsumosFormula) {
                        $('#Mov_Ins_Asoc').append('<input type="text" name="Produccion.Mov_Ins_Asoc[' + r + '].Codigo_Insumo" value="' + listadoInsumosFormula[r].Codigo_Insumo + '"/>' +
                            '<input type="text" name="Produccion.Mov_Ins_Asoc[' + r + '].Litros" value="' + parseFloat(listadoInsumosFormula[r].Litros).toString().replace(".", ",") + '"/>');
                    }
                    Armar_Array_Insumos_Consumidos("DetallesProduccion");

                    //VALIDADOR DEL FORMULARIO
                    $('#Kilos_Teoricos').val($('#Kilos_Teoricos').val().toString().replace(".", ","));
                    $('#Kilos_Reales').val($('#Kilos_Reales').val().toString().replace(".", ","));
                    $('#Litros_Suero').val($('#Litros_Suero').val().toString().replace(".", ","));
                    $('#Litros_Tina').val($('#Litros_Tina').val().toString().replace(".", ","));

                    $.ajax({
                        type: "POST",
                        url: "/ProduccionesRicota/AddOrEdit",
                        data: $(form).serialize(),
                        success: function (data) {
                            if (!data.success) {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                            }
                            else {
                                let siguiente = "/ProduccionesRicota/Index?resultado=" + data.resultado;
                                if (FormulaActual.Salida_Directa && codigo_interno == '0' && $("#DivDesgloseData").length == 0)
                                    EnvasarInicio($("#Produccion_Lote").val(), siguiente);
                                else
                                    window.location.href = "/ProduccionesRicota/Index?resultado=" + data.resultado;
                            }
                        },
                        beforeSend: function (data) {
                            $('.AddProduccion').attr('disabled', true);
                        },
                        complete: function (data) {
                            $('.AddProduccion').attr('disabled', false);
                        }
                    });
                    return false;
                }

        }

        /*SE LLAMA UNA VEZ INSERTADO UN CODIGO_FORMULA, TRAE TODOS SUS DETALLES Y LOS SETEA EN listadoDetalles*/
        function CargarDetallesFormula() {
            if ($('#Codigo_Producto').val() == "") {
                notif({
                    msg: "Por favor ingrese Código de Producto",
                    type: "error",
                    position: "center"
                });
                $('#Codigo_Producto').focus();
                return;
            }
            if ($('#Litros_Suero').val() == "") {
                notif({
                    msg: "Por favor ingrese Kilos Masa",
                    type: "error",
                    position: "center"
                });
                $('#Litros_Suero').focus();
                return;
            }
            $("#InsumosConsumidosDiv").html("<h1>Cargando Insumos</h1>");
            $.ajax({
                type: "GET",
                url: "/Producciones/ObtenerInsumosConsumidos/",
                data: {
                    producto: $('#Codigo_Producto').val(),
                    litros: $('#Litros_Suero').val(),
                    tipoProd: "ricota"
                },
                success: function (data) {
                    $("#InsumosConsumidosDiv").html(data);
                }
            });

        };
        function CargarDetallesEnModal() {
            dataTableAjustes = $("#DetallesFormulaTabla").DataTable({
                "bPaginate": false,
                "bFilter": false,
                "destroy": true,
                "responsive": true,
                "autoWidth": true,
                "bInfo": false,
                "lengthChange": false,
                data: listadoDetalles,
                "columns": [
                    {
                        title: "Insumo",
                        data: "Descripcion",
                        width: "40%",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        title: "Unidades",
                        data: "Codigo_Insumo",
                        "render": function (data) {
                            for (var i in listadoDetalles) {
                                if (listadoDetalles[i].Codigo_Insumo == data) {
                                    if (listadoDetalles[i].Precio_Por == 'U')
                                        return parseFloat(listadoDetalles[i].Cantidad).toFixed(4);
                                    else
                                        return "";
                                }
                            }
                        }
                    },
                    {
                        title: "Kilos/Litros",
                        data: "Codigo_Insumo",
                        "render": function (data) {
                            for (var i in listadoDetalles) {
                                if (listadoDetalles[i].Codigo_Insumo == data) {
                                    if (listadoDetalles[i].Precio_Por != 'U')
                                        return parseFloat(listadoDetalles[i].Cantidad).toFixed(4);
                                    else
                                        return "";
                                }
                            }
                        }
                    },
                    {
                        title: "Ajuste",
                        data: "Ajuste",
                        "width": "15%",
                        render: function (data) {
                            let valor = parseFloat(data);

                            if (!isNaN(valor))
                                return '<input class="nuevoAjuste" type="number" style="text-transform:capitalize; text-align:right width:100%" value="' + valor.toFixed(4) + '"/>';
                            else
                                return '<input class="nuevoAjuste" type="number" style="text-transform:capitalize; text-align:right; width:100%"/>';
                        }
                    },
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    {
                        className: "text-right", "targets": [1, 2, 3]
                    }
                ],
                "initComplete": function (data) {
                    $('#nuevoAjuste').numeric();
                },
                "order": [[0, "asc"]]
            });
        };

        let Lote = "@Model.Lote";
        let Codigo_Form = "@Model.Produccion.Codigo_Formula";

        function SaltosAlPresionarEnter() {
            $("#Produccion_Codigo_Fabrica").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "POST",
                        url: "/Fabricas/GetData/",
                        data: { Codigo_Fabrica: $('#Produccion_Codigo_Fabrica').val() },
                        success: function (data) {
                            if (data.success) {
                                var Fabrica = data.data[0];
                                if (Fabrica != null) {
                                    $("#fabrica-descripcion").html(Fabrica.Descripcion);
                                    $('#Produccion_Fecha').focus();
                                }
                            }
                            else {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                                $('#Produccion_Codigo_Fabrica').focus();
                            }
                        }
                    });
                }
            });

            $("#Codigo_Producto").keyup(function (e) {
                if (e.keyCode == 13) {
                    if ($("#Codigo_Producto").val() == "") {
                        notif({
                            msg: "Ingrese un Código de Producto.",
                            type: "error",
                            position: "center"
                        });
                        $("#Codigo_Producto").focus();
                        return false;
                    } else {
                        ObtenerFormula();
                        actualizarProducto($(this).val());
                    }
                }
            });

            $("#Litros_Suero").keyup(function (e) {
                if (e.keyCode == 13) {
                    if (controlLitros.val())
                        calcularKilosTeoricos();
                }
            });

            $("#Factor_Concentracion").keyup(function (e) {
                if (e.keyCode == 13) {
                    if (controlLitros.val())
                        calcularKilosTeoricos();
                }
            });

            $("#Codigo_Silo").keyup(function (e) {
                if (e.keyCode == 13) {
                    if (!$("#Codigo_Silo").val() || $("#Codigo_Silo").val() == "" || $("#Codigo_Silo").val() <= 0) {
                        notif({
                            msg: "Debe ingresar el Silo",
                            type: "error",
                            position: "center"
                        });
                        $("#Codigo_Silo").focus();

                        return false;
                    }
                    else {
                        $('#Tina').focus();
                    }
                }
            });
            $("#Codigo_Silo").change(function (e) {
                if (!$("#Codigo_Silo").val() || $("#Codigo_Silo").val() == "" || $("#Codigo_Silo").val() <= 0) {
                    notif({
                        msg: "Debe ingresar el Silo",
                        type: "error",
                        position: "center"
                    });

                    $("#Codigo_Silo").focus();

                    return false;
                }
                else {
                    $('#Tina').focus();
                }
            });
        }

        $("#Produccion_Codigo_Fabrica").blur(function () {
            cargarFabrica($(this).val().trim());
        });

        function ConfirmarAjustes() {
            var InsumoActual;
            $('#DetallesFormulaTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 0) {
                    InsumoActual = $(this).html();
                    for (var i in listadoDetalles) {
                        if (listadoDetalles[i].Descripcion == InsumoActual) {
                            $(this).parent().find('td').find('.nuevoAjuste').each(function () {
                                let valord = $(this).val();
                                if (valord != "") {
                                    if (valord >= 0) {
                                        valord = parseFloat(valord);

                                        if (!isNaN(valord)) {
                                            listadoDetalles[i].Ajuste = valord;
                                        }
                                    }
                                }
                            });
                        }
                    }
                }
            });
            $('#modalDetalles').modal('hide');
            CargarDetalles();
        }
        function GetFormula(Codigo) {
            var x = $.ajax({
                type: "GET",
                url: "/Formulas/GetOne/",
                data: { Codigo_Formula: Codigo,
                    Codigo_Producto : -1
                },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        FormulaActual = data.data[0];
                        $('#Codigo_Formula').val(FormulaActual.Codigo_Producto);
                        return FormulaActual;
                    }
                    else {
                        $.notify(data.mensaje, {
                            globalPosition: "top center",
                            className: "error"
                        })
                    }
                }
            });
        }
        function TraerFormula(Codigo){
            $.ajax({
                type: "POST",
                url: "/Formulas/GetOne/",
                data: { Codigo_Formula: -1,
                    Codigo_Producto: Codigo },
                success: function (data) {
                    if (data.success) {
                        FormulaActual = [];
                        FormulaActual = data.data[0];
                        if (FormulaActual == null) {
                            notif({
                                msg: "Error, no existe registro con el Código ingresado.",
                                type: "error",
                                position: "center"
                            });
                            $("#Codigo_Producto").focus();
                        }
                    }
                }
            });
        }
        function AddOrEditInsumos(Codigo_Formula, Lote) {
            /*SE LLAMA CUANDO SE INGRESA UNA NUEVA PRODUCCION*/
            if (Lote == "" && Codigo_Formula != "") {
                ObtenerInsumosFormula(Codigo_Formula, Lote);
            }
            else {
                var y = $.ajax({
                    type: "GET",
                    url: "/Producciones/Get_Mov_Ins_Asoc/",
                    data: {
                        Lote: Lote
                    },
                    success: function (data) {
                        if (data.success) {
                            listadoInsumosFormula = [];
                            for (var i in data.data) {
                                listadoInsumosFormula.push(data.data[i]);
                            }
                            CargarInsumosFormula();
                        }
                    }
                });
            }
        }
        /*CARGA DESDE listadoDetalles*/
        function CargarDetalles() {
            $.fn.dataTable.ext.errMode = 'none';

            dataTableDetalles = $("#DetallesTabla").DataTable({
                "bPaginate": false,
                "bFilter": false,
                "destroy": true,
                "responsive": true,
                "autoWidth": true,
                "bInfo": false,
                "lengthChange": false,
                data: listadoDetalles,
                "columns": [
                    {
                        title: "Insumo",
                        data: "Descripcion",
                        "sClass": "mayusculas-texto",
                        width: "40%"
                    },
                    {
                        title: "Unidades",
                        data: "Codigo_Insumo",
                        "render": function (data) {
                            for (var i in listadoDetalles) {
                                if (listadoDetalles[i].Codigo_Insumo == data) {
                                    if (listadoDetalles[i].Precio_Por == 'U')
                                        return parseFloat(listadoDetalles[i].Cantidad).toFixed(4);
                                    else
                                        return "";
                                }
                            }
                        }
                    },
                    {
                        title: "Kilos/Litros",
                        data: "Codigo_Insumo",
                        "render": function (data) {
                            for (var i in listadoDetalles) {
                                if (listadoDetalles[i].Codigo_Insumo == data) {
                                    if (listadoDetalles[i].Precio_Por != 'U')
                                        return parseFloat(listadoDetalles[i].Cantidad).toFixed(4);
                                    else
                                        return "";
                                }
                            }
                        }
                    },
                    {
                        title: "Ajuste",
                        data: "Ajuste",
                        render: function (data) {
                            let valor = parseFloat(data);
                            if (!isNaN(valor)) {
                                return valor.toFixed(4);
                            }
                            else {
                                return "";
                            }
                        }
                    },
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    {
                        className: "text-right", "targets": [1, 2, 3]
                    }
                ],
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-cog"></span> Realizar Ajustes',
                       className: 'ajustes',
                       action: function () {
                           CargarDetallesEnModal();
                           $('#modalDetalles').modal('toggle');
                       }
                   },
                ],
                "order": [[0, "asc"]]
            });

            //dataTableDetalles.on('error.dt', function (e, settings, techNote, message) {
            //    console.log('An error has been reported by DataTables: ', message);
            //});
        }

        /* FUNCIONAMIENTO PRODUCTO, LITROS, KILOS TEORICOS Y FACTOR */
        var controlLitros = null;
        var controlProducto = null;
        var controlKilosTeoricos = null;
        var controlFactor = null;

        $(document).ready(function () {
            controlLitros = $("#Litros_Suero");
            controlProducto = $("#Codigo_Producto");
            controlKilosTeoricos = $("#Kilos_Teoricos");
            controlFactor = $("#Factor");

            let valorProducto = controlProducto.val().trim();

            if (!valorProducto)
                controlLitros.val("");

            valorLeche = controlLitros.val().trim();

            controlProducto.change(actualizarProducto);
            controlLitros.change(actualizarLeche);

            controlLitros.blur(function (e) {
                let valorLeche = controlLitros.val();

                if (valorLeche)
                    calcularKilosTeoricos();

                if (!valorLeche)
                    controlKilosTeoricos.val("");
            });

            @if (Model.Produccion.Detalle_Produccion.Count != 0)
            {
                <Text>
                    $("#InsumosConsumidosDiv").html("<h1>Cargando Insumos</h1>");
                    $.ajax({
                        type: "GET",
                        url: "/Producciones/ObtenerInsumosConsumidos/",
                        data: { producto: '', litros: 0, lote: '@Model.Lote' },
                        success: function (data) {
                            $("#InsumosConsumidosDiv").html(data);
                        }
                    });
                </text>
            }

            $('input').focus(function () { $(this).select() });

            if(@Model.Codigo_Interno_Produccion == 0)
                cargarFabrica(@{@(Sesion.UsuarioActual != null ? (Sesion.UsuarioActual.Fabrica.HasValue ? Sesion.UsuarioActual.Fabrica.Value : -1) : -1)});

            $("#modalFabricas").on('shown.bs.modal', function () {
                $('#modalFabricas input').focus();
            });
            $("#modalFormulas").on('shown.bs.modal', function () {
                $('#modalFormulas input').focus();
            });

            $("#Produccion_Fecha").change(function () {
                let valorFecha = $(this).val();
                actualizarVencimiento(valorFecha);
            });

            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
            if(@Model.Codigo_Interno_Produccion == 0){
                $('#Piezas_Obtenidas').val("");
                $('#Produccion_Lote').val("");
                $('#Produccion_Lote').focus();
                CargarDetalles();
            }
            else{
                Lote = $('#Produccion_Lote').val();
                $('#Nro_Planilla').val($('#Nro_Planilla_Editar').val());
                TraerFormula($('#Codigo_Producto').val());
                ObtenerInsumosFormula("@Model.Produccion.Codigo_Formula", Lote);
            }
            SaltosAlPresionarEnter();
            $("#Produccion_Fecha").datepicker();
            $("#Fecha_Vencimiento").datepicker();

            let autoFecha = '@{
                try
                {
                    if (Model.Codigo_Interno_Produccion == 0)
                    {
                        @db.Obtener_Ultima_Fecha_Producion(Sesion.UsuarioActual != null ? Sesion.UsuarioActual.Fabrica.HasValue ? Sesion.UsuarioActual.Fabrica.Value : -1 : -1, "Ricota").First().Value.ToString("dd/M/yyyy", CultureInfo.InvariantCulture);
                    }
                    else
                    {
                        @String.Empty;
                    }

                }
                catch(Exception e)
                {
                    @String.Empty;
                }
            }';

            if (autoFecha) {
                $("#Produccion_Fecha").val(autoFecha.trim());
                actualizarVencimiento(autoFecha);
            }
            @if (ViewBag.esDesglose != null && ViewBag.esDesglose == true)
            {
                <text>
                    $('#checkDesglose').hide();
                </text>
            }
        });

        function actualizarLeche() {
            CargarDetallesFormula();
        }
        function cargarFabrica(fabrica_codigo) {
            if (fabrica_codigo != null && fabrica_codigo != -1) {
                $("#Produccion_Codigo_Fabrica").val(fabrica_codigo);
                $.ajax({
                    type: "GET",
                    url: "/Fabricas/GetData/",
                    data: { Codigo_Fabrica: fabrica_codigo },
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            var Fabrica = data.data[0];
                            $("#Produccion_Codigo_Fabrica").val(Fabrica.Codigo_Fabrica);
                            $("#fabrica-descripcion").html(Fabrica.Descripcion);
                        }
                    }
                });
            }
        }
        function calcularKilosTeoricos() {
            if (controlLitros.val()) {
                var fac_conc = parseFloat($('#Factor_Concentracion').val());

                if (!fac_conc) {
                    fac_conc = 1;
                    $('#Factor_Concentracion').val(fac_conc);
                }

                var litros_suero = parseFloat(controlLitros.val());

                let kilosTeoricos = null;

                //if (factor)
                //    kilosTeoricos = parseFloat(litros_suero * factor * fac_conc / 100).toFixed(2);

                kilosTeoricos = parseFloat((litros_suero * parseFloat(FormulaActual.Kilos_Teoricos)) / parseFloat(FormulaActual.Litros_Tina)).toFixed(2);

                if (kilosTeoricos != null)
                    $('#Kilos_Teoricos').val(kilosTeoricos);
            }
        }
        function actualizarVencimiento(fechaElaboracion) {
            if (fechaElaboracion) {
                let fechaDeElaboracion = moment(fechaElaboracion, "DD-MM-YYYY");

                let diasParaVencerse = 30;
                let fechaVencimiento = fechaDeElaboracion.add(diasParaVencerse, "days");
                $("#Fecha_Vencimiento").val(fechaVencimiento.format("DD/MM/YYYY"));
            }
        }
        function Kilos_en_LitrosTina() {
            var K = 0;

            for (const element of detalle) {

                if (element.EsLeche) {
                    if (element.Ajuste || element.Ajuste > 0) {
                        K += element.Ajuste;
                    }
                    else if (element.Cantidad || element.Cantidad > 0) {
                        K += element.Cantidad;
                    }
                    else {
                        K = 0;
                    }
                }
            }
            $('#Litros_Tina').val((K).toFixed(2));

            if ($('#Litros_Tina').val() == 'NaN' || $('#Litros_Tina').val() == '') {
                $('#Litros_Tina').val(0);
            }
        }
    </script>
}