﻿@using MVC_Produccion.Sesiones
@{
    ViewBag.Title = "Producciones : Listado";
}
@{
    if (ViewBag.Error == null)
    {
        <h2>Producciones de Ricota</h2>
        <table id="ProduccionesTabla" class="display compact" style="width:100%"></table>
        <input class="codigo" hidden />
        <div id="dropdownHistoricos" style="display:none; text-transform:capitalize">
            @Html.DropDownList("ListadoHistoricos", ViewBag.ListadoHistoricos as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
        </div>
    }
    else
    {
        <div class="alert alert-danger col-md-12" style="margin-top:70px !important" role="alert">
            @ViewBag.Error
        </div>
    }
}
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteProduccion()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEstados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:350px;" role="document">
        <div class="modal-content" id="ModalCambioEstado"></div>
    </div>
</div>

<!-- Modal Cámaras -->
<div class="modal fade" id="modalCamaras" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Cámaras</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA CAMARAS -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="CamarasTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarSeleccionCamara()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Envasado-->
<div class="modal fade" id="modalEnvasado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:70%">
        <div class="modal-content" id="ModalEnvasado">

        </div>
    </div>
</div>
@section scripts{
    <script>
        var Codigo_Producto_Seleccionado = '';
        var ListadoDetalles = [];
        var cdataTableEstado = 0;
        listadoProducciones = [];
        var Lote = "";
        function modificarInput(Codigo) {
            $('input.codigo').text(Codigo);
        }
        function MostrarMensaje() {
            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };
        $(document).ready(function () {
            CargarCamaras();
            filtradoTablaProducciones('0', '0', true);
            if ("@ViewBag.Resultado" != "")
                MostrarMensaje();
        });

        function CargarCamaras() {
            dataTable = $("#CamarasTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/Camaras/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Codigo_Camara",
                        "title": "Código"
                    },
                    {
                        "data": "Nombre",
                        "title": "Nombre",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        "data": "Codigo_Camara",
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-xs' onclick=EditarCamara('" + data + "','" + 'Editar' + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                "<a class='btn btn-danger btn-xs' onclick=BorrarCamara('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                        },
                    }
                ],
                "language": idiomaEspañol,
                select: 'single',
                "columnDefs": [
                    { className: "text-center", "targets": [0, 2] },
                ],
                initComplete: function () {
                    //SumarTotales();
                },
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: '<span class="glyphicon glyphicon-plus">',
                        className: 'nuevo',
                        action: function () {
                            //$('#modalProductoInsumo').modal('toggle');
                        }
                    }
                ],
                "order": [[1, "asc"]]
            });
        }
        function CargarProduccionesPorHistorico(Historico) {
            notif({
                msg: "Filtrando... Por favor, espere un momento.",
                type: "warning",
                position: "center"
            });
            filtradoTablaProducciones(cdataTableEstado || 0, Historico);
        }

        function loadProduccionesTabla(firstLoaded = false) {
            $.fn.dataTable.moment('DD/MM/YYYY');

            dataTableProd = $("#ProduccionesTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "responsive": true,
                data: listadoProducciones,
                "columns": [
                    {
                        "data": "Lote",
                        "title": "Lote",
                        "width": "10%"
                    },
                    {
                        "data": "Fecha",
                        "title": "Fecha Elaboración",
                        "render": function (data) {
                            if (data != null)
                                return moment(data).format('DD/MM/YYYY');
                            else
                                return "";
                        },
                        "width": "10%"
                    },
                    {
                        "data": "Codigo_Producto",
                        "title": "Codigo Producto",
                        "width": "10%"
                    },
                    {
                        "data": "Descripcion",
                        "title": "Descripcion"
                    },
                    {
                        "data": "Kilos_Teoricos",
                        "title": "Kilos Teóricos",
                        render: function (data) {
                            if (data == null)
                                return "";
                            else
                                return parseFloat(data).toFixed(4);
                        }
                    },
                    {
                        "data": "Kilos_Reales",
                        "title": "Kilos Reales",
                        render: function (data) {
                            if (data == null)
                                return "";
                            else
                                return parseFloat(data).toFixed(4);
                        }
                    },
                    {
                        "data": "Kilos_Restantes",
                        "title": "Kilos Restantes",
                        render: function (data) {
                            if (data == null)
                                return "";
                            else
                                return parseFloat(data).toFixed(4);
                        }
                    },
                    @{
                        if (Sesion.UsuarioActual.Rol.ToLower() == "administrador" || !ViewBag.configuraciones.Requiere_Rol_Administrador  || !ViewBag.configuraciones.Utiliza_Login)
                        {
                            <text>
                                {
                                    "data": "Lote",
                                    "title": "Herramientas",
                                    width: "10%",
                                    "render": function (data) {
                                        return "<a class='btn btn-default btn-sm' href='/ProduccionesRicota/AddOrEdit?Lote=" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                            "<a class='btn btn-danger btn-sm' onclick=modificarInput('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                                    },
                                },
                            </text>
                        }
                        else
                        {
                            <text>
                                {
                                    "title": "",
                                    "render": function (data) {
                                        return "";
                                    }
                                }
                            </text>
                        }
                    }

                ],
                "columnDefs": [
                    { className: "text-right", "targets": [4, 5,6] },
                    { className: "text-center", "targets": [0, 1, 2, 7] }
                ],
                "order": [[2, "desc"]],
                "language": idiomaEspañol,
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: '<span class="glyphicon glyphicon-plus"></span>',
                        className: 'nuevo',
                        action: function () {
                            window.location.href = "/ProduccionesRicota/AddOrEdit/";
                        }
                    },
                    //{
                    //    text: '<span class="glyphicon glyphicon-arrow-right"></span> Cambiar estado',
                    //    className: 'cambiarEstado',
                    //    action: function () {
                    //        CambiarEstado();
                    //    }
                    //},
                    {
                        text: '<span class="glyphicon glyphicon-arrow-right"></span> Envasar',
                        className: 'envasar',
                        action: function () {
                            EnvasarInicio(Linea_A_Envasar.Lote);
                        }
                    },
                    {
                        text: '<span class="glyphicon glyphicon-arrow-right"></span> Modificar lote',
                        className: 'modificarLoteProduccion',
                        action: function () {
                            AbrirModalModificarLoteProd($("#ProduccionesTabla > tbody > tr.selected td").first().text());
                        }
                    },
                    {
                        text: $('#dropdownHistoricos').html(),
                        className: 'botonDropdown'
                    },
                ],
                initComplete: function () {
                    $('.envasar').prop("disabled", true);
                    $('#ListadoEstados').append(
                        $('<option></option>').val(0).html("Todos")
                    );
                    $("#ListadoEstados").change(function () {
                        CargarProduccionesPorEstado($('option:selected', this).val());
                    });
                    $("#ListadoHistoricos").change(function () {
                        console.log("changed: ", $('option:selected', this).val());
                        CargarProduccionesPorHistorico($('option:selected', this).val());
                    });

                    if (cdataTableTipos != null)
                        $("#ListadoHistoricos").val(cdataTableTipos.toString());
                    else
                        cdataTableTipos = '0';

                    if (cdataTableEstado != null)
                        $("#ListadoEstados").val(cdataTableEstado.toString());
                    else
                        cdataTableEstado = '0';

                    $('div.dataTables_filter input').focus();

                    if (!firstLoaded) {
                        notif({
                            msg: "Producciones filtradas correctamente",
                            type: "success",
                            position: "center"
                        });
                    }
                },
                select: 'single'
            });

            dataTableProd.on('select', function (e, dt, type, indexes) {
                $(".modificarLoteProduccion").prop("disabled", false);
                $(".modificarLoteProduccion").addClass("azul");
                Linea_A_Envasar = dataTableProd.rows(indexes[0]).data()[0];
                Codigo_Producto_Seleccionado = dataTableProd.rows(indexes[0]).data()[0].Codigo_Producto;
                if (Linea_A_Envasar.Kilos_Restantes > 0) {
                    $('.envasar').prop("disabled", false);
                    $(".envasar").addClass("verde");
                }
                else if ('@ViewBag.Envasa_Sin_Kilos' == 'True') {
                    $('.envasar').prop("disabled", false);
                    $(".envasar").addClass("verde");
                } else {
                    $('.envasar').prop("disabled", true);
                    $(".envasar").removeClass("verde");
                }
            });

            dataTableProd.on('deselect', function (e, dt, type, indexes) {
                if ($('#ProduccionesTabla>tbody>tr.selected').length == 0) {
                    $('.envasar').prop("disabled", true);
                    $(".envasar").removeClass("verde");
                    $(".modificarLoteProduccion").prop("disabled", true);
                    $(".modificarLoteProduccion").addClass("azul");
                }
            });
        }

        var Linea_A_Envasar;
        var KilosRestantes = 0;
        var PiezasRestantes = 0;



        function ConfirmarEnvasado() {
            console.log('ConfirmarEnvasado en ProduccionesRicota/Index');
            var KilosIngresados = 0;
            var PiezasIngresadas = 0;
            var envasado = new SistemaEnvasado.ControlEnvasado();
            var ProductoActual = [];
            var KilosRealesEnvasado = 0;
            KilosRealesEnvasado = parseFloat($('#Kilos_Reales_Envasado').val().replace(',','.')).toFixed(2);

            for (var i in ListadoDetalles) {

                let formulaEnvasado = ListadoDetalles[i];
                let producto = formulaEnvasado.ProductoVentas;
                let piezasPorEnvasado = formulaEnvasado.Obtenidas_Por_Envasada;
                // obtengo la fila del detalle en la tabla de formulas de envasados
                let fila = Utilidades.ObtenerFilaDesdeTabla('#FormulasEnvasadoTabla', producto);
                let vencimiento = $(fila[2]).children('input').val();
                let unidadesEnvasado = $(fila[3]).children('input').val();
                let kilosEnvasado = $(fila[4]).children('input').val();

                // creo un detalle de envasado con todos los datos si las undades son != 0
                if (unidadesEnvasado != 0) {
                    let detalle = new SistemaEnvasado.DetalleControlEnvasado(unidadesEnvasado, kilosEnvasado, piezasPorEnvasado);
                    // agrego el detalle al envasado total
                    envasado.agregarDetalle(detalle);
                    // actualizo el detalle para que lo tome el descuento
                    ListadoDetalles[i].Cantidad = detalle.envasado;
                    ListadoDetalles[i].Kilos = detalle.kilos;
                    ListadoDetalles[i].Vencimiento = vencimiento;
                }
            };
            let envasadoTotal = envasado.calcularEnvasadoTotal();
            PiezasIngresadas = envasadoTotal.unidades;
            KilosIngresados = envasadoTotal.kilos;
            let kg_no_envasados = 0;
            if ($('#cb-no-envasar').prop('checked'))
                $("#RestanteTabla tbody .tr-restante").each(function (i, item) {
                    kg_no_envasados += parseFloat($(this).find("#td-kilos").html());
                    console.log("sumando no envasados " + kg_no_envasados);
                });

            ArmarArrayInsumosEnvasado();

            console.log('Piezas :' + PiezasIngresadas);
            console.log('Kilos :' + KilosIngresados);
            var suma = parseFloat(parseFloat(KilosIngresados) + parseFloat(kg_no_envasados)).toFixed(2)
            console.log('Suma: ' + suma);
            console.log('Kilos reales envasado: ' + KilosRealesEnvasado);
            console.log('suma es mayor a KilosRealesEnvasado?: ' + parseFloat(suma) > parseFloat(KilosRealesEnvasado));

            if ($('#Kilos_Reales_Envasado').val() == "") {
                notif({
                    msg: "Por favor, ingrese Kilos Reales.",
                    type: "warning",
                    position: "center"
                });
                $('#Kilos_Reales_Envasado').focus();
                return;
            }
            else if (false) {//parseFloat(suma) > parseFloat(KilosRealesEnvasado)) {
                notif({
                    msg: "Error: Está envasando más de los Kilos producidos",
                    type: "error",
                    width: 500,
                    timeout: 4000,
                    multiline: true,
                    position: "center"
                });
            }
            else if (false) {//parseFloat(suma) < parseFloat(KilosRealesEnvasado)) {
                notif({
                    msg: "Error: Debe envasar el total de Kilos: " + KilosRealesEnvasado,
                    type: "error",
                    width: 500,
                    timeout: 4000,
                    multiline: true,
                    position: "center"
                });
            }
            else {
                $.validator.unobtrusive.parse($('#formEnvasado'));
                let kg, cantidad;
                if ($('#formEnvasado').valid()) {
                    for (var j in ListadoDetalles) {
                        if (ListadoDetalles[j].Kilos)
                            kg = ListadoDetalles[j].Kilos.toString().replace(".", ",");
                        else
                            kg = 0;
                        $('#DetallesEnvasado').append('<input type="text" name="Detalle_Envasado[' + j + '].Codigo_Interno_Formula" value="' + ListadoDetalles[j].Codigo_Interno_Formula + '"/>' +
                            '<input type="text" name="Detalle_Envasado[' + j + '].Cantidad" value="' + ListadoDetalles[j].Cantidad + '"/>' +
                            '<input type="text" name="Detalle_Envasado[' + j + '].Kilos" value="' + kg + '"/>' +
                            '<input type="text" name="Detalle_Envasado[' + j + '].Vencimiento" value="' + ListadoDetalles[j].Vencimiento + '"/>');

                    }
                    $('#DetallesInsumoEnvasado').html('');
                    for (var ic in listadoDetalleInsumoEnvasadoForm) {
                        if (listadoDetalleInsumoEnvasadoForm[ic].Kilos)
                            kg = listadoDetalleInsumoEnvasadoForm[ic].Kilos.toString().replace(".", ",");
                        else
                            kg = 0;
                        if (listadoDetalleInsumoEnvasadoForm[ic].Cantidad)
                            cantidad = listadoDetalleInsumoEnvasadoForm[ic].Cantidad.toString().replace(".", ",");
                        else
                            cantidad = 0;
                        $('#DetallesInsumoEnvasado').append(
                            '<input type="text" name="Detalle_Insumo_Envasado[' + ic + '].Codigo_Insumo" value="' + listadoDetalleInsumoEnvasadoForm[ic].Codigo_Insumo + '"/>' +
                            '<input type="text" name="Detalle_Insumo_Envasado[' + ic + '].Cantidad" value="' + cantidad + '"/>' +
                            '<input type="text" name="Detalle_Insumo_Envasado[' + ic + '].Kilos" value="' + kg + '"/>' +
                            '<input type="text" name="Detalle_Insumo_Envasado[' + ic + '].Lote" value="' + listadoDetalleInsumoEnvasadoForm[ic].Lote + '"/>');
                    }

                    $('#DetallesDescarte').html('');
                    let destino_descarte = '', kg_descarte, hormas_descarte, insumo_descarte;
                    if ($('#cb-no-envasar').prop('checked')) {
                        //destino_descarte = $('input[type=radio][name=rb-no-envasar]:checked').val();
                        //kg_descarte = $('#Kg_No_Envasados').val().toString().replace(".", ",");
                        //hormas_descarte = $('#Hormas_No_Envasadas').val().toString().replace(".", ",");
                        //insumo_descarte = $('#codigo-insumo-reproceso').val();
                        $("#RestanteTabla tbody .tr-restante").each(function (i, item) {
                            $('#DetallesDescarte').append(
                                '<input type="text" name="restante[' + i + '].Motivo" value="' + $(this).find("#td-motivo").html() + '"/>' +
                                '<input type="text" name="restante[' + i + '].Hormas" value="' + $(this).find("#td-hormas").html().toString().replace(".", ",") + '"/>' +
                                '<input type="text" name="restante[' + i + '].Kilos" value="' + $(this).find("#td-kilos").html().toString().replace(".", ",") + '"/>' +
                                '<input type="text" name="restante[' + i + '].Codigo_Insumo" value="' + $(this).find("#td-insumo").html() + '"/>');

                        });

                    }

                    $('#Humedad').val($('#Humedad').val().toString().replace(".", ","));
                    $('#Kilos_Reales_Envasado').val($('#Kilos_Reales_Envasado').val().toString().replace(".", ","));
                    $.ajax({
                        type: "POST",
                        url: "/ProduccionesRicota/Envasar",
                        data: $('#formEnvasado').serialize(),
                        success: function (data) {
                            if (data.success)
                                window.location.href = "/ProduccionesRicota/Index?resultado=" + data.resultado;
                            else {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                            }
                        }
                    });
                }
            }
            return false;
        }


        function CambiarEstado() {
            var bandera = false;
            $('#ProduccionesTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {
                    Lote = $(this).html();
                    console.log(Lote);
                    bandera = true;
                    $.ajax({
                        type: "GET",
                        url: "/CambiosEstado/AddOrEdit/",
                        data: { Lote: $(this).html() },
                        success: function (data) {
                            $('#ModalCambioEstado').html(data);
                            $('#modalEstados').modal('toggle');
                        }
                    });
                }
            });
            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });
                return;
            }
        }
        function ConfirmarSeleccionCamara() {
            $('#CamarasTabla').find('tr.selected').find('td').each(
                function () {
                    if ($(this).index() == 0)
                        $("#Codigo_Camara").val($(this).html());
                }
            )
            $('#modalCamaras').modal('hide');
            CargarCamaras();
            $('#modalCamaras').on('hidden.bs.modal', function (e) {
                $('#FechaCambioEstado').focus();
            });
        }
    </script>
}