﻿@model AccesoDatos.Contexto.Produccion.Produccion_Quesos
@{
    ViewBag.Title = "Pesadas : Editar";

    Layout = null;

}

@using (Html.BeginForm("AddOrEditPesadas", "ProduccionesQuesos", FormMethod.Post, new { id = "form1", onsubmit = "return SubmitForm(this)" }))
{
    <div class="modal-header modalCreate col-md-12" style="display:flex; justify-content:space-between">
        <h4 class="modal-title" id="exampleModalLabel">Editar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body modalCreate">
        <div class="col-md-12 ">

            <!-- ENCABEZADO -->
            <div class="col-xs-12 col-md-12 caja-contenedora" style="padding: 0!important;">
                <div class="col-xs-12 col-md-12 form-medio" style="padding: 0!important;">

                    <fieldset class="scheduler-border caja-contenedora" style="width: 100%!important;">
                        <legend class="scheduler-border">Encabezado</legend>
                        <div class="control-group" style="width: 100%!important;">

                            <div class="col-xs-5 col-md-2 form-medio" style="margin-right: 10px!important; margin-top: 12px;">
                                <div class="col-md-6 form-medio">
                                    @Html.Label("Producto:", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    <div class="input-group" disabled>
                                        @Html.EditorFor(model => model.Produccion.Formulas.Productos.Codigo_Producto, "Producto", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" id="btn-producto" onclick="AbrirModalFormulas('Q')"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>


                            @{

                                <div class="col-xs-2 col-md-2 producto form-medio" style="margin-top: 14px;">
                                    <p id="producto-descripcion" style="text-transform:capitalize">
                                        @Model.Produccion.Formulas.Productos.Descripcion
                                    </p>
                                </div>
                            }

                            <div class="col-xs-4 col-md-2 form-medio" style="margin-top: 12px;">
                                <div class="col-md-4 form-medio">
                                    @Html.LabelFor(model => model.Produccion.Fecha, "Fecha:", new { @class = "control-label" })
                                </div>
                                <div class="col-xs-9 col-md-8 form-medio">
                                    <fieldset disabled>
                                        @Html.EditorFor(model => model.Produccion.Fecha, new { htmlAttributes = new { @Value = Model.Produccion.Fecha.HasValue ? Model.Produccion.Fecha.Value.ToString("dd/MM/yyyy") : "", @class = "form-control", @style = "text-align:right" } })
                                        @Html.ValidationMessageFor(model => model.Produccion.Fecha)
                                    </fieldset>
                                </div>
                            </div>

                            <div class="col-xs-5 col-md-3 form-medio" style="margin-top: 12px;">
                                <div class="form-medio" style="padding-left: 20px!important; padding-right: 20px!important;">
                                    <div class="col-md-7 form-medio">
                                        @Html.LabelFor(model => model.Produccion.Nro_Planilla, "Nro de Planilla:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-5 form-medio">
                                        <fieldset disabled>
                                            @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Produccion.Nro_Planilla)
                                        </fieldset>

                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-5 col-md-2 form-medio" style="margin-top: 9px;">
                                <div class="col-md-4 form-medio">
                                    @Html.LabelFor(model => model.Lote, "Lote:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-8 form-medio">
                                    <div style="display:none">
                                        @Html.EditorFor(model => model.Lote, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <fieldset disabled>
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control", @id = "tb-lote" } })
                                    </fieldset>
                                </div>
                            </div>

                            <div class="form-medio">
                                @Html.ValidationMessageFor(model => model.Produccion.Lote)
                            </div>

                            <div style="display:none">
                                @Html.LabelFor(model => model.Codigo_Interno_Produccion, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Codigo_Interno_Produccion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Codigo_Interno_Produccion)
                            </div>

                        </div>
                    </fieldset>

                </div>
            </div>
            <!-- // -->
            <!-- PESADA CUERPO -->
            <div class="col-xs-12 col-md-12 caja-contenedora" style="padding: 0!important;">
                <div class="col-xs-12 col-md-12 form-medio">
                    <fieldset class="scheduler-border caja-contenedora" style="width: 100%!important;">
                        <legend class="scheduler-border">Datos Pesada</legend>
                        <div class="control-group">
                            <div class="col-xs-12 col-md-12 form-medio" style="margin-bottom: 25px!important;">
                                <div class="col-xs-12 col-md-6 form-medio">
                                    <div class="col-md-5 form-medio" style="margin-right: 33px!important; padding-left: 10px!important;">
                                        @Html.LabelFor(model => model.Litros_Tina, "Litros:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-7 form-medio pull-right">
                                        <fieldset disabled>
                                            @Html.EditorFor(model => model.Litros_Tina, new { htmlAttributes = new { @class = "form-control" } })
                                            @*@Html.ValidationMessageFor(model => model.Litros_Tina)*@
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6 form-medio">
                                    <div class="col-md-5 form-medio" style="margin-right: 33px!important;">
                                        @Html.LabelFor(model => model.Kilos_Teoricos, "Kilos S/Fórmula:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-7 form-medio pull-right">
                                        <fieldset disabled>
                                            @Html.EditorFor(model => model.Kilos_Teoricos, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                            @*@Html.ValidationMessageFor(model => model.Kilos_Reales)*@
                                        </fieldset>

                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-12 form-medio"     style="margin-bottom: 25px!important">
                                <div class="col-xs-12 col-md-3 form-medio">
                                    <div class="col-md-7 form-medio" style="padding-left: 10px!important; margin-right: 10px!important;">
                                        @Html.LabelFor(model => model.Piezas_Obtenidas, "Piezas Obtenidas:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4 form-medio">
                                        @Html.EditorFor(model => model.Piezas_Obtenidas, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                        @*@Html.ValidationMessageFor(model => model.Fecha)*@
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3 form-medio">
                                    <div class="col-md-5 form-medio">
                                        @Html.LabelFor(model => model.Kilos_Reales, "Kilos Reales:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4 form-medio">
                                        @Html.EditorFor(model => model.Kilos_Reales, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                        @Html.ValidationMessageFor(model => model.Kilos_Reales)
                                    </div>

                                </div>


                                <div class="col-xs-12 col-md-2 form-medio">
                                    <div class="col-md-7 form-medio">
                                        @Html.LabelFor(model => model.Humedad, "Humedad:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4 form-medio">
                                        @Html.EditorFor(model => model.Humedad, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                        @*@Html.ValidationMessageFor(model => model.Humedad)*@
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-2 form-medio">
                                    <div class="col-md-7 form-medio">
                                        @Html.LabelFor(model => model.Grasa, "Grasa:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-6 form-medio">
                                        @Html.EditorFor(model => model.Grasa, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                        @*@Html.ValidationMessageFor(model => model.Grasa)*@
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-2 form-medio">
                                    <div class="col-md-6 col-md-offset-1 form-medio">
                                        @Html.LabelFor(model => model.Proteina, "Proteína:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-6 form-medio">
                                        @Html.EditorFor(model => model.Proteina, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                        @*@Html.ValidationMessageFor(model => model.Proteina)*@
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="control-group">
                            <div class="col-xs-12 col-md-12 form-medio" style="margin-bottom: 25px!important;">
                                <div class="col-md-3 form-medio" style="padding-left:15px !important;">
                                    @Html.LabelFor(model => model.Codigo_Estado, "Estado:", new { @class = "control-label space-label", @style = "margin-right:10px!important;" })
                                    @Html.DropDownListFor(model => model.Codigo_Estado, new SelectList(ViewBag.estados, "Codigo_Estado", "Descripcion"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize; max-width: 150px!important;" })
                                    @Html.ValidationMessageFor(model => model.Codigo_Estado)
                                </div>
                                <div class="col-md-2 form-medio">
                                    @Html.LabelFor(model => model.Fecha_Pesada, "Fecha:", new { @class = "control-label space-label" })
                                    @Html.EditorFor(model => model.Fecha_Pesada, new { htmlAttributes = new { @Value = Model.Fecha_Pesada.HasValue ? Model.Fecha_Pesada.Value.ToString("dd/MM/yyyy") : "", @class = "form-control", @style = "text-align:right" } })
                                </div>

                                <div class="col-md-3 form-medio" style="padding-left:0 !important; margin-left: 15px;">
                                    @Html.LabelFor(model => model.Codigo_Camara, "Camara:", new { @class = "control-label space-label" })
                                    @Html.DropDownListFor(model => model.Codigo_Camara, new SelectList(ViewBag.camaras, "Codigo_Camara", "Nombre"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize" })
                                    @Html.ValidationMessageFor(model => model.Codigo_Camara)
                                </div>
                            </div>

                        </div>
                    </fieldset>
        </div>
            </div>
            <!-- // -->
        </div>

        <script>
            $('#Fecha_Pesada').datepicker({
 
                dateFormat: 'dd/mm/yy' });
            function dotReplace(control) {
                let fControl = $(control);
                let controlVal = fControl.val().replace('.', ',');

                fControl.val(controlVal);
            }

            function SubmitForm(form) {
                $.validator.unobtrusive.parse(form);
                if ($(form).valid()) {

                    dotReplace("#Humedad");

                    dotReplace("#Grasa");

                    dotReplace("#Proteina");

                    dotReplace("#Kilos_Reales");
                    
                    $.ajax({
                        type: "POST",
                        url: form.action,
                        data: $(form).serialize(),
                        success: function (data) {
                            if (data.success) {
                                RecargarInfoPesadas();

                                $('#modalCreate').modal('hide');

                                notif({
                                    msg: data.message,
                                    type: "success",
                                    position: "center"
                                });

                            }
                            else {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                            }
                        }
                    });
                }
                return false;
            }

            function SaltosEnFormulario() {

                $("#Produccion_Codigo_Formula").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $('#Piezas_Obtenidas').focus();
                    }
                });

                $("#Piezas_Obtenidas").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $('#Kilos_Reales').focus();
                    }
                });

                $("#Humedad").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $('#Grasa').focus();
                    }
                });

                $("#Grasa").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $('#Proteina').focus();
                    }
                });

                $("#Proteina").keyup(function (e) {
                    if (e.keyCode == 13) {
                        SubmitForm($('#form1')[0]);
                    }
                });

                $("#Kilos_Reales").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $('#Humedad').focus();
                    }
                });

                $("#Kilos_Teoricos").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $('#Humedad').focus();
                    }
                });
            }
        </script>
    </div>

    <div class="modal-footer modalCreate">
        <button type="submit" class="btn btn-primary">Confirmar</button>
        <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
}
