﻿@using MVC_Produccion.Sesiones
@{
    ViewBag.Title = "Producciones : Listado";
}
@{
    if (ViewBag.Error == null)
    {
        <h2>Producciones de Quesos</h2>
        <table id="ProduccionesTabla" class="display compact" style="width:100%"></table>
        <div id="dropdownEstados" style="display:none; text-transform:capitalize">
            @Html.DropDownList("ListadoEstados", new SelectList(ViewBag.estados, "Codigo_Estado", "Descripcion"), new { @class = "form-control", @style = "text-transform: capitalize" })
        </div>
        <div id="dropdownHistoricos" style="display:none; text-transform:capitalize">
            @Html.DropDownList("ListadoHistoricos", ViewBag.ListadoHistoricos as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
        </div>
    }
    else
    {
        <div class="alert alert-danger col-md-12" style="margin-top:70px !important" role="alert">
            @ViewBag.Error
        </div>
    }
}
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteProduccion()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Cambio de Estado-->
<div class="modal fade" id="modalEstados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:350px;" role="document">
        <div class="modal-content" id="ModalCambioEstado"></div>
    </div>
</div>

<!-- Modal Cámaras -->
<div class="modal fade" id="modalCamaras" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Cámaras</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA CAMARAS -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="CamarasTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarSeleccionCamara()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<input class="codigo" hidden />
@section scripts{
    <script>
        var ListadoDetalles = [];
        var Lote = "";
        var dataTableProducciones = [];
        var kilosProduccionActual = 0;
        var piezasObtenidasProduccionActual = 0;
        var Codigo_Produccion = 0;
        var ProduccionActual = [];
        var listadoProducciones = [];
        var LoteActual;
        var KilosRestantes = 0;
        var PiezasRestantes = 0;
        var permitir_envasar = true;

        function CalcularRestantes() {
            var KilosIngresados = 0;
            $('#FormulasEnvasadoTabla').find('.kilosEditable').each(function () {
                if ($(this).val() != "") {
                    KilosIngresados += parseFloat($(this).val());
                }
            });
            $('#kilos-restantes').html("");
            $('#kilos-restantes').html(kilosProduccionActual - KilosIngresados);
            if (Envasa_sin_kilos) {
                $('#kilos-restantes').hide();
                $('#p-kilos-litros').hide();
            }

            var PiezasIngresadas = 0;
            $('#FormulasEnvasadoTabla').find('.cantidadEditable').each(function () {
                if ($(this).val() != "") {
                    PiezasIngresadas += parseFloat($(this).val());
                }
            });
            $('#piezas-restantes').html("");
            $('#piezas-restantes').html(parseInt(piezasObtenidasProduccionActual - PiezasIngresadas));
        }
        /*VERIFICA REGISTRO SI ESTA EN LIBERADO POR CALIDAD*/
        function VerificarCantidades() {
            $(".kilosEditable").blur(function () {
                var KilosIngresados = 0;
                $('#FormulasEnvasadoTabla').find('.kilosEditable').each(function () {
                        if ($(this).val() != "")
                            KilosIngresados += parseFloat($(this).val());
                    }
                )
                if (kilosProduccionActual - KilosIngresados < 0) {
                    notif({
                        msg: "Error, los kilos envasados no pueden superar los " + parseFloat(kilosProduccionActual).toFixed(3) + " kilos.",
                        type: "warning",
                        width: 500,
                        timeout: 4000,
                        multiline: true,
                        position: "center"
                    });
                }
                else {
                    $('#kilos-restantes').html("");
                    $('#kilos-restantes').html(kilosProduccionActual - KilosIngresados);
                    if (Envasa_sin_kilos) {
                        $('#kilos-restantes').hide();
                        $('#p-kilos-litros').hide();
                    }
                }
            })
            $(".cantidadEditable").blur(function () {
                var PiezasIngresadas = 0;
                $('#FormulasEnvasadoTabla').find('.cantidadEditable').each(
                    function () {
                        if ($(this).val() != "") {
                            var Kilos = parseFloat($(this).val());
                            $(this).parent().each(function () {
                                $(this).parent().find('td').each(function () {
                                    if ($(this).index() == 1) {
                                        if (parseFloat($(this).html()) != parseFloat(1))
                                            PiezasIngresadas += (Kilos / parseFloat($(this).html()));
                                        else
                                            PiezasIngresadas += Kilos
                                    }
                                });
                            });
                        }
                    }
                )
                if (piezasObtenidasProduccionActual - PiezasIngresadas < 0) {
                    notif({
                        msg: "Error, las piezas envasadas no pueden superar las " + parseFloat(piezasObtenidasProduccionActual).toFixed(3) + " piezas.",
                        type: "warning",
                        width: 500,
                        timeout: 4000,
                        multiline: true,
                        position: "center"
                    });
                } else {
                    $('#piezas-restantes').html("");
                    $('#piezas-restantes').html(parseInt(piezasObtenidasProduccionActual - PiezasIngresadas));
                }
            })
        }
        function modificarInput(Codigo) {
            $('input.codigo').text(Codigo);
        }
        /*SE LLAMA AL PRESIONAR EL BOTON CAMBIAR ESTADO*/
        /* METODO PARA AGREGAR UN REGISTRO*/
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
            return false;
        }
        function CambiarEstado() {
            var bandera = false;
            $('#ProduccionesTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {
                    Lote = $(this).html();
                    bandera = true;
                    $.ajax({
                        type: "GET",
                        url: "/CambiosEstado/AddOrEdit/",
                        data: { Lote: $(this).html() },
                        success: function (data) {
                            $('#ModalCambioEstado').html(data);
                            $('#modalEstados').modal('toggle');
                        }
                    });
                }
            });
            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });
                return;
            }
        }
        function CargarProduccionesPorHistorico(Historico) {
            notif({
                msg: "Filtrando... Por favor, espere un momento.",
                type: "warning",
                position: "center"
            });
            filtradoTablaProducciones(cdataTableEstado || 0, Historico);
        }
        function CargarProduccionesPorEstado(Codigo) {
            notif({
                msg: "Filtrando... Por favor, espere un momento.",
                type: "warning",
                position: "center"
            });
            filtradoTablaProducciones(Codigo, cdataTableTipos || 0);
        }
        var dataTableProd = null;
        var cdataTableTipos = null;
        var cdataTableEstado = null;
        var Codigo_Producto_Seleccionado = '';
        function loadProduccionesTabla(firstLoaded=false) {
            $.fn.dataTable.moment('DD/MM/YYYY');

            dataTableProd = $("#ProduccionesTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "responsive": true,
                data: listadoProducciones,
                "columns": [
                    {
                        "data": "Lote",
                        "title": "Lote",
                        "width": "15%"
                    },
                    {
                        "data": "Nro_Planilla",
                        "title": "Nro Planilla"
                    },
                    {
                        "data": "Fecha",
                        "title": "Fecha",
                        orderable: true,
                        "render": function (data) {
                            if (data != null)
                                return moment(data).format('DD/MM/YYYY');
                            else
                                return "";
                        }
                    },
                    {
                        "data": "Producto",
                        "title": "Producto",
                        "sClass": "mayusculas-texto",
                    },
                    {
                        "data": "Piezas_Obtenidas",
                        "title": "U. Obtenidas",
                        render: function (data) {
                            if (data == null)
                                return "";
                            else
                                return parseFloat(data).toFixed(3);
                        }
                    },
                    {
                        "data": "Resta_Envasar",
                        "title": "Faltan Envasar",
                        render: function (data) {
                            if (data == null)
                                return "";
                            else
                                return parseFloat(data).toFixed(3);
                        }
                    },
                    {
                        "data": "Kilos_Teoricos",
                        "title": "Kilos",
                        render: function (data) {
                            if (data == null)
                                return "";
                            else
                                return parseFloat(data).toFixed(3);
                        }
                    },
                    {
                        "data": "Kilos_Reales",
                        "title": "Kilos Saladero",
                        render: function (data) {
                            if (data == null)
                                return "";
                            else
                                return parseFloat(data).toFixed(3);
                        }
                    },
                    {
                        "data": "Kilos_Envasado",
                        "title": "Kilos Envasados",
                        render: function (data) {
                            if (data == null)
                                return "";
                            else
                                return parseFloat(data).toFixed(3);
                        }
                    },
                    {
                        "data": "Estado",
                        "title": "Estado",
                        "sClass": "mayusculas-texto",
                    },
                      @{
                          if (Sesion.UsuarioActual.Rol.ToLower() == "administrador" || !ViewBag.configuraciones.Requiere_Rol_Administrador || !ViewBag.configuraciones.Utiliza_Login)
                          {
                            <text>
                                {
                                    "data": "Lote",
                                    "title": "Herramientas",
                                    orderable: false,
                                    width: "6%",
                                    "render": function (data) {
                                        return "<a class='btn btn-default btn-sm' href='/ProduccionesQuesos/AddOrEdit?Lote=" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                            `<a class='btn btn-danger btn-sm' onclick="modificarInput('${data}')" data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>`;
                                    },
                                },
                            </text>
                          }
                          else
                          {
                            <text>
                                {
                                    "title": "",
                                    orderable: false,
                                    "render": function (data) {
                                        return "";
                                    }
                                }
                            </text>
                          }
                    }
                ],
                "columnDefs": [
                    { className: "text-right", "targets": [1, 4, 5, 6, 7, 8] },
                    { className: "text-center", "targets": [0, 2, 9, 10] }
                ],
                order: [[2, "desc"]],
                language: idiomaEspañol,
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: '<span class="glyphicon glyphicon-plus"></span>',
                        className: 'nuevo',
                        action: function () {
                            window.location.href = "/ProduccionesQuesos/AddOrEdit/";
                        }
                    },
                    {
                        text: '<span class="glyphicon glyphicon-arrow-right"></span> Cambiar estado',
                        className: 'cambiarEstado',
                        action: function () {
                            CambiarEstado();
                        }
                    },
                    {
                        text: '<span class="glyphicon glyphicon-arrow-right"></span> Envasar',
                        className: 'envasar',
                        action: function () {
                            if (!permitir_envasar) {
                                notif({
                                    msg: "No se puede envasar una produccion Historica",
                                    type: "error",
                                    position: "center"
                                });

                            } else {
                                EnvasarInicio();
                            }
                        }
                    },
                    {
                        text: '<span class="glyphicon glyphicon-arrow-right"></span> Modificar lote',
                        className: 'modificarLoteProduccion',
                        action: function () {
                            AbrirModalModificarLoteProd($("#ProduccionesTabla > tbody > tr.selected td").first().text());
                        }
                    },
                    {
                        text: $('#dropdownEstados').html(),
                        className: 'botonDropdown'
                    },
                    {
                        text: $('#dropdownHistoricos').html(),
                        className: 'botonDropdown'
                    },
                ],
                initComplete: function () {
                    $('.envasar').prop("disabled", true);

                    $('#ListadoEstados').append(
                        $('<option></option>').val(0).html("Todos")
                    );

                    $("#ListadoEstados").change(function () {
                        CargarProduccionesPorEstado($('option:selected', this).val());
                    });
                    $("#Fecha").change(function () {
                        alert("cambia");
                        EnvasarInicio();
                    });

                    $("#ListadoHistoricos").change(function () {
                        permitir_envasar = $('option:selected', this).val() != 0 ? false : true;
                        CargarProduccionesPorHistorico($('option:selected', this).val());
                    });

                    if (cdataTableTipos != null)
                        $("#ListadoHistoricos").val(cdataTableTipos.toString());
                    else
                        cdataTableTipos = '0';

                    if (cdataTableEstado != null)
                        $("#ListadoEstados").val(cdataTableEstado.toString());
                    else
                        cdataTableEstado = '0';

                    $('div.dataTables_filter input').focus();

                    if (!firstLoaded) {
                        notif({
                            msg: "Producciones filtradas correctamente",
                            type: "success",
                            position: "center"
                        });
                    }
                },
                select: 'single'
            });

            dataTableProd.on('select', function (e, dt, type, indexes) {
                $(".modificarLoteProduccion").prop("disabled", false);
                $(".modificarLoteProduccion").addClass("azul");
                var Se_Puede_Envasar = dataTableProd.rows(indexes[0]).data()[0].Se_Puede_Envasar;
                Codigo_Producto_Seleccionado = dataTableProd.rows(indexes[0]).data()[0].Codigo_Producto;

                if (Se_Puede_Envasar) {
                    $(".envasar").prop("disabled", false);
                    $(".envasar").addClass("verde");
                }
                else {
                    $(".envasar").prop("disabled", true);
                    $(".envasar").removeClass("verde");
                }
            });

            dataTableProd.on('deselect', function (e, dt, type, indexes) {
                if ($('#ProduccionesTabla>tbody>tr.selected').length == 0) {
                    $('.envasar').prop("disabled", true);
                    $(".envasar").removeClass("verde");
                    $(".modificarLoteProduccion").prop("disabled", true);
                    $(".modificarLoteProduccion").removeClass("azul");
                }
            });
        }
        function CargarProducciones() {
            filtradoTablaProducciones(0, 0, true);
        }
        function CargarCamaras() {
            dataTable = $("#CamarasTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/Camaras/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Codigo_Camara",
                        "title": "Código"
                    },
                    {
                        "data": "Nombre",
                        "title": "Nombre",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        "data": "Codigo_Camara",
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-xs' onclick=EditarCamara('" + data + "','" + 'Editar' + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                   "<a class='btn btn-danger btn-xs' onclick=BorrarCamara('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                        },
                    }
                ],
                "language": idiomaEspañol,
                select: 'single',
                "columnDefs": [
                        { className: "text-center", "targets": [0, 2] },
                ],
                initComplete: function () {
                    //SumarTotales();
                },
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: 'nuevo',
                       action: function () {
                           //$('#modalProductoInsumo').modal('toggle');
                       }
                   }
                ],
                "order": [[1, "asc"]]
            });
        }
        var Kilos_Reales;
        var kilos_saladero;


        function ConfirmarSeleccionCamara() {
            $('#CamarasTabla').find('tr.selected').find('td').each(
                function () {
                    if ($(this).index() == 0)
                        $("#Codigo_Camara").val($(this).html());
                }
            )
            $('#modalCamaras').modal('hide');
            CargarCamaras();
            $('#modalCamaras').on('hidden.bs.modal', function (e) {
                $('#FechaCambioEstado').focus();
            });
        }
        function MostrarMensaje() {
            @{
                    if(ViewBag.Resultado != null)
                    {
                        <text>
                            notif({
                                msg: "@ViewBag.Resultado",
                                type: "success",
                                position: "center"
                            });
                        </text>
                    }
                }
        };
        $(document).ready(function () {
            CargarProducciones();
            CargarCamaras();
            MostrarMensaje();
            $('#CamarasTabla').on('click', 'tr.selected', function () {
                ConfirmarSeleccionCamara();
            });
            $('#modalFormulasEnvasado').on('hidden.bs.modal', function (e) {
                CargarProducciones();
                $('#kilos-restantes').html("");
                if (Envasa_sin_kilos) {
                    $('#kilos-restantes').hide();
                    $('#p-kilos-litros').hide();
                }
                $('#piezas-restantes').html("");
            });
            Control_Stock_Insumos();
        });

        function Control_Stock_Insumos() {
            $.ajax({
                type: "GET",
                url: "/Insumos/ControlStockPuntoPedido/",
                //data: { Codigo_Insumo: '0020', Fabrica: 2, Cantidad: 1000 },
                dataType: "json",
                success: function (data) {
                    if (data.resultado[0]) {
                        notif({
                            msg: "Hay Insumos con Stock por Debajo del Punto de Pedido, Revise Listados.",
                            type: "warning",
                            position: "center",
                            width:'500'
                        });
                    }
                }
            });
        }
    </script>
}