﻿@using MVC_Produccion.Sesiones;
<h2>Pesadas</h2>
<div id="dropdownEstados" style="display:none; text-transform:capitalize">

    @Html.DropDownList("ListadoInformes ", ViewBag.ListadoInformes as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })

</div>
<table id="ProduccionesTabla" class="display compact" style="width:100%"></table>

<!-- Modal AddOrEdit-->
<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:1100px">
        <div class="modal-content" id="ModalCreate"></div>
    </div>
</div>


<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Delete()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/Producciones/InformePesadas.js"></script>

    <script>

        function MostrarMensaje() {

            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };

        function Editar(data) {

            $.ajax({
                type: "GET",
                url: "/ProduccionesQuesos/AddOrEditPesadas/",
                data: {
                    Lote: data
                },
                success: function (data) {

                    $('#ModalCreate').html(data);

                    SaltosEnFormulario();

                    $('#modalCreate').modal('toggle');

                    $('#modalCreate').on('shown.bs.modal', function (e) {
                        $('#Piezas_Obtenidas').focus();
                    })
                }
            });

        };
        var dataTableInformes = null;
        function CargarPesadas() {
            dataTableInformes = $("#ProduccionesTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/ProduccionesQuesos/GetPesadas",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Lote",
                        "title": "Lote"
                    },
                    {
                        "data": "Nro_Planilla",
                        "title": "Nro Planilla"
                    },
                    {
                        "data": "Fecha",
                        "title": "Fecha",
                        "render": function (data) { return moment(data).format('DD/MM/YYYY'); }
                    },
                    {
                        "data": "Producto",
                        "title": "Producto",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        "data": "Piezas_Obtenidas",
                        "title": "Piezas Obtenidas",
                        render: function (data) {
                            if (data == null) {
                                return "";
                            }
                            else return parseFloat(data).toFixed(4);
                        }
                    },
                    {
                        "data": "Kilos_Teoricos",
                        "title": "Kilos",
                        render: function (data) {
                            if (data == null) {
                                return "";
                            }
                            else return parseFloat(data).toFixed(4);
                        }
                    },
                    {
                        "data": "Kilos_Reales",
                        "title": "Kilos Reales",
                        render: function (data) {
                            if (data == null) {
                                return "";
                            }
                            else return parseFloat(data).toFixed(4);
                        }
                    },
                    @{
                    if (Sesion.UsuarioActual.Rol.ToLower() == "administrador" || !ViewBag.configuraciones.Requiere_Rol_Administrador  || !ViewBag.configuraciones.Utiliza_Login)
                    {
                        <text>
                            {
                                "data": "Lote",
                                "title": "Herramientas",
                                width: "10%",
                                'render': data => {
                                    return `<a class='btn btn-default btn-sm' onclick="Editar('${data}')"><span class='glyphicon glyphicon-pencil'></span></a>` +
                                        `<a class='btn btn-danger btn-sm' onclick="modificarInput('${data}')" data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>`
                                }
                            }
                        </text>
                    }
                    else
                    {
                        <text>
                            {
                                "title": "",
                                "render": function (data) {
                                    return "";
                                }
                            }
                        </text>
                    }
                }

                ],
                "dom": 'Bfrtip',
                "buttons": [
                    {
                        text: $('#dropdownEstados').html(),
                        className: 'botonDropdown'
                    }
                ],
                "columnDefs": [
                    { className: "text-right", "targets": [1, 4, 5, 6] },
                    { className: "text-center", "targets": [0, 2, 7] }
                ],
                "order": [[1, 'asc']],
                "language": idiomaEspañol,
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                    $('#dropdownEstados').html("");

                    $("#ListadoInformes_").change(function () {
                        RecargarInfoPesadas();
                    });
                }

            });
        };
        function RecargarInfoPesadas() {
            Humedad_Kilos = $("#ListadoInformes_").val();

            dataTableInformes.ajax.url('/ProduccionesQuesos/GetPesadas?Humedad_Kilos=' + Humedad_Kilos).load();
        }
        $(document).ready(function () {

            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/

            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });

            CargarPesadas();


        });

    </script>
}


