﻿@model AccesoDatos.Contexto.Ventas.Localidades
@{
    if (Model.CODIGO == "")
    {
        ViewBag.Title = "Localidad : Nuevo";
    }
    else
    {
        ViewBag.Title = "Localidad : Editar";
    }

}

@using (Html.BeginForm("AddOrEdit", "Localidades", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12 contenedor-formulas-add">
        <div class="col-md-12 flexible2">
                @if (ViewBag.agregar)
                {
                    <input type="text" hidden value="true" name="agregar" />
                }
                else
                {
                    <input type="text" hidden value="false" name="agregar" />
                }

            <div class="col-md-12 caja-contenedora" style="padding-bottom:0px !important">
                <div class="col-md-12 caja-sector">
                    <div class="col-md-3 form-medio">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.CODIGO, "Codigo:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="input-group">
                                @if (ViewBag.agregar)
                                {
                                    <input type="text" hidden value="true" name="agregar" />
                                    @Html.EditorFor(model => model.CODIGO, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.CODIGO, new { htmlAttributes = new { @class = "form-control", @type = "text", readOnly="readOnly" } })
                                    <input type="text" hidden value="false" name="agregar" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 form-medio">
                        <div class="col-md-2 form-medio">
                            @Html.LabelFor(model => model.DESCRIPCION, "Descripcion:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6 form-medio">
                            @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "true" } })

                        </div>
                    </div>
                    <div class="col-md-3 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.PREFIJO, "Prefijo Telefónico:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6 form-medio">
                            @Html.EditorFor(model => model.PREFIJO, new { htmlAttributes = new { @class = "form-control", @type = "text" } })

                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-sector">
                    <div class="col-md-3 form-medio">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.PROVINCIA, "Provincia:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.PROVINCIA, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalProvincias('PROVINCIA')"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.PROVINCIA)
                        </div>
                    </div>
                </div>

            </div>
            <!-- CONTENEDOR SUBMIT-->

            <div class="col-md-12 flexible">
                <div class="col-md-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <button class="btn btn-primary" id="btn_ConfirmarFormulario" type="submit">Confirmar</button>
                        <a class="btn btn-default" href="@Url.Action("Index", "Localidades")">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function ConfirmarCodigoComprobante() {
        $('#ComprobantesTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 0) {

                $('#Codigo_Comprob').val($(this).html());
            }
        });

        $('#modalCodigosComprobantes').modal('hide');
    }


    function MostrarMensaje(mensaje, tipo) {
        notif({
            msg: mensaje,
            type: tipo,
            position: "center"
        });
    };



    $(function () {

        if ("@ViewBag.error" != "") {
            MostrarMensaje("@ViewBag.error", "error");
        }


        $('#modalCodigosComprobantes').on('shown.bs.modal', function (e) {
            $('#ConfirmarComprobante').click(function () {
                ConfirmarCodigoComprobante();
            });

            $('#ComprobantesTabla tbody').on('click', 'tr.selected', function () {

                ConfirmarCodigoComprobante();

            });
        });
    });
</script>


