﻿@{
    ViewBag.Title = "Localidades : Listado";
}

<h2>Localidades</h2>

<table id="LocalidadesTablaIndex" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteLocalidad()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<input  id="codigo_localidad_eliminar" hidden />

@section scripts{
    <script>
        var ListadoLocalidades = []

        function CargarLocalidadesIndex() {
            $.ajax({
                type: "GET",
                url: "/Localidades/Obtener",
                success: function (data) {
                    ListadoLocalidades = [];
                    if (data.success) {
                        $.each(data.listado, function (i, item) {
                            ListadoLocalidades.push(item);
                        });
                    }
                },
                complete: function (data) {
                    CargarLocalidadesTabla();
                }

            });
        }


        function CargarLocalidadesTabla() {
            dataTable = $("#LocalidadesTablaIndex").DataTable({
                "destroy": true,
                "autoWidth": true,
                data : ListadoLocalidades,
                "columns": [
                    {
                        "data": "CODIGO",
                        "title": "Código",
                        "width": "10%"
                    },
                    {
                        "data": "DESCRIPCION",
                        "title": "Descripcion",
                        render: function (data) {
                            if (data != null) {
                                return data;
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "PROVINCIA",
                        "title": "Provincia",
                        render: function (data) {
                            if (data != null) {
                                return data;
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "PREFIJO",
                        "title": "Prefijo",
                        render: function (data) {
                            if (data != null) {
                                return data;
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "CODIGO",
                        "title": "",
                        "width": "10%",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-sm' href='/Localidades/AddOrEdit/?codigo=" + data + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                    `<a class='btn btn-danger btn-sm' onclick="modificarInput('${data}')" data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>`;
                        },
                    }

                ],
                "language": idiomaEspañol,
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: 'nuevo',
                       action: function () {
                           window.location.href = "/Localidades/AddOrEdit/";
                       }
                   },
                ],
                "select": 'multiple',
                "columnDefs": [
                      { className: "text-left", "targets": [1,2] },
                      { className: "text-center", "targets": [0, 3] },
                      { className: "text-right", "targets": [4] },

                ],
                "order": [[0, "asc"]],
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                }

            });

        };

        function MostrarMensaje(mensaje, tipo) {
            notif({
                msg: mensaje,
                type: tipo,
                position: "center"
            });
        };



        function modificarInput(Codigo_Compra) {
            console.log(Codigo_Compra);
            $('#codigo_localidad_eliminar').val(Codigo_Compra);
        }

        /*ELIMINA UNA FÓRMULA*/

        function DeleteLocalidad() {
            $.ajax({
                type: "POST",
                url: "/Localidades/Delete/",
                data: { codigo: $('#codigo_localidad_eliminar').val() },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                        CargarLocalidadesIndex();

                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                        console.log("ERROR: " + data.consola);
                    }
                }
            });

        };

        $(document).ready(function () {

            CargarLocalidadesIndex();

            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje("@ViewBag.Resultado", "success");
            }

            if ("@ViewBag.error" != "") {
                MostrarMensaje("@ViewBag.error","error");
            }
        });
    </script>
}
