﻿@model AccesoDatos.Contexto.Produccion.Formulas_Envasado
@using MVC_Produccion.Sesiones
@{
    if (Model.Codigo_Interno_Formula == 0)
    {
        ViewBag.Title = "Fórmulas Envasado: Nuevo";
    }
    else
    {
        ViewBag.Title = "Fórmulas Envasado: Editar";
    }

    bool muestraCostos = false;
    if (Sesion.UsuarioActual != null)
    {
        muestraCostos = Sesion.UsuarioActual.Muestra_Costos != null ? Sesion.UsuarioActual.Muestra_Costos.Value : false;

    }

}

@using (Html.BeginForm("AddOrEdit", "FormulasEnvasado", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    <div class="col-md-12 contenedor-formulas-add">
        <div class="col-md-12 flexible2">

            <!-- CONTENEDOR SUBMIT-->
            <div class="col-md-12 flexible">
                <div class="col-md-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <input type="submit" value="Confirmar" class="btn btn-primary" />
                        <a class="btn btn-default" href="@Url.Action("Index", "FormulasEnvasado")">Volver</a>
                    </div>
                </div>
            </div>

            <!-- Codigo_Interno_Formula -->
            <div class="col-md-12 caja-contenedora" style="display:none">
                <div class="col-md-12 form-medio">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Codigo_Interno_Formula, new { @class = "control-label" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Codigo_Interno_Formula, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <!-- Codigo_Producto -->
            <div class="col-md-12 caja-contenedora">
                <div class="col-md-12 form-medio">
                    <div class="col-md-5 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.Label("Producto:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Producto, "Producto", new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalProds(ConfirmarProd)"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                        @{
                            if (Model.Codigo_Interno_Formula != 0)
                            {
                                <div class="col-md-6 producto">
                                    <p style="text-transform:capitalize" id="descripcion-prod-form-envasado">
                                        @{
                                            if (Model.Productos != null)
                                            {
                                                <text>
                                                    @Model.Productos.Descripcion
                                                </text>
                                            }
                                        }

                                    </p>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6 producto">
                                    <p style="text-transform:capitalize" id="descripcion-prod-form-envasado">
                                    </p>
                                </div>
                            }

                        }
                    </div>
                </div>

            </div>

            <!-- Numero_Producto_Ventas -->
            <div class="col-md-12 caja-contenedora">
                <div class="col-md-12 form-medio">
                    <div class="col-md-5 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.Label("Producto de Ventas:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Numero_Producto_Ventas, "Producto", new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon"><a href="#" id="btn-producto" onclick="AbrirModalProductosVentas(ConfirmarProdVentas)"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                        @{
                            if (Model.Codigo_Interno_Formula != 0)
                            {
                                <div class="col-md-6 producto">
                                    <p style="text-transform:capitalize" id="producto-ventas-descripcion">
                                        @ViewBag.descProducto
                                    </p>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6 producto">
                                    <p style="text-transform:capitalize" id="producto-ventas-descripcion">

                                    </p>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- Cantidad_Envasada / Obtenidas_Por_Envasada -->
            <div class="col-md-12 caja-contenedora">
                <div class="col-md-12 form-medio">
                    <div class="col-md-3 form-medio">

                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.Cantidad_Envasada, "Cantidad Producto Desnudo:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Cantidad_Envasada, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                        </div>
                    </div>
                    <div id="div_obtenidas" class="col-md-3 form-medio">

                        <div class="col-md-8 form-medio">
                            @Html.LabelFor(model => model.Obtenidas_Por_Envasada, "Piezas Obtenidas por Envasado:", new { @class = "control-label" })
                        </div>

                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Obtenidas_Por_Envasada, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                        </div>

                    </div>

                </div>
            </div>

            <!-- Unidad_Medida -->
            <div class="col-md-12 caja-contenedora">
                <div class="form-group form-medio">
                    <div class="col-md-2" style="padding:0px !important">
                        @Html.LabelFor(model => model.Unidad_Medida, "Unidad de Medida", new { @class = "control-label" }):
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-12 form-medio">
                            <fieldset id="grupo2" class="col-md-12">
                                <div class="col-md-3 form-medio " style="display:flex !important">
                                    @Html.RadioButtonFor(model => model.Unidad_Medida, "U", new { @Id = "unidades" })<p style="margin:0px 0px 0px 3px  !important;">Cantidad</p>
                                </div>
                                <div class="col-md-6 form-medio" style="display:flex !important">
                                    @Html.RadioButtonFor(model => model.Unidad_Medida, "K", new { @Id = "kilos" })<p style="margin:0px 0px 0px 3px  !important;">Kilos/Litros</p>
                                </div>
                                <div class="col-md-3 form-medio" style="display:flex !important">
                                    @Html.RadioButtonFor(model => model.Unidad_Medida, "A", new { @Id = "ambos" })<p style="margin:0px 0px 0px 3px  !important;">Ambos</p>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Unidad_Medida)
                </div>
            </div>

            <!-- Es_Insumo -->
            <div class="col-md-12 caja-contenedora">
                <div class="form-group form-medio">
                    <div class="col-md-2" style="padding:0px !important">
                        @Html.LabelFor(model => model.Es_Insumo, "Insumo o Producto de Ventas", new { @class = "control-label" }):
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-12 form-medio">
                            <fieldset id="grupo2" class="col-md-12">
                                <div class="col-md-3 form-medio " style="display:flex !important">
                                    @Html.RadioButtonFor(model => model.Es_Insumo, "True", new { @class = "controlTipo" })<p style="margin:0px 0px 0px 3px  !important;">Insumo</p>
                                </div>
                                <div class="col-md-6 form-medio" style="display:flex !important">
                                    @Html.RadioButtonFor(model => model.Es_Insumo, "False", new { @class = "controlTipo" })<p style="margin:0px 0px 0px 3px !important;">Producto de Ventas</p>
                                </div>
                                <div class="col-md-3 form-medio" style="display:flex !important">
                                    @Html.RadioButtonFor(model => model.Es_Insumo_Prod_Ventas, "True")<p style="margin:0px 0px 0px 3px !important;">Ambos</p>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Unidad_Medida)
                </div>
            </div>

            <!-- Listado Insumos -->
            <div class="col-md-12 caja-contenedora">
                <div class="titulo-sector">Insumos</div>

                <table id="DetallesTabla" class="display compact" style="width:100%;"></table>
            </div>
            @if (muestraCostos)
            {
                <!--SUBTOTAL INSUMOS-->
                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-12 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                        <div class="col-md-3 flexible" style="justify-content:flex-end;">
                            <h4 style="margin:0px 5px 0px 0px">Subtotal:</h4><h4 style="margin:0px !important" id="st_insumos"></h4>
                        </div>
                    </div>
                </div>

            }


            <!-- Listado Costos Indirectos -->
            <div class="col-md-12 caja-contenedora">
                <div class="titulo-sector">Costos Indirectos</div>
                <table id="CostosFormulaTabla" class="display compact" style="width:100%;"></table>
            </div>
            @if (muestraCostos)
            {
                <!--SUBTOTAL COSTOS-->
                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-12 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                        <div class="col-md-3 flexible" style="justify-content:flex-end;">
                            <h4 style="margin:0px 5px 0px 0px">Subtotal:</h4><h4 style="margin:0px !important" id="st_costos"></h4>
                        </div>
                    </div>
                </div>

                <!--TOTAL FORMULA-->
                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-12 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                        <div class="col-md-3 flexible" style="justify-content:flex-end;">
                            <h3 style="margin:0px 5px 0px 0px">Total:</h3><h3 style="margin:0px !important" id="total-formula"></h3>
                        </div>
                    </div>
                </div>

            }

            <!-- LISTADOS PARA ENVIAR AL CONTROLADOR -->
            <div id="DetallesFormula" style="display:none"></div>
            <div id="CostosFormula" style="display:none"></div>

            <!-- CONTENEDOR SUBMIT-->
            <div class="col-md-12 flexible">
                <div class="col-md-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <input type="submit" value="Confirmar" class="btn btn-primary" />
                        <a class="btn btn-default" href="@Url.Action("Index", "FormulasEnvasado")">Volver</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@section scripts{
    <script src="~/Scripts/FormulasEnvasado/AddOrEdit.js"></script>
    <script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
        //Date dd/MM/yyyy
        $.validator.methods.date = function (value, element) {
            var date = value.split("/");
            return this.optional(element) || !/Invalid|NaN/.test(new Date(date[2], date[1], date[0]).toString());
        }
    </script>
    <script>
        var listadoCostos = [];
        var TotalInsumos = 0;
        var TotalCostos = 0;
        var TotalFormula = 0;
        var Codigo_Familia_Quesos = @ViewBag.Codigo_Familia_Quesos;

        function ConfirmarProdVentas() {
            let codigo = $('#ProductosVentasTabla tr.selected td:nth-child(1)').html();
            let descripcion = $('#ProductosVentasTabla tr.selected td:nth-child(2)').html();

            $("#Numero_Producto_Ventas").val(codigo);
            $('#producto-ventas-descripcion').html(descripcion);

            $('#modalProductosVentas').modal('hide');
            $("#ProductosVentaTabla").DataTable().destroy();
            CargarProductosVentas();
            $('#modalProductosVentas').on('hidden.bs.modal', function (e) {
                $('#Cantidad_Envasada').focus();
            });
        }

        function ConfirmarProd() {
            $('#ProductosModalTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {
                    $('#Codigo_Producto').val($(this).html());
                }
                if ($(this).index() == 1) {
                    $('#descripcion-prod-form-envasado').html($(this).html());
                }
            });
            $('#modalProductos').modal('hide');
        }

        function ConfirmarInsumo() {
            if ($("#modalInsumos").is(":visible")) {
                $("#tb-insumo").val($('#InsumosLayoutTabla tr.selected td:first-child').html());
            }
            $.ajax({
                type: "GET",
                url: "/Insumos/GetOne/",
                data: { Codigo_Insumo: $("#tb-insumo").val() },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        let Insumo = data.data[0];
                        $('#data2').html(Insumo.Descripcion);
                        if (Insumo.Precio_Ultima_Compra != null) {
                            $('#data3').html('<input id="nuevaCantidad" placeholder="Cantidad" style="text-align:right; width:100%">');
                            $('#data4').html(parseFloat(Insumo.Precio_Unitario).toFixed(4));
                            $('#nuevaCantidad').focus();
                            $("#nuevaCantidad").keyup(function (e) {
                                if (e.keyCode == 13) {
                                    $("#insertarDetalle").click();
                                    return false;
                                }
                            });
                        }
                    } else {
                        notif({
                            msg: data.mensaje,
                            type: "error",
                            position: "center"
                        });
                        $('#data2').html("");
                        $('#data3').html("");
                        $('#data4').html("");
                        $("#tb-insumo").focus();
                    }
                }
            });

            $('#modalInsumos').modal('hide');
        }
        function getProducto() {
            $.ajax({
                type: "GET",
                url: "/Productos/GetOne/",
                data: { Codigo_Producto: $('#Codigo_Producto').val() },
                success: function (data) {
                    if (data.success) {
                        $("#descripcion-prod-form-envasado").text(data.data[0].Descripcion);
                    } else {
                        notif({
                            msg: data.mensaje,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }

        function AgregarDetalle() {
            var filaAgregada = false;
            $('#DetallesTabla').find('#insertarDetalle').each(function () {
                filaAgregada = true;
            });
            if (filaAgregada == false) {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
                var html = '<tr>';
                html += '<td id="data0"></td>';
                html += `<td id="data1" class="form-medio">
                    <input id="tb-insumo" placeholder="Código" class="col-md-8 text-box single-line" style="text-align:right">
                    <div class="col-md-4" style="padding:0px !important;"><a href="#" onclick="AbrirModalInsumos(ConfirmarInsumo)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>
                    </td>`;
                html += '<td id="data2" style="text-transform:capitalize"></td>';
                html += '<td id="data3"></td>';
                @if (muestraCostos)
                {
                    <text>
                        html += '<td id="data4" style="text-align:right"></td>';
                        html += '<td id="data5" style="text-align:right"></td>';
                    </text>
                }

                html += '<td style="display:flex; justify-content:center"><button type="button" name="insert" id="insertarDetalle" onclick="ConfirmoInsertarDetalle()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>' +
                     '<button type="button" name="cancel" id="cancel" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';
                $('#DetallesTabla tbody').prepend(html);
                $('#tb-insumo').focus();
                $("#cancel").click(function (event) {
                    event.preventDefault();
                    $(this).closest('tr').remove();
                    CargarDetalles();
                });
                $("#tb-insumo").keyup(function (e) {
                    if (e.keyCode == 13) {
                        ConfirmarInsumo();
                        return false;
                    }
                });
            }
        };

        function ConfirmoInsertarDetalle() {
            let val = convertirFormato($('#nuevaCantidad').val());
            InsertarDetalle(val);
            $("#insertarDetalle").prop("disabled", true);
        }
        function InsertarDetalle(value) {
            let bandera = false;
            /*VERIFICA SI YA EXISTE UN DETALLE CON EL MISMO INSUMO*/
            for (var i in listadoDetalles) {
                if (listadoDetalles[i].Codigo_Insumo == $('#tb-insumo').val()) {
                    bandera = true;
                    $('#tb-insumo').focus();
                }
            }

            if (bandera == false) {
                /*VERIFICA QUE EXISTA EN LA BASE DE DATOS EL INSUMO*/
                $.ajax({
                    type: "GET",
                    url: "/Insumos/GetOne/",
                    data: { Codigo_Insumo: $('#tb-insumo').val() },
                    dataType: "json",
                    success: function (data) {
                        if (!data.success) {
                            notif({
                                msg: "Error, no existe un registro con el Código ingresado.",
                                type: "error",
                                position: "center"
                            });
                        } else {
                            let Insumo = data.data[0];

                            if (value == 0 || isNaN(value)) {
                                notif({
                                    msg: "Por favor, ingrese una Cantidad.",
                                    type: "error",
                                    position: "center"
                                });

                                $('#nuevaCantidad').focus();

                                return;
                            }

                            if (Insumo.Precio_Ultima_Compra != null) {
                                listadoDetalles.push({
                                    Codigo_Insumo: Insumo.Codigo_Insumo,
                                    Cantidad: value,
                                    Precio_Costo: Insumo.Precio_Unitario,
                                    Insumo: Insumo.Descripcion,
                                    Total: parseFloat(value * Insumo.Precio_Unitario).toFixed(4),
                                    Marca: true,
                                    Ajuste: null
                                })
                            } else {
                                listadoDetalles.push({
                                    Codigo_Insumo: Insumo.Codigo_Insumo,
                                    Cantidad: null,
                                    Precio_Costo: null,
                                    Insumo: Insumo.Descripcion,
                                    Total: null,
                                    Marca: true,
                                    Ajuste: null
                                })
                            }

                            CargarDetalles();
                            AgregarDetalle();
                        }
                    }
                });
            }

            if (bandera == true) {
                notif({
                    msg: "Ya existe un registro ingresado con ese Código",
                    type: "warning",
                    position: "center"
                });

                return;
            }
        };
        function editarDetalle(Codigo) {
            CargarDetalles();
            $('#DetallesTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 1) {
                    if ($(this).html() == Codigo) {
                        $(this).parent('tr').find('td').each(function () {
                            if ($(this).index() == 3) {
                                $(this).addClass("editable");
                                let Cantidad = $(this).html();
                                $(this).html(`<input id="cantidadEditable" style="text-align:right" class="col-md-12 text-box single-line" value="${Cantidad}">`);

                                $('#cantidadEditable').select();
                                $("#cantidadEditable").keyup(function (e) {
                                    if (e.keyCode == 13) {
                                        confirmarEdicionDetalle(Codigo);
                                        return false;
                                    }
                                });
                            }

                            if ($(this).index() == @if (muestraCostos) { <Text> 6 </Text> } else { <Text> 4 </Text> }) {
                                $(this).html(
                                    `<a class='btn btn-success btn-xs' onclick=confirmarEdicionDetalle('${Codigo}')>` +
                                    "<span class='glyphicon glyphicon-ok'></span>" +
                                    "</a>" +
                                    "<a class='btn btn-danger btn-xs' onclick=CargarDetalles()>" +
                                    "<span class='glyphicon glyphicon-remove'></span>" +
                                    "</a>"
                                );
                            }
                            });
                    }
                }
            });
        }

        function confirmarEdicionDetalle(Codigo) {
            $.ajax({
                type: "GET",
                url: "/Insumos/GetOne/",
                data: { Codigo_Insumo: Codigo },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        for (let i in listadoDetalles) {
                            if (listadoDetalles[i].Codigo_Insumo == Codigo) {
                                listadoDetalles[i].Cantidad = convertirFormato($("#cantidadEditable").val());
                                listadoDetalles[i].Ajuste = parseFloat($('#ajusteEditable').val());
                                listadoDetalles[i].Total = convertirFormato($('#cantidadEditable').val()) * data.data[0].Precio_Unitario;

                                notif({
                                    msg: "Registro editado satisfactoriamente.",
                                    type: "success",
                                    position: "center"
                                });

                                SumarTotales();
                                CargarDetalles();
                                CargarCostosFormula();
                                AgregarDetalle();
                            }
                        }
                    } else {
                        notif({
                            msg: data.mensaje,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }

        function CargarDetalles() {
            dataTable = $("#DetallesTabla").DataTable({
                "bPaginate": false,
                "bFilter": false,
                "destroy": true,
                "responsive": true,
                "autoWidth": true,
                "iDisplayLength": 50,
                "bInfo": false,
                "lengthChange": false,
                "data": listadoDetalles,
                "columns": [
                    {
                        title: "Marca",
                        data: "Codigo_Insumo",
                        "render": function (data) {
                            let Marca = false;
                            for (let i in listadoDetalles) {
                                if (listadoDetalles[i].Codigo_Insumo == data)
                                    Marca = listadoDetalles[i].Marca;
                            }
                            if (Marca == false)
                                return '<input type="checkbox" onclick="modificarMarca(\'' + data + '\', ' + true + ')">';
                            else
                                return '<input type="checkbox" checked onclick="modificarMarca(\'' + data + '\', ' + true + ')">';
                        }
                    },
                    {
                        title: "Código Insumo",
                        data: "Codigo_Insumo"
                    },
                    {
                        title: "Insumo",
                        data: "Insumo",
                        "sClass": "mayusculas-texto",
                        width: "35%"
                    },
                    {
                        title: "Cantidad",
                        data: "Cantidad",
                        "render": function (data) {
                            if (data != null && data > 0)
                                return (data).toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                            else
                                return "";
                        }
                    },
                     @if (muestraCostos)
                     {
                            <text>
                                {
                                    title: "Precio Costo",
                                    data: "Precio_Costo",
                                    "render": function (data) {
                                        if (data != null || data > 0)
                                            return (data).toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                                        else
                                            return "";
                                    }
                                },
                                {
                                    title: "Total",
                                    data: "Total",
                                    "render": function (data) {
                                        if (data != null || data > 0)
                                            return (data).toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                                        else
                                            return "";
                                    }
                                },
                            </text>
                      }

                    {
                        "data": "Codigo_Insumo",
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-xs' onclick=editarDetalle('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                  "<a class='btn btn-danger btn-xs' onclick=borrarDetalle('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                        }
                    },
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    { className: "text-right", "targets": [3, @if (muestraCostos) { <text>, 4, 5, 6 </text> } ] },
                    { className: "text-center", "targets": [0, 1 @if (!muestraCostos) { <Text>, 4 </Text> } ] }
                ],
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: "nuevo nuevoDetalle",
                       action: function () {
                           AgregarDetalle();
                       }
                   }
                ],
                initComplete: function () {
                    @if (muestraCostos)
                    {
                        <text>
                            SumarTotales();
                        </text>
                    }
                },
            });
        };
        var Codigo_Interno_Formula = "@Model.Codigo_Interno_Formula"
        function CargarCostosIndirectosFormula() {
            $.ajax({
                type: "GET",
                url: "/FormulasEnvasado/GetCostosIndirectos/",
                data: { Codigo_Interno_Formula: Codigo_Interno_Formula },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoCostos = data.data;

                        for (let i in listadoCostos) {
                            if (listadoCostos[i].Precio_Fijo == false) {
                                listadoCostos[i].Fijo = null;
                            } else if (listadoCostos[i].Precio_Fijo == true) {
                                listadoCostos[i].Total = listadoCostos[i].Fijo;
                                listadoCostos[i].Precio = null;
                            }
                        }
                        SumarTotales();
                        CargarCostosFormula();
                    };
                }
            });
        };

        function SubmitForm(form) {

            for (let i in listadoDetalles) {

                if(listadoDetalles[i].Cantidad != null){
                    $('#DetallesFormula').append('<input type="text" name="Detalle_Formula_Envasado[' + i + '].Codigo_Insumo" value="' + listadoDetalles[i].Codigo_Insumo + '"/>' +
                    '<input type="text" name="Detalle_Formula_Envasado[' + i + '].Cantidad" value="' + parseFloat(listadoDetalles[i].Cantidad).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Formula_Envasado[' + i + '].Marca" value="' + listadoDetalles[i].Marca + '"/>');
                } else {
                    $('#DetallesFormula').append('<input type="text" name="Detalle_Formula_Envasado[' + i + '].Codigo_Insumo" value="' + listadoDetalles[i].Codigo_Insumo + '"/>' +
                    '<input type="text" name="Detalle_Formula_Envasado[' + i + '].Marca" value="' + listadoDetalles[i].Marca + '"/>');
                }

            }

            for (let j in listadoCostos) {

                $('#CostosFormula').append('<input type="text" name="Costos_Indirectos_Formula_Envasado[' + j + '].Precio" value="' + parseFloat(listadoCostos[j].Precio).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Costos_Indirectos_Formula_Envasado[' + j + '].Codigo_Costo_Indirecto" value="' + listadoCostos[j].Codigo_Costo_Indirecto + '"/>' +
                    '<input type="text" name="Costos_Indirectos_Formula_Envasado[' + j + '].Cantidad" value="' + parseFloat(listadoCostos[j].Cantidad).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Costos_Indirectos_Formula_Envasado[' + j + '].Precio_Fijo" value="' + parseFloat(listadoCostos[j].Precio_Fijo).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Costos_Indirectos_Formula_Envasado[' + j + '].Porcentaje" value="' + parseFloat(listadoCostos[j].Porcentaje).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Costos_Indirectos_Formula_Envasado[' + j + '].Marca" value="' + listadoCostos[j].Marca + '"/>');
            }

            //VALIDADOR DEL FORMULARIO

            $.validator.unobtrusive.parse(form);

            $('#Cantidad_Envasada').val($('#Cantidad_Envasada').val().toString().replace(".", ","));
            $('#Obtenidas_Por_Envasada').val($('#Obtenidas_Por_Envasada').val().toString().replace(".", ","));

            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: "/FormulasEnvasado/AddOrEdit",
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            window.location.href = "/FormulasEnvasado/Index?resultado=" + data.resultado;
                        } else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center",
                                multiline: true
                            });

                            $('#Codigo_Formula_Envasado').focus();
                        }
                    }
                });
            }

            return false;
        }

        $(document).ready(function () {
            $("#Codigo_Producto").change(function(){
                getProducto();

            });
            if ($("#Codigo_Producto").val() != "") {
                getProducto();
            }

            $('#Fecha').datepicker();
            $('#Cantidad_Envasada').numeric();
            $('#Obtenidas_Por_Envasada').numeric();

            /*EVITA ENVÍO DEL FORMULARIO POR PRESIONAR ENTER*/
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
            $(document).on('change', 'input[type="checkbox"]', function () {
                SumarTotales();
            });
            CargarProductos();
            CargarCostosIndirectosFormula();
            SaltosEnFormulario();
            SumarTotales();
            CargarCostosFormula();

            if(@Model.Codigo_Interno_Formula == 0){
                CargarDetalles();
                $('#Codigo_Producto').val("");
                $('#Codigo_Formula_Envasado').val("");
                $('#Codigo_Producto').focus();
                $('#ambos').prop('checked', true);
            }
            else
                CargarDetallesAsociados();

            $("#Es_Insumo_Prod_Ventas").click(function () {

                $(".controlTipo").prop("checked", false);

            });

            $(".controlTipo").click(function () {

                $("#Es_Insumo_Prod_Ventas").prop("checked", false);

            });
        });
    </script>
}

