﻿@{
    ViewBag.Title = "Fórmulas Envasado : Listado";
}

<h2>Fórmulas Envasado</h2>

<table id="FormulasEnvasadoTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verficación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteFormula()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

<script src="~/Scripts/FormulasEnvasado/Index.js"></script>

    <script>

        var Formula = [];

        /*ELIMINA UNA FÓRMULA*/

        function DeleteFormula() {
            $.ajax({
                type: "POST",
                url: "/FormulasEnvasado/Delete/",
                data: { Codigo_Interno_Formula: Formula },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                        CargarFormulasEnvasado();

                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

        function MostrarMensaje() {
            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };

        function CargarFormulasEnvasado() {
            dataTable = $("#FormulasEnvasadoTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/FormulasEnvasado/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Codigo_Producto",
                        "title": "Código Producto",
                        width: "15%"
                    },
                    {
                        "data": "Producto",
                        "title": "Producto",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        "data": "Numero_Producto_Ventas",
                        "title": "Num Producto Ventas",
                        width: "15%"
                    },
                    {
                        "data": "ProductoVentas",
                        "title": "Producto Ventas",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        "data": "Codigo_Interno_Formula",
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-sm' href='/FormulasEnvasado/AddOrEdit/" + data + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                    "<a class='btn btn-danger btn-sm' onclick=Formula=" + data + " data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                        },
                    }

                ],
                "language": idiomaEspañol,
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: 'nuevo',
                       action: function () {
                           window.location.href = "/FormulasEnvasado/AddOrEdit/";
                       }
                   }
                ],
                "columnDefs": [
                      { className: "text-center", "targets": [0, 2, 4] }
                ],
                "order": [[1, "asc"]],
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                }

            });

        };

        $(document).ready(function () {

            CargarFormulasEnvasado();

            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje();
            }
        });
    </script>
}

