﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Líneas : Listado";

    Entities db = new Entities();
}

<h2>Líneas</h2>

<table id="LineasTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteLineaIndex()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script>

        var CodigoActual = 0;

        var dataTableLineas = [];

        var listadoLineas = [];

        function ModificarCodigoLinea(Codigo) {
            CodigoActual = Codigo;
        }

        function CargarLineasIndex() {

            $.ajax({
                type: "GET",
                url: "/Lineas/GetData/",
                data: { Codigo_Linea: -1 },
                dataType: "json",
                success: function (data) {
                    if (data.success) {

                        listadoLineas = data.data;

                        dataTableLineas = $("#LineasTabla").DataTable({
                            "destroy": true,
                            "autoWitdh": true,
                            data: listadoLineas,
                            "columns": [
                                {
                                    "data": "Codigo_Linea",
                                    "title": "Código",
                                    "width": "15%"
                                },
                                {
                                    "data": "Nombre",
                                    "title": "Nombre",
                                    "sClass": "mayusculas-texto"
                                },
                                {
                                    "data": "Codigo_Linea",
                                    "width": "10%",
                                    "title": "Herramientas",
                                    "render": function (data) {
                                        return "<a class='btn btn-default btn-sm' onclick=EditarLinea('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                                "<a class='btn btn-danger btn-sm' onclick=ModificarCodigoLinea(" + data + ") data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                                    },
                                }

                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                    { className: "text-center", "targets": [0, 2] },
                            ],
                            dom: 'Bfrtip',
                            buttons: [
                               {
                                   text: '<span class="glyphicon glyphicon-plus">',
                                   className: 'nuevo',
                                   action: function () {
                                       AgregarLinea();
                                   }
                               }
                            ],
                            "order": [[1, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            }

                        });
                    }

                }
            });


        };

        /* METODO PARA AGREGAR UN REGISTRO*/

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
            return false;
        }

        function refrescarLineas() {
            CargarLineasIndex();
        };

        function DeleteLineaIndex() {
            $.ajax({
                type: "POST",
                url: "/Lineas/Delete/",
                data: { Codigo_Linea: CodigoActual },
                success: function (data) {

                    if (data.success == true) {
                        $('#modalDelete').modal('hide');
                        CargarLineasIndex();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

    </script>

    <script>

        $(document).ready(function () {

            CargarLineasIndex();
        });

    </script>
}
