﻿@model AccesoDatos.Contexto.Produccion.Produccion_Dulce_de_Leche
@using MVC_Produccion.Sesiones
@using AccesoDatos.Contexto.Produccion.SP
@using System.Linq
@using System.Globalization
@{
    dbProdSP db = new dbProdSP();

    if (Model.Codigo_Interno_Produccion == 0)
    {
        ViewBag.Title = "Producciones : Nuevo";
    }
    else
    {
        ViewBag.Title = "Producciones : Editar";
    }
}

@using (Html.BeginForm("AddOrEdit", "ProduccionesDulceDeLeche", FormMethod.Post, new { id = "FormNuevo" }))
{
    @Html.HiddenFor(model => model.Produccion.Historico)
    <div class="col-md-12 contenedor-producciones-add">
        <div class="col-md-12 flexible2">
            <!-- CONTENEDOR SUBMIT-->
            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <a onclick="Confirmar_Produccion_Dulce()" class="AddProduccion btn btn-primary">Confirmar</a>
                        <a class="btn btn-default" href="@Url.Action("Index", "ProduccionesDulceDeLeche")">Volver</a>
                    </div>
                </div>
            </div>
            <!--FABRICA / NUMERO PLANILLA / FECHA / LOTE / PRODUCTO / QUESERO / ESTADO-->
            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Codigo_Interno_Produccion, new { @class = "control-label" })
                @Html.EditorFor(model => model.Codigo_Interno_Produccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Codigo_Interno_Produccion)
            </div>
            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Produccion.Codigo_Interno_Produccion, new { @class = "control-label" })
                @Html.EditorFor(model => model.Produccion.Codigo_Interno_Produccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Produccion.Codigo_Interno_Produccion)
            </div>
            <fieldset class="scheduler-border caja-contenedora" style="margin-bottom:10px !important">
                <legend class="scheduler-border">Encabezado</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <div class="col-md-2 form-medio">
                                @Html.Label("Fábrica:", htmlAttributes: new { @class = "control-label" })
                            </div>
                            @{
                                if (Model.Codigo_Interno_Produccion != 0)
                                {
                                    <div class="col-md-3 form-medio flexible2">
                                        <div class="col-md-12 form-medio form-group">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.Produccion.Codigo_Fabrica, new { htmlAttributes = new { @class = "form-control" } })
                                                <span class="input-group-addon" id="buscadorFabrica">
                                                    <a href="#" id="btn-fabrica" onclick="AbrirModalFabricas('Produccion_Codigo_Fabrica')">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-medio">
                                            @Html.ValidationMessageFor(model => model.Produccion.Codigo_Fabrica)
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="fabrica-descripcion">
                                            @{
                                                if (Model.Produccion.Fabricas != null)
                                                {
                                                    <text>
                                                        @Model.Produccion.Fabricas.Descripcion
                                                    </text>
                                                }
                                            }
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 form-medio flexible2">
                                        <div class="col-md-12 form-medio form-group">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.Produccion.Codigo_Fabrica, new { htmlAttributes = new { @class = "form-control" } })
                                                <span class="input-group-addon" id="buscadorFabrica">
                                                    <a href="#" id="btn-fabrica" onclick="AbrirModalFabricas('Produccion_Codigo_Fabrica')">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-medio">
                                            @Html.ValidationMessageFor(model => model.Produccion.Codigo_Fabrica)
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="fabrica-descripcion"></p>
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="form-medio">
                                @Html.LabelFor(model => model.Produccion.Fecha, "Fecha:", new { @class = "control-label" })
                                @Html.EditorFor(model => model.Produccion.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                            </div>
                        </div>
                        <div class="col-md-3 form-medio flexible2">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Produccion.Nro_Planilla, "Número de Planilla:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @if (Model.Codigo_Interno_Produccion == 0)
                                    {
                                        if (Model.Produccion.Nro_Planilla == null)
                                        {
                                            @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                        }
                                        else
                                        {
                                            @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "text-align:right" } })
                                        }
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @disabled = "disabled", @id = "Nro_Planilla_Editar" } })
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                    }
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(model => model.Produccion.Nro_Planilla)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio" style="flex-direction:column !important">
                            @if (Model.Codigo_Interno_Produccion == 0)
                            {
                            <div class="col-md-12 form-medio">
                                @Html.LabelFor(model => model.Produccion.Lote, "Lote:", new { @class = "control-label" })
                                @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.EditorFor(model => model.Produccion.Lote_Padre, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                            </div>
                                <div class="col-md-12 form-medio">
                                    @Html.ValidationMessageFor(model => model.Produccion.Lote)
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-3 form-medio">
                                        @Html.LabelFor(model => model.Produccion.Lote, "Lote:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-9 form-medio">
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @id = "LoteEditar" } })
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                        @Html.EditorFor(model => model.Produccion.Lote_Padre, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                        @Html.ValidationMessageFor(model => model.Produccion.Lote)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <div class="col-md-2 form-medio">
                                @Html.Label("Producto:", htmlAttributes: new { @class = "control-label" })
                            </div>

                            @{
                                if (Model.Codigo_Interno_Produccion != 0)
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="Codigo_Producto" id="Codigo_Producto" style="text-align:right" value="@Model.Produccion.Formulas.Codigo_Producto" />
                                            <span class="input-group-addon" id="buscadorProducto"><a href="#" id="btn-producto" onclick="AbrirModalFormulas('DDL')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="producto-descripcion">
                                            @{
                                                if (Model.Produccion.Formulas.Productos != null)
                                                {
                                                    <text>
                                                        @Model.Produccion.Formulas.Productos.Descripcion
                                                    </text>
                                                }
                                            }
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="Codigo_Producto" id="Codigo_Producto" style="text-align:right" />
                                            <span class="input-group-addon" id="buscadorProducto"><a href="#" id="btn-producto" onclick="AbrirModalFormulas('DDL')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="producto-descripcion"></p>
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-md-4 form-medio" style="justify-content:flex-end">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Produccion.Codigo_Quesero, "Responsable:", new { @class = "control-label" })
                                </div>

                                <div class="col-md-6 form-medio">
                                    @Html.DropDownListFor(model => model.Produccion.Codigo_Quesero, new SelectList(ViewBag.queseros, "Codigo_Quesero", "Nombre"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(model => model.Produccion.Codigo_Quesero)
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="col-md-12 caja-sector-modal caja-contenedora">
                <div class="col-md-2 form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.LabelFor(model => model.Litros, "Litros:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-5 form-medio">
                        @Html.EditorFor(model => model.Litros, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                        @Html.ValidationMessageFor(model => model.Litros)
                    </div>
                </div>
                <div class="col-md-1 form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.Label("Acidez:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-5 form-medio">
                        @Html.EditorFor(model => model.Acidez, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                    </div>
                </div>
                <div class="col-md-1 form-medio">
                    <div class="col-md-3 form-medio">
                        @Html.Label("PH:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Ph, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                    </div>
                </div>
                <div class="col-md-2 form-medio">
                    <div class="col-md-4 form-medio">
                        @Html.Label("Temperatura:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Temperatura, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right;width:60px;" } })
                    </div>
                </div>
                <div class="col-md-2 form-medio">
                    <div class="col-md-2 form-medio">
                        @Html.Label("Silo:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Silo, new { htmlAttributes = new { @class = "form-control", min = "1" } })
                    </div>
                </div>
            </div>
            <!--PIEZAS OBTENIDAS / Litros TEORICOS / Litros REALES -->
            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Rinde</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-2 form-medio">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.Kilos_Teoricos, "Kilos Teóricos:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Kilos_Teoricos, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Kilos_Teoricos)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Kilos_Reales, "Kilos Reales:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Kilos_Reales, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Kilos_Reales)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!--Observacion -->
            <div class="col-md-12 caja-contenedora">
                <input class="collapseGroupCheck" type="checkbox" value="" id="collapseOneCheck" data-target=".collapseOne">
                <label for="Produccion.Observacion" class="noselect">Ver Observación</label>
                <div class="panel-group" id="accordion">
                    <div id="infoObservacion" class="collapseOne panel-collapse collapse">
                        <div class="col-md-6">
                            <textarea name="Produccion.Observacion" value="" style="width: 90%; height: 211px; padding: 12px 20px; box-sizing: border-box;
                                border: 2px solid #ccc; border-radius: 4px;
                                background-color: #f8f8f8; font-size: 16px;  " id="textAreaObservacion" rows="5" placeholder="Por favor ingrese una observación">@{if (Model.Produccion.Observacion != null) {<text> @Model.Produccion.Observacion</text> }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--LISTADOS -->
            <div class="col-md-12 caja-contenedora" id="checkDesglose">
                <input type="checkbox" id="cb-desglose" /> <label for="cb-desglose" class="noselect">Desglosar la Producción</label>
            </div>
            <div class="col-md-12 caja-contenedora" id="DivDesglose" style="display:none;">
                <h3>Desglosar la Producción</h3>
                <!--button class="btn btn-success" id="AgregarDesglose" style="margin-bottom:5px;"><span><span class="glyphicon glyphicon-plus"></span></span></button-->
                <table id="DesgloseTabla" class="display compact table" style="width:850px">
                    <thead>
                        <tr>
                            <th style="width:150px;">Producto</th>
                            <th style="width:500px;">Producto</th>
                            <th style="width:100px;">Kilos</th>
                            <th style="width:120px;">Lote</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="padding-top:5px;" id="filaDesglose">
                            <td>
                                <div class="input-group">
                                    <input class="form-control text-box single-line" id="Producto_Desglose" placeholder="Producto" style="padding:10px 10px !important;" />
                                    <span class="input-group-addon" autocomplete="off"><a href="#" onclick="AbrirModalFormulas('DDL', getProductoDesglose)"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </td>
                            <td>
                                <label id="Label_Producto_Desglose" style="margin-left:10px;"> </label>
                            </td>
                            <td>
                                <input class="form-control text-box single-line" id="Kilos_Desglose" placeholder="Kilos" style="text-align:right;padding:10px 10px !important;" autocomplete="off" />
                            </td>
                            <td>
                                <input class="form-control text-box single-line" id="Lote_Desglose" placeholder="Lote" style="text-align:right;padding:10px 10px !important;" autocomplete="off" />
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 caja-contenedora" id="InsumosConsumidosDiv">
            </div>
            <div class="col-md-12 caja-contenedora" id="ProductosAsociados">
                <table id="InsumosAsociadosTabla" class="display compact" style="width:100%;"></table>
            </div>
            <!-- LISTADOS PARA ENVIAR AL CONTROLADOR -->
            <div id="DetallesProduccion" style="display:none"></div>
            <div id="Mov_Ins_Asoc" style="display:none"></div>
            <div id="CostosIndirectosProduccion" style="display:none"></div>
            <!-- CONTENEDOR SUBMIT-->
            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <a onclick="Confirmar_Produccion_Dulce();" class="AddProduccion btn btn-primary">Confirmar</a>
                        <a class="btn btn-default" href="@Url.Action("Index", "ProduccionesDulceDeLeche")">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Modal Detalles-->
<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:900px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Detalles</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA DETALLES -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="DetallesFormulaTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarAjustes()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Fábricas-->
<div class="modal fade" id="modalFabricas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:500px">
        <div class="modal-content" id="ModalFabricas"></div>
    </div>
</div>
<!-- Modal Fórmulas-->
<div class="modal fade" id="modalFormulas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:55%">
        <div class="modal-content" id="ModalFormulas"></div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/CorrectorDecimales.js"></script>
    <script>
        var Codigo_Producto_Seleccionado = '';
        var Codigo_Familia = @ViewBag.Codigo_Familia;
        var dataTableDetalles = [];
        var dataTableFormulas = [];
        var dataTableAjustes = [];
        var dataTableProductosFormula = [];

        var listadoProductosFormula = [];

        var Producto = [];
        var LitrosRestantes = 0;
        var PiezasRestantes = 0;
        var KilosRestantes = 0;
        var Kilos_Reales = 0;
        var listadoCostosIndirectosProduccion = [];

        $("#collapseOneCheck").on('click', function () {
            if (this.checked)
                $('#infoObservacion').show();
            else
                $('#infoObservacion').hide();

        });
        $('#cb-desglose').change(function () {
            if (parseFloat($("#Kilos_Reales").val().replace(',', '.')) <= 0) {
                notif({
                    msg: "Por favor ingrese kilos reales antes de desglosar",
                    type: "error",
                    position: "center"
                });
                $("#Kilos_Reales").focus();
                $('#cb-desglose').prop('checked', false);
                $('#DivDesglose').hide();

            } else {
                if (this.checked) {
                    $('#DivDesglose').show();
                    $('#Kilos_Reales').attr('required', true);
                }

                else {
                    $('#DivDesglose').hide();
                    $('#Kilos_Reales').attr('required', false);
                }
            }
        });

        function BorrarDesglose(td) {
            let kilos = parseFloat($(td).parent().parent().find("#td-kilos").text());
            totalKilosDesglose -= kilos;

            if (parseFloat($("#Kilos_Reales").val().replace(',', '.')) > totalKilosDesglose)
                $('#filaDesglose').show();

            $(td).parent().parent().remove();
        }

        $("#Producto_Desglose").keyup(function (e) {
            if (e.keyCode == 13)
            getProductoDesglose();
        });

        $("#Lote_Desglose").keyup(function (e) {
            if (e.keyCode == 13) {

                $.ajax({
                    type: "GET",
                    url: "/Producciones/ExisteProduccion/",
                    data: { Lote: $('#Lote_Desglose').val() },
                    success: function (data) {
                        console.log(data);
                        if (data == true) {
                            var existe = 0;
                            if ($('#Produccion_Lote').val().trim() == $('#Lote_Desglose').val().trim()) {
                                notif({
                                    msg: "El Lote del desglose no puede ser igual al Lote Padre!",
                                    type: "error",
                                    position: "center"
                                });
                                existe = 1;
                            }
                            if ($('#DesgloseTabla #td-producto').length == 0 && existe == 0)
                                agregarFilaDesglose();
                            else {
                                $('#DesgloseTabla #td-producto').each(function (index) {
                                    console.log('Cargado en la tabla: ' + $(this).text().trim() + ' - Ultimo ingresado: ' + $('#Producto_Desglose').val().trim());
                                    if ($(this).text().trim() == $('#Producto_Desglose').val().trim()) {
                                        notif({
                                            msg: "Ya existe el producto en el desglose!",
                                            type: "error",
                                            position: "center"
                                        });
                                        existe = 1;
                                    }
                                });
                                if (existe == 0)
                                    $('#DesgloseTabla #td-lote').each(function (index) {
                                        console.log('Cargado en la tabla: ' + $(this).text().trim() + ' - Ultimo ingresado: ' + $('#Lote_Desglose').val().trim());
                                        if ($(this).text().trim() == $('#Lote_Desglose').val().trim()) {
                                            notif({
                                                msg: "Ya existe el lote en el desglose!",
                                                type: "error",
                                                position: "center"
                                            });
                                            existe = 1;
                                        }
                                    });
                                if (existe == 0)
                                    agregarFilaDesglose();
                            }
                        }
                        else if (data == 'Ya existe.')
                            notif({
                                msg: "Ya existe el Lote en el sistema!",
                                type: "error",
                                position: "center"
                            });
                        else
                            notif({
                                msg: "Error comprobando si existe el Lote.",
                                type: "error",
                                position: "center"
                            });
                    }
                });
            }
        });
        let totalKilosDesglose = 0;
        let error;
        function agregarFilaDesglose() {
            error = 0;
            if ($('#Producto_Desglose').val().trim() == '') {
                notif({
                    msg: "Debe Ingresar Producto",
                    type: "error",
                    position: "center"
                });
                $('#Producto_Desglose').focus();
                error = 1;
                return;
            }
            if ($('#Kilos_Desglose').val().trim() == '') {
                notif({
                    msg: "Debe Ingresar Kilos",
                    type: "error",
                    position: "center"
                });
                $('#Kilos_Desglose').focus();
                error = 1;
                return;
            }
            if ($('#Lote_Desglose').val().trim() == '') {
                notif({
                    msg: "Debe Ingresar Lote",
                    type: "error",
                    position: "center"
                });
                $('#Lote_Desglose').focus();
                error = 1;
                return;
            }
            @if (!ViewBag.Envasa_Sin_Kilos)
             {
                <text>
                    kilosADesglosar = parseFloat($("#Kilos_Reales").val().replace(',', '.'));
                </text>
             }else {
                <text>
                    $("#Kilos_Reales").removeAttr("required");
                    if (parseFloat($("#Kilos_Reales").val().replace(',', '.')) > 0)
                        kilosADesglosar = parseFloat($("#Kilos_Reales").val().replace(',', '.'));
                </text>
             }
            let kilos = $('#Kilos_Desglose').val() == "" ? 0 : $('#Kilos_Desglose').val().trim();
            if (error != 1) {
                totalKilosDesglose += parseFloat(kilos);
            }
            if (kilosADesglosar != 0) {
                if (totalKilosDesglose > kilosADesglosar) {
                    notif({
                        msg: "Se están desglosando más kilos de los producidos",
                        type: "error",
                        position: "center"
                    });
                    $('#Kilos_Desglose').focus();
                    totalKilosDesglose -= parseFloat(kilos);

                    return;
                }
            }
            var fila = '';
            fila = '<tr id="tr-desglose">';
            fila += '<td id="td-producto" style="padding:5px 10px !important;">' + $('#Producto_Desglose').val().trim() + '</td>';
            fila += '<td>' + $('#Label_Producto_Desglose').html() + '</td>';
            fila += '<td id="td-kilos" style="padding:5px 10px !important;text-align:right;">' + parseFloat($('#Kilos_Desglose').val().trim()).toFixed(3) + '</td>';
            fila += '<td id="td-lote" style="padding:5px 10px !important;text-align:right;">' + $('#Lote_Desglose').val().trim() + '</td>';
            fila += '<td style="text-align:right;"><a class="btn btn-danger btn-sm" onclick ="BorrarDesglose($(this));"><span class="glyphicon glyphicon-trash"></span></a></td>';
            fila += '</tr>';
            kilosADesglosar = parseFloat($("#Kilos_Reales").val().replace(',', '.'));
            if (totalKilosDesglose == kilosADesglosar) {
                $('#DesgloseTabla').prepend(fila);
                $('#Producto_Desglose').val('');
                $('#Label_Producto_Desglose').html('');
                $('#Cantidad_Desglose').val('');
                $('#Kilos_Desglose').val('');
                $('#Lote_Desglose').val('');
                $('#Producto_Desglose').focus();
                $('#filaDesglose').hide();
                notif({
                    msg: "Se desglosaron todos los kilos de la producción",
                    type: "info",
                    position: "center"
                });
            } else {
                $('#DesgloseTabla').prepend(fila);
                $('#Producto_Desglose').val('');
                $('#Label_Producto_Desglose').html('');
                $('#Cantidad_Desglose').val('');
                $('#Kilos_Desglose').val('');
                $('#Lote_Desglose').val('');
                $('#Producto_Desglose').focus();
            }
        }

        function Confirmar_Produccion_Dulce() {
            var form = $('#FormNuevo');
            $.validator.unobtrusive.parse(form);
             @if (ViewBag.esDesglose != null && ViewBag.esDesglose == false)
             {
                <text>
                    if (totalKilosDesglose > 0) {
                        kilosADesglosar = parseFloat($("#Kilos_Reales").val().replace(',', '.'));
                        if (totalKilosDesglose < kilosADesglosar) {
                            notif({
                                msg: "Por favor asigne todos los kilos al desglose.",
                                type: "warning",
                                position: "center"
                            });
                            $('#filaDesglose').show();
                            $("#Producto_Desglose").focus();
                            return false;
                        }
                        if (kilosADesglosar < totalKilosDesglose) {
                            notif({
                                msg: "Los kilos desglosados superan los kilos de la producción.",
                                type: "error",
                                position: "center"
                            });
                            $("#Kilos_Reales").focus();
                            $("#filaDesglose").hide();
                            return false;
                        }
                    }                    
                </text>
             }
            if ($('#Codigo_Producto').val() == "") {
                notif({
                    msg: "Por favor, ingrese un Producto.",
                    type: "warning",
                    position: "center"
                });
                $('#Codigo_Producto').focus();
                return;
            }
            if (!$("#Silo").val() || $("#Silo").val() == "" || $("#Silo").val() < 1) {
                notif({
                    msg: "Complete el silo.",
                    type: "error",
                    position: "center"
                });
                $('#Silo').focus();

                return false;
            }

            if ($(form).valid()) {
                $('#InsumosAsociadosTabla').find('tr').find('td').each(function () {
                    if ($(this).index() == 0) {
                        InsumoActual = $(this).html();
                        for (var i in listadoInsumosFormula) {
                            if (listadoInsumosFormula[i].Codigo_Insumo == InsumoActual) {
                                $(this).parent().find('td').find('#kilosEditable').each(function () {
                                    if ($(this).val() != "" || $(this).val() > 0) {
                                        listadoInsumosFormula[i].Litros = parseFloat($(this).val());
                                    }
                                });
                            }
                        }
                    }
                });

                $('#DesgloseTabla #tr-desglose').each(function (index) {
                    $('#DivDesglose').append('<input name="desglose[' + index + '].Numero_Producto" type="hidden" value="' + $(this).find('#td-producto').html() + '"/>');
                    $('#DivDesglose').append('<input name="desglose[' + index + '].Kilos" type="hidden" value="' + $(this).find('#td-kilos').html().replace('.', ',') + '"/>');
                    $('#DivDesglose').append('<input name="desglose[' + index + '].Lote" type="hidden" value="' + $(this).find('#td-lote').html() + '"/>');
                });



                $('#InsumosAsociadosTabla').find('tr').find('td').each(function () {
                    if ($(this).index() == 0) {
                        InsumoActual = $(this).html();
                        for (var i in listadoInsumosFormula) {
                            if (listadoInsumosFormula[i].Codigo_Insumo == InsumoActual) {
                                $(this).parent().find('td').find('#kilosEditable').each(function () {
                                    if ($(this).val() != "" || $(this).val() > 0)
                                        listadoInsumosFormula[i].Litros = parseFloat($(this).val());
                                });
                            }
                        }
                    }
                });
                for (var r in listadoInsumosFormula) {
                    $('#Mov_Ins_Asoc').append('<input type="text" name="Produccion.Mov_Ins_Asoc[' + r + '].Codigo_Insumo" value="' + listadoInsumosFormula[r].Codigo_Insumo + '"/>' +
                        '<input type="text" name="Produccion.Mov_Ins_Asoc[' + r + '].Litros" value="' + parseFloat(listadoInsumosFormula[r].Litros).toString().replace(".", ",") + '"/>');
                }
                Armar_Array_Insumos_Consumidos("DetallesProduccion");

                //VALIDADOR DEL FORMULARIO
                $('#Kilos_Teoricos').val($('#Kilos_Teoricos').val().toString().replace(".", ","));
                $('#Kilos_Reales').val($('#Kilos_Reales').val().toString().replace(".", ","));
                $('#Litros').val($('#Litros').val().toString().replace(".", ","));
                $.ajax({
                    type: "POST",
                    url: "/ProduccionesDulceDeLeche/AddOrEdit",
                    data: $(form).serialize(),
                    success: function (data) {
                        if (!data.success) {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                        else {
                            let siguiente = "/ProduccionesDulceDeLeche/Index?resultado=" + data.resultado;
                            if (data.envasar)
                                EnvasarInicio($("#Produccion_Lote").val(),siguiente);
                            else {
                                window.location.href = siguiente;
                            }
                        }
                    },
                    beforeSend: function (data) {
                        $('.AddProduccion').attr('disabled', true);
                    },
                    complete: function (data) {
                        $('.AddProduccion').attr('disabled', false);
                    }
                });
            }
            return false;

        }

        /*SE LLAMA UNA VEZ INSERTADO UN CODIGO_FORMULA, TRAE TODOS SUS DETALLES Y LOS SETEA EN listadoDetalles*/
        function CargarDetallesFormula() {
            if ($('#Codigo_Producto').val() == "") {
                notif({
                    msg: "Por favor ingrese Código de Producto",
                    type: "error",
                    position: "center"
                });
                $('#Codigo_Producto').focus();
                return;
            }
            if ($('#Litros').val() == "") {
                notif({
                    msg: "Por favor ingrese Litros",
                    type: "error",
                    position: "center"
                });
                $('#Litros').focus();
                return;
            }
            $("#InsumosConsumidosDiv").html("<h1>Cargando Insumos</h1>");
            $.ajax({
                type: "GET",
                url: "/Producciones/ObtenerInsumosConsumidos/",
                data: {
                    producto: $('#Codigo_Producto').val(),
                    litros: $('#Litros').val(),
                    tipoProd:"dulceLeche"
                },
                success: function (data) {
                    $("#InsumosConsumidosDiv").html(data);
                }
            });
        }

        let Lote = "@Model.Lote";
        let Codigo_Form = "@Model.Produccion.Codigo_Formula";

        function SaltosAlPresionarEnter() {
            $("#Produccion_Codigo_Fabrica").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "POST",
                        url: "/Fabricas/GetData/",
                        data: { Codigo_Fabrica: $('#Produccion_Codigo_Fabrica').val()},
                        success: function (data) {
                            if (data.success) {
                                var Fabrica = data.data[0];
                                if (Fabrica != null) {
                                    $("#fabrica-descripcion").html(Fabrica.Descripcion);
                                    $('#Produccion_Fecha').focus();
                                }
                            }
                            else {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                                $('#Produccion_Codigo_Fabrica').focus();
                            }
                        }
                    });
                }
            });
            $("#Codigo_Producto").keyup(function (e) {
                Codigo_Producto_Seleccionado = $('#Codigo_Producto').val();
                if (e.keyCode == 13) {
                    if ($('#Produccion_Lote').val() == "") {
                        notif({
                            msg: "Por favor ingrese un Lote.",
                            type: "warning",
                            position: "center"
                        });
                        $('#Produccion_Lote').focus();

                        return;
                    }
                    else{
                        $.ajax({
                            type: "POST",
                            url: "/Formulas/GetOne/",
                            data: { Codigo_Formula: -1, Codigo_Producto: $('#Codigo_Producto').val() },
                            success: function (data) {
                                if (data.success) {
                                    FormulaActual = [];
                                    FormulaActual = data.data[0];
                                    if (FormulaActual != null) {
                                        if (FormulaActual.AptoParaEnvasar == true) {
                                            let codigo = $('#Codigo_Producto').val();

                                            $("#producto-descripcion").html(FormulaActual.Producto);
                                            $('#Factor').val(FormulaActual.Factor);
                                            $('#Produccion_Codigo_Quesero').focus();
                                            /*CARGA LISTADO PRODUCTOS ASOCIADOS A LA FÓRMULA*/
                                            ObtenerInsumosFormula(FormulaActual.Codigo_Formula, "");
                                            GetCostosIndirectos(FormulaActual.Codigo_Formula);
                                            if (codigo)
                                                actualizarProducto(codigo);
                                        }
                                        else{
                                            notif({
                                                msg: "El Producto seleccionado no tiene Fórmulas de Envasado.",
                                                type: "error",
                                                position: "center"
                                            });
                                            $("#Codigo_Producto").focus();
                                        }
                                    }
                                    else{
                                        notif({
                                            msg: "Error, no existe registro con el Código ingresado.",
                                            type: "error",
                                            position: "center"
                                        });
                                    }
                                }
                            }
                        });
                    }
                }
            });
            //$("#Litros").keyup(function (e) {
            //    if (e.keyCode == 13)
            //        CargarDetallesFormula();
            //});
        }

        function GetFormula(Codigo) {
            var x = $.ajax({
                type: "GET",
                url: "/Formulas/GetOne/",
                data: { Codigo_Formula: Codigo,
                    Codigo_Producto : -1
                },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        FormulaActual = data.data[0];
                        $('#Codigo_Formula').val(FormulaActual.Codigo_Producto);
                        console.log('Codigo_Producto_Seleccionado: ' + Codigo_Producto_Seleccionado);
                        return FormulaActual;
                    }
                    else {
                        $.notify(data.mensaje, {
                            globalPosition: "top center",
                            className: "error"
                        });
                    }
                }
            });
        }

        function TraerFormula(Codigo){
            $.ajax({
                type: "POST",
                url: "/Formulas/GetOne/",
                data: { Codigo_Formula: -1,
                    Codigo_Producto: Codigo },
                success: function (data) {
                    if (data.success) {
                        FormulaActual = [];
                        FormulaActual = data.data[0];
                        if (FormulaActual == null) {
                            notif({
                                msg: "Error, no existe registro con el Código ingresado.",
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            });
        }
        function AddOrEditInsumos(Codigo_Formula, Lote) {
            /*SE LLAMA CUANDO SE INGRESA UNA NUEVA PRODUCCION*/
            if (Lote == "" && Codigo_Formula != "") {
                ObtenerInsumosFormula(Codigo_Formula, Lote);
            }
                /*SE LLAMA CUANDO SE EDITA UNA PRODUCCION*/
            else {
                var y = $.ajax({
                    type: "GET",
                    url: "/Producciones/Get_Mov_Ins_Asoc/",
                    data: {
                        Lote: Lote
                    },
                    success: function (data) {
                        if (data.success) {
                            listadoInsumosFormula = [];
                            for (var i in data.data) {
                                listadoInsumosFormula.push(data.data[i]);
                            }
                            CargarInsumosFormula();
                        }
                    }
                });
            }
        }

        /*SE LLAMA CUANDO SE ESTA HACIENDO LA EDICIÓN DE LA PRODUCCIÓN ACTUAL*/
        function CargarDetallesProduccion() {
            /*$.ajax({
                type: "GET",
                url: "/Producciones/GetDetalles/",
                data: { Lote: Lote },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoDetalles = [];
                        for (var i in data.data) {
                            data.data[i].Fecha = moment(data.data[i].Fecha).format('L');
                            listadoDetalles.push(data.data[i]);
                        }
                        CargarDetalles();
                    };
                }
            });*/
        }
        function AbrirModalFabricasPDDL() {
            console.log('ConfirmarFabriaPC en ProduccionesDulceDeLeche/AddOrEdit');
            $.ajax({
                type: "GET",
                url: "/ModalesListados/Modal_Fabricas/",
                success: function (data) {
                    $('#ModalFabricas').html(data);
                    CargarFabricas();
                    $('#modalFabricas').modal('toggle');
                    $('#ConfirmarFabrica').click(function () {
                        ConfirmarFabricaPC();
                    });
                    $('#FabricasTabla tbody').on('click', 'tr.selected', function () {
                        ConfirmarFabricaPC();
                    });
                }
            })
        }
        /* FUNCIONAMIENTO PRODUCTO, LITROS, KILOS TEORICOS Y FACTOR */
        var controlLitros = null;
        var controlProducto = null;
        var controlKilosTeoricos = null;
        var controlFactor = null;
        $(document).ready(function () {
            controlLitros = $("#Litros");
            controlProducto = $("#Codigo_Producto");
            controlKilosTeoricos = $("#Kilos_Teoricos");
            controlFactor = $("#Factor");

            let valorLeche = controlLitros.val().trim();
            let valorProducto = controlProducto.val().trim();

            if (!valorProducto)
                controlLitros.val("");

            valorLeche = controlLitros.val().trim();

            controlProducto.change(actualizarProducto);
            controlLitros.change(actualizarLeche);

            controlLitros.blur(function (e) {
                let valorLeche = controlLitros.val();
                let valorFactor = controlFactor.val();

                if ($('#Litros').val() != '')
                    $('#Kilos_Teoricos').val((parseFloat((parseFloat($('#Litros').val()) * parseFloat(FormulaActual.Kilos_Teoricos)) / parseFloat(FormulaActual.Litros_Tina)).toFixed(3)).toString().replace(".", ","));


                if (!valorLeche)
                    controlKilosTeoricos.val("");
            });

            @if (Model.Produccion.Detalle_Produccion.Count != 0)
            {
                <Text>
                    $("#InsumosConsumidosDiv").html("<h1>Cargando Insumos</h1>");
                    $.ajax({
                        type: "GET",
                        url: "/Producciones/ObtenerInsumosConsumidos/",
                        data: { producto: '', litros: 0, lote: '@Model.Lote' },
                        success: function (data) {
                            $("#InsumosConsumidosDiv").html(data);
                        }
                    });
                </text>
            }
        });
        function actualizarLeche() {
            CargarDetallesFormula();
        }

        function cargarFabrica(fabrica_codigo) {
            if (fabrica_codigo != null && fabrica_codigo != -1) {
                $("#Produccion_Codigo_Fabrica").val(fabrica_codigo);
                $.ajax({
                    type: "GET",
                    url: "/Fabricas/GetData/",
                    data: { Codigo_Fabrica: fabrica_codigo },
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            var Fabrica = data.data[0];
                            $("#Produccion_Codigo_Fabrica").val(Fabrica.Codigo_Fabrica);
                            $("#fabrica-descripcion").html(Fabrica.Descripcion);
                        }
                        else {
                            console.log("ERROR AUTO FABRICA: ", data);
                        }
                    }
                });
            }
            else {
                console.log("NO se pudo auto completar fabrica: ", fabrica_codigo);
            }
        }

        $("#Produccion_Codigo_Fabrica").blur(function () {
            cargarFabrica($(this).val().trim());
        });

        $(document).ready(function () {

            if(@Model.Codigo_Interno_Produccion == 0)
                cargarFabrica(@{@(Sesion.UsuarioActual != null ? (Sesion.UsuarioActual.Fabrica.HasValue ? Sesion.UsuarioActual.Fabrica.Value : -1) : -1)});

            $("#modalFabricas").on('shown.bs.modal', function () {
                $('#modalFabricas input').focus();
            });
            $("#modalFormulas").on('shown.bs.modal', function () {
                $('#modalFormulas input').focus();
            });
            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
            if(@Model.Codigo_Interno_Produccion == 0){
                $('#Piezas_Obtenidas').val("");
                $('#Produccion_Lote').val("");
                $('#Produccion_Lote').focus();
                //CargarDetalles();
            }
            else{
                Lote = $('#Produccion_Lote').val();
                $('#Nro_Planilla').val($('#Nro_Planilla_Editar').val());
                TraerFormula($('#Codigo_Producto').val());
                AddOrEditInsumos("@Model.Produccion.Codigo_Formula", Lote);
                CargarDetallesProduccion();
            }
            SaltosAlPresionarEnter();
            $("#Produccion_Fecha").datepicker();
            $("#Fecha_Vencimiento").datepicker();

            let autoFecha = '@{
                try
                {
                    if (Model.Codigo_Interno_Produccion == 0)
                    {
                         @db.Obtener_Ultima_Fecha_Producion(Sesion.UsuarioActual != null ? Sesion.UsuarioActual.Fabrica.HasValue ? Sesion.UsuarioActual.Fabrica.Value : -1 : -1, "Dulce de leche").First().Value.ToString("dd/M/yyyy", CultureInfo.InvariantCulture);
                    }
                    else
                    {
                        @String.Empty;
                    }
                    //@db.Produccion.OrderByDescending(x => x.Fecha).First().Fecha.Value.ToString("dd/M/yyyy", CultureInfo.InvariantCulture);
                }
                catch(Exception e)
                {
                    @String.Empty;
                }
            }';

            console.log("AUTOFECHA: ", autoFecha);

            if (autoFecha)
                $("#Produccion_Fecha").val(autoFecha.trim());
            @if (ViewBag.esDesglose != null && ViewBag.esDesglose == true)
            {
                <text>
                    $('#Litros').focus();
                    $('#checkDesglose').hide();
                </text>
            }
        })
    </script>
}