﻿@using MVC_Produccion.Sesiones
@{
    ViewBag.Title = "Producciones : Listado";
}

@{
    if (ViewBag.Error == null)
    {
        <h2>Producciones de Dulce de Leche</h2>

        <table id="ProduccionesTabla" class="display compact" style="width:100%"></table>

        <input class="codigo" hidden />

        <div id="dropdownHistoricos" style="display:none; text-transform:capitalize">
            @Html.DropDownList("ListadoHistoricos", ViewBag.ListadoHistoricos as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
        </div>
    }
    else
    {
        <div class="alert alert-danger col-md-12" style="margin-top:70px !important" role="alert">
            @ViewBag.Error
        </div>
    }
}

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Delete()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var ListadoDetalles = [];
        var Linea_A_Envasar;
        var Lote = "";
        var se_puede_envasar = true;
        function modificarInput(Codigo) {
            $('input.codigo').text(Codigo);
        }

        function Delete() {
            $.ajax({
                type: "POST",
                url: "/Producciones/Delete/",
                data: { Lote: $('input.codigo').text() },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');
                        CargarProducciones();
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

        function CargarProduccionesPorHistorico(Historico) {
            $.ajax({
                type: "GET",
                url: "/ProduccionesDulceDeLeche/GetHistoricos/",
                data: {
                    Lote: "",
                    Historico: Historico
                },
                dataType: "json",
                success: function (data) {

                    listadoProducciones = [];

                    for (var i in data.data) {

                        listadoProducciones.push(data.data[i]);
                    }

                    dataTable.clear();
                    dataTable.rows.add(listadoProducciones);
                    dataTable.draw();
                }
            });
        }

        function CargarProducciones() {

            $.ajax({
                type: "GET",
                url: "/ProduccionesDulceDeLeche/GetData/",
                data: { Lote: "" },
                dataType: "json",
                success: function (data) {

                    listadoProducciones = [];

                    for (var i in data.data) {

                        listadoProducciones.push(data.data[i]);
                    }

                    dataTable = $("#ProduccionesTabla").DataTable({
                        "destroy": true,
                        "autoWidth": true,
                        "responsive": true,
                        data: listadoProducciones,
                        "columns": [
                            {
                                "data": "Lote",
                                "title": "Lote",
                                "width": "15%"
                            },
                             {
                                 "data": "Fecha",
                                 "title": "Fecha Elaboración",
                                 "render": function (data) {
                                     if (data != null) {
                                         return moment(data).format('DD/MM/YYYY');
                                     }
                                     else {
                                         return "";
                                     }

                                 }
                             },
                             {
                                 "data": "Kilos_Reales",
                                 "title": "Kilos Elaborados",
                                 render: function (data) {
                                     if (data == null) {
                                         return "";
                                     }
                                     else {
                                         return parseFloat(data).toFixed(0);
                                     }
                                 }
                             },
                            {
                                "data": "Kilos_Teoricos",
                                "title": "Kilos Teóricos",
                                render: function (data) {
                                    if (data == null) {
                                        return "";
                                    }
                                    else {
                                        return parseFloat(data).toFixed(4);
                                    }
                                }
                            },
                            {
                                "data": "Litros",
                                "title": "Litros Procesados",
                                render: function (data) {
                                    if (data == null) {
                                        return "";
                                    }
                                    else {
                                        return parseFloat(data).toFixed(4);
                                    }
                                }
                            },
                            {
                                "data": "faltan_envasar",
                                "title": "Falta Envasar",
                                render: function (data) {
                                    if (data == null) {
                                        return "";
                                    }
                                    else {
                                        return parseFloat(data).toFixed(4);
                                    }
                                }
                            },
                              @{
                                if (Sesion.UsuarioActual.Rol.ToLower() == "administrador" || !ViewBag.configuraciones.Requiere_Rol_Administrador  || !ViewBag.configuraciones.Utiliza_Login)
                                {
                                    <text>
                                        {
                                            "data": "Lote",
                                            "title": "Herramientas",
                                            width: "10%",
                                            "render": function (data) {
                                                return "<a class='btn btn-default btn-sm' href='/ProduccionesDulceDeLeche/AddOrEdit?Lote=" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                                    "<a class='btn btn-danger btn-sm' onclick=modificarInput('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                                            },
                                        },
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        {
                                            "title": "",
                                            "render": function (data) {
                                                return "";
                                            }
                                        }
                                    </text>
                                }
                            }
                        ],
                        "columnDefs": [
                            { className: "text-right", "targets": [2, 3, 4, 5] },
                            { className: "text-center", "targets": [0, 1, 2] }
                        ],
                        "order": [[1, 'asc']],
                        "language": idiomaEspañol,
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                text: '<span class="glyphicon glyphicon-plus"></span>',
                                className: 'nuevo',
                                action: function () {
                                    window.location.href = "/ProduccionesDulceDeLeche/AddOrEdit/";
                                }
                            },
                            {
                                text: '<span class="glyphicon glyphicon-arrow-right"></span> Envasar',
                                className: 'envasar',
                                action: function () {
                                    console.log(se_puede_envasar);
                                    if (!se_puede_envasar) {

                                        notif({
                                            msg: "No se puede envasar una produccion Historica",
                                            type: "error",
                                            position: "center"
                                        });

                                    } else {
                                        console.log("entro envasar");
                                        EnvasarInicio(Linea_A_Envasar.Lote,"","dulceleche");
                                    }
                                }
                            },
                            {
                                text: '<span class="glyphicon glyphicon-arrow-right"></span> Modificar lote',
                                className: 'modificarLoteProduccion',
                                action: function () {
                                    AbrirModalModificarLoteProd($("#ProduccionesTabla > tbody > tr.selected td").first().text());
                                }
                            },
                            {
                                text: $('#dropdownHistoricos').html(),
                                className: 'botonDropdown'
                            },
                        ],
                        initComplete: function () {
                            $("#ListadoHistoricos").change(function () {
                                console.log($('option:selected', this).val());
                                if ($('option:selected', this).val() == 0) {
                                    se_puede_envasar = true;
                                }
                                else {
                                    se_puede_envasar = false;
                                }
                                CargarProduccionesPorHistorico($('option:selected', this).val());
                            });
                            $('#ListadoHistoricos').val(0);
                            $('div.dataTables_filter input').focus();
                        },
                        select: 'single'
                    });

                    dataTable.on('select', function (e, dt, type, indexes) {
                        $(".modificarLoteProduccion").prop("disabled", false);
                        $(".modificarLoteProduccion").addClass("azul");
                        console.log(dataTable.rows(indexes[0]).data()[0]);
                        Linea_A_Envasar = dataTable.rows(indexes[0]).data()[0];
                        Codigo_Producto_Seleccionado = dataTable.rows(indexes[0]).data()[0].Codigo_Producto;
                        
                        var falta = dataTable.rows(indexes[0]).data()[0].faltan_envasar;
                        if (falta > 0) {
                            $('.envasar').prop("disabled", false);
                            $(".envasar").addClass("verde");
                        }
                        else {
                            $('.envasar').prop("disabled", true);
                            $(".envasar").removeClass("verde");
                        }
                    });

                    dataTable.on('deselect', function (e, dt, type, indexes) {
                        if ($('#ProduccionesTabla>tbody>tr.selected').length == 0) {
                            $('.envasar').prop("disabled", true);
                            $(".envasar").removeClass("verde");
                            $(".modificarLoteProduccion").prop("disabled", true);
                            $(".modificarLoteProduccion").removeClass("azul");
                        }
                    });
                }
            });

        };

        var dataTableProductos_Ventas;

      
        function MostrarMensaje() {

            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };

        $(document).ready(function () {

            CargarProducciones();

            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje();
            }

        });

    </script>
}











