﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MSK : Módulo producción</title>
    @using MVC_Produccion.Sesiones
    @using MVC_Produccion.ContextoProduccion
    @{
        Entities db = new Entities();
        OpcionesTrabajo configuraciones = new OpcionesTrabajo();
        Usuarios usuarioActual = new Usuarios();
        Permisos permisosUsuario = new Permisos();
        try
        {
            configuraciones = db.OpcionesTrabajo.FirstOrDefault();
            if(Sesion.UsuarioActual != null)
            {
                usuarioActual = Sesion.UsuarioActual;
                permisosUsuario = db.Permisos.Where(p => p.idUsuario == usuarioActual.idUsuario).FirstOrDefault();
            }
        }
        catch(Exception ex) {
            string Excepcion = ex.ToString();
        }
    }
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-submenu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/timepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/notifIt.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" style="padding:0px 20px !important">
            <div class="navbar-header">
                @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @{
                    <!-- EN CASO QUE NO SE UTILICE LOGIN SE MUESTRAN TODOS LOS MENUS -->
                    if (configuraciones.Utiliza_Login == false)
                    {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Maestros <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Cámaras", "Index", "Camaras")</li>
                                    <li>@Html.ActionLink("Costos Indirectos", "Index", "CostosIndirectos")</li>
                                    <li>@Html.ActionLink("Estados", "Index", "Estados")</li>
                                    <li>@Html.ActionLink("Insumos", "Index", "Insumos")</li>
                                    <li>@Html.ActionLink("Fábrica", "Index", "Fabricas")</li>
                                    <li>@Html.ActionLink("Líneas", "Index", "Lineas")</li>
                                    <li>@Html.ActionLink("Productos", "Index", "Productos")</li>
                                    <li>@Html.ActionLink("Queseros", "Index", "Queseros")</li>
                                    <li>@Html.ActionLink("Rubros", "Index", "Rubros")</li>
                                    <li><a href="#" onclick="AbrirModalSilos('Index')">Silos</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Costos <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Fórmulas", "Index", "Formulas")</li>
                                    <li>@Html.ActionLink("Fórmulas de Envasado", "Index", "FormulasEnvasado")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Novedades <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Informe Planilla de Elaboración</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Crema", "Index", "ProduccionesCrema")</li>
                                            <li>@Html.ActionLink("Muzzarela", "Index", "ProduccionesMuzzarela")</li>
                                            <li>@Html.ActionLink("Ricota", "Index", "ProduccionesRicota")</li>
                                            <li>@Html.ActionLink("Quesos", "Index", "ProduccionesQuesos")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Informe de Pesadas", "InformePesadas", "ProduccionesQuesos")</li>
                                    <li>@Html.ActionLink("Liberar por Calidad", "Index", "Envasados")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Insumos <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Ajustes", "Index", "AjustesInsumos")</li>
                                    <li>@Html.ActionLink("Ingreso de Insumos al Stock con Factura", "Index", "CompraInsumos")</li>
                                    <li>@Html.ActionLink("Ingreso de Leche", "Index", "IngresosLeche")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Orden de Compra <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Ingreso de Orden de Compra", "Index", "OrdenesDeCompra")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Utilidades <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" onclick="AbrirModalConfiguraciones()">Opciones de Trabajo</a></li>
                                    <li><a href="#" onclick="AbrirModalDatosEmpresa()">Datos de la Empresa</a></li>
                                    <li><a href="#" onclick="AbrirModalDuplicarFormula()">Duplicar Fórmula</a></li>
                                    <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                                    <li>@Html.ActionLink("Inicios de Sesión", "Index", "IniciosSesion")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Listados <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Insumos</a>

                                        <ul class="dropdown-menu">
                                            <li><a href="#" onclick="AbrirModalComprasPorProveedor()">Compras por Proveedor</a></li>
                                            <li><a href="#" onclick="AbrirModalStockInsumos()">Stock Insumos</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Producción</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" onclick="AbrirModalFormulaDetalle()">Detallado Fórmula</a></li>
                                            <li><a href="#" onclick="AbrirModalFormulaEnvasado()">Detallado Fórmula Envasado</a></li>
                                            <li><a href="#" onclick="AbrirModalDetalladoProducciones()">Detallado Producción</a></li>
                                            <li><a href="#" onclick="AbrirModalResumenProduccion()">Resúmen de Producción</a></li>
                                            <li><a href="#" onclick="AbrirModalStockGeneral()">Producido Entre Fechas</a></li>
                                            <li><a href="#" onclick="AbrirModalStockProductoEstado()">Stock por Producto y Estado</a></li>
                                            <li><a href="#" onclick="AbrirModalProduccionesPorProducto()">Producciones Por Producto</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" onclick="AbrirModalCostosProductos()">Costos Por Producto</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" onclick="AbrirModalStockLeche()">Stock Leche</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Stock <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @{
                                        if (configuraciones != null)
                                        {
                                            if (configuraciones.Fabrica_Deposito.ToLower() == "fábrica/depósito")
                                            {
                                                <li>@Html.ActionLink("Expedición", "Index", "Expediciones")</li>
                                            }

                                        }
                                    }
                                    <li>@Html.ActionLink("Ajuste de Productos", "Index", "SalidasProductos")</li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        if (usuarioActual != null)
                        {
                            <ul class="nav navbar-nav">
                                @{
                                    if (permisosUsuario.Menu_Maestros == true)
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maestros <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                @{
                                                    if (permisosUsuario.Camaras == true)
                                                    {
                                                        <li>@Html.ActionLink("Cámaras", "Index", "Camaras")</li>
                                                    }
                                                    if (permisosUsuario.Costos_Indirectos == true)
                                                    {
                                                        <li>@Html.ActionLink("Costos Indirectos", "Index", "CostosIndirectos")</li>
                                                    }
                                                    if (permisosUsuario.Estados == true)
                                                    {
                                                        <li>@Html.ActionLink("Estados", "Index", "Estados")</li>
                                                    }
                                                    if (permisosUsuario.Insumos == true)
                                                    {
                                                        <li>@Html.ActionLink("Insumos", "Index", "Insumos")</li>
                                                    }
                                                    if (permisosUsuario.Fabricas == true)
                                                    {
                                                        <li>@Html.ActionLink("Fábrica", "Index", "Fabricas")</li>
                                                    }
                                                    if (permisosUsuario.Lineas == true)
                                                    {
                                                        <li>@Html.ActionLink("Líneas", "Index", "Lineas")</li>
                                                    }
                                                    if (permisosUsuario.Productos == true)
                                                    {
                                                        <li>@Html.ActionLink("Productos", "Index", "Productos")</li>
                                                    }
                                                    if (permisosUsuario.Queseros == true)
                                                    {
                                                        <li>@Html.ActionLink("Queseros", "Index", "Queseros")</li>
                                                    }
                                                    if (permisosUsuario.Rubros == true)
                                                    {
                                                        <li>@Html.ActionLink("Rubros", "Index", "Rubros")</li>
                                                    }
                                                    if (permisosUsuario.Silos == true)
                                                    {
                                                        <li><a href="#" onclick="AbrirModalSilos('Index')">Silos</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                    if (permisosUsuario.Menu_Costos == true)
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Costos <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                @{
                                                    if (permisosUsuario.Formulas == true)
                                                    {
                                                        <li>@Html.ActionLink("Fórmulas", "Index", "Formulas")</li>
                                                    }

                                                    if (permisosUsuario.Formulas_Envasado == true)
                                                    {
                                                        <li>@Html.ActionLink("Fórmulas de Envasado", "Index", "FormulasEnvasado")</li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                    if (permisosUsuario.Menu_Novedades == true)
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Novedades <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                @{
                                                    if (permisosUsuario.Planillas_Elaboracion == true)
                                                    {
                                                        <li class="dropdown dropdown-submenu">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Informe Planilla de Elaboración</a>

                                                            <ul class="dropdown-menu">
                                                                @{
                                                                    if (permisosUsuario.Elaboracion_Crema == true)
                                                                    {
                                                                        <li>@Html.ActionLink("Crema", "Index", "ProduccionesCrema")</li>
                                                                    }

                                                                    if (permisosUsuario.Elaboracion_Muzzarela == true)
                                                                    {
                                                                        <li>@Html.ActionLink("Muzzarela", "Index", "ProduccionesMuzzarela")</li>
                                                                    }

                                                                    if (permisosUsuario.Elaboracion_Ricota == true)
                                                                    {
                                                                        <li>@Html.ActionLink("Ricota", "Index", "ProduccionesRicota")</li>
                                                                    }

                                                                    if (permisosUsuario.Elaboracion_Queso == true)
                                                                    {
                                                                        <li>@Html.ActionLink("Quesos", "Index", "ProduccionesQuesos")</li>
                                                                    }

                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    if (permisosUsuario.Informe_Pesadas == true)
                                                    {
                                                        <li>@Html.ActionLink("Informe de Pesadas", "InformePesadas", "ProduccionesQuesos")</li>
                                                    }
                                                    if (permisosUsuario.Liberar_Por_Calidad == true)
                                                    {
                                                        <li>@Html.ActionLink("Liberar por Calidad", "Index", "Envasados")</li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                    if (permisosUsuario.Menu_Insumos == true)
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Insumos <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                @{
                                                    if (permisosUsuario.Ajustes_Insumos == true)
                                                    {
                                                        <li>@Html.ActionLink("Ajustes", "Index", "AjustesInsumos")</li>
                                                    }
                                                    if (permisosUsuario.Ingreso_Factura == true)
                                                    {
                                                        <li>@Html.ActionLink("Ingreso de Insumos al Stock con Factura", "Index", "CompraInsumos")</li>
                                                    }
                                                    if (permisosUsuario.Ingreso_Leche == true)
                                                    {
                                                        <li>@Html.ActionLink("Ingreso de Leche", "Index", "IngresosLeche")</li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                    if (permisosUsuario.Menu_Orden_Compra == true)
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orden de Compra <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                @{
                                                    if (permisosUsuario.Ingreso_Orden_Compra == true)
                                                    {
                                                        <li>@Html.ActionLink("Ingreso de Orden de Compra", "Index", "OrdenesDeCompra")</li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                    if (permisosUsuario.Menu_Utilidades == true)
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilidades <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                @{
                                                    if (permisosUsuario.Opciones_Trabajo == true)
                                                    {
                                                        <li><a href="#" onclick="AbrirModalConfiguraciones()">Opciones de Trabajo</a></li>
                                                    }
                                                    if (permisosUsuario.Datos_Empresa == true)
                                                    {
                                                        <li><a href="#" onclick="AbrirModalDatosEmpresa()">Datos de la Empresa</a></li>
                                                    }
                                                    if (permisosUsuario.Duplicar_Formula == true)
                                                    {
                                                        <li><a href="#" onclick="AbrirModalDuplicarFormula()">Duplicar Fórmula</a></li>
                                                    }
                                                    if (Sesion.UsuarioActual.Rol.ToLower() == "administrador")
                                                    {
                                                        <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                                                        <li>@Html.ActionLink("Inicios de Sesión", "Index", "IniciosSesion")</li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                    if (permisosUsuario.Menu_Listados == true)
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listados <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                @{
                                                    if (permisosUsuario.Listados_Insumos == true)
                                                    {
                                                        <li class="dropdown dropdown-submenu">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Insumos</a>

                                                            <ul class="dropdown-menu">
                                                                @{
                                                                    if (permisosUsuario.Stock_Insumos == true)
                                                                    {
                                                                        <li><a href="#" onclick="AbrirModalStockInsumos()">Stock Insumos</a></li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    if (permisosUsuario.Listados_Produccion == true)
                                                    {
                                                        <li class="dropdown dropdown-submenu">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Producción</a>

                                                            <ul class="dropdown-menu">
                                                                @{
                                                                    if (permisosUsuario.Producido_Entre_Fechas == true)
                                                                    {
                                                                        <li><a href="#" onclick="AbrirModalProducidoEntreFechas()">Producido Entre Fechas</a></li>
                                                                    }
                                                                    if (permisosUsuario.Stock_Producto_Estado == true)
                                                                    {
                                                                        <li><a href="#" onclick="AbrirModalStockProductoEstado()">Stock por Producto y Estado</a></li>
                                                                    }
                                                                    if (permisosUsuario.Compras_Proveedor == true)
                                                                    {
                                                                        <li><a href="#" onclick="AbrirModalComprasPorProveedor()">Compras por Proveedor</a></li>
                                                                    }
                                                                    if (permisosUsuario.Detallado_Formula == true)
                                                                    {
                                                                        <li><a href="#" onclick="AbrirModalFormulaDetalle()">Detallado Fórmula</a></li>
                                                                    }
                                                                    if (permisosUsuario.Detallado_Formula_Envasado == true)
                                                                    {
                                                                        <li><a href="#" onclick="AbrirModalFormulaEnvasado()">Detallado Fórmula Envasado</a></li>
                                                                    }
                                                                    if (permisosUsuario.Detallado_Produccion == true)
                                                                    {
                                                                        <li><a href="#" onclick="AbrirModalDetalladoProducciones()">Detallado Producción</a></li>
                                                                    }
                                                                    if (permisosUsuario.Resumen_Produccion == true)
                                                                    {
                                                                        <li><a href="#" onclick="AbrirModalResumenProduccion()">Resúmen de Producción</a></li>
                                                                    }

                                                                    if (permisosUsuario.Producciones_Por_Producto == true)
                                                                    {
                                                                        <li><a href="#" onclick="AbrirModalProduccionesPorProducto()">Producciones Por Producto</a></li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    if (permisosUsuario.Listados_Productos == true)
                                                    {
                                                        <li class="dropdown dropdown-submenu">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos</a>
                                                            <ul class="dropdown-menu">
                                                                @{
                                                                    if (permisosUsuario.Costos_Productos == true)
                                                                    {
                                                                        <li><a href="#" onclick="AbrirModalCostosProductos()">Costos Por Producto</a></li>
                                                                    }
                                                                    if (permisosUsuario.Stock_Productos == true)
                                                                    {
                                                                         <li><a href="#" onclick="AbrirModalStockProductos()">Stock de productos</a></li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    if (permisosUsuario.Stock_Leche == true)
                                                    {
                                                        <li><a href="#" onclick="AbrirModalStockLeche()">Stock Leche</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                    if (permisosUsuario.Menu_Stock == true)
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stock <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                @{
                                                    if (configuraciones != null)
                                                    {
                                                        if (configuraciones.Fabrica_Deposito.ToLower() == "fábrica/depósito")
                                                        {
                                                            if (permisosUsuario.Expedicion == true)
                                                            {
                                                                <li>@Html.ActionLink("Expedición", "Index", "Expediciones")</li>
                                                            }
                                                            if (permisosUsuario.Ingresos_Pendientes == true)
                                                            {
                                                                <li>@Html.ActionLink("Ingresos pendientes", "Ingresos_Pendientes", "Expediciones")</li>
                                                            }
                                                        }

                                                    }
                                                    if (permisosUsuario.Ajustes_Productos == true)
                                                    {
                                                        <li>@Html.ActionLink("Ajuste de Productos", "Index", "SalidasProductos")</li>
                                                    }
                                                }

                                            </ul>
                                        </li>
                                    }
                                }

                            </ul>
                        }
                    }

                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="contenedor-principal">
        @RenderBody()
        <hr />

    </div>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-submenu.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Scripts/timepicker.js"></script>
    <script src="~/Scripts/Site.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery.numeric.js"></script>
    <script src="~/Scripts/notifIt.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/dataTables.select.min.js"></script>
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/datetime-moment.js"></script>
    <script src="~/Scripts/CorrectorDecimales.js"></script>

    @RenderSection("scripts", required: false)

    <!-- Modal Opciones de Trabajo-->

    <div class="modal fade" id="modalOpciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:500px">
            <div class="modal-content" id="ModalConfiguraciones"></div>
        </div>
    </div>

    <div class="modal fade" id="modalDatosEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:60%">
            <div class="modal-content" id="ModalDatosEmpresa"></div>
        </div>
    </div>

    <!-- Modal Registrarse-->

    <div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:450px">
            <div class="modal-content" id="ModalRegister"></div>
        </div>
    </div>

    <!-- Modal Login-->

    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:450px">
            <div class="modal-content" id="ModalLogin">
            </div>
        </div>
    </div>

    <!-- Modal Administrar-->

    <div class="modal fade" id="modalAdministrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:500px">
            <div class="modal-content" id="ModalAdministrarCuenta"></div>
        </div>
    </div>

    <!-- Listados-->

    <div class="modal fade" id="modalStockGeneral" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:450px">
            <div class="modal-content" id="ModalStockGeneral"></div>
        </div>
    </div>

    <div class="modal fade" id="modalComprasPorProveedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:450px">
            <div class="modal-content" id="ModalComprasPorProveedor"></div>
        </div>
    </div>

    <div class="modal fade" id="modalDuplicarFormula" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:450px">
            <div class="modal-content" id="ModalDuplicarFormula"></div>
        </div>
    </div>

    <div class="modal fade" id="modalFormulaDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:450px">
            <div class="modal-content" id="ModalFormulaDetalle"></div>
        </div>
    </div>

    <div class="modal fade" id="modalFormulaDetalleEnvasado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:450px">
            <div class="modal-content" id="ModalFormulaDetalleEnvasado"></div>
        </div>
    </div>

    <div class="modal fade" id="modalProductoEstado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:450px">
            <div class="modal-content" id="ModalStockProdEstado"></div>
        </div>
    </div>

    <div class="modal fade" id="modalProducidoEntreFechas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:450px">
            <div class="modal-content" id="ModalProducidoEntreFechas"></div>
        </div>
    </div>

    <div class="modal fade" id="modalResumenProduccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:300px">
            <div class="modal-content" id="ModalResumenProduccion"></div>
        </div>
    </div>

    <div class="modal fade" id="modalProduccionesPorProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:450px">
            <div class="modal-content" id="ModalProduccionesPorProducto"></div>
        </div>
    </div>

    <div class="modal fade" id="modalDetalladoProducciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:450px">
            <div class="modal-content" id="ModalDetalladoProducciones"></div>
        </div>
    </div>

    <div class="modal fade" id="modalStockInsumos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:450px">
            <div class="modal-content" id="ModalStockInsumos"></div>
        </div>
    </div>

    <!-- Modal Costos Productos -->
    <div class="modal fade" id="modalCostosProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:300px">
            <div class="modal-content" id="ModalCostosProducto"></div>
        </div>
    </div>

    <div class="modal fade" id="modalStockLeche" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:450px">
            <div class="modal-content" id="ModalStockLeche"></div>
        </div>
    </div>

    <!-- Modal Listado Condiciones de Pago-->

    <div class="modal fade" id="modalCondicionesDePago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:500px">
            <div class="modal-content" id="ModalCondicionesDePago"></div>
        </div>
    </div>

    <!-- Modal Códigos de Comprobantes -->

    <div class="modal fade" id="modalCodigosComprobantes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:700px">
            <div class="modal-content" id="ModalCodigosComprobantes"></div>
        </div>
    </div>

    <!-- Modal Silos -->

    <div class="modal fade" id="modalSilos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:650px">
            <div class="modal-content" id="ModalSilos"></div>
        </div>
    </div>

    <!-- Modal Sucursales-->
    <div class="modal fade" id="modalSucursales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:450px">
            <div class="modal-content" id="ModalSucursales">
            </div>
        </div>
    </div>

    <!-- Modal Llamado Ajax-->
    <div class="modal fade" id="modalAjax" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:200px">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-md-12">
                        <img width="100" height="100" src='~/images/Loading.gif' />
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal Productos-->
    <div class="modal fade" id="modalProductosLayout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="ModalProductosLayout"></div>
        </div>
    </div>

    <!-- Modal Proveedores-->
    <div class="modal fade" id="modalProveedoresLayout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="ModalProveedoresLayout"></div>
        </div>
    </div>

    <!-- Modal Fórmulas-->
    <div class="modal fade" id="modalFormulasLayout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:55%">
            <div class="modal-content" id="ModalFormulasLayout"></div>
        </div>
    </div>

    <!-- Modal Verificacion Tipo de Producto-->
    <div class="modal fade" id="modalTipoProducto" role="dialog">
        <div class="modal-dialog modalProductoInsumo" style="max-width:400px;" role="document">
            <div class="modal-content">
                <div class="modal-header" style="display:flex; justify-content:space-between">
                    <h4 class="modal-title" id="exampleModalLabel">¿Que tipo de Producto desea cargar?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer" style="margin:0px !important; display:flex; justify-content:center;">
                    <a class="btn btn-primary" onclick="AbrirModalProducto('', 0)">Producto Terminado</a>
                    <a class="btn btn-success" onclick="AbrirModalProducto('', 1)">Insumo</a>
                    <a class="btn btn-default" onclick="AbrirModalProducto('', 2)">Ambos</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalProductoLayout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:60%">
            <div class="modal-content" id="ModalProductoLayout"></div>
        </div>
    </div>

    <!-- Modal Insumos-->
    <div class="modal fade" id="modalInsumosLayout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:800px;">
            <div class="modal-content" id="ModalInsumosLayout"></div>
        </div>
    </div>

    <!-- Modal Costos -->

    <div class="modal fade" id="modalCostosLayout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:60%">
            <div class="modal-content" id="ModalCostosLayout"></div>
        </div>
    </div>

    <div class="modal fade" id="modalInsumoLayout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:90%; z-index:2000">
            <div class="modal-content" id="ModalInsumo"></div>
        </div>
    </div>

    <!-- Modal Delete Silo-->
    <div class="modal fade" id="modalDeleteSilo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:300px">
            <div class="modal-content">
                <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                    <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro desea eliminar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="DeleteSilo()">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete Producto-->
    <div class="modal fade" id="modalDeleteProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:300px">
            <div class="modal-content">
                <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                    <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro desea eliminar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="DeleteProducto()">Si</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete Insumo -->
    <div class="modal fade" id="modalDeleteInsumo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:300px">
            <div class="modal-content">
                <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                    <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="DeleteInsumo()">Si</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete Costo -->
    <div class="modal fade" id="modalDeleteCosto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:300px">
            <div class="modal-content">
                <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                    <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="DeleteCostoModal()">Si</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete Formula -->
    <div class="modal fade" id="modalDeleteFormula" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:300px">
            <div class="modal-content">
                <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                    <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="DeleteFormulaModal()">Si</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AddOrEdit Costo -->
    <div class="modal fade" id="modalAddOrEditCosto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:550px">
            <div class="modal-content" id="ModalAddOrEditCosto"></div>
        </div>
    </div>

    <!-- Modal Productos Ventas -->
    <div class="modal fade" id="modalProductosVentas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="ModalProductosVentas"></div>
        </div>
    </div>

    <script>
        function calcularFondos() {
            var $fondos = $('.modal-backdrop');
            var zeta = 1030;
            $.each($fondos, function (key, $value) {
                $($value).css('z-index', zeta);
                zeta += 20;
            });
        }
        function agregarModal(nombre) {
            if (!$('#Modal' + nombre).length) {
                var z = 0;
                var $modales = $('.modal');
                $.each($modales, function (key, $value) {
                    console.log($($value).css('z-index'));
                    if ($($value).css('z-index') > z)
                        z = parseInt($($value).css('z-index'));
                });
                if (!z)
                    z = 1040;
                else
                    z += 20;
                var clase = 'modal'
                if (nombre == 'ModalReportes')
                    clase += ' fade'
                $('body').prepend('<div id="Modal' + nombre + '" class="' + clase + '" style="overflow:hidden;z-index:' + z + ';"></div>');
            }
        }

        var TipoProducto = 0;
        var TipoInsumo = 0;

        var dataTableProductosModal = [];

        function AbrirModalFormulaEnvasado() {
            $.ajax({
                type: "GET",
                url: "/Listados/Detallado_Formula_Envasado/",
                success: function (data) {

                    $('#ModalFormulaDetalleEnvasado').html(data);

                    $('#modalFormulaDetalleEnvasado').modal('toggle');

                }
            });
        }

        function AbrirModalFormulaDetalle() {
            $.ajax({
                type: "GET",
                url: "/Listados/Detallado_Formulas/",
                success: function (data) {

                    $('#ModalFormulaDetalle').html(data);

                    SaltosEnFormulario();

                    $('#modalFormulaDetalle').modal('toggle');

                }
            });
        }

        function AbrirModalCostosProductos() {
            $.ajax({
                type: "GET",
                url: "/Listados/CostosProductos/",
                success: function (data) {
                    $('#ModalCostosProducto').html(data);
                    $('#modalCostosProducto').modal('toggle');
                }
            });
        }

        function AbrirModalStockProductos() {
            agregarModal('Stock_Productos');
            $.ajax({
                type: "GET",
                url: "/Listados/Vista_Stock_Productos/",
                success: function (data) {
                    $('#ModalStock_Productos').html(data);
                    $('#ModalStock_Productos').modal();
                    $('#ModalStock_Productos').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }

        function AbrirModalProducto(Codigo_Producto, ProductoInsumo) {
            $.ajax({
                type: "GET",
                url: "/Productos/modalAddOrEdit/",
                data: {
                    id: Codigo_Producto,
                    ProductoInsumo: ProductoInsumo
                },
                success: function (data) {

                    $('#ModalProductoLayout').html(data);

                    if (ProductoInsumo == 0) {
                        $('#checkProdTerminado').prop('checked', true);
                        $('#checkInsumo').prop('checked', false);
                    }

                    /* INSUMO */

                    if (ProductoInsumo == 1) {
                        $('#checkProdTerminado').prop('checked', false);
                        $('#checkInsumo').prop('checked', true);
                    }

                    /* AMBOS */

                    if (ProductoInsumo == 2) {
                        $('#checkProdTerminado').prop('checked', true);
                        $('#checkInsumo').prop('checked', true);
                    }

                    if (Codigo_Producto != "") {
                        if ($('#Numero_Producto_Ventas').val() != "" && $('#Codigo_Insumo').val() == "") {
                            $('#checkProdTerminado').prop('checked', true);
                            $('#checkInsumo').prop('checked', false);
                        }

                        /* INSUMO */

                        if ($('#Numero_Producto_Ventas').val() == "" && $('#Codigo_Insumo').val() != "") {
                            $('#checkProdTerminado').prop('checked', false);
                            $('#checkInsumo').prop('checked', true);
                        }

                        /* AMBOS */

                        if ($('#Numero_Producto_Ventas').val() != "" && $('#Codigo_Insumo').val() != "") {
                            $('#checkProdTerminado').prop('checked', true);
                            $('#checkInsumo').prop('checked', true);
                        }
                    }

                    $('#modalProductoLayout').modal('toggle');

                    CargarInsumosLayout();
                    CargarProductosVentas();
                    ModificarChecks();
                    SaltosEnFormulario();

                    $("#modalProductoLayout").on('shown.bs.modal', function () {
                        $("#modalTipoProducto").modal('hide');

                        if (Codigo_Producto == "") {
                            $('#Codigo_Producto').focus();
                        }
                        else {
                            $('#Descripcion').focus();
                        }

                    });
                }
            });
        }

        function AbrirModalProduccionesPorProducto() {
            $.ajax({
                type: "GET",
                url: "/Listados/Producciones_Por_Producto/",
                success: function (data) {

                    $('#ModalProduccionesPorProducto').html(data);

                    $('#modalProduccionesPorProducto').modal('toggle');

                }
            });
        }

        function AbrirModalInsumo(Codigo_Insumo) {
            $.ajax({
                type: "GET",
                url: "/Insumos/AddOrEdit/",
                data: { id: Codigo_Insumo, modal: 1 },
                success: function (data) {

                    $('#ModalInsumo').html(data);

                    CargarLineas();
                    CargarRubros();
                    CargarProveedores();
                    CargarImpuestos();
                    CargarImputaciones();
                    VerificarPrecioPor();

                    $('#LineasTabla tbody').on('click', 'tr.selected', function () {

                        ConfirmarSeleccionLinea();

                    });

                    $('#RubrosTabla tbody').on('click', 'tr.selected', function () {

                        ConfirmarSeleccionRubro();

                    });

                    $('#ProveedoresTabla tbody').on('click', 'tr.selected', function () {

                        ConfirmarProveedor();

                    });

                    $('#ImpuestosTabla tbody').on('click', 'tr.selected', function () {

                        ConfirmarImpuesto();

                    });

                    $('#ImputacionesTabla tbody').on('click', 'tr.selected', function () {

                        ConfirmarImputacion();

                    });

                    $('#modalInsumoLayout').modal('toggle');

                    $('#modalInsumoLayout').on('shown.bs.modal', function (e) {
                        $('#Codigo_Insumo').focus();
                    });
                }
            });
        }

        function AbrirModalSilos(TipoVista) {
            $.ajax({
                type: "GET",
                url: "/Silos/Index/",
                success: function (data) {

                    $('#ModalSilos').html(data);

                    /* SE EJECUTA CUANDO SE ABRE DESDE EL MENÚ PRINCIPAL */

                    if (TipoVista == "Index") {
                        $('#ConfirmarSilo').css("display", "none");
                    }

                    $('#modalSilos').modal('toggle');

                    CargarSilosLayout();
                }
            });
        }

        function AbrirModalInsumosLayout() {
            $.ajax({
                type: "GET",
                url: "/ModalesListados/Modal_Insumos/",
                success: function (data) {

                    $('#ModalInsumosLayout').html(data);

                    CargarInsumos();

                    $('#modalInsumosLayout').modal('toggle');
                }
            });
        }

        function AbrirModalCostosLayout() {
            $.ajax({
                type: "GET",
                url: "/ModalesListados/Modal_Costos_Indirectos/",
                success: function (data) {

                    $('#ModalCostosLayout').html(data);

                    CargarCostos();

                    $('#modalCostosLayout').modal('toggle');
                }
            });
        }

        function AbrirModalAdministrar() {
            $.ajax({
                type: "GET",
                url: "/Usuarios/AdministrarCuenta/",
                success: function (data) {

                    $('#ModalAdministrarCuenta').html(data);

                    $('#modalAdministrar').modal('toggle');

                }
            });

        }

        function AbrirModalRegister() {
            $.ajax({
                type: "GET",
                url: "/Sesion/Register/",
                success: function (data) {

                    $('#ModalRegister').html(data);

                    $('#modalRegistro').modal('toggle');

                }
            });

        }

        function AbrirModalLogin() {
            $.ajax({
                type: "GET",
                url: "/Sesion/LoginModal/",
                success: function (data) {

                    $('#ModalLogin').html(data);

                    $('#modalLogin').modal('toggle');

                }
            });

        }

        /*RELLENAR MODALES*/

        function AbrirModalCondicionesDePago() {
            $.ajax({
                type: "GET",
                url: "/CondicionesPago/Modal_Listado/",
                success: function (data) {

                    $('#ModalCondicionesDePago').html(data);

                    CargarCondiciones();

                    $('#modalCondicionesDePago').modal('toggle');

                }
            });
        }

        function AbrirModalCodigosComprobantes() {
            $.ajax({
                type: "GET",
                url: "/ModalesListados/Modal_Codigos_Comprobante/",
                success: function (data) {

                    $('#ModalCodigosComprobantes').html(data);

                    CargarComprobantes();

                    $('#modalCodigosComprobantes').modal('toggle');

                }
            });
        }

        function AbrirModalConfiguraciones() {
            $.ajax({
                type: "GET",
                url: "/Utilidades/OpcionesTrabajo/",
                success: function (data) {

                    $('#ModalConfiguraciones').html(data);

                    $('#modalOpciones').modal('toggle');

                }
            });
        }

        function AbrirModalDatosEmpresa() {
            $.ajax({
                type: "GET",
                url: "/Utilidades/DatosEmpresa/",
                success: function (data) {

                    $('#ModalDatosEmpresa').html("");

                    $('#ModalDatosEmpresa').html(data);

                    $('#modalDatosEmpresa').modal('toggle');

                }
            });
        }

        function AbrirModalDetalladoProducciones() {

            TipoProducto = 3;

            $.ajax({
                type: "GET",
                url: "/Listados/Producciones_Detallado/",
                success: function (data) {

                    $('#ModalDetalladoProducciones').html(data);

                    $('#modalDetalladoProducciones').modal('toggle');

                }
            });
        }

        function AbrirModalStockProductoEstado() {
            TipoProducto = 1;
            $.ajax({
                type: "GET",
                url: "/Listados/StockProductoEstado/",
                success: function (data) {
                    $('#ModalStockProdEstado').html(data);
                    $('#modalProductoEstado').modal('toggle');

                }
            });
        }

        function AbrirModalProducidoEntreFechas() {

            $.ajax({
                type: "GET",
                url: "/Listados/Producido_Entre_Fechas/",
                success: function (data) {

                    $('#ModalProducidoEntreFechas').html(data);

                    $('#modalProducidoEntreFechas').modal('toggle');

                }
            });
        }

        function AbrirModalDuplicarFormula() {

            $.ajax({
                type: "GET",
                url: "/Utilidades/Duplicar_Formula/",
                success: function (data) {

                    $('#ModalDuplicarFormula').html(data);

                    $('#modalDuplicarFormula').modal('toggle');

                }
            });
        }

        function AbrirModalResumenProduccion() {

            TipoProducto = 2;

            $.ajax({
                type: "GET",
                url: "/Listados/Resumen_Produccion/",
                success: function (data) {

                    $('#ModalResumenProduccion').html(data);

                    $('#modalResumenProduccion').modal('toggle');

                }
            });
        }

        function AbrirModalStockGeneral() {
            TipoProducto = 0;

            $.ajax({
                type: "GET",
                url: "/Listados/StockGeneral/",
                success: function (data) {

                    $('#ModalStockGeneral').html(data);

                    $('#modalStockGeneral').modal('toggle');

                }
            });
        }

        function AbrirModalStockInsumos() {
            TipoInsumo = 0;

            $.ajax({
                type: "GET",
                url: "/Listados/Stock_Insumos_Total/",
                success: function (data) {

                    $('#ModalStockInsumos').html(data);

                    $('#modalStockInsumos').modal('toggle');

                }
            });
        }

        function AbrirModalComprasPorProveedor() {
            $.ajax({
                type: "GET",
                url: "/Listados/Compras_Por_Proveedor/",
                success: function (data) {

                    $('#ModalComprasPorProveedor').html(data);

                    $('#modalComprasPorProveedor').modal('toggle');

                }
            });
        }


        function AbrirModalStockLeche() {
            $.ajax({
                type: "GET",
                url: "/Listados/StockLeche/",
                success: function (data) {

                    $('#ModalStockLeche').html(data);

                    $('#modalStockLeche').modal('toggle');
                }
            });
        }

        function LogOff() {

            $.ajax({
                type: "POST",
                url: "/Sesion/LogOff/",
                complete: function (data) {
                    window.location.href = "/Account/Login";
                }
            });
        }

        function CargarInsumosLayout() {
            dataTable = $("#InsumosLayoutTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/Insumos/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Codigo_Insumo",
                        "title": "Código",
                        render: function (data) {
                            if (data == null) {
                                return "";
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "data": "Descripcion",
                        "title": "Descripción",
                        "sClass": "mayusculas-texto",
                        render: function (data) {
                            if (data == null) {
                                return "";
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "data": "Precio_Ultima_Compra",
                        "title": "Precio Compra",
                        "render": function (data) {
                            if (data == null) {
                                return "";
                            }
                            else {
                                return parseFloat(data).toFixed(4);
                            }
                        }
                    },
                    {
                        "data": "Codigo_Insumo",
                        "title": "Herramientas",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-xs' onclick=AbrirModalInsumo('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                "<a class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-trash'></span></a>";
                        },
                    }

                ],
                "order": [[1, 'asc']],
                "language": idiomaEspañol,
                "select": 'single',
                "columnDefs": [
                    { className: "text-right", "targets": [2] },
                    { className: "text-center", "targets": [0, 3] }
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: '<span class="glyphicon glyphicon-plus">',
                        className: 'nuevo nuevoInsumo',
                        action: function () {
                            AbrirModalInsumo("");

                        }
                    },
                ],
            });
        }

        function AbrirModalProductos() {
            $.ajax({
                type: "GET",
                url: "/ModalesListados/Modal_Productos/",
                success: function (data) {

                    $('#ModalProductosLayout').html(data);

                    $('#ConfirmarProducto').click(function () {
                        ConfirmarProductoLayout();
                    });

                    $('#modalProductosLayout').modal('toggle');

                    CargarProductosModal();

                    $('#ProductosModalTabla tbody').on('click', 'tr.selected', function () {

                        ConfirmarProductoLayout();

                    });

                }
            });
        }

        /*SE LLAMA AL SELECCIONAR UN PRODUCTO DEL MODAL*/

        function ConfirmarProductoLayout() {

            /*PRODUCTO DEL MODAL STOCK GENERAL*/

            if (TipoProducto == 0) {

                $('#ProductosModalTabla').find('tr.selected').find('td').each(function () {

                    if ($(this).index() == 0) {

                        var Codigo = $(this).html();

                        $('#tb-producto-stock-gral').val(Codigo);

                    }

                    if ($(this).index() == 1) {

                        var Descripcion = $(this).html();

                        $('#producto_stockgral').html(Descripcion);
                    }
                });

                $('#modalProductosLayout').modal('hide');

                $("#modalProductosLayout").on('hidden.bs.modal', function () {
                    $("#Codigo_Estado").focus();
                });
            }

            /*PRODUCTO DEL MODAL STOCK POR PRODUCTO Y ESTADO*/

            if (TipoProducto == 1) {

                $('#ProductosModalTabla').find('tr.selected').find('td').each(function () {

                    if ($(this).index() == 0) {

                        var Codigo = $(this).html();

                        $('#productoStockProdsEstados').val(Codigo);

                    }

                    if ($(this).index() == 1) {

                        var Descripcion = $(this).html();

                        $('#producto_stockProdEstado').html(Descripcion);
                    }
                });

                $('#modalProductosLayout').modal('hide');

                $("#modalProductosLayout").on('hidden.bs.modal', function () {
                    $("#productoStockProdsEstados").focus();
                });
            }

            /*PRODUCTO DEL MODAL RESUMEN PRODUCCION */

            if (TipoProducto == 2) {

                $('#ProductosModalTabla').find('tr.selected').find('td').each(function () {

                    if ($(this).index() == 0) {

                        var Codigo = $(this).html();

                        $('#tb-producto-detallado-produccion').val(Codigo);

                    }

                });

                $('#modalProductosLayout').modal('hide');

                $("#modalProductosLayout").on('hidden.bs.modal', function () {
                    $("#FechaDesdeDetalladoProduccion").focus();
                });
            }

            /*PRODUCTO DEL MODAL DETALLADO PRODUCCION */

            if (TipoProducto == 3) {

                $('#ProductosModalTabla').find('tr.selected').find('td').each(function () {

                    if ($(this).index() == 0) {

                        var Codigo = $(this).html();

                        $('#tb-producto-detallado-produccion').val(Codigo);

                    }
                });

                $('#modalProductosLayout').modal('hide');

                $("#modalProductosLayout").on('hidden.bs.modal', function () {
                    $("#FechaDesdeDetalladoProduccion").focus();
                });
            }

        };

        function ConfirmarInsumoLayout() {

            /*INSUMO DEL MODAL STOCK INSUMOS*/

            if (TipoInsumo == 0) {

                $('#InsumosTabla').find('tr.selected').find('td').each(
                    function () {

                        if ($(this).index() == 0) {

                            var Codigo = $(this).html();

                            $('#Codigo_Insumo_Stock_Insumos').val(Codigo);

                        }
                    }

                )

                $('#modalInsumosLayout').modal('hide');
            }
        };

        $(document).ready(function () {

            CargarInsumosLayout();

            $('#ProductosModalTabla tbody').on('click', 'tr.selected', function () {

                ConfirmarProductoLayout();

            });

            $("#modalProductosLayout").on('shown.bs.modal', function () {
                $('#modalProductosLayout input').focus();
            });

            $("#modalFormulasLayout").on('shown.bs.modal', function () {
                $('#modalFormulasLayout input').focus();
            });

        });

    </script>

</body>

</html>
