﻿@model IEnumerable<MVC_Produccion.Entidad.Imputaciones>

<!-- Normal -->
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <table id="ImputacionesTabla" class="display compact" style="width:100%">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<input type="hidden" value="" class="imputacion" />

<script>

    $(document).ready(function(){
        CargarImputaciones();
    });

    function CargarImputaciones() {
        dataTable = $("#ImputacionesTabla").DataTable({
            "bLengthChange": false,
            "autoWidth": true,
            "ajax": {
                "url": "/Imputaciones/GetData/",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Codigo" },
                { "data": "Descripcion" }

            ],
            "language": idiomaEspañol,
            "select": true
        });

        $('#ImputacionesTabla tbody').on('dblclick', 'tr', function (e) {
            $('#ImputacionesTabla').find('tr').find('td').each(function () {
                    if ($(this).parents(".selected").find("td")) {
                        $(this).parents("tr.selected").find("td").each(function () {
                            if ($(this).index() == 0) {
                                var codigo_imputacion = $(this).html();

                                $('input.imputacion').each(function () {
                                    $(this).val(codigo_imputacion);
                                });
                            }
                        });
                    }
                }
            );
        });
    }
</script>

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/Site.js"></script>

@* Normal *@
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/select/1.2.4/js/dataTables.select.min.js"></script>


