﻿@model IEnumerable<MVC_Produccion.Entidad.Insumos>

<!-- Normal -->
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <table id="InsumosTabla" class="display compact" style="width:100%">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Precio Compra</th>
                    <th>Herramientas</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<input type="hidden" value="" class="insumo" />

<script>

    $(document).ready(function(){
        CargarInsumos();
    });

    window.onload = CargarInsumos;

    function CargarInsumos() {
        dataTable = $("#InsumosTabla").DataTable({
            "autoWidth": true,
            "ajax": {
                "url": "/Insumos/GetData",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Codigo_Insumo"},
                { "data": "Descripcion" },
                {
                    "data": "Precio_Ultima_Compra",
                    "render": function (data) { return "$ " + data },
                    className : "costo"
                },
                { "data": "Codigo_Insumo", "render": function (data) {
                    return "<a class='btn btn-primary btn-sm' href='@Url.Action("Details", "Insumos")/" + data + "'><span class='glyphicon glyphicon-search'></span></a>" +
                            "<a class='btn btn-default btn-sm' href='@Url.Action("AddOrEdit", "Insumos")/" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                            "<a class='btn btn-danger btn-sm' onclick=PopUpDelete('@Url.Action("Delete", "Insumos")/" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                }

            ],

            //

            "order": [[1, 'asc']],
            "language": idiomaEspañol,
            "select": true

        });
    };
</script>

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/Site.js"></script>

@* Normal *@
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/select/1.2.4/js/dataTables.select.min.js"></script>


