﻿@model MVC_Produccion.Entidad.Productos

<h2>Guardar fórmula</h2>

@*@using (Html.BeginForm("Save", "Formulas", FormMethod.Post, new { ROLE = "form", id = "saveform" }))*@
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.HiddenFor(model => model.Codigo_Producto)
        @Html.LabelFor(model => model.Descripcion)
    </div>
}