﻿@model AccesoDatos.Contexto.Produccion.Produccion_Muzzarela
@using MVC_Produccion.Sesiones
@using System.Linq
@using System.Globalization
@using AccesoDatos.Contexto.Produccion.SP;
@{
    dbProdSP db = new dbProdSP();

    if (Model.Codigo_Interno_Produccion == 0)
    {
        ViewBag.Title = "Producciones Muzza : Nuevo";
    }
    else
    {
        ViewBag.Title = "Producciones Muzza : Editar";
    }
}

@using (Html.BeginForm("AddOrEdit", "ProduccionesMuzzarela", FormMethod.Post, new { id = "FormNuevo" }))
{
    @Html.HiddenFor(model => model.Produccion.Historico)

    <div class="col-md-12 contenedor-producciones-add">
        <div class="col-md-12 flexible2">
            <!-- CONTENEDOR SUBMIT-->

            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <a onclick="SubmitProduccion($('#FormNuevo'))" class="AddProduccion btn btn-primary">Confirmar</a>
                        <a class="btn btn-default" href="@Url.Action("Index", "ProduccionesMuzzarela")">Volver</a>
                    </div>
                </div>
            </div>

            <!--FABRICA / NUMERO PLANILLA / FECHA / LOTE / PRODUCTO / QUESERO / ESTADO-->

            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Codigo_Interno_Produccion, new { @class = "control-label" })
                @Html.EditorFor(model => model.Codigo_Interno_Produccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Codigo_Interno_Produccion)
            </div>

            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Produccion.Codigo_Interno_Produccion, new { @class = "control-label" })
                @Html.EditorFor(model => model.Produccion.Codigo_Interno_Produccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Produccion.Codigo_Interno_Produccion)
            </div>

            <fieldset class="scheduler-border caja-contenedora" style="margin-bottom:10px !important">
                <legend class="scheduler-border">Encabezado</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <div class="col-md-4 form-medio">
                                @Html.Label("Fábrica:", htmlAttributes: new { @class = "control-label" })
                            </div>

                            @{
                                if (Model.Codigo_Interno_Produccion != 0)
                                {
                                    <div class="col-md-3 form-medio flexible2">
                                        <div class="col-md-12 form-medio form-group">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.Produccion.Codigo_Fabrica, new { htmlAttributes = new { @class = "form-control" } })
                                                <span class="input-group-addon">
                                                    <a href="#" id="btn-fabrica" onclick="AbrirModalFabricas('Produccion_Codigo_Fabrica')">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 form-medio">
                                            @Html.ValidationMessageFor(model => model.Produccion.Codigo_Fabrica)
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="fabrica-descripcion">
                                            @{
                                                if (Model.Produccion.Fabricas != null)
                                                {
                                                    <text>
                                                        @Model.Produccion.Fabricas.Descripcion
                                                    </text>
                                                }
                                            }
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 form-medio flexible2">
                                        <div class="col-md-12 form-medio form-group">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.Produccion.Codigo_Fabrica, new { htmlAttributes = new { @class = "form-control" } })
                                                <span class="input-group-addon">
                                                    <a href="#" id="btn-fabrica" onclick="AbrirModalFabricas('Produccion_Codigo_Fabrica')">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-medio">
                                            @Html.ValidationMessageFor(model => model.Produccion.Codigo_Fabrica)
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="fabrica-descripcion">

                                        </p>
                                    </div>
                                }

                            }

                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="form-medio">
                                <div class="col-md-4 col-md-offset-1 form-medio">
                                    @Html.LabelFor(model => model.Produccion.Fecha, "Fecha:", new { @autocomplete = "off", @class = "control-label" })
                                </div>
                                <div class="col-md-6 form-medio">
                                    @Html.EditorFor(model => model.Produccion.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 form-medio flexible2">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Produccion.Nro_Planilla, "Número de Planilla:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @if (Model.Codigo_Interno_Produccion == 0 && !ViewBag.NroAuto)
                                    {
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @disabled = "disabled", @id = "Nro_Planilla_Editar" } })
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                    }

                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(model => model.Produccion.Nro_Planilla)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio" style="flex-direction:column !important">
                            @if (Model.Codigo_Interno_Produccion == 0)
                            {
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-3 form-medio">
                                        @Html.LabelFor(model => model.Produccion.Lote, "Lote:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-9 form-medio">
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                </div>
                                <div class="col-md-12 form-medio">
                                    @Html.ValidationMessageFor(model => model.Produccion.Lote)
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-3 form-medio">
                                        @Html.LabelFor(model => model.Produccion.Lote, "Lote:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-9 form-medio">
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @id = "LoteEditar" } })
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                        @Html.ValidationMessageFor(model => model.Produccion.Lote)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <div class="col-md-4 form-medio">
                                @Html.Label("Producto Desnudo:", htmlAttributes: new { @class = "control-label" })
                            </div>

                            @{
                                if (Model.Codigo_Interno_Produccion != 0)
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="Codigo_Producto" id="Codigo_Producto" style="text-align:right" value="@Model.Produccion.Formulas.Codigo_Producto" />
                                            <span class="input-group-addon"><a href="#" id="btn-producto" onclick="AbrirModalFormulas('M')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="producto-descripcion">
                                            @{
                                                if (Model.Produccion.Formulas.Productos != null)
                                                {
                                                    <text>
                                                        @Model.Produccion.Formulas.Productos.Descripcion
                                                    </text>
                                                }
                                            }
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="Codigo_Producto" id="Codigo_Producto" style="text-align:right" />
                                            <span class="input-group-addon"><a href="#" id="btn-producto" onclick="AbrirModalFormulas('M')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="producto-descripcion">

                                        </p>
                                    </div>
                                }

                            }

                        </div>
                        <div class="col-md-4 col-md-offset-3 form-medio flexible2" style="justify-content:flex-end">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-4 form-medio">
                                    @Html.LabelFor(model => model.Produccion.Codigo_Quesero, "Responsable:", new { @class = "control-label" })
                                </div>

                                <div class="col-md-8 form-medio">
                                    @Html.DropDownListFor(model => model.Produccion.Codigo_Quesero, new SelectList(ViewBag.queseros, "Codigo_Quesero", "Nombre"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize" })

                                </div>
                            </div>
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(model => model.Produccion.Codigo_Quesero)
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Masa</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        @*---Kilos Masa---*@
                        <div class="col-md-2 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Kilos_Masa, "Kilos Masa:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Kilos_Masa, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Kilos_Masa)
                            </div>
                        </div>

                        @*---Rendimiento Masa---*@
                        <div class="col-md-3 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Rendimiento_Masa, "Rendimiento Masa:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Rendimiento_Masa, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", oninput = "SoloNumeros($(this))" } })
                                @Html.ValidationMessageFor(model => model.Rendimiento_Masa)
                            </div>
                        </div>

                        @*---Unidades Masa---*@
                        <div class="col-md-3 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Unidades_Masa, "Unidades Masa:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Unidades_Masa, "Unidades Masa", new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @disabled = true } })
                            </div>
                        </div>

                        @*---Fecha Elaboración---*@
                        @*<div class="col-md-2 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.Label("Fecha Elab:", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Fecha_Elaboracion_Masa, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control", @style = "text-align:right" } })
                            </div>
                        </div>*@

                        @*---Fecha Vencimiento---*@
                        <!--<div class="col-md-2 form-medio hidden">
                            <div class="col-md-6 form-medio">
                                @Html.Label("Fecha Venc:", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Fecha_Vencimiento, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control", @style = "text-align:right" } })
                            </div>
                        </div>-->

                    </div>
                </div>
            </fieldset>

            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Proceso</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        @*---PH Mezcla---*@
                        <div class="col-md-2 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Ph_Mezcla, "PH Mezcla:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Ph_Mezcla, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", oninput = "SoloNumeros($(this))" } })
                                @Html.ValidationMessageFor(model => model.Ph_Mezcla)
                            </div>
                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Temp_Hilado, "Temperatura Hilado:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Temp_Hilado, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Temp_Hilado)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Ph_Final, "PH Final:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Ph_Final, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Ph_Final)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Perdidas, "Perdidas:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Perdidas, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Perdidas)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Humedad, "Humedad:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Humedad, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", oninput = "SoloNumeros($(this))" } })
                                @Html.ValidationMessageFor(model => model.Humedad)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="row" style="margin-bottom: 0px">
                <div class="col-md-6">
                    <fieldset class="scheduler-border caja-contenedora">
                        <legend class="scheduler-border">Cocinada</legend>
                        <div class="control-group">
                            <div class="col-md-12 form-medio">

                                @*---Hora Inicio---*@
                                <div class="col-md-6 form-medio flexible2">
                                    <div class="col-md-12 form-medio">
                                        <div class="col-md-4 form-medio">
                                            @Html.LabelFor(model => model.Hora_Inicio, "Hora Inicio:", new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-4 form-medio">
                                            @Html.EditorFor(model => model.Hora_Inicio, new { htmlAttributes = new { @type = "time", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-medio">
                                        <div class="col-md-12 form-medio">
                                            @Html.ValidationMessageFor(model => model.Hora_Inicio)
                                        </div>
                                    </div>
                                </div>

                                @*---Hora Fin---*@
                                <div class="col-md-6 form-medio flexible2">
                                    <div class="col-md-12 form-medio">
                                        <div class="col-md-4 form-medio">
                                            @Html.LabelFor(model => model.Hora_Fin, "Hora Fin:", new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-4 form-medio">
                                            @Html.EditorFor(model => model.Hora_Fin, new { htmlAttributes = new { @type = "time", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-medio">
                                        <div class="col-md-12 form-medio">
                                            @Html.ValidationMessageFor(model => model.Hora_Fin)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            
                <div class="col-md-6">
                    <fieldset class="scheduler-border caja-contenedora">
                        <legend class="scheduler-border">Descarga</legend>
                        <div class="control-group">
                            <div class="col-md-12 form-medio">
                                @*---Hora Inicio---*@
                                <div class="col-md-6 form-medio flexible2">
                                    <div class="col-md-12 form-medio">
                                        <div class="col-md-4 form-medio">
                                            @Html.LabelFor(model => model.Hora_Inicio_Descarga, "Hora Inicio:", new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-4 form-medio">
                                            @Html.EditorFor(model => model.Hora_Inicio_Descarga, new { htmlAttributes = new { @type = "time", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-medio">
                                        <div class="col-md-12 form-medio">
                                            @Html.ValidationMessageFor(model => model.Hora_Inicio_Descarga)
                                        </div>
                                    </div>
                                </div>

                                @*---Hora Fin---*@
                                <div class="col-md-6 form-medio flexible2">
                                    <div class="col-md-12 form-medio">
                                        <div class="col-md-4 form-medio">
                                            @Html.LabelFor(model => model.Hora_Fin_Descarga, "Hora Fin:", new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-4 form-medio">
                                            @Html.EditorFor(model => model.Hora_Fin_Descarga, new { htmlAttributes = new { @type = "time", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-medio">
                                        <div class="col-md-12 form-medio">
                                            @Html.ValidationMessageFor(model => model.Hora_Fin_Descarga)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <!--PIEZAS OBTENIDAS / KILOS TEORICOS / KILOS REALES -->

            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Rinde</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">

                        <div class="col-md-3 form-medio flexible2">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Piezas_Obtenidas, "Piezas Obtenidas:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-4 form-medio">
                                    @Html.EditorFor(model => model.Piezas_Obtenidas, new { htmlAttributes = new { @type = "text", @class = "form-control text-right", min = "0", oninput = "SoloNumeros($(this))", title = "Use . para decimales" } })
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                <div class="col-md-12 form-medio">
                                    @Html.ValidationMessageFor(model => model.Piezas_Obtenidas)
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Kilos_Teoricos, "Kilos Teóricos:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Kilos_Teoricos, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @disabled = true } })
                                @Html.ValidationMessageFor(model => model.Kilos_Teoricos)
                            </div>
                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Kilos_Reales, "Kilos Reales:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Kilos_Reales, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Kilos_Reales)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!--Observacion -->
            <div class="col-md-12 caja-contenedora">
                <input class="collapseGroupCheck" type="checkbox" value="" id="collapseOneCheck" data-target=".collapseOne">
                <label for="Produccion.Observacion" class="noselect">Ver Observación</label>
                <div class="panel-group" id="accordion">
                    <div id="infoObservacion" class="collapseOne panel-collapse collapse">
                        <div class="col-md-6">
                            <textarea name="Produccion.Observacion" value="" style="width: 90%; height: 211px; padding: 12px 20px; box-sizing: border-box;
                                border: 2px solid #ccc; border-radius: 4px;
                                background-color: #f8f8f8; font-size: 16px;  " id="textAreaObservacion" rows="5" placeholder="Por favor ingrese una observación">@{if (Model.Produccion.Observacion != null) {<text> @Model.Produccion.Observacion</text> }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--LISTADOS -->

            <div class="col-md-12 caja-contenedora" id="InsumosConsumidosDiv">
                <table id="DetallesTabla" class="display compact" style="width:100%;"></table>
            </div>

            <div class="col-md-12 caja-contenedora" id="ProductosAsociados">
                <table id="InsumosAsociadosTabla" class="display compact" style="width:100%;"></table>
            </div>

            <!-- LISTADOS PARA ENVIAR AL CONTROLADOR -->

            <div id="DetallesProduccion" style="display:none"></div>
            <div id="Mov_Ins_Asoc" style="display:none"></div>
            <div id="CostosIndirectosProduccion" style="display:none"></div>

            <!-- CONTENEDOR SUBMIT-->

            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <a onclick="SubmitProduccion($('#FormNuevo'))" class="AddProduccion btn btn-primary">Confirmar</a>
                        <a class="btn btn-default" href="@Url.Action("Index", "ProduccionesMuzzarela")">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Modal Detalles-->
<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:900px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Detalles</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA DETALLES -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="DetallesFormulaTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarAjustes()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Fábricas-->
<div class="modal fade" id="modalFabricas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:500px">
        <div class="modal-content" id="ModalFabricas"></div>
    </div>
</div>

<!-- Modal Fórmulas-->
<div class="modal fade" id="modalFormulas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:55%">
        <div class="modal-content" id="ModalFormulas"></div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/CorrectorDecimales.js"></script>

    <script>
        var Codigo_Producto_Seleccionado = '';
        var listadoDetalles = [];
        var Codigo_Familia = @ViewBag.Codigo_Familia;
        var dataTableDetalles = [];
        var dataTableFormulas = [];
        var dataTableAjustes = [];
        var dataTableProductosFormula = [];
        var listadoProductosFormula = [];
        var Producto = [];
        var ListadoDetalles = [];
        var KilosRestantes = 0;
        var PiezasRestantes = 0;
        var listadoCostosIndirectosProduccion = [];

        $("#collapseOneCheck").on('click', function () {
            if (this.checked)
                $('#infoObservacion').show();
            else
                $('#infoObservacion').hide();

        });

        /*SE LLAMA UNA VEZ INSERTADO UN CODIGO_FORMULA, TRAE TODOS SUS DETALLES Y LOS SETEA EN listadoDetalles*/
        function CargarDetallesFormula() {

            if ($('#Codigo_Producto').val() == "") {

                notif({
                    msg: "Por favor ingrese Código de Producto",
                    type: "error",
                    position: "center"
                });

                $('#Codigo_Producto').focus();
                return;
            }

            if (controlKilos_Masa.val() == "") {

                notif({
                    msg: "Por favor ingrese Kilos Masa",
                    type: "error",
                    position: "center"
                });

                controlKilos_Masa.focus();
                return;
            }

            $("#InsumosConsumidosDiv").html("<h1>Cargando Insumos</h1>");

            let kg_masa = controlKilos_Masa.val().toString().replace(",", ".");

            $.ajax({
                type: "GET",
                url: "/Producciones/ObtenerInsumosConsumidosMuzza/",
                data: {
                    producto: $('#Codigo_Producto').val(),
                    litros: kg_masa,
                    tipoProd: "muzzarela"
                },
                success: function (data) {
                    $("#InsumosConsumidosDiv").empty();
                    $("#InsumosConsumidosDiv").html(data);
                }
            });
        };
      
        let Lote = "@Model.Lote";
        let Codigo_Form = "@Model.Produccion.Codigo_Formula";

        function SaltosAlPresionarEnter() {
            $("#Produccion_Codigo_Fabrica").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "POST",
                        url: "/Fabricas/GetData/",
                        data: { Codigo_Fabrica: $('#Produccion_Codigo_Fabrica').val() },
                        success: function (data) {
                            if (data.success) {
                                var Fabrica = data.data[0];

                                if (Fabrica != null) {
                                    $("#fabrica-descripcion").html(Fabrica.Descripcion);
                                    $('#Produccion_Fecha').focus();
                                }
                            }
                            else {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });

                                $('#Produccion_Codigo_Fabrica').focus();

                            }
                        }

                    });
                }
            });

            $("#Codigo_Producto").keyup(function (e) {
                if (e.keyCode == 13) {
                    actualizarProducto($(this).val());
                }
            });

            $('input').focus(function () { $(this).select() });

            $("#Piezas_Obtenidas").keyup(function (e) {
                if (e.keyCode == 13) {
                    if (!$("#Piezas_Obtenidas").val() || $("#Piezas_Obtenidas").val() == "" || $("#Piezas_Obtenidas").val() <= 0) {
                        notif({
                            msg: "Debe ingresar las Piezas Obtenidas",
                            type: "error",
                            position: "center"
                        });

                        $("#Piezas_Obtenidas").focus();

                        return false;
                    }
                    else {
                        $('#Litros_Teoricos').focus();
                    }
                }
            });
        }


        function SubmitProduccion(form) {
            let KilosMasa = 0;
            $("#InsumosConsumidos").find('tr').each(function (index, element) {
                if (index == 0) return;
                if (codigosMasas.includes($(element).find('#sp_codigo_insumo').text())) {
                    Confirmar_Edicion_Ajuste_Cant();

                    let text = $(element).find('#sp_ajuste').text() != '' ? $(element).find('#sp_ajuste').text() : $(element).find('#sp_kilos').text();
                    let kilos = parseFloat(text == '' ? 0 : text);
                    KilosMasa += parseFloat(kilos.toFixed(4));
                }
            })
            if (KilosMasa != parseFloat($("#Kilos_Masa").val())) {
                notif({
                    msg: "Los Kilos de Masa ingresados deben coincidir con la suma de los Kilos de Masa de los Insumos",
                    type: "error",
                    multiline: true,
                    timeout: 5000,
                    position: "center"
                });
                return false;
            }
            if (!$("#Piezas_Obtenidas").val() || $("#Piezas_Obtenidas").val() == "" || $("#Piezas_Obtenidas").val() <= 0) {
                notif({
                    msg: "Debe ingresar las Piezas Obtenidas",
                    type: "error",
                    position: "center"
                });

                $("#Piezas_Obtenidas").focus();

                return false;
            }

            $('#InsumosAsociadosTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 0) {
                    InsumoActual = $(this).html();

                    for (var i in listadoInsumosFormula) {
                        if (listadoInsumosFormula[i].Codigo_Insumo == InsumoActual) {
                            $(this).parent().find('td').find('#kilosEditable').each(function () {

                                if ($(this).val() != "" && $(this).val() > 0) {
                                    listadoInsumosFormula[i].Litros = parseFloat($(this).val());
                                }
                            });
                        }
                    }
                }
            });

            for (var r in listadoInsumosFormula) {

                $('#Mov_Ins_Asoc').append('<input type="text" name="Produccion.Mov_Ins_Asoc[' + r + '].Codigo_Insumo" value="' + listadoInsumosFormula[r].Codigo_Insumo + '"/>' +
                    '<input type="text" name="Produccion.Mov_Ins_Asoc[' + r + '].Litros" value="' + parseFloat(listadoInsumosFormula[r].Litros).toString().replace(".", ",") + '"/>');
            }

            Armar_Array_Insumos_Consumidos_Muzza("DetallesProduccion");

            for (var t in listadoCostosIndirectosProduccion) {

                $('#CostosIndirectosProduccion').append('<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Codigo_Costo_Indirecto" value="' + listadoCostosIndirectosProduccion[t].Codigo_Costo_Indirecto + '"/>' +
                    '<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Cantidad" value="' + parseFloat($('#Litros_Tina').val()).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Porcentaje" value="' + parseFloat(listadoCostosIndirectosProduccion[t].Porcentaje).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Precio_Fijo" value="' + parseFloat(listadoCostosIndirectosProduccion[t].Precio_Fijo).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Precio" value="' + parseFloat(listadoCostosIndirectosProduccion[t].Precio).toString().replace(".", ",") + '"/>');
            }

            //Al tener la propiedad disabled no los agrega a la data del formulario, por eso se cambian estos atributos
            $('#Unidades_Masa').attr('disabled', false).attr('readonly', true);
            $('#Kilos_Teoricos').attr('disabled', false).attr('readonly', true);

            //Resetearía la validación del form para aplicarlo al array recién creado
            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                //VALIDADOR DEL FORMULARIO
                $('#Piezas_Obtenidas').val($('#Piezas_Obtenidas').val().toString().replace(".", ","));
                $('#Kilos_Teoricos').val($('#Kilos_Teoricos').val().toString().replace(".", ","));
                $('#Kilos_Reales').val($('#Kilos_Reales').val().toString().replace(".", ","));
                $('#Rendimiento_Masa').val($('#Rendimiento_Masa').val().toString().replace(".", ","));
                $('#Unidades_Masa').val($('#Unidades_Masa').val().toString().replace(".", ","));
                $('#Humedad').val($('#Humedad').val().toString().replace(".", ","));
                $('#Ph_Mezcla').val($('#Ph_Mezcla').val().toString().replace(".", ","));
                $('#Temp_Hilado').val($('#Temp_Hilado').val().toString().replace(".", ","));
                $('#Ph_Final').val($('#Ph_Final').val().toString().replace(".", ","));
                $('#Perdidas').val($('#Perdidas').val().toString().replace(".", ","));



                controlKilos_Masa.val(controlKilos_Masa.val().toString().replace(".", ","));

                $('.AddProduccion').attr('disabled', true);

                $.ajax({
                    type: "POST",
                    url: "/ProduccionesMuzzarela/AddOrEdit",
                    data: $(form).serialize(),
                    success: function (data) {
                        if (!data.success) {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                        else {
                            let siguiente = "/ProduccionesMuzzarela/Index?resultado=" + data.resultado;
                            if (data.envasar) {
                                EnvasarInicio($("#Produccion_Lote").val(), siguiente);
                            }
                            else {
                                window.location = siguiente;
                            }
                        }
                    },
                    complete: function(data){
                        $('.AddProduccion').attr('disabled', false);
                    }
                });
            }
            return false;
        }

        function GetFormula(Codigo) {

            var x = $.ajax({
                type: "GET",
                url: "/Formulas/GetOne/",
                data: { Codigo_Formula: Codigo,
                    Codigo_Producto : -1
                },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        FormulaActual = data.data[0];

                        $('#Codigo_Formula').val(FormulaActual.Codigo_Producto);

                        return FormulaActual;
                    }
                    else {
                        $.notify(data.mensaje, {
                            globalPosition: "top center",
                            className: "error"
                        })
                    }
                }
            });
        }
        function TraerFormula(Codigo){
            $.ajax({
                type: "POST",
                url: "/Formulas/GetOne/",
                data: { Codigo_Formula: -1,
                    Codigo_Producto: Codigo },
                success: function (data) {
                    if (data.success) {

                        FormulaActual = [];
                        FormulaActual = data.data[0];

                        if (FormulaActual == null) {
                            notif({
                                msg: "Error, no existe registro con el Código ingresado.",
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            });
        }

        function AddOrEditInsumos(Codigo_Formula, Lote) {
            /*SE LLAMA CUANDO SE INGRESA UNA NUEVA PRODUCCION*/
            if (Lote == "" && Codigo_Formula != "") {
                ObtenerInsumosFormula(Codigo_Formula, Lote);
            }
                /*SE LLAMA CUANDO SE EDITA UNA PRODUCCION*/
            else {
                var y = $.ajax({
                    type: "GET",
                    url: "/Producciones/Get_Mov_Ins_Asoc/",
                    data: {
                        Lote: Lote
                    },
                    success: function (data) {
                        if (data.success) {
                            listadoInsumosFormula = [];
                            for (var i in data.data) {
                                listadoInsumosFormula.push(data.data[i]);
                            }
                            CargarInsumosFormula();
                        }
                    }
                });
            }
        }

        /*CARGA DESDE listadoDetalles*/
        function CargarDetalles_Muzza() {
            $.fn.dataTable.ext.errMode = 'none';
            dataTableDetalles = $("#DetallesTabla").DataTable({
                "bPaginate": false,
                "bFilter": false,
                "destroy": true,
                "responsive": true,
                "autoWidth": true,
                "bInfo": false,
                "lengthChange": false,
                data: listadoDetalles,
                "columns": [
                    {
                        title: "Insumo",
                        data: "Descripcion",
                        "sClass": "mayusculas-texto",
                        width: "40%"
                    },
                    {
                        title: "Unidades",
                        data: "Codigo_Insumo",
                        "render": function (data, type, row, meta) {
                            if (row.Precio_Por == 'U' || row.Masa) {
                                return parseFloat(row.Cantidad_Unidades).toFixed(4);
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        title: "Kilos/Litros",
                        data: "Codigo_Insumo",
                        "render": function (data, row) {
                            for (var i in listadoDetalles) {
                                if (listadoDetalles[i].Codigo_Insumo == data) {

                                    if (listadoDetalles[i].Precio_Por != 'U') {
                                        return parseFloat(listadoDetalles[i].Cantidad).toFixed(4);
                                    }
                                    else {
                                        return "";
                                    }
                                }
                            }
                        }
                    },
                    {
                        title: "Ajuste",
                        data: "Ajuste",
                        render: function (data) {
                            let valor = parseFloat(data);
                            if (!isNaN(valor)) {
                                return valor.toFixed(4);
                            }
                            else {
                                return "";
                            }
                        }
                    },
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    { className: "text-right", "targets": [1, 2, 3] }
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: '<span class="glyphicon glyphicon-cog"></span> Realizar Ajustes',
                        className: 'ajustes',
                        action: function () {
                            CargarDetallesEnModal();
                            $('#modalDetalles').modal('toggle');
                        }
                    },
                ],
                "order": [[0, "asc"]]

            });

            /*
            dataTableDetalles.on('error.dt', function (e, settings, techNote, message) {
                console.log('An error has been reported by DataTables: ', message);
            });
            */
        };

        /*SE LLAMA CUANDO SE ESTA HACIENDO LA EDICIÓN DE LA PRODUCCIÓN ACTUAL*/

        function CargarDetallesProduccion_Muzza() {
            $.ajax({
                type: "GET",
                url: "/Producciones/GetDetalles/",
                data: { Lote: Lote },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoDetalles = [];
                        for (var i in data.data) {
                            data.data[i].Fecha = moment(data.data[i].Fecha).format('L');
                            listadoDetalles.push(data.data[i]);
                        }
                        CargarDetalles_Muzza();
                    };
                }
            });
        }

        /* FUNCIONAMIENTO PRODUCTO, LITROS y KILOS TEORICOS */
        var controlKilos_Masa = null;
        var controlProducto = null;
        var controlKilosTeoricos = null;

        $(document).ready(function () {
            controlKilos_Masa = $("#Kilos_Masa");
            controlProducto = $("#Codigo_Producto");
            controlKilosTeoricos = $("#Kilos_Teoricos");

            let valorProducto = controlProducto.val().trim();

            if (!valorProducto)
                controlKilos_Masa.val("");

            valorLeche = controlKilos_Masa.val().trim();

            controlProducto.change(actualizarProducto);
            controlKilos_Masa.change(actualizarKgMasa);

            @if (Model.Produccion.Detalle_Produccion.Count != 0)
            {
                <Text>
                    $("#InsumosConsumidosDiv").html("<h1>Cargando Insumos</h1>");
                    $.ajax({
                        type: "GET",
                        url: "/Producciones/ObtenerInsumosConsumidosMuzza/",
                        data: { producto: '', litros: 0, lote: '@Model.Lote' },
                        success: function (data) {
                            $("#InsumosConsumidosDiv").empty();
                            $("#InsumosConsumidosDiv").html(data);
                        }
                    });
                </text>
            }
        });

        function actualizarKgMasa() {
            CargarDetallesFormula();
            calcularKilosTeoricos();
        }

        function calcularKilosTeoricos() {
            let kg_masa = parseFloat(controlKilos_Masa.val());

            if (kg_masa && FormulaActual) {
                let valor = parseFloat(kg_masa * (parseFloat(FormulaActual.Kilos_Teoricos) / parseFloat(FormulaActual.Kilos_Masa))).toFixed(2);
                if(valor == 'Infinity')
                    controlKilosTeoricos.val(0);
                else
                    controlKilosTeoricos.val(valor);
            }
        }

        $("#Produccion_Codigo_Fabrica").blur(function () {
            cargarFabrica($(this).val().trim());
        });

        function cargarFabrica(fabrica_codigo) {
            if (fabrica_codigo != null && fabrica_codigo != -1) {
                $("#Produccion_Codigo_Fabrica").val(fabrica_codigo);
                $.ajax({
                    type: "GET",
                    url: "/Fabricas/GetData/",
                    data: { Codigo_Fabrica: fabrica_codigo },
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            var Fabrica = data.data[0];
                            $("#Produccion_Codigo_Fabrica").val(Fabrica.Codigo_Fabrica);
                            $("#fabrica-descripcion").html(Fabrica.Descripcion);
                        }
                    }
                });
            }
        }

        $(document).ready(function () {

            if(@Model.Codigo_Interno_Produccion == 0)
                cargarFabrica(@{@(Sesion.UsuarioActual != null ? (Sesion.UsuarioActual.Fabrica.HasValue ? Sesion.UsuarioActual.Fabrica.Value : -1) : -1)});

            $("#modalFabricas").on('shown.bs.modal', function () {
                $('#modalFabricas input').focus();
            });

            $("#modalFormulas").on('shown.bs.modal', function () {
                $('#modalFormulas input').focus();
            });

            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/

            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });

            if(@Model.Codigo_Interno_Produccion == 0){

                $('#Piezas_Obtenidas').val("");
                $('#Produccion_Lote').val("");
                $('#Produccion_Lote').focus();

            }
            else{
                Lote = $('#Produccion_Lote').val();

                $('#Nro_Planilla').val($('#Nro_Planilla_Editar').val());

                TraerFormula($('#Codigo_Producto').val());

                AddOrEditInsumos("@Model.Produccion.Codigo_Formula", Lote);
                CargarDetallesProduccion_Muzza();
            }

            SaltosAlPresionarEnter();

            $("#Produccion_Fecha").datepicker();
            $("#Fecha_Vencimiento").datepicker();
            $("#Fecha_Elaboracion_Masa").datepicker();


            let autoFecha = '@{
                try
                {
                    if (Model.Codigo_Interno_Produccion == 0)
                    {
                        @db.Obtener_Ultima_Fecha_Producion(Sesion.UsuarioActual != null ? Sesion.UsuarioActual.Fabrica.HasValue ? Sesion.UsuarioActual.Fabrica.Value : -1 : -1, "Muzzarela").First().Value.ToString("dd/M/yyyy", CultureInfo.InvariantCulture);
                    }
                    else
                    {
                        @String.Empty;
                    }
                    // @db.Produccion.OrderByDescending(x => x.Fecha).First().Fecha.Value.ToString("dd/M/yyyy", CultureInfo.InvariantCulture);
                }
                catch(Exception e)
                {
                    @String.Empty;
                }
            }';

            if (autoFecha)
                $("#Produccion_Fecha").val(autoFecha.trim());
        });

        function PromedioPh() {
            var Ph = 0;
            var cantPh = 0;

            $('#InsumosConsumidos .ph').each(function () {
                if ($(this).val() < 0) {
                    $(this).val(0);
                }
                else {
                    Ph += parseFloat($(this).val());
                    cantPh += 1;
                }
            });
            let Promedio = Ph / cantPh;
            $('#Ph_Mezcla').val(isNaN(Promedio) ? "" : Promedio.toFixed(2));

        }
        function PromedioHumedad() {
            var Humedad = 0;
            var cantHumedad = 0;

            $('#InsumosConsumidos .humedad').each(function () {
                if ($(this).val() < 0) {
                    $(this).val(0);
                }
                else {
                    Humedad += parseFloat($(this).val());
                    cantHumedad += 1;
                }
            });
            let Promedio = Humedad / cantHumedad;
            $('#Humedad').val(isNaN(Promedio) ? "" : Promedio.toFixed(2));
        }
        function PromedioRendimiento() {
            var Rendimiento = 0;
            var cantRendimiento = 0;

            $('#InsumosConsumidos .rendimiento').each(function () {
                if ($(this).val() < 0) {
                    $(this).val(0);
                }
                else {
                    Rendimiento += parseFloat($(this).val());
                    cantRendimiento += 1;
                }
            });
            let Promedio = Rendimiento / cantRendimiento;
            $('#Rendimiento_Masa').val(isNaN(Promedio) ? "" : Promedio.toFixed(2));
        }
        function PromedioUnidadesMasa() {
            let Unidades = 0;
            let CantMasas = 0;
            $("#InsumosConsumidos").find('tr').each(function (index, element) {
                if (index == 0) return;
                if (codigosMasas.includes($(element).find('#sp_codigo_insumo').text())) {
                    if ($(element).find('#cantidad_insumo').val()) {
                        let val = $(element).find('#cantidad_insumo').val()
                        let cant = parseFloat(val === "" ? "0" : val);
                        if (cant != 0) {
                            CantMasas++;
                        }
                        Unidades += parseFloat(cant.toFixed(4));
                    } else {
                        let val = $(element).find('#sp_cantidad').text()
                        let cant = parseFloat(val === "" ? "0" : val);
                        if (cant != 0) {
                            CantMasas++;
                        }
                        Unidades += parseFloat(cant.toFixed(4));
                    }
                }
            })
            let Promedio = Unidades / CantMasas;
            $("#Unidades_Masa").val(isNaN(Promedio) ? "" : Promedio.toFixed(2));
        }

        //En producción muzzarella, Piezas_Obtenidas es int, entonces obligo a escribir números enteros y positivos
        $('#Piezas_Obtenidas').numeric({
            decimal: false, negative: false
        },
            function () {
                alert('Solo se permiten números enteros y positivos');
                this.value = '';
                this.focus();
            });

    </script>
}