﻿
@{
    ViewBag.Title = "Rubros : Listado";
}

<h2>Rubros</h2>

<table id="RubrosTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteRubroIndex()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden/>

@section scripts{

<script src="~/Scripts/Rubros/Index.js"></script>

    <script>

        function CargarRubrosIndex() {

            $.ajax({
                type: "GET",
                url: "/Rubros/GetData/",
                data: { Codigo_Rubro: -1 },
                dataType: "json",
                success: function (data) {
                    if (data.success) {

                        listadoRubros = data.data;

                        dataTableRubros = $("#RubrosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            data: listadoRubros,
                            "columns": [
                                {
                                    "data": "Codigo_Rubro",
                                    "title": "Código",
                                    "width": "15%"
                                },
                                {
                                    "data": "Nombre",
                                    "title": "Nombre",
                                    "sClass": "mayusculas-texto"
                                },
                                {
                                    "data": "Codigo_Rubro",
                                    "width": "10%",
                                    "title": "Herramientas",
                                    "render": function (data) {
                                        return "<a class='btn btn-default btn-sm' onclick=EditarRubro('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                               "<a class='btn btn-danger btn-sm' onclick=modificarInputRubro('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                                    },
                                }

                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                { className: "text-center", "targets": [0, 2] },
                            ],
                            dom: 'Bfrtip',
                            buttons: [
                               {
                                   text: '<span class="glyphicon glyphicon-plus">',
                                   className: 'nuevo',
                                   action: function () {
                                       AgregarRubro();
                                   }
                               }
                            ],
                            "order": [[1, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            }

                        });
                    }

                }
            });
        };
        function DeleteRubroIndex() {
            $.ajax({
                type: "POST",
                url: "/Rubros/Delete/",
                data: { Codigo_Rubro: CodigoRubro },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');
                        CargarRubrosIndex();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };


        $(document).ready(function () {

            CargarRubrosIndex();

        });

    </script>
}
