﻿@model MVC_Produccion.Listados.ListadosModels.ComprasPorProveedorModel
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;
}

<div class="modal-header" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="tituloModalAddOrEdit">Compras por Proveedor</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Html.BeginForm("Compras_Por_Proveedor", "Listados", FormMethod.Post, new { @id = "FormComprasPorVendedor" }))
{
    <div class="modal-body">
        <div class="col-md-12 flexible2">
            <div class="col-md-12 caja-contenedora flexible2">

                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.Codigo_Proveedor, "Proveedor", new { @class = "control-label" }): 
                        </div>
                        <div class="col-md-7 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box" data-val="true" data-val-number="El campo Proveedor debe ser un número." id="Codigo_Proveedor" name="Codigo_Proveedor" type="number">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalProveedores()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.Codigo_Insumo, "Insumo", new { @class = "control-label" }): 
                        </div>
                        <div class="col-md-7 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Codigo_Insumo" type="number">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalInsumos()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(m => m.Codigo_Fabrica, "Fábrica", new { @class = "control-label" }): 
                        </div>
                        <div class="col-md-7 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box" data-val="true" data-val-number="El campo Fabrica debe ser un número." id="Codigo_Fabrica" name="Codigo_Fabrica" type="number">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.Fecha_Desde, "Fecha Desde", new { @class = "control-label" }): 
                        </div>
                        <div class="col-md-7 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Fecha_Desde, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.Fecha_Hasta, "Fecha Hasta", new { @class = "control-label" }): 
                        </div>
                        <div class="col-md-7 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                        </div>
                    </div>

                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <label class="control-label">Línea: </label>
                        </div>
                        <div class="col-md-7 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Codigo_Linea" type="number" min="1" value="" oninput="LineaRubroNotMinusOrEqual0()">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalLineas()"><span class="glyphicon glyphicon-search" style="cursor:pointer"></span></a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <label class="control-label">Rubro: </label>
                        </div>
                        <div class="col-md-7 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Codigo_Rubro" type="number" min="1" value="" oninput="LineaRubroNotMinusOrEqual0()">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalRubros()"><span class="glyphicon glyphicon-search" style="cursor:pointer"></span></a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.Tipo_Movimiento, "Tipo Movimiento: ", new { @class = "control-label" })
                        </div>
                        <div class="col-md-7 form-medio">
                            @Html.DropDownListFor(model => model.Tipo_Movimiento, ViewBag.Listado_Tipos_Movimiento as IEnumerable<SelectListItem>, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            @Html.LabelFor(model => model.detalles_imputaciones, "Ver: ", new { @class = "control-label" })
                        </div>
                        <div class="col-md-7 form-medio">
                            @Html.DropDownListFor(model => model.detalles_imputaciones, ViewBag.detalles_imputaciones as IEnumerable<SelectListItem>, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <label class="control-label">
                                Precio con IVA: 
                            </label>
                        </div>
                        <div class="col-md-7 form-medio">
                            <input id="IVA_Precios" name="IVA_Precios" type="checkbox" value="False">
                        </div>
                    </div>
                    <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                    <label class="control-label">
                                            Resumido: 
                                </label>
                            </div>
                            <div class="col-md-7 form-medio">
                                    <input id="check_resumido" name="check_resumido" type="checkbox" value="False">                                
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <script>
            $("#Codigo_Proveedor").val('');
            if ($('#Codigo_Fabrica').val() == 0)
                $('#Codigo_Fabrica').val("");
            var listadoInsumos = [];

            function LineaRubroNotMinusOrEqual0() {
                if ($('#Codigo_Linea').val() <= 0) {
                    $('#Codigo_Linea').val('');
                }
                if ($('#Codigo_Rubro').val() <= 0) {
                    $('#Codigo_Rubro').val('');
                }
            }

            // Espera que cargue todo para setear el foco en el primer input del modal
            setTimeout(() => {
                $('#Codigo_Proveedor').focus();
            }, 500)


            function Compras_Por_Vendedor(Formulario, Excel) {
                $.validator.unobtrusive.parse(Formulario);

                if ($(Formulario).valid()) {
                    let codigo_insumo = $("#Codigo_Insumo ").val() == "" ? "" : $("#Codigo_Insumo ").val();
                    let str_desde = $('#Fecha_Desde').val();
                    let str_hasta = $('#Fecha_Hasta').val();

                    let url = '/Listados/Compras_Por_Proveedor_RPT?Fecha_Desde=' + str_desde +
                        '&Fecha_Hasta=' + str_hasta
                        + '&Excel=' + Excel
                        + '&Codigo_Proveedor=' + ($("#Codigo_Proveedor").val() == '' ? 0 : $("#Codigo_Proveedor").val())
                        + '&Codigo_Fabrica=' + ($("#Codigo_Fabrica").val() == '' ? -1 : $("#Codigo_Fabrica").val())
                        + '&Linea=' + $('#Codigo_Linea').val()
                        + '&Rubro=' + $('#Codigo_Rubro').val()
                        + '&Tipo_Movimiento=' + $("#Tipo_Movimiento").val()
                        + '&Codigo_Insumo=' + codigo_insumo
                        + '&IncluirIVA=' + $('#IVA_Precios').prop('checked')
                        + '&Ver=' + $("#detalles_imputaciones").val()
                        + '&Resumido=' + $('#check_resumido').prop('checked');
                    console.log(url)

                    let urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);

                    if (Excel)
                        window.location.href = url;
                    else {
                        $.ajax({
                            url: urlfinal,
                            success: function (data) {
                                agregarModal('Reportes');
                                $('#ModalReportes').html(data);
                                $('#ModalReportes').modal();
                                $('#ModalReportes').modal('show');
                                calcularFondos();
                                $('body').removeClass('modal-open');
                            }
                        });
                    }

                }
                return false;
            }
           
            $('#FechaDesde').datepicker();
            $('#FechaHasta').datepicker();
   
        </script>
}
<div class="modal-footer">
    <button class="btn btn-danger" onclick="Compras_Por_Vendedor($('#FormComprasPorVendedor'), false)"><i class="far fa-file-pdf"></i> PDF</button>
    <button class="btn btn-success" onclick="Compras_Por_Vendedor($('#FormComprasPorVendedor'), true)"><i class="far fa-file-excel"></i> Excel</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
