﻿@using MVC_Produccion.ContextoProduccion

@model MVC_Produccion.Listados.ListadosModels.CostosProductosModel
@{
    Layout = null;

    Entities db = new Entities();
}



@using (Html.BeginForm("CostosProductos", "Listados", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "FormCostosProductos", @class = "form-horizontal" }))
{
    <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
        <h4 class="modal-title" id="exampleModalLabel">Costos por Producto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="caja-contenedora">
            <div class="row form-medio">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Codigo_Producto, "Producto:", new { @class = "control-label" })
                </div>
                <div class="col-md-5 input-group">
                    @Html.EditorFor((m) => m.Codigo_Producto, new { htmlAttributes = new { @class = "text-box form-control single-line", @oninput = "SoloNumeros($(this))", @min = 0, @value = "" } })
                    <span class="input-group-addon" onMouseOver="this.style.cursor='pointer'" onclick="AbrirModalProductos('Codigo_Producto')"><span class="glyphicon glyphicon-search"></span></span>
                </div>
                <div class="col-md-4 caja-contenedora">
                    <p id="Descripcion_Producto" style="text-transform:capitalize"></p>
                </div>
            </div>
            <div class="row form-medio">
                <div class="col-md-12">
                    @Html.ValidationMessageFor(m => m.Codigo_Producto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-medio">
                <div class="col-md-9">
                    <label class="control-label" style="text-align:start" for="Actualizar_Costos">Actualizar Costos en Módulo de Ventas:</label>
                </div>
                <div class="col-md-2">
                    <input id="Actualizar_Costos" type="checkbox" class="form-control" style="height: 18px !important; margin-top: 0 !important; margin-bottom: 6px !important;">
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-danger" type="button" onclick="CostosProductos()"><i class="far fa-file-pdf"></i> PDF</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    // Espera que cargue todo para setear el foco en el primer input del modal
    setTimeout(() => {
        $('#Codigo_Producto').focus();
    }, 500)

    $("#FormCostosProductos").submit(function (e) {
        e.preventDefault();
    });

    function CostosProductos() {
        agregarModal('Reportes');

        var url = '/Listados/RPT_CostosProductos'
            + '?Codigo_Producto=' + $('#Codigo_Producto').val()
            + '&Con_Costo_Envasado=' + $('#Con_Costo_Envasado').prop('checked')
            + '&Actualizar_Precios=' + $('#Actualizar_Costos').prop('checked');

        var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
        $.ajax({
            url: urlfinal,
            success: function (data) {
                $('#ModalReportes').html(data);
                $('#ModalReportes').modal();
                $('#ModalReportes').modal('show');
                calcularFondos();
                $('body').removeClass('modal-open');
            }
        });
    }
</script>
