﻿@model MVC_Produccion.Listados.ListadosModels.DetalleFormulaModel
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;
}

<div class="modal-header" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="tituloModalAddOrEdit">Datos Fórmula</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Html.BeginForm("Detallado_Formulas", "Listados", FormMethod.Post, new { @id = "DetalladoFormula" }))
{
    <div class="modal-body">
        <div class="col-md-12 flexible2">
            <div class="col-md-12 caja-contenedora flexible2">

                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(m => m.Codigo_Producto, new { @class = "control-label" }):
                    </div>
                    <div class="col-md-8">
                        <div class="row form-group">
                            <div class="col-md-12 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Codigo_Producto, "Producto", new { htmlAttributes = new { @class = "form-control", @id = "Codigo_Producto_Detallado_Formula" } })
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos('Codigo_Producto_Detallado_Formula')"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(m => m.Codigo_Producto, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-12 form-medio form-group">
                        <div class="col-md-8 form-medio">
                            @Html.LabelFor(model => model.Incluir_Costos_Indirectos, "Incluir Costos Indirectos:", htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="col-md-3 form-medio">
                            <input id="Incluir_Costos_Indirectos" name="Incluir_Costos_Indirectos" type="checkbox" value="True">
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <script>

            // Espera que cargue todo para setear el foco en el primer input del modal
            setTimeout(() => {
                $('#Codigo_Producto_Detallado_Formula').focus();
            }, 500)

            function Detallado_Formula() {
                agregarModal('Reportes');

                var url = '/Listados/RPT_Detallado_Formulas'
                    + '?Codigo_Producto=' + $('#Codigo_Producto_Detallado_Formula').val()
                    + '&Incluir_Costos_Indirectos=' + $('#Incluir_Costos_Indirectos').prop('checked');
                console.log(url);

                var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
                console.log(urlfinal);
                $.ajax({
                    url: urlfinal,
                    success: function (data) {
                        $('#ModalReportes').html(data);
                        $('#ModalReportes').modal();
                        $('#ModalReportes').modal('show');
                        calcularFondos();
                        $('body').removeClass('modal-open');
                    }
                });
            }

            function SaltosEnFormulario() {
                $("#Codigo_Producto").keyup(function (e) {
                    if (e.keyCode == 13) {
                        Detallado_Formula($('#DetalladoFormula'));
                    }
                });
            }
        </script>
    </div>

    <div class="modal-footer">
        <button onclick="Detallado_Formula()" type="button" class="btn btn-danger"><i class="far fa-file-pdf"></i> PDF</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
