﻿@model MVC_Produccion.Listados.ListadosModels.DetalleFormulaEnvasadoModel
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;
}

<div class="modal-header" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="tituloModalAddOrEdit">Datos Fórmula Envasado</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Html.BeginForm("Detallado_Formula_Envasado", "Listados", FormMethod.Post, new { @id = "DetalladoFormulaEnvasado" }))
{
    <div class="modal-body">
        <div class="col-md-12 flexible2">
            <div class="col-md-12 caja-contenedora flexible2">

                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-6 form-medio">
                        @Html.LabelFor(m => m.Numero_Producto_Ventas, "Producto de Venta:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-6">
                        <div class="row form-group">
                            <div class="col-md-12 form-medio">
                                <div class="input-group">
                                    <input class="form-control text-box single-line" data-val="true" data-val-required="El campo Producto es obligatorio." id="Numero_Producto" name="Numero_Producto_Ventas" type="text" value="">
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalProductosVentas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(m => m.Numero_Producto_Ventas, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-12 form-medio form-group">
                        <div class="col-md-8 form-medio">
                            @Html.LabelFor(model => model.Incluir_Costos_Indirectos, "Incluir Costos Indirectos:", htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="col-md-3 form-medio">
                            <input id="Incluir_Costos_Indirectos" name="Incluir_Costos_Indirectos" type="checkbox" value="True">
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <script>

            // Espera que cargue todo para setear el foco en el primer input del modal
            setTimeout(() => {
                $('#Numero_Producto').focus();
            }, 500)

            function Detallado_Formula_Envasado() {
                agregarModal('Reportes');

                var url = '/Listados/RPT_Detallado_Formula_Envasado'
                    + '?Numero_Producto_Ventas=' + $('#Numero_Producto').val()
                    + '&Incluir_Costos_Indirectos=' + $('#Incluir_Costos_Indirectos').prop('checked');
                console.log(url);

                var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
                console.log(urlfinal);
                $.ajax({
                    url: urlfinal,
                    success: function (data) {
                        $('#ModalReportes').html(data);
                        $('#ModalReportes').modal();
                        $('#ModalReportes').modal('show');
                        calcularFondos();
                        $('body').removeClass('modal-open');
                    }
                });
            }

            function SaltosEnFormulario() {
                $("#Numero_Producto_Ventas").keyup(function (e) {
                    if (e.keyCode == 13) {
                        Detallado_Formula($('#DetalladoFormulaEnvasado'));
                    }
                });
            }
        </script>
    </div>

    <div class="modal-footer">
        <button onclick="Detallado_Formula_Envasado()" type="button" class="btn btn-danger"><i class="far fa-file-pdf"></i> PDF</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


