﻿@using MVC_Produccion.ContextoProduccion

@model MVC_Produccion.Listados.ListadosModels.StockLecheModel
@{
    Layout = null;

    Entities db = new Entities();

    <script src="~/Scripts/CorrectorDecimales.js"></script>

}

<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Stock Leche</h4>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a onclick="QueUsa('Resumido')" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Resumido</a>
        </li>
        <li class="nav-item">
            <a onclick="QueUsa('Detallado')" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Detallado</a>
        </li>
    </ul>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" id="BodyResumenProduccion">
    <div class="row">
        <div class="col-md-12">
            <section id="loginForm">
                <div class="col-md-12">
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-4 form-medio">
                                    @Html.LabelFor(model => model.Codigo_Silo, "Silo:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-4 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Silo, "Silo", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalListadoSilos()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="div_FDesde" class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-4 form-medio">
                                @Html.LabelFor(model => model.FechaDesde, "Fecha Desde:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.FechaDesde)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-4 form-medio">
                                @Html.LabelFor(model => model.FechaHasta, "Fecha Hasta:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.FechaHasta)
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    if ($('#Codigo_Silo').val() == 0)
                        $('#Codigo_Silo').val("");

                    $("#home-tab").click();
                    var input_prov = "";
                    var Resumido = true;
                    function QueUsa(valor) {
                        if (valor == "Resumido"){
                            Resumido = true;
                            $("#div_FDesde").hide();
                        }
                        else {
                            Resumido = false;
                            $("#div_FDesde").show();
                        }

                        // Espera que cargue todo para setear el foco en el primer input del modal
                        setTimeout(() => {
                            $('#Codigo_Silo').focus();
                        }, 500)
                    }
                    function StockLeche(Excel) {
                        agregarModal('Reportes');
                        console.log($('#FechaDesde').val());
                        console.log($('#FechaHasta').val());
                        var str_hasta = $('#FechaHasta').val();
                        var hasta_array = str_hasta.split("/");
                        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

                        var str_desde = $('#FechaDesde').val();
                        var desde_array = str_desde.split("/");
                        var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
                        console.log(desde_date);
                        console.log(hasta_date);
                        var url = '/Listados/RPT_StockLeche?FechaDesde=' + desde_date + '&FechaHasta=' + hasta_date + '&Codigo_Silo=' + $('#Codigo_Silo').val() + '&Excel=' + Excel + '&Resumido=' + Resumido;
                        console.log(url);
                        var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
                        console.log(urlfinal);

                        if (Excel)
                            window.location.href = url;
                        else {
                            $.ajax({
                                url: urlfinal,
                                success: function (data) {
                                    $('#ModalReportes').html(data);
                                    $('#ModalReportes').modal();
                                    $('#ModalReportes').modal('show');
                                    calcularFondos();
                                    $('body').removeClass('modal-open');
                                }
                            });
                        }
                       
                    }

                    

                    

                    $('#FechaDesde').datepicker();
                    $('#FechaHasta').datepicker();
                </script>
            </section>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" type="button" onclick="StockLeche(false)"><i class="far fa-file-pdf"></i> PDF</button>
    <button class="btn btn-success" type="button" onclick="StockLeche(true)"><i class="far fa-file-excel"></i> Excel</button>

    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




