﻿@model MVC_Produccion.Listados.ListadosModels.CambiosEstadoModel
@{
    Layout = null;
}
<script src="~/Scripts/CorrectorDecimales.js"></script>
<div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Cambios de Estado</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="BodyCambiosEstado">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("RPT_Cambios_Estado", "Listados", FormMethod.Get, new { @id = "FormCambiosEstado" }))
                    {
                    <div class="col-md-12">
                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(m => m.Codigo_Fabrica, new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Fabrica, "Fábrica", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Fecha_Desde, "Fecha Desde:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Fecha_Desde, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Fecha_Desde)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Fecha_Hasta, "Fecha Hasta:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(m => m.Lote, "Lote:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Lote, "Lote", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="Cambios_Estado(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button type="button" class="btn btn-success" onclick="Cambios_Estado(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>

    // Espera que cargue todo para setear el foco en el primer input del modal
    setTimeout(() => {
        $('#Codigo_Fabrica').focus();
    }, 100)

    function Cambios_Estado(Excel) {
        agregarModal('Reportes');
        let str_desde = $('#Fecha_Desde').val();
        let desde_array = str_desde.split("/");
        let fecha_desde = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        let str_hasta = $('#Fecha_Hasta').val();
        let hasta_array = str_hasta.split("/");
        let fecha_hasta = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];
        let url = '/Listados/RPT_Cambios_Estado/?Fecha_Desde=' + fecha_desde
            + '&Fecha_Hasta=' + fecha_hasta
            + '&Codigo_Fabrica=' + ($('#Codigo_Fabrica').val() == "" ? -1 : $('#Codigo_Fabrica').val())
            + '&Lote=' + $('#Lote').val()
            + '&Excel=' + Excel;
        let urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
        console.log(urlfinal)
        if (Excel)
            window.location.href = url;
        else {
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
    $('input[type=datetime]').datepicker();
    $('#Codigo_Fabrica').val('');
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}