﻿@model MVC_Produccion.Listados.ListadosModels.StockProductosDetalladoModel
@{
    Layout = null;
}
<div class="modal-dialog" style="width: 400px">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Reporte Estados Unificado Detallado</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <section id="loginForm">
                @Html.AntiForgeryToken()
                <div class="col-md-12">
                    <div id="div_fabrica" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(m => m.Codigo_Fabrica, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-5">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input class="form-control text-box single-line" data-val="true" data-val-number="El campo Fábrica debe ser un número." data-val-required="El campo Fábrica es obligatorio." id="Codigo_Fabrica" name="Codigo_Fabrica" type="number" value="0" style="width: 150px">
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="div_prod_venta" class="row">
                        <div class="col-md-3 form-medio">
                            <label class="control-label" for="id_prod_venta">Producto de Venta: </label>
                        </div>
                        <div class="col-md-5">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input class="form-control" type="text" id="id_prod_venta" value="" style="width: 150px">
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos('id_prod_venta')"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 form-medio">
                            <p id="Descripcion_Producto_Venta" style="text-transform:capitalize"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Desde, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Desde, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Desde)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Hasta, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                        </div>
                    </div>



                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Stock_Productos(false)"><i class="far fa-file-pdf"></i> PDF</button>
            @*<button class="btn btn-success" onclick="RPT_Stock_Productos(true)"><i class="far fa-file-excel"></i> Excel</button>*@
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>
    $('#Fecha_Desde').datepicker();
    $('#Fecha_Hasta').datepicker();
    function RPT_Stock_Productos(excel) {
        agregarModal('Reportes');
        var str_hasta = $('#Fecha_Hasta').val();
        var str_desde = $('#Fecha_Desde').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

        var desde_array = str_desde.split("/");
        var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];

        var Codigo_Producto = $('#Codigo_Producto').val();
        let url = '/Listados/Stock_Estados_Unificado_Detallado?Fecha_Hasta=' + hasta_date
            + '&Fecha_Desde=' + desde_date
            + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val()
            + '&Numero_Producto=' + $("#id_prod_venta").val()
            + '&excel=' + excel;
        if (excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
    //$('input[type=datetime]').datepicker();
    if ($('#Codigo_Fabrica').val() != 0)
        document.getElementById("Codigo_Fabrica").disabled = true;
    else
        $('#Codigo_Fabrica').val('');

    function maximoZindex(from) {
        var max = 0;
        from.find(">*").each(function (i, e) {
            var z = Number($(e).css("z-index"));
            if (z > max) {
                max = z;
            }
        });
        return max;
    }


</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}