﻿@model MVC_Produccion.Listados.ListadosModels.StockProductosDetalladoModel
@{
    Layout = null;
}
<div class="modal-dialog" style="width:600px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Stock de Productos Unificado</h4>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a onclick="QueUsa('Resumido')" class="nav-link active" id="Resumido" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" style="cursor: pointer;">Resumido</a>
                </li>
                <li class="nav-item">
                    <a onclick="QueUsa('Detallado')" class="nav-link active" id="Detallado" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false" style="cursor: pointer;">Detallado</a>
                </li>
                <li class="nav-item">
                    <a onclick="QueUsa('Ficha')" class="nav-link active" id="Ficha" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false" style="cursor: pointer;">Ficha</a>
                </li>
            </ul>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <section id="loginForm">
                @Html.AntiForgeryToken()
                <div class="col-md-12">
                    <div id="div_fabrica" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(m => m.Codigo_Fabrica, "Fábrica:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Fabrica, "Fábrica", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="div_prod" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(m => m.Codigo_Producto, "Producto:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Producto, "Producto", new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos('Codigo_Producto')"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <p id="Descripcion_Producto" style="text-transform:capitalize"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Desde, "Fecha Desde:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Desde, new { htmlAttributes = new { @class = "form-control", @Value = "", @placeholder = "Solo para Ficha", style = "width:120px !important" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Desde)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Hasta, "Fecha Hasta:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Today.ToString("dd/MM/yyyy"), style = "width:120px !important" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.Label("Version_Anterior", "Versión Anterior:", new { htmlAttributes = new { @class = "control-label" } })
                        </div>
                        <div class="col-md-5">
                            @Html.CheckBox("Version_Anterior", false, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Stock_Productos(false, event)"><i class="far fa-file-pdf"></i> PDF</button>
            <button class="btn btn-success" onclick="RPT_Stock_Productos(true, event)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>
    let resumido
    let ficha
    $(document).ready(function () {
        $("#Resumido").click();
    })

    function QueUsa(id) {
        resumido = id
        ficha = id

        if (id == "Ficha") {
            $("#Fecha_Desde").removeProp("readonly").prop("title", "").prop("placeholder", "Solo para Ficha").datepicker();

            const fechaActual = new Date();
            let dd = fechaActual.getDate();
            let mm = fechaActual.getMonth() + 1;
            const yyyy = fechaActual.getFullYear();

            if (dd < 10) dd = '0' + dd;
            if (mm < 10) mm = '0' + mm;

            const hoy = dd + '/' + mm + '/' + yyyy;

            $("#Fecha_Desde").val(hoy);
        }
        else {
            $("#Fecha_Desde").prop("readonly", true).prop("title", "Solo se necesita en la pestaña Ficha").datepicker("destroy").val("");
        }

        $("#Version_Anterior").parent().parent().prop("hidden", id == "Resumido" ? false : true)
    }

    $("#Fecha_Desde").on("click", function () {
        $(this).select();
    });
    $("#Fecha_Hasta").on("click", function () {
        $(this).select();
    });

    function RPT_Stock_Productos(excel, event) {
        event.preventDefault();

        agregarModal('Reportes');
        let str_desde = $('#Fecha_Desde').val();
        let desde_array = str_desde.split("/");
        let desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        let str_hasta = $('#Fecha_Hasta').val();
        let hasta_array = str_hasta.split("/");
        let hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2]; 

        let url = '/Listados/Stock_Unificado_Productos?Fecha_Desde=' + desde_date
            + '&Fecha_Hasta=' + hasta_date
            + '&Codigo_Fabrica=' + ($('#Codigo_Fabrica').val() == '' ? '-1' : $('#Codigo_Fabrica').val())
            + '&excel=' + excel
            + '&Codigo_Producto=' + $('#Codigo_Producto').val()
            + '&Resumido=' + (resumido == 'Resumido').toString()
            + '&Ficha=' + (ficha == 'Ficha').toString()
            + '&Anterior=' + $("#Version_Anterior").prop("checked")

        if (excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
    $('input[type=datetime]').datepicker();
    $("#Fecha_Desde").datepicker("destroy");

    if ($('#Codigo_Fabrica').val() != 0)
        document.getElementById("Codigo_Fabrica").disabled = true;
    else
        $('#Codigo_Fabrica').val('');

    function maximoZindex(from) {
        var max = 0;
        from.find(">*").each(function (i, e) {
            var z = Number($(e).css("z-index"));
            if (z > max) {
                max = z;
            }
        });
        return max;
    }


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}