﻿@model MVC_Produccion.Listados.ListadosModels.FacturaRemitoModel

@{
    Layout = null;
}
<script src="~/Scripts/CorrectorDecimales.js"></script>
<div class="modal-dialog" style="width:1100px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="">Ver Factura/Remito</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="Filtros">
                <div class="col-md-12 caja-contenedora form-medio">
                    <div class="col-md-3 form-medio">
                        <label class="control-label" for="Codigo_Proveedor">Proveedor:</label>
                    </div>
                    <div class="col-md-3 form-medio">
                        <div class="input-group">
                            <input class="form-control text-box single-line" id="Codigo_Proveedor" type="number" value="">
                            <span class="input-group-addon"><a href="#" onclick="AbrirModalProveedores()"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                    </div>
                    <div class="col-md-6 form-medio" >
                        <div class="input-group">
                            <label class="control-label" id="Descripcion_Proveedor"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-contenedora form-medio">
                    <div class="col-md-3 form-medio">
                        <label class="control-label" for="Fecha_Desde">Fecha Desde:</label>
                    </div>
                    <div class="col-md-2 form-medio">
                        <div class="input-group">
                            <input class="form-control text-box single-line" id="Fecha_Desde" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-contenedora form-medio">
                    <div class="col-md-3 form-medio">
                        <label class="control-label" for="Fecha_Hasta">Fecha Hasta:</label>
                    </div>
                    <div class="col-md-2 form-medio">
                        <div class="input-group">
                            <input class="form-control text-box single-line" id="Fecha_Hasta" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" onclick="BuscarFacturas()">Buscar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
            <div hidden id="SeleccionProv">
              
                <table id="tabla_Compras" class="display compact" style="width:100%"></table>


                <div class="modal-footer">
                    <button class="btn btn-danger" onclick="RPT_Listado_Factura_Remito(false)"><i class="far fa-file-pdf"></i> PDF</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>


    </div>
</div>

<script>
    $('input').focus(function () { $(this).select() });
    $("#Fecha_Desde").datepicker().datepicker('setDate', new Date());
    $("#Fecha_Hasta").datepicker().datepicker('setDate', new Date());

    // Espera que cargue todo para setear el foco en el primer input del modal
    setTimeout(() => {
        $('#Codigo_Proveedor').focus();
    }, 100)

    function RPT_Listado_Factura_Remito(Excel) {
        agregarModal('Reportes');
        let codigo_interno = -1;
        $('#tabla_Compras').find('tr.selected').each(function () {
            codigo_interno = $(this).find('#cic').val();
        });
        if (codigo_interno == -1) {
            notif({
                msg: "Seleccione un registro",
                type: "error",
                position: "center"
            });
            return;
        }

        var url = '/Listados/Listado_Factura_Remito?codigocompra=' + codigo_interno;
        var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
        if (Excel)
            window.location.href = url;
        else {
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }

    //utilidades
    function maximoZindex(from) {
        var max = 0;
        from.find(">*").each(function (i, e) {
            var z = Number($(e).css("z-index"));
            if (z > max) {
                max = z;
            }
        });
        return max;
    }
    function Cancelar() {
        $('#ModalFiltrosVerArticulos').modal('hide');
    }

    //BUSCAR FACTURAS

    function BuscarFacturas() {
        let fecha_desde = $("#Fecha_Desde").val();
        let fecha_hasta = $("#Fecha_Hasta").val();
        let prov = $("#Codigo_Proveedor").val();
        prov = prov == '' ? -1 : prov;
        if (fecha_desde == '' || fecha_hasta == '') {
            notif({
                msg: "Complete los campos Fecha",
                type: "error",
                position: "center"
            });
            return false;
        }

        let desde_array = fecha_desde.split("/");
        fecha_desde = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        let hasta_array = fecha_hasta.split("/");
        fecha_hasta = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];
        $("#tabla_Compras").DataTable({
            "destroy": true,
            //"autoWidth": true,
            "iDisplayLength": 5,
            "ajax": {
                url: "/CompraInsumos/GetComprasPorProveedor/",
                data: {
                    FechaDesde: fecha_desde,
                    FechaHasta: fecha_hasta,
                    codProv: prov
                },
                type: "GET",
                datatype: "json"
            },
            "columns": [
                {
                    "data": "Fecha",
                    "title": "Fecha",
                    "width": "9%",
                    render: function (data) {
                        if (data == null) {
                            return "";
                        }
                        else {
                            return moment(data).format("DD/MM/YYYY");
                        }
                    }
                },
                {
                    "data": "Codigo_Proveedor",
                    "title": "Cod. Prov",
                    "width": "10%",
                },
                {
                    "data": "RAZON_SOCIAL",
                    "title": "Razon Social",
                    "width": 250
                },
                {
                    "data": "Tipo_Factura",
                    "title": "Tipo Fac.",
                    "width": "9%",
                },
                {
                    "data": "Prefijo",
                    "title": "Prefijo",
                    "width": "8%",
                },
                {
                    "data": "Numero_Comprobante",
                    "title": "Nro. Comprob",
                    "width": "9%",
                },
                
                {
                    "data": "Nro_Remito",
                    "title": "Nro. Remito",
                    "width": "9%",
                },
                {
                    "data": "Total",
                    "title": "Total",
                    "width": "15%",
                },
                {
                    "data": "Codigo_Interno_Compra",
                    "title": "",
                    "orderable":false,
                    "render": function (data) {
                        return '<input hidden id="cic" value="'+data+'" />'
                    }
                },
                {
                    "data": "link",
                    "title": "",
                    "orderable": false,
                    "render": function (data) {
                        if (data != "")
                            return '<a target="_blank" href="' + data + '">Ver Archivo Guardado</a>';
                        else
                            return '';

                    }
                },
            ],
            "language": idiomaEspañol,
            "columnDefs": [
                { className: "text-center", "targets": [0,1, 6,3] },
                { className: "text-lefth", "targets": [2] },
                { className: "text-right", "targets": [4,5,7] },


            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Volver <span class="glyphicon glyphicon-arrow-left">',
                    className: 'defoult',
                    action: function () {

                        Volver()
                    }
                }
            ],
            "order": [[0, "desc"]],
            select: "single",
            initComplete: function (data) {
                $('div.dataTables_filter input').focus();
                $("#Filtros").hide();
                $("#SeleccionProv").show();

                $("#tabla_Compras").DataTable().columns.adjust().draw();
            }

        });
    }
    function Volver() {
        $("#SeleccionProv").hide();
        $("#Filtros").show();

    }

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}