﻿@model MVC_Produccion.Listados.ListadosModels.StockInsumosModel
@{
    Layout = null;
}
<script src="~/Scripts/CorrectorDecimales.js"></script>
<div class="modal-dialog" style="width:500px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Stock Insumos Consumidos Por Producto</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row col-md-12">
                <div class="col-md-12 caja-contenedora form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.LabelFor(model => model.Codigo_Insumo, "Insumo:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-5 form-medio">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Codigo_Insumo, "Insumo", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon"><a href="#" onclick="AbrirModalInsumos()"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Codigo_Insumo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-12 caja-contenedora form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.LabelFor(m => m.Codigo_Fabrica, "Fábrica", new { @class = "control-label" }):
                    </div>
                    <div class="col-md-5 form-medio">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Codigo_Fabrica, "Fábrica", new { htmlAttributes = new { @class = "form-control", @Type = "Text" } })
                            <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="div_linea">
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="Codigo_Linea">Línea:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Codigo_Linea" type="number" value="">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalLineas()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="div_rubro">
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="Codigo_Rubro">Rubro:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Codigo_Rubro" type="number" value="">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalRubros()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-12 caja-contenedora form-medio">
            <div class="col-md-6 form-medio">
                <label class="control-label" for="Codigo_Proveedor">Proveedor:</label>
            </div>
            <div class="col-md-5 form-medio">
                <div class="input-group">
                    <input class="form-control text-box single-line" id="Codigo_Proveedor" type="number" value="">
                    <span class="input-group-addon"><a href="#" onclick="AbrirModalProveedorListado()"><span class="glyphicon glyphicon-search"></span></a></span>
                </div>
            </div>
        </div>*@
                <div class="col-md-12 caja-contenedora form-medio">
                    <div class="col-md-6 form-medio">
                        <label class="control-label" for="Codigo_Producto">Producto:</label>
                    </div>
                    <div class="col-md-5 form-medio">
                        <div class="input-group">
                            <input class="form-control text-box single-line" id="Codigo_Producto" type="number" value="">
                            <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos('Codigo_Producto')"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-contenedora form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.LabelFor(model => model.FechaDesde, "Fecha Desde:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-5 form-medio">
                        <div class="input-group">

                            @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.FechaDesde)
                    </div>
                </div>
                <div class="col-md-12 caja-contenedora form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.LabelFor(model => model.FechaHasta, "Fecha Hasta:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-5 form-medio">
                        <div class="input-group">
                            @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.FechaHasta)
                    </div>
                </div>

                <div class="col-md-12 caja-contenedora form-medio">
                    <div class="col-md-6 form-medio">
                        <label class="control-label" for="check_resumido">Resumido:</label>
                    </div>
                    <div class="col-md-5 form-medio">
                        <div class="input-group">
                            <input class="form-control text-box single-line" id="check_resumido" type="checkbox">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Stock_Insumos(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button class="btn btn-success" onclick="RPT_Stock_Insumos(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>
    $("#Resumido").click();
    $("#FechaHasta").datepicker();
    $("#FechaDesde").datepicker();
    if ($('#Codigo_Fabrica').val() == 0)
        $('#Codigo_Fabrica').val("");

    var resumido;
    var listado;

    function RPT_Stock_Insumos(Excel) {
        agregarModal('Reportes');
        var str_hasta = $('#FechaHasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];
        var url = "";

        if ($('#check_resumido').prop('checked') == true) {
            var str_desde = $('#FechaDesde').val();
            var desde_array = str_desde.split("/");
            var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];

            url = '/Listados/Stock_Insumos_Consumidos_Producto?Fecha_Desde=' + desde_date
                + '&Fecha_Hasta=' + hasta_date
                + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val()
                + '&Linea=' + $('#Codigo_Linea').val()
                + '&Rubro=' + $('#Codigo_Rubro').val()
                + '&Codigo_Insumo=' + $('#Codigo_Insumo').val()
                + '&Codigo_Producto=' + $('#Codigo_Producto').val()
                + '&Excel=' + Excel;
        }
        else {

            var str_desde = $('#FechaDesde').val();
            var desde_array = str_desde.split("/");
            var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];

            url = '/Listados/Stock_Insumos_Consumidos_Producto_Detallado?Fecha_Desde=' + desde_date
                + '&Fecha_Hasta=' + hasta_date
                + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val()
                + '&Linea=' + $('#Codigo_Linea').val()
                + '&Rubro=' + $('#Codigo_Rubro').val()
                + '&Codigo_Insumo=' + $('#Codigo_Insumo').val()
                + '&Codigo_Producto=' + $('#Codigo_Producto').val()
                + '&Excel=' + Excel;
        }
        if (Excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        } 
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}