﻿@model MVC_Produccion.Listados.ListadosModels.MermaProduccionesModel
@{
    Layout = null;
}
<script src="~/Scripts/CorrectorDecimales.js"></script>
<div class="modal-dialog">
    <div class="modal-content" style="width: 570px">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Restantes Producciones</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Codigo_Producto, "Producto:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Codigo_Producto, "Producto", new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos('Codigo_Producto')"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                                @Html.ValidationMessageFor(m => m.Codigo_Producto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(m => m.Codigo_Fabrica, new { @class = "control-label" }):
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Codigo_Fabrica, "Fabrica", new { htmlAttributes = new { @class = "form-control", @Type = "Text" } })
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                                @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.FechaDesde, "Fecha Desde:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.FechaDesde)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.FechaHasta, "Fecha Hasta:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.FechaHasta)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-6 form-medio">
                                <label for="Seleccion" class="control-label">Motivo: </label>
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    <select id="Seleccion" class="form-control">
                                        <option value="">Seleccione</option>
                                        <option value="Merma">Merma</option>
                                        <option value="Decomiso">Decomiso</option>
                                        <option value="Reproceso">Reproceso</option>
                                    </select>            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Merma_Producciones(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button class="boton btn btn-success" onclick="RPT_Merma_Producciones(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>

    // Espera que cargue todo para setear el foco en el primer input del modal
    setTimeout(() => {
        $('#Codigo_Producto').focus();
    }, 500)


    function RPT_Merma_Producciones(excel) {
        agregarModal('Reportes');
        var str_desde = $('#FechaDesde').val();
        var desde_array = str_desde.split("/");
        var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        var str_hasta = $('#FechaHasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];
        var url = '/Listados/Merma_Producciones?Fecha_Desde=' + desde_date
            + '&Fecha_Hasta=' + hasta_date
            + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val()
            + '&Codigo_Producto=' + $('#Codigo_Producto').val()
            + '&Motivo=' + $("#Seleccion").val()
            + '&excel=' + excel;
        if (excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            console.log(urlfinal);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
    $('input[type=datetime]').datepicker();
    if ($('#Codigo_Fabrica').val() == 0)
        $('#Codigo_Fabrica').val("");


</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}