﻿@model MVC_Produccion.Listados.ListadosModels.Detalle_Remito
@{
    Layout = null;
}
<div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Detalle de remito</h4>
        </div>
        <div class="modal-body">
            <section id="loginForm">
                @Html.AntiForgeryToken()
                <div class="col-md-12">
                 
                    <div class="row">
                        <div class="col-md-8 form-medio">
                            @Html.LabelFor(model => model.Prefijo, "Prefijo", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4 form-medio">
                            @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                            @Html.ValidationMessageFor(model => model.Prefijo)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 form-medio">
                            @Html.LabelFor(model => model.Numero_Comprobante, "Número de Comprobante", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4 form-medio">
                            @Html.EditorFor(model => model.Numero_Comprobante, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                            @Html.ValidationMessageFor(model => model.Numero_Comprobante)
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Detalle_Remito(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>

    // Espera que cargue todo para setear el foco en el primer input del modal
    setTimeout(() => {
        $('#Prefijo').focus();
    }, 100)

    function RPT_Detalle_Remito(excel) {
        agregarModal('Reportes');
        var Numero_Comprobante = $('#Numero_Comprobante').val();
        var Prefijo = $('#Prefijo').val();
        
        var url = '/Listados/Detalle_Remito?Numero_Comprobante=' + Numero_Comprobante
            + '&Prefijo=' + Prefijo
            + '&Excel=' + excel;
        console.log(url);
        if (excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            console.log(urlfinal);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







