﻿@model MVC_Produccion.Listados.ListadosModels.StockProductosModel
@{
    Layout = null;
}
<div class="modal-dialog" style="width:250px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title">Seguimiento de Lote</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row caja-contenedora">
                <div class="col-md-3">
                    <label>Lote:</label>
                </div>
                <div class="col-md-9">
                    <input id="Lote" type="text" style="width:100%;" class="form-control" />
                </div>
            </div>
            @if (@ViewBag.Error != null)
            {
                <div class="row">
                    <div class="col-md-12">
                        <label class="field-validation-error">@ViewBag.Error</label>
                    </div>
                </div>
            }
        </div>


        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Seguimiento_Lote()"><i class="far fa-file-pdf"></i> PDF</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>

    // Espera que cargue todo para setear el foco en el primer input del modal
    setTimeout(() => {
        $('#Lote').focus();
    }, 500)


    function RPT_Seguimiento_Lote() {
        if ($('#Lote').val() == '') {
            notif({
                msg: 'Ingrese un número de Lote!',
                type: "error",
                position: "center"
            });
            $('#Lote').focus();
            return;
        }
        var url = '/Listados/Seguimiento_Lote?Lote=' + $('#Lote').val();
        console.log(url);
        var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
        console.log(urlfinal);
        $.ajax({
            url: urlfinal,
            success: function (data) {
                agregarModal('Reportes');
                $('#ModalReportes').html(data);
                $('#ModalReportes').modal();
                $('#ModalReportes').modal('show');
                calcularFondos();
                $('body').removeClass('modal-open');
            }
        });
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







