﻿@model MVC_Produccion.Listados.ListadosModels.ComprasPorProveedorModel
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;

}

<div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Desvío Consumo</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-md-12 flexible2">
                <div class="col-md-12 caja-contenedora flexible2">

                    <div class="col-md-12 caja-contenedora">

                        <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(m => m.Codigo_Fabrica, "Fábrica", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Codigo_Fabrica, "Fabrica", new { htmlAttributes = new { @class = "form-control", @Type = "Text" } })
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Codigo_Insumo, "Insumo", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Codigo_Insumo, "Insumo", new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalInsumos()"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.FechaDesde, "Fecha Desde", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.FechaHasta, "Fecha Hasta", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.FechaHasta)
                            </div>
                        </div>
                        <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                <label class="control-label" for="Codigo_Linea">Línea:</label>
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    <input class="form-control text-box single-line" id="Codigo_Linea" type="number" value="">
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalLineas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                <label class="control-label" for="Codigo_Rubro">Rubro:</label>
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    <input class="form-control text-box single-line" id="Codigo_Rubro" type="number" value="">
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalRubros()"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                <label class="control-label" for="Consumido">Consumido en:</label>
                            </div>
                            <div class="col-md-6 form-medio">
                                <div class="input-group">
                                    <select id="Consumido" class="form-control">
                                        <option value="">Seleccione</option>
                                        <option value="Produccion">Produccion</option>
                                        <option value="Envasado">Envasado</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="Desvio_Consumo(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button class="btn btn-success" onclick="Desvio_Consumo(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>

    // Espera que cargue todo para setear el foco en el primer input del modal
    setTimeout(() => {
        $('#Codigo_Fabrica').focus();
    }, 100)
    if ($('#Codigo_Fabrica').val() == 0)
        $('#Codigo_Fabrica').val("");
    //utilidades
    function maximoZindex(from) {
        var max = 0;
        from.find(">*").each(function (i, e) {
            var z = Number($(e).css("z-index"));
            if (z > max) {
                max = z;
            }
        });
        return max;
    }
            var listadoInsumos = [];
            function Desvio_Consumo(Excel) {
                    let codigo_insumo = $("#Codigo_Insumo ").val() == "" ? "" : $("#Codigo_Insumo ").val();

                    var str_hasta = $('#FechaHasta').val();
                    var hasta_array = str_hasta.split("/");
                    var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

                    var str_desde = $('#FechaDesde').val();
                    var desde_array = str_hasta.split("/");
                    var desde_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

                    console.log(desde_date);
                    console.log(hasta_date)
                    var url = '/Listados/RPT_Desvio_Consumo?FechaDesde=' + str_desde +
                        '&FechaHasta=' + str_hasta +
                        '&Excel=' + Excel +
                        '&Codigo_Fabrica=' + $("#Codigo_Fabrica").val() +
                        '&Codigo_Insumo=' + codigo_insumo +
                        '&Codigo_Linea= ' + $('#Codigo_Linea').val() +
                        '&Codigo_Rubro= ' + $('#Codigo_Rubro').val() +
                        '&Consumido= '+ $("#Consumido").val()
                    console.log(url);
                    var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
                    console.log(urlfinal);

                    if (Excel)
                        window.location.href = url;
                    else {
                        $.ajax({
                            url: urlfinal,
                            success: function (data) {
                                agregarModal('Reportes');
                                $('#ModalReportes').html(data);
                                $('#ModalReportes').modal();
                                $('#ModalReportes').modal('show');
                                calcularFondos();
                                $('body').removeClass('modal-open');
                            }
                        });
                    }
            }
            function maximoZindex(from) {
                var max = 0;
                from.find(">*").each(function (i, e) {
                    var z = Number($(e).css("z-index"));
                    if (z > max) {
                        max = z;
                    }
                });
                return max;
            }

            $('#FechaDesde').datepicker();
            $('#FechaHasta').datepicker();
</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
