﻿
@model MVC_Produccion.Listados.ListadosModels.CalidadModel
@{
    Layout = null;
}
<script src="~/Scripts/CorrectorDecimales.js"></script>

<div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Reporte de Calidad</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Reporte, new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                <div class="input-group">

                                    @Html.DropDownListFor(model => model.Reporte, ViewBag.ListadoReportes as IEnumerable<SelectListItem>, "Seleccione", new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Numero_Producto, "Producto:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Numero_Producto, "Producto", new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalProductosVentas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                                @Html.ValidationMessageFor(m => m.Numero_Producto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Codigo_Fabrica, "Fabrica:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    <input class="form-control text-box single-line" data-val="true" data-val-number="El campo Fabrica debe ser un número." data-val-required="El campo Fabrica es obligatorio." id="Codigo_Fabrica" name="Codigo_Fabrica" type="number" value="0">
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                                @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="desde" hidden class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Fecha_Desde, "Fecha Desde:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Fecha_Desde, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Fecha_Desde)
                            </div>
                        </div>
                    </div>
                    <div id="hasta" hidden class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Fecha_Hasta, "Fecha Hasta:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                            </div>
                        </div>
                    </div>
                
                
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button disabled class="boton btn btn-danger" onclick="RPT_Calidad(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button disabled class="boton btn btn-success" onclick="RPT_Calidad(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<!--TODO EXPORTAR-->
<script>
    if ($('#Codigo_Fabrica').val() == 0)
        $('#Codigo_Fabrica').val("");

    $("#Reporte").change(function () {
        estado = $('option:selected', this).val();
        if (estado == 1) {
            $("#desde").hide();
            $("#hasta").show();

        }
        if (estado > 1 && estado < 5) {
            $("#desde").show();
            $("#hasta").show();

        }
        if (estado == 5) {

            $("#desde").hide();
            $("#hasta").hide();
        }
        if (!estado) 
            $(".boton").prop("disabled",true);
        else
            $(".boton").prop("disabled", false);


    });

    function RPT_Calidad(excel) {
        agregarModal('Reportes');
        var str_desde = $('#Fecha_Desde').val();
        var desde_array = str_desde.split("/");
        var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        var str_hasta = $('#Fecha_Hasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];
        var url = '/Listados/RPT_Calidad'
            + '?Numero_Producto=' + $('#Numero_Producto').val()
            + '&Fecha_Desde=' + desde_date
            + '&Fecha_Hasta=' + hasta_date
            + '&Excel=' + excel
            + '&Fabrica=' + $('#Codigo_Fabrica').val()
            + '&Reporte=' + $('#Reporte').val();

        if (excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            console.log(urlfinal);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
    $('input[type=datetime]').datepicker();

    function maximoZindex(from) {
        var max = 0;
        from.find(">*").each(function (i, e) {
            var z = Number($(e).css("z-index"));
            if (z > max) {
                max = z;
            }
        });
        return max;
    }


    
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}