﻿@model MVC_Produccion.Listados.ListadosModels.StockProductosDetalladoModel
@{
    Layout = null;
}
<div class="modal-dialog" style="width:600px;">
    <div class="modal-content" style="width: 570px">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Stock de Productos Ventas</h4>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a onclick="QueUsa('Resumido')" href="#" class="nav-link active" id="Resumido" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Resumido</a>
                </li>
                <li class="nav-item">
                    <a onclick="QueUsa('Detallado')" href="#" class="nav-link" id="Detallado" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">Detallado</a>
                </li>
            </ul>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <section id="loginForm">
                @Html.AntiForgeryToken()
                <div class="col-md-12">
                    <div id="div_fabrica" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(m => m.Codigo_Fabrica, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-5">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Fabrica, "Fábrica", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="div_prod_venta" class="row">
                        <div class="col-md-3 form-medio">
                            <label class="control-label" for="id_prod_venta">Producto de Venta: </label>
                        </div>
                        <div class="col-md-5">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input class="form-control" type="text" id="Numero_Producto" value="" />
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalProductosVentas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 form-medio">
                            <p id="Descripcion_Producto_Venta" style="text-transform:capitalize"></p>
                        </div>
                    </div>
                    <!--  LINEA -->
                    <div id="div_linea" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Linea, "Línea:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input value="" class="form-control text-box single-line" data-val="true" data-val-number="El campo Línea debe ser un número." data-val-required="El campo Línea es obligatorio." id="Codigo_Linea" name="Linea" type="number">
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalLineas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  RUBRO -->
                    <div id="div_rubro" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Linea, "Rubro:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input value="" class="form-control text-box single-line" data-val="true" data-val-number="El campo Rubro debe ser un número." data-val-required="El campo Rubro es obligatorio." id="Codigo_Rubro" name="Rubro" type="number">
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalRubros()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="div_fdesde" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Desde, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Desde, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Desde)
                        </div>
                    </div>
                    <div id="div_lote" class="row">
                        <div class="col-md-3 form-medio">
                            <label class="control-label" for="Corte_Lote">Corte por Lote:</label>
                        </div>
                        <div class="col-md-5">
                            <input id="Corte_Lote" name="Corte_Lote" type="checkbox" value="False">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Hasta, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Stock_Productos(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button id="button_excel" class="btn btn-success" onclick="RPT_Stock_Productos(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>



<script>




    var resumido;
    $("#Resumido").click();
    function QueUsa(id_mostrar) {
        resumido = id_mostrar;
        if (resumido == "Resumido") {
            $("#div_lote").show();
            $('#button_excel').show()
            $("#div_fdesde").hide();
            $('#div_linea').hide()
            $('#div_rubro').hide()
        }
        if (resumido == "Detallado") {
            $("#div_lote").hide();
            $('#button_excel').hide()
            $("#div_fdesde").show();
            $('#div_linea').show()
            $('#div_rubro').show()
        }

        // Espera que cargue todo para setear el foco en el primer input del modal
        setTimeout(() => {
            $('#Codigo_Fabrica').focus();
        }, 100)

    }

    function RPT_Ingresos_Egresos() {
        agregarModal('Reportes')

        const Fabrica = $('#Codigo_Fabrica').val()
        const Producto = $('#id_prod_venta').val()
        const Linea = $('#Linea').val()
        const Rubro = $('#Rubro').val()
        const Fecha_Desde = $('#Fecha_Desde').val();
        const Fecha_Hasta = $('#Fecha_Hasta').val();

        let url = '/Listados/Ingresos_Egresos'
        url = url.concat(
            `?Fecha_Hasta=${Fecha_Hasta}`,
            `&Fecha_Desde=${Fecha_Desde}`,
            `&Fabrica=${Fabrica}`,
            `&Producto=${Producto}`,
            `&Linea=${Linea}`,
            `&Rubro=${Rubro}`
        )

        $.ajax({
            url: `/Home/Report/?url=${encodeURIComponent(url)}`,
            success: data => {
                $('#ModalReportes').html(data);
                $('#ModalReportes').modal();
                $('#ModalReportes').modal('show');
                calcularFondos();
                $('body').removeClass('modal-open');
            }
        })
    }


    function RPT_Stock_Productos(excel) {
        if (resumido == 'Detallado') {
            RPT_Ingresos_Egresos()
            return null
        }
        agregarModal('Reportes');
        var str_desde = $('#Fecha_Desde').val();
        var desde_array = str_desde.split("/");
        var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        var str_hasta = $('#Fecha_Hasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

        var url = "";
        let res = resumido == "Resumido" ? true : false;
        url = '/Listados/Stock_Productos_Venta?Fecha_Hasta=' + hasta_date
            + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val()
            + '&Excel=' + excel
            + '&Fecha_Desde=' + desde_date
            + '&Resumido=' + res
            + '&Numero_Producto_Venta=' + $("#id_prod_venta").val()
            + '&CortePorLote=' + $('#Corte_Lote').prop('checked');


        console.log(url);
        if (excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            console.log(urlfinal);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
    $('input[type=datetime]').datepicker();
    if ($('#Codigo_Fabrica').val() != 0)
        document.getElementById("Codigo_Fabrica").disabled = true;
    else
        $('#Codigo_Fabrica').val('');

   
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}