﻿@model MVC_Produccion.Listados.ListadosModels.ListadoMermaModel
@{
    ViewBag.Title = "Vista_Merma";
    Layout = null;
}

<div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Listado Merma</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("RPT_Merma_Produccion", "Listados", FormMethod.Post, new { @id = "FormListadoMerma" }))
                    {
                        <div class="col-md-12">                            
                            <div class="col-md-12 caja-contenedora">
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-6 form-medio">
                                        @Html.LabelFor(m => m.Codigo_Producto, new { @class = "control-label" }):
                                    </div>
                                    <div class="col-md-5 form-medio">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Codigo_Producto, "Producto", new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos('Codigo_Producto')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 caja-contenedora">
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-6 form-medio">
                                        @Html.LabelFor(model => model.FechaDesde, "Fecha Desde:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-5 form-medio">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.FechaDesde)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 caja-contenedora">
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-6 form-medio">
                                        @Html.LabelFor(model => model.FechaHasta, "Fecha Hasta:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-5 form-medio">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.FechaHasta)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 caja-contenedora">
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-8 form-medio">
                                        <label for="envasados">Resumido</label>
                                    </div>
                                    <div class="col-md-4 form-medio">
                                        <div class="input-group">
                                            <input id="Resumido" style="height: 18px!important; margin-top: 0!important; margin-bottom: 6px!important;" class="form-control" type="checkbox" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="Listado_Merma(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button type="button" class="btn btn-success" onclick="Listado_Merma(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>
    function Listado_Merma(Excel) {
        let CodigoProducto = $('#Codigo_Producto').val() == "" ? null : $('#Codigo_Producto').val();
        agregarModal('Reportes');
        let str_desde = $('#FechaDesde').val();
        let desde_array = str_desde.split("/");
        let desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        let str_hasta = $('#FechaHasta').val();
        let hasta_array = str_hasta.split("/");
        let hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];
        let url = '/Listados/RPT_Merma_Produccion/?FechaDesde=' + desde_date
            + '&FechaHasta=' + hasta_date
            + '&Resumido=' + $("#Resumido").prop("checked")
            + '&Excel=' + Excel;
        if (CodigoProducto)
            url += '&CodigoProducto=' + CodigoProducto;

        let urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);

        if (Excel)
            window.location.href = url;
        else {
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
    $('input[type=datetime]').val(new Date().toLocaleDateString('es-ES', {day: '2-digit', month: '2-digit', year: 'numeric'})).datepicker();
</script>

