﻿@model MVC_Produccion.Listados.ListadosModels.ResumenProdModel
@{
    Layout = null;
}
<script src="~/Scripts/CorrectorDecimales.js"></script>
<div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Producciones de Muzzarella Detalladas</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="BodyResumenProduccion">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Producciones_Muzzarella_Detalladas", "Listados", FormMethod.Post, new { @id = "FormResumenProduccion" }))
                    {
                    <div class="col-md-12">
                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(m => m.Codigo_Fabrica, new { @class = "control-label" }):
                                </div>
                                <div class="col-md-5 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Fabrica, "Fabrica", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!-- Codigo Producto -->
                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(m => m.Codigo_Producto, new { @class = "control-label" }):
                                </div>
                                <div class="col-md-5 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Producto, "Producto", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos('Codigo_Producto', 'Muzzarella')"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.FechaDesde, "Fecha Desde:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FechaDesde)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.FechaHasta, "Fecha Hasta:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FechaHasta)
                                </div>
                            </div>
                        </div>
                    </div>

                    }
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="Producciones_Muzzarella_Detalladas(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button type="button" class="btn btn-success" onclick="Producciones_Muzzarella_Detalladas(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>

    // Espera que cargue todo para setear el foco en el primer input del modal
    setTimeout(() => {
        $('#Codigo_Fabrica').focus();
    }, 100)

    function Producciones_Muzzarella_Detalladas(Excel) {
        agregarModal('Reportes');
        let str_desde = $('#FechaDesde').val();
        let desde_array = str_desde.split("/");
        let desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        let str_hasta = $('#FechaHasta').val();
        let hasta_array = str_hasta.split("/");
        let hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];
        //let envasados = $("#envasados:checked").length > 0;
        let url = '/Listados/Producciones_Muzzarella_Detalladas?Fecha_Desde=' + desde_date + '&Fecha_Hasta=' + hasta_date + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val() + '&Codigo_Producto=' + $('#Codigo_Producto').val() + '&Excel=' + Excel;
        console.log(url);
        let urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
        console.log(urlfinal);
        if (Excel)
            window.location.href = url;
        else {
            $.ajax({
                url: urlfinal,
                success: data => {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }

    $('input[type=datetime]').datepicker();

    if ($('#Codigo_Fabrica').val() != '0')
        document.getElementById("Codigo_Fabrica").disabled = true;
    else
        $('#Codigo_Fabrica').val('');
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



