﻿@model MVC_Produccion.Listados.ListadosModels.ProdDetalladoModel
@{
    Layout = null;
}
<div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Detallado Producción</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-4 form-medio">
                                    @Html.LabelFor(m => m.Codigo_Fabrica, new { @class = "control-label" })
                                </div>
                                <div class="col-md-4 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Fabrica, "Fabrica", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-4 form-medio">
                                    @Html.LabelFor(model => model.Codigo_Producto, "Producto:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-4 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Producto, "Producto", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos('Codigo_Producto')"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                                <div class="col-md-4 form-medio">
                                    <label id="Descripcion_Producto" style="font-weight:lighter;margin-left:10px;"></label>
                                </div>
                                @Html.ValidationMessageFor(m => m.Codigo_Producto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-4 form-medio">
                                    @Html.LabelFor(model => model.FechaDesde, "Fecha Desde:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control"} })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FechaDesde)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-4 form-medio">
                                    @Html.LabelFor(model => model.FechaHasta, "Fecha Hasta:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control"} })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FechaHasta)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" onclick="Producciones_Detallado()">Exportar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>
    function Producciones_Detallado() {
        agregarModal('Reportes');
        var str_desde = $('#FechaDesde').val();
        var desde_array = str_desde.split("/");
        var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        var str_hasta = $('#FechaHasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];
        var url = '/Listados/Producciones_Detallado?Fecha_Desde=' + desde_date + '&Fecha_Hasta=' + hasta_date + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val() + '&Codigo_Producto=' + $('#Codigo_Producto').val();
        console.log(url);
        var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
        console.log(urlfinal);
        $.ajax({
            url: urlfinal,
            success: function (data) {
                $('#ModalReportes').html(data);
                $('#ModalReportes').modal();
                $('#ModalReportes').modal('show');
                calcularFondos();
                $('body').removeClass('modal-open');
            }
        });
    }
    $('input[type=datetime]').datepicker();
    if ($('#Codigo_Fabrica').val() != '0')
        document.getElementById("Codigo_Fabrica").disabled = true;
    else
        $('#Codigo_Fabrica').val('');
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
