﻿@model MVC_Produccion.Listados.ListadosModels.Remitos_Por_Producto
@{
    Layout = null;
}
<div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Remitos por producto</h4>
        </div>
        <div class="modal-body">
                    <section id="loginForm">
                        @Html.AntiForgeryToken()
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 form-medio">
                                    @Html.LabelFor(m => m.Numero_Producto, new { @class = "control-label" }):
                                </div>
                                <div class="col-md-5">
                                    <div class="col-md-12 form-medio">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Numero_Producto, "Producto", new { htmlAttributes = new { @class = "form-control", @id = "tb-producto-stock-gral" } })
                                            <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos()"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div>
                                        @Html.ValidationMessageFor(m => m.Numero_Producto, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-medio">
                                    <p id="producto_stockgral" style="text-transform:capitalize"></p>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-md-3 form-medio">
                                    @Html.LabelFor(model => model.Lote, new { @class = "control-label" })
                                </div>
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.Lote, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Lote)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-medio">
                                    @Html.LabelFor(model => model.Fecha_Desde, new { @class = "control-label" })
                                </div>
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.Fecha_Desde, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Fecha_Desde)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-medio">
                                    @Html.LabelFor(model => model.Fecha_Hasta, new { @class = "control-label" })
                                </div>
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                                </div>
                            </div>
                        </div>
                    </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Remitos_Por_Producto(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <!--<button class="btn btn-success" onclick="RPT_Stock_Productos(true)">Excel</button>-->
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>

    // Espera que cargue todo para setear el foco en el primer input del modal
    setTimeout(() => {
        $('#tb-producto-stock-gral').focus();
    }, 200)


    function RPT_Remitos_Por_Producto(excel) {
        agregarModal('Reportes');
        var str_desde = $('#Fecha_Desde').val();
        var desde_array = str_desde.split("/");
        var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        var str_hasta = $('#Fecha_Hasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

        var Numero_Producto = $('#Numero_Producto').val() ? $('#Numero_Producto').val() : '';
        var Lote = $('#Lote').val() ? $('#Lote').val() : '';

        var url = '/Listados/Remitos_Por_Producto?Fecha_Desde=' + desde_date
            + '&Fecha_Hasta=' + hasta_date
            + '&Lote=' + Lote
            + '&Numero_Producto=' + Numero_Producto
            + '&Excel=' + excel;
        console.log(url);
        if (excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            console.log(urlfinal);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
    $('input[type=datetime]').datepicker();
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







