﻿@model MVC_Produccion.Listados.ListadosModels.HormasConsumidasModel
@{
    Layout = null;
}

<div class="modal-dialog" style="width:600px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Hormas Consumidas</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <section id="loginForm">
                @Html.AntiForgeryToken()
                <div class="col-md-12">
                    <div id="div_fabrica" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fabrica, "Fábrica:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Fabrica, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas('Fabrica')"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(model => model.Fabrica, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="div_prod_venta" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Numero_Producto, "Producto de Venta:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Numero_Producto, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalProductosVentas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 form-medio">
                            <p id="Descripcion_Producto_Venta" style="text-transform:capitalize"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Desde, "Fecha Desde:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Desde, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Today.ToString("dd/MM/yyyy"), style = "width:120px !important" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Desde)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Hasta, "Fecha Hasta:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Today.ToString("dd/MM/yyyy"), style = "width:120px !important" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                        </div>
                    </div>
                </div>
            </section>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="RPT_Hormas_Consumidas(false, event)"><i class="far fa-file-pdf"></i> PDF</button>
                @*<button class="btn btn-success" onclick="RPT_Hormas_Consumidas(true, event)"><i class="far fa-file-excel"></i> Excel</button>*@
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('input[type=datetime]').datepicker();
        $("input").focus(function () { $(this).select(); });

        $("#Numero_Producto").blur(function () {
            if ($(this).val() != '') {
                $.ajax({
                    url: '/ProductosVentas/GetOne',
                    data: { Codigo_de_Producto: $(this).val() },
                    success: function (data) {
                        if (data.success) {
                            $("#Descripcion_Producto_Venta").text(data.data.Descripcion);
                        } else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
        });

        setTimeout(() => {
            $("#Fabrica").focus();
        }, 100);
    });

    function RPT_Hormas_Consumidas(Excel, event) {
        event.preventDefault();

        if ($('#Numero_Producto').val() != '') {
            $.ajax({
                url: '/ProductosVentas/GetOne',
                data: { Codigo_de_Producto: $("#Numero_Producto").val() },
                success: function (data) {
                    if (!data.success) {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                        return false;
                    }
                }
            });
        }

        if ($('#Fecha_Desde').val() == '') $('#Fecha_Desde').datepicker().datepicker('setDate', new Date());
        if ($('#Fecha_Hasta').val() == '') $('#Fecha_Hasta').datepicker().datepicker('setDate', new Date());

        agregarModal('Reportes');
        var desde_array = $('#Fecha_Desde').val().split("/");
        var Desde = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];

        var hasta_array = $('#Fecha_Hasta').val().split("/");
        var Hasta = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

        const Fabrica = $('#Fabrica').val() == '' ? -1 : parseInt($('#Fabrica').val());

        var Numero_Producto = $('#Numero_Producto').val();

        let url = '/Listados/RPT_Hormas_Consumidas?'
            + 'Fecha_Desde=' + Desde
            + '&Fecha_Hasta=' + Hasta
            + '&Fabrica=' + Fabrica
            + '&Numero_Producto=' + Numero_Producto
        //+ '&Excel=' + Excel

        if (Excel) {
            window.location.href = url;
        } else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}