﻿@model MVC_Produccion.Listados.ListadosModels.StockProductosDetalladoModel
@{
    Layout = null;
}
<div class="modal-dialog" style="width:600px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Stock de Productos</h4>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a onclick="QueUsa('Resumido')" class="nav-link active" id="Resumido" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Resumido</a>
                </li>
                <li class="nav-item">
                    <a onclick="QueUsa('Detallado')" class="nav-link" id="Detallado" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">Detallado</a>
                </li>
                <li class="nav-item">
                    <a onclick="QueUsa('Frescura')" class="nav-link" id="Detallado" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">Frescura</a>
                </li>
                <li class="nav-item">
                    <a onclick="QueUsa('Envasados')" class="nav-link" id="Envasados" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">Envasados</a>
                </li>
            </ul>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <section id="loginForm">
                @Html.AntiForgeryToken()
                <div class="col-md-12">
                    <div id="div_fabrica" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(m => m.Codigo_Fabrica, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-5">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Fabrica, "Fábrica", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="div_prod_venta" class="row">
                        <div class="col-md-3 form-medio">
                            <label class="control-label" for="id_prod_venta">Producto de Venta: </label>
                        </div>
                        <div class="col-md-5">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input class="form-control" type="text" id="Numero_Producto" value="" />
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalProductosVentas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 form-medio">
                            <p id="Descripcion_Producto_Venta" style="text-transform:capitalize"></p>
                        </div>
                    </div>
                    <div id="div_prod" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(m => m.Codigo_Producto, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-12 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Codigo_Producto, "Producto", new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos('Codigo_Producto')"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </div>
                            <div>
                                @Html.ValidationMessageFor(m => m.Codigo_Producto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 form-medio">
                            <p id="Descripcion_Producto" style="text-transform:capitalize"></p>
                        </div>
                    </div>

                    <div id="div_fdesde" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Desde, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Desde, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Desde)
                        </div>
                    </div>
                    <div id="div_dias" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Cantidad_Dias_Frescura, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Cantidad_Dias_Frescura, new { htmlAttributes = new { @class = "form-control", @step = "5" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Hasta, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                        </div>
                    </div>
                    <div id="div_agrupacion" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.agrupacion, new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.agrupacion, ViewBag.Listado_agrupacion as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="div_estado" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.estado, "Estado:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.estado, ViewBag.Listado_Estados as IEnumerable<SelectListItem>, "Seleccione", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Stock_Productos(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button class="btn btn-success" onclick="RPT_Stock_Productos(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>

    var resumido;
    $("#Resumido").click();
    function QueUsa(id_mostrar) {
        resumido = id_mostrar;
        if (id_mostrar == "Frescura") {
            $("#div_prod").show();
            $("#div_estado").show();
            $("#div_dias").show();
            $("#div_fdesde").hide();
            $("#div_prod_venta").hide();
            $("#div_agrupacion").hide();
        }
        else if (resumido == "Resumido") {
            $("#div_prod_venta").hide();
            $("#div_prod").hide();
            $("#div_fdesde").hide();
            $("#div_estado").hide();
            $("#div_dias").hide();
            $("#div_agrupacion").show();

        }
        else if (resumido == "Detallado") {
            $("#div_prod").show();
            $("#div_fdesde").show();
            $("#div_prod_venta").hide();
            $("#div_estado").hide();
            $("#div_dias").hide();
            $("#div_agrupacion").show();
        }
        else {
            $("#div_prod_venta").show();
            $("#div_prod").hide();
            $("#div_fdesde").hide();
            $("#div_estado").hide();
            $("#div_dias").hide();
            $("#div_agrupacion").hide();

        }

        if (resumido !== 'Resumido')
            // Espera que cargue todo para setear el foco en el primer input del modal
            setTimeout(() => {
                $('#loginForm').find('input:visible')[1].focus();
            }, 100)
    }


    function RPT_Stock_Productos(excel) {
        agregarModal('Reportes');
        var str_desde = $('#Fecha_Desde').val();
        var desde_array = str_desde.split("/");
        var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        var str_hasta = $('#Fecha_Hasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

        var Codigo_Producto = $('#Codigo_Producto').val();
        var url = "";
        let res = resumido == "Envasados" ? true : false;
        let agru = agrupacion == "Producto" ? true : false;
        //let agru = $('#agrupacion option:contains("Producto")').prop('selected', 'selected');

        if (resumido == "Frescura")
            url = '/Listados/Stock_Frescura?'
                + 'Fecha_Hasta=' + hasta_date
                + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val()
                + '&Codigo_Producto=' + Codigo_Producto
                + '&Excel=' + excel
                + '&Cant_Dias_Frescura=' + $('#Cantidad_Dias_Frescura').val()
                + '&estado=' + $('#estado').val();
        else if (resumido == "Resumido") 
            url = '/Listados/Stock_Resumido?fecha_hasta='
                + hasta_date
                + '&codigo_fabrica='
                + $('#Codigo_Fabrica').val()
                + '&agrupacion=' + $("#agrupacion").val()
                + '&excel=' + excel;
        else if (resumido == "Detallado")
            url = '/Listados/Stock_Detallado?fecha_hasta=' + hasta_date
                + '&codigo_fabrica='
                + $('#Codigo_Fabrica').val()
                + '&excel=' + excel
                + '&Codigo_Producto=' + Codigo_Producto
                + '&Fecha_Desde=' + desde_date
                + '&agrupacion=' + $("#agrupacion").val()
        else
            url = '/Listados/Stock_Productos_Venta?fecha_hasta=' + hasta_date
                + '&codigo_fabrica='
                + $('#Codigo_Fabrica').val()
                + '&excel=' + excel
                + '&Numero_Producto_Venta=' + $("#id_prod_venta").val()
                + '&Resumido=' + res
                + '&CortePorLote=' + agru

        console.log(url);
        if (excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            console.log(urlfinal);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
    $('input[type=datetime]').datepicker();
    if ($('#Codigo_Fabrica').val() != 0)
        document.getElementById("Codigo_Fabrica").disabled = true;
    else
        $('#Codigo_Fabrica').val('');


</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







