﻿@using MVC_Produccion.Listados
@model MVC_Produccion.Listados.ListadosModels.ListadoRemitoTraspasoFabricasModel
@{ Layout = null; }

<div class="modal-dialog" style="width: 400px;">
    <div class="modal-content">

        <!-- HEADER -->
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title">Listado de Remitos de Traspaso entre Fábricas</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!-- BODY -->
        <div class="modal-body">
            <div class="col-md-12 flexible2">
                <div class="col-md-12 caja-contenedora flexible2">
                    <div class="col-md-12 caja-contenedora">

                        <!-- Fabrica Origen -->
                        <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                @*<label class="control-label" for="Codigo_Proveedor">Fábrica:</label>*@
                                @Html.LabelFor(model => model.FabricaOrigen, "Fábrica Origen:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    <input class="form-control text-box single-line" data-val="true" data-val-number="El campo FabricaOrigen debe ser un número." data-val-required="El campo FabricaOrigen es obligatorio." id="Fabrica_Origen" name="FabricaOrigen" oninput="SoloNumeros($(this))" required="required" type="text" value="">
                                    @*@Html.EditorFor(model => model.FabricaOrigen, new { htmlAttributes = new { @required = "required", @class = "form-control", @type = "text", oninput = "SoloNumeros($(this))" } })*@
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas('Fabrica_Origen')"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Fabrica Destino -->
                        <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                @*<label class="control-label" for="Codigo_Proveedor">Fábrica:</label>*@
                                @Html.LabelFor(model => model.FabricaDestino, "Fábrica Destino:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    <input class="form-control text-box single-line" data-val="true" data-val-number="El campo FabricaDestino debe ser un número." data-val-required="El campo FabricaDestino es obligatorio." id="Fabrica_Destino" name="FabricaDestino" oninput="SoloNumeros($(this))" type="text" value="">
                                    @*@Html.EditorFor(model => model.FabricaDestino, new { htmlAttributes = new { @class = "form-control", @type = "text", oninput = "SoloNumeros($(this))" } })*@
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas('Fabrica_Destino')"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Fecha desde -->
                        <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.FechaDesde, "Fecha Desde :", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control", @maxlength = "10" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.FechaDesde)
                            </div>
                        </div>

                        <!-- Fecha hasta -->
                        <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.FechaHasta, "Fecha Hasta :", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control", @maxlength = "10" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.FechaHasta)
                            </div>
                        </div>

                        <!-- Pendiente -->
                        <div class="col-md-12 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Estado, "Estado :", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.DropDownListFor(model => model.Estado, ListadosModels.ListadoRemitoTraspasoFabricasModel.TiposEstado(), new { @class = "form-control" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- HEADER -->
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Listado_Remitos_Traspaso_Fabricas(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>

    </div>
</div>
<script>

    $("#FechaDesde").datepicker();
    $("#FechaHasta").datepicker();

    function RPT_Listado_Remitos_Traspaso_Fabricas(excel) {
        agregarModal('Reportes');

        // Get data from the form
        const fabricaOrigen = $("#Fabrica_Origen").val();
        const fabricaDestino = $("#Fabrica").val();
        const fechaDesde = $("#FechaDesde").val();
        const fechaHasta = $("#FechaHasta").val();
        const estado = $("#Estado").val();


        // Build the URL
        let url = '/Listados/Listado_Remitos_Traspaso_Fabricas';
        url = url.concat(
            `?FabricaOrigen=${fabricaOrigen}`,
            `&FabricaDestino=${fabricaDestino}`,
            `&FechaDesde=${fechaDesde}`,
            `&FechaHasta=${fechaHasta}`,
            `&Estado=${estado}`,
            `&Excel=${excel}`);

        // Get the report
        $.ajax({
            url: `/Home/Report/?url=${encodeURIComponent(url)}`,
            success: data => {
                if (fabricaOrigen && fabricaDestino && fechaDesde && fechaHasta) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
                else {
                    if (!fabricaOrigen) {
                        notif({
                            msg: "Complete Fábrica Origen",
                            type: "error",
                            position: "center"
                        });
                        $("#Fabrica_Origen").focus();
                    }
                    else if (!fabricaDestino) {
                        notif({
                            msg: "Complete Fábrica Destino",
                            type: "error",
                            position: "center"
                        });
                        $("#Fabrica").focus();
                    }
                    else if (!fechaDesde) {
                        notif({
                            msg: "Complete Fecha Desde",
                            type: "error",
                            position: "center"
                        });
                        $("#FechaDesde").focus();
                    }
                    else if (!fechaHasta) {
                        notif({
                            msg: "Complete Fecha Hasta",
                            type: "error",
                            position: "center"
                        });
                        $("#FechaHasta").focus();
                    }
                }
            }
        })        
    }
    
    setTimeout(() => {
        $('#Fabrica_Origen').focus();
    }, 500)

</script>