﻿@model MVC_Produccion.Listados.ListadosModels.StockProductosDetalladoModel
@{
    Layout = null;
}
<div class="modal-dialog" style="width:550px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Producciones Detalladas</h4>
        </div>
        <div class="modal-body">
            <section id="loginForm">
                @Html.AntiForgeryToken()
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(m => m.Codigo_Producto, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-12 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Codigo_Producto, "Producto", new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos('Codigo_Producto')"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </div>
                            <div>
                                @Html.ValidationMessageFor(m => m.Codigo_Producto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 form-medio">
                            <p id="Descripcion_Producto" style="text-transform:capitalize"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Desde, new { @class = "control-label" })
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Fecha_Desde, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Desde)
                        </div>
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Hasta, new { @class = "control-label" })
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                        </div>
                    </div>
                    @*<div class="row">
            <div class="col-md-3 form-medio">
                @Html.LabelFor(model => model.Fecha_Hasta, new { @class = "control-label" })
            </div>
            <div class="col-md-5">
                @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fecha_Hasta)
            </div>
        </div>*@
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(m => m.Codigo_Fabrica, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-4">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Fabrica, "Fabrica", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-medio">
                               <label class="control-label">Responsable:</label>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-7">
                                    <select  id="Responsable" class="form-control valid" data-val="true" style="text-transform: capitalize">
                                        <option value="">Seleccione</option>

                                    </select>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-medio">
                            @Html.LabelFor(m => m.tipo_lote, new { @class = "control-label" }):
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.RadioButtonFor(m => m.tipo_lote, "0", new { @id = "cb-todos" })
                                    <label for="cb-todos" style="margin-right:10px;">Todos</label>
                                    @Html.RadioButtonFor(m => m.tipo_lote, "1", new { @id = "cb-solo-padres" })
                                    <label for="cb-solo-padres" style="margin-right:10px;">Solo lotes Padres</label>
                                    @Html.RadioButtonFor(m => m.tipo_lote, "2", new { @id = "cb-solo-hijos" })
                                    <label for="cb-solo-hijos" style="margin-right:10px;">Solo lotes Hijos</label>
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-medio">
                            <label class="control-label">Estado de la Producción:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <input value="0" name="tipo_envasados" type="radio" id="r_todos" />
                                    <label for="r_todos" style="margin-right:10px;">Todas</label>
                                    <input value="1" name="tipo_envasados" type="radio" id="r_envasados" />
                                    <label for="r_envasados" style="margin-right:10px;">Ya Envasadas</label>
                                    <input value="2" name="tipo_envasados" type="radio" id="r_no_envasados" />
                                    <label for="r_no_envasados" style="margin-right:10px;">No Envasadas</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Filtros especiales y opcionales*@
                    <hr style="margin:0px" />
                    <p style="font-size: 16px; color: green; text-align: center; margin: 0px">Filtros especiales y opcionales (mayor o igual)</p>
                    <hr style="margin-top:0px" />

                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(ha => ha.Horas_Acificacion, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(ha => ha.Horas_Acificacion, new { htmlAttributes = new { @class = "form-control", type = "time", style = "width:100px;" } })
                            @Html.ValidationMessageFor(ha => ha.Horas_Acificacion)
                        </div>
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(pf => pf.PH_Final, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(pf => pf.PH_Final, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right; width:100px;", type = "text", oninput = "SoloNumeros($(this))" } })
                            @Html.ValidationMessageFor(pf => pf.PH_Final)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(af => af.Acidez_Final, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(af => af.Acidez_Final, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right; width:100px;", type = "text", oninput = "SoloNumeros($(this))" } })
                            @Html.ValidationMessageFor(af => af.Acidez_Final)
                        </div>
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(mg => mg.Materia_Grasa, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(mg => mg.Materia_Grasa, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right; width:100px;", type = "text", oninput = "SoloNumeros($(this))" } })
                            @Html.ValidationMessageFor(mg => mg.Materia_Grasa)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(p => p.Proteina, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(p => p.Proteina, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right; width:100px;", type = "text", oninput = "SoloNumeros($(this))" } })
                            @Html.ValidationMessageFor(p => p.Proteina)
                        </div>
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(h => h.Humedad, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(h => h.Humedad, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right; width:100px;", type = "text", oninput = "SoloNumeros($(this))" } })
                            @Html.ValidationMessageFor(h => h.Humedad)
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Producciones_Detalladas(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button class="btn btn-success" onclick="RPT_Producciones_Detalladas(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>

    // Espera que cargue todo para setear el foco en el primer input del modal
    setTimeout(() => {
        $('#Codigo_Producto').focus();
    }, 100)

    $.ajax({
        type: "GET",
        url: "/Queseros/GetData/",
        dataType: "json",
        data: { estado: true },
        success: function (data) {
            let dropdown = $("#Responsable");
            data.data.forEach(function (entry) {
                dropdown.append($('<option></option>').val(entry.Codigo_Quesero).text(entry.Nombre));
            });
        }
    });

    function RPT_Producciones_Detalladas(excel) {
        agregarModal('Reportes');
        var str_desde = $('#Fecha_Desde').val();
        var desde_array = str_desde.split("/");
        var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        var str_hasta = $('#Fecha_Hasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

        let responsable = $("#Responsable").val();

        var Codigo_Producto = $('#Codigo_Producto').val();

        var tipo_lote = $('input[type=radio][name=tipo_lote]:checked').val();
        var tipo_estado = $('input[type=radio][name=tipo_envasados]:checked').val();

        //6 filtros especiales y opcionales
        var hora_acidificacion = $('#Horas_Acificacion').val();
        var ph_final = $('#PH_Final').val();
        var acidez_final = $('#Acidez_Final').val();
        var materia_grasa = $('#Materia_Grasa').val();
        var proteina = $('#Proteina').val();
        var humedad = $('#Humedad').val();

        var url = '/Listados/Producciones_Detalladas?Fecha_Desde=' + desde_date
            + '&Fecha_Hasta=' + hasta_date
            + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val()
            + '&Codigo_Producto=' + Codigo_Producto
            + '&Tipo_Lote=' + tipo_lote
            + '&Tipo_Estado=' + tipo_estado
            + '&Excel=' + excel
            + '&Horas_Acificacion=' + hora_acidificacion
            + '&PH_Final=' + ph_final
            + '&Acidez_Final=' + acidez_final
            + '&Materia_Grasa=' + materia_grasa
            + '&Proteina=' + proteina
            + '&Humedad=' + humedad
            + '&Responsable=' + responsable

        if (excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    document.getElementById("ModalReportes").style.zIndex = maximoZindex($("body"));
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
    $("#r_todos").attr('checked', true);
    $('input[type=datetime]').datepicker();
    if ($('#Codigo_Fabrica').val() != 0)
        document.getElementById("Codigo_Fabrica").disabled = true;
    else
        $('#Codigo_Fabrica').val('');
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







