﻿
@model MVC_Produccion.Listados.ListadosModels.StockInsumosModel
@{
    Layout = null;
}
<script src="~/Scripts/CorrectorDecimales.js"></script>
<div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Variación Precios</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Codigo_Insumo, "Insumo:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Codigo_Insumo, "Insumo", new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalInsumos()"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                                @Html.ValidationMessageFor(m => m.Codigo_Insumo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Codigo_Proveedor, "Proveedor", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Codigo_Proveedor, "Proveedor", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalProveedores()"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.FechaDesde, "Fecha Desde:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.FechaDesde)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.FechaHasta, "Fecha Hasta:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.FechaHasta)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Variacion_Precios(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button class="btn btn-success" onclick="RPT_Variacion_Precios(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<!--TODO EXPORTAR-->
<script>

    // Espera que cargue todo para setear el foco en el primer input del modal
    setTimeout(() => {
        $('#Codigo_Insumo').focus();
    }, 100)

    function RPT_Variacion_Precios(excel) {
        agregarModal('Reportes');
        var str_desde = $('#FechaDesde').val();
        var desde_array = str_desde.split("/");
        var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        var str_hasta = $('#FechaHasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];
        var url = '/Listados/Variacion_Precios'
            + '?Codigo_Insumo=' + $('#Codigo_Insumo').val()
            + '&Fecha_Desde=' + desde_date
            + '&Fecha_Hasta=' + hasta_date
            + '&Codigo_Proveedor=' + $('#Codigo_Proveedor').val()
            + '&Excel=' + excel;

        console.log(url);

        if (excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            console.log(urlfinal);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
    $('input[type=datetime]').datepicker();

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}