﻿@using AccesoDatos.Contexto.Produccion;
@{  
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Análisis Microbiológicos</h4>
</div>
<div class="modal-body">
    <section id="loginForm">
        @Html.AntiForgeryToken()
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 form-medio">
                    @Html.Label("Codigo_Producto", "Código Producto:", new { htmlAttributes = new { @class = "control-label" } })
                </div>
                <div class="col-md-5">
                    <div class="col-md-12 form-medio">
                        <div class="input-group">
                            @Html.Editor("Codigo_Producto", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos('Codigo_Producto')"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 form-medio">
                    <p id="Descripcion_Producto" style="text-transform:capitalize"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-medio">
                    @Html.Label("Codigo_Fabrica", "Fábrica:", new { htmlAttributes = new { @class = "control-label" } })
                </div>
                <div class="col-md-4">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.Editor("Codigo_Fabrica", new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-medio">
                    @Html.Label("Fecha_Desde", "Fecha Desde:", new { htmlAttributes = new { @class = "control-label" } })
                </div>
                <div class="col-md-3">
                    @Html.Editor("Fecha_Desde", new { htmlAttributes = new { @class = "form-control", @type = "datetime" } })
                </div>
                <div class="col-md-3 form-medio">
                    @Html.Label("Fecha_Hasta", "Fecha Hasta:", new { htmlAttributes = new { @class = "control-label" } })
                </div>
                <div class="col-md-3">
                    @Html.Editor("Fecha_Hasta", new { htmlAttributes = new { @class = "form-control", @type = "datetime" } })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-medio">
                    @Html.Label("Listado_Analisis", "Análisis:", new { htmlAttributes = new { @class = "control-label" } })
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-7 form-medio">
                            <div class="listado-analisis">
                                @{
                                    foreach (Analisis_Microbiologico analisis in Model as List<Analisis_Microbiologico>)
                                    {
                                        <div class="checkbox-item text-capitalize">
                                            @Html.Label("Analisis_Codigo_" + analisis.Codigo_Interno_Analisis, analisis.Descripcion, new { htmlAttributes = new { @class = "control-label text-capitalize" } })
                                            @Html.CheckBox("Analisis_Codigo_" + analisis.Codigo_Interno_Analisis, true, new { htmlAttributes = new { @class = "form-control" }, Codigo_Interno_Analisis = analisis.Codigo_Interno_Analisis })
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-medio">
                    @Html.Label("Formato_Listado", "Formato de Listado:", new { htmlAttributes = new { @class = "control-label" } })
                </div>
                <div class="col-md-4 form-medio">
                    <ul>
                        <li class="control-label" style="list-style:none; display: flex; flex-direction: row"> @Html.RadioButton("Formato_Listado", "Resumido", true, new { id = "Listado_Resumido" }) @Html.Label("Listado_Resumido", "Resumido", new { style = "margin: 0px 0px 0px 5px" }) </li>
                    </ul>
                </div>
                <div class="col-md-4 form-medio">
                    <ul>
                        <li class="control-label" style="list-style:none; display: flex; flex-direction: row"> @Html.RadioButton("Formato_Listado", "Detallado", new { id = "Listado_Detallado" }) @Html.Label("Listado_Detallado", "Detallado", new { style = "margin: 0px 0px 0px 5px" }) </li>
                    </ul>
                </div>
            </div>
            @*Filtros especiales y opcionales*@
            @*<hr style="margin:0px" />
            <p style="font-size: 16px; color: green; text-align: center; margin: 0px">Filtros especiales y opcionales (mayor o igual)</p>
            <hr style="margin-top:0px" />*@

                @*<div class="row">
                <div class="col-md-3 form-medio">
                    @Html.LabelFor(ha => ha.Horas_Acificacion, new { @class = "control-label" }):
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(ha => ha.Horas_Acificacion, new { htmlAttributes = new { @class = "form-control", type = "time", style = "width:100px;" } })
                    @Html.ValidationMessageFor(ha => ha.Horas_Acificacion)
                </div>
                <div class="col-md-3 form-medio">
                    @Html.LabelFor(pf => pf.PH_Final, new { @class = "control-label" }):
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(pf => pf.PH_Final, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right; width:100px;", type = "text", oninput = "SoloNumeros($(this))" } })
                    @Html.ValidationMessageFor(pf => pf.PH_Final)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 form-medio">
                    @Html.LabelFor(af => af.Acidez_Final, new { @class = "control-label" }):
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(af => af.Acidez_Final, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right; width:100px;", type = "text", oninput = "SoloNumeros($(this))" } })
                    @Html.ValidationMessageFor(af => af.Acidez_Final)
                </div>
                <div class="col-md-3 form-medio">
                    @Html.LabelFor(mg => mg.Materia_Grasa, new { @class = "control-label" }):
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(mg => mg.Materia_Grasa, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right; width:100px;", type = "text", oninput = "SoloNumeros($(this))" } })
                    @Html.ValidationMessageFor(mg => mg.Materia_Grasa)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 form-medio">
                    @Html.LabelFor(p => p.Proteina, new { @class = "control-label" }):
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(p => p.Proteina, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right; width:100px;", type = "text", oninput = "SoloNumeros($(this))" } })
                    @Html.ValidationMessageFor(p => p.Proteina)
                </div>
                <div class="col-md-3 form-medio">
                    @Html.LabelFor(h => h.Humedad, new { @class = "control-label" }):
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(h => h.Humedad, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right; width:100px;", type = "text", oninput = "SoloNumeros($(this))" } })
                    @Html.ValidationMessageFor(h => h.Humedad)
                </div>
            </div>*@
        </div>
    </section>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" onclick="RPT_Analisis_Microbiologicos(false)"><i class="far fa-file-pdf"></i> PDF</button>
    @*<button class="btn btn-success" onclick="RPT_Analisis_Microbiologicos(true)"><i class="far fa-file-excel"></i> Excel</button>*@
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
</div>

<script>
    $(document).ready(function () {
        $("#Fecha_Desde, #Fecha_Hasta").datepicker();
        $("#Fecha_Desde, #Fecha_Hasta").datepicker('setDate', new Date());
        $('input').focus(function () { $(this).select() });
    });
    
    function RPT_Analisis_Microbiologicos(Excel) {
        let Codigo_Producto = $("#Codigo_Producto").val();

        let Codigo_Fabrica = $("#Codigo_Fabrica").val();
        if (Codigo_Fabrica == "") {
            Codigo_Fabrica = -1
        }

        let Codigos_Analisis = [];
        $(".listado-analisis").find('input[type="checkbox"]').each(function (index, input) {
            if ($(input).prop("checked"))
                Codigos_Analisis.push($(input).attr('codigo-interno-analisis'))
        })

        agregarModal('Reportes');

        var url = '/Listados/RPT_Analisis_Microbiologicos?'
            + 'Fecha_Desde= ' + $('#Fecha_Desde').val()
            + '&Fecha_Hasta=' + $('#Fecha_Hasta').val()
            + '&Codigo_Producto=' + Codigo_Producto
            + '&Codigo_Fabrica=' + Codigo_Fabrica
            + '&Codigos_Analisis=' + Codigos_Analisis
            + '&Resumido=' + $("#Listado_Resumido").prop("checked")

        if (Excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    document.getElementById("ModalReportes").style.zIndex = maximoZindex($("body"));
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
</script>