﻿@model MVC_Produccion.Listados.ListadosModels.StockProductosDetalladoModel
@{
    Layout = null;
}
<div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Stock de Productos Detallado</h4>
        </div>
        <div class="modal-body">
            <section id="loginForm">
                @Html.AntiForgeryToken()
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(m => m.Codigo_Producto, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-12 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Codigo_Producto, "Producto", new { htmlAttributes = new { @class = "form-control"} })
                                    <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos('Codigo_Producto')"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </div>
                            <div>
                                @Html.ValidationMessageFor(m => m.Codigo_Producto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 form-medio">
                            <p id="Descripcion_Producto" style="text-transform:capitalize"></p>
                        </div>
                    </div>                            
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Desde, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Desde, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Desde)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Hasta, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(m => m.Codigo_Fabrica, new { @class = "control-label" }):
                        </div>
                        <div class="col-md-6">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Fabrica, "Fabrica", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-medio">
                                    @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" onclick="RPT_Stock_Productos(false)">Exportar</button>
            <button class="btn btn-success" onclick="RPT_Stock_Productos(true)">Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>
    function RPT_Stock_Productos(excel) {
        agregarModal('Reportes');
        var str_desde = $('#Fecha_Desde').val();
        var desde_array = str_desde.split("/");
        var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        var str_hasta = $('#Fecha_Hasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

        var Codigo_Producto = $('#Codigo_Producto').val();
        var url = '/Listados/Stock_Productos_Detallado?Fecha_Desde=' + desde_date
            + '&Fecha_Hasta=' + hasta_date
            + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val()
            + '&Codigo_Producto=' + Codigo_Producto
            + '&Excel=' + excel;
        console.log(url);
        if (excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            console.log(urlfinal);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
    $('input[type=datetime]').datepicker();
    if ($('#Codigo_Fabrica').val() != 0)
        document.getElementById("Codigo_Fabrica").disabled = true;
    else
        $('#Codigo_Fabrica').val('');
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







