﻿@model MVC_Produccion.Listados.ListadosModels.StockInsumosModel
@{
    Layout = null;
}
<script src="~/Scripts/CorrectorDecimales.js"></script>
<div class="modal-dialog" style="width:500px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="    ">Stock Insumos</h4>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a onclick="QueUsa('Resumido')" class="nav-link active" id="Resumido" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Resumido</a>
                </li>
                <li class="nav-item">
                    <a onclick="QueUsa('Detallado')" class="nav-link" id="Detallado" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Detallado</a>
                </li>
                <li class="nav-item">
                    <a onclick="QueUsa('Producto')" class="nav-link" id="Por_Producto" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Por Producto</a>
                </li>
            </ul>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row col-md-12">
                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.Codigo_Insumo, "Insumo:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Insumo, "Insumo", new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalInsumos()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                            @Html.ValidationMessageFor(m => m.Codigo_Insumo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-contenedora form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.LabelFor(m => m.Codigo_Fabrica, "Fábrica", new { @class = "control-label" }):
                    </div>
                    <div class="col-md-5 form-medio">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Codigo_Fabrica, "Fábrica", new { htmlAttributes = new { @class = "form-control", @Type = "Text" } })
                            <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="div_prov" hidden>
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="Codigo_Proveedor">Proveedor:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Codigo_Proveedor" type="number" value="">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalProveedores()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="div_linea">
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="Codigo_Linea">Línea:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Codigo_Linea" type="number" value="">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalLineas()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="div_rubro">
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="Codigo_Rubro">Rubro:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Codigo_Rubro" type="number" value="">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalRubros()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="div_Prod" hidden>
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="check_resumido">Resumido:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="check_resumido" type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div id="div_prod_solo_totales" hidden>
                        <div class="col-md-12 caja-contenedora form-medio">
                            <div class="col-md-6 form-medio">
                                <label class="control-label" for="check_solo_totales">Solo totales:</label>
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    <input class="form-control text-box single-line" id="check_solo_totales" type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="Codigo_Producto">Producto:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Codigo_Producto" type="number" value="">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalProductos('Codigo_Producto')"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="div_FDesde" hidden>
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.FechaDesde, "Fecha Desde:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.FechaDesde)
                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-contenedora form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.LabelFor(model => model.FechaHasta, "Fecha Hasta:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-5 form-medio">
                        <div class="input-group">
                            @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.FechaHasta)
                    </div>
                </div>
                <div id="div_lote" hidden>
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="Lote">Lote:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Lote" type="text" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divOrdenar">
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.OpcionesOrdenamiento, "Ordenar:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">

                                <select id="SortType" name="SortType" class="form-control">
                                    <option value="0">Seleccione un Orden</option>
                                    <option value="1">Por Código de Artículo</option>
                                    <option value="2">Por Nombre</option>
                                    <option value="3">Por Moneda</option>

                                </select>
                            </div>

                        </div>
                    </div>

                </div>

                <div id="div_corte_lote" hidden>
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="Corte_Lote">Corte por Lote:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <input id="Corte_Lote" name="Corte_Lote" type="checkbox" value="False">
                        </div>
                    </div>
                </div>
                <div id="div_negativos" hidden>
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="Incluir_Negativos">Incluir Negativos:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <input id="Incluir_Negativos" name="Incluir_Negativos" type="checkbox" value="False">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Stock_Insumos(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button class="btn btn-success" onclick="RPT_Stock_Insumos(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>

<script>
    if ($('#Codigo_Fabrica').val() == 0)
        $('#Codigo_Fabrica').val("");

    $("#Resumido").click();
    $("#FechaHasta").datepicker();
    $("#FechaDesde").datepicker();

    var resumido;
    var listado;
    var dataTableRubros = [];

    var listadoRubros = [];

    function QueUsa(id_mostrar) {
        listado = id_mostrar;
        if (id_mostrar == "Detallado" || id_mostrar == "Producto") {
            $("#div_negativos").hide();
            $("#div_prov").hide();
            $("#div_corte_lote").hide();
            $("#div_FDesde").show();
            if (id_mostrar == "Producto")
                $("#div_Prod").show();
            else
                $("#div_Prod").hide();
            if (id_mostrar == "Detallado")
                $("#div_lote").show();
            else
                $("#div_lote").hide();

            resumido = false;
        }
        else {
            resumido = true;
            $("#div_negativos").show();
            $("#div_corte_lote").show();
            $("#div_lote").hide();
            $("#div_prov").show();
            $("#div_FDesde").hide();
            $("#div_Prod").hide();
        }

        // Espera que cargue todo para setear el foco en el primer input del modal
        setTimeout(() => {
            $('#Codigo_Insumo').focus();
        }, 100)
    }
    function RPT_Stock_Insumos(Excel) {
        agregarModal('Reportes');

        let str_hasta = $('#FechaHasta').val();
        let hasta_array = str_hasta.split("/");
        let hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];
        let url = "";

        if (listado == "Resumido") {
            url = '/Listados/Stock_Insumos_Resumido?Fecha_Hasta=' + hasta_date
                + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val()
                + '&Proveedor=' + $('#Codigo_Proveedor').val()
                + '&Linea=' + $('#Codigo_Linea').val()
                + '&Rubro=' + $('#Codigo_Rubro').val()
                + '&cod_insumo=' + $('#Codigo_Insumo').val()
                + '&Orden=' + $('#SortType').val()
                + '&Excel=' + Excel
                + '&Incluir_Negativos=' + $('#Incluir_Negativos').prop('checked')
                + '&Corte_Lote=' + $('#Corte_Lote').prop('checked');
        }

        if (listado == "Detallado") {
            let str_desde = $('#FechaDesde').val();
            let desde_array = str_desde.split("/");
            let desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
            let lote = $('#Lote').val();

            url = '/Listados/Stock_Insumos_Total?Fecha_Desde=' + desde_date
                + '&Fecha_Hasta=' + hasta_date
                + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val()
                + '&Codigo_Insumo=' + $('#Codigo_Insumo').val()
                + '&Linea=' + $('#Codigo_Linea').val()
                + '&Rubro=' + $('#Codigo_Rubro').val()
                + '&Excel=' + Excel
                + '&Lote=' + lote;
        }

        if (listado == "Producto") {
            let str_desde = $('#FechaDesde').val();
            let desde_array = str_desde.split("/");
            let desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];

            url = '/Listados/Stock_Insumos_Por_Producto?Fecha_Desde=' + desde_date
                + '&Fecha_Hasta=' + hasta_date
                + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val()
                + '&Codigo_Insumo=' + $('#Codigo_Insumo').val()
                + '&Codigo_Producto=' + $('#Codigo_Producto').val()
                + '&Linea=' + $('#Codigo_Linea').val()
                + '&Rubro=' + $('#Codigo_Rubro').val()
                + '&Excel=' + Excel
                + '&Resumido=' + $('#check_resumido').prop('checked')
                + '&Solo_Totales=' + $('#check_solo_totales').prop('checked');
        }

        if (Excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }

    $('#check_resumido').on('change', function () {
        if (this.checked) {
            $('#div_prod_solo_totales').show();
        }
        else {
            $('#div_prod_solo_totales').hide();
        }
        $('#check_solo_totales').prop('checked', false);
    });
    

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}