﻿@model MVC_Produccion.Listados.ListadosModels.StockInsumosModel
@{
    Layout = null;
}
<script src="~/Scripts/CorrectorDecimales.js"></script>
<div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Artículos</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="Codigo_Proveedor">Proveedor:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Codigo_Proveedor" type="number" value="">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalProveedores()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="Codigo_Linea">Línea:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Codigo_Linea" type="number" value="">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalLineas()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="Codigo_Rubro">Rubro:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Codigo_Rubro" type="number" value="">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalRubros()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divOrdenar" class="col-md-12"  >
                <div class="col-md-12 caja-contenedora form-medio">
                    <div class="col-md-6 form-medio">
                        @Html.LabelFor(model => model.OpcionesOrdenamiento, "Ordenar:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-6 form-medio">
                        <div class="input-group">

                            <select id="SortType" name="SortType" class="form-control" style="width:170px">
                                <option value="0">Seleccione un Orden </option>
                                <option value="1">Por Código de Artículo</option>
                                <option value="2">Por Nombre</option>
                            </select>
                        </div>

                    </div>
                </div>

            </div>
           
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Insumos(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button class="btn btn-success" onclick="RPT_Insumos(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<div id="ModalsFiltros">

</div>

<script>

    // Espera que cargue todo para setear el foco en el primer input del modal
    setTimeout(() => {
        $('#Codigo_Proveedor').focus();
    }, 100)

    //UTILIDADES
    function RPT_Insumos(Excel) {
        agregarModal('Reportes');
        var url = '/Listados/RPT_Insumos?Rubro=' + $('#Codigo_Rubro').val() + '&Linea=' + $('#Codigo_Linea').val() + '&Prov=' + $('#Codigo_Proveedor').val() + '&Orden=' + $('#SortType').val()+ '&Excel=' + Excel;
        console.log(url);
        var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
        console.log(urlfinal);

        if (Excel)
            window.location.href = url;
        else {
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
