﻿@model MVC_Produccion.Listados.ListadosModels.StockProductosDetalladoModel
@{
    Layout = null;
}
<div class="modal-dialog" style="width:600px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Expedidos</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <section id="loginForm">
                @Html.AntiForgeryToken()
                <div class="col-md-12">
                    <div id="div_fabrica" class="row">
                        <div class="col-md-3 form-medio">
                            <label class="control-label" for="Codigo_Fabrica">Destino: </label>
                        </div>
                        <div class="col-md-5">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Fabrica, "Fábrica", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalSucursales('Codigo_Fabrica')"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 form-medio">
                            <p id="Desc_Suc"></p>
                        </div>
                    </div>
                    <div id="div_prod_venta" class="row">
                        <div class="col-md-3 form-medio">
                            <label class="control-label" for="Numero_Producto">Producto de Venta: </label>
                        </div>
                        <div class="col-md-5">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input class="form-control" type="text" id="Numero_Producto" value="" />
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalProductosVentas()"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 form-medio">
                            <p id="Descripcion_Producto_Venta" style="text-transform:capitalize"></p>
                        </div>
                    </div>
                    <div id="div_fdesde" class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Desde, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Desde, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Desde)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha_Hasta, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Expedido(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button class="btn btn-success" onclick="RPT_Expedido_Excel(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>
  
    function RPT_Expedido(excel) {
        agregarModal('Reportes');
        var str_desde = $('#Fecha_Desde').val();
        var desde_array = str_desde.split("/");
        var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        var str_hasta = $('#Fecha_Hasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

        var Codigo_Producto = $('#Codigo_Producto').val();
        let url = '/Listados/RPT_Expedido?fecha_hasta=' + hasta_date
                + '&codigo_fabrica='
                + $('#Codigo_Fabrica').val()
                + '&excel=' + excel
                + '&Numero_Producto_Venta=' + $("#Numero_Producto").val()
                + '&Fecha_Desde=' + desde_date

        console.log(url);
        if (excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            console.log(urlfinal);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
    function RPT_Expedido_Excel(excel) {
        agregarModal('Reportes');
        var str_desde = $('#Fecha_Desde').val();
        var desde_array = str_desde.split("/");
        var desde_date = desde_array[0] + '-' + desde_array[1] + '-' + desde_array[2];
        var str_hasta = $('#Fecha_Hasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

        var Codigo_Producto = $('#Codigo_Producto').val();
        let url = '/Listados/RPT_Expedido_Excel?fecha_hasta=' + hasta_date
            + '&codigo_fabrica='
            + $('#Codigo_Fabrica').val()
            + '&excel=' + excel
            + '&Numero_Producto_Venta=' + $("#Numero_Producto").val()
            + '&Fecha_Desde=' + desde_date

        console.log(url);
        if (excel)
            window.location.href = url;
        else {
            var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
            console.log(urlfinal);
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }

    $('input[type=datetime]').datepicker();
    if ($('#Codigo_Fabrica').val() != 0)
        document.getElementById("Codigo_Fabrica").disabled = true;
    else
        $('#Codigo_Fabrica').val('');

    function maximoZindex(from) {
        var max = 0;
        from.find(">*").each(function (i, e) {
            var z = Number($(e).css("z-index"));
            if (z > max) {
                max = z;
            }
        });
        return max;
    }

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







