﻿@using MVC_Produccion.ContextoProduccion
@model MVC_Produccion.Listados.ListadosModels.StockProductosModel
@using MVC_Produccion.Sesiones
@{
    Layout = null;
    Entities db = new Entities();
    OpcionesTrabajo configuraciones = new OpcionesTrabajo();
    Usuarios usuarioActual = new Usuarios();
    Permisos permisosUsuario = new Permisos();
    try
    {
        configuraciones = db.OpcionesTrabajo.FirstOrDefault();
        if (Sesion.UsuarioActual != null)
        {
            usuarioActual = Sesion.UsuarioActual;
            permisosUsuario = db.Permisos.Where(p => p.idUsuario == usuarioActual.idUsuario).FirstOrDefault();
        }
    }
    catch (Exception ex)
    {
        string Excepcion = ex.ToString();
    }
}
<div class="modal-dialog" style="width:300px;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Stock Resumido</h4>
            <button type="button" class="close" aria-label="Close" onclick="$('#ModalStockResumido').modal('hide');"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="col-md-12 row">
                <div class="col-md-5 form-medio">
                    @Html.LabelFor(model => model.Fecha_Hasta, new { @class = "control-label" })
                </div>
                <div class="col-md-7  form-medio">
                    @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                </div>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-4  form-medio">
                    @Html.LabelFor(m => m.Codigo_Fabrica, new { @class = "control-label" }):
                </div>
                <div class="col-md-6  form-medio">
                    <div class="form-group">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Codigo_Fabrica, "Fabrica", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" onclick="RPT_Stock_Resumido()">Exportar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>
    function RPT_Stock_Resumido() {
        var str_hasta = $('#Fecha_Hasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

        var url = '/Listados/Stock_Resumido?fecha_hasta=' + hasta_date + '&codigo_fabrica=' + $('#Codigo_Fabrica').val();
        console.log(url);
        var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
        console.log(urlfinal);
        $.ajax({
            url: urlfinal,
            success: function (data) {
                agregarModal('Reportes');
                $('#ModalReportes').html(data);
                $('#ModalReportes').modal();
                $('#ModalReportes').modal('show');
                calcularFondos();
                $('body').removeClass('modal-open');
            }
        });
    }
    $('input[type=datetime]').datepicker();
    if ($('#Codigo_Fabrica').val() != 0)
        document.getElementById("Codigo_Fabrica").disabled = true;
    else
        $('#Codigo_Fabrica').val('');
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







