﻿@model MVC_Produccion.Listados.ListadosModels.StockProductosModel
@{
    Layout = null;
}
<div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Stock de Productos Resumido</h4>
        </div>
        <div class="modal-body">
            <section id="loginForm">
                <div class="col-md-12 row">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Fecha_Hasta, new { @class = "control-label" })
                    </div>
                    <div class="col-md-6  form-medio">
                        @Html.EditorFor(model => model.Fecha_Hasta, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fecha_Hasta)
                    </div>
                </div>
                <div class="col-md-12 row">
                    <div class="col-md-4  form-medio">
                        @Html.LabelFor(m => m.Codigo_Fabrica, new { @class = "control-label" }):
                    </div>
                    <div class="col-md-6  form-medio">
                        <div class="form-group">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Fabrica, "Fabrica", new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Codigo_Fabrica, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-12 row">
                    <div class="col-md-4  form-medio">
                        @Html.LabelFor(model => model.Solo_Totales, new { @class = "control-label" })
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Solo_Totales)
                        </div>
                        @Html.ValidationMessageFor(model => model.Solo_Totales)
                    </div>
                </div>
                <div class="col-md-12 row">
                    <div class="col-md-4  form-medio">
                        @Html.LabelFor(model => model.ExcluirVacios, new { @class = "control-label" })
                    </div>
                    <div class="col-md-4 col-sm-offset-0 col-md-offset-1">
                        <div class="input-group">
                            @Html.EditorFor(model => model.ExcluirVacios)
                        </div>
                        @Html.ValidationMessageFor(model => model.ExcluirVacios)
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" onclick="RPT_Stock_Productos()">Exportar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<script>
    function RPT_Stock_Productos() {
        agregarModal('Reportes');
        var str_hasta = $('#Fecha_Hasta').val();
        var hasta_array = str_hasta.split("/");
        var hasta_date = hasta_array[0] + '-' + hasta_array[1] + '-' + hasta_array[2];

        let excluirVacios = $('#ExcluirVacios').prop('checked');

        var url = '/Listados/Stock_Productos?Fecha_Hasta=' + hasta_date + '&Codigo_Fabrica=' + $('#Codigo_Fabrica').val() + '&Solo_Totales=' + $('#Solo_Totales').prop('checked') + '&ExcluirVacios=' + excluirVacios;
        console.log(url);
        var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
        console.log(urlfinal);
        $.ajax({
            url: urlfinal,
            success: function (data) {
                $('#ModalReportes').html(data);
                $('#ModalReportes').modal();
                $('#ModalReportes').modal('show');
                calcularFondos();
                $('body').removeClass('modal-open');
            }
        });
    }
    $('input[type=datetime]').datepicker();
    if ($('#Codigo_Fabrica').val() != 0)
        document.getElementById("Codigo_Fabrica").disabled = true;
    else
        $('#Codigo_Fabrica').val('');
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







