﻿@{
    Layout = null;
}
<script src="~/Scripts/CorrectorDecimales.js"></script>
<div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="exampleModalLabel">Movimientos Volteo</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="col-md-12 caja-contenedora">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-6 form-medio">
                            <label class="control-label" for="Codigo_Fabrica">Fábrica:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="Codigo_Fabrica" type="number" value="">
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-12 form-medio">
        <div class="col-md-6 form-medio">
            <label class="control-label" for="Kilos">Historial:</label>
        </div>
        <div class="col-md-5 form-medio">
            <div class="input-group">
                <input class="form-control text-box single-line" id="Historial" type="checkbox" value="">
            </div>
        </div>
    </div>

          -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="RPT_Movimientos_Volteo(false)"><i class="far fa-file-pdf"></i> PDF</button>
            <button class="btn btn-success" onclick="RPT_Movimientos_Volteo(true)"><i class="far fa-file-excel"></i> Excel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
<div id="ModalsFiltros">

</div>

<script>

    // Espera que cargue todo para setear el foco en el primer input del modal
    setTimeout(() => {
        $('#Codigo_Fabrica').focus();
    }, 100)


    function RPT_Movimientos_Volteo(Excel) {
        agregarModal('Reportes');
        var url = '/Listados/RPT_Movimientos_Volteo?Codigo_Fabrica=' + $('#Codigo_Fabrica').val() + '&Excel=' + Excel;
        console.log(url);
        var urlfinal = '/Home/Report/?url=' + encodeURIComponent(url);
        console.log(urlfinal);

        if (Excel)
            window.location.href = url;
        else {
            $.ajax({
                url: urlfinal,
                success: function (data) {
                    $('#ModalReportes').html(data);
                    $('#ModalReportes').modal();
                    $('#ModalReportes').modal('show');
                    calcularFondos();
                    $('body').removeClass('modal-open');
                }
            });
        }
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
