﻿@model AccesoDatos.Contexto.Produccion.Datos_Empresa
@{
    Layout = null;
}

<div class="modal-header modalCreate" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Datos de la Empresa</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Html.BeginForm("DatosEmpresa", "Utilidades", FormMethod.Post, new { @id = "FormDatosEmpresa", enctype = "multipart/form-data" }))
{
    <div class="modal-body modalCreate" id="BodyOpcionesTrabajo">
        <div class="col-md-12 flexible2">
            <div class="col-md-12 caja-contenedora flexible2">
                <div class="col-md-12 form-medio">
                    <div class="col-md-2 form-medio">
                        @Html.LabelFor(model => model.CUIT, "CUIT:", new { @class = "control-label" }):
                    </div>

                    <div class="col-md-4 form-medio">
                        @Html.EditorFor(model => model.CUIT, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="col-md-12 form-medio">
                    <div class="col-md-2 form-medio">
                        @Html.LabelFor(model => model.Razon_Social, "Razón Social:", new { @class = "control-label" }):
                    </div>

                    <div class="col-md-8 form-medio">
                        @Html.EditorFor(model => model.Razon_Social, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="col-md-12 form-medio">
                    <div class="col-md-2 form-medio">
                        @Html.LabelFor(model => model.Imagen, "Imágen:", new { @class = "control-label" }):
                    </div>

                    <div class="col-md-10 flexible2">
                        <div class="col-md-12" id="Imagen" style="padding:0px !important">
                            @{
                                if (Model != null)
                                {
                                    if (Model.Imagen != null)
                                    {
                                        Random random = new Random();
                                        int randomNumber = random.Next(0, 1000);
                                        <img stlye="margin-bottom:20px" width="100" height="100"  src="~/@Model.Imagen?random=@randomNumber"/>
                                    }
                                }

                            }  
                        </div>
                        <div class="col-md-12" style="display:flex; padding:2px !important">
                            <input type="file" name="file" id="file" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer modalCreate">
        <but onclick="SubmitDatos()" class="btn btn-primary">Confirmar</but>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>

    <script>

        function SubmitDatos() {
            var formData = new FormData();
            var file = document.getElementById("file").files[0];

            formData.append("CUIT", $('#CUIT').val());
            formData.append("Razon_Social", $('#Razon_Social').val());
            formData.append("file", file);

            if (formData != null) {
                $.ajax({
                    type: "POST",
                    url: "/Utilidades/DatosEmpresa/",
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (!data.success) {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                        else {

                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                            $('#modalDatosEmpresa').modal('hide');

                        }
                    }
                });

                return false;
            }   
        }

        document.getElementById("file").onchange = function (e) {
            // Creamos el objeto de la clase FileReader
            let reader = new FileReader();

            // Leemos el archivo subido y se lo pasamos a nuestro fileReader
            reader.readAsDataURL(e.target.files[0]);

            // Le decimos que cuando este listo ejecute el código interno
            reader.onload = function () {
                let preview = document.getElementById('Imagen'),
                        image = document.createElement('img');

                image.src = reader.result;

                preview.innerHTML = '';
                preview.append(image);
            };
        }
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
