﻿@using MVC_Produccion.ContextoProduccion

@model MVC_Produccion.Listados.ListadosModels.DuplicarFormulaModel
@{
    Layout = null;
}

<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Duplicar Fórmula</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Html.BeginForm("Duplicar_Formula", "Utilidades", FormMethod.Post, new { @class = "form-horizontal", @id = "FormDuplicarFormula" }))
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <section id="loginForm">

                    @Html.AntiForgeryToken()

                    <div class="col-md-12 flexible2">
                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12">
                                <p style="color:#ff0000">Permite duplicar una Fórmula de 'X' Producto y asignarla al Producto 'Y'</p>
                            </div>
                            <br />

                            <div class="col-md-12 form-medio">
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.Producto_Origen, new { @class = "control-label" }):
                                </div>
                                <div class="col-md-3">
                                    <div class="row form-group">
                                        <div class="col-md-12 form-medio">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.Producto_Origen, "Producto_Origen", new { htmlAttributes = new { @class = "form-control" } })
                                                <span class="input-group-addon"><a href="#" onclick="AbrirModalProdOrigen('NoEnvasado')"><span class="glyphicon glyphicon-search"></span></a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p id="Descripcion_Producto_Origen" style="text-transform:capitalize"></p>
                                </div>
                            </div>                        
                        </div>

                        <div class="col-md-12 caja-contenedora">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.Producto_Destino, new { @class = "control-label" }):
                                </div>
                                <div class="col-md-3">
                                    <div class="row form-group">
                                        <div class="col-md-12 form-medio">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.Producto_Destino, "Producto_Destino", new { htmlAttributes = new { @class = "form-control" } })
                                                <span class="input-group-addon"><a href="#" onclick="AbrirModalProdDestino('NoEnvasado')"><span class="glyphicon glyphicon-search"></span></a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p id="Descripcion_Producto_Destino" style="text-transform:capitalize"></p>
                                </div>
                            </div>                        
                        </div>
                    </div>

                    <script>

                        setTimeout(() => {
                            $('#Producto_Origen').focus();
                        }, 500)

                        function Duplicar_Formula(Formulario) {

                            if ($('#Producto_Origen').val() == $('#Producto_Destino').val()) {
                                notif({
                                    msg: "No se puede duplicar una Fórmula con el mismo Producto.",
                                    type: "error",
                                    position: "center"
                                });

                                $('#Producto_Destino').focus();

                                return;
                            }
                            else {
                                $.validator.unobtrusive.parse(Formulario);

                                if ($(Formulario).valid()) {
                                    var y = $.ajax({
                                        type: "POST",
                                        url: "/Utilidades/Duplicar_Formula/",
                                        data: $(Formulario).serialize(),
                                        success: function (data) {
                                            if (!data.success) {
                                                notif({
                                                    msg: data.message,
                                                    type: "error",
                                                    position: "center"
                                                });
                                            }
                                            else {

                                                notif({
                                                    msg: data.message,
                                                    type: "success",
                                                    position: "center"
                                                });

                                            }
                                        }
                                    });

                                }
                                return false;
                            }                           
                        }

                    </script>

                </section>
            </div>
        </div>
    </div>
}

<div class="modal-footer">
    <button class="btn btn-success" onclick="Duplicar_Formula($('#FormDuplicarFormula'))">Duplicar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
