﻿@{
    Layout = null;
}
<div class="modal-dialog" style="width:500px;">
    <div class="modal-content">
        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title">Modificar Lote Producción</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row col-md-12">
                <div id="div_lote_anterior">
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            <label for="Lote_Anterior" class="control-label">Lote anterior:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <input id="Lote_Anterior" class="form-control" readonly disabled>
                        </div>
                    </div>
                </div>
                <div id="div_lote_nuevo">
                    <div class="col-md-12 caja-contenedora form-medio">
                        <div class="col-md-6 form-medio">
                            <label for="Lote_Nuevo" class="control-label">Lote nuevo:</label>
                        </div>
                        <div class="col-md-5 form-medio">
                            <input id="Lote_Nuevo" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="ModificarLoteProduccion()">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>