﻿@model AccesoDatos.Contexto.Produccion.OpcionesTrabajo
@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Opciones de Trabajo";

    Layout = null;
}

<div class="modal-header modalCreate" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Opciones de Trabajo</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Html.BeginForm("OpcionesTrabajo", "Utilidades", FormMethod.Post, new { @id = "FormOpcionesTrabajo", @onsubmit = "return ModificarOpcionesTrabajo(this)" }))
{
    <div class="modal-body modalCreate" id="BodyOpcionesTrabajo">
        <div class="col-md-12 flexible2">
            <div class="col-md-12 caja-contenedora flexible2">
                <div class="col-md-12 form-medio">
                    <div class="col-md-9 form-medio">
                        @Html.Label("Imputar Compras:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-2 form-medio">
                        @Html.CheckBoxFor(model => model.ImputarCompras, "ImputarCompras")
                    </div>
                </div>

                <div class="col-md-12 form-medio">
                    <div class="col-md-9 form-medio">
                        @Html.Label("Imputar Total o Neto:", new { @class = "control-label" })
                    </div>
                    
                    <div class="col-md-6 form-medio">
                        @Html.DropDownListFor(model => model.Imputar_Total_O_Neto, ViewBag.Total_O_Neto as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>

                </div>

                <div class="col-md-12 form-medio">
                    <div class="col-md-9 form-medio">
                        @Html.Label("Mostrar Formulas con IVA:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-2 form-medio">
                        @Html.CheckBoxFor(model => model.MostrarIVAFormulas, "MostrarIVAFormulas")
                    </div>
                </div>
                <div class="col-md-12 form-medio">
                    <div class="col-md-9 form-medio">
                        @Html.Label("Kilos Desnudo en Envasado:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-2 form-medio">
                        @Html.CheckBoxFor(model => model.Kg_Desnudo, "Kg_Desnudo")
                    </div>
                </div>

                <div class="col-md-12 form-medio">
                    <div class="col-md-9 form-medio">
                        @Html.Label("Actualizar Costo Insumos:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-2 form-medio">
                        @Html.CheckBoxFor(model => model.ActualizarCostoInsumos, "ActualizarCostoInsumos")
                    </div>
                </div>
                <div class="col-md-12 form-medio">
                    <div class="col-md-9 form-medio">
                        @Html.Label("Número de Planilla Digitable:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-2 form-medio">
                        @Html.CheckBoxFor(model => model.NroPlanillaDigitable, "NroPlanillaDigitable")
                    </div>
                </div>
                <div class="col-md-12 form-medio">
                    <div class="col-md-9 form-medio">
                        @Html.Label("Utiliza Cámaras:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-2 form-medio">
                        @Html.CheckBoxFor(model => model.Usa_Stock_Camara, "Usa_Stock_Camara")
                    </div>
                </div>
                <div class="col-md-12 form-medio">
                    <div class="col-md-9 form-medio">
                        @Html.Label("Utiliza Ventas:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-2 form-medio">
                        @Html.CheckBoxFor(model => model.Utiliza_Ventas, "Utiliza_Ventas")
                    </div>
                </div>
                <div class="col-md-12 form-medio form-group">
                    <div class="col-md-5 form-medio">
                        @Html.Label("Dígitos:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-6 form-medio">
                        @Html.EditorFor(model => model.NumeroDigitos, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col-md-12 form-medio form-group">
                    <div class="col-md-5 form-medio">
                        @Html.Label("Fábrica o Depósito:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-6 form-medio">
                        @Html.DropDownListFor(model => model.Fabrica_Deposito, ViewBag.FabricaDeposito as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12 form-medio form-group">
                    <div class="col-md-5 form-medio">
                        @Html.Label("Ruta EXCEL:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-6 form-medio">
                        @Html.EditorFor(model => model.Ruta_EXCELS, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                @if (User.Identity.Name.ToLower() == "msk_sistemas")
                {
                    <div class="col-md-12 form-medio form-group">
                        <div class="col-md-5 form-medio">
                            @Html.Label("Usuarios Registrados:", new { @class = "control-label" })
                        </div>

                        <div class="col-md-6 form-medio">
                            @Html.EditorFor(model => model.Cantidad_Maxima_Usuarios, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-md-12 form-medio">
                        <div class="col-md-9 form-medio">
                            @Html.Label("Requiere rol Administrador: ", new { @class = "control-label" })
                        </div>

                        <div class="col-md-2 form-medio">
                            @Html.CheckBoxFor(model => model.Requiere_Rol_Administrador, "Requiere_Rol_Administrador")
                        </div>
                    </div>
                    <div class="col-md-12 form-medio">
                        <div class="col-md-9 form-medio">
                            @Html.Label("Utiliza Bandejas: ", new { @class = "control-label" })
                        </div>

                        <div class="col-md-2 form-medio">
                            @Html.CheckBoxFor(model => model.UtilizaBandejas, "UtilizaBandejas")
                        </div>
                    </div>
                    <div class="col-md-12 form-medio">
                        <div class="col-md-9 form-medio">
                            @Html.Label("Utiliza Login: ", new { @class = "control-label" })
                        </div>

                        <div class="col-md-2 form-medio">
                            @Html.CheckBoxFor(model => model.Utiliza_Login, "Utiliza_Login")
                        </div>
                    </div>
                }
                <div class="col-md-12 form-medio">
                    <div class="col-md-9 form-medio">
                        @Html.Label("Envasa sin kilos reales informados en la producción:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-2 form-medio">
                        @Html.CheckBoxFor(model => model.Envasa_Sin_Kilos, "Envasa_Sin_Kilos")
                    </div>
                </div>
                <div class="col-md-12 form-medio">
                    <div class="col-md-9 form-medio">
                        @Html.Label("Suma Stock Ventas en Blanco:", new { @class = "control-label" })
                    </div>

                    <div class="col-md-2 form-medio">
                        @Html.CheckBoxFor(model => model.Stock_Venta_Blanco, "Stock_Venta_Blanco")
                    </div>
                </div>

                <div class="col-md-12 form-medio hidden">
                    <div class="col-md-9 form-medio">
                        @Html.Label("Utiliza Login: ", new { @class = "control-label" })
                    </div>

                    <div class="col-md-2 form-medio">
                        @Html.CheckBoxFor(model => model.Utiliza_Login, "Utiliza_Login")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer modalCreate">
        <input type="submit" value="Confirmar" class="btn btn-primary" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>

    <script>
        function ModificarOpcionesTrabajo(Formulario) {
            //VALIDADOR DEL FORMULARIO

            $.validator.unobtrusive.parse(Formulario);

            if ($(Formulario).valid()) {

                $.ajax({
                    type: "POST",
                    url: "/Utilidades/OpcionesTrabajo/",
                    data: $(Formulario).serialize(),
                    success: function (data) {
                        if (data.success) {

                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                            $('#modalOpciones').modal('hide');

                        } else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }

            return false;
        }
        //debugger
        ////var Imputar_Total_O_Neto = Model.Imputar_Total_O_Neto;

        //if (Imputar_Total_O_Neto == "Neto") {
        //    $("#Imputar_Total_O_Neto").val("Neto");
        //    //$("#Imputar_Total_O_Neto").text("Neto");
        //}
        //else {
        //    $("#Imputar_Total_O_Neto").val("Total");
        //    //$("#Imputar_Total_O_Neto").text("Total");
        //}
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
