﻿@{
    ViewBag.Title = "Compras de Insumos : Listado";
}

<h2>Compras de Insumos</h2>
<p id="aclaracion" hidden class="motivo_rechazo">Al editar una Compra pasada como Historica, vuelve a estar Pendiente de Actualizar.</p>
<div id="dropdownEstados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
</div>
<table id="CompraInsumosTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteCompra()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Actualizar()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script>
        var dataTableCompras = null;
        function CargarCompraInsumos() {
            dataTableCompras = $("#CompraInsumosTabla").DataTable({
                "destroy" : true,
                "autoWidth": true,
                "ajax": {
                    "url": "/CompraInsumos/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Codigo_Interno_Compra",
                        "title": "Código",
                        "width": "15%"
                    },
                    {
                        "data": "Fecha",
                        "title": "Fecha",
                        render: function (data) {
                            if (data != null) {
                                return moment(data).format('DD/MM/YYYY');
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "Numero_Comprobante",
                        "title": "Número de Comprobante",
                        render: function (data) {
                            return '<div style="margin-right:10px !important">'+data+'</div>'
                        }
                    },
                    {
                        "data": "RAZON_SOCIAL",
                        "title": "Proveedor"
                    },
                    {
                        "data": "Codigo_Interno_Compra",
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-sm' href='/CompraInsumos/AddOrEdit/" + data + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                    "<a class='btn btn-danger btn-sm' onclick=modificarInput('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                        },
                    }

                ],
                "language": idiomaEspañol,
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: 'nuevo',
                       action: function () {
                           window.location.href = "/CompraInsumos/AddOrEdit/";
                       }
                   },
                   {
                       text: 'Actualizar <span class="glyphicon glyphicon-refresh">',
                       className: 'primary btn_actualizar',
                       action: function () {
                           AbrirModalActualizar();
                       }
                   },
                    {
                        text: $('#dropdownEstados').html(),
                        className: 'botonDropdown'
                    }
                ],
                "select" : 'multiple',
                "columnDefs": [
                      { className: "text-right", "targets": [2] },
                      { className: "text-center", "targets": [0, 1, 4] }
                ],
                "order": [[0, "asc"]],
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                    $('#dropdownEstados').html("");

                    $("#ListadoEstados").change(function () {
                        console.log("changed: ", $('option:selected', this).val());
                        estado = $('option:selected', this).val();
                        if (estado == "true"){
                            $("#aclaracion").show();
                            $(".btn_actualizar").hide();
                        }
                        else {
                            $(".btn_actualizar").show();
                            $("#aclaracion").hide();
                        }

                        dataTableCompras.ajax.url('/CompraInsumos/GetData?historica=' + estado).load();
                    });
                }

            });

        };

        function AbrirModalActualizar() {

            var bandera = false;

            $('#CompraInsumosTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {

                    bandera = true;
                }
            });

            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });

                return;
            }
            else {
                $('#modalVerificarActualizar').modal('toggle');
            }

        }

        function MostrarMensaje() {
            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };

        function Actualizar() {

            var bandera = false;

            $('#CompraInsumosTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {

                    bandera = true;
                }
            });

            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });

                return;
            }
            else {

                $('#CompraInsumosTabla').find('tr.selected').find('td').each(function () {
                    if ($(this).index() == 0) {

                        $.ajax({
                            type: "POST",
                            url: "/CompraInsumos/Actualizar",
                            data: { Codigo_Interno_Compra: $(this).html() },
                            success: function (data) {
                                if (data.success) {
                                    $("#ListadoEstados").val("false");
                                    $("#aclaracion").hide();
                                    dataTableCompras.ajax.url('/CompraInsumos/GetData').load();
                                    notif({
                                        msg: data.message,
                                        type: "success",
                                        position: "center"
                                    });

                                    $('#modalVerificarActualizar').modal('hide');
                                }
                                else {
                                    if (data.message == "Iniciar Sesion") {
                                        AbrirModalLogin();
                                    }
                                    else {
                                        notif({
                                            msg: data.message,
                                            type: "error",
                                            position: "center"
                                        });
                                    }
                                }
                            }
                        });
                    }
                });


            }
        }

        function modificarInput(Codigo_Compra) {
            $('input.codigo').text(Codigo_Compra);
        }

        /* METODO PARA AGREGAR UN REGISTRO*/

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {

                            CargarCompraInsumos();

                        }

                    }
                });
            }
            return false;
        }

        /*ELIMINA UNA FÓRMULA*/

        function DeleteCompra() {
            $.ajax({
                type: "POST",
                url: "/CompraInsumos/Delete/",
                data: { Codigo_Interno_Compra: $('input.codigo').text() },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        $("#ListadoEstados").val("false");
                        $("#aclaracion").hide();
                        dataTableCompras.ajax.url('/CompraInsumos/GetData').load();

                    }
                    else {
                        if (data.message == "Iniciar Sesion") {
                            AbrirModalLogin();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            });

        };

        $(document).ready(function () {

            CargarCompraInsumos();

            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje();
            }
        });
    </script>
}
