﻿@model AccesoDatos.Contexto.Produccion.Salida_Productos
@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "SalidasProductos", FormMethod.Post, new { id = "FormAddOrEdit" }))
{

    @Html.AntiForgeryToken()

    <div class="col-md-12 contenedor-insumos-add">

        <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
            <h4 class="modal-title" id="tituloModalAddOrEdit">Nuevo</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="col-md-12 flexible2">
            <div class="col-md-12 caja-contenedora">
                <div class="col-md-12 form-medio">
                    <div class="col-md-8" style="display:none">
                        @Html.EditorFor(model => model.Codigo_Interno_Salida, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="col-md-12 caja-sector-modal">
                    <div class="col-md-2">
                        <div class="col-md-4 form-medio">
                            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label" }):
                        </div>

                        @{
                            if (Model.Codigo_Interno_Salida == 0)
                            {
                                <div class="col-md-8 form-medio">
                                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                </div>
                            }
                            else
                            {
                                <div class="col-md-8 form-medio">
                                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @readOnly = "readOnly", @style = "text-align:right" } })
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-5 form-medio">
                        @Html.LabelFor(m => m.Sucursal_Origen, "Sucursal Origen", new { @class = "control-label" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.Sucursal_Origen, new { htmlAttributes = new { @class = "form-control", @style = "width:50px;margin-left:10px;", type = "text" } })
                            <span class="input-group-addon" style="max-height:25px;padding:3px 12px;"><a href="#" onclick="AbrirModalSucursales('Sucursal_Origen')" id="Lupa_Origen"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        <p style="text-transform:capitalize; margin:5px" id="Desc_Suc_Origen">@ViewBag.Origen</p>
                    </div>
                    <div class="col-md-5 form-medio">
                        @Html.LabelFor(m => m.Sucursal_Destino, "Sucursal Destino", new { @class = "control-label" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.Sucursal_Destino, new { htmlAttributes = new { @class = "form-control", @style = "width:50px;margin-left:10px;", type = "text" } })
                            <span class="input-group-addon" style="max-height:25px;padding:3px 12px;"><a href="#" onclick="AbrirModalSucursales('Sucursal_Destino')"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                        <p style="text-transform:capitalize; margin:5px" id="Desc_Suc_Destino">@ViewBag.Sucursal</p>
                    </div>
                </div>

                <div class="col-md-12 form-medio" style="justify-content:center !important">
                    <div class="col-md-8">
                        @Html.ValidationMessageFor(model => model.Fecha)
                    </div>
                </div>
                <div class="col-md-12 caja-sector-modal">
                    <div class="col-md-2 form-medio">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.Prefijo, "Prefijo", new { @class = "control-label" })
                        </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control", @style = "width:50px;margin-left:10px;", type = "text" } })
                            </div>
                        </div>
                        <div class="col-md-5 form-medio">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.NroComprobante, "Num. Comprobante:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.NroComprobante, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>

            </div>

            <div class="col-md-12 caja-contenedora">
                <table id="DetallesSalidaProductos" class="display compact" style="width:100%"></table>
            </div>

            <div id="DetallesSalida" style="display:none"></div>
        </div>

        <script>
            var tablaLotes = null;
            $("#Sucursal_Origen").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");
                    if ($("#Sucursal_Origen").val() != "" ){
                        $.ajax({
                            type: "GET",
                            url: "/Sucursales/GetData/",
                            success: function (data) {
                                $.each(data.data, function (i, item) {
                                    if (item.Numero == $("#Sucursal_Origen").val()) {
                                        $("#Desc_Suc_Origen").html(item.Nombre);
                                        return true;
                                    }
                                });
                                notif({
                                    msg: "La sucursal ingresada no existe.",
                                    type: "error",
                                    position: "center"
                                });
                                $("#Sucursal_Origen").focus();
                                $("#Desc_Suc_Origen").html("");
                                return false;
                            }
                        });
                    }
                    else {
                        $("#Nombre_Sucursal_Origen").html("");
                    }
                }
            });

            $("#Sucursal_Destino").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");
                    if ($("#Sucursal_Destino").val() != "") {
                        $.ajax({
                            type: "GET",
                            url: "/Sucursales/GetData/",
                            success: function (data) {
                            let error = true;
                                $.each(data.data, function (i, item) {
                                    if (item.Numero == $("#Sucursal_Destino").val()) {
                                        $("#Desc_Suc_Destino").html(item.Nombre);
                                        error = false;
                                    }
                                });
                                if (error) {
                                    notif({
                                        msg: "La sucursal ingresada no existe.",
                                        type: "error",
                                        position: "center"
                                    });
                                    $("#Sucursal_Destino").focus();
                                    $("#Desc_Suc_Destino").html("");
                                    //return false;
                                }
                            }
                        });
                        AgregarDetalle();
                        return false;
                    }
                    else {
                        $("#Desc_Suc_Destino").html("");
                    }
                }
            });


            var listadoDetallesSalida = [];

            var dataTableDetallesSalida = [];
            if (0 == '@Model.Codigo_Interno_Salida') {
                $('#Fecha').datepicker();
            }

            var Salida = 0;

            function RefrescarDetalles() {
                dataTableDetallesSalida.clear();
                dataTableDetallesSalida.rows.add(listadoDetallesSalida);
                dataTableDetallesSalida.draw();
            }

            function CargarProductos() {
                dataTable = $("#ProductosTabla").DataTable({
                    "destroy": true,
                    "autoWidth": true,
                    "ajax": {
                        "url": "/ProductosVentas/GetData",
                        "type": "GET",
                        "datatype": "json"
                    },

                    "columns": [
                        {
                            "data": "Numero_de_Producto",
                            "title": "Número"
                        },
                        {
                            "data": "Descripcion",
                            "title": "Descripción",
                            "sClass": "mayusculas-texto"
                        },
                        {
                            "data": "Numero_de_Producto",
                            "title": "Herramientas",
                            "width": "10%",
                            "render": function (data) {
                                return "<a class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                       "<a class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-trash'></span></a>";
                            },
                        }
                    ],
                    "language": idiomaEspañol,

                    "columnDefs": [
                            { className: "text-center", "targets": [0, 2] },
                    ],

                    select: 'single',
                });
            };

        
            function CargarDetallesSalida(Codigo_Salida) {
                $.ajax({
                    type: "GET",
                    url: "/SalidasProductos/GetData/",
                    data: {
                        Codigo_Interno_Salida: Codigo_Salida
                    },
                    success: function (data) {
                        listadoDetallesSalida = [];
                        listadoDetallesSalida = data.detalles;
                        $.each(listadoDetallesSalida, function (i, item) {
                            listadoDetallesSalida[i].Codigo_Interno = i;
                        });

                        dataTableDetallesSalida = $("#DetallesSalidaProductos").DataTable({
                            "bFilter": false,
                            "destroy": true,
                            "responsive": true,
                            "autoWidth": true,
                            "bInfo": false,
                            "iDisplayLength": 50,
                            "lengthChange": false,
                            data: listadoDetallesSalida,
                            "columns": [
                                {
                                    title: "Producto",
                                    data: "Codigo_Producto",
                                    width: "10%"

                                },
                                {
                                    title: "Descripción",
                                    data: "Descripcion_Producto",
                                    sClass: "mayusculas-texto",
                                    width: "20%"
                                },
                                {
                                    data: "tipo",
                                    width: "25%",
                                    title: "Tipo",
                                    render: function (data, type, row, meta) {
                                        let select = '<select disabled="true" id="select_tipo_' + row.Codigo_Interno + '">';
                                        let mov = '<option value="Movimiento"> Movimiento</option>';
                                        let deco = '<option value="Decomiso"> Decomiso</option>';
                                        let repro = '<option value="Reproceso">Reproceso</option>';
                                        let aMas = '<option value="Ajuste +">Ajuste +</option>';
                                        let aMenos = '<option value="Ajuste -">Ajuste -</option>';

                                        if (data == "Movimiento")
                                            mov = '<option value= "Movimiento" selected>Movimiento</option >';
                                        if (data == "Decomiso")
                                            deco = '<option value= "Decomiso" selected>Decomiso</option >';
                                        if (data == "Reproceso")
                                            repro = '<option value= "Reproceso" selected>Reproceso</option >';
                                        if (data == "Ajuste +")
                                            aMas = '<option value= "Ajuste +" selected>Ajuste +</option >';
                                        if (data == "Ajuste -")
                                            aMenos = '<option value= "Ajuste -" selected>Ajuste -</option >';
                                        let codigo_insumo = row.Codigo_Insumo_Reproceso == null ? "" : row.Codigo_Insumo_Reproceso;
                                        let div =   '<div class="deshabilitar" style="margin-left:10px;margin-bottom:10px;display:inline-block;;" id="div-insumo-reproceso_' + row.Codigo_Interno + '">                           ' +
                                                    '    <div class="form-medio">                                                                                                                                                 ' +
                                                    '        <div style="width:80px;display:inline-block;">                                                                                                                       ' +
                                                    '            <div class="input-group">                                                                                                                                        ' +
                                                    '                <input type="text" id="Codigo_Insumo" name="Codigo_Insumo" class="form-control" style="width:60px;" value="' + codigo_insumo+ '" />                          ' +
                                                    `                <span class="input-group-addon"><a href="#" onclick="AbrirModalInsumos()"><span class="glyphicon glyphicon-search"></span></a></span> ` +
                                                    '            </div>                                                                                                                                                           ' +
                                                    '        </div>                                                                                                                                                               ' +
                                                    '        <label class="noselect control-label" style="font-weight:initial;margin-left:25px !important;" id="descripcion-insumo"></label>                                      ' +
                                                    '    </div>                                                                                                                                                                   ' +
                                                    '</div>';
                                        select += mov + repro + deco + aMas + aMenos + '</select >';
                                        select += div;

                                        return select;
                                    }
                                },
                                {
                                    title: "Lote",
                                    data: "Lote",
                                    width: "10%"

                                },
                                {
                                    width: "10%",
                                    title: "Cantidad",
                                    data: "Cantidad",
                                    render: function (data) {
                                        if (data == null) {
                                            return "";
                                        }
                                        else {
                                            return parseFloat(data).toFixed(2);
                                        }
                                    }
                                },
                                {
                                    width: "10%",
                                    title: "Kilos/Litros",
                                    data: "Kilos_Litros",
                                    render: function (data) {
                                        if (data == null) {
                                            return "";
                                        }
                                        else {
                                            return parseFloat(data).toFixed(2);
                                        }
                                    }
                                },
                                {
                                    title: "",
                                    width: "5%",
                                    data: "Codigo_Interno",
                                    render: function (data) {
                                        return "<input hidden id='e' value='" + data + "' />" +
                                        "<a class='btn btn-default btn-xs' onclick=editarDetalle('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                                "<a class='btn btn-danger btn-xs' onclick=BorrarDetalle('"+ data +"')><span class='glyphicon glyphicon-trash'></span></a>";
                                    },
                                }
                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                { className: "text-right", "targets": [ 3] },
                                { className: "text-center", "targets": [0, 4] }
                            ],
                            dom: 'Bfrtip',
                            buttons: [
                                {
                                    text: '<span class="glyphicon glyphicon-plus">',
                                    className: "nuevo nuevoDetalle",
                                    action: function () {
                                        AgregarDetalle();
                                    }
                                }
                            ],
                            "order": [[1, "asc"]]

                        });
                    }
                });
            }

            function AgregarDetalle() {
                RefrescarDetalles();
                var filaAgregada = false;

                $('#DetallesSalidaProductos').find('#insertarDetalle').each(function () {
                    filaAgregada = true;
                });

                if (filaAgregada == false) {
                    /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
                    let div =   '<div class="deshabilitar" style="margin-left:10px;margin-bottom:10px;display:inline-block;" id="div-insumo-reproceso">                                                            ' +
                                '    <div class="form-medio">                                                                                                                                    ' +
                                '        <div style="width:80px;display:inline-block;">                                                                                                          ' +
                                '            <div class="input-group">                                                                                                                           ' +
                                '                <input type="text" id="Codigo_Insumo" name="Codigo_Insumo" class="form-control" style="width:60px;"  />                                         ' +
                                `                <span class="input-group-addon"><a href="#" onclick="AbrirModalInsumos()"><span class="glyphicon glyphicon-search"></span></a></span>          ` +
                                '            </div>                                                                                                                                              ' +
                                '        </div>                                                                                                                                                  ' +
                                '        <label class="noselect control-label" style="font-weight:initial;margin-left:25px !important;" id="descripcion-insumo"></label>                         ' +
                                '    </div>                                                                                                                                                      ' +
                                '</div>';
                    var html = '<tr>';
                    html += '<td id="data1" class="form-medio">' +
                        '<input id="tb-producto" placeholder="Código" class="col-md-8 text-box single-line" style="text-align:right">' +
                        '<div class="col-md-4" style="padding:0px !important; text-align:right"><a href="#" onclick="AbrirModalProductos(\'tb-producto\')" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>' +
                        '</td>';
                    html += '<td id="Descripcion_Producto" style="overflow:hidden;white-space: nowrap;text-transform:capitalize"></td>';
                    html += '<td style="overflow:hidden;white-space: nowrap;"> <select id="select_tipo">' +
                                '<option value = "Movimiento" selected >Movimiento</option>'+
                                '<option value="Decomiso">Decomiso</option>'+
                                '<option value="Reproceso">Reproceso</option>' +
                                '<option value="Ajuste +">Ajuste +</option>' +
                                '<option value="Ajuste -">Ajuste -</option>'+
                            '</select >'+div+'</td>';
                    html += '<td  style="display:inline-block;"> <input type="text" id="nuevoLote" class="col-md-9" style="padding:0px !important; text-align:right" placeHolder="Lote"/>' +
                                  '<a href="#" onclick="AbrirModalLotes()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a>' +
                            '</td > ';
                    html += '<td id="data3"><input type="text" id="nuevaCantidad" class="col-md-12" style="padding:0px !important; text-align:right" placeHolder="Cantidad"/></td>';
                    html += '<td id="data4"><input type="text" id="nuevosKilos" class="col-md-12" style="padding:0px !important; text-align:right" placeHolder="Litros"/></td>';
                    html += '<td style="display:flex; justify-content:center"><button type="button" id="insertarDetalle" onclick="InsertarDetalle()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>' +
                         '<button type="button" onclick="RefrescarDetalles()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
                    html += '</tr>';
                    $('#DetallesSalidaProductos tbody').prepend(html);
                    $("#select_tipo").change(function () {
                        tipo = $('option:selected', this).val();
                        if (tipo == "Reproceso")
                            $("#div-insumo-reproceso").removeClass("deshabilitar");
                        else {
                            $("#div-insumo-reproceso").addClass("deshabilitar");
                            $("#div-insumo-reproceso").find("#Codigo_Insumo").val("");
                        }
                    });
                    $('#tb-producto').focus();

                    $("#tb-producto").keyup(function (e) {
                        if (e.keyCode == 13) {
                            $(this).trigger("enterKey");

                            $.ajax({
                                type: "GET",
                                url: "/ProductosVentas/GetOne/",
                                data: { Codigo_de_Producto: $('#tb-producto').val() },
                                dataType: "json",
                                success: function (data) {
                                    if (data.success) {

                                        var Producto = data.data;
                                        if (Producto != null) {

                                            $("#Descripcion_Producto").text(Producto.Descripcion);
                                        }
                                        else {
                                            notif({
                                                msg: "Error, no existe registro con el Código ingresado.",
                                                type: "error",
                                                position: "center"
                                            });

                                            $('#tb-producto').focus();
                                        }

                                    }

                                    $("#nuevaCantidad").keyup(function (e) {
                                        if (e.keyCode == 13) {
                                            $(this).trigger("enterKey");

                                            $("#nuevosKilos").focus();
                                        }
                                    });
                                }
                            });
                        }
                    });

                    $('#nuevaCantidad').numeric();
                    $('#nuevosKilos').numeric();

                }
                else {
                    $('#tb-producto').focus();
                }

                $("#nuevaCantidad").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $(this).trigger("enterKey");

                        $("#nuevosKilos").focus();
                    }
                });

            }

            function InsertarDetalle() {
                var bandera = false;

                /*VERIFICA SI YA EXISTE UN DETALLE CON EL MISMO INSUMO*/

                for (var i in listadoDetallesSalida) {
                    if (listadoDetallesSalida[i].Codigo_Producto == $('#tb-producto').val() && listadoDetallesSalida[i].Lote == $("#nuevoLote").val()) {

                        notif({
                            msg: "Ya existe un registro ingresado con ese Código y Lote",
                            type: "warning",
                            position: "center"
                        });

                        bandera = true;

                        $('#tb-producto').focus();

                    }
                }

                if (bandera == false) {
                    if ($('#tb-producto').val() == "") {

                        notif({
                            msg: "Por favor, ingrese un Código.",
                            type: "error",
                            position: "center"
                        });

                        $('#tb-producto').focus();

                        return;
                    }

                    if ($('#nuevaCantidad').val() == "" && $('#nuevosKilos').val() == "") {

                        notif({
                            msg: "Por favor, ingrese Cantidad o Kilos/Litros.",
                            type: "error",
                            position: "center"
                        });

                        $('#nuevaCantidad').focus();

                        return;

                    }
                    if ($('#nuevoLote').val() == "" ) {
                        AbrirModalLotes();

                        notif({
                            msg: "Por favor, Seleccione o Escriba un Lote.",
                            type: "error",
                            position: "center"
                        });
                        return;

                    }
                    let max = -1;
                    $.each(listadoDetallesSalida, function (i, item) {
                        if (item.Codigo_Interno > max) {
                            max = item.Codigo_Interno;
                        }
                    });
                    listadoDetallesSalida.push({
                        Codigo_Interno: max + 1,
                        Codigo_Producto: $('#tb-producto').val(),
                        Descripcion_Producto : $('#Descripcion_Producto').text(),
                        Cantidad: parseFloat($('#nuevaCantidad').val()).toFixed(4),
                        Kilos_Litros: parseFloat($('#nuevosKilos').val()).toFixed(4),
                        Lote: $("#nuevoLote").val(),
                        tipo: $("#select_tipo").val()
                    });

                    RefrescarDetalles();

                    AgregarDetalle();
                }
            }

            function SubmitSalida(Formulario) {
                //VALIDADOR DEL FORMULARIO
                let requiereSucDestino = false;
                for (var i in listadoDetallesSalida) {
                    if (listadoDetallesSalida[i].tipo == "Movimiento" || listadoDetallesSalida[i].tipo == "Reproceso") {
                        requiereSucDestino = true;
                    }
                }
                if ($("#Sucursal_Origen").val() == "") {

                    notif({
                        msg: "Complete la Sucursal Origen",
                        type: "error",
                        position: "center"
                    });

                    return false;
                }
                if ($("#Sucursal_Destino").val() == "" && requiereSucDestino) {

                    notif({
                        msg: "Complete la Sucursal Destino",
                        type: "error",
                        position: "center"
                    });

                    return false;
                }
                for (var i in listadoDetallesSalida) {


                    $('#DetallesSalida').append('<input type="text" name="Detalle_Salida_Productos[' + i + '].Codigo_Producto" value="' + listadoDetallesSalida[i].Codigo_Producto + '"/>' +
                        '<input type="text" name="Detalle_Salida_Productos[' + i + '].Cantidad" value="' +  parseFloat(listadoDetallesSalida[i].Cantidad).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Detalle_Salida_Productos[' + i + '].Lote" value="' + listadoDetallesSalida[i].Lote + '"/>' +
                        '<input type="text" name="Detalle_Salida_Productos[' + i + '].tipo" value="' + listadoDetallesSalida[i].tipo + '"/>' +
                        '<input type="text" name="Detalle_Salida_Productos[' + i + '].Codigo_Insumo_Reproceso" value="' + listadoDetallesSalida[i].Codigo_Insumo_Reproceso + '"/>' +
                        '<input type="text" name="Detalle_Salida_Productos[' + i + '].Kilos_Litros" value="' + parseFloat(listadoDetallesSalida[i].Kilos_Litros).toString().replace(".", ",")  + '"/>');
                }

                $.validator.unobtrusive.parse(Formulario);

                if ($(Formulario).valid()) {

                    $.ajax({
                        type: "POST",
                        url: "/SalidasProductos/AddOrEdit/",
                        data: $(Formulario).serialize(),
                        success: function (data) {
                            if (data.success) {
                                CargarSalidasProductos();

                                $('#modalAddOrEdit').modal('hide');

                                notif({
                                    msg: data.message,
                                    type: "success",
                                    position: "center"
                                });

                            }
                            else {

                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                            }
                        }
                    });
                }

                return false;
            }


            function BorrarDetalle(Codigo) {
                for (var i in listadoDetallesSalida) {
                    if (listadoDetallesSalida[i].Codigo_Interno == Codigo) {
                        listadoDetallesSalida.splice(i, 1);
                        RefrescarDetalles();

                        AgregarDetalle();

                        notif({
                            msg: "Registro eliminado satisfactoriamente.",
                            type: "success",
                            position: "center"
                        });
                    }
                }
            }


            function editarDetalle(Codigo) {
                RefrescarDetalles();
                $('#DetallesSalidaProductos').find('tr').find('td').each(function () {
                    if ($(this).index() == 6) {
                        if ($(this).find('#e').val() == Codigo) {

                            $(this).parent('tr').find('td').each(function () {
                                if ($(this).index() == 2) {
                                    $(this).find("#select_tipo_" + Codigo).removeAttr('disabled');


                                    if ($(this).find("#select_tipo_"+Codigo).val() == "Reproceso")
                                        $(this).find("#div-insumo-reproceso_" + Codigo).removeClass("deshabilitar");

                                    $("#select_tipo_"+Codigo).change(function () {
                                        //console.log("changed: ", $('option:selected', this).val());
                                        tipo = $('option:selected', this).val();
                                        if (tipo == "Reproceso")
                                            $("#div-insumo-reproceso_"+Codigo).removeClass("deshabilitar");
                                        else {
                                            $("#div-insumo-reproceso_"+Codigo).addClass("deshabilitar");
                                            $("#div-insumo-reproceso_" + Codigo).find("#Codigo_Insumo").val("");
                                        }
                                    });
                                }

                                if ($(this).index() == 3) {

                                    var lote = $(this).html();
                                    $(this).html("");
                                    $(this).prepend('<input type="text" id="Lote" class="col-md-12" style="padding:0px !important; text-align:right" placeHolder="Lote"/>');
                                    $('#Lote').val(lote);
                                }
                                if ($(this).index() == 4) {

                                    var cantidad = $(this).html();
                                    $(this).html("");
                                    $(this).prepend('<input type="text" id="Cantidad" class="col-md-12" style="padding:0px !important; text-align:right" placeHolder="Cantidad"/>');
                                    $('#Cantidad').val(cantidad);

                                }
                                if ($(this).index() == 5) {

                                    var kilos = $(this).html();
                                    $(this).html("");
                                    $(this).prepend('<input type="text" id="Kilos" class="col-md-12" style="padding:0px !important; text-align:right" placeHolder="Litros"/>');
                                    $('#Kilos').val(kilos);
                                }

                                if ($(this).index() == 6) {
                                    $(this).html("");

                                    $(this).prepend(
                                        "<div style='display:flex; justify-content:center'><button class='btn btn-success btn-xs' onclick=confirmarEdicionDetalle('" + Codigo + "')>" +
                                        "<span class='glyphicon glyphicon-ok'></span>" +
                                        "</button>" +
                                        "<button class='btn btn-danger btn-xs' onclick=RefrescarDetalles()>" +
                                        "<span class='glyphicon glyphicon-remove'></span>" +
                                        "</button></div>"
                                    );
                                }
                            });
                        }
                    }
                }
                )
            }
            function confirmarEdicionDetalle(Codigo) {
                $.each(listadoDetallesSalida, function (i, item) {
                    if (Codigo == item.Codigo_Interno) {
                        listadoDetallesSalida[i].Lote = $("#Lote").val();
                        listadoDetallesSalida[i].tipo = $("#select_tipo_"+Codigo).val();
                        listadoDetallesSalida[i].Cantidad = parseFloat($("#Cantidad").val());
                        listadoDetallesSalida[i].Kilos_Litros = parseFloat($("#Kilos").val());
                        if ($("#select_tipo_" + Codigo).val() == "Reproceso") {
                            let cod_insumo = $("#div-insumo-reproceso_" + Codigo).find("#Codigo_Insumo").val();
                            listadoDetallesSalida[i].Codigo_Insumo_Reproceso = cod_insumo
                        }
                        else
                            listadoDetallesSalida[i].Codigo_Insumo_Reproceso = "";
                    }
                });
                RefrescarDetalles();
            }

            function AbrirModalLotes() {
                if ($("#tb-producto").val() == "") {
                    notif({
                        msg: "Seleccionar un Producto",
                        type: "error",
                        position: "center"
                    });
                    $("#tb-producto").focus();
                    return false;
                }
                if ($("#Sucursal_Origen").val() == "") {
                    notif({
                        msg: "Seleccionar Sucursal Origen",
                        type: "error",
                        position: "center"
                    });
                    $("#Sucursal_Origen").focus();
                    return false;
                }
                $('#modalLotes').modal('toggle');
                document.getElementById("modalLotes").style.zIndex = maximoZindex($("body")) + 1;
                $("#modalLotes").on('shown.bs.modal', function () {
                    $('#modalLotes input').focus();
                });
                tablaLotes = $("#tablaLotes").DataTable({
                    "destroy": true,
                    "autoWidth": true,
                    "ajax": {
                        url: "/SalidasProductos/ObtenerLotes/",
                        data: {
                            Cod_Producto: $('#tb-producto').val(),
                            Cod_fabrica: $("#Sucursal_Origen").val()
                        },
                    },
                    "columns": [
                        {
                            "data": "Lote",
                            "title": "Lote",
                            "width": "10%"
                        },
                        {
                            "data": "Cantidad",
                            "title": "Cod. Cantidad",
                            "width": "10%"
                        },
                        {
                            "data": "Kilos",
                            "title": "Kilos",
                            "width": "10%"
                        },
                    ],
                    "language": idiomaEspañol,
                    "select": 'single',
                    "columnDefs": [
                        { className: "text-center", "targets": [0, 1, 2] },
                    ],
                    dom: 'Bfrtip',
                    buttons: [],
                    "order": [[2, "desc"]],
                    initComplete: function (data) {
                    }

                });
            }

            function ConfirmarSeleccionLote() {
                $('#tablaLotes').find('tr.selected').find('td').each(function () {
                    if ($(this).index() == 0) {
                        $("#nuevoLote").val($(this).html());
                    }
                    if ($(this).index() == 1) {
                        $("#nuevaCantidad").val($(this).html());
                    }
                    if ($(this).index() == 2) {
                        $("#nuevosKilos").val($(this).html());
                    }
                }
                )

                $('#modalLotes').modal('hide');


                //CargarProductos();
            }

        </script>

        <div class="modal-footer">
            <a onclick="SubmitSalida($('#FormAddOrEdit'))" class="btn btn-primary">Confirmar</a>
            <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal" onclick="$('#modalCreate').modal('hide');">Cerrar</button>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
