﻿@{
    ViewBag.Title = "Salidas Productos : Listado";
}

<h2>Movimiento Stock</h2>

<table id="SalidasProductosTabla" class="display compact" style="width:100%"></table>
<!--MODAL LOTES-->
<div class="modal fade" id="modalLotes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Lotes Disponibles</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tablaLotes" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarSeleccionLote()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:400px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteSalida()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddOrEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:80%">
        <div class="modal-content" id="ModalAddOrEdit"></div>
    </div>
</div>

<!-- Modal Productos-->
<div class="modal fade" id="modalProductos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Productos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA PRODUCTOS -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="ProductosTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarProductoLayout()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Producciones-->
<div class="modal fade" id="modalProducciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Producciones</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA PRODUCCIONES -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="ProduccionesTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarSeleccionProduccion()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Pasar_A_Historicos()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{
    <script>

        var Salida = 0;

        function CargarSalidasProductos() {
            dataTable = $("#SalidasProductosTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/SalidasProductos/GetData",
                    "type": "GET",
                    "datatype": "json",
                    data: { Codigo_Interno_Salida: -1 }
                },
                "columns": [
                    {
                        "data": "Codigo_Interno_Salida",
                        "title": "Código",
                        "width": "10%"
                    },
                    {
                        "data": "Fecha",
                        "title": "Fecha",
                        "render": function (data) { return moment(data).format('DD/MM/YYYY'); }
                    },
                    {
                        "data": "Prefijo",
                        "title": "Prefijo"
                    },
                    {
                        "data": "NroComprobante",
                        "title": "Nro. Comprobante"
                    },
                       {
                           "data": "Sucursal_Origen",
                           "title": "Sucursal Origen"
                       },
                    {
                        "data": "Sucursal_Destino",
                        "title": "Sucursal Destino"
                    },
                   
                    {
                        "data": "Codigo_Interno_Salida",
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-sm' onclick=AbrirModalAddOrEdit('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                    "<a class='btn btn-danger btn-sm' onclick=Salida=" + data + " data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                        },
                    }

                ],
                "language": idiomaEspañol,
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: 'nuevo',
                       action: function () {
                           AbrirModalAddOrEdit(0);
                       }
                   },
                    {
                        text: 'Actualizar <span class="glyphicon glyphicon-refresh">',
                        className: 'primary',
                        action: function () {
                            AbrirModalActualizar();
                        }
                    },
                    {
                        text: 'Refrescar <span class="glyphicon glyphicon-refresh">',
                        className: '',
                        action: function () {
                            CargarSalidasProductos();
                        }
                    }
                ],
                "columnDefs": [
                      { className: "text-center", "targets": [0, 1, 2, 3,4,5,6] }
                ],
                "order": [[1, "asc"]],
                select: 'multiple',
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                }


            });

        };

        function DeleteSalida() {
            $.ajax({
                type: "POST",
                url: "/SalidasProductos/Delete/",
                data: { Codigo_Interno_Salida: Salida },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');
                        CargarSalidasProductos();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

        function AbrirModalActualizar() {

            var bandera = false;

            $('#SalidasProductosTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {

                    bandera = true;
                }
            });

            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });

                return;
            }
            else {
                $('#modalVerificarActualizar').modal('toggle');
            }

        }

        function AbrirModalAddOrEdit(Codigo) {
            $.ajax({
                type: "GET",
                url: "/SalidasProductos/AddOrEdit/",
                data: { id: Codigo },
                success: function (data) {

                    $('#ModalAddOrEdit').html(data);

                    CargarDetallesSalida($('#Codigo_Interno_Salida').val());
                    CargarProductos();

                    if ($('#Codigo_Interno_Salida').val() > 0) {
                        $('#tituloModalAddOrEdit').html('Editar');
                    }
                    else {
                        $('#tituloModalAddOrEdit').html('Nuevo');
                    }
                    $('#ProduccionesTabla tbody').on('click', 'tr.selected', function () {

                        ConfirmarSeleccionProduccion();

                    });
                    $('#ProductosTabla tbody').on('click', 'tr.selected', function () {

                        ConfirmarProductoLayout();

                    });


                    $('#modalAddOrEdit').modal('toggle');

                }
            });
        }

        function Pasar_A_Historicos() {

            var bandera = false;

            $('#SalidasProductosTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {

                    bandera = true;
                }
            });

            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });

                return;
            }
            else {

                $('#SalidasProductosTabla').find('tr.selected').find('td').each(function () {
                    if ($(this).index() == 0) {

                        $.ajax({
                            type: "POST",
                            url: "/SalidasProductos/Pasar_A_Historico",
                            data: { Codigo_Interno_Salida: $(this).html() },
                            success: function (data) {
                                if (data.success) {

                                    CargarSalidasProductos();

                                    notif({
                                        msg: data.message,
                                        type: "success",
                                        position: "center"
                                    });

                                    $('#modalVerificarActualizar').modal('hide');
                                }
                                else {
                                    notif({
                                        msg: data.message,
                                        type: "error",
                                        position: "center"
                                    });
                                }

                            }
                        });
                    }
                });


            }
        }

        function MostrarMensaje() {
            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };

        $(document).ready(function () {

            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/

            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });

            CargarSalidasProductos();

            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje();
            }
        });
    </script>
}

