﻿@{ ViewBag.Title = "Simulador de Costos"; }

<div class="col-md-12 contenedor-formulas-add">
    <div class="col-md-12 flexible2">

        <!-- Código_Producto -->
        <div class="col-md-12 caja-contenedora">
            <div class="col-md-12 form-medio">
                <div class="col-md-5 form-medio">
                    <div class="col-md-5 form-medio">
                        <label for="Codigo_Producto" class="control-label">Producto:</label>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="text" name="Codigo_Producto" id="Codigo_Producto" class="form-control" readonly />
                            <span class="input-group-addon"><a href="#" onclick="AbrirModalProds(ConfirmarProdSimC)"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                    </div>
                    <div class="col-md-6 producto">
                        <p style="text-transform:capitalize" id="descripcion-prod-form-envasado"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Número_Producto_Ventas -->
        <div class="col-md-12 caja-contenedora">
            <div class="col-md-12 form-medio">
                <div class="col-md-5 form-medio">
                    <div class="col-md-5 form-medio">
                        <label class="control-label" for="Numero_Producto_Ventas">Producto de Ventas:</label>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input name="Numero_Producto_Ventas" id="Numero_Producto_Ventas" class="form-control" readonly />
                            <span class="input-group-addon" id="estilo-btn-producto"><a href="#" id="btn-producto" data-toggle="modal" data-target="#modalProductosVentasSim"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                    </div>
                    <div class="col-md-6 producto">
                        <p style="text-transform:capitalize" id="producto-ventas-descripcion"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cantidad_Envasada / Obtenidas_Por_Envasada -->
        <div class="col-md-12 caja-contenedora">
            <div class="col-md-12 form-medio">
                <div class="col-md-3 form-medio">

                    <div class="col-md-6 form-medio">
                        <label for="Cantidad_Envasada" class="control-label">Cantidad a Envasar:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="number" id="Cantidad_Envasada" class="form-control" style="text-align: right !important;" min="0" onkeyup="CantidadEnvasadaNoMenorA0()" readonly />
                    </div>
                </div>
            </div>
        </div>

        <!-- Kilos/Litros_Teóricos -->
        <div class="col-md-12 caja-contenedora">
            <div class="col-md-12 form-medio">
                <div class="col-md-3 form-medio">
                    <div class="col-md-6 form-medio">
                        <label for="KilosLitros_Teoricos" class="control-label">Kilos/Litros Teóricos:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="number" id="KilosLitros_Teoricos" class="form-control" style="text-align:right !important; " min="0" onkeyup="KilosLitrosTeoricosNoMenorA0()" readonly />
                    </div>
                </div>
            </div>
        </div>

        <div id="div_tablas_y_resultados">
            <!-- Listado Insumos -->
            <div class="col-md-12 caja-contenedora" id="div_listado_insumos">
                <div class="titulo-sector">Insumos</div>

                <table id="InsumosTabla" class="display compact" style="width:100%;"></table>
            </div>

            <!--SUBTOTAL INSUMOS-->
            <div class="col-md-12 caja-contenedora">
                <div class="col-md-12 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                    <div class="col-md-3 flexible" style="justify-content:flex-end;">
                        <h4 style="margin:0px 5px 0px 0px">Subtotal:</h4><h4 style="margin:0px !important" id="subtotal_insumos"></h4>
                    </div>
                </div>
            </div>

            <!-- Listado Costos Indirectos -->
            <div class="col-md-12 caja-contenedora">
                <div class="titulo-sector">Costos Indirectos</div>
                <table id="CostosFormulaTabla" class="display compact" style="width:100%;"></table>
            </div>

            <!--SUBTOTAL COSTOS-->
            <div class="col-md-12 caja-contenedora">
                <div class="col-md-12 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                    <div class="col-md-3 flexible" style="justify-content:flex-end;">
                        <h4 style="margin:0px 5px 0px 0px">Subtotal:</h4><h4 style="margin:0px !important" id="st_costos"></h4>
                    </div>
                </div>
            </div>

            <!--TOTAL FÓRMULA-->
            <div class="col-md-12 caja-contenedora">
                <div class="col-md-4 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                    <div class="col-md-7 flexible" style="justify-content:flex-end;">
                        <h3 style="margin:0px 5px 0px 0px">Total X Kilo:</h3>
                    </div>
                    <div class="col-md-4 flexible" style="justify-content:flex-start;">
                        <h3 style="margin:0px !important" id="total-kilo"></h3>
                    </div>
                </div>
                <div class="col-md-4 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                    <div class="col-md-7 flexible" style="justify-content:flex-end;">
                        <h3 style="margin:0px 5px 0px 0px">Total X Unidad:</h3>
                    </div>
                    <div class="col-md-4 flexible" style="justify-content:flex-start;">
                        <h3 style="margin:0px !important" id="total-unidad"></h3>
                    </div>
                </div>
                <div class="col-md-4 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                    <div class="col-md-3 flexible" style="justify-content:flex-end;">
                        <h3 style="margin:0px 5px 0px 0px">Total:</h3>
                    </div>
                    <div class="col-md-8 flexible" style="justify-content:flex-start;">
                        <h3 style="margin:0px !important" id="total-formula"></h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- LISTADOS PARA ENVIAR AL CONTROLADOR -->
        <div id="DetallesFormula" style="display:none"></div>
        <div id="CostosFormula" style="display:none"></div>

        <div class="col-md-12 flexible">
            <div class="col-md-12 contenedor-btns-form">
                <div class="form-group" style="margin:0px !important">
                    <a class="btn btn-default" href="@Url.Action("Index", "Home")">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Productos Ventas Simulador -->
<div class="modal fade" id="modalProductosVentasSim" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Productos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA PRODUCTOS VENTAS -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="ProductosVentaTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarProductoVentasSim()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
        //Date dd/MM/yyyy
        $.validator.methods.date = function (value, element) {
            var date = value.split("/");
            return this.optional(element) || !/Invalid|NaN/.test(new Date(date[2], date[1], date[0]).toString());
        }
    </script>
    <script>
        var TablaInsumos = null;
        var TablaCostos = null;
        var KilosTeoricos = 1;

        function ConfirmarProdSimC() {
            $('#ProductosModalTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {
                    var Codigo = $(this).html();
                    $('#Codigo_Producto').val(Codigo);
                }
                if ($(this).index() == 1) {
                    var Descripcion = $(this).html();
                    $('#descripcion-prod-form-envasado').html(Descripcion);
                }
            });

            $('#Numero_Producto_Ventas').val("");
            $('#producto-ventas-descripcion').html("← Ingrese");
            $('#estilo-btn-producto').css("background-color", "white").css("border", "solid 3px black");

            $('#Cantidad_Envasada').val("");
            $('#KilosLitros_Teoricos').val("");

            BuscarKilosTeoricos();
            $('#modalProductos').modal('hide');
        }

        function getProductoSimCostos() {
            $.ajax({
                type: "GET",
                url: "/Formulas/GetOne/",
                data: {
                    Codigo_Formula: 0,
                    Codigo_Producto: $('#Codigo_Producto').val()
                },
                success: function (data) {
                    if (data.success) {
                        if (data.data[0] != null) {
                            var Formula = data.data[0];
                            KilosTeoricos = Formula.Kilos_Teoricos;
                            $("#descripcion-prod-form-envasado").text(Formula.Producto);

                        }
                        else {
                            notif({
                                msg: "No existe producto con el Código ingresado.",
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            });
        }

        function CargarProductosVentasSimCostos() {
            dataTable = $("#ProductosVentaTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/SimuladorDeCostos/ProductosVentasRelacionados",
                    "data": {
                        codigo_producto: $("#Codigo_Producto").val()
                    },
                    "type": "GET",
                    "datatype": "json"
                },

                "columns": [
                    {
                        "data": "Numero_de_Producto",
                        "title": "Número",
                        "width": "15%"
                    },
                    {
                        "data": "Descripcion",
                        "title": "Descripción",
                        "sClass": "mayusculas-texto"
                    }
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    { className: "text-center", "targets": [0] },
                ],
                "select": true

            });
        }
        function ConfirmarProductoVentasSim(input) {
            $('#ProductosVentaTabla').find('tr.selected').find('td').each(
                function () {
                    if ($(this).index() == 0)
                        $("#Numero_Producto_Ventas").val($(this).html());
                    if ($(this).index() == 1) {
                        var Descripcion = $(this).html();
                        $('#producto-ventas-descripcion').html(Descripcion);
                    }
                }
            )
            $('#modalProductosVentasSim').modal('hide');
            $('#modalProductosVentasSim').on('hidden.bs.modal', function (e) {
                $('#Cantidad_Envasada').focus();

                var result = $("#ProductosModalTabla").DataTable().data().filter(p => {
                    return p.Codigo_Producto === $('#Codigo_Producto').val();
                })

                $('#Cantidad_Envasada').val(result[0].Unidades_Esperadas);
                $('#KilosLitros_Teoricos').val(result[0].Kilos_Teoricos);

                if ($('#Codigo_Producto').val() != "" && $('#Numero_Producto_Ventas').val() == "") {
                    $('#Cantidad_Envasada').val("");
                    $('#KilosLitros_Teoricos').val("");
                }
            });
            $('#estilo-btn-producto').css("background-color", "#eeeeee").css("border", "1px solid #cccccc");
        }

        function InicializarTablaInsumos() {
            TablaInsumos = $("#InsumosTabla").DataTable({
                "bPaginate": false,
                "bFilter": false,
                "destroy": true,
                "responsive": true,
                "autoWidth": true,
                "iDisplayLength": 50,
                "bInfo": false,
                "lengthChange": false,
                "columns": [
                    {
                        title: "Marca",
                        data: "Marca",
                        className: "Marca text-center",
                        "render": function (data) {
                            if (data == false)
                                return '<input type="checkbox" onclick=SumarTotalesSimulador()>';
                            else
                                return '<input type="checkbox" checked onclick=SumarTotalesSimulador()>';
                        }
                    },
                    {
                        title: "Código Insumo",
                        data: "Codigo_Insumo",
                        className: "Codigo_Insumo text-center"
                    },
                    {
                        title: "Insumo",
                        data: "Descripcion",
                        "sClass": "mayusculas-texto",
                        width: "35%",
                        className: "Descripcion"
                    },
                    {
                        title: "Cantidad",
                        data: "Cantidad",
                        className: "Cantidad text-right",
                        "render": function (data) {
                            if (data != null)
                                return parseFloat(data).toFixed(4);
                            else
                                return "";
                        }
                    },
                    {
                        title: "Precio Costo",
                        data: "Precio",
                        className: "Precio text-right",
                        "render": function (data) {
                            if (data != null)
                                return parseFloat(data).toFixed(4);
                            else
                                return "";
                        }
                    },
                    {
                        title: "Total",
                        data: "Total",
                        className: "Total text-right",
                        "render": function (data) {
                            if (data != null || data > 0)
                                return parseFloat(data).toFixed(4);
                            else
                                return "";
                        }
                    },
                    {
                        title: "Editar",
                        className: "Editar text-center",
                        "render": function () {
                            return "<a class='btn btn-default btn-sm' onclick=Editar(this)> <span class='glyphicon glyphicon-pencil'></span></a> ";
                        }
                    }
                ],
                "language": idiomaEspañol
            });
        }
        function InicializaCostosFormula() {
            TablaCostos = $("#CostosFormulaTabla").DataTable({
                "bPaginate": false,
                "bFilter": false,
                "destroy": true,
                "responsive": true,
                "autoWidth": true,
                "bInfo": false,
                "iDisplayLength": 50,
                "lengthChange": false,
                "columns": [
                    {
                        "data": "Marca",
                        "title": "Marca",
                        "width": "8%",
                        className: "Marca text-center",
                        "render": function (data) {
                            if (data == false)
                                return '<input type="checkbox" onclick=SumarTotalesSimulador()>';
                            else
                                return '<input type="checkbox" checked onclick=SumarTotalesSimulador()>';
                        }
                    },
                    {
                        "data": "Codigo",
                        "title": "Código",
                        "width": "8%",
                        className: "Codigo text-center"
                    },
                    {
                        "data": "Descripcion",
                        "title": "Descripción",
                        "width": "20%",
                        "sClass": "mayusculas-texto",
                        className: "Descripcion text-left"
                    },
                    {
                        "data": "Cantidad",
                        "title": "Cantidad",
                        className: "Cantidad text-right",
                        "render": function (data) {
                            if (data != null) {
                                return data;
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "Porcentaje",
                        "title": "Porcentaje",
                        className: "Porcentaje text-right",
                        "render": function (data) {
                            if (data != null) {
                                return ("% " + parseFloat(data).toFixed(2));
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "PrecioUnitario",
                        "title": "Precio Unitario",
                        className: "PrecioUnitario text-right",
                        "render": function (data) {
                            if (data != null) {
                                return parseFloat(data).toFixed(4);
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "PrecioFijo",
                        "title": "Precio Fijo",
                        className: "PrecioFijo text-right",
                        "render": function (data) {
                            if (data != null) {
                                return parseFloat(data).toFixed(4);
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "Total",
                        "title": "Total",
                        className: "Total text-right",
                        "render": function (data) {
                            if (data != null) {
                                return parseFloat(data).toFixed(4);
                            }
                            else {
                                return "";
                            }
                        }
                    }

                ],
                "language": idiomaEspañol,
                "order": [[2, "asc"]]
            });
        }

        function Editar(celda) {
            let valorCantidad = $(celda).parent('td').parent('tr').find('.Cantidad').html();
            let valorPrecio = $(celda).parent('td').parent('tr').find('.Precio').html();
            $(celda).parent('td').parent('tr').find('.Cantidad').html(`<input value="${valorCantidad} "/>`);
            $(celda).parent('td').parent('tr').find('.Precio').html(`<input value="${valorPrecio} "/>`);
            $(celda).parent('td').html(`<button class='btn btn-success btn-sm' onclick=ConfirmarEdicion(this)> <span class='glyphicon glyphicon-ok'></span></button>`);

        }
        function ConfirmarEdicion(celda) {
            let valorCantidad = $(celda).parent('td').parent('tr').find('.Cantidad input').val();
            let valorPrecio = $(celda).parent('td').parent('tr').find('.Precio input').val();
            $(celda).parent('td').parent('tr').find('.Cantidad').html(parseFloat(valorCantidad).toFixed(4));
            $(celda).parent('td').parent('tr').find('.Precio').html(parseFloat(valorPrecio).toFixed(4));
            $(celda).parent('td').parent('tr').find('.Total').html(parseFloat(valorCantidad * valorPrecio).toFixed(4));
            $(celda).parent('td').html(`<a class='btn btn-default btn-sm' onclick= Editar(this) > <span class='glyphicon glyphicon-pencil'></span></a>`);
            SumarTotalesSimulador();
        }

        function SumarTotalesSimulador() {
            let TotalInsumos = 0;
            let Total = 0;
            let TotalCostos = 0;
            $("#InsumosTabla tbody tr").each(function (i, item) {
                let total = $(this).find(".Total").text();
                if ($(this).find(".Marca input").prop('checked')) {
                    TotalInsumos += parseFloat(total);
                }
            });
            $("#CostosFormulaTabla tbody tr").each(function (i, item) {
                let total = $(this).find(".Total").text();
                if ($(this).find(".Marca input").prop('checked')) {
                    TotalCostos += parseFloat(total || 0);
                }
            });

            TotalFormula = TotalInsumos + TotalCostos;
            $('#st_costos').html(parseFloat(TotalCostos).toFixed(4));
            $('#subtotal_insumos').html(parseFloat(TotalInsumos).toFixed(4));
            $('#total-formula').html(parseFloat(TotalFormula).toFixed(4));
            $('#total-kilo').html(parseFloat(TotalFormula / KilosTeoricos).toFixed(4));

            if ($("#Cantidad_Envasada").val() == 0) {
                $('#total-unidad').html(0);
            }
            else {
                $('#total-unidad').html(parseFloat(TotalFormula / $("#Cantidad_Envasada").val()).toFixed(4));
            }
        }
        function Actualizar() {
            let urlInsumos = `/SimuladorDeCostos/ObtenerInsumos?codigo_producto=${$("#Codigo_Producto").val().trim()}&numero_de_producto=${$("#Numero_Producto_Ventas").val().trim()}&cantidadAEnvasar=${$("#Cantidad_Envasada").val()}`

            let urlCostos = `/SimuladorDeCostos/ObtenerCostosIndirectos?codigo_producto=${$("#Codigo_Producto").val().trim()}&numero_de_producto=${$("#Numero_Producto_Ventas").val().trim()}`

            if (!$("#Codigo_Producto").val() || !$("#Numero_Producto_Ventas").val() || !$("#Cantidad_Envasada").val()) {
                notif({
                    msg: "Completar los campos",
                    type: "error",
                    position: "center"
                });
                $("#div_tablas_y_resultados").hide();
            } else {
                $("#div_tablas_y_resultados").show();
                TablaInsumos.ajax.url(urlInsumos).load(SumarTotalesSimulador);
                TablaCostos.ajax.url(urlCostos).load(SumarTotalesSimulador);
            }
        }

        function BuscarKilosTeoricos() {
            $.ajax({
                type: "GET",
                url: "/Formulas/GetOne/",
                data: {
                    Codigo_Formula: 0,
                    Codigo_Producto: $('#Codigo_Producto').val()
                },
                success: function (res) {
                    KilosTeoricos = res.data[0].Kilos_Teoricos;
                }
            });
        }

        function CantidadEnvasadaNoMenorA0() {
            if ($('#Cantidad_Envasada').val() < 0) {
                $('#Cantidad_Envasada').val('');
            }
        }
        function KilosLitrosTeoricosNoMenorA0() {
            if ($('#KilosLitros_Teoricos').val() < 0) {
                $('#KilosLitros_Teoricos').val('');
            }
        }

        $(document).ready(function () {
            $("#btn-producto").click(function () {
                 CargarProductosVentasSimCostos();
            }) 
            $("#Numero_Producto_Ventas").val("");
            $("#Codigo_Producto").change(function () {
                getProductoSimCostos();
                $("#Numero_Producto_Ventas").val("");
                $('#producto-ventas-descripcion').html("");
                CargarProductosVentasSimCostos();
            });
            $("#Cantidad_Envasada").keyup(function (e) {
                if (e.keyCode == 13) {
                    Actualizar();
                }
            });

            $("#Numero_Producto_Ventas").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "GET",
                        url: "/SimuladorDeCostos/ProductosVentasRelacionados/",
                        data: { codigo_producto: $('#Codigo_Producto').val() },
                        success: function (data) {
                            let descripcion = '';
                            var result = $("#ProductosModalTabla").DataTable().data().filter(p => {
                                return p.Codigo_Producto === $('#Codigo_Producto').val();
                            })
                            for (var i = 0; i < data.data.length; i++) {
                                let item = data.data[i];
                                if (item.Numero_de_Producto === $("#Numero_Producto_Ventas").val()) {
                                    descripcion = item.Descripcion;
                                }
                            }
                            if (descripcion !== '') {
                                $('#estilo-btn-producto').css("background-color", "#eeeeee").css("border", "1px solid #cccccc");
                                $('#producto-ventas-descripcion').html(descripcion);
                                $('#Cantidad_Envasada').focus();
                                $('#Cantidad_Envasada').val(result[0].Unidades_Esperadas);
                                $('#KilosLitros_Teoricos').val(result[0].Kilos_Teoricos);
                            }
                            else {
                                notif({
                                    msg: "No existe relación con el Producto Desnudo",
                                    type: "error",
                                    position: "center"
                                });

                                $("#Numero_Producto_Ventas").focus();
                            }
                        }
                    });
                }
            });

            $("#modalProductosVentasSim").on('shown.bs.modal', function () {
                $('#modalProductosVentasSim input').focus();
            });

            InicializarTablaInsumos();
            InicializaCostosFormula();

            $('#Codigo_Producto').val("");
            $('#Codigo_Producto').focus();

            $('#ProductosVentaTabla').on('click', 'tr.selected', function () {
                ConfirmarProductoVentasSim();
            });
        });
    </script>
}
