﻿@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;

    Entities db = new Entities();

    <script src="~/Scripts/CorrectorDecimales.js"></script>

}

<div class="modal-header modalCreate col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Motivos de Retención</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body modalCreate" id="BodyTinas">
    <table id="MotivosRetencionTabla" class="display compact" style="width:100%"></table>

    <script>
        
        var dataTableTinas = [];
        var listadoTinas = [];

        var Codigo_Tina_Actual = 0;
        var Codigo_Fabrica_Actual = 0;

        function CargarMotivosLayout() {
            $.ajax({
                type: "GET",
                url: "/MotivosRetencion/GetData/",
                dataType: "json",
                success: function (data) {
                    if (data.success) {

                        listadoTinas = data.data;

                        dataTableTinas = $("#MotivosRetencionTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            data: listadoTinas,
                            "columns": [
                                {
                                    "data": "Codigo_Motivo_Retencion",
                                    "title": "Código",
                                    "width": "10%"
                                },
                                {
                                    "data": "Descripcion",
                                    "title": "Descripción",
                                    "width": "55%"
                                },
                                {
                                    "data": "Tipo",
                                    "title": "Se Usa En",
                                    "width": "20%",
                                    "render": function (data, type, row) {
                                        let selector = ' <select id="s" disabled="true"> ';
                                        let produccion = ' <option value="Produccion">Produccion</option> ';
                                        let calidad = ' <option value="Calidad">Liberar Por Calidad</option> ';
                                        if (data == "Produccion") {
                                            produccion = ' <option value="Produccion" selected >Produccion</option> ';
                                        }
                                        else {
                                            calidad = ' <option value="Calidad" selected >Liberar Por Calidad</option> ';
                                        }
                                        selector += produccion + calidad + ' </select>';
                                        return selector
                                    },
                                    
                                },
                                {
                                    "data": "Codigo_Motivo_Retencion",
                                    "width": "15%",
                                    "title": "",
                                    "render": function (data, type, row) {
                                        let fabrica = 0;
                                        return " <a class='btn btn-default btn-xs' onclick='EditarTina(" + data + ", " + fabrica + ");'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                            "<a class='btn btn-danger btn-xs'onclick='Codigo_Tina_Actual=" + data + "; Codigo_Fabrica_Actual=" + fabrica + "' data-toggle='modal' data-target='#modalDeleteTina'><span class='glyphicon glyphicon-trash'></span></a>";
                                    },
                                }

                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                { className: "text-center", "targets": [0,2] },
                                { className: "text-left", "targets": 1 }
                            ],
                            dom: 'Brt',
                            buttons: [
                               {
                                   text: '<span class="glyphicon glyphicon-plus">',
                                   className: 'nuevo',
                                   action: function () {
                                       AgregarTina();
                                   }
                               }
                            ],
                            "order": [[1, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            }

                        });
                    }
                }
            });
        };

        function AgregarTina() {
            var filaAgregada = false;

            $('#MotivosRetencionTabla').find('#insert').each(function () {
                filaAgregada = true;
            });

            if (filaAgregada == false) {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
                let selector = ' <select id="nuevo_tipo"> ';
                let produccion = ' <option value="Produccion">Produccion</option> ';
                let calidad = ' <option value="Calidad">Liberar Por Calidad</option> ';
                selector += produccion + calidad + ' </select>';
                var html = '<tr>';
                html += '<td><input name="Codigo_Motivo_Retencion" id="data0" placeholder="Código Motivo"></input></td>';
                html += '<td><input id="data1" name="Descripcion" placeholder="Descripcion" ></input></td>';
                html += '<td>' + selector + '</td>';
                html += '<td class="text-center"><button type="button" name="insert" onclick="InsertarTina()" id="insert" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>' +
                    '<button type="button" name="cancel" id="cancel" onclick="CargarMotivosLayout()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';

                $('#MotivosRetencionTabla tbody').prepend(html);

                $("#data0").keyup(function (e) {
                    if (e.keyCode == 13) {
                        if (false/*!$(this).val().trim()*/)
                            AbrirModalFabricas();

                        else {
                            $(this).trigger("enterKey");
                            $("#data1").focus();
                        }
                    }
                });

                $("#data1").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $(this).trigger("enterKey");

                        InsertarTina();
                    }
                });

                $('#data0').focus();

            }
            else {
                $('#data0').focus();
            }
        };

        function refrescarTinas() { CargarMotivosLayout() };

        function EditarTina(Codigo_Tina, Codigo_Fabrica) {
            dataTableTinas.clear();
            dataTableTinas.rows.add(listadoTinas);
            dataTableTinas.draw();

            let fabrica = -1;

            $('#MotivosRetencionTabla').find('tr').find('td').each(function () {

                /*
                if ($(this).index() == 0)
                    fabrica = parseInt($(this).text().trim());
                */

                if ($(this).index() == 0) {

                    if ($(this).html() == Codigo_Tina /*&& Codigo_Fabrica == fabrica*/) {

                        $(this).parent('tr').find('td').each(function () {

                            if ($(this).index() == 1) {

                                var Descripcion = $(this).html();

                                $(this).html("");

                                $(this).prepend('<input id="nuevaDescripcion" type="text" class="text-right" style="width:100%; text-align: left;"/>');

                                $('#nuevaDescripcion').val(Descripcion);
                                $('#nuevaDescripcion').focus();
                            }
                            if ($(this).index() == 2) {
                                $(this).find("#s").removeAttr('disabled');

                            }
                            if ($(this).index() == 3) {
                                $(this).html("");

                                $(this).prepend(
                                    "<a class='btn btn-success btn-xs' onclick='confirmarEdicion(" + Codigo_Tina + ", " + Codigo_Fabrica + ");'>" +
                                        "<span class='glyphicon glyphicon-ok'></span>" +
                                    "</a>" +
                                    "<a class='btn btn-danger btn-xs' onclick=refrescarTinas()>" +
                                        "<span class='glyphicon glyphicon-remove'></span>" +
                                    "</a>"

                                 );
                            }
                        });
                    }
                }
            });

            //$('#nuevosLitros').numeric(",");

            $("#nuevaDescripcion").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");

                    confirmarEdicion(Codigo_Tina, Codigo_Fabrica);
                }
            });
        };

        function confirmarEdicion(Codigo_Tina, Codigo_Fabrica) {
            let nuevaDescripcion = $("#nuevaDescripcion").val();
            let tipo = '';
            $('#MotivosRetencionTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 0) {

                    if ($(this).html() == Codigo_Tina) {

                        $(this).parent('tr').find('td').each(function () {

                            if ($(this).index() == 2) {
                                tipo = $(this).find("#s").val();

                            }
                        });
                    }
                }
            });


            $.ajax({
                type: "POST",
                url: "/MotivosRetencion/AddOrEdit/",
                data: {
                    Codigo_Motivo_Retencion: Codigo_Tina,
                    Descripcion: nuevaDescripcion,
                    Tipo: tipo
                },
                success: function (data) {
                    if (data.success) {
                        CargarMotivosLayout();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        };

        function DeleteTina() {
            $.ajax({
                type: "POST",
                url: "/MotivosRetencion/Delete/",
                data: { CodigoMotivo: Codigo_Tina_Actual, Codigo_Fabrica: Codigo_Fabrica_Actual },
                success: function (data) {
                    if (data.success) {
                        $('#modalDeleteTina').modal('hide');
                        CargarMotivosLayout();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

        function InsertarTina() {
            let CodigoTina = $("#data0").val();
            let DescripcionTina = $("#data1").val();
            let tipo = $("#nuevo_tipo").val();
            //let LitrosTina = $("#data2").val();

            $.ajax({
                url: "/MotivosRetencion/AddOrEdit/",
                    method: "POST",
                data: {
                        Codigo_Motivo_Retencion: CodigoTina,
                        Descripcion: DescripcionTina,
                        Tipo:tipo
                    },
                    success: function (data) {
                        if (data.success) {

                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                            CargarMotivosLayout();

                            AgregarTina();
                        }
                        else {

                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });

                            $('#data1').focus();
                        }
                    }
                });
            
        };
    </script>
</div>

<div class="modal-footer modalCreate">
    <button type="button" class="btn btn-primary" id="ConfirmarMotivoRetencion">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>




