﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "IniciosSesion : Listado";

    Entities db = new Entities();
}

<div class="row" style="display:flex; justify-content:center">
    <div class="col-md-6">
        <h2>Sesiones de Usuarios</h2>
        <table id="IniciosSesionTabla" class="display compact" style="width:100%"></table>
    </div>
</div>

<!-- Modal Cerrar Sesión-->
<div class="modal fade" id="modalCerrarSesion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:30%">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro/a?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="CerrarSesionUsuario()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script>

        function CargarIniciosSesion() {

            $.ajax({
                type: "GET",
                url: "/IniciosSesion/GetData/",
                dataType: "json",
                success: function (data) {
                    if (data.success) {

                        listadoIniciosSesion = data.data;

                        dataTableIniciosSesion = $("#IniciosSesionTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            data: listadoIniciosSesion,
                            "columns": [
                                {
                                    "data": "Fecha",
                                    "title": "Fecha",
                                    "render": function (data) {
                                        if (data != null) {
                                            return moment(data).format('DD/MM/YYYY h:mm:ss a');
                                        }
                                        else {
                                            return "";
                                        }

                                    }
                                },
                                {
                                    "data": "Usuario",
                                    "title": "Usuario"
                                },
                                {
                                    "data": "Contraseña",
                                    "title": "Contraseña"
                                },
                                {
                                    "data": "idUsuario",
                                    "width": "10%",
                                    "title": "Herramientas",
                                    "render": function (data) {
                                        return "<a class='btn btn-danger btn-sm'onclick=modificarInput(" + data + ") data-toggle='modal' data-target='#modalCerrarSesion'><span class='glyphicon glyphicon-log-out'></span> Cerrar sesión</a></div>";
                                    },
                                }

                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                    { className: "text-center", "targets": [0, 3] },
                            ],
                            "order": [[1, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            }

                        });
                    }

                }
            });


        };

        function modificarInput(Codigo) {
            $('input.codigo').text(Codigo);
        }

        function CerrarSesionUsuario() {
            $.ajax({
                type: "POST",
                url: "/IniciosSesion/Delete/",
                data: { idUsuario : $('input.codigo').text()},
                success: function (data) {
                    if (data.success) {

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                        $('#modalCerrarSesion').modal('hide');

                        CargarIniciosSesion();

                    } else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }

        $(document).ready(function () {

            CargarIniciosSesion();
        });

    </script>
}

