﻿
/* MODIFICACIONES GENERALES */

.row{
    margin-bottom:15px;
}

#Imagen img {
    width:100px;
    height:100px;
    display:block;

}

/* Para evitar el espacio en blanco al abrir un modal */
.modal-open {
    overflow-y: hidden;
    margin-right: 0px !important; 
}

span{
    line-height:normal;
}

.seleccionada{
    background-color:#a6b4cd !important;
}

.caja-sector{
    border: 1px #0a6cbe solid;
    display:flex;
    padding:10px !important;
    margin-bottom:15px !important;
}

.caja-sector-modal{
    border: 1px #0a6cbe solid;
    display:flex;
    padding:10px !important;
    margin-bottom:10px !important;
}

.text-align-right{
    padding:0px 10px !important;
}

.text-nowrap{
    white-space: nowrap;
}
.middle-input {
    margin: 0px 10px 0px 5px;
}

.last-input{
    margin-left: 5px;
}

.modal-header{
    /*display:flex !important;
    justify-content:space-between;*/
    min-height:40px !important;
}

textarea{
    resize:none !important;
    width:100% !important;
    height:100% !important;
}

.li-permisos{
    color: #fff !important;
    width:100% !important;
    align-items:center;
}

.li-permisos a{
    padding:10px !important;
        display:flex !important; 
    justify-content:space-between;
    cursor:pointer;
}

.li-permisos input[type=checkbox]{
    margin:0px 0px 0px 10px !important;
}

.listado-analisis {
    width: 250px;
    height: 150px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 5px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 5px;
    width: 16px;
    cursor: pointer;
}

.checkbox-item label {
    margin: 0;
    flex: 1;
}

.dropdown-submenu {
    position: relative !important;
    display:flex !important;
    flex-wrap:nowrap !important; 
}

.dropdown-submenu > li > a{
    display:flex !important;
    justify-content:space-between !important; 
}

.dropdown-submenu .dropdown-menu {
    top: 0 !important;
    left: 100% !important;
    margin-top: -1px !important;
}

fieldset.scheduler-border {
    border: 1px solid #0a6cbe !important;
    padding: 0 10px 10px 10px !important;
    margin: 0 0 10px 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    margin:10px !important;
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    color: #0a6cbe;
}
.motivo_rechazo{
    color:red;
    margin:5px;
}
.noOrdenable .sorting, .sorting_asc, .sorting_desc {
    background: none;
}

.expedicion_rechazada td {
    background-color: transparent !important;
}

.expedicion_rechazada {
    background-color: rgba(255, 0, 0, 0.2) !important;
}

.expedicion_rechazada.selected{
    background-color: rgba(255, 0, 0, 0.4) !important;
}

table.dataTable.noOrdenable thead .sorting, 
table.dataTable.noOrdenable thead .sorting_asc, 
table.dataTable.noOrdenable thead .sorting_desc {
    background : none;
}

.contenedor-principal{
    width: 97% !important;
    margin:auto;
    margin-top:60px !important;
}

.caja-contenedora .titulo-caja{
    font-size: 18px;
    font-weight:bold;
}


table td{
    padding:1px !important;

}

.body-content{
    margin-top:55px !important;
}

.cuerpo-modal{
    background-color:#eeecec !important;
}

.modal-footer {
    border-top: 3px solid #e5e5e5 !important;
    text-align: center !important;
    padding: 10px !important;
}

input[type=text]{
    padding:0px 7px !important;
}

input[type=datetime] {
    width:100px !important;
}

input .form-control{
    padding:3px !important;
}

.container{
    width:90% !important;
}

input #ajusteNuevo{
    padding:1px !important;
}

.navbar-inverse .navbar-brand {
    color:#fff !important;
}

.navbar-inverse .navbar-nav > li > a {
    color:#fff !important;
}

.navbar-nav > .dropdown-menu > li > a:hover{
    color:#fff !important;
}

.modalCreate{
    margin: 0px !important;
    background-color:#eeecec;
}

.btnConfirmacionFrm{
    margin-right: 15px;
}

.overflow-y-hidden{
    overflow-y: hidden;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
        transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* DATATABLES */
#DetallesProduccionesAdd .dt-buttons {
    width: 100% !important;
    display: flex !important;
    float: none;
}

#DetallesProduccionesAdd .dt-buttons .buttons-derecha{
    align-self:flex-end !important;
    display:flex !important;
}

table input{
    padding:0px !important;
}

.dataTable td{
    cursor:default;
    user-select:none;
}

.dt-buttons .verde{
    background: #5cb85c !important;
    color:#fff !important;
}

.dt-buttons .azul {
    background: #428bca !important;
    color: #fff !important;
}

.dt-buttons .rojo{
    background: #d9534f !important;
    color:#fff !important;
}

.detallesTabla tbody tr td{
    padding:5px !important
}

.mostrar-detalles{
    background: url('../images/agregar.png') no-repeat center;
    cursor:pointer;
}

.dt-buttons .nuevo{
    background:#5cb85c !important;
    padding:5px !important;

}

.dt-buttons .primary{
    background:#428bca !important;
    padding:5px !important;
    color:#fff;

}

.dt-buttons .nuevo span{
    color:#fff !important;
}

.dt-buttons .resultados{
    background:#5cb85c !important;
    padding:5px !important;
    color: #fff;

}

.dt-buttons .cambiarEstado{
    background:#428bca !important;
    padding:5px !important;
    color: #fff;
}

.dt-buttons .ajustes{
    background:#428bca !important;
    padding:5px !important;
    color: #fff;

}

.botonDropdown{
    width:150px !important;
    padding:0px !important;
    border: 0px !important;
}

table thead{
    background-color:#598cbf;
    color:#edf3f2;
}

table tbody a{
    margin:0px 2.5px !important;
}

.AddProduccion {
    margin-right: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*FORMULARIOS*/

.form-medio {
    display: flex !important;
    align-content: center;
    align-items: center;
    padding: 0px !important;
    color: #0a6cbe;
}

.caja-contenedora > .form-medio{
    margin-bottom: 5px !important;
}

thead, th {text-align: center !important;}

.dropdown-menu{
    padding: 0px !important;
    background-color: #222 !important;

}

.control-label{
    margin:0px !important;
    padding:0px !important;
}

.label-data {
    margin:0px !important; 
    font-weight: normal;
}

.negrita{
    font: bold;
}

.input-group{
    margin:0px !important;
}

.caja-contenedora hr{
    margin:10px 0px !important;
    border:1px solid #0a6cbe;
    
}

.flexible{
    display:flex !important;
    padding:0px !important;

}
.flexible2{
    display:flex !important;
    padding:0px !important;
    flex-direction:column;
}

/* VISTA HOME INDEX*/

.contenedor-index-home{

}

.contenedor-index-home .contenedor-maestros{
    background-color:#e5f5e5;
    padding:20px;
}

.contenedor-index-home .contenedor-maestros .titulo{
    color:#222;
}

.contenedor-index-home .contenedor-maestros hr{
    color:#fff;

}

.contenedor-general{
    margin-top:50px !important;
}

.contenedor-index-home .contenedor-titulo{
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:36px;
    background-color:#92cdeb;
    color:#fff;
    font-family:sans-serif;

}

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}


input.input-validation-error {
    border: 1px solid #e80c4d;
}

.dropdown-menu > li > a{
    border-color: #080808 !important;
    height:100%;
    color: #fff !important;
    padding:10px 20px !important;
    display:block;
    width:100% !important;
    align-items:center;
}

.dropdown-menu > li > a > p{
    margin:0px !important;
}

.dropdown-menu > li > a > span{
    margin-left:10px;
}

.nav .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.dropdown-menu > li > a:hover{

   color:#fff !important;

}


/* ICONOS DE DATATABLE*/

td.details-control {
    background: url('../images/agregar.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../images/quitar.png') no-repeat center center;
}

/* VISTA ADDOREDIT FORMULAS*/

.contenedor-formulas-add{
    margin-top:0px;

    padding:0px !important;
    background-color:#eeecec;
}

.contenedor-formulas-add .titulo-sector{
    margin:0px !important;
    text-align:center;
    font-weight:bold;
    margin:auto;

}

.contenedor-formulas-cont{
    display:flex !important;
    flex-direction:row !important;
    padding:0px !important;
}

.producto p {
    margin: 0px !important;
    color: #0a6cbe;
}

.contenedor-btns-form{
    display:flex !important;

    background-color:#dcdcdc;

    padding:10px;

    flex-direction:row;

    justify-content:center;
    align-content:center;

}

.contenedor-listados{
    display:flex !important;
    padding:0px !important;
    margin: 0.5px;

    flex-direction:column;

    background-color:#eeecec;
}

.contenedor-formulas-prods{
    padding:20px;
}

.contenedor-formulas-edit{
    background-color:#ebdfd7;
   padding:20px;
}

/* VISTA ADDOREDIT INSUMOS*/

.contenedor-insumos-add{
    margin-top: 0px;
    padding:0px !important;

    background-color:#eeecec;
}

input[type=number]{
    text-align:right !important;
}

input[type=radio]{
   margin:0px !important;
}

.contenedor-insumos-add .columna-izquierda{
    padding: 0px !important;
}

.contenedor-insumos-add .columna-derecha{
    padding: 0px !important;

    display:flex;
    flex-direction:column;
}

.padding-nulo{
    padding:0px !important;
}

.a-la-derecha{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.razon-social{
    font-size:18px;
}

/*PROVEEDORES*/

.provee-habitual > p{
    margin:0px !important;
    color:#0a6cbe;
}

.provee-alternativo > p{
    margin:0px !important;
    color:#0a6cbe;
}

.provee-ultimo > p{
    margin:0px !important;
    color:#0a6cbe;
}

/*IMPUTACION*/

.imputacion > p{
    margin:0px !important;
    color:#0a6cbe;
}

.caja-contenedora{
    padding:10px !important; 
    margin: 0.5px;

    color:#0a6cbe;

    font-size:15px !important;

}

.form-control{
    height:25px !important;
    min-width:50px;
}

select{
    padding:0px !important;
}

/* VISTA ADDOREDIT PRODUCCIONES*/

.contenedor-producciones-add{
    margin-top: 0px;
    padding:0px !important;

    background-color:#eeecec;
}


.mayusculas-texto{
    text-transform:capitalize !important;
    padding-left:15px !important;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.modal-body{
    padding:10px !important;
}
.modal-header{
    padding:10px !important;
}

/* VISTA ADDOREDIT ORDENES DE COMPRA */

#modalArticulosLabel {
    display: inline-block;
}