﻿
td.editable {
        background-color: #efefef!important;
        text-align: center;
        max-width: 120px;
        max-height: 30px!important;
        overflow-x: hidden;
}

td.editable:hover {
        border: 1px solid yellow!important;
        font-weight: bold;
        cursor: text;
}

.currency {
        border: 1px solid black;
}

.currency-data {
        padding: 15px 15px;
        margin: 0;
        font-size: 1.5em;
}

.currency-data p {
            margin-bottom: 0;
}

.currency-data.content {
        color: black;
        background-color: #fff;
}

.currency-data.value {
        font-weight: bold;
        color: #fff;
        background-color: #079a7d;
}

.currency-date {
    font-weight: bold;
}

input[type='datetime'] {
    min-width: 102px!important;
    padding: 5px 10px!important;
}


#EnvasadosTabla_paginate {
    padding-top: 0!important;
    clear: right;
    margin-right: 10px;
}