﻿@model AccesoDatos.Contexto.Produccion.Formulas
@using MVC_Produccion.Sesiones

@{
    if (Model.Codigo_Formula == 0)
    { ViewBag.Title = "Fórmulas : Nuevo"; }
    else
    { ViewBag.Title = "Fórmulas : Editar"; }
    bool muestraCostos = Sesion.UsuarioActual.Muestra_Costos.HasValue ? Sesion.UsuarioActual.Muestra_Costos.Value : false;

}

@using (Html.BeginForm("AddOrEdit", "Formulas", FormMethod.Post, new { id = "formAddOrEdit" }))
{
    <div class="col-md-12 contenedor-formulas-add">
        <div class="col-md-12 flexible2">

            <!-- CONTENEDOR SUBMIT-->
            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <a class="AddFormula btn btn-primary">Confirmar</a>
                        <a class="btn btn-default" href="@Url.Action("Index", "Formulas")">Volver</a>
                    </div>
                </div>
            </div>

            <!-- CONTENEDOR DETALLES DE FÓRMULA-->
            <div class="col-md-12 contenedor-formulas-cont">

                <!--CODIGO FÓRMULA / PRODUCTO-->
                <div class="col-md-7 caja-contenedora">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-12 form-medio">
                            <div style="display:none">
                                @Html.EditorFor(model => model.Codigo_Formula, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @if (Model.Codigo_Formula == 0)
                            {
                                <div class="col-md-2 form-medio">
                                    @Html.LabelFor(model => model.Codigo_Producto, "Producto", htmlAttributes: new { @class = "control-label" }):
                                </div>
                                <div class="col-md-2 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Producto, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalProdsFormulas(0)"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                                <div class="col-md-7 producto">
                                    @Html.ValidationMessageFor(model => model.Codigo_Producto)
                                    <p style="text-transform:capitalize" id="producto-descripcion"></p>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-2 form-medio">
                                        @Html.LabelFor(model => model.Codigo_Producto, "Producto", htmlAttributes: new { @class = "control-label" }):
                                    </div>
                                    <div class="col-md-2 form-medio">
                                        @Html.EditorFor(model => model.Codigo_Producto, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Codigo_Producto)
                                    </div>
                                    <div class="col-md-7 producto">
                                        <p style="text-transform:capitalize">@Model.Productos.Descripcion</p>
                                    </div>
                                </div>

                                <div class="form-group" style="display:none">
                                    @Html.LabelFor(model => model.Codigo_Producto, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.Codigo_Producto, new SelectList(ViewBag.Productos, "Codigo_Producto", "Descripcion"), "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Codigo_Producto, "", new { @class = "text-danger" })
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-12 form-medio">
                        <div class="col-md-4 form-medio" id="LitrosLeche" style="display:none !important">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Litros_Tina, "Litros Leche", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Litros_Tina, new { htmlAttributes = new { @class = "form-control litros-o-kilos", onchange = "FormulaCantidadIgualLitros() ", min = "0", oninput = "NoCaracteresEspeciales($(this))" } })
                            </div>
                        </div>
                        <div class="col-md-4 form-medio" id="KilosReproceso" style="display:none !important">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Kilos_Reproceso, "Kilos de Reproceso", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Kilos_Reproceso, new { htmlAttributes = new { @class = "form-control litros-o-kilos", onchange = "FormulaCantidadIgualLitros()", min = "0", oninput = "NoCaracteresEspeciales($(this))" } })
                            </div>
                        </div>
                        <div class="col-md-4 form-medio" id="KilosMasa" style="display:none !important">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Kilos_Masa, "Kilos Masa", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Kilos_Masa, new { htmlAttributes = new { @class = "form-control litros-o-kilos", onchange = "FormulaCantidadIgualLitros()", min = "0", oninput = "NoCaracteresEspeciales($(this))" } })
                            </div>
                        </div>
                        <div class="col-md-4 form-medio" id="LitrosSuero" style="display:none !important">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Litros_Suero, "Litros Suero", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Litros_Suero, new { htmlAttributes = new { @class = "form-control litros-o-kilos", onchange = "FormulaCantidadIgualLitros()", min = "0", oninput = "NoDecimales($(this))" } })
                            </div>
                        </div>
                        <div class="col-md-4 form-medio" id="LitrosCrema" style="display:none !important">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Litros_Crema, "Litros Crema", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Litros_Crema, new { htmlAttributes = new { @class = "form-control litros-o-kilos", onchange = "FormulaCantidadIgualLitros()", min = "0", oninput = "NoCaracteresEspeciales($(this))" } })
                            </div>
                        </div>
                        <div class="col-md-5 form-medio flexible2">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-9 form-medio">
                                    @Html.LabelFor(model => model.Kilos_Teoricos, "Kilos/Litros Teóricos", new { @class = "control-label" }):
                                </div>
                                <div class="col-md-5 form-medio">
                                    @Html.EditorFor(model => model.Kilos_Teoricos, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", onchange = "SumaDeTotales()" } })
                                </div>
                            </div>
                            <div class="col-md-10 form-medio">
                                @Html.ValidationMessageFor(model => model.Kilos_Teoricos)
                            </div>
                        </div>
                        <div class="col-md-5 form-medio flexible2">
                            <div class="col-md-11 form-medio">
                                <div class="col-md-8 form-medio">
                                    @Html.LabelFor(model => model.Unidades_Esperadas, "Unidades Esperadas", new { @class = "control-label" }):
                                </div>
                                <div class="col-md-5 form-medio">
                                    @Html.EditorFor(model => model.Unidades_Esperadas, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(model => model.Unidades_Esperadas)
                            </div>
                        </div>
                        <div class="col-md-3 form-medio" id="Contenedor_Factor" style="display:none !important">
                            <div class="col-md-4 col-md-offset-2 form-medio">
                                @Html.LabelFor(model => model.Factor, "Factor", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.EditorFor(model => model.Factor, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right; margin-left: 15px" } })
                                @Html.ValidationMessageFor(model => model.Factor)
                            </div>
                        </div>

                    </div>

                    <div class="col-md-7" style="margin-bottom: 10px; margin-top: 10px; padding: 0!important;">
                        <div class="col-md-3" style="padding: 0!important;">
                            @Html.LabelFor(model => model.Fecha_Alta, "Fecha Alta ", new { @class = "control-label" }):
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Fecha_Alta, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @readonly = "true", @placeholder = "Aún no posee ", @Value = Model.Fecha_Alta.HasValue ? Model.Fecha_Alta.Value.ToShortDateString() : "" } })
                            @Html.ValidationMessageFor(model => model.Fecha_Alta)
                        </div>
                    </div>
                    <div class="col-md-12 form-medio">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-2 form-medio">
                                @Html.LabelFor(model => model.Comentario, "Comentario", new { @class = "control-label" }):
                            </div>
                            <div class="col-md-10 form-medio">
                                @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize; margin-left: 30px" } })
                                @Html.ValidationMessageFor(model => model.Comentario)
                            </div>
                        </div>
                    </div>
                </div>

                <!--LISTADO PRODUCTOS ASOCIADOS-->
                <div class="col-md-8 caja-contenedora">
                    <!--INSUMOS RECUPERADOS-->
                    <div class="titulo-sector">Insumos De Recupero</div>
                    <table id="InsumosFormulaTabla" class="display compact" style="width:100%"></table>
                </div>
            </div>
            <div class="col-md-12 contenedor-listados">
                <!--DETALLES-->
                <div class="col-md-12 caja-contenedora">
                    <div class="titulo-sector">Artículos</div>
                    <table id="DetallesTabla" class="display compact" style="width:100%"></table>
                </div>
                <div class="col-md-12 caja-contenedora" id="SubT_articulos">
                    <div class="col-md-12 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                        <div class="col-md-3 flexible" style="justify-content:flex-end;">
                            <h4 style="margin:0px 5px 0px 0px">Subtotal:</h4><h4 style="margin:0px !important" id="st_articulos"></h4>
                        </div>
                    </div>
                </div>
                <!--COSTOS INDIRECTOS-->
                <div class="col-md-12 caja-contenedora">
                    <div class="titulo-sector">Costos Indirectos</div>
                    <table id="CostosFormulaTabla" class="display compact" style="width:100%"></table>
                </div>
                <div class="col-md-12 caja-contenedora" id="SubT_costos">
                    <div class="col-md-12 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                        <div class="col-md-3 flexible" style="justify-content:flex-end;">
                            <h4 style="margin:0px 5px 0px 0px">Subtotal:</h4><h4 style="margin:0px !important" id="st_costos"></h4>
                        </div>
                    </div>
                </div>
                <!--TOTAL-->
                @if (muestraCostos)
                {
                    <div class="col-md-12 caja-contenedora">
                        <div class="col-md-12 form-medio" style="justify-content:flex-end; font-weight:bold !important">
                            <div class="col-md-3 flexible" style="justify-content:flex-end;">
                                <h4 style="margin:0px 5px 0px 0px;">Precio Por Kilo:</h4><h4 style="margin:0px;" id="precio-kilo"></h4>
                            </div>

                            <div class="col-md-3 flexible" style="justify-content:flex-end;">
                                <h4 id="text-precio-litro" style="margin:0px 5px 0px 0px;">Precio Por Litro:</h4><h4 style="margin:0px;" id="precio-litro"></h4>
                            </div>

                            <div class="col-md-3 flexible" style="justify-content:flex-end;">
                                <h4 style="margin:0px 5px 0px 0px">Total Reingresado:</h4><h4 style="margin:0px !important" id="precio-total-reingresado"></h4>
                            </div>

                            <div class="col-md-3 flexible" style="justify-content:flex-end;">
                                <h3 style="margin:0px 5px 0px 0px">Total:</h3><h3 style="margin:0px !important" id="precio-total"></h3>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <!-- LISTADOS PARA ENVIAR AL CONTROLADOR -->
            <div id="DetallesFormula" style="display:none"></div>
            <div id="CostosFormula" style="display:none"></div>
            <div id="InsumosFormula" style="display:none"></div>

            <!-- CONTENEDOR SUBMIT-->
            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <a class="AddFormula btn btn-primary">Confirmar</a>
                        <a class="btn btn-default" href="@Url.Action("Index", "Formulas")">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts
{
    <script>
        const mostrarIVA = @ViewBag.MostrarIVAFormulas.ToString().ToLower();
    </script>

    <script src="~/Scripts/Formulas/AddOrEdit.js"></script>

    <script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }
        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
        //Date dd/MM/yyyy
        $.validator.methods.date = function (value, element) {
            var date = value.split("/");
            return this.optional(element) || !/Invalid|NaN/.test(new Date(date[2], date[1], date[0]).toString());
        }
    </script>

    <!-- MÉTODOS FÓRMULA-->
    <script>
        var ProductoProduccionActual = [];

        function ConfirmarInsumo() {
            if ($("#modalInsumos").is(":visible")) {
                $("#tb-insumo").val($('#InsumosLayoutTabla tr.selected td:first-child').html());
            }
            $.ajax({
                type: "GET",
                url: "/Insumos/GetOne/",
                data: { Codigo_Insumo: $("#tb-insumo").val() },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        let insumo = data.data[0];
                        for (let i in listadoDetalles) {
                            if (listadoDetalles[i].Codigo_Insumo == insumo.Codigo_Insumo) {
                                notif({
                                    msg: "Ya existe un registro ingresado con ese Código.",
                                    type: "warning",
                                    position: "center"
                                });
                                CargarDetalles();
                                $('#modalInsumos').modal('hide');
                                $('#tb-insumo').val(insumo.Codigo_Insumo);
                                return;
                            }
                        }
                        $("#data2").text(insumo.Descripcion);
                        if (insumo.Precio_Por == 'U') {
                            $("#data3").html('<input id="nuevaCantidadDetalle" placeholder="Cantidad" class="col-md-12 text-box single-line " style="text-align: right"></input>');
                        } else {
                            $("#data4").html('<input id="nuevaCantidadDetalle" placeholder="Kilos" class="col-md-12 text-box single-line" style="text-align: right"></input>');
                        }

                        @if (muestraCostos)
                        {
                            <text> $("#data5").html(insumo.Precio_Unitario); </text>
                        }

                        $('#modalInsumos').modal('hide');
                        $("#nuevaCantidadDetalle").focus();
                        $("#nuevaCantidadDetalle").keyup(function (e) {
                            if (e.keyCode == 13) {
                                InsertarDetalle();
                                return false;
                            }
                        });
                    } else {
                        notif({
                            msg: data.mensaje,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
            $('#modalInsumosLayout').modal('hide');
        }
        function CargarCostosFormulaEditar() {
            return $.ajax({
                type: "GET",
                url: "/Formulas/GetCostosIndirectos/",
                data: { Codigo_Formula: CodigoFormula },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoCostos = data.data;
                        for (let i in listadoCostos) {
                            if (listadoCostos[i].Precio_Fijo == false) {
                                listadoCostos[i].Fijo = null;
                            } else if (listadoCostos[i].Precio_Fijo == true) {
                                listadoCostos[i].Total = listadoCostos[i].Fijo;
                                listadoCostos[i].Precio = null;
                            }
                        }
                        CargarCostosFormula();
                    };
                }
            });
        };

        function confirmarEdicionDetalle(Codigo) {
            $.ajax({
                type: "GET",
                url: "/Insumos/GetOne/",
                data: { Codigo_Insumo: Codigo },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        let insumo = data.data[0];
                        for (let i in listadoDetalles) {
                            if (listadoDetalles[i].Codigo_Insumo == Codigo) {
                                if (listadoDetalles[i].Precio_Unitario != null && listadoDetalles[i].Precio_Unitario >= 0) {
                                    listadoDetalles[i].Cantidad = convertirFormato($('#cantidadEditable').val());
                                    //listadoDetalles[i].Precio_Unitario = parseFloat(insumo.Precio_Unitario).toString();
                                    listadoDetalles[i].Total = convertirFormato($('#cantidadEditable').val()) * insumo.Precio_Unitario;
                                }

                                notif({
                                    msg: "Registro editado satisfactoriamente.",
                                    type: "success",
                                    position: "center"
                                });

                                CargarDetalles();
                                @if (muestraCostos == true)
                                {
                                    <text>
                                        SumaDeTotales();
                                    </text>
                                }
                            }
                        }

                    } else {
                        notif({
                            msg: data.mensaje,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        function CargarDetallesEditar() {
            return $.ajax({
                type: "GET",
                url: "/Formulas/GetDetalles/",
                data: { Codigo_Producto: $('#Codigo_Producto').val() },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoDetalles = data.data;
                        CargarDetalles();
                    };
                }
            });
        };
        function editarDetalle(Codigo_Nuevo) {
            let sumaIndex = 0;
            @if (muestraCostos)
            {
                <text> sumaIndex = 2; </text>
            }

            CargarDetalles();

            let Precio_Por = "";
            let Precio_Unitario = 0;

            for (let i in listadoDetalles) {
                if (listadoDetalles[i].Codigo_Insumo == Codigo_Nuevo) {
                    Precio_Por = listadoDetalles[i].Precio_Por;
                    Precio_Unitario = listadoDetalles[i].Precio_Unitario;
                }
            }

            $('#DetallesTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 1 && $(this).html() == Codigo_Nuevo) {
                    $(this).parent('tr').find('td').each(function () {
                        if (Precio_Unitario != null && Precio_Unitario >= 0) {
                            if ($(this).index() == 3) {
                                $(this).addClass("editable");
                                if (Precio_Por == 'U') {
                                    let Cantidad = convertirFormato($(this).html().toString(), 1);
                                    $(this).html(`<input id="cantidadEditable" class="col-md-12 text-box single-line" style="text-align:right" value="${Cantidad}">`);
                                }
                            }

                            if ($(this).index() == 4) {
                                if (Precio_Por != 'U') {
                                    let Cantidad = convertirFormato($(this).html().toString(), 1);
                                    $(this).html(`<input id="cantidadEditable" class="col-md-8 col-md-offset-4 text-box single-line" style="text-align:right" value="${Cantidad}">`);
                                }
                            }
                            $('#cantidadEditable').focus();
                        }

                        if ($(this).index() == (5 + sumaIndex)) {
                            $(this).html(
                                `<a class='btn btn-success btn-xs' onclick=confirmarEdicionDetalle('${Codigo_Nuevo}')>` +
                                    "<span class='glyphicon glyphicon-ok'></span>" +
                                "</a>" +
                                "<a class='btn btn-danger btn-xs' onclick=CargarDetalles()>" +
                                    "<span class='glyphicon glyphicon-remove'></span>" +
                                "</a>"
                            );
                        }
                    });
                }
            })

            $("#tb-insumoEditable").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "GET",
                        url: "/Insumos/GetOne/",
                        data: { Codigo_Insumo: $('#tb-insumoEditable').val() },
                        dataType: "json",
                        success: function (data) {
                            if (data.success) {
                                let insumo = data.data[0];
                                $('#DetallesTabla').find('tr').find('td.editable').each(function () {
                                    if ($(this).index() == 2) {
                                        $(this).text(insumo.Descripcion);
                                    }

                                    if ($(this).index() == 5) {
                                        $(this).text("$ " + insumo.Precio_Ultima_Compra);
                                    }

                                    if ($(this).index() == 6) {
                                        $(this).text("");
                                    }
                                });
                                $("#cantidadEditable").focus();
                            } else {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                            }
                        }
                    });
                    return false;
                }
            });

            $("#cantidadEditable").keyup(function (e) {
                if (e.keyCode == 13) {
                    confirmarEdicionDetalle(Codigo_Nuevo);
                    return false;
                }
            });
        }

        function borrarDetalle(Codigo) {
            for (let i in listadoDetalles) {
                if (listadoDetalles[i].Codigo_Insumo == Codigo) {
                    listadoDetalles.splice(i, 1);
                    CargarDetalles();
                    @if (muestraCostos == true)
                    {
                        <text>
                            SumaDeTotales();
                        </text>
                    }
                    notif({
                        msg: "Registro eliminado satisfactoriamente.",
                        type: "success",
                        position: "center"
                    });
                }
            }
        }

        function AbrirModalAddOrEditCosto(Codigo){
            $.ajax({
                type: "GET",
                url: "/CostosIndirectos/AddOrEdit/",
                data: { Codigo_Costo_Indirecto : Codigo },
                success: function (data){
                    $('#ModalAddOrEditCosto').html(data);
                    verificarPrecioPorcentaje();
                    SaltosEnFormulario();
                    VerificarCampos();

                    $('#modalAddOrEditCosto').modal('toggle');
                    $('#modalAddOrEditCosto').on('shown.bs.modal', function (e)
                    {
                        if ($('#Codigo_Interno_Costo_Indirecto').val() == 0) {
                            $('#Codigo_Costo_Indirecto').focus();
                        } else {
                            $('#Descripcion').focus();
                        }
                    });
                }
            });
        }

        function CargarProductos() {
            dataTable = $("#ProductosTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/Productos/GetData",
                    "type": "GET",
                    "datatype": "json"
                },

                "columns": [
                    {
                        "data": "Codigo_Producto",
                        "title": "Código"
                    },
                    {
                        "data": "Descripcion",
                        "title": "Descripción",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        "data": "Codigo_Producto",
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                   "<a class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-trash'></span></a>";
                        },
                    }
                ],
                "language": idiomaEspañol,

                "columnDefs": [
                    { className: "text-center", "targets": [0, 2] },
                ],
                select: 'single',
            });
        };

        var tipoModalInsumos = 0;

        function AgregarDetalle() {

            var filaAgregada = false;

            $('#DetallesTabla').find('#insertarDetalle').each(function () {
                filaAgregada = true;
            });

            if (filaAgregada == false)
            {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
                let html = '<tr>';
                html += '<td id="data0"></td>';
                html += `<td id="data1" class="form-medio"><input id="tb-insumo" placeholder="Código" class="col-md-8 text-box single-line" style="text-align:right">
                <div class="col-md-4" style="padding:0px !important; text-align:right"><a href="#" id="mostrarInsumos" onclick="AbrirModalInsumos(ConfirmarInsumo, '', 'formulas')"
                class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div></td>`;
                html += '<td id="data2" style="text-transform:capitalize"></td>';
                html += '<td id="data3"></td>';
                html += '<td id="data4"style="text-align:right;"></td>';

                @if (muestraCostos)
                {
                    <Text>
                        html += '<td id="data5" style="text-align:right;"></td>';
                        html += '<td id="data6" style="text-align:right;"><div id="tb-data6" style="height:100%; text-align:right; padding:0px !important; margin:0px !important;"></div></td>';
                    </Text>
                }

                html += '<td style="display:flex; justify-content:center"><a name="insert" id="insertarDetalle" onclick="InsertarDetalle()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></a>' +
                     '<a onclick="CargarDetalles()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>';
                html += '</tr>';

                $('#DetallesTabla tbody').prepend(html);

                $('#tb-insumo').focus();
                $("#tb-insumo").keyup(function (e) {
                    if (e.keyCode == 13) {
                        ConfirmarInsumo();
                        return false;
                    }
                })

            }
        };

        /*INSERTA FILA EN EL LISTADO DE DETALLES*/
        function InsertarDetalle(){
            let bandera = false;

            /*VERIFICA SI YA EXISTE UN DETALLE CON EL MISMO INSUMO*/
            for (let i in listadoDetalles) {
                if (listadoDetalles[i].Codigo_Insumo == $('#tb-insumo').val()) {
                    notif({
                        msg: "Ya existe un registro ingresado con ese Código",
                        type: "warning",
                        position: "center"
                    });
                    bandera = true;
                    $('#tb-insumo').focus();
                }
            }

            if (bandera == false) {
                /*VERIFICA QUE EXISTA EN LA BASE DE DATOS EL INSUMO*/
                $.ajax({
                    type: "GET",
                    url: "/Insumos/GetOne/",
                    data: { Codigo_Insumo: $('#tb-insumo').val() },
                    dataType: "json",
                    success: function (data) {
                        if (!data.success) {
                            notif({
                                msg: "Error, no existe un registro con el Código ingresado.",
                                type: "error",
                                position: "center"
                            });
                        } else {
                            let insumo = data.data[0];
                            if ($('#nuevaCantidadDetalle').val() == "") {
                                notif({
                                    msg: "Por favor, ingrese una nueva cantidad.",
                                    type: "error",
                                    position: "center"
                                });

                                $('#nuevaCantidadDetalle').focus();
                            } else if (insumo.Materia_Prima) {
                                listadoDetalles.push({
                                    Codigo_Insumo: insumo.Codigo_Insumo,
                                    Descripcion: insumo.Descripcion,
                                    Cantidad: convertirFormato($('#nuevaCantidadDetalle').val()),
                                    Precio_Por: insumo.Precio_Por,
                                    Precio_Unitario: insumo.Precio_Unitario,
                                    Costo: parseFloat(insumo.Precio_Ultima_Compra) >= 0 ? (parseFloat($('#nuevaCantidadDetalle').val()) * parseFloat(insumo.Precio_Unitario).toFixed(4)) : null,
                                    Descuenta_Stock: insumo.Descuenta_Stock,
                                    Total: insumo.Precio_Unitario * convertirFormato($('#nuevaCantidadDetalle').val()),
                                    Marca: true
                                })
                                CargarDetalles();
                                @if (muestraCostos == true)
                                {
                                    <text>
                                        SumaDeTotales();
                                    </text>
                                }
                            } else {
                                notif({
                                    msg: "El artículo debe ser materia prima",
                                    type: "warning",
                                    position: "center"
                                });
                            }
                        }
                    }
                });
            }
        };
        function CargarDetalles() {
            if ($.fn.DataTable.isDataTable("#DetallesTabla")) {
                let table = $("#DetallesTabla").DataTable();
                table.clear().rows.add(listadoDetalles).draw();  // Limpia y agrega nuevos datos
            } else {
                dataTable = $("#DetallesTabla").DataTable({
                    bpaginate: false,
                    bFilter: false,
                    responsive: true,
                    autoWidth: true,
                    bInfo: false,
                    iDisplayLength: 50,
                    lengthChange: false,
                    data: listadoDetalles,
                    columns: [
                        {
                            title: "Marca",
                            data: "Codigo_Insumo",
                            render: function (data) {
                                var Marca = false;
                                for (var i in listadoDetalles) {
                                    if (listadoDetalles[i].Codigo_Insumo == data) {
                                        Marca = listadoDetalles[i].Marca;
                                    }
                                }
                                if (Marca == false) {
                                    return '<input type="checkbox" onclick=modificarMarca("' + data + '")>';
                                }
                                else {
                                    return '<input type="checkbox" checked onclick=modificarMarca("' + data + '")>';
                                }
                            }
                        },
                        {
                            title: "Artículo",
                            data: "Codigo_Insumo"
                        },
                        {
                            title: "Descripción",
                            data: "Descripcion",
                            width: "30%",
                            class: "mayusculas-texto"
                        },
                        {
                            title: "Unidades",
                            data: "Codigo_Insumo",
                            render: function (data) {
                                if (data == null) {
                                    return "";
                                } else {
                                    var Cantidad = "";
                                    for (var i in listadoDetalles) {
                                        if (listadoDetalles[i].Codigo_Insumo == data) {
                                            if (listadoDetalles[i].Precio_Por == 'U') {
                                                if (listadoDetalles[i].Cantidad == null || listadoDetalles[i].Cantidad == 0) {
                                                    return "";
                                                } else {
                                                    Cantidad = parseFloat(listadoDetalles[i].Cantidad);
                                                }

                                            }

                                        }
                                    }
                                    return Cantidad.toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                                }

                            }
                        },
                        {
                            title: "Kilos/Litros",
                            data: "Codigo_Insumo",
                            render: function (data) {
                                if (data == null) {
                                    return "";
                                } else {
                                    var Cantidad = "";
                                    for (var i in listadoDetalles) {
                                        if (listadoDetalles[i].Codigo_Insumo == data) {
                                            if (listadoDetalles[i].Precio_Por != 'U') {
                                                if (listadoDetalles[i].Cantidad == null || listadoDetalles[i].Cantidad == 0) {
                                                    return "";
                                                } else {
                                                    Cantidad = parseFloat(listadoDetalles[i].Cantidad);
                                                }
                                            }

                                        }
                                    }
                                    return Cantidad.toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                                }

                            }
                        },
                        @if (muestraCostos)
                        {
                            <text>
                        {
                            title: "Precio Unitario",
                            data: "Precio_Unitario",
                            render: function (data) {
                                if (data == null) {
                                    return "";
                                }
                                else {
                                    return data.toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                                }
                            }
                        },
                        {
                            title: "Total",
                            data: "Total",
                            render: function (data) {
                                if (data == null || data == 0) {
                                    return "";
                                }
                                else {
                                    return data.toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                                }

                            }
                        },
                            </text>
                        }

                        {
                            title: "Herramientas",
                            data: "Codigo_Insumo",
                            width: "10%",
                            render: function (data) {
                                return " <a class='btn btn-default btn-xs' onclick=editarDetalle('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                    "<a class='btn btn-danger btn-xs'onclick=borrarDetalle('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                            },
                        }
                    ],
                    language: idiomaEspañol,
                    columnDefs: [
                        { className: "text-right", "targets": [3, 4 @if (muestraCostos) { <Text>,5 , 6 </text> }] },
                        { className: "text-center", "targets": [0, 1  @if (muestraCostos) { <Text> , 7 </text> } else { <Text>, 5 </Text> } ] }
                    ],
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            text: '<span class="glyphicon glyphicon-plus">',
                            className: "nuevo nuevoDetalle",
                            action: function () {
                                AgregarDetalle();
                            }
                        }
                    ],
                    order: [[2, "asc"]]
                });
            }
        };

        function SubmitFormula(form) {
            for (let u in listadoInsumos) {
                $('#InsumosFormula').append('<input type="text" name="Insumos[' + u + '].Codigo_Insumo" value="' + listadoInsumos[u].Codigo_Insumo + '"/>');

                $('#InsumosFormula').append('<input type="text" name="Insumos_Formulas_Recuperado[' + u + '].Codigo_Insumo" value="' + listadoInsumos[u].Codigo_Insumo + '"/>');
                $('#InsumosFormula').append('<input type="text" name="Insumos_Formulas_Recuperado[' + u + '].Codigo_Formula" value="' + CodigoFormula + '"/>');
                $('#InsumosFormula').append('<input type="text" name="Insumos_Formulas_Recuperado[' + u + '].CantidadRecuperada" value="' + parseFloat(listadoInsumos[u].CantidadRecuperada).toString().replace(".", ",")  + '"/>');
            }
            //debugger
            for (let i in listadoDetalles)
            {
                $('#DetallesFormula').append('<input type="text" name="Detalle_Formula[' + i + '].Codigo_Insumo" value="' + listadoDetalles[i].Codigo_Insumo + '"/>' +
                    '<input type="text" name="Detalle_Formula[' + i + '].Cantidad" value="' + parseFloat(listadoDetalles[i].Cantidad).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Formula[' + i + '].Costo" value="' + parseFloat(listadoDetalles[i].Costo).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Formula[' + i + '].Precio_Unitario" value="' + parseFloat(listadoDetalles[i].Precio_Unitario).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Formula[' + i + '].Marca" value="' + listadoDetalles[i].Marca + '"/>');
            }
            //debugger
            for (let j in listadoCostos)
            {
                $('#CostosFormula').append('<input type="text" name="Costos_Indirectos_Formula[' + j + '].Precio" value="' + parseFloat(listadoCostos[j].Precio).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Costos_Indirectos_Formula[' + j + '].Codigo_Costo_Indirecto" value="' + listadoCostos[j].Codigo_Costo_Indirecto + '"/>' +
                    '<input type="text" name="Costos_Indirectos_Formula[' + j + '].Cantidad" value="' + parseFloat(listadoCostos[j].Cantidad).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Costos_Indirectos_Formula[' + j + '].Precio_Fijo" value="' + parseFloat(listadoCostos[j].Precio_Fijo).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Costos_Indirectos_Formula[' + j + '].Porcentaje" value="' + parseFloat(listadoCostos[j].Porcentaje).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Costos_Indirectos_Formula[' + j + '].Marca" value="' + listadoCostos[j].Marca + '"/>');
            }
            //debugger
            //VALIDADOR DEL FORMULARIO

            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $('#Litros_Tina').val($('#Litros_Tina').val() != "" ? $('#Litros_Tina').val().toString().replace(".", ",") : "");
                $('#Kilos_Masa').val($('#Kilos_Masa').val() != "" ? $('#Kilos_Masa').val().toString().replace(".", ",") : "");
                $('#Litros_Suero').val($('#Litros_Suero').val() != "" ? $('#Litros_Suero').val().toString().replace(".", ",") : "");
                $('#Litros_Crema').val($('#Litros_Crema').val() != "" ? $('#Litros_Crema').val().toString().replace(".", ",") : "");
                $('#Factor').val($('#Factor').val() != "" ? $('#Factor').val().toString().replace(".", ",") : "");
                $('#Kilos_Teoricos').val($('#Kilos_Teoricos').val().toString().replace(".", ","));

                $.ajax({
                    type: "POST",
                    url: "/Formulas/AddOrEdit",
                    data: $(form).serialize(),
                    success: function (data) {
                        if (!data.success) {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        } else {
                            window.location.href = "/Formulas/Index?resultado= " + parseInt(data.resultado);
                        }
                    },
                    beforeSend : function(data){
                        $('.AddFormula').attr('disabled', true);
                    },
                    complete : function(data){
                        $('.AddFormula').attr('disabled', false);
                    }
                });
            }

            return false;
        }

        /*BORRA FILA DEL LISTADO DE PRODUCTOS ASOCIADOS*/
        function borrarInsumo(Codigo) {
            for (let i in listadoInsumos) {
                if (listadoInsumos[i].Codigo_Insumo == Codigo) {
                    listadoInsumos.splice(i, 1);
                    CargarInsumosAsociados();
                    @if (muestraCostos == true)
                    {
                        <text>
                            SumaDeTotales();
                        </text>
                    }
                    notif({
                        msg: "Registro eliminado satisfactoriamente.",
                        type: "success",
                        position: "center"
                    });
                }
            }
        }

        var InsumosFormulaTablas = null;
        var celda;
        function editarInsumo(data, cell) {
            celda = cell;
            CargarInsumosAsociados();

            if (InsumosFormulaTablas) {
                let tcell = null;
                let index = 5;
                debugger;
                @if (!muestraCostos)
                {
                    <Text>
                        index = 3;
                    </Text>
                }
                tcell = $(InsumosFormulaTablas.cell(cell.row, 2).node());

                var tcontent = tcell.text();

                tcell.html(`<input id='editandoInsumo' class='text-box single-line' style='margin: 0!important; height: 100%; width: 100%; text-align: right;' type='text' value='${convertirFormato(tcontent, 1)}'></input>`);
                tcell.parent('tr').find('td').each(function () {
                    if ($(this).index() == index) {
                        $(this).find("#editarInsumoBtn").hide();
                        $(this).find("#eliminarInsumo").hide();
                        $(this).find("#confirmarEditarInsumoBtn").show();
                        $(this).find("#cancelarInsumo").show();
                    }
                });
                $("#editandoInsumo").focus();
                $("#editandoInsumo").keyup(function (e){
                    if (e.keyCode == 13) {
                        confirmarEditarInsumo(celda);
                        return false;
                    }
                });
            }
        }
        function confirmarEditarInsumo(cell)
        {
            if (InsumosFormulaTablas) {
                let sumarIndex = 0;

                @if (muestraCostos)
                {
                    <Text>
                        sumarIndex = 1;
                    </Text>
                }
                debugger;
                let tcell = $(InsumosFormulaTablas.cell(cell.row, (2 + sumarIndex)).node());
                let tcell0 = $(InsumosFormulaTablas.cell(cell.row, 0).node());

                let codigoInsumo = tcell0.text().trim();

                let indexInsumo = listadoInsumos.findIndex(insumo => insumo.Codigo_Insumo.trim() === codigoInsumo);

                let valorEditado = convertirFormato($("#editandoInsumo").val());
                if (!isNaN(valorEditado))
                {
                    if (indexInsumo >= 0)
                    {
                        let insumoObj = listadoInsumos[indexInsumo];

                        insumoObj.CantidadRecuperada = valorEditado;
                        insumoObj.Total = valorEditado * insumoObj.Costo
                        listadoInsumos[indexInsumo] = insumoObj;
                    }

                    $("#editandoInsumo").remove();

                    tcell.text(valorEditado);
                    tcell.parent('tr').find('td').each(function () {

                        if ($(this).index() == (3 + sumarIndex)) {
                            $(this).find("#confirmarEditarInsumoBtn").hide();
                            $(this).find("#cancelarInsumo").hide();
                            $(this).find("#editarInsumoBtn").show();
                            $(this).find("#eliminarInsumo").show();
                        }
                    });

                    CargarInsumosAsociados();
                    @if (muestraCostos == true)
                    {
                        <text>
                            SumaDeTotales();
                        </text>
                    }
                } else {
                    notif({
                        msg:  "El valor debe ser un número",
                        type: "error",
                        position: "center"
                    });
                }
                return false;
            }
        }

        function CargarInsumosAsociados() {
            if ($.fn.DataTable.isDataTable("#InsumosFormulaTabla")) {
                let table = $("#InsumosFormulaTabla").DataTable();
                table.clear().rows.add(listadoInsumos).draw();  // Limpia y agrega nuevos datos
            } else {
                InsumosFormulaTablas = $("#InsumosFormulaTabla").DataTable({
                    "bPaginate": false,
                    "bFilter": false,
                    "responsive": true,
                    "bInfo": false,
                    "lengthChange": false,
                    "data": listadoInsumos,
                    "columns": [
                        {
                            "data": "Codigo_Insumo",
                            "title": "Código",
                            "width": "10%",
                        },
                        {
                            "data": "Descripcion",
                            "title": "Descripción",
                            "sClass": "mayusculas-texto"
                        },
                        {
                            "data": "CantidadRecuperada",
                            "title": "Cantidad",
                            "sClass": "text-right",
                            "render": function (data) {
                                return (data).toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                            }
                        },
                        @if (muestraCostos)
                        {
                            <Text>
                        {
                            "data": "Costo",
                            "title": "Costo",
                            "sClass": "text-right",
                            "render": function (data) {
                                return (data).toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                            }
                        },
                        {
                            "data": "Total",
                            "title": "Total",
                            "sClass": "text-right",
                            "render": function (data) {
                                return (data).toLocaleString("es-ES", { useGrouping: true, minimumFractionDigits: 4, maximumFractionDigits: 4 });
                            }
                        },
                            </Text>
                        }
                        {
                            "data": "Codigo_Insumo",
                            "title": "Herramientas",
                            "width": "10%",
                            "sClass": "text-center",
                            "render": function (data, type, row, meta) {
                                return `<a id="confirmarEditarInsumoBtn" onclick="confirmarEditarInsumo({ row: ${meta.row}, column: ${meta.col} })" name="insert" style="display: none;" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></a>` +
                                    " <a id='editarInsumoBtn' class='btn btn-default btn-xs' onclick=editarInsumo('" + data + "',{row:" + meta.row + ",col:" + meta.col + "})><span class='glyphicon glyphicon-pencil'></span></a>" +
                                    '<a style="display: none;" id="cancelarInsumo" onclick="CargarInsumosAsociados()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>' +
                                    "<a id='eliminarInsumo' class='btn btn-danger btn-xs' onclick=borrarInsumo('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                            },
                        }
                    ],
                    "language": idiomaEspañol,
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            text: '<span class="glyphicon glyphicon-plus">',
                            className: 'nuevo nuevoProducto',
                            action: function () {
                                AgregarInsumo();
                            }
                        },

                    ],
                    "columnDefs": [
                        { className: "text-center", "targets": [0, 2] }
                    ],
                    "order": [[1, "asc"]]
                });
            }
        }

        /* INSERTA EN LA TABLA DE PRODUCTOS ASOCIADOS UNA NUEVA FILA EDITABLE*/
        function AgregarInsumo() {
            var filaAgregada = false;

            $('#InsumosFormulaTabla').find('#insertarInsumo').each(function () {
                filaAgregada = true;
            });

            if (filaAgregada == false)
            {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
                var html = '<tr>';

                html += '<td id="insumo0" class="form-medio">' +
                    '<input id="tb-insumoAsociado" placeholder="Código" class="col-md-8 text-box single-line" style="text-align:right">' +
                    '<div class="col-md-4 form-medio">' +
                    '<a href="#" onclick="AbrirModalInsumosAsociados()" class="btn btn-primary btn-xs">' +
                    '<span class="glyphicon glyphicon-search"></span></a></div>' +
                    '</td>';
                html += '<td id="insumo1" style="text-transform:capitalize"></td>';
                html += '<td id="cantidad1"></td>';
                @if (muestraCostos) 
                { 
                    <Text> 
                html += '<td id="costo1" class="text-right"></td>';
                html += '<td></td>';
                    </Text>
                }
                html += '<td style="display:flex; justify-content:center"><a name="insert" id="insertarInsumo" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></a>' +
                     '<a onclick="CargarInsumosAsociados()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>';
                html += '</tr>';
                $('#InsumosFormulaTabla tbody').prepend(html);

                $("#tb-insumoAsociado").keyup(function (e) {
                    if (e.keyCode == 13) {
                        ConfirmarInsumoAsociado();
                    }
                });

                $("#tb-insumoAsociado").blur(ConfirmarInsumoAsociado());

                $("#cantidad1").keyup(function (e) {
                    if (e.keyCode == 13) {
                        insertarInsumo();
                        return false;
                    }
                });

                $("#insertarInsumo").click(function (e) {
                    insertarInsumo();
                });
            }

            $('#tb-insumoAsociado').focus();
        }

        function ConfirmarInsumoAsociado() {
            if ($("#tb-insumoAsociado").val() == "") {
                $("#insumo1").html('');
                $("#costo1").html('');
                return;
            }

            $.ajax({
                type: "GET",
                url: "/Insumos/GetOne/",
                data: { Codigo_Insumo: $('#tb-insumoAsociado').val() },
                dataType: "json",
                success: function (data) {
                    let insumo = data.data[0];
                    if (insumo) {
                        if (data.success) {
                            $('#insumo1').html(insumo.Descripcion);
                            $('#costo1').html(parseFloat(insumo.Precio_Unitario).toFixed(4));
                            $('#cantidad1').html('');
                            $('#cantidad1').prepend('<input type="number" id="cant1" value="">');
                            $('#cant1').focus();
                        }
                        else {
                            notif({
                                msg: data.mensaje,
                                type: "error",
                                position: "center"
                            });
                        }
                    } else {
                        notif({
                            msg: "No se encontró el insumo especificado.",
                            type: "error",
                            position: "center"
                        });
                        $("#insumo1").html('');
                        $("#costo1").html('');
                    }
                }
            });
        }

        function insertarInsumo() {
            let bandera = false;

            /*VERIFICA SI YA EXISTE UN REGISTRO CON EL MISMO CODIGO*/
            for (let i in listadoInsumos) {
                if (listadoInsumos[i].Codigo_Insumo == $('#tb-insumoAsociado').val()) {
                    notif({
                        msg: "Ya existe un registro ingresado con ese Código",
                        type: "warning",
                        position: "center"
                    });
                    bandera = true;
                    $('#tb-insumoAsociado').focus();
                }
            }

            if (bandera == false) {
                /*VERIFICA QUE EXISTA EN LA BASE DE DATOS EL INSUMO*/
                let cantidadRecuperada = 0;
                let costo = 0;

                try {
                    cantidadRecuperada = convertirFormato($('#cant1').val()) || 0;
                }
                catch (err) {
                    console.log("Error cantidad insumo recuperado: ", err);
                }
                $.ajax({
                    type: "GET",
                    url: "/Insumos/GetOne/",
                    data: { Codigo_Insumo: $("#tb-insumoAsociado").val() },
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            costo = data.data[0].Precio_Unitario;
                            if ($('#tb-insumoAsociado').val()) {
                                listadoInsumos.push({
                                    Codigo_Insumo: $('#tb-insumoAsociado').val(),
                                    Descripcion: $('#insumo1').html(),
                                    Costo: costo,
                                    CantidadRecuperada: cantidadRecuperada,
                                    Total: costo * cantidadRecuperada
                                });
                                CargarInsumosAsociados();
                                @if (muestraCostos == true)
                                {
                                    <text>
                                        SumaDeTotales();
                                    </text>
                                }
                            }
                        }
                    }
                });
            }
        }
        var listadoCostos = [];
        var tipoModalProductos = 0;
        var Total = 0;
        var TotalReingresado = 0;
        var TotalCosto = 0;
        var TotalArticulo = 0;
        var CodigoFormula = @Model.Codigo_Formula;

        /*PASA A SIGUIENTE INPUT AL DAR ENTER*/
        function SaltosEnFormulario() {
            $("#Codigo_Formula").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#tb-producto').focus();
                    return false;
                }
            });
            $("#Comentario").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Litros_Tina').focus();
                    return false;
                }
            });
            $("#Litros_Tina").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Kilos_Teoricos').focus();
                    return false;
                }
            });

            $("#Litros_Suero").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Kilos_Teoricos').focus();
                    return false;
                }
            });

            $("#Kilos_Masa").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Kilos_Teoricos').focus();
                    return false;
                }
            });

            $("#Litros_Crema").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Kilos_Teoricos').focus();
                    return false;
                }
            });
            $("#Kilos_Teoricos").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#Factor').focus();
                    return false;
                }
            });
            $("#Factor").keyup(function (e) {
                if (e.keyCode == 13) {
                    $('.nuevoDetalle').focus();
                    return false;
                }
            });

            $("#Codigo_Producto").keyup(function (e) {
                if (e.keyCode == 13) {
                    $.ajax({
                        type: "GET",
                        url: "/Productos/GetOne/",
                        data: { Codigo_Producto: $('#Codigo_Producto').val() },
                        success: function (data) {
                            if (data.success) {
                                if (data.data[0] != null) {
                                    ProductoProduccionActual = data.data[0];
                                    $('#producto-descripcion').html(Producto.Descripcion);
                                    $('#Litros_Tina').val("");
                                    $('#Kilos_Masa').val("");
                                    $('#Litros_Crema').val("");
                                    $('#Litros_Suero').val("");
                                    $('#Factor').val("");

                                    if (Producto.Que_Usa.toLowerCase().includes("leche")) {

                                        $('#LitrosLeche').attr('style', 'display:flex !important');
                                        $('#KilosReproceso').attr('style', 'display:none !important');
                                        $('#KilosMasa').attr('style', 'display:none !important');
                                        $('#LitrosCrema').attr('style', 'display:none !important');
                                        $('#LitrosSuero').attr('style', 'display:none !important');
                                        if (Producto.Que_Usa.toLowerCase() == "leche")
                                            $('#Contenedor_Factor').attr('style', 'display:flex !important');
                                        else
                                            $('#Contenedor_Factor').attr('style', 'display:none !important');

                                        $('#Litros_Tina').focus();
                                    }
                                    else if (Producto.Que_Usa.toLowerCase() == "crema") {
                                        $('#LitrosLeche').attr('style', 'display:none !important');
                                        $('#KilosReproceso').attr('style', 'display:none !important');
                                        $('#KilosMasa').attr('style', 'display:none !important');
                                        $('#LitrosCrema').attr('style', 'display:flex !important');
                                        $('#LitrosSuero').attr('style', 'display:none !important');
                                        $('#Contenedor_Factor').attr('style', 'display:none !important');

                                        $('#Litros_Crema').focus();
                                    }
                                    else if (Producto.Que_Usa.toLowerCase() == "masa") {
                                        $('#LitrosLeche').attr('style', 'display:none !important');
                                        $('#KilosReproceso').attr('style', 'display:none !important');
                                        $('#KilosMasa').attr('style', 'display:flex !important');
                                        $('#LitrosCrema').attr('style', 'display:none !important');
                                        $('#LitrosSuero').attr('style', 'display:none !important');
                                        $('#Contenedor_Factor').attr('style', 'display:none !important');

                                        $('#Kilos_Masa').focus();
                                    }
                                    else if (Producto.Que_Usa.toLowerCase() == "suero") {
                                        $('#LitrosLeche').attr('style', 'display:none !important');
                                        $('#KilosReproceso').attr('style', 'display:none !important');
                                        $('#KilosMasa').attr('style', 'display:none !important');
                                        $('#LitrosCrema').attr('style', 'display:none !important');
                                        $('#LitrosSuero').attr('style', 'display:flex !important');
                                        $('#Contenedor_Factor').attr('style', 'display:none !important');

                                        $('#Litros_Suero').focus();
                                    }
                                    else if (Producto.Que_Usa.toLowerCase() == "quesos reproceso") {
                                        $('#LitrosLeche').attr('style', 'display:none !important');
                                        $('#KilosReproceso').attr('style', 'display:flex !important');
                                        $('#KilosMasa').attr('style', 'display:none !important');
                                        $('#LitrosCrema').attr('style', 'display:none !important');
                                        $('#LitrosSuero').attr('style', 'display:none !important');
                                        $('#Contenedor_Factor').attr('style', 'display:none !important');

                                        $('#Kilos_Reproceso').focus();
                                    }
                                }
                                else {
                                    notif({
                                        msg: "No existe producto con el Código ingresado.",
                                        type: "error",
                                        position: "center"
                                    });

                                    $("#Codigo_Producto").focus();
                                }

                            }
                        }
                    });
                    return false;
                }
            });
        }

        /*ES LLAMADA CUANDO SE EDITA UNA FÓRMULA*/
        function CargarInsumosAsociadosEditar() {
            return $.ajax({
                type: "GET",
                url: "/Formulas/GetInsumos/",
                data: { Codigo_Formula: CodigoFormula },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoInsumos = data.data;
                    } else {
                        listadoInsumos = [];
                        notif({
                            msg: "ERROR AL CARGAR INSUMOS RECUPERO: " + new String(data.msg).toString(),
                            type: "error",
                            position: "center"
                        });
                    };
                    CargarInsumosAsociados();
                }
            });
        };

        function FormulaCantidadIgualLitros() {
            let litrosTina = Math.round($('#Litros_Tina').val());
            let litrosCrema = Math.round($('#Litros_Crema').val());
            let litrosSuero = Math.round($('#Litros_Suero').val());
            let kilosMasa = Math.round($('#Kilos_Masa').val());
            for (let i in listadoCostos) {
                if (listadoCostos[i].Cantidad && listadoCostos[i].Precio && litrosTina) {
                    $('#Litros_Tina').val(litrosTina);
                    listadoCostos[i].Cantidad = litrosTina;
                    listadoCostos[i].Total = listadoCostos[i].Cantidad * listadoCostos[i].Precio;
                } else if (listadoCostos[i].Cantidad && listadoCostos[i].Precio && litrosCrema) {
                    $('#Litros_Crema').val(litrosCrema);
                    listadoCostos[i].Cantidad = litrosCrema;
                    listadoCostos[i].Total = listadoCostos[i].Cantidad * listadoCostos[i].Precio;
                } else if (listadoCostos[i].Cantidad && listadoCostos[i].Precio && litrosSuero) {
                    $('#Litros_Suero').val(litrosSuero);
                    listadoCostos[i].Cantidad = litrosSuero;
                    listadoCostos[i].Total = listadoCostos[i].Cantidad * listadoCostos[i].Precio;
                } else if (listadoCostos[i].Cantidad && listadoCostos[i].Precio && kilosMasa) {
                    $('#Kilos_Masa').val(kilosMasa);
                    listadoCostos[i].Cantidad = kilosMasa;
                    listadoCostos[i].Total = listadoCostos[i].Cantidad * listadoCostos[i].Precio;
                }
            }
            for (let j in listadoDetalles) {
                if (listadoDetalles[j].Cantidad && listadoDetalles[j].Descripcion == "LECHE FLUIDA" && $('#Litros_Tina').val()) {
                    listadoDetalles[j].Cantidad = $('#Litros_Tina').val();
                    listadoDetalles[j].Litros_Tina = listadoDetalles[j].Cantidad;
                    listadoDetalles[j].Costo = listadoDetalles[j].Cantidad * listadoDetalles[j].Precio_Unitario;
                }
            }

            CargarDetalles();
            CargarCostosFormula();
        }

        async function CargarDatos() {
            if (@Model.Codigo_Formula == 0){
                CargarInsumosAsociados();
                CargarDetalles();
                CargarCostosFormula();
                $('#Litros_Tina').val("");
                $('#btn-prod').click(function(){
                    AbrirModalProdsFormulas();
                });
                $('#Codigo_Producto').focus();
            } else {
                await CargarInsumosAsociadosEditar();
                await CargarDetallesEditar();
                await CargarCostosFormulaEditar();
                $.ajax({
                    type: "GET",
                    url: "/Productos/GetOne/",
                    data: { Codigo_Producto: $('#Codigo_Producto').val() },
                    success: function (data) {
                        if (data.success) {
                            if (data.data[0] != null) {
                                ProductoProduccionActual = data.data[0];
                            }
                            else {
                                notif({
                                    msg: "No existe producto con el Código ingresado.",
                                    type: "error",
                                    position: "center"
                                });

                                $("#Codigo_Producto").focus();
                            }

                        }
                    }
                });

                $('#Comentario').focus();
                $('#LitrosLeche').attr('style', 'display:none !important');
                $('#KilosReproceso').attr('style', 'display:none !important');
                $('#KilosMasa').attr('style', 'display:none !important');
                $('#LitrosCrema').attr('style', 'display:none !important');
                $('#LitrosSuero').attr('style', 'display:none !important');
                $('#Contenedor_Factor').attr('style', 'display:none !important');

                @{
                    if(Model.Codigo_Formula != 0)
                    {
                        if (Model.Productos.Que_Usa.ToLower().Contains("leche"))
                        {
                        <text>
                            $('#LitrosLeche').attr('style', 'display:flex !important');
                            $('#Contenedor_Factor').attr('style', 'display:flex !important');
                        </text>
                            if (Model.Productos.Que_Usa.ToLower() == "leche")
                            {
                                <text>
                                    $('#Contenedor_Factor').attr('style', 'display:flex !important');
                                </text>
                            }
                            else
                            {
                                <text>
                                    $('#Contenedor_Factor').attr('style', 'display:none !important');
                                </text>
                            }
                        }
                        else if (Model.Productos.Que_Usa.ToLower() == "crema")
                        {
                            <text>
                                $('#LitrosCrema').attr('style', 'display:flex !important');
                            </text>
                        }
                        else if (Model.Productos.Que_Usa.ToLower() == "masa")
                        {
                            <text>
                                $('#KilosMasa').attr('style', 'display:flex !important');
                            </text>
                        }
                        else if (Model.Productos.Que_Usa.ToLower() == "suero")
                        {
                            <text>
                                $('#LitrosSuero').attr('style', 'display:flex !important');
                            </text>
                        }
                        else if (Model.Productos.Que_Usa.ToLower() == "quesos reproceso")
                        {
                            <text>
                                $('#KilosReproceso').attr('style', 'display:flex !important');
                            </text>
                        }
                    }
                }
                SumaDeTotales();
            }
        }

        $(document).ready(function () {
            $("#modalInsumosLayout").on('shown.bs.modal', function () {
                $('#modalInsumosLayout input').focus();
            });
            $("#modalCostosLayout").on('shown.bs.modal', function () {
                $('#modalCostosLayout input').focus();
            });
            $(document).on('focus', 'input', function () {
                $(this).select();
            });
            $(".AddFormula").on("click", () => SubmitFormula($("#formAddOrEdit")))

             @if (!muestraCostos) {
                <Text>
                    $("#SubT_articulos, #SubT_costos").addClass("hidden");
                </Text>
              }

            /*EVITA ENVÍO DEL FORMULARIO POR PRESIONAR ENTER*/
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
            $(document).on('change', 'input[type="checkbox"]', function () {
                SumaDeTotales();
            });
            SaltosEnFormulario();
            CargarDatos();
        });
    </script>
}
