﻿@{
    ViewBag.Title = "Fórmulas : Listado";
}

<h2>Fórmulas</h2>

<table id="FormulasTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteFormula()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Verificar Borrado de Formula con Producciones Asociadas -->
<div class="modal fade" id="modalDeleteFormula" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="min-width:700px">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="display:inline-block"> La Fórmula seleccionada tiene asociadas </p>
                <p id="ProduccionesAsociadas" style="font-weight:bold; color:red; display:inline-block"></p>
                <p style="display:inline-block"> Producciones, las cuales serán eliminadas al confirmar.</pstyle="display:inline-block">
                <p>¿Está seguro/a desea borrarla?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteFormula()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script src="~/Scripts/Formulas/Index.js"></script>

    <script>

        var FormulaActual = 0;
        var ProduccionesAsociadas = 0;

        function MostrarMensaje() {
            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };
        function CargarFormulas() {
            dataTable = $("#FormulasTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/Formulas/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Codigo_Producto",
                        "title": "Código",
                        "width": "10%"
                    },
                    {
                        "data": "Descripcion_Producto",
                        "title": "Producto",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        "data": "Litros_Kilos",
                        "title": "Kilos/Litros",
                        "render": function (data) {
                            if (data != "" && parseFloat(data) > 0) {
                                return parseFloat(data).toLocaleString("es-ES", { useGrouping: true });
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "Factor",
                        "title": "Factor",
                        "render": function (data) {
                            if (data != "" && parseFloat(data) > 0) {
                                return parseFloat(data).toFixed(2);
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "Kilos_Teoricos",
                        "title": "Kilos Teóricos",
                        "render": function (data) {
                            if (data != "" && parseFloat(data) > 0) {
                                return parseFloat(data).toLocaleString("es-ES", { useGrouping: true });
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "Unidades_Esperadas",
                        "title": "Unidades Esperadas"
                    },
                    {
                        "data": "Codigo_Formula",
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-sm' href='/Formulas/AddOrEdit/" + data + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                "<a class='btn btn-default btn-sm' onclick=CopiarFormula('" + data + "')><span class='glyphicon glyphicon-file'></span></a>" +
                                "<a class='btn btn-danger btn-sm' onclick=AbrirModalDelete('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                        },
                    }

                ],
                "language": idiomaEspañol,
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: 'nuevo',
                       action: function () {
                           window.location.href = "/Formulas/AddOrEdit/";
                       }
                   }
                ],
                "columnDefs": [
                      { className: "text-center", "targets": [0, 1, 2, 3, 4, 5, 6] }
                ],
                "order": [[1, "asc"]],
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                }

            });

        };

        function DeleteFormula() {
            $.ajax({
                type: "POST",
                url: "/Formulas/Delete/",
                data: { Codigo_Formula: FormulaActual },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                        CargarFormulas();

                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

        function CopiarFormula(formulaID) {

            if (confirm("¿Desa clonar esta fórmula?")) {

                $.ajax({
                    type: "POST",
                    url: "/Formulas/Copiar/",
                    data: { Codigo_Formula: formulaID },
                    success: function (data) {

                        if (data.success == true) {

                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                            setTimeout(() => { location.reload(true) }, 1200);

                        } else {

                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });

                        }

                    }
                });

            }

        }

        function AbrirModalDelete(Codigo_Formula) {

            var x = $.ajax({
                type: "GET",
                url: "/Formulas/ObtenerNumeroProducionesAsociadas/",
                data: {
                    Codigo_Formula: Codigo_Formula
                },
                success: function (data) {
                    if (data.success) {

                        ProduccionesAsociadas = 0;
                        FormulaActual = 0;

                        FormulaActual = Codigo_Formula;
                        ProduccionesAsociadas = data.Numero_Producciones[0].Producciones;

                        console.log(ProduccionesAsociadas);

                        if (ProduccionesAsociadas > 0) {
                            $('#ProduccionesAsociadas').html("");
                            $('#ProduccionesAsociadas').html(ProduccionesAsociadas);

                            $('#modalDeleteFormula').modal('toggle');
                        }
                        else {
                            $('#modalDelete').modal('toggle');
                        }
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }


        $(document).ready(function () {

            CargarFormulas();

            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje();
            }
        });
    </script>
}
