﻿@model AccesoDatos.Contexto.Produccion.Permisos
@*@model MVC_Produccion.ContextoProduccion.Permisos*@

@using MVC_Produccion.ContextoProduccion
@using MVC_Produccion.ContextoGastos
@{
    Layout = null;
}

<div class="modal-header modalCreate col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Modificar Permisos</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body modalCreate">

    @using (Html.BeginForm("AddOrEdit", "Permisos", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formPermisos" }))
    {
        @Html.EditorFor(model => model.Codigo_Inteno_Permiso, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })

        @Html.EditorFor(model => model.idUsuario, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })

        <div class="navbar navbar-inverse navbar-fixed">
            <div class="container-fluid" style="padding:0px 20px !important">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Maestros <span class="caret"></span>
                            </a>

                            <ul id="menuMaestros" class="dropdown-menu">
                                <li class="li-permisos">
                                    <a class="main-check">
                                        Menu Maestro <input main-ref="#menuMaestros" type="checkbox" />
                                    </a>
                                </li>
                                <li class="li-permisos"><a>Artículos @Html.CheckBoxFor(model => model.Insumos, "Articulos")</a></li>
                                <li class="li-permisos"><a>Costos Indirectos @Html.CheckBoxFor(model => model.Costos_Indirectos, "Costos_Indirectos")</a></li>
                                <li class="li-permisos"><a>Cámaras @Html.CheckBoxFor(model => model.Camaras, "Camaras")</a></li>
                                <li class="li-permisos"><a>Estados @Html.CheckBoxFor(model => model.Estados, "Estados")</a></li>
                                <li class="li-permisos"><a>Fábrica @Html.CheckBoxFor(model => model.Fabricas, "Fabricas")</a></li>
                                <li class="li-permisos"><a>Lavados @Html.CheckBoxFor(model => model.Lavados, "Lavados")</a></li>
                                @* TODO: Encontrar la columna de permisos de Localidades *@
                                <li class="li-permisos"><a>Localidades @Html.CheckBoxFor(model => model.Insumos, "Insumos")</a></li>
                                <li class="li-permisos"><a>Líneas @Html.CheckBoxFor(model => model.Lineas, "Lineas")</a></li>
                                <li class="li-permisos"><a>Motivos de Retención @Html.CheckBoxFor(model => model.Motivos_Retencion, "Lineas")</a></li>
                                <li class="li-permisos"><a>Productos Ventas @Html.CheckBoxFor(model => model.ProductoVenta, "Productos Ventas")</a></li>
                                <li class="li-permisos"><a>Productos @Html.CheckBoxFor(model => model.Productos, "Productos")</a></li>
                                <li class="li-permisos"><a>Proveedores @Html.CheckBoxFor(model => model.Proveedores, "Proveedores")</a></li>
                                <li class="li-permisos"><a>Queseros @Html.CheckBoxFor(model => model.Queseros, "Queseros")</a></li>
                                <li class="li-permisos"><a>Rubros @Html.CheckBoxFor(model => model.Rubros, "Rubros")</a></li>
                                <li class="li-permisos"><a>Silos @Html.CheckBoxFor(model => model.Silos, "Silos")</a></li>
                                <li class="li-permisos"><a>Sucursales @Html.CheckBoxFor(model => model.Sucursales, "Sucursales")</a></li>
                                <li class="li-permisos"><a>Tinas @Html.CheckBoxFor(model => model.Tinas, "Tinas")</a></li>




                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Costos <span class="caret"></span>
                            </a>
                            <ul id="menuCostos" class="dropdown-menu">
                                <li class="li-permisos">
                                    <a class="main-check">
                                        Menu Costos <input main-ref="#menuCostos" type="checkbox" />
                                    </a>
                                </li>

                                <li class="li-permisos"><a>Fórmulas @Html.CheckBoxFor(model => model.Formulas, "Formulas")</a></li>
                                <li class="li-permisos"><a>Fórmulas de Envasado @Html.CheckBoxFor(model => model.Formulas_Envasado, "Formulas_Envasado")</a></li>
                                @* TODO: Verificar que sea el permiso correspondiente *@
                                <li class="li-permisos"><a>Fórmulas de Lavados @Html.CheckBoxFor(model => model.Lavados, "Formulas_Envasado")</a></li>
                                <li class="li-permisos"><a>Simulador de Costos @Html.CheckBoxFor(model => model.SimuladorCostos, "SimuladorCostos")</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Novedades <span class="caret"></span>
                            </a>
                            <ul id="menuNovedades" class="dropdown-menu">

                                <li class="li-permisos">
                                    <a class="main-check">
                                        Menu Novedades <input main-ref="#menuNovedades" type="checkbox" />
                                    </a>
                                </li>

                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Informe Planilla de Elaboración</a>

                                    <ul class="dropdown-menu">
                                        <li class="li-permisos"><a>Crema @Html.CheckBoxFor(model => model.Elaboracion_Crema, "Elaboracion_Crema")</a></li>
                                        <li class="li-permisos"><a>Dulce de Leche @Html.CheckBoxFor(model => model.Elaboracion_Dulce_De_Leche, "Elaboracion_Dulce_De_Leche")</a></li>
                                        <li class="li-permisos"><a>Muzzarela @Html.CheckBoxFor(model => model.Elaboracion_Muzzarela, "Elaboracion_Muzzarela")</a></li>
                                        <li class="li-permisos"><a>Ricota @Html.CheckBoxFor(model => model.Elaboracion_Ricota, "Elaboracion_Ricota")</a></li>
                                        <li class="li-permisos"><a>Quesos @Html.CheckBoxFor(model => model.Elaboracion_Queso, "Elaboracion_Queso")</a></li>
                                        <li class="li-permisos"><a>Quesos Fundido @Html.CheckBoxFor(model => model.Elaboracion_Queso_Fundido, "Elaboracion_Queso_Fundido")</a></li>
                                        <li class="li-permisos"><a>Leche en Polvo @Html.CheckBoxFor(model => model.Elaboracion_Leche_Polvo, "Elaboracion_Leche_Polvo")</a></li>
                                    </ul>
                                </li>
                                <li class="li-permisos"><a>Movimientos Volteo @Html.CheckBoxFor(model => model.Movimientos_Volteo, "Movimientos_Volteo")</a></li>

                                <li class="li-permisos"><a>Informe de Pesadas @Html.CheckBoxFor(model => model.Informe_Pesadas, "Informe_Pesadas")</a></li>
                                <li class="li-permisos"><a>Liberar por Calidad @Html.CheckBoxFor(model => model.Liberar_Por_Calidad, "Liberar_Por_Calidad")</a></li>
                                <li class="li-permisos"><a>Liberados Condicionales @Html.CheckBoxFor(model => model.Liberacion_Condicional, "Liberar_Por_Calidad")</a></li>
                                @* TODO: Averiguar si la columna es la correcta de permisos *@
                                <li class="li-permisos"><a>Liberados por Calidad @Html.CheckBoxFor(model => model.Liberar_Por_Calidad, "Liberar_Por_Calidad")</a></li>
                                @* TODO: Encontrar la columna de permisos *@
                                <li class="li-permisos"><a>Limpieza @Html.CheckBoxFor(model => model.Lineas, "Liberar_Por_Calidad")</a></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Insumos <span class="caret"></span>
                            </a>
                            <ul id="menuInsumos" class="dropdown-menu">
                                <li class="li-permisos">
                                    <a class="main-check">
                                        Menu Insumos <input main-ref="#menuInsumos" type="checkbox" />
                                    </a>
                                </li>

                                <li class="li-permisos"><a>Ajustes @Html.CheckBoxFor(model => model.Ajustes_Insumos, "Ajustes_Insumos")</a></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Traspaso Entre Fábricas</a>
                                    <ul class="dropdown-menu">
                                        <li class="li-permisos"><a>Carga @Html.CheckBoxFor(model => model.Carga_Traspasos_Insumos, "Carga_Traspasos_Insumos")</a></li>
                                        <li class="li-permisos"><a>Traspasos Pendientes @Html.CheckBoxFor(model => model.Pendientes_Traspasos_Insumos, "Pendientes_Traspasos_Insumos")</a></li>
                                        @*<li class="li-permisos"><a>Listado de Remitos de Traspaso entre Fábricas @Html.CheckBoxFor(model => model.Listado_Remitos_Traspaso_Fabricas, "Pendientes_Traspasos_Insumos")</a></li>*@
                                    </ul>
                                </li>
                                <li class="li-permisos"><a>Ingreso de Artículos al Stock con Factura @Html.CheckBoxFor(model => model.Ingreso_Factura, "Ingreso_Factura")</a></li>
                                <li class="li-permisos"><a>Movimientos de Leche @Html.CheckBoxFor(model => model.Ingreso_Leche, "Ingreso_Leche")</a></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Orden de Compra <span class="caret"></span>
                            </a>
                            <ul id="menuOrden" class="dropdown-menu">
                                <li class="li-permisos">
                                    <a class="main-check">
                                        Menu Orden Compra <input main-ref="#menuOrden" type="checkbox" />
                                    </a>
                                </li>

                                <li class="li-permisos"><a>Ingreso de Orden de Compra @Html.CheckBoxFor(model => model.Ingreso_Orden_Compra, "Ingreso_Orden_Compra")</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Utilidades <span class="caret"></span>
                            </a>
                            <ul id="menuUtilidades" class="dropdown-menu">
                                <li class="li-permisos">
                                    <a class="main-check">
                                        Menu Utilidades <input main-ref="#menuUtilidades" type="checkbox" />
                                    </a>
                                </li>
                                <li class="li-permisos"><a>Opciones de Trabajo @Html.CheckBoxFor(model => model.Opciones_Trabajo, "Opciones_Trabajo")</a></li>
                                <li class="li-permisos"><a>Datos de la Empresa @Html.CheckBoxFor(model => model.Datos_Empresa, "Datos_Empresa")</a></li>
                                <li class="li-permisos"><a>Duplicar Fórmula @Html.CheckBoxFor(model => model.Duplicar_Formula, "Duplicar_Formula")</a></li>
                            </ul>

                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Listados <span class="caret"></span>
                            </a>
                            <ul id="menuListados" class="dropdown-menu">
                                <li class="li-permisos">
                                    <a class="main-check">
                                        Menu Listados <input main-ref="#menuListados" type="checkbox" />
                                    </a>
                                </li>
                                <li class="li-permisos"><a>Calidad @Html.CheckBoxFor(model => model.Listado_Calidad, "Listado_Calidad")</a></li>

                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Insumos</a>

                                    <ul class="dropdown-menu">
                                        <li class="li-permisos"><a>Compras por Proveedor @Html.CheckBoxFor(model => model.Compras_Proveedor, "Compras_Proveedor")</a></li>
                                        <li class="li-permisos"><a>Stock Insumos @Html.CheckBoxFor(model => model.Stock_Insumos, "Stock_Insumos")</a></li>
                                        <li class="li-permisos"><a>Variacion de Precios @Html.CheckBoxFor(model => model.Variacio_Precios, "Variacio_Precios")</a></li>
                                        <li class="li-permisos"><a>Consumidos Por Producto @Html.CheckBoxFor(model => model.Consumidos_Por_Producto, "Consumidos_Por_Producto")</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Producción</a>
                                    <ul class="dropdown-menu">
                                        <li class="li-permisos"><a>Detallado Fórmula @Html.CheckBoxFor(model => model.Detallado_Formula, "Detallado_Formula")</a></li>
                                        <li class="li-permisos"><a>Detallado Fórmula Envasado @Html.CheckBoxFor(model => model.Detallado_Formula_Envasado, "Detallado_Formula_Envasado")</a></li>
                                        <li class="li-permisos"><a>Producciones Detalladas @Html.CheckBoxFor(model => model.Detallado_Produccion, "Detallado_Formula")</a></li>
                                        @*<li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Producciones Detalladas</a>
                                            <ul class="dropdown-menu">
                                                <li class="li-permisos">
                                                    <a>Ver Listado @Html.CheckBoxFor(model => model.Detallado_Produccion, "Resumen_Produccion")</a>
                                                    <a>Ver Importe en Listado @Html.EditorFor(model => model.Detallado_Produccion_Importe, "Resumen_Produccion_Importe")</a>
                                                </li>
                                            </ul>
                                        </li>*@
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resumen de Producción</a>
                                            <ul class="dropdown-menu">
                                                <li class="li-permisos">
                                                    <a>Ver Listado @Html.CheckBoxFor(model => model.Resumen_Produccion, "Resumen_Produccion")</a>
                                                    <a>Ver Importe en Listado @Html.EditorFor(model => model.Resumen_Produccion_Importe, "Resumen_Produccion_Importe")</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="li-permisos"><a>Seguimiento De Lote @Html.CheckBoxFor(model => model.Seguimiento_Lote, "Seguimiento_Lote")</a></li>
                                        <li class="li-permisos"><a>Restante de Producción @Html.CheckBoxFor(model => model.Listado_Merma, "Listado_Merma")</a></li>
                                        @*
        <li class="li-permisos"><a>Stock General @Html.CheckBoxFor(model => model.Stock_General, "Stock_General")</a></li>
        <li class="li-permisos"><a>Stock por Producto y Estado @Html.CheckBoxFor(model => model.Stock_Producto_Estado, "Stock_Producto_Estado")</a></li>
                                        *@
                                    </ul>
                                </li>

                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos</a>

                                    <ul class="dropdown-menu">
                                        <li class="li-permisos"><a>Costos Productos @Html.CheckBoxFor(model => model.Costos_Productos, "Costos_Productos")</a></li>
                                        @*
                <li class="li-permisos"><a>Stock De Productos Detallado @Html.CheckBoxFor(model => model.Stock_Productos_Detallado, "Stock_Productos_Detallado")</a></li>
                <li class="li-permisos"><a>Stock Resumido @Html.CheckBoxFor(model => model.Stock_Resumido, "Stock_Resumido")</a></li>

                                        *@
                                        <li class="li-permisos"><a>Stock De Productos @Html.CheckBoxFor(model => model.Stock_Productos, "Stock_Productos")</a></li>

                                    </ul>
                                </li>

                                <li class="li-permisos"><a>Stock Leche @Html.CheckBoxFor(model => model.Stock_Leche, "Stock_Leche")</a></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Stock <span class="caret"></span>
                            </a>
                            <ul id="menuStock" class="dropdown-menu">
                                <li class="li-permisos">
                                    <a class="main-check">
                                        Menu Stock <input main-ref="#menuStock" type="checkbox" />
                                    </a>
                                </li>

                                <li class="li-permisos"><a>Expedición @Html.CheckBoxFor(model => model.Expedicion, "Expedicion")</a></li>
                                <li class="li-permisos"><a>Listado Expedido @Html.CheckBoxFor(model => model.Listado_Expedicion)</a></li>
                                <li class="li-permisos"><a>Liberación Condicional @Html.CheckBoxFor(model => model.Liberacion_Condicional, "Expedicion")</a></li>
                                <li class="li-permisos"><a>Ajuste de Productos @Html.CheckBoxFor(model => model.Ajustes_Productos, "Ajustes_Productos")</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            (function ($) {
                $(document).ready(function () {
                    $('.main-check').click(function () {
                        let check = $(this).children('input[type=checkbox]');
                        let checked = !check.is(':checked');
                        let elements = $(check.attr('main-ref') + " a:not(.main-check) > input[type=checkbox]");

                        if (checked) {
                            for (let i = 0; i < elements.length; i++) {
                                $(elements[i]).prop('checked', true);
                            }
                        }
                        else {
                            for (let i = 0; i < elements.length; i++) {
                                $(elements[i]).prop('checked', false);
                            }
                        }

                        console.log("CHECKED: ", checked);
                        console.log("ELEMENTS: ", elements);
                    });

                    $('ul.dropdown-menu li.li-permisos').on('click', function (event) {
                        event.stopPropagation();
                    });
                });
            })(jQuery);

            (function ($) {
                $(document).ready(function () {
                    $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                        event.preventDefault();
                        event.stopPropagation();
                        $(this).parent().siblings().removeClass('open');
                        $(this).parent().toggleClass('open');
                    });

                    $('ul.dropdown-menu li a').on('click', function (event) {
                        $(this).find('input[type=checkbox]').each(function () {
                            if ($(this).is(':checked')) {
                                $(this).prop('checked', false);
                            }
                            else {
                                $(this).prop('checked', true);
                            }
                        });
                    });

                });
            })(jQuery);

            function ConfirmarPermisos(Formulario) {
                $.ajax({
                    type: "POST",
                    url: "/Permisos/AddOrEdit",
                    data: $(Formulario).serialize(),
                    success: function (data) {
                        if (data.success) {
                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });

                            $('#modalPermisos').modal('hide');

                            CargarUsuarios();

                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    },
                    beforeSend: function (data) {
                        $('#ConfirmarPermisos').attr("disabled", true)
                    },
                    complete: function (data) {
                        $('#ConfirmarPermisos').attr("disabled", false)
                    }

                });
            }
        </script>
    }
</div>

<div class="modal-footer modalCreate">
    <button type="button" class="btn btn-primary" id="ConfirmarPermisos">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

