﻿@using Business.Models.Schemes;
@model Dictionary<string, Access_Scheme>
@{
    Layout = null;
}

<div class="modal-header modalCreate col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Modificar Permisos</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body modalCreate">

    @{
        using (Html.BeginForm("AddOrEditV2", "Permisos", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formPermisos" }))
        {
            <div class="navbar navbar-inverse navbar-fixed">
                <div class="container-fluid" style="padding:0px 20px !important">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                            <!-- MAESTROS -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maestros <span class="caret"></span></a>

                                <ul id="menuMaestros" class="dropdown-menu">
                                    <!-- Menu-->
                                    <li class="li-permisos">
                                        <a class="main-check">Menu Maestro  @Html.CheckBoxFor(model => model["Menu_Maestros"].Enabled, new { refid = Model["Menu_Maestros"].Module.Id, refmain = "#menuMaestros" })</a>
                                    </li>

                                    <!-- Modulos -->
                                    <li class="li-permisos"><a>Artículos @Html.CheckBoxFor(model => model["Articulos"].Enabled, new { refid = Model["Articulos"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Costos Indirectos @Html.CheckBoxFor(model => model["Costos_Indirectos"].Enabled, new { refid = Model["Costos_Indirectos"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Cámaras @Html.CheckBoxFor(model => model["Camaras"].Enabled, new { refid = Model["Camaras"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Estados @Html.CheckBoxFor(model => model["Estados"].Enabled, new { refid = Model["Estados"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Fábrica @Html.CheckBoxFor(model => model["Fabricas"].Enabled, new { refid = Model["Fabricas"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Lavados @Html.CheckBoxFor(model => model["Lavados"].Enabled, new { refid = Model["Lavados"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Localidades @Html.CheckBoxFor(model => model["Localidades"].Enabled, new { refid = Model["Localidades"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Líneas @Html.CheckBoxFor(model => model["Lineas"].Enabled, new { refid = Model["Lineas"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Motivos De Retencion @Html.CheckBoxFor(model => model["Motivos_Retencion"].Enabled, new { refid = Model["Motivos_Retencion"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Productos Ventas @Html.CheckBoxFor(model => model["Productos_Ventas"].Enabled, new { refid = Model["Productos_Ventas"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Productos @Html.CheckBoxFor(model => model["Productos"].Enabled, new { refid = Model["Productos"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Proveedores @Html.CheckBoxFor(model => model["Proveedores"].Enabled, new { refid = Model["Proveedores"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Queseros @Html.CheckBoxFor(model => model["Queseros"].Enabled, new { refid = Model["Queseros"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Rubros @Html.CheckBoxFor(model => model["Rubros"].Enabled, new { refid = Model["Rubros"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Silos @Html.CheckBoxFor(model => model["Silos"].Enabled, new { refid = Model["Silos"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Sucursales @Html.CheckBoxFor(model => model["Sucursales"].Enabled, new { refid = Model["Sucursales"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Tinas @Html.CheckBoxFor(model => model["Tinas"].Enabled, new { refid = Model["Tinas"].Module.Id })</a></li>
                                </ul>
                            </li>

                            <!-- COSTOS -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Costos <span class="caret"></span></a>

                                <!-- Menu -->
                                <ul id="menuCostos" class="dropdown-menu">
                                    <li class="li-permisos">
                                        <a class="main-check">Menu Costos @Html.CheckBoxFor(model => model["Menu_Costos"].Enabled, new { refid = Model["Menu_Costos"].Module.Id, refmain = "#menuCostos" })</a>
                                    </li>

                                    <!-- Modulos -->
                                    <li class="li-permisos"><a>Fórmulas @Html.CheckBoxFor(model => model["Formulas"].Enabled, new { refid = Model["Formulas"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Fórmulas De Envasado @Html.CheckBoxFor(model => model["Formulas_Envasado"].Enabled, new { refid = Model["Formulas_Envasado"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Fórmulas De Lavados @Html.CheckBoxFor(model => model["Formulas_Lavado"].Enabled, new { refid = Model["Formulas_Lavado"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Simulador De Costos @Html.CheckBoxFor(model => model["Simulador_Costos"].Enabled, new { refid = Model["Simulador_Costos"].Module.Id })</a></li>
                                </ul>
                            </li>

                            <!-- NOVEDADES -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Novedades <span class="caret"></span></a>

                                <!-- Menu -->
                                <ul id="menuNovedades" class="dropdown-menu">
                                    <li class="li-permisos">
                                        <a class="main-check">Menu Novedades @Html.CheckBoxFor(model => model["Menu_Novedades"].Enabled, new { refid = Model["Menu_Novedades"].Module.Id, refmain = "#menuNovedades" })</a>
                                    </li>

                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Análisis Microbiológicos</a>

                                        <ul class="dropdown-menu">
                                            <li class="li-permisos"><a>Resultados @Html.CheckBoxFor(model => model["Analisis_Microbiologicos_Resultados"].Enabled, new { refid = Model["Analisis_Microbiologicos_Resultados"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Análisis @Html.CheckBoxFor(model => model["Analisis_Microbiologicos_Analisis"].Enabled, new { refid = Model["Analisis_Microbiologicos_Analisis"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Rangos @Html.CheckBoxFor(model => model["Analisis_Microbiologicos_Rangos"].Enabled, new { refid = Model["Analisis_Microbiologicos_Rangos"].Module.Id })</a></li>
                                        </ul>

                                    </li>
                                    <!-- Modulos -->

                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Informe Planilla De Elaboración</a>

                                        <ul class="dropdown-menu">
                                            <li class="li-permisos"><a>Crema @Html.CheckBoxFor(model => model["Elaboracion_Crema"].Enabled, new { refid = Model["Elaboracion_Crema"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Dulce De Leche @Html.CheckBoxFor(model => model["Elaboracion_Dulce_Leche"].Enabled, new { refid = Model["Elaboracion_Dulce_Leche"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Muzzarella @Html.CheckBoxFor(model => model["Elaboracion_Muzzarella"].Enabled, new { refid = Model["Elaboracion_Muzzarella"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Ricota @Html.CheckBoxFor(model => model["Elaboracion_Ricota"].Enabled, new { refid = Model["Elaboracion_Ricota"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Quesos @Html.CheckBoxFor(model => model["Elaboracion_Queso"].Enabled, new { refid = Model["Elaboracion_Queso"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Quesos Fundidos @Html.CheckBoxFor(model => model["Elaboracion_Queso_Fundido"].Enabled, new { refid = Model["Elaboracion_Queso_Fundido"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Leche En Polvo @Html.CheckBoxFor(model => model["Elaboracion_Leche_Polvo"].Enabled, new { refid = Model["Elaboracion_Leche_Polvo"].Module.Id })</a></li>
                                        </ul>

                                    </li>

                                    <li class="li-permisos"><a>Movimientos Volteo @Html.CheckBoxFor(model => model["Movimientos_Volteo"].Enabled, new { refid = Model["Movimientos_Volteo"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Informe De Pesadas @Html.CheckBoxFor(model => model["Informe_Pesadas"].Enabled, new { refid = Model["Informe_Pesadas"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Liberar Por Calidad @Html.CheckBoxFor(model => model["Liberar_Calidad"].Enabled, new { refid = Model["Liberar_Calidad"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Liberados Condicionales @Html.CheckBoxFor(model => model["Liberados_Condicionales"].Enabled, new { refid = Model["Liberados_Condicionales"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Liberados Por Calidad @Html.CheckBoxFor(model => model["Liberados_Calidad"].Enabled, new { refid = Model["Liberados_Calidad"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Limpieza @Html.CheckBoxFor(model => model["Limpieza"].Enabled, new { refid = Model["Limpieza"].Module.Id })</a></li>
                                </ul>
                            </li>


                            <!-- ARTICULOS -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articulos <span class="caret"></span></a>

                                <!-- Menu -->
                                <ul id="menuArticulos" class="dropdown-menu">
                                    <li class="li-permisos">
                                        <a class="main-check">Menu Articulos @Html.CheckBoxFor(model => model["Menu_Articulos"].Enabled, new { refid = Model["Menu_Articulos"].Module.Id, refmain = "#menuArticulos" })</a>
                                    </li>

                                    <!-- Modulos -->
                                    <li class="li-permisos"><a>Ajustes @Html.CheckBoxFor(model => model["Ajustes_Articulos"].Enabled, new { refid = Model["Ajustes_Articulos"].Module.Id })</a></li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Traspasos Entre Fábricas</a>

                                        <ul class="dropdown-menu">
                                            <li class="li-permisos"><a>Carga @Html.CheckBoxFor(model => model["Carga_Traspasos_Articulos"].Enabled, new { refid = Model["Carga_Traspasos_Articulos"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Traspasos Pendientes @Html.CheckBoxFor(model => model["Traspasos_Pendientes"].Enabled, new { refid = Model["Traspasos_Pendientes"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Listado De Remitos De Traspaso Entre Fábricas @Html.CheckBoxFor(model => model["Listado_Remitos_Traspasos"].Enabled, new { refid = Model["Listado_Remitos_Traspasos"].Module.Id })</a></li>
                                        </ul>

                                    </li>

                                    <li class="li-permisos"><a>Artículos De Envío @Html.CheckBoxFor(model => model["Articulos_Envio"].Enabled, new { refid = Model["Articulos_Envio"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Ingreso De Insumos Al Stock Con Factura @Html.CheckBoxFor(model => model["Ingreso_Factura"].Enabled, new { refid = Model["Ingreso_Factura"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Movimientos De Leche @Html.CheckBoxFor(model => model["Movimientos_Leche"].Enabled, new { refid = Model["Movimientos_Leche"].Module.Id })</a></li>
                                </ul>
                            </li>


                            <!-- ORDEN COMPRA -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orden De Compra <span class="caret"></span></a>

                                <!-- Menu -->
                                <ul id="menuOrdenCompra" class="dropdown-menu">
                                    <li class="li-permisos">
                                        <a class="main-check">Menu Orden De Compra @Html.CheckBoxFor(model => model["Menu_Orden_Compra"].Enabled, new { refid = Model["Menu_Orden_Compra"].Module.Id, refmain = "#menuOrdenCompra" })</a>
                                    </li>

                                    <!-- Modulos -->
                                    <li class="li-permisos"><a>Ingreso De Orden De Compra @Html.CheckBoxFor(model => model["Ingreso_Orden_Compra"].Enabled, new { refid = Model["Ingreso_Orden_Compra"].Module.Id })</a></li>
                                </ul>
                            </li>


                            <!-- UTILIDADES -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilidades <span class="caret"></span></a>

                                <!-- Menu -->
                                <ul id="menuUtilidades" class="dropdown-menu">
                                    <li class="li-permisos">
                                        <a class="main-check">Menu Utilidades @Html.CheckBoxFor(model => model["Menu_Utilidades"].Enabled, new { refid = Model["Menu_Utilidades"].Module.Id, refmain = "#menuUtilidades" })</a>
                                    </li>

                                    <!-- Modulos -->
                                    <li class="li-permisos"><a>Opciones De Trabajo @Html.CheckBoxFor(model => model["Opciones_Trabajo"].Enabled, new { refid = Model["Opciones_Trabajo"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Datos De La Empresa @Html.CheckBoxFor(model => model["Datos_Empresa"].Enabled, new { refid = Model["Datos_Empresa"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Duplicar Fórmula @Html.CheckBoxFor(model => model["Duplicar_Formula"].Enabled, new { refid = Model["Duplicar_Formula"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Duplicar Fórmula Envasado @Html.CheckBoxFor(model => model["Duplicar_Formula_Envasado"].Enabled, new { refid = Model["Duplicar_Formula_Envasado"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Información Monedas Extranjeras @Html.CheckBoxFor(model => model["Informacion_Moneda_Extranjera"].Enabled, new { refid = Model["Informacion_Moneda_Extranjera"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Actualizar Maestro Productos @Html.CheckBoxFor(model => model["Actualizar_Maestro_Productos"].Enabled, new { refid = Model["Actualizar_Maestro_Productos"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Actualizar Litros Quesos @Html.CheckBoxFor(model => model["Actualizar_Litros_Quesos"].Enabled, new { refid = Model["Actualizar_Litros_Quesos"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Usuarios @Html.CheckBoxFor(model => model["Usuarios"].Enabled, new { refid = Model["Usuarios"].Module.Id })</a></li>

                                </ul>
                            </li>


                            <!-- LISTADOS -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listados <span class="caret"></span></a>

                                <!-- Menu -->
                                <ul id="menuListados" class="dropdown-menu">
                                    <li class="li-permisos">
                                        <a class="main-check">Menu Listados @Html.CheckBoxFor(model => model["Menu_Listados"].Enabled, new { refid = Model["Menu_Listados"].Module.Id, refmain = "#menuListados" })</a>
                                    </li>

                                    <!-- Modulos -->

                                    <li class="li-permisos"><a>Calidad @Html.CheckBoxFor(model => model["Listado_Calidad"].Enabled, new { refid = Model["Listado_Calidad"].Module.Id })</a></li>

                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Expedición</a>

                                        <ul class="dropdown-menu">
                                            <li class="li-permisos"><a>Detalle De Remito @Html.CheckBoxFor(model => model["Listado_Detalles_Remito"].Enabled, new { refid = Model["Listado_Detalles_Remito"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Remitos Por Producto @Html.CheckBoxFor(model => model["Listado_Remitos_Producto"].Enabled, new { refid = Model["Listado_Remitos_Producto"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Expedido @Html.CheckBoxFor(model => model["Listado_Expedido"].Enabled, new { refid = Model["Listado_Expedido"].Module.Id })</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Artículos</a>

                                        <ul class="dropdown-menu">
                                            <li class="li-permisos"><a>Ver Artículos @Html.CheckBoxFor(model => model["Listado_Articulos"].Enabled, new { refid = Model["Listado_Articulos"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Punto De Pedido @Html.CheckBoxFor(model => model["Listado_Punto_Pedido"].Enabled, new { refid = Model["Listado_Punto_Pedido"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Ver Factura/Remito @Html.CheckBoxFor(model => model["Listado_Factura_Remito"].Enabled, new { refid = Model["Listado_Factura_Remito"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Stock Artículos @Html.CheckBoxFor(model => model["Listado_Stock_Articulos"].Enabled, new { refid = Model["Listado_Stock_Articulos"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Desvío Consumo @Html.CheckBoxFor(model => model["Listado_Desvio_Consumo"].Enabled, new { refid = Model["Listado_Desvio_Consumo"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Consumidos Por Producto @Html.CheckBoxFor(model => model["Listado_Consumidos_Producto"].Enabled, new { refid = Model["Listado_Consumidos_Producto"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Compras Por Proveedor @Html.CheckBoxFor(model => model["Listado_Compras_Proveedor"].Enabled, new { refid = Model["Listado_Compras_Proveedor"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Variación De Precios @Html.CheckBoxFor(model => model["Listado_Variacion_Precios"].Enabled, new { refid = Model["Listado_Variacion_Precios"].Module.Id })</a></li>

                                        </ul>
                                    </li>

                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Producción</a>

                                        <ul class="dropdown-menu">
                                            <li class="li-permisos"><a>Cambios De Estado @Html.CheckBoxFor(model => model["Listado_Cambios_Estado"].Enabled, new { refid = Model["Listado_Cambios_Estado"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Detallado Fórmula @Html.CheckBoxFor(model => model["Listado_Detallado_Formula"].Enabled, new { refid = Model["Listado_Detallado_Formula"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Detallado Fórmula Envasado @Html.CheckBoxFor(model => model["Listado_Detallado_Formula_Envasado"].Enabled, new { refid = Model["Listado_Detallado_Formula_Envasado"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Producciones Detalladas @Html.CheckBoxFor(model => model["Listado_Producciones_Detalladas"].Enabled, new { refid = Model["Listado_Producciones_Detalladas"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Proyección De Producción @Html.CheckBoxFor(model => model["Listado_Proyeccion_Produccion"].Enabled, new { refid = Model["Listado_Proyeccion_Produccion"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Resumen De Producción @Html.CheckBoxFor(model => model["Listado_Resumen_Produccion"].Enabled, new { refid = Model["Listado_Resumen_Produccion"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Merma @Html.CheckBoxFor(model => model["Listado_Merma"].Enabled, new { refid = Model["Listado_Merma"].Module.Id })</a></li>
                                            <li class="dropdown dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Muzzarella</a>
                                                <ul class="dropdown-menu">
                                                    <li class="li-permisos"><a>Resumen de Producción de Muzzarella @Html.CheckBoxFor(model => model["Listado_Resumen_Produccion_Muzzarella"].Enabled, new { refid = Model["Listado_Resumen_Produccion_Muzzarella"].Module.Id })</a></li>
                                                    <li class="li-permisos"><a>Producciones de Muzzarella Detalladas @Html.CheckBoxFor(model => model["Listado_Produccion_Muzzarella_Detallado"].Enabled, new { refid = Model["Listado_Produccion_Muzzarella_Detallado"].Module.Id })</a></li>
                                                </ul>
                                            </li>
                                            <li class="li-permisos"><a>Seguimiento De Lote @Html.CheckBoxFor(model => model["Listado_Seguimiento_Lote"].Enabled, new { refid = Model["Listado_Seguimiento_Lote"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Restante De Produccion @Html.CheckBoxFor(model => model["Listado_Restante_Produccion"].Enabled, new { refid = Model["Listado_Restante_Produccion"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Hormas Consumidas @Html.CheckBoxFor(model => model["Listado_Hormas_Consumidas"].Enabled, new { refid = Model["Listado_Hormas_Consumidas"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Análisis Microbiológicos @Html.CheckBoxFor(model => model["Listado_Analisis_Microbiologicos"].Enabled, new { refid = Model["Listado_Analisis_Microbiologicos"].Module.Id })</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Producto Desnudo</a>

                                        <ul class="dropdown-menu">
                                            <li class="li-permisos"><a>Costos Por Producto @Html.CheckBoxFor(model => model["Listado_Costos_Producto"].Enabled, new { refid = Model["Listado_Costos_Producto"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Movimientos Volteo @Html.CheckBoxFor(model => model["Listado_Movimientos_Volteo"].Enabled, new { refid = Model["Listado_Movimientos_Volteo"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Stock @Html.CheckBoxFor(model => model["Listado_Stock_Desnudo"].Enabled, new { refid = Model["Listado_Stock_Desnudo"].Module.Id })</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Producto Venta</a>

                                        <ul class="dropdown-menu">
                                            <li class="li-permisos"><a>Stock @Html.CheckBoxFor(model => model["Listado_Stock_Venta"].Enabled, new { refid = Model["Listado_Stock_Venta"].Module.Id })</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estados</a>

                                        <ul class="dropdown-menu">
                                            <li class="li-permisos"><a>Estado Producto Resumido @Html.CheckBoxFor(model => model["Listado_Estado_Producto_Resumido"].Enabled, new { refid = Model["Listado_Estado_Producto_Resumido"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Estado Producto Detallado @Html.CheckBoxFor(model => model["Listado_Estado_Producto_Detallado"].Enabled, new { refid = Model["Listado_Estado_Producto_Detallado"].Module.Id })</a></li>
                                        </ul>
                                    </li>

                                    <li class="li-permisos"><a>Producto Unificado @Html.CheckBoxFor(model => model["Listado_Producto_Unificado"].Enabled, new { refid = Model["Listado_Producto_Unificado"].Module.Id })</a></li>
                                    <li class="li-permisos"><a>Stock Leche @Html.CheckBoxFor(model => model["Listado_Stock_Leche"].Enabled, new { refid = Model["Listado_Stock_Leche"].Module.Id })</a></li>
                                </ul>
                            </li>


                            <!-- STOCK -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stock <span class="caret"></span></a>

                                <!-- Menu -->
                                <ul id="menuStock" class="dropdown-menu">
                                    <li class="li-permisos">
                                        <a class="main-check">Menu Stock @Html.CheckBoxFor(model => model["Menu_Stock"].Enabled, new { refid = Model["Menu_Stock"].Module.Id, refmain = "#menuStock" })</a>
                                    </li>

                                    <!-- Modulos -->
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Expediciones</a>

                                        <ul class="dropdown-menu">
                                            <li class="li-permisos"><a>Expedición @Html.CheckBoxFor(model => model["Expediciones"].Enabled, new { refid = Model["Expediciones"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Ingresos Pendientes @Html.CheckBoxFor(model => model["Ingresos_Pendientes"].Enabled, new { refid = Model["Ingresos_Pendientes"].Module.Id })</a></li>
                                        </ul>
                                    </li>
                                    <!-- Modulos -->
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Traspasos</a>

                                        <ul class="dropdown-menu">
                                            <li class="li-permisos"><a>Traspaso @Html.CheckBoxFor(model => model["Traspaso_Fabricas"].Enabled, new { refid = Model["Traspaso_Fabricas"].Module.Id })</a></li>
                                            <li class="li-permisos"><a>Ingresos Pendientes @Html.CheckBoxFor(model => model["Traspaso_Fabricas_Pendientes"].Enabled, new { refid = Model["Traspaso_Fabricas_Pendientes"].Module.Id })</a></li>
                                        </ul>
                                    </li>
                                    <li class="li-permisos"><a>Ajuste De Productos @Html.CheckBoxFor(model => model["Ajustes_Productos"].Enabled, new { refid = Model["Ajustes_Productos"].Module.Id })</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    }
</div>

<script>
    (function ($) {
        $(document).ready(function () {
            $('.main-check').click(function () {
                let check = $(this).children('input[type=checkbox]');
                let checked = !check.is(':checked');
                let elements = $(check.attr('refmain') + " a:not(.main-check) > input[type=checkbox]");

                if (checked) {
                    for (let i = 0; i < elements.length; i++) {
                        $(elements[i]).prop('checked', true);
                    }
                }
                else {
                    for (let i = 0; i < elements.length; i++) {
                        $(elements[i]).prop('checked', false);
                    }
                }

                console.log("CHECKED: ", checked);
                console.log("ELEMENTS: ", elements);
            });

            $('ul.dropdown-menu li.li-permisos').on('click', function (event) {
                event.stopPropagation();
            });
        });
    })(jQuery);

    (function ($) {
        $(document).ready(function () {
            $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });

            $('ul.dropdown-menu li a').on('click', function (event) {
                $(this).find('input[type=checkbox]').each(function () {
                    if ($(this).is(':checked')) {
                        $(this).prop('checked', false);
                    }
                    else {
                        $(this).prop('checked', true);
                    }
                });
            });

        });
    })(jQuery);


    function ConfirmarPermisos(Formulario, event) {

        console.log(Formulario)

        const input = [...$('#formPermisos').find('input[type=checkbox]')].map(i => (
        {
            Id: parseInt(i.attributes['refid']?.value),
            Name: i.name,
            Value: i.checked
        }
        ))

        const filteredInput = input.filter(i => i?.Id).filter(i => i.Value)

        $.ajax({
            type: "POST",
            url: "/Permisos/AddOrEditV2",
            data: JSON.stringify({ Permisos: filteredInput, UserId: @ViewData["UserId"], }),/*$(Formulario).serialize(),*/
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.success) {
                    notif({
                        msg: data.message,
                        type: "success",
                        position: "center"
                    });

                    $('#modalPermisos').modal('hide');

                    CargarUsuarios();

                }
                else {
                    notif({
                        msg: data.message,
                        type: "error",
                        position: "center"
                    });
                }
            },
            beforeSend: function (data) {
                $('#ConfirmarPermisos').attr("disabled", true)
            },
            complete: function (data) {
                $('#ConfirmarPermisos').attr("disabled", false)
            }

        });
    }
</script>

<div class="modal-footer modalCreate">
    <button type="button" class="btn btn-primary" id="ConfirmarPermisos">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}