﻿@model AccesoDatos.Contexto.Produccion.Cambio_Estado 
@using AccesoDatos.Contexto.Produccion
@{
    Layout = null;
}

<div class="modal-header modalCreate col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Cambio de Estado</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Html.BeginForm("AddOrEdit", "CambiosEstado", FormMethod.Post, new { onsubmit = "return ConfirmarCambioEstado(this)", id = "NuevoCambioEstado" }))
{
    <div class="modal-body modalCreate" id="BodyCambioEstado">
        <div class="col-md-12 caja-contenedora">
            <div class="col-md-12" style="display:none">
                @Html.EditorFor(model => model.Lote, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="col-md-12 form-medio">
                <div class="col-md-3 form-medio">
                    @Html.Label("Estado:", new { @class = "control-label" })
                </div>
                <div class="col-md-9 form-medio">
                    @Html.DropDownListFor(model => model.Codigo_Estado, ViewBag.listadoCambiosEstado as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })

                </div>              
            </div>
            <div class="col-md-12 form-group">
                @Html.ValidationMessageFor(model => model.Codigo_Estado)
            </div>

            @{
                if (ViewBag.usaStockCamara == true)
                {
                    <div class="col-md-12 form-medio form-group">
                        <div class="col-md-3 form-medio">
                            @Html.Label("Cámara:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-7 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Camara, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon"><a href="#" data-toggle="modal" data-target="#modalCamaras"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                        
                    </div>
                }
            }

            <div class="col-md-12 form-medio">
                <div class="col-md-3 form-medio">@Html.Label("Fecha:", new { @class = "control-label" })</div>
                <div class="col-md-9 flexible2">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                        </div>        
                    </div>
                    <div class="col-md-12 form-medio">
                        @Html.ValidationMessageFor(model => model.Fecha)
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal-footer modalCreate">
        <input type="submit" onclick="return ConfirmarCambioEstado($('#NuevoCambioEstado'))" value="Confirmar" class="btn btn-primary" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
}

<script>
        $('#Fecha').datepicker();

        function ConfirmarCambioEstado(Formulario) {

            $.validator.unobtrusive.parse(Formulario);

            if ($(Formulario).valid()) {
                $.ajax({
                    type: "POST",
                    url: "/CambiosEstado/AddOrEdit",
                    data: $(Formulario).serialize(),
                    success: function (data) {
                        if (data.success) {

                            $('#modalEstados').modal('hide');

                            $('#modalEstados').on('hidden.bs.modal', function (e) {
                                notif({
                                    msg: data.message,
                                    type: "success",
                                    position: "center"
                                });

                                CargarProducciones();

                            });

                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });

                return false;
            }
        }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}




