﻿@model AccesoDatos.Contexto.Produccion.Ingreso_Leche


@using (Html.BeginForm("AddOrEdit", "IngresosLeche", FormMethod.Post, new { id = "IngresoForm", onsubmit = "return SubmitOrden(this)" }))
{
    @Html.HiddenFor(model => model.Codigo_Interno_Ingreso)
    @Html.HiddenFor(model => model.Estado)
    <div class="col-md-12 contenedor-formulas-add">
        <div class="col-md-12 flexible2">
            <!-- CONTENEDOR SUBMIT-->

            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <input type="button" value="Confirmar" class="btn btn-primary btnConfirmacionFrm" />
                        <a class="btn btn-default" href="@Url.Action("Index", "IngresosLeche")">Volver</a>
                    </div>
                </div>
            </div>


            <div class="col-md-12 caja-contenedora">
                <div class="col-md-12 caja-sector">
                    <div class="col-md-3 form-medio">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Fecha, "Fecha:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-4 form-medio">
                            @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @type = "text" } })

                        </div>
                    </div>
                    <div class="col-md-3 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.Tipo_Movimiento, "Tipo Movimiento:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-3 form-medio">
                            @Html.DropDownListFor(model => model.Tipo_Movimiento, ViewBag.ListadoMovimiento as IEnumerable<SelectListItem>, new { @class = "form-control" })

                        </div>
                    </div>
                </div>
                <div class="col-md-12 caja-sector">
                    <div class="col-md-5 form-medio">
                        <div class="col-md-3 form-medio">
                            @Html.LabelFor(model => model.Codigo_Proveedor, "Proveedor", new { @class = "control-label" }):
                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Codigo_Proveedor, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                <span class="input-group-addon"><a data-toggle="modal" onclick="AbrirModalProveedores()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Codigo_Proveedor)
                        </div>
                        <div class="col-md-5 proveedor" style="padding-right:0px !important">
                            <p id="Descripcion_Proveedor" style="margin:0px !important; text-transform:capitalize">
                                @ViewBag.proveedor
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.Tipo_Factura, "Tipo Comprobante:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-3 form-medio">
                            @Html.DropDownListFor(model => model.Tipo_Factura, ViewBag.ListadoTipoFactura as IEnumerable<SelectListItem>, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="col-md-1 form-medio">
                        <div class="col-md-6 form-medio">
                            @Html.LabelFor(model => model.Prefijo, "Prefijo:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6 form-medio">
                            @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control", @type = "text" } })

                        </div>
                    </div>
                    <div class="col-md-3 form-medio">
                        <div class="col-md-7 col-md-offset-1 form-medio">
                            @Html.LabelFor(model => model.Numero_Comprobante, "Nro Comprobante:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5 form-medio">
                            @Html.EditorFor(model => model.Numero_Comprobante, new { htmlAttributes = new { @class = "form-control", @type = "text", @onkeypress = "AgregarDetalleEnter(event)" } })

                        </div>
                    </div>

                </div>
                <!-- PROVEEDOR / DESCUENTO / PRECIO DOLAR -->


            </div>

            <div class="col-md-12 contenedor-listados">

                <!--DETALLES-->
                <div class="col-md-12 caja-contenedora">
                    <div class="titulo-sector"></div>

                    <table id="DetallesTabla" class="display compact noOrdenable" style="width:100%"></table>
                </div>

            </div>
            <div class="col-md-12 caja-contenedora">
                <div class="col-md-12" style="display:flex !important; padding:0px !important">
                    <div class="col-md-1" style="padding:0px !important">
                        @Html.LabelFor(model => model.Observacion, "Observacion:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-11 form-medio">
                        @Html.TextAreaFor(model => model.Observacion, new { @class = "form-control", @style = "text-transform:capitalize; height:100% !important" })
                        @Html.ValidationMessageFor(model => model.Observacion)
                    </div>
                </div>
            </div>

            <!-- LISTADOS PARA ENVIAR AL CONTROLADOR -->

            <div id="DetallesOrden" style="display:none"></div>

            <!-- CONTENEDOR SUBMIT-->

            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <input type="button" value="Confirmar" class="btn btn-primary btnConfirmacionFrm" />
                        <a class="btn btn-default" href="@Url.Action("Index", "IngresosLeche")">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Modal Insumos Leche -->
<div class="modal fade" id="modalInsumosLeche" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:800px;">
        <div class="modal-content" id="ModalInsumosLeche">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Leche</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA INSUMOS -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="InsumosTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ConfirmarInsumo">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $.validator.methods.range = function (value, element, param) {
        var globalizedValue = value.replace(",", ".");
        return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
    }

    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }
    //Date dd/MM/yyyy
    $.validator.methods.date = function (value, element) {
        var date = value.split("/");
        return this.optional(element) || !/Invalid|NaN/.test(new Date(date[2], date[1], date[0]).toString());
    }
</script>

<script>
    var detalleIngreso = [];
    var jsonObj = @Html.Raw(Json.Encode(ViewBag.detalle));
    $.each(jsonObj, function (i, item) {
        detalleIngreso.push(item);
    })

    function AgregarDetalleEnter(e) {
        if (e.keyCode === 13 && !e.shiftKey) {
            //e.preventDefault();
            AgregarDetalle();
        }
    }
        var tipoModalInsumo = 0;
        var dataTableInsumos = [];
        var Total = 0;

        function toDate(dateStr) {
            var parts = dateStr.split("/")
            return new Date(parts[2], parts[1] - 1, parts[0])
        }

        $(".btnConfirmacionFrm").click(function () {

            if (!$(this).prop('disabled')) {

                $(this).prop('disabled', true);

                SubmitOrden($("#IngresoForm"));

            }

        });

    function SubmitOrden(form) {
        if (detalleIngreso.length == 0) {
            notif({
                msg: "Agrege un detalle.",
                type: "error",
                position: "center"
            });
            AgregarDetalle();
            return false;
        }
            for (var i in detalleIngreso) {

                $('#DetallesOrden').append('<input type="text" name="Detalle_Ingreso[' + i + '].Codigo_Silo" value="' + detalleIngreso[i].Codigo_Silo + '"/>' +
                    '<input type="text" name="Detalle_Ingreso[' + i + '].Litros" value="' + parseFloat(detalleIngreso[i].Litros).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Ingreso[' + i + '].Codigo_Fabrica" value="' + detalleIngreso[i].Codigo_Fabrica + '"/>' +
                    '<input type="text" name="Detalle_Ingreso[' + i + '].Lote" value="' + detalleIngreso[i].Lote + '"/>' +
                    '<input type="text" name="Detalle_Ingreso[' + i + '].Codigo_Interno_Ingreso" value="' + '@Model.Codigo_Interno_Ingreso' + '"/>' +
                    '<input type="text" name="Detalle_Ingreso[' + i + '].Codigo_Insumo" value="' + detalleIngreso[i].Codigo_Insumo + '"/>' +
                    '<input type="text" name="Detalle_Ingreso[' + i + '].Acidez" value="' + parseFloat(detalleIngreso[i].Acidez).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Ingreso[' + i + '].Ph" value="' + parseFloat(detalleIngreso[i].Ph).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Ingreso[' + i + '].Densidad" value="' + parseFloat(detalleIngreso[i].Densidad).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Ingreso[' + i + '].Grasa" value="' + parseFloat(detalleIngreso[i].Grasa).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Ingreso[' + i + '].Proteina" value="' + parseFloat(detalleIngreso[i].Proteina).toString().replace(".", ",") + '"/>');
            }

            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: "/IngresosLeche/AddOrEdit",
                    data: $(form).serialize(),
                    success: function (data) {
                        if (!data.success) {

                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });

                            $(".btnConfirmacionFrm").prop("disabled", false);

                        }
                        else {
                            window.location.href = "/IngresosLeche/Index";
                        }
                    }
                });
            }

            return false;
        }
    function ExisteProveedor(cod) {
        $.ajax({
            url: "/Proveedores/GetOne/",
            type: "GET",
            datatype: "json",
            data: { Codigo_Proveedor: cod },
            success: function (data) {
                if (data.success) {
                    $("#Descripcion_Proveedor").html(data.data.RAZON_SOCIAL);
                }
                else {
                    notif({
                        msg: "No existe Proveedor",
                        type: "error",
                        position: "center"
                    });
                    $("#Codigo_Proveedor").focus();
                }
            }
        });
    }

        function CargarDetalles(){
            dataTableInsumos = $("#DetallesTabla").DataTable({
                "bPaginate": false,
                "bFilter": false,
                "destroy": true,
                "responsive": true,
                "bInfo": false,
                "iDisplayLength": 50,
                "lengthChange": false,
                "autoWidth": true,
                data: detalleIngreso,
                "columns": [
                    {
                        title: "Insumo",
                        data: "Codigo_Insumo",
                        "width": "10%"

                    },
                    {
                        title: "Fabrica",
                        data: "Codigo_Fabrica",
                        "width": "5%"

                    },
                    {
                        title: "Silo",
                        data: "Codigo_Silo",
                        "width": "5%"

                    },
                    {
                        title: "Lote",
                        data: "Lote",
                        "width": "10%"

                    },
                    {
                        title: "Litros",
                        data: "Litros",
                        "width": "15%"

                    },
                    {
                        title: "Ph",
                        data: "Ph",
                        "width": "10%"

                    },
                    {
                        title: "Acidez",
                        data: "Acidez",
                        "width": "10%"

                    },
                    {
                        title: "Densidad",
                        data: "Densidad",
                        "width": "10%"

                    },
                    {
                        title: "Grasa",
                        data: "Grasa",
                        "width": "7%"

                    },
                    {
                        title: "Proteina",
                        data: "Proteina",
                        "width": "7%"

                    },
                    {
                        title: "",
                        data: "Codigo_Interno_Detalle",
                        "width": "5%",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-xs' onclick=editarDetalle('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                   "<a class='btn btn-danger btn-xs' onclick=borrarDetalle('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                        },
                    },
                    {
                        title: "",
                        orderable:false,
                        data: "Codigo_Interno_Detalle",
                        "width": "1%",
                        "render": function (data) {
                            return "<input id='e' type='hidden' value='"+data+"'></input>";
                        },
                    }
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    { className: "text-right", "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8] },
                    { className: "text-center", "targets": [9] },

                ],
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: "nuevo nuevoDetalle",
                       action: function () {
                           AgregarDetalle();
                       }
                   }
                ],
                "order": [[1, "asc"]]
            });
        }

    function CargarInsumosLeche() {
        dataTable = $("#InsumosTabla").DataTable({
            "destroy": true,
            "autoWidth": true,
            "ajax": {
                "url": "/Insumos/GetLeche",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "Codigo_Insumo",
                    "title": "Código",
                    render: function (data) {
                        if (data == null) {
                            return "";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "data": "Descripcion",
                    "title": "Descripción",
                    "sClass": "mayusculas-texto",
                    render: function (data) {
                        if (data == null) {
                            return "";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "data": "Precio_Ultima_Compra",
                    "title": "Precio Compra",
                    "render": function (data) {
                        if (data == null) {
                            return "";
                        }
                        else {
                            return parseFloat(data).toFixed(2);
                        }
                    }
                }
                //{
                //    "data": "Codigo_Insumo",
                //    "title": "Herramientas",
                //    "render": function (data) {
                //        return "<a class='btn btn-default btn-xs' onclick=AbrirModalInsumoAddOrEdit('"+data+"')><span class='glyphicon glyphicon-pencil'></span></a>" +
                //                "<a class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-trash'></span></a>";
                //    },
                //}

            ],
            "order": [[1, 'asc']],
            "language": idiomaEspañol,
            "select": 'single',
            "columnDefs": [
                { className: "text-right", "targets": [2] },
                { className: "text-center", "targets": [0] }
            ],
            dom: 'Bfrtip',
            buttons: [
                //{
                //    text: '<span class="glyphicon glyphicon-plus">',
                //    className: 'nuevo nuevoInsumo',
                //    action: function () {
                //        AbrirModalInsumoAddOrEdit("");
                //
                //    }
                //},

            ],
        });
    }

    function AgregarDetalle() {
        if ($("#Fila_Agregar").length > 0) {
            return
        }
                var html = '<tr id="Fila_Agregar">';
                html += '<td id="dataInsumo">' +
                                  '<input id="tb-insumo" placeholder="Código" class="col-md-9 text-box single-line" style="text-align:right">' +
                                  '<div class="col-md-3" style="padding:0px !important; text-align:right"><a href="#" id="mostrarInsumos" onclick="AbrirModalInsumosLeche()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>' +
                        '</td>';
                html += '<td id="dataFabrica" class="form-medio">' +
                    '<input id="Codigo_Fabrica" placeholder="Código" class="col-md-8 text-box single-line" style="text-align:right">' +
                    '<div class="col-md-4" style="padding:0px !important; text-align:right"><a onclick="AbrirModalFabricas()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>' +
                    '</td>';
                html += '<td id="dataSilo" style="text-transform:capitalize"></td>';
                html += '<td id="dataLote"></td>';
                html += '<td id="dataLitros"></td>';
                html += '<td id="dataPh"></td>';
                html += '<td id="dataAcidez"></td>';
                html += '<td id="dataDensidad"></td>';
                html += '<td id="dataGrasa"></td>';
                html += '<td id="dataProteina"></td>';
                html += '<td style="display:flex; justify-content:center"><button type="button" name="insert" id="insertarDetalle" onclick="InsertarDetalle()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>' +
                     '<button type="button" onclick="CargarDetalles()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';
                $('#DetallesTabla tbody').prepend(html);


                $("#Codigo_Fabrica").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $(this).trigger("enterKey");
                        ConfirmarFabrica();
                    }

                });

                $("#tb-insumo").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $(this).trigger("enterKey");
                        ConfirmarInsumo($("#tb-insumo").val());
                    }
                });
                RellenarColumnas();
                $('#tb-insumo').focus();



    };
    function existeSilo() {
        $.ajax({
            url: "/Silos/GetData",
            type: "GET",
            success: function (data) {
                let silo = $("#Silo").val();
                let Existe = false;
                $.each(data.data, function (i, item) {
                    console.log(item);
                    if (item.Codigo_Silo == silo)
                        Existe= true;
                });
                console.log(Existe)
                if (Existe == false) {
                    $("#Silo").focus();
                    notif({
                        msg: "Ingrese un silo que exista",
                        type: "error",
                        position: "center"
                    });
                }
            }
        });
    }
    function RellenarColumnas() {
        $('#dataSilo').html("");
        $('#dataSilo').append('<input id="Silo" placeholder="Silo" class="col-md-12 text-box single-line" style="text-align:right">');
        $("#Silo").change(function () {
            existeSilo();
        });
        $('#dataLote').html("");
        $('#dataLote').append('<input id="Lote" placeholder="Lote" class="col-md-12 text-box single-line" style="text-align:right">');

        $('#dataLitros').html("");
        $('#dataLitros').append('<input id="Litros" placeholder="Litros" class="col-md-12 text-box single-line" style="text-align:right">');


        $('#dataPh').html("");
        $('#dataPh').append('<input id="Ph" placeholder="Ph" class="col-md-12 text-box single-line" style="text-align:right">');


        $('#dataAcidez').html("");
        $('#dataAcidez').append('<input id="Acidez" placeholder="Acidez" class="col-md-12 text-box single-line" style="text-align:right">');

        $('#dataDensidad').html("");
        $('#dataDensidad').append('<input id="Densidad" placeholder="Densidad" class="col-md-12 text-box single-line" style="text-align:right">');


        $('#dataGrasa').html("");
        $('#dataGrasa').append('<input id="Grasa" placeholder="Grasa" class="col-md-12 text-box single-line" style="text-align:right">');


        $('#dataProteina').html("");
        $('#dataProteina').append('<input id="Proteina" placeholder="Proteina" class="col-md-12 text-box single-line" style="text-align:right">');
        $('#Silo').focus();
    }    

    function InsertarDetalle() {
        let cont = 0;
        let primer_campo = null;
        $("#DetallesTabla tbody tr input").each(function () {
            if ($(this).val() == '') {
                cont++;
                if (cont == 1)
                    primer_campo= $(this);
            }
        });
        if (cont != 0) {
            notif({
                msg: "Por favor, complete los campos faltantes",
                type: "error",
                position: "center"
            });
            $(primer_campo).focus();
            return
        }
        let codigo_interno = 0;
        $.each(detalleIngreso,function(i,item){
            if (item.Codigo_Interno_Detalle > codigo_interno)
                codigo_interno = item.Codigo_Interno_Detalle;
        });

        detalleIngreso.push({
            Codigo_Interno_Detalle: codigo_interno + 1,
            Codigo_Insumo: $('#tb-insumo').val(),
            Codigo_Silo: $('#Silo').val(),
            Litros: $('#Litros').val(),
            Codigo_Fabrica: $('#Codigo_Fabrica').val(),
            Lote: $('#Lote').val(),
            Acidez: $('#Acidez').val(),
            Ph: $('#Ph').val(),
            Densidad: $('#Densidad').val(),
            Grasa: $('#Grasa').val(),
            Proteina: $('#Proteina').val(),
        });

        CargarDetalles();
    }

    function editarDetalle(Codigo_Nuevo) {
        $('#DetallesTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 11) {
                    if ($(this).find('#e').val() == Codigo_Nuevo) {

                        $(this).parent('tr').find('td').each(function () {

                            if ($(this).index() == 0) {
                                var insumo = $(this).html();
                                let input = '<input id="tb-insumo" placeholder="Código" class="col-md-8 text-box single-line" style="text-align:right">' +
                                    '<div class="col-md-4" style="padding:0px !important; text-align:right"><a href="#" id="mostrarInsumos" onclick="AbrirModalInsumosLeche()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>';
                                $(this).html("");
                                $(this).prepend(input);
                                $('#tb-insumo').val(insumo);
                            }

                            if ($(this).index() == 1) {
                                var fabrica = $(this).html();
                                let input = '<input id="Codigo_Fabrica" placeholder="Código" class="col-md-8 text-box single-line" style="text-align:right">' +
                                            '<div class="col-md-4" style="padding:0px !important; text-align:right"><a onclick="AbrirModalFabricas()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>';
                                $(this).html("");
                                $(this).prepend(input);
                                $('#Codigo_Fabrica').val(fabrica);
                            }
                            if ($(this).index() == 2) {
                                var silo = $(this).html();
                                $(this).html("");
                                $(this).prepend('<input id="Silo" class="col-md-12 text-box single-line" style="text-align:center">');
                                $('#Silo').val(silo);
                                $("#Silo").change(function () {
                                    existeSilo();
                                });
                            }
                            if ($(this).index() == 3) {
                                var Lote = $(this).html();
                                $(this).html("");
                                $(this).prepend('<input id="Lote" class="col-md-12 text-box single-line" style="text-align:center">');
                                $('#Lote').val(Lote);
                            }
                            if ($(this).index() == 4) {
                                var Litros = $(this).html();
                                $(this).html("");
                                $(this).prepend('<input id="Litros" class="col-md-12 text-box single-line" style="text-align:center">');
                                $('#Litros').val(Litros);
                            }
                            if ($(this).index() == 5) {
                                var Ph= $(this).html();
                                $(this).html("");
                                $(this).prepend('<input id="Ph" class="col-md-12 text-box single-line" style="text-align:center">');
                                $('#Ph').val(Ph);
                            }
                            if ($(this).index() == 6) {
                                var Acidez = $(this).html();
                                $(this).html("");
                                $(this).prepend('<input id="Acidez" class="col-md-12 text-box single-line" style="text-align:center">');
                                $('#Acidez').val(Acidez);
                            }
                            if ($(this).index() == 7) {
                                var Densidad = $(this).html();
                                $(this).html("");
                                $(this).prepend('<input id="Densidad" class="col-md-12 text-box single-line" style="text-align:center">');
                                $('#Densidad').val(Densidad);
                            }
                            if ($(this).index() == 8) {
                                var Grasa = $(this).html();
                                $(this).html("");
                                $(this).prepend('<input id="Grasa" class="col-md-12 text-box single-line" style="text-align:center">');
                                $('#Grasa').val(Grasa);
                            }
                            if ($(this).index() == 9) {
                                var Proteina = $(this).html();
                                $(this).html("");
                                $(this).prepend('<input id="ProteinaE" class="col-md-12 text-box single-line" style="text-align:center">');
                                $('#ProteinaE').val(Proteina);

                            }

                            if ($(this).index() == 10) {
                                $(this).html("");
                                $(this).prepend(
                                    "<button class='btn btn-success btn-xs' onclick=confirmarEdicionDetalle('" + Codigo_Nuevo + "')>" +
                                    "<span class='glyphicon glyphicon-ok'></span>" +
                                    "</button>" +
                                    "<button class='btn btn-danger btn-xs' onclick=CargarDetalles()>" +
                                    "<span class='glyphicon glyphicon-remove'></span>" +
                                    "</button>"
                                );
                            }
                        });
                    }
                }
            }
        )
}

    function confirmarEdicionDetalle(Codigo) {
        $.each(detalleIngreso, function (i, item) {
            if (Codigo == item.Codigo_Interno_Detalle) {
                detalleIngreso[i].Acidez = parseFloat($("#Acidez").val());
                detalleIngreso[i].Codigo_Fabrica = parseInt($("#Codigo_Fabrica").val());
                detalleIngreso[i].Codigo_Silo = parseInt($("#Silo").val());
                detalleIngreso[i].Densidad = parseFloat($("#Densidad").val());
                detalleIngreso[i].Grasa = parseFloat($("#Grasa").val());
                detalleIngreso[i].Litros = parseFloat($("#Litros").val());
                detalleIngreso[i].Lote = $("#Lote").val();
                detalleIngreso[i].Ph = parseFloat($("#Ph").val());
                detalleIngreso[i].Proteina = parseFloat($("#ProteinaE").val());
                detalleIngreso[i].Codigo_Insumo =  $("#tb-insumo").val();

            }
        });
        CargarDetalles();
    }

function borrarDetalle(Codigo) {
    for (var i in detalleIngreso) {
        if (detalleIngreso[i].Codigo_Interno_Detalle == Codigo) {

            detalleIngreso.splice(i, 1);

            CargarDetalles();

            notif({
                msg: "Registro eliminado satisfactoriamente.",
                type: "success",
                position: "center"
            });
        }
    }

}


$(document).ready(function () {
    $('#Fecha').datepicker();
    CargarDetalles();
    /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/
    $("#Codigo_Proveedor").keyup(function (e) {
        if (e.keyCode == 13) {
            $(this).trigger("enterKey");
            ExisteProveedor($("#Codigo_Proveedor").val());
        }
    });
    $(document).on("keypress", 'form', function (e) {
        var code = e.keyCode || e.which;
        if (code == 13) {
            e.preventDefault();
            return false;
        }
    });
    $('#Fecha').select();
});

</script>





