﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Ingresos : Listado";

}

<h2>Movimientos de Leche</h2>
<div id="dropdownEstados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
</div>
<table id="IngresosLecheTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteIngreso()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Actualizar()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
        //Date dd/MM/yyyy
        $.validator.methods.date = function (value, element) {
            var date = value.split("/");
            return this.optional(element) || !/Invalid|NaN/.test(new Date(date[2], date[1], date[0]).toString());
        }
    </script>

    <script>
        var dataTableIngresosLeche = [];

        var listadoIngresosLeche = [];
        var listadoDetallesIngreso = [];

        var dataTableDetallesIngreso = [];

        var Ingreso = 0;

        function DeleteIngreso() {
            $.ajax({
                type: "POST",
                url: "/IngresosLeche/Delete/",
                data: { Codigo_Interno_Ingreso: Ingreso },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');
                        dataTableIngresosLeche.ajax.url('/IngresosLeche/GetData/?Estado=Historica').load();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

        function CargarIngresosLeche() {
            dataTableIngresosLeche = $("#IngresosLecheTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    url: "/IngresosLeche/GetData/",
                    data: {
                        Estado: "Pendiente"
                    },
                },
                "columns": [
                    {
                        "data": "Codigo_Interno_Ingreso",
                        "title": "Código",
                        "width": "5%"
                    },
                    {
                        "data": "Fecha",
                        "title": "Fecha",
                        "width": "15%",
                        render: function (data) {
                            if (data != null) {
                                return moment(data).format("DD/MM/YYYY");
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "Numero_Comprobante",
                        "title": "Nro. Comprobante",
                        "width": "10%"
                    },
                    {
                        "data": "Prefijo",
                        "title": "Prefijo",
                        "width": "5%"
                    },

                    {
                        "data": "Codigo_Proveedor",
                        "title": "Cod. Proveedor",
                        "width": "10%"
                    },
                    {
                        "data": "Listros_Totales",
                        "title": "Litros Totales",
                        "width": "10%"
                    },
                    {
                        "data": "Codigo_Interno_Ingreso",
                        "width": "10%",
                        "title": "Herramientas",
                        "render": function (data) {
                            return " <a class='btn btn-default btn-sm' href='/IngresosLeche/AddOrEdit/?Codigo_Interno_Ingreso=" + data + "'><span class='glyphicon glyphicon-pencil'></span></a>" +
                                "<a class='btn btn-danger btn-sm'onclick=Ingreso=" + data + " data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                        },
                    }

                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    { className: "text-center", "targets": [0, 1, 2, 3, 4, 6] },
                    { className: "text-right", "targets": [5] },
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: '<span class="glyphicon glyphicon-plus">',
                        className: 'nuevo',
                        action: function () {
                            window.location.href = "/IngresosLeche/AddOrEdit/";
                        }
                    },
                       /* {
                            text: 'Actualizar <span class="glyphicon glyphicon-refresh">',
                            className: 'primary',
                            action: function () {
                                AbrirModalActualizar();
                            }
                        },
                        */{
                        text: $('#dropdownEstados').html(),
                        className: 'botonDropdown'

                    },
                ],
                "order": [[2, "desc"]],
                select: "multiple",
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                    $('#dropdownEstados').html("");

                    $("#ListadoEstados").change(function () {
                        //console.log("changed: ", $('option:selected', this).val());
                        estado = $('option:selected', this).val();
                        dataTableIngresosLeche.ajax.url('/IngresosLeche/GetData/?Estado=' + estado).load();
                        $('div.dataTables_filter input').focus();

                    });
                }

            });
        }

        function AbrirModalActualizar() {

            var bandera = false;

            $('#IngresosLecheTabla').find('tr.selected').find('td').each(function () {
                bandera = true;
            });

            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione al menos un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });

                return;
            }
            else {
                $('#modalVerificarActualizar').modal('toggle');
            }

        }


        function Actualizar() {
            let codigos = []
            $('#IngresosLecheTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {
                    codigos.push($(this).html())
                }
            });

            $.ajax({
                type: "POST",
                url: "/IngresosLeche/Actualizar/",
                data: { codigos: codigos },
                success: function (data) {
                    if (data.ok) {
                        notif({
                            msg: data.mensaje,
                            type: "success",
                            position: "center"
                        });
                        $('#modalVerificarActualizar').modal('hide');

                        dataTableIngresosLeche.ajax.url('/IngresosLeche/GetData/?Estado=Pendiente').load();

                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                        console.log(data);
                    }
                }
            });


        }


        $(document).ready(function () {

            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/

            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });

            CargarIngresosLeche();

        });

    </script>
}

