﻿@model AccesoDatos.Contexto.Produccion.Produccion_Leche_Polvo
@using MVC_Produccion.Sesiones
@using System.Linq
@using System.Globalization
@using AccesoDatos.Contexto.Produccion.SP
@{
    dbProdSP db = new dbProdSP();
    if (Model.Codigo_Interno_Produccion == 0)
    {
        ViewBag.Title = "Producciones : Nuevo";
    }
    else
    {
        ViewBag.Title = "Producciones : Editar";
    }
}
@using (Html.BeginForm("AddOrEdit", "ProduccionesLechePolvo", FormMethod.Post, new { id = "FormNuevo" }))
{
    <style>
        .space-label {
            margin-right: 15px !important;
        }

        .space-label-2 {
            margin-right: 1px !important;
        }

        .space-control {
            margin-right: 12px !important;
        }
    </style>
    @Html.HiddenFor(model => model.Produccion.Historico)
    @Html.HiddenFor(model => model.Historico)
    <div class="col-md-12 contenedor-producciones-add">
        <div class="col-md-12 flexible2">
            <div class="col-md-2 col-md-offset-5" style="padding:10px;">
                <a onclick="SubmitProduccion($('#FormNuevo'))" class="AddProduccion btn btn-primary" style="margin-left:20px;">Confirmar</a>
                <a class="btn btn-default" href="@Url.Action("Index", "ProduccionesLechePolvo")">Volver</a>
            </div>
            <!--FABRICA / NUMERO PLANILLA / FECHA / LOTE / PRODUCTO / QUESERO / ESTADO-->
            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Codigo_Interno_Produccion, new { @class = "control-label" })
                @Html.EditorFor(model => model.Codigo_Interno_Produccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Codigo_Interno_Produccion)
            </div>
            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Produccion.Codigo_Interno_Produccion, new { @class = "control-label" })
                @Html.EditorFor(model => model.Produccion.Codigo_Interno_Produccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Produccion.Codigo_Interno_Produccion)
            </div>
            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Encabezado</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <div class="col-md-2 form-medio">
                                @Html.Label("Fábrica:", htmlAttributes: new { @class = "control-label" })
                            </div>
                            @{
                                if (Model.Codigo_Interno_Produccion != 0)
                                {
                                    <div class="col-md-3 form-medio flexible2">
                                        <div class="col-md-12 form-medio form-group">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.Produccion.Codigo_Fabrica, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                                <span class="input-group-addon" id="buscadorFabrica">
                                                    <a href="#" id="btn-fabrica" onclick="AbrirModalFabricas('Produccion_Codigo_Fabrica')">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-medio">
                                            @Html.ValidationMessageFor(model => model.Produccion.Codigo_Fabrica)
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="fabrica-descripcion">
                                            @{
                                                if (Model.Produccion.Fabricas != null)
                                                {
                                                    <text>
                                                        @Model.Produccion.Fabricas.Descripcion
                                                    </text>
                                                }
                                            }
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 form-medio flexible2">
                                        <div class="col-md-12 form-medio form-group">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.Produccion.Codigo_Fabrica, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                                <span class="input-group-addon" id="buscadorFabrica">
                                                    <a href="#" id="btn-fabrica" onclick="AbrirModalFabricas('Produccion_Codigo_Fabrica')">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-medio">
                                            @Html.ValidationMessageFor(model => model.Produccion.Codigo_Fabrica)
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="fabrica-descripcion"></p>
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-md-2 form-medio">
                            @Html.LabelFor(model => model.Produccion.Fecha, "Fecha:", new { @class = "control-label space-label" })
                            @Html.EditorFor(model => model.Produccion.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                        </div>
                        <div class="col-md-3 form-medio flexible2">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio" style="padding-left:15px!important;">
                                    @Html.LabelFor(model => model.Produccion.Nro_Planilla, "Número de Planilla:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @if (Model.Codigo_Interno_Produccion == 0 && !ViewBag.NroAuto)
                                    {
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @disabled = "disabled", @id = "Nro_Planilla_Editar" } })
                                        @Html.EditorFor(model => model.Produccion.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                    }

                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(model => model.Produccion.Nro_Planilla)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio" style="flex-direction:column !important">
                            @if (Model.Codigo_Interno_Produccion == 0)
                            {
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-3 form-medio">
                                        @Html.LabelFor(model => model.Produccion.Lote, "Lote:", new { @class = "control-label", @required = "True" })
                                        @Html.EditorFor(model => model.Produccion.Lote_Padre, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                    </div>
                                    <div class="col-md-9 form-medio">
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                </div>
                                <div class="col-md-12 form-medio">
                                    @Html.ValidationMessageFor(model => model.Produccion.Lote)
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-3 form-medio">
                                        @Html.LabelFor(model => model.Produccion.Lote, "Lote:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-9 form-medio">
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @id = "LoteEditar" } })
                                        @Html.EditorFor(model => model.Produccion.Lote, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                        @Html.ValidationMessageFor(model => model.Produccion.Lote)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <div class="col-md-2 form-medio">
                                @Html.Label("Producto:", htmlAttributes: new { @class = "control-label" })
                            </div>
                            @{
                                if (Model.Codigo_Interno_Produccion != 0)
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="Codigo_Producto" id="Codigo_Producto" style="text-align:right" value="@Model.Produccion.Formulas.Codigo_Producto" />
                                            <span class="input-group-addon" id="buscadorProducto"><a href="#" id="btn-producto" onclick="AbrirModalFormulas('LP')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="producto-descripcion">
                                            @{
                                                if (Model.Produccion.Formulas.Productos != null)
                                                {
                                                    <text>
                                                        @Model.Produccion.Formulas.Productos.Descripcion
                                                    </text>
                                                }
                                            }
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="Codigo_Producto" id="Codigo_Producto" style="text-align:right" />
                                            <span class="input-group-addon" id="buscadorProducto"><a href="#" id="btn-producto" onclick="AbrirModalFormulas('LP')"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="producto-descripcion"></p>
                                    </div>
                                }
                            }

                        </div>
                        <div class="col-md-2 form-medio" style="padding-left:0!important;">
                            @Html.LabelFor(model => model.Produccion.Codigo_Quesero, "Responsable:", new { @class = "control-label space-label" })
                            @Html.DropDownListFor(model => model.Produccion.Codigo_Quesero, new SelectList(ViewBag.queseros, "Codigo_Quesero", "Nombre"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize" })
                            @Html.ValidationMessageFor(model => model.Produccion.Codigo_Quesero)
                        </div>

                        <div class="col-md-3 form-medio" style="padding-left:15px !important;">
                            @Html.LabelFor(model => model.Codigo_Estado, "Estado:", new { @class = "control-label space-label", @style = "margin-right:80px!important;" })
                            @Html.DropDownListFor(model => model.Codigo_Estado, new SelectList(ViewBag.estados, "Codigo_Estado", "Descripcion"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize; max-width: 125px!important;" })
                            @Html.ValidationMessageFor(model => model.Codigo_Estado)
                        </div>

                        <div class="col-md-2 form-medio" style="padding-left:0 !important;" id="div_motivo_retencion">
                            @Html.LabelFor(model => model.Codigo_Motivo_Retencion, "Motivo:", new { @class = "control-label space-label" })
                            @Html.DropDownListFor(model => model.Codigo_Motivo_Retencion, new SelectList(ViewBag.motivosRetencion, "Codigo_Motivo_Retencion", "Descripcion"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize" })
                            @Html.ValidationMessageFor(model => model.Codigo_Motivo_Retencion)
                        </div>

                        <div class="col-md-2 form-medio" style="padding-left:0 !important; margin-left: 15px;">
                            @Html.LabelFor(model => model.Codigo_Camara, "Camara:", new { @class = "control-label space-label" })
                            @Html.DropDownListFor(model => model.Codigo_Camara, new SelectList(ViewBag.camaras, "Codigo_Camara", "Nombre"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize" })
                            @Html.ValidationMessageFor(model => model.Codigo_Camara)
                        </div>

                    </div>
                </div>
            </fieldset>
            <!--TINA / LITROS PROCESADOS / SILOS -->
            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Litros Utilizados</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-2 form-medio">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.Litros, "Litros:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Litros, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Litros)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Leche Liquida</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-1 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Dens_Leche_Liquida, "Densidad:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Dens_Leche_Liquida, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Dens_Leche_Liquida)
                            </div>
                        </div>
                        <div class="col-md-1 form-medio">
                            <div class="col-md-4 form-medio">
                                @Html.LabelFor(model => model.Ph_Leche_Liquida, "Ph:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.EditorFor(model => model.Ph_Leche_Liquida, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Ph_Leche_Liquida)
                            </div>
                        </div>
                        <div class="col-md-1 form-medio">
                            <div class="col-md-4 form-medio">
                                @Html.LabelFor(model => model.Temp_Leche_Liquida, "Temp.:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Temp_Leche_Liquida, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Temp_Leche_Liquida)
                            </div>
                        </div>
                        <div class="col-md-1 form-medio">
                            <div class="col-md-2 form-medio">
                                @Html.LabelFor(model => model.G, "G:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.G, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.G)
                            </div>
                        </div>
                        <div class="col-md-1 form-medio">
                            <div class="col-md-3 form-medio">
                                @Html.LabelFor(model => model.SNG, "SNG:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.SNG, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.SNG)
                            </div>
                        </div>
                        <div class="col-md-1 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Proteinas, "Proteinas:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.EditorFor(model => model.Proteinas, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Proteinas)
                            </div>
                        </div>
                        <div class="col-md-1 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Acidez, "Acidez:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.EditorFor(model => model.Acidez, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Acidez)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Prueba_Alcohol, "Prueba de Alcohol:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.DropDownListFor(model => model.Prueba_Alcohol, ViewBag.resultados as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Prueba_Antibioticos, "Prueba Antibioticos:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.DropDownListFor(model => model.Prueba_Antibioticos, ViewBag.resultados as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Leche Polvo Características Fisico-Quimicas</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-1 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Proteinas_Leche_Polvo, "Proteinas:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Proteinas_Leche_Polvo, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Proteinas_Leche_Polvo)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Graso_Leche_Polvo, "Graso de la leche:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Graso_Leche_Polvo, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Graso_Leche_Polvo)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Materia_Grasa_Leche_Polvo, "Materia Grasa.:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Materia_Grasa_Leche_Polvo, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Materia_Grasa_Leche_Polvo)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Cenizas_Totales_Leche_Polvo, "Cenizas Totales:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-3 form-medio">
                                @Html.EditorFor(model => model.Cenizas_Totales_Leche_Polvo, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Cenizas_Totales_Leche_Polvo)
                            </div>
                        </div>
                        <div class="col-md-1 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Humedad_Leche_Polvo, "Humedad:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Humedad_Leche_Polvo, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Humedad_Leche_Polvo)
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="col-md-12 form-medio">
                        <div class="col-md-1 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Acidez_Leche_Polvo, "Acidez:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.EditorFor(model => model.Acidez_Leche_Polvo, new { htmlAttributes = new { @title = "Expresada en %(p/v) de ácido lácteo. Reconstituida 10g en 100 ml de solución.", @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Acidez_Leche_Polvo)
                            </div>
                        </div>
                        <div class="col-md-1 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Acidez_1_Leche_Polvo, "Acidez 1:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.EditorFor(model => model.Acidez_1_Leche_Polvo, new { htmlAttributes = new { @title = " Acidez Titulable (ml NoOH 0,1 N/10g sólidos no grasos)", @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Acidez_1_Leche_Polvo)
                            </div>
                        </div>
                        <div class="col-md-1 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Ph_Leche_Polvo, "Ph:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 form-medio">
                                @Html.EditorFor(model => model.Ph_Leche_Polvo, new { htmlAttributes = new { @title = "Reconsituida 10 g en 100 ml de solución", @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Ph_Leche_Polvo)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Indice_Insolubilidad_Leche_Polvo, "Indice de Insolubilidad:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-3 form-medio">
                                @Html.EditorFor(model => model.Indice_Insolubilidad_Leche_Polvo, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Indice_Insolubilidad_Leche_Polvo)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Leche Polvo Características Microbiológicas</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-3 form-medio">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.Bacterias_Aerobias_Mesofilas_Totales, "Bacterias Aerobias Mesófilas Totales:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-3 form-medio">
                                @Html.EditorFor(model => model.Bacterias_Aerobias_Mesofilas_Totales, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Bacterias_Aerobias_Mesofilas_Totales)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.Coliformes_Totales, "Coliformes/g (30°C):", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Coliformes_Totales, new { htmlAttributes = new { @title = "Coliformes Totales", @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Coliformes_Totales)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.Coliformes_Fecales, "Coliformes/g (30°C):", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Coliformes_Fecales, new { htmlAttributes = new { @title = "Coliformes Fecales", @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Coliformes_Fecales)
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="col-md-12 form-medio">
                        <div class="col-md-3 form-medio">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.Escherichia_Coli, "Escherichia Coli:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-3 form-medio">
                                @Html.EditorFor(model => model.Escherichia_Coli, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Escherichia_Coli)
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.salmonella, "Salmonella:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.salmonella, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.salmonella)
                            </div>
                        </div>

                        <div class="col-md-2 form-medio">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.Staphylococcus_aureus, "Staphylococcus Aureus:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Staphylococcus_aureus, new { htmlAttributes = new { @class = "form-control", type = "text", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Staphylococcus_aureus)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!--PIEZAS OBTENIDAS / KILOS TEORICOS / KILOS REALES -->
            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Rinde</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">

                        <div class="col-md-3 form-medio flexible2">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Piezas_Obtenidas, "Piezas Obtenidas:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-4 form-medio">
                                    @Html.EditorFor(model => model.Piezas_Obtenidas, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", type = "text" } })
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                <div class="col-md-12 form-medio">
                                    @Html.ValidationMessageFor(model => model.Piezas_Obtenidas)
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Kilos_Teoricos, "Kilos Teóricos:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Kilos_Teoricos, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @readonly = "true" } })
                                @Html.ValidationMessageFor(model => model.Kilos_Teoricos)
                            </div>
                        </div>
                        <div class="col-md-3 form-medio flexible2">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-4 form-medio">
                                    @Html.LabelFor(model => model.Kilos_Reales, "Kilos Reales:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @Html.EditorFor(model => model.Kilos_Reales, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })

                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                @Html.ValidationMessageFor(model => model.Kilos_Reales)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!--Observacion -->
            <div class="col-md-12 caja-contenedora">
                <input class="collapseGroupCheck" type="checkbox" value="" id="collapseOneCheck" data-target=".collapseOne">
                <label for="Produccion.Observacion" class="noselect">Ver Observación</label>
                <div class="panel-group" id="accordion">
                    <div id="infoObservacion" class="collapseOne panel-collapse collapse">
                        <div class="col-md-6">
                            <textarea name="Produccion.Observacion" value="" style="width: 90%; height: 211px; padding: 12px 20px; box-sizing: border-box;
                                border: 2px solid #ccc; border-radius: 4px;
                                background-color: #f8f8f8; font-size: 16px;  " id="textAreaObservacion" rows="5" placeholder="Por favor ingrese una observación">@{if (Model.Produccion.Observacion != null) {<text> @Model.Produccion.Observacion</text> }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--LISTADOS -->
            <div class="col-md-12 caja-contenedora" id="checkDesglose">
                <input type="checkbox" id="cb-desglose" /> <label for="cb-desglose" class="noselect">Desglosar la Producción</label>
            </div>
            <div class="col-md-12 caja-contenedora" id="DivDesglose" style="display:none;">
                <h3>Desglosar la Producción</h3>
                <!--button class="btn btn-success" id="AgregarDesglose" style="margin-bottom:5px;"><span><span class="glyphicon glyphicon-plus"></span></span></button-->
                <table id="DesgloseTabla" class="display compact table" style="width:850px">
                    <thead>
                        <tr>
                            <th style="width:150px;">Producto</th>
                            <th>Producto</th>
                            <th style="width:100px;">Cantidad</th>
                            <th style="width:100px;">Kilos</th>
                            <th style="width:120px;">Lote</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="padding-top:5px;" id="filaDesglose">
                            <td>
                                <div class="input-group">
                                    <input class="form-control text-box single-line" id="Producto_Desglose" placeholder="Producto" style="padding:10px 10px !important;" />
                                    <span class="input-group-addon" autocomplete="off"><a href="#" onclick="AbrirModalFormulas('LP', getProductoDesglose)"><span class="glyphicon glyphicon-search"></span></a></span>
                                </div>
                            </td>
                            <td>
                                <label id="Label_Producto_Desglose" style="margin-left:10px;"> </label>
                            </td>
                            <td>
                                <input class="form-control text-box single-line" id="Cantidad_Desglose" placeholder="Cantidad" style="text-align:right;padding:10px 10px !important;" autocomplete="off" />
                            </td>
                            <td>
                                <input class="form-control text-box single-line" id="Kilos_Desglose" placeholder="Kilos" style="text-align:right;padding:10px 10px !important;" autocomplete="off" />
                            </td>
                            <td>
                                <input class="form-control text-box single-line" id="Lote_Desglose" placeholder="Lote" style="text-align:right;padding:10px 10px !important;" autocomplete="off" />
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="InsumosConsumidosDiv"></div>
            <div class="col-md-12 caja-contenedora" id="ProductosAsociados">
                <table id="InsumosAsociadosTabla" class="display compact" style="width:100%;"></table>
            </div>
            <!-- LISTADOS PARA ENVIAR AL CONTROLADOR -->
            <div id="DetallesProduccion" style="display:none"></div>
            <div id="Mov_Ins_Asoc" style="display:none"></div>
            <div id="CostosIndirectosProduccion" style="display:none"></div>
            <!-- CONTENEDOR SUBMIT-->
            <div class="col-md-2 col-md-offset-5" style="padding:10px;">
                <a onclick="SubmitProduccion($('#FormNuevo'))" class="AddProduccion btn btn-primary" style="margin-left:20px;">Confirmar</a>
                <a class="btn btn-default" href="@Url.Action("Index", "ProduccionesLechePolvo")">Volver</a>
            </div>
        </div>
    </div>
    <!-- Modal Acidificación-->
    <div class="modal fade" id="modalAcidificaciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:700px">
            <div class="modal-content">
                <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                    <h4 class="modal-title" id="exampleModalLabel">Listado Acidificación</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--TABLA ACIDIFICACIÓN -->
                    <div class="row">
                        <div class="col-md-12">
                            <table id="AcidificacionTabla" class="display compact" style="width:100%"></table>
                        </div>

                        <div style="display:none" id="ListadoAcidifaciones">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ConfirmarAcidificaciones()">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}
<!-- Modal Fórmulas-->
<div class="modal fade" id="modalFormulas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:55%">
        <div class="modal-content" id="ModalFormulas"></div>
    </div>
</div>
<!-- Modal Fábricas-->
<div class="modal fade" id="modalFabricas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:500px">
            <div class="modal-content" id="ModalFabricas"></div>zz
        </div>
    </div>
<!-- Modal Detalles-->
<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:900px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Detalles</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA DETALLES -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="DetallesFormulaTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarAjustes()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/CorrectorDecimales.js"></script>
    <script src="~/Scripts/Producciones/AddOrEdit.js"></script>
    <script>
        var listadoDetalles = [];
        var dataTableDetalles = [];
        var dataTableFormulas = [];
        var dataTableAjustes = [];
        var dataTableProductosFormula = [];
        var listadoProductosFormula = [];
        var Producto = [];
        var Codigo_Familia = @ViewBag.Codigo_Familia;
        var listadoCostosIndirectosProduccion = [];
        $("#collapseOneCheck").on('click', function () {
            if (this.checked)
                $('#infoObservacion').show();
            else
                $('#infoObservacion').hide();

        });
        $('#cb-desglose').change(function () {
            if ($("#Piezas_Obtenidas").val() == '' || (parseFloat($("#Kilos_Reales").val().replace(',', '.')) == 0)) {
                notif({
                    msg: "Por favor ingrese Piezas o kilos antes de desglosar",
                    type: "error",
                    position: "center"
                });
                $('#cb-desglose').prop('checked', false);
                $('#DivDesglose').hide();

            } else {
                if (this.checked) {
                    $('#DivDesglose').show();
                    $('#Kilos_Reales').attr('required', true);
                }

                else {
                    $('#DivDesglose').hide();
                    $('#Kilos_Reales').attr('required', false);
                }
            }
        });

        function BorrarDesglose(td) {
            let kilos = parseFloat($(td).parent().parent().find("#td-kilos").text());
            totalKilosDesglose -= kilos;

            let cant = parseFloat($(td).parent().parent().find("#td-cantidad").text());
            cantidadTotalDesglose -= cant;

            if (parseFloat($("#Piezas_Obtenidas").val()) > cantidadTotalDesglose || parseFloat($("#Kilos_Reales").val().replace(',', '.')) > totalKilosDesglose)
                $('#filaDesglose').show();

            $(td).parent().parent().remove();
        }

        $("#Producto_Desglose").keyup(function (e) {
            if (e.keyCode == 13)
            getProductoDesglose();
        });


        $("#Lote_Desglose").keyup(function (e) {
            if (e.keyCode == 13) {

                $.ajax({
                    type: "GET",
                    url: "/Producciones/ExisteProduccion/",
                    data: { Lote: $('#Lote_Desglose').val() },
                    success: function (data) {
                        console.log(data);
                        if (data == true) {
                            var existe = 0;
                            if ($('#Produccion_Lote').val().trim() == $('#Lote_Desglose').val().trim()) {
                                notif({
                                    msg: "El Lote del desglose no puede ser igual al Lote Padre!",
                                    type: "error",
                                    position: "center"
                                });
                                existe = 1;
                            }
                            if ($('#DesgloseTabla #td-producto').length == 0 && existe == 0)
                                agregarFilaDesglose();
                            else {
                                $('#DesgloseTabla #td-producto').each(function (index) {
                                    console.log('Cargado en la tabla: ' + $(this).text().trim() + ' - Ultimo ingresado: ' + $('#Producto_Desglose').val().trim());
                                    if ($(this).text().trim() == $('#Producto_Desglose').val().trim()) {
                                        notif({
                                            msg: "Ya existe el producto en el desglose!",
                                            type: "error",
                                            position: "center"
                                        });
                                        existe = 1;
                                    }
                                });
                                if (existe == 0)
                                    $('#DesgloseTabla #td-lote').each(function (index) {
                                        console.log('Cargado en la tabla: ' + $(this).text().trim() + ' - Ultimo ingresado: ' + $('#Lote_Desglose').val().trim());
                                        if ($(this).text().trim() == $('#Lote_Desglose').val().trim()) {
                                            notif({
                                                msg: "Ya existe el lote en el desglose!",
                                                type: "error",
                                                position: "center"
                                            });
                                            existe = 1;
                                        }
                                    });
                                if (existe == 0)
                                    agregarFilaDesglose();
                            }
                        }
                        else if (data == 'Ya existe.')
                            notif({
                                msg: "Ya existe el Lote en el sistema!",
                                type: "error",
                                position: "center"
                            });
                        else
                            notif({
                                msg: "Error comprobando si existe el Lote.",
                                type: "error",
                                position: "center"
                            });
                    }
                });
            }
        });

        $("#Piezas_Obtenidas").keyup(function (e) {
            if (e.keyCode == 13) {
                if (!$("#Piezas_Obtenidas").val() || $("#Piezas_Obtenidas").val() == "" || $("#Piezas_Obtenidas").val() <= 0) {
                    notif({
                        msg: "Debe ingresar las Piezas Obtenidas",
                        type: "error",
                        position: "center"
                    });

                    $("#Piezas_Obtenidas").focus();

                    return false;
                }
                else {
                    $('#Kilos_Teoricos').focus();
                }
            }
        });
        $("#Piezas_Obtenidas").change(function (e) {
            if (!$("#Piezas_Obtenidas").val() || $("#Piezas_Obtenidas").val() == "" || $("#Piezas_Obtenidas").val() <= 0) {
                notif({
                    msg: "Debe ingresar las Piezas Obtenidas",
                    type: "error",
                    position: "center"
                });

                $("#Piezas_Obtenidas").focus();

                return false;
            }
            else {
                $('#Kilos_Teoricos').focus();
            }
        });
        let totalKilosDesglose = 0;
        let kilosADesglosar = 0;
        let cantidadTotalDesglose = 0;
        let error;
        function agregarFilaDesglose() {
            error = 0;
            if ($('#Producto_Desglose').val().trim() == '') {
                notif({
                    msg: "Debe Ingresar Producto",
                    type: "error",
                    position: "center"
                });
                $('#Producto_Desglose').focus();
                error = 1;
                return;
            }
            if ($('#Cantidad_Desglose').val().trim() == '') {
                notif({
                    msg: "Debe Ingresar Cantidad",
                    type: "error",
                    position: "center"
                });
                $('#Cantidad_Desglose').focus();
                error = 1;
                return;
            }
            if ($('#Kilos_Desglose').val().trim() == '') {
                notif({
                    msg: "Debe Ingresar Kilos",
                    type: "error",
                    position: "center"
                });
                $('#Kilos_Desglose').focus();
                error = 1;
                return;
            }
            if ($('#Lote_Desglose').val().trim() == '') {
                notif({
                    msg: "Debe Ingresar Lote",
                    type: "error",
                    position: "center"
                });
                $('#Lote_Desglose').focus();
                error = 1;
                return;
            }
            var kilosADesglosar = 0;
            @if (!ViewBag.Envasa_Sin_Kilos)
             {
                <text>
                    kilosADesglosar = parseFloat($("#Kilos_Reales").val().replace(',', '.'));
                </text>
             }else {
                <text>
                    $("#Kilos_Reales").removeAttr("required");
                    if (parseFloat($("#Kilos_Reales").val().replace(',', '.')) > 0)
                        kilosADesglosar = parseFloat($("#Kilos_Reales").val().replace(',', '.'));
                </text>
             }
                var cantidadADesglosar = parseFloat($("#Piezas_Obtenidas").val());
                let kilos = $('#Kilos_Desglose').val() == "" ? 0 : $('#Kilos_Desglose').val().trim();
                let cant = $('#Cantidad_Desglose').val() == "" ? 0 : $('#Cantidad_Desglose').val().trim();
                if (error != 1) {
                    totalKilosDesglose += parseFloat(kilos);
                    cantidadTotalDesglose += parseFloat(cant);
                }
                if (kilosADesglosar != 0) {
                    if (totalKilosDesglose > kilosADesglosar) {
                        notif({
                            msg: "Se están desglosando más kilos de los producidos",
                        type: "error",
                        position: "center"
                        });
                    $('#Kilos_Desglose').focus();
                        totalKilosDesglose -= parseFloat(kilos);
                        cantidadTotalDesglose -= parseFloat(cant);

                        return;
                    }
                }
                if (cantidadTotalDesglose > cantidadADesglosar) {
                    notif({
                        msg: "Se están desglosando más piezas que las obtenidas",
                    type: "error",
                    position: "center"
                    });
                $('#Cantidad_Desglose').focus();
                    cantidadTotalDesglose -= parseFloat(cant);
                    totalKilosDesglose -= parseFloat(kilos);

                    return;
                }
                var fila = '';
                fila = '<tr id="tr-desglose">';
                fila += '<td id="td-producto" style="padding:5px 10px !important;">' + $('#Producto_Desglose').val().trim() + '</td>';
                fila += '<td>' + $('#Label_Producto_Desglose').html() + '</td>';
                fila += '<td id="td-cantidad" style="padding:5px 10px !important;text-align:right;">' + parseFloat($('#Cantidad_Desglose').val().trim()).toFixed(2) + '</td>';
                fila += '<td id="td-kilos" style="padding:5px 10px !important;text-align:right;">' + parseFloat($('#Kilos_Desglose').val().trim()).toFixed(2) + '</td>';
                fila += '<td id="td-lote" style="padding:5px 10px !important;text-align:right;">' + $('#Lote_Desglose').val().trim() + '</td>';
                fila += '<td style="text-align:right;"><a class="btn btn-danger btn-sm" onclick ="BorrarDesglose($(this));"><span class="glyphicon glyphicon-trash"></span></a></td>';
            fila += '</tr>';
            //if (kilosADesglosar > 0) {
            //    if (cantidadTotalDesglose == cantidadADesglosar && totalKilosDesglose == kilosADesglosar) {
            //        $('#DesgloseTabla').prepend(fila);
            //        $('#Producto_Desglose').val('');
            //        $('#Label_Producto_Desglose').html('');
            //        $('#Cantidad_Desglose').val('');
            //        $('#Kilos_Desglose').val('');
            //        $('#Lote_Desglose').val('');
            //        $('#Producto_Desglose').focus();
            //        $('#filaDesglose').hide();
            //        notif({
            //            msg: "Se desglosaron todas las piezas y kilos de la producción",
            //            type: "info",
            //            position: "center"
            //        });
            //    } else {
            //        $('#DesgloseTabla').prepend(fila);
            //        $('#Producto_Desglose').val('');
            //        $('#Label_Producto_Desglose').html('');
            //        $('#Cantidad_Desglose').val('');
            //        $('#Kilos_Desglose').val('');
            //        $('#Lote_Desglose').val('');
            //        $('#Producto_Desglose').focus();
            //    }
            //} else
            if (cantidadTotalDesglose == cantidadADesglosar) {
                $('#DesgloseTabla').prepend(fila);
                $('#Producto_Desglose').val('');
                $('#Label_Producto_Desglose').html('');
                $('#Cantidad_Desglose').val('');
                $('#Kilos_Desglose').val('');
                $('#Lote_Desglose').val('');
                $('#Producto_Desglose').focus();
                $('#filaDesglose').hide();
                notif({
                    msg: "Se desglosaron todas las piezas de la producción",
                    type: "info",
                    position: "center"
                });
            } else {
                $('#DesgloseTabla').prepend(fila);
                $('#Producto_Desglose').val('');
                $('#Label_Producto_Desglose').html('');
                $('#Cantidad_Desglose').val('');
                $('#Kilos_Desglose').val('');
                $('#Lote_Desglose').val('');
                $('#Producto_Desglose').focus();
            }
        }

        /*SE LLAMA UNA VEZ INSERTADO UN CODIGO_FORMULA, TRAE TODOS SUS DETALLES Y LOS SETEA EN listadoDetalles*/
        function CargarDetallesFormula() {
            if ($('#Codigo_Producto').val() == "") {
                notif({
                    msg: "Por favor ingrese Código de Producto",
                    type: "error",
                    position: "center"
                });
                $('#Codigo_Producto').focus();
                return;
            }
            if ($('#Litros').val() == "") {
                notif({
                    msg: "Por favor ingrese los Litros",
                    type: "error",
                    position: "center"
                });
                $('#Litros').focus();
                return;
            }
            $("#InsumosConsumidosDiv").html("<h1>Cargando Insumos</h1>");
            $.ajax({
                type: "GET",
                url: "/Producciones/ObtenerInsumosConsumidos/",
                data: {
                    producto: $('#Codigo_Producto').val(),
                    litros: $('#Litros').val(),
                    tipoProd:"quesos"
                },
                success: function (data) {
                    $("#InsumosConsumidosDiv").html(data);
                }
            });

        };
        function CargarDetallesEnModal() {
            dataTableAjustes = $("#DetallesFormulaTabla").DataTable({
                "bPaginate": false,
                "bFilter": false,
                "destroy": true,
                "responsive": true,
                "autoWidth": true,
                "bInfo": false,
                "lengthChange": false,
                data: listadoDetalles,
                "columns": [
                    {
                        title: "Insumo",
                        data: "Descripcion",
                        width: "40%",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        title: "Unidades",
                        data: "Codigo_Insumo",
                        "render": function (data, type, row, meta) {
                            if (row.Precio_Por == 'U')
                                return parseFloat(row.Cantidad).toFixed(4);
                            else
                                return "";
                        }
                    },
                    {
                        title: "Kilos/Litros",
                        data: "Codigo_Insumo",
                        "render": function (data, type, row, meta) {
                            if (row.Precio_Por != 'U')
                                return parseFloat(row.Cantidad).toFixed(4);
                            else
                                return "";
                        }
                    },
                    {
                        title: "Ajuste",
                        data: "Ajuste",
                        "width": "15%",
                        render: function (data) {
                            let valor = parseFloat(data);

                            if (!isNaN(valor))
                                return '<input class="nuevoAjuste form-control" type="number" style="text-transform:capitalize; text-align:right width:100%" value="' + valor.toFixed(3) + '"/>';
                            else
                                return '<input class="nuevoAjuste form-control" type="number" style="text-transform:capitalize; text-align:right; width:100%"/>';
                        }
                    },
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    {
                        className: "text-right",
                        targets: [1, 2, 3]
                    }
                ],
                "initComplete": function (data) {
                    $('#nuevoAjuste').numeric();
                },
                "order": [[0, "asc"]]

            });

        };

        let Lote = "@Model.Lote";
        let Codigo_Form = "@Model.Produccion.Codigo_Formula";


        function calcularKilosTeoricos() {
            if (controlLitros.val()) {
                var Litros = parseFloat($("#Litros").val() || 0);

                var Total = 0;
                if (Litros > 0)
                    Total = parseFloat((Litros * parseFloat(FormulaActual.Kilos_Teoricos)) / parseFloat(FormulaActual.Litros_Tina)).toFixed(3);

                $('#Kilos_Teoricos').val(Total.toString().replace(".", ","));
            }
        }

        /* LLAMA AL METODO POST DE ADDOREDIT DE FORMULAS*/
        function SubmitProduccion(form) {
            if (!$("#Produccion_Codigo_Fabrica").val() || $("#Produccion_Codigo_Fabrica").val() == "") {
                notif({
                    msg: "Ingrese una Fábrica",
                    type: "error",
                    position: "center"
                });
                $("#Produccion_Codigo_Fabrica").focus();

                return false;
            }

            if (!$("#Codigo_Producto").val() || $("#Codigo_Producto").val() == "") {
                notif({
                    msg: "Ingrese un Código de Producto",
                    type: "error",
                    position: "center"
                });
                $("#Codigo_Producto").focus();

                return false;
            }

            if (!$("#Piezas_Obtenidas").val() || $("#Piezas_Obtenidas").val() == "" || $("#Piezas_Obtenidas").val() <= 0) {
                notif({
                    msg: "Debe ingresar las Piezas Obtenidas",
                    type: "error",
                    position: "center"
                });

                $("#Piezas_Obtenidas").focus();

                return false;
            }
            @if (ViewBag.esDesglose != null && ViewBag.esDesglose == false)
            {
                <text>
                    if (cantidadTotalDesglose > 0) {
                        let piezasTotales = parseFloat($("#Piezas_Obtenidas").val());
                        if (cantidadTotalDesglose < piezasTotales) {
                            notif({
                                msg: "Por favor asigne todas las piezas al desglose.",
                                type: "warning",
                                position: "center"
                            });
                            $('#filaDesglose').show();
                            $("#Producto_Desglose").focus();
                            return false;
                        }
                        if (piezasTotales < cantidadTotalDesglose) {
                            notif({
                                msg: "Las piezas desglosadas son mayores a las piezas obtenidas.",
                                type: "error",
                                position: "center"
                            });

                            $("#Piezas_Obtenidas").focus();
                            $("#filaDesglose").hide();
                            return false;
                        }
                    }                   
                </text>
            }
            var ProductoActual = 0;
            $('#InsumosAsociadosTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 0) {
                    InsumoActual = $(this).html();
                    for (var i in listadoInsumosFormula) {
                        if (listadoInsumosFormula[i].Codigo_Insumo == InsumoActual) {
                            $(this).parent().find('td').find('#kilosEditable').each(function () {
                                if ($(this).val() != "" || $(this).val() > 0) {
                                    listadoInsumosFormula[i].Litros = parseFloat($(this).val());
                                }
                            });
                        }
                    }
                }
            });

            $('#DesgloseTabla #tr-desglose').each(function (index) {
                $('#DivDesglose').append('<input name="desglose[' + index + '].Numero_Producto" type="hidden" value="' + $(this).find('#td-producto').html() +'"/>');
                $('#DivDesglose').append('<input name="desglose[' + index + '].Cantidad" type="hidden" value="' + $(this).find('#td-cantidad').html().replace('.', ',') + '"/>');
                $('#DivDesglose').append('<input name="desglose[' + index + '].Kilos" type="hidden" value="' + $(this).find('#td-kilos').html().replace('.', ',') + '"/>');
                $('#DivDesglose').append('<input name="desglose[' + index + '].Lote" type="hidden" value="' + $(this).find('#td-lote').html() + '"/>');
            });

            for (var r in listadoInsumosFormula) {
                $('#Mov_Ins_Asoc').append('<input type="text" name="Produccion.Mov_Ins_Asoc[' + r + '].Codigo_Insumo" value="' + listadoInsumosFormula[r].Codigo_Insumo + '"/>' +
                    '<input type="text" name="Produccion.Mov_Ins_Asoc[' + r + '].Litros" value="' + parseFloat(listadoInsumosFormula[r].Litros).toString().replace(".", ",") + '"/>');
            }

            Armar_Array_Insumos_Consumidos("DetallesProduccion");

            for (var t in listadoCostosIndirectosProduccion) {
                $('#CostosIndirectosProduccion').append('<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Codigo_Costo_Indirecto" value="' + listadoCostosIndirectosProduccion[t].Codigo_Costo_Indirecto + '"/>' +
                    '<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Cantidad" value="' + parseFloat($('#Litros_Tina').val()).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Porcentaje" value="' + parseFloat(listadoCostosIndirectosProduccion[t].Porcentaje).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Precio_Fijo" value="' + parseFloat(listadoCostosIndirectosProduccion[t].Precio_Fijo).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Produccion.Costos_Indirectos_Produccion[' + t + '].Precio" value="' + parseFloat(listadoCostosIndirectosProduccion[t].Precio).toString().replace(".", ",") + '"/>');
            }
            for (var i in ListadoAcidifaciones) {
                $('#ListadoAcidifaciones').append('<input type="text" name="Acidificacion[' + i + '].Fecha" value="' + ListadoAcidifaciones[i].Fecha + '"/>' +
                    '<input type="text" name="Acidificacion[' + i + '].Hora" value="' + ListadoAcidifaciones[i].Hora + '"/>' +
                    '<input type="text" name="Acidificacion[' + i + '].Valor_Ph" value="' + parseFloat(ListadoAcidifaciones[i].Valor_Acidez).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Acidificacion[' + i + '].Valor_Acidez" value="' + parseFloat(ListadoAcidifaciones[i].Valor_Acidez).toString().replace(".", ",") + '"/>');
            }
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                //VALIDADOR DEL FORMULARIO
                $('#Litros').val($('#Litros').val().toString().replace(".", ","));
                $('#Piezas_Obtenidas').val($('#Piezas_Obtenidas').val().toString().replace(".", ","));
                $('#Kilos_Teoricos').val($('#Kilos_Teoricos').val().toString().replace(".", ","));
                $('#Kilos_Reales').val($('#Kilos_Reales').val().toString().replace(".", ","));
                $('.AddProduccion').attr('disabled', true);
                $.ajax({
                    type: "POST",
                    url: "/ProduccionesLechePolvo/AddOrEdit",
                    data: $(form).serialize(),
                    success: function (data) {
                        if (!data.success) {
                            console.log(data);
                            mensaje = data.message != '' ? data.message : "Ocurrio un error"
                            notif({
                                msg: mensaje,
                                type: "error",
                                position: "center"
                            });
                        }
                        else
                            window.location.href = "/ProduccionesLechePolvo/Index?resultado=" + data.resultado;
                    },
                    complete: function(data){
                        $('.AddProduccion').attr('disabled', false);
                    }
                });
            }
            return false;
        }
        function convertDate(inputFormat) {
            function pad(s) { return (s < 10) ? '0' + s : s; }
            var d = new Date(inputFormat);
            return [pad(d.getDate()), pad(d.getMonth()+1), d.getFullYear()].join('/');
        }
        function CargarAcidificacion(){
            $.ajax({
                type: "GET",
                url: "/Acidificaciones/GetData/",
                data: { Lote: Lote },
                dataType: "json",
                success: function (data) {
                    if (data.success) {

                        for (var i in data.data) {
                            ListadoAcidifaciones.push(data.data[i]);
                        }

                        dataTableAcidificacion = $("#AcidificacionTabla").DataTable({
                            "destroy": true,
                            "responsive": true,
                            "iDisplayLength": 50,
                            "autoWidth": true,
                            "bInfo": false,
                            "lengthChange": false,
                            data : ListadoAcidifaciones,
                            "columns": [
                                {
                                    "data": "Fecha",
                                    "title": "Fecha",
                                    render : function(data){
                                        if(data != null){
                                            return moment(data).format("DD/MM/YYYY");
                                        }
                                        else{
                                            return "";
                                        }
                                    }
                                },
                                {
                                    "data": "Hora",
                                    "title": "Hora",
                                    render : function(data){
                                        if(data != null){
                                            var Hora = data;
                                            Hora = Hora.substring(0, 5);

                                            return Hora.toString();
                                        }
                                        else{
                                            return "";
                                        }
                                    }
                                },
                                {
                                    "data": "Valor_Ph",
                                    "title": "Valor PH",
                                    render : function(data){
                                        if(data != null && data!= ""){
                                            return parseFloat(data).toFixed(1);
                                        }
                                        else{
                                            return "";
                                        }
                                    }
                                },
                                {
                                    "data": "Valor_Acidez",
                                    "title": "Valor Acidez",
                                    render : function(data){
                                        if(data != null && data!= ""){
                                            return parseFloat(data).toFixed(1);
                                        }
                                        else{
                                            return "";
                                        }
                                    }
                                },
                                {
                                    "data": "Codigo_Interno_Acidificacion",
                                    "title": "Herramientas",
                                    "width": "10%",
                                    "render": function (data) {
                                        return " <a class='btn btn-default btn-xs' onclick=EdifarAcidificacionModal('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                                 "<a class='btn btn-danger btn-xs'onclick=DeleteAcidificacionModal('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                                    }
                                }

                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                    { className: "text-center", "targets": [0, 1, 4] },
                                    { className: "text-right", "targets": [2, 3] },
                            ],
                            "select": 'single',
                            dom: 'Bfrtip',
                            buttons: [
                               {
                                   text: '<span class="glyphicon glyphicon-plus">',
                                   className: 'nuevo',
                                   action: function () {
                                       AgregarAcidificacion();
                                   }
                               }
                            ],
                            "order": [[1, "asc"]]
                        });
                    };
                }
            });
        }
        function AgregarAcidificacion() {
            var filaAgregada = false;
            $('#AcidificacionTabla').find('#insert').each(function () {
                filaAgregada = true;
            });
            if (filaAgregada == false) {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
                var html = '<tr>';
                html += '<td><input id="data1" placeholder="Fecha" type="date" style="width:100%"></input></td>';
                html += '<td><input id="data2" placeholder="Hora" style="width:100%"></input></td>';
                html += '<td><input id="data3" placeholder="PH" style="width:100%; text-align:right"></input></td>';
                html += '<td><input id="data4" placeholder="Acidez" style="width:100%; text-align:right"></input></td>';
                html += '<td class="text-center">' +
                    '<button type="button" name="insert" onclick="InsertarAcidificacion()" id="insert" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>' +
                    '<button type="button" name="cancel" id="cancel" onclick="CargarAcidificacion()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';
                $('#AcidificacionTabla tbody').prepend(html);
                //$('#data1').datepicker();
                $('#data2').timepicker();
                $('#data3').numeric();
                $('#data4').numeric();
            }
            else
                $('#data1').focus();
        };
        function DeleteAcidificacionModal(Codigo){
            for(var i in ListadoAcidifaciones){
                if (ListadoAcidifaciones[i].Codigo_Interno_Acidificacion == Codigo)
                    ListadoAcidifaciones.splice(i, 1);
            }
            dataTableAcidificacion.clear();
            dataTableAcidificacion.rows.add(ListadoAcidifaciones);
            dataTableAcidificacion.draw();
        }
        function GetFormula(Codigo) {
            var x = $.ajax({
                type: "GET",
                url: "/Formulas/GetOne/",
                data: { Codigo_Formula: Codigo,
                    Codigo_Producto : -1
                },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        FormulaActual = data.data[0];
                        $('#Codigo_Formula').val(FormulaActual.Codigo_Producto);

                        return FormulaActual;
                    }
                    else {
                        $.notify(data.mensaje, {
                            globalPosition: "top center",
                            className: "error"
                        })
                    }
                }
            });
        }
        function InsertarAcidificacion(){
            var Hora = $('#data2').val().toString();
            Hora = Hora.substring(0, 5);
            var UltimoCodigo = 0;
            for (i = 0; i < ListadoAcidifaciones.length; i++) {
                if(ListadoAcidifaciones[i].Codigo_Interno_Acidificacion > UltimoCodigo){
                    UltimoCodigo = ListadoAcidifaciones[i].Codigo_Interno_Acidificacion;
                }
            }
            ListadoAcidifaciones.push({
                Codigo_Interno_Acidificacion: UltimoCodigo + 1,
                Fecha: $('#data1').val() == "" ? null : $('#data1').val(),
                Hora: $('#data2').val() == "" ? null : Hora,
                Valor_Ph: $('#data3').val() == "" ? null : $('#data3').val(),
                Valor_Acidez: $('#data4').val() == "" ? null : $('#data4').val(),
            });
            dataTableAcidificacion.clear();
            dataTableAcidificacion.rows.add(ListadoAcidifaciones);
            dataTableAcidificacion.draw();
            AgregarAcidificacion();
        }
        function TraerFormula(Codigo){
            $.ajax({
                type: "POST",
                url: "/Formulas/GetOne/",
                data: { Codigo_Formula: -1,
                    Codigo_Producto: Codigo },
                success: function (data) {
                    if (data.success) {
                        FormulaActual = [];
                        FormulaActual = data.data[0];
                        console.log('TraerFormula()');
                        console.log(data.data[0]);
                        if (FormulaActual == null) {
                            notif({
                                msg: "Error, no existe registro con el Código ingresado.",
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            });
        }
        function AddOrEditInsumos(Codigo_Formula, Lote) {
            /*SE LLAMA CUANDO SE INGRESA UNA NUEVA PRODUCCION*/
            if (Lote == "" && Codigo_Formula != "") {
                ObtenerInsumosFormula(Codigo_Formula, Lote);
            }
                /*SE LLAMA CUANDO SE EDITA UNA PRODUCCION*/
            else {
                var y = $.ajax({
                    type: "GET",
                    url: "/Producciones/Get_Mov_Ins_Asoc/",
                    data: {
                        Lote: Lote
                    },
                    success: function (data) {
                        if (data.success) {
                            listadoInsumosFormula = [];
                            for (var i in data.data) {
                                listadoInsumosFormula.push(data.data[i]);
                            }
                            CargarInsumosFormula();
                        }
                    }
                });
            }
        }

        /* FUNCIONAMIENTO PRODUCTO, LITROS, KILOS TEORICOS Y FACTOR */
        var controlLitros = null;
        var controlProducto = null;
        var controlKilosTeoricos = null;
        var controlFactor = null;

        $(document).ready(function () {
            controlLitros = $("#Litros");
            controlProducto = $("#Codigo_Producto");
            controlKilosTeoricos = $("#Kilos_Teoricos");
            controlFactor = $("#Factor");

            let valorLeche = controlLitros.val().trim();
            let valorProducto = controlProducto.val().trim();

            if (!valorProducto)
                controlLitros.val("");

            valorLeche = controlLitros.val().trim();

            controlProducto.change(actualizarProducto);
            controlLitros.change(actualizarLeche);

            controlLitros.blur(function (e) {
                let valorLeche = controlLitros.val();
                let valorFactor = controlFactor.val();

                if (valorLeche)
                    calcularKilosTeoricos();

                if (!valorLeche)
                    controlKilosTeoricos.val("");
            });

            @if (Model.Produccion.Detalle_Produccion.Count != 0)
            {
                <Text>
                    $("#InsumosConsumidosDiv").html("<h1>Cargando Insumos</h1>");
                    $.ajax({
                        type: "GET",
                        url: "/Producciones/ObtenerInsumosConsumidos/",
                        data: { producto: '', litros: 0, lote: '@Model.Lote' },
                        success: function (data) {
                            $("#InsumosConsumidosDiv").html(data);
                        }
                    });
                </text>
            }
        });

        function actualizarLeche() {
            CargarDetallesFormula();
        }

        /*CARGA DESDE listadoDetalles*/
        function CargarDetalles() {
            $.fn.dataTable.ext.errMode = 'none';

            dataTableDetalles = $("#DetallesTabla").DataTable({
                "bPaginate": false,
                "bFilter": false,
                "destroy": true,
                "responsive": true,
                "autoWidth": true,
                "bInfo": false,
                "lengthChange": false,
                data: listadoDetalles,
                "columns": [
                    {
                        orderable: false,
                        title: "Codigo Insumo",
                        data: "Codigo_Insumo",
                        width: "120px",
                        render: function (data) {
                            return "<span id='sp_codigo_insumo'>" + data + "</span>";
                        }
                    },
                    {
                        orderable: false,
                        title: "Insumo",
                        data: "Descripcion",
                        "sClass": "mayusculas-texto",
                        width: "40%"
                    },
                    {
                        data: "Lote_Insumo",
                        title: "Lote",
                        render: function (data) {
                            if (!data)
                                data = '';
                            return '<input id="lote" class="form-control" value="' + data + '"></input>';
                        },
                        width: "100px",
                        orderable: false,
                    },
                    {
                        orderable: false,
                        render: function () {
                            return '<a class="btn btn-default btn-sm" onclick="Agregar_Lote_Insumo($(this))" title="Sirve para cargar otro numero de lote para el mismo insumo"><span class="glyphicon glyphicon-plus"></span></a>';
                        },
                        width: "20px",
                    },
                    {
                        orderable: false,
                        title: "Unidades",
                        data: "Codigo_Insumo",
                        "render": function (data, type, row, meta) {
                            if (row.Precio_Por == 'U') {
                                return "<span id='sp_cantidad'>" + parseFloat(row.Cantidad).toFixed(4) + "</span>";
                            }
                            else {
                                return "<span id='sp_cantidad'></span>";
                            }
                        }
                    },
                    {
                        orderable: false,
                        title: "Kilos/Litros",
                        data: "Codigo_Insumo",
                        "render": function (data, type, row, meta) {
                            if (row.Precio_Por != 'U') {
                                return "<span id='sp_kilos'>" + parseFloat(row.Cantidad).toFixed(4) + "</span>";
                            }
                            else {
                                return "<span id='sp_kilos'></span>";
                            }
                        }
                    },
                    {
                        orderable: false,
                        title: "Ajuste",
                        data: "Ajuste",
                        render: function (data) {
                            let valor = parseFloat(data);
                            if (!isNaN(valor)) {
                                return "<span id='sp_ajuste'>" + valor.toFixed(3) + "</span>";
                            }
                            else {
                                return "<span id='sp_ajuste'></span>";
                            }
                        },
                        width: "100px",
                    },
                    {
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return "<a class='btn btn-default btn-sm' onclick='Ajustar_Detalle_Produccion($(this))' title='Ajustar'><span class='glyphicon glyphicon-pencil'></span></a>";
                        },
                        width: "20px",
                    },
                    {
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return "<a class='btn btn-danger btn-sm' onclick='Eliminar_Fila_Detalle_Insumo($(this))' title='Eliminar'><span class='glyphicon glyphicon-trash'></span></a>";
                        }
                    }
                ],
                "language": idiomaEspañol,
                "columnDefs": [
                    { className: "text-right", "targets": [3, 4, 5, 6] }
                ],
                dom: 'Bfrtip',
                buttons: [
                   /*{
                       text: '<span class="glyphicon glyphicon-cog"></span> Realizar Ajustes',
                       className: 'ajustes',
                       action: function () {
                           CargarDetallesEnModal();
                           $('#modalDetalles').modal('toggle');
                       }
                   },*/
                ],
                "order": [[0, "asc"]]

            });

            dataTableDetalles.on('error.dt', function (e, settings, techNote, message) {
                console.log('An error has been reported by DataTables: ', message);
            });
        };


        /*SE LLAMA CUANDO SE ESTA HACIENDO LA EDICIÓN DE LA PRODUCCIÓN ACTUAL*/
        function CargarDetallesProduccion() {
            $.ajax({
                type: "GET",
                url: "/Producciones/GetDetalles/",
                data: { Lote: Lote },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoDetalles = [];
                        for (var i in data.data) {
                            data.data[i].Fecha = moment(data.data[i].Fecha).format('L');
                            listadoDetalles.push(data.data[i]);
                        }
                        CargarDetalles();
                    };
                }
            });
        }
        function ObtenerCostosIndirectos(){
            $.ajax({
                type: "GET",
                url: "/Producciones/GetCostosIndirectos/",
                data: { Lote: $('#Produccion_Lote').val() },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoCostosIndirectosProduccion = [];
                        for (var i in data.data) {
                            listadoCostosIndirectosProduccion.push(data.data[i]);
                        }

                    };
                }
            });
        }


        function cargarFabrica(fabrica_codigo) {
            if (fabrica_codigo != null && fabrica_codigo != -1) {

                $("#Produccion_Codigo_Fabrica").val(fabrica_codigo);

                $.ajax({
                    type: "GET",
                    url: "/Fabricas/GetData/",
                    data: { Codigo_Fabrica: fabrica_codigo },
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            var Fabrica = data.data[0];
                            $("#Produccion_Codigo_Fabrica").val(Fabrica.Codigo_Fabrica);
                            $("#fabrica-descripcion").html(Fabrica.Descripcion);
                        }
                        else {
                            console.log("ERROR AUTO FABRICA: ", data);
                        }
                    }
                });
            }
            else {
                console.log("NO se pudo auto completar fabrica: ", fabrica_codigo);
            }
        }

        $(document).ready(function () {
            //$('#HoraAgregados').timepicker();;
            $("#modalFabricas").on('shown.bs.modal', function () {
                $('#modalFabricas input').focus();
            });
            $("#modalFormulas").on('shown.bs.modal', function () {
                $('#modalFormulas input').focus();
            });
            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/
            $(document).on('keypress', 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });

            if(@Model.Codigo_Interno_Produccion == 0)
                cargarFabrica(@{@(Sesion.UsuarioActual != null ? (Sesion.UsuarioActual.Fabrica.HasValue ? Sesion.UsuarioActual.Fabrica.Value : -1) : -1)});

            if(@Model.Codigo_Interno_Produccion == 0){
                $('#Piezas_Obtenidas').val("");
                $('#Produccion_Lote').val("");
                $('#Produccion_Lote').focus();
                CargarDetalles();
            }
            else{
                Lote = $('#Produccion_Lote').val();
                $('#Nro_Planilla').val($('#Nro_Planilla_Editar').val());
                TraerFormula($('#Codigo_Producto').val());
                AddOrEditInsumos("@Model.Produccion.Codigo_Formula", Lote);
                ObtenerCostosIndirectos();
                CargarDetallesProduccion();
            }
            CargarAcidificacion();
            $("#Codigo_Producto").keyup(function (e) {
                if (e.keyCode == 13) {
                    if ($("#Codigo_Producto").val() == "") {
                        notif({
                            msg: "Ingrese un Código de Producto.",
                            type: "error",
                            position: "center"
                        });
                        $("#Codigo_Producto").focus();
                        return false;
                    } else {
                        ObtenerFormula();
                    }
                }
            });
            $("#Produccion_Fecha").datepicker();

            $('#modalDetalles').on('hidden.bs.modal', function (e) {
                CargarDetallesEnModal();
            });
            $('#btn-confirmar-detalles').click(function () {
                $('#modalDetalles').modal('hide');
                $('#modalDetalles').on('hidden.bs.modal', function (e) {
                    CargarDetalles();
                });
            });
            $("#Codigo_Estado").change(function () {
                var Codigo_Estado = this.value;
                Mostrar_Ocultar_Motivo_Retencion(Codigo_Estado);
            });
            Mostrar_Ocultar_Motivo_Retencion();



            console.log("fabrica"+ '@Model.Codigo_Fabrica');
            let autoFecha = '@{
                try
                {
                    if (Model.Codigo_Interno_Produccion == 0)
                    {
                        @db.Obtener_Ultima_Fecha_Producion(Sesion.UsuarioActual != null ? Sesion.UsuarioActual.Fabrica.HasValue ? Sesion.UsuarioActual.Fabrica.Value : -1 : -1, "Leche Polvo").First().Value.ToString("dd/M/yyyy", CultureInfo.InvariantCulture);
                    }
                    else
                    {
                        @String.Empty;
                    }

                    // @db.Produccion.Where(x => x.Codigo_Fabrica == Model.Codigo_Fabrica).OrderByDescending(x => x.Fecha).First().Fecha.Value.ToString("dd/M/yyyy", CultureInfo.InvariantCulture);
                }
                catch (Exception e)
                {
                    @String.Empty;
                }
            }';

            console.log("AUTOFECHA: ", autoFecha);

            if (autoFecha)
                $("#Produccion_Fecha").val(autoFecha.trim());
            @if (ViewBag.esDesglose != null && ViewBag.esDesglose == true)
            {
                <text>
                    ObtenerFormula();
                    $('#checkDesglose').hide();
                </text>
            }
        });
        function Mostrar_Ocultar_Motivo_Retencion(Codigo_Estado) {
            if (!Codigo_Estado)
                Codigo_Estado = $('#Codigo_Estado').val();
            $.ajax({
                type: "GET",
                url: "/Estados/GetOne/",
                data: { Codigo_Estado: Codigo_Estado },
                dataType: "json",
                success: function (data) {
                    if (data.estado.Se_Puede_Envasar) {
                        $('#div_motivo_retencion').attr("style", "display:none !important;");
                        $('#Codigo_Motivo_Retencion').val('');
                    }
                    else
                        $('#div_motivo_retencion').attr("style", "display:initial;padding-left:15px !important;");
                }
            });
        }
    </script>

}
