﻿@model AccesoDatos.Contexto.Produccion.Limpieza

@{
    ViewBag.Title = "AddOrEdit";
}
<div class="col-md-12 contenedor-formulas-add flexible2">
    <div class="form-horizontal">
        @using (Html.BeginForm("AddOrEdit", "Limpieza", FormMethod.Post, new { id = "formLimpieza" }))
        {
            @Html.HiddenFor(model => model.historica)
            @Html.HiddenFor(model => model.Codigo)

            @Html.AntiForgeryToken()
            if (ViewBag.agregar)
            {
                <input type="text" hidden value="true" name="agregar" />
            }
            else
            {
                <input type="text" hidden value="false" name="agregar" />
            }
            <hr />
            <div class="col-md-12 caja-contenedora" style="padding-bottom:0px !important">
                <fieldset class="scheduler-border caja-contenedora">
                    <legend class="scheduler-border">Encabezado</legend>
                    <div class="control-group">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-3 form-medio">
                                <div class="col-md-3 form-medio">
                                    @Html.LabelFor(model => model.Codigo_Fabrica, "Fábrica: ", htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                                <div class="col-md-3 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Fabrica, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                                        <span class="input-group-addon">
                                            <a href="#" id="btn-fabrica" onclick="AbrirModalFabricas()">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 form-medio">
                                @Html.LabelFor(model => model.fecha, "Fecha:", new { @class = "control-label space-label" })
                                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @style = "text-align:right" } })
                            </div>
                            <div class="col-md-3 form-medio">
                                <div class="col-md-2 form-medio">
                                    @Html.LabelFor(model => model.Codigo_Formula_Lavado, "Fórmula:", htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                                <div class="col-md-2 form-medio">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Codigo_Formula_Lavado, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><a href="#" onclick="AbrirModalLavados(1, ConfirmarLimpieza)"><span class="glyphicon glyphicon-search"></span></a></span>
                                    </div>
                                </div>
                                <div class="col-md-5 proveedor" style="padding-right:0px !important; margin-left:50px">
                                    <p style="margin:0px !important; text-transform:capitalize" id="descLavado">@ViewBag.DescFormula</p>
                                </div>
                            </div>
                            <div class="col-md-3 form-medio">
                                <div class="col-md-4 form-medio">
                                    @Html.LabelFor(model => model.Codigo_Quesero, "Responsable:", new { @class = "control-label space-label" })
                                </div>
                                <div class="col-md-6 form-medio">
                                    @Html.DropDownListFor(model => model.Codigo_Quesero, new SelectList(ViewBag.queseros, "Codigo_Quesero", "Nombre"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize" })
                                    @Html.ValidationMessageFor(model => model.Codigo_Quesero)
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="scheduler-border caja-contenedora">
                    <legend class="scheduler-border">Limpieza</legend>
                    <div class="control-group">
                        <div class="col-md-12 form-medio">
                            <div class="col-md-2 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Concentracion1, "Concentración:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @Html.EditorFor(model => model.Concentracion1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Concentracion1)
                                </div>
                            </div>
                            <div class="col-md-2 form-medio">
                                <div class="col-md-2 form-medio">
                                    @Html.LabelFor(model => model.Hora1, "Hora:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @Html.EditorFor(model => model.Hora1, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                                    @Html.ValidationMessageFor(model => model.Hora1)
                                </div>
                            </div>
                            <div class="col-md-2 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Concentracion2, "Concentración:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @Html.EditorFor(model => model.Concentracion2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Concentracion2)
                                </div>
                            </div>
                            <div class="col-md-2 form-medio">
                                <div class="col-md-2 form-medio">
                                    @Html.LabelFor(model => model.Hora2, "Hora:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @Html.EditorFor(model => model.Hora2, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                                    @Html.ValidationMessageFor(model => model.Hora2)
                                </div>
                            </div>
                            <div class="col-md-2 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Concentracion3, "Concentración:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @Html.EditorFor(model => model.Concentracion3, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Concentracion3)
                                </div>
                            </div>
                            <div class="col-md-2 form-medio">
                                <div class="col-md-2 form-medio">
                                    @Html.LabelFor(model => model.Hora3, "Hora:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @Html.EditorFor(model => model.Hora3, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                                    @Html.ValidationMessageFor(model => model.Hora3)
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12 form-medio">
                            <div class="col-md-1 form-medio">
                                @Html.LabelFor(model => model.Comentario, "Comentario:", new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-11 form-medio">
                                @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div hidden id="para_enviar">

            </div>
        }
        <div class="col-md-12 caja-contenedora" style="padding-bottom: 0px !important">

            <table id="DetallesTabla" class="display compact" style="width:100%"></table>

        </div>

        <div class="col-md-12 flexible">
            <div class="col-md-12 contenedor-btns-form">
                <div class="form-group" style="margin:0px !important">
                    <input type="button" onclick="CargarParaEnviar()" value="Confirmar" class="btn btn-primary" />
                    <a class="btn btn-default" href="@Url.Action("Index", "Limpieza")" style="margin-left:10px">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var jsonObj = @Html.Raw(Json.Encode(ViewBag.detalleLimpieza));
    var listaDetalle = [];
    var dataTableDetalles = null;

    if ($('#Codigo_Fabrica').val() == 0)
        $('#Codigo_Fabrica').val("");

    if ($('#Codigo_Formula_Lavado').val() == 0)
        $('#Codigo_Formula_Lavado').val("");

    function ConfirmarLimpieza() {
        let codigo_formula;
        $("#LavadosTabla").find("tr.selected").find("td").each(function () {
            if ($(this).index() == 0) {
                $("#Codigo_Formula_Lavado").val($(this).html());
                codigo_formula = $(this).html();
            }
            if ($(this).index() == 3) {
                $("#descLavado").text($(this).html());
            }
        });
        $('#modalLavados').modal('hide');

        $.ajax({
            url: "/FormulasLavados/GetData/",
            type: "GET",
            data: {
                codigo: codigo_formula
            },
            success: function (data) {
                if (data.success) {
                    listaDetalle = [];
                    $.each(data.data, function (i, item) {
                        listaDetalle.push({
                            Lote: "",
                            Codigo: item.Codigo,
                            Codigo_Insumo: item.Codigo_Insumo,
                            kilos_litros: item.kilos_litros,
                            cantidad: item.cantidad,
                            Descripcion_Insumo: item.Descripcion_Insumo,
                            Precio_Por: item.Precio_Por,
                            ajuste: ""
                        });
                    });
                    $("#descLavado").text(data.DescFormula);
                    CargarDetalles();

                }
                else {
                    if (data.message == "Iniciar Sesion") {
                        AbrirModalLogin();
                    }
                    else {
                        $("#Codigo_Formula_Lavado").val("");
                        $("#Codigo_Formula_Lavado").focus();

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                        listaDetalle = [];
                        CargarDetalles();
                    }
                }
            }
        });
    }

    function CargarParaEnviar() {
        if ($('#DetallesTabla .dataTables_empty').length == 0) {
            $('#Concentracion1').val($('#Concentracion1').val().toString().replace(".", ","));
            $('#Concentracion2').val($('#Concentracion2').val().toString().replace(".", ","));
            $('#Concentracion3').val($('#Concentracion3').val().toString().replace(".", ","));


            $('#DetallesTabla tbody tr').each(function (index) {
                let codigo_insumo, cantidad, kilos, lote, ajuste, cant_final_kilos, cant_final;

                codigo_insumo = $(this).find('#sp_codigo_insumo').html();

                cantidad = $(this).find('#sp_cantidad').html();
                kilos = $(this).find('#sp_kilos').html();

                if (kilos != '')
                    cant_final_kilos = parseFloat(kilos.replace(",", "."));
                else
                    cant_final_kilos = 0;

                if (cantidad != '')
                    cant_final = parseFloat(cantidad.replace(",", "."));
                else
                    cant_final = 0;

                lote = $(this).find('#lote').val();

                ajuste = $(this).find('#sp_ajuste').html();
                if (ajuste != '')
                    ajuste = parseFloat(ajuste.replace(",", "."));

                $('#para_enviar').append('<input type="text" name="Detalle_Limpieza[' + index + '].Codigo_Insumo" value="' + codigo_insumo + '"/>' +
                    '<input type="text" name="Detalle_Limpieza[' + index + '].kilos_litros" value="' + parseFloat(cant_final_kilos).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Limpieza[' + index + '].cantidad" value="' + parseFloat(cant_final).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Limpieza[' + index + '].Lote" value="' + lote + '"/>' +
                    '<input type="text" name="Detalle_Limpieza[' + index + '].Codigo_Limpieza" value="' + '@Model.Codigo'+ '"/>' +
                    '<input type="text" name="Detalle_Limpieza[' + index + '].ajuste" value="' + parseFloat(ajuste).toString().replace(".", ",") + '"/>');

            });
        }

        $("#formLimpieza").submit();
    }

    $(document).ready(function () {
        $("#fecha").datepicker();
        $.each(jsonObj, function (i, item) {
            console.log(item);
            listaDetalle.push({
                Lote: item.lote,
                Codigo: item.Codigo,
                Codigo_Insumo: item.Codigo_Insumo,
                kilos_litros: item.kilos_litros,
                cantidad: item.cantidad,
                Descripcion_Insumo: item.Descripcion_Insumo,
                Precio_Por: item.Precio_Por,
                ajuste: item.ajuste
            });
        });
        CargarDetalles();

    });

    /*CARGA DESDE listadoDetalles*/
    function CargarDetalles() {
        $.fn.dataTable.ext.errMode = 'none';

        dataTableDetalles = $("#DetallesTabla").DataTable({
            "bPaginate": false,
            "bFilter": false,
            "destroy": true,
            "responsive": true,
            "autoWidth": true,
            "bInfo": false,
            "lengthChange": false,
            data: listaDetalle,
            "columns": [
                {
                    orderable: false,
                    title: "Codigo Insumo",
                    data: "Codigo_Insumo",
                    width: "120px",
                    render: function (data) {
                        return "<span id='sp_codigo_insumo'>" + data + "</span>";
                    }
                },
                {
                    orderable: false,
                    title: "Insumo",
                    data: "Descripcion_Insumo",
                    "sClass": "mayusculas-texto",
                    width: "40%"
                },
                {
                    data: "Lote",
                    title: "Lote",
                    render: function (data) {
                        if (!data)
                            data = '';
                        return '<input id="lote" class="form-control" value="' + data + '"></input>';
                    },
                    width: "100px",
                    orderable: false,
                },
                {
                    orderable: false,
                    render: function () {
                        return '<a class="btn btn-default btn-sm" onclick="Agregar_Lote_Insumo($(this))" title="Sirve para cargar otro numero de lote para el mismo insumo"><span class="glyphicon glyphicon-plus"></span></a>';
                    },
                    width: "20px",
                },
                {
                    orderable: false,
                    title: "Unidades",
                    data: "Codigo_Insumo",
                    "render": function (data, type, row, meta) {
                        if (row.Precio_Por == 'U') {
                            return "<span id='sp_cantidad'>" + parseFloat(row.cantidad).toFixed(2) + "</span>";
                        }
                        else {
                            return "<span id='sp_cantidad'></span>";
                        }
                    }
                },
                {
                    orderable: false,
                    title: "Kilos/Litros",
                    data: "Codigo_Insumo",
                    "render": function (data, type, row, meta) {
                        if (row.Precio_Por != 'U') {
                            return "<span id='sp_kilos'>" + parseFloat(row.kilos_litros).toFixed(2) + "</span>";
                        }
                        else {
                            return "<span id='sp_kilos'></span>";
                        }
                    }
                },
                {
                    orderable: false,
                    title: "Ajuste",
                    data: "ajuste",
                    render: function (data) {
                        let valor = parseFloat(data);
                        if (!isNaN(valor)) {
                            return "<span id='sp_ajuste'>" + valor.toFixed(2) + "</span>";
                        }
                        else {
                            return "<span id='sp_ajuste'></span>";
                        }
                    },
                    width: "100px",
                },
                {
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return "<a class='btn btn-default btn-sm' onclick='Ajustar_Detalle_Produccion($(this))' title='Ajustar'><span class='glyphicon glyphicon-pencil'></span></a>";
                    },
                    width: "20px",
                },
                {
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return "<a class='btn btn-danger btn-sm' onclick='Eliminar_Fila_Detalle_Insumo($(this))' title='Eliminar'><span class='glyphicon glyphicon-trash'></span></a>";
                    }
                }
            ],
            "language": idiomaEspañol,
            "columnDefs": [
                { className: "text-right", "targets": [3, 4, 5, 6] }
            ],
            dom: 'Bfrtip',
            buttons: [
                /*{
                    text: '<span class="glyphicon glyphicon-cog"></span> Realizar Ajustes',
                    className: 'ajustes',
                    action: function () {
                        CargarDetallesEnModal();
                        $('#modalDetalles').modal('toggle');
                    }
                },*/
            ],
            "order": [[0, "asc"]]

        });

        dataTableDetalles.on('error.dt', function (e, settings, techNote, message) {
            console.log('An error has been reported by DataTables: ', message);
        });
    };

    function Agregar_Lote_Insumo(boton) {
        var tr = boton.parent().parent();
        var new_tr = tr.clone();
        new_tr.find('#lote').val('');
        new_tr.find('#sp_ajuste').html('');
        new_tr.find('#sp_kilos').html('');
        new_tr.find('#sp_cantidad').html('');
        tr.after(new_tr);
        new_tr.find('#lote').focus();
    }

    function Ajustar_Detalle_Produccion(boton) {
        let tr = boton.parent().parent();
        let span = tr.find('#sp_ajuste');
        let td = tr.find('#sp_ajuste').parent();
        let ajuste = parseFloat(span.html()).toFixed(2);
        if (isNaN(ajuste))
            ajuste = '';
        td.html('<input id="ajuste_insumo" class="form-control" value="' + ajuste + '" style="text-align:right;"></input>');
        $("#ajuste_insumo").keyup(function (e) {
            if (e.keyCode == 13) {
                Confirmar_Edicion_Ajuste();
                return false;
            }
        });
        $("#ajuste_insumo").select();
        $("#ajuste_insumo").focus();
    }
    function Eliminar_Fila_Detalle_Insumo(boton) {
        boton.parent().parent().remove();
    }

    function Confirmar_Edicion_Ajuste() {
        if ($("#ajuste_insumo").length == 0)
            return;
        let tr_actualizar = $("#ajuste_insumo").parent().parent();
        let td_actualizar = $("#ajuste_insumo").parent();
        let ajuste = parseFloat($("#ajuste_insumo").val()).toFixed(4);
        if (isNaN(ajuste))
            ajuste = '';
        td_actualizar.html("<span id='sp_ajuste'>" + ajuste + "</span>");
    }

</script>