﻿@using MVC_Produccion.Sesiones
@{
    ViewBag.Title = "Limpieza";
}

<h2>Limpieza</h2>
<div id="dropdownEstados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoEstados", ViewBag.ListadoEstados as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "text-transform: capitalize" })
</div>
<table id="LimpiezaTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Delete()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Verificacion Delete-->
<div class="modal fade" id="modalVerificarBorrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="DeleteInsumos()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script>
        dataTableLimpieza = null;
      
        function CargarLimpieza() {
            dataTableLimpieza = $("#LimpiezaTabla").DataTable({
                "autoWidth": true,
                "destroy": true,
                "ajax": {
                    "url": "/Limpieza/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [

                    {
                        "title": "Código Limpieza",
                        "data": "Codigo",
                        // "width": "15%",
                        render: function (data) {
                            if (data == null) {
                                return "";
                            }
                            else {
                                return data;
                            }
                        }
                    },
                {
                    "title": "Cod. Fórmula Lavado",
                    "data": "Codigo_Formula_Lavado",
                    //"width": "15%",
                    render: function (data) {
                        if (data == null) {
                            return "";
                        }
                        else {
                            return data;
                        }
                    }
                },
                    {
                        "title": "Comentario",
                        "data": "Comentario",
                        "sClass": "mayusculas-texto",
                        render: function (data) {
                            if (data == null) {
                                return "";
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                             "title": "Descripcion Lavado",
                             "data": "Descripcion_Lavado",
                             "sClass": "mayusculas-texto",
                             render: function (data) {
                                 if (data == null) {
                                     return "";
                                 }
                                 else {
                                     return data;
                                 }
                             }
                    },
                     @{
                        if (Sesion.UsuarioActual.Rol.ToLower() == "administrador" || !ViewBag.configuraciones.Requiere_Rol_Administrador  || !ViewBag.configuraciones.Utiliza_Login)
                        {
                            <text>
                                {
                                    "width": "250px",
                                    "render": function (data, type, row, meta) {
                                        if (row.Activo)
                                            return "<a class='btn btn-default btn-sm' href='/Limpieza/AddOrEdit?codigo=" + row.Codigo + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                                "<a class='btn btn-danger btn-sm' onclick=modificarInput('" + row.Codigo + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                                        else
                                            return "<a class='btn btn-default btn-sm' href='/Limpieza/AddOrEdit?codigo=" + row.Codigo + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                                "<a class='btn btn-danger btn-sm' onclick=modificarInput('" + row.Codigo + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";


                                    },
                                }
                            </text>
                        }
                        else
                        {
                            <text>
                                {
                                    "title": "",
                                    "render": function (data) {
                                        return "";
                                    }
                                }
                            </text>
                        }
                    }
                 
                ],
                "columnDefs": [
                    { className: "text-center", "targets": [0, 1,4] }
                ],
                "order": [[0, 'asc']],
                "language": idiomaEspañol,
                dom: 'Bfrtip',
                select: 'multiple',
                buttons: [
                    {
                        text: '<span class="glyphicon glyphicon-plus">',
                        className: 'nuevo',
                        action: function () {
                            window.location.href = "/Limpieza/AddOrEdit?";
                        }
                    },
                       {
                           text: 'Actualizar <span class="glyphicon glyphicon-refresh">',
                           className: 'primary',
                           action: function () {
                               PasarHistorico();
                           }
                       },
                        
                    {
                        text: $('#dropdownEstados').html(),
                        className: 'botonDropdown'

                    }
                ],
                "order": [[2, "asc"]],
                initComplete: function (data) {
                    $('div.dataTables_filter input').focus();
                    $('#dropdownEstados').html("");

                    $("#ListadoEstados").change(function () {
                        console.log("changed: ", $('option:selected', this).val());
                        estado = $('option:selected', this).val();
                        dataTableLimpieza.ajax.url('/Limpieza/GetData?estado=' + estado).load();

                    });
                }

            });

        }


        function MostrarMensaje() {
            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        };

        $(document).ready(function () {
            CargarLimpieza();

            if ("@ViewBag.Resultado" != "") {
                MostrarMensaje();
            }
        });


        function modificarInput(Codigo) {
            $('input.codigo').text(Codigo);
        }


        function Delete() {
            $.ajax({
                type: "POST",
                url: "/Limpieza/Delete/",
                data: { Codigo: $('input.codigo').text() },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');
                        $("#ListadoEstados").val("true");
                        dataTableLimpieza.ajax.url('/Limpieza/GetData').load();

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

        function PasarHistorico() {
            let codigos = [];
            $("#LimpiezaTabla tbody").find("tr.selected").find("td").each(function () {
                if ($(this).index() == 0) {
                    codigos.push(parseInt($(this).html()))
                }
            });
            
            $.ajax({
                type: "POST",
                url: "/Limpieza/Pasar_Historica/",
                data: { codigos:codigos},
                success: function (data) {
                    if (data.success) {
                        $("#ListadoEstados").val("false");

                        dataTableLimpieza.ajax.url('/Limpieza/GetData').load();

                        notif({
                            msg: "Se Actualizaron Correctamente",
                            type: "success",
                            position: "center"
                        });

                    }
                    else {

                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });

        };

    </script>
}
