﻿@model Ajustes_Insumos
@using AccesoDatos.Contexto.Produccion
@{
    Layout = null;
}
<div class="modal-header col-md-12 modalCreate" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Traspaso de Insumos</h4>
    @if (Model.Estado == "Rechazado")
    {
        if (Model.Motivo_Rechazo != "")
        {
            <p>Este traspaso fue rechazado por el siguiente motivo: <span class="motivo_rechazo">@Html.DisplayFor(model => model.Motivo_Rechazo)</span></p>
        }
    }
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body modalCreate" style="padding: 0px">
    @using (Html.BeginForm("AddOrEdit", "TraspasosInsumos", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formAddOrEdit", autocomplete = "off" }))
    {
        @Html.HiddenFor(model => model.Historico)
        @Html.HiddenFor(model => model.Estado)
        @Html.HiddenFor(model => model.Es_Traspaso)
        @Html.HiddenFor(model => model.Tipo_Movimiento)

        @Html.EditorFor(model => model.Codigo_Interno_Ajuste, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })


        <div class="col-md-12 caja-contenedora flexible2">
            <div class="col-md-12 caja-sector-modal">
                <div class="col-3" style="padding-right:10px!important;">
                    @Html.Label("Fecha:", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right;display:inline-block;" } })
                </div>

                <div class="col-1" style="padding-right:10px!important;">
                    @Html.Label("Prefijo:", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control", @style = "display:inline-block;width:60px;" } })
                </div>
                <div class="col-3" style="padding-right:10px!important;">
                    @Html.Label("Nro Comprob:", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Numero_Comprobante, new { htmlAttributes = new { @class = "form-control", @style = "display:inline-block;width:120px;" } })
                </div>
                <div class="col-md-3 form-medio">
                    <div class="col-md-6">
                        @Html.Label("Fabrica Origen:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-4 input-group">
                        @Html.EditorFor(model => model.Fabrica_Origen, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        <span class="input-group-addon"><a href="#" id="btn-fabrica" onclick="AbrirModalFabricas('Fabrica_Origen')"><span class="glyphicon glyphicon-search"></span></a></span>
                    </div>
                </div>
                <div class="col-md-3 form-medio">
                    <div class="col-md-8">
                        @Html.Label("Fabrica Destino:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-4 input-group">
                        @Html.EditorFor(model => model.Fabrica, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        <span class="input-group-addon"><a href="#" onclick="AbrirModalFabricas('Fabrica')"><span class="glyphicon glyphicon-search"></span></a></span>
                    </div>
                </div>

            </div>

            <div class="col-md-12 caja-sector-modal">
                <div class="col-md-12">
                    @Html.Label("Comentario:", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize;width:90%;display: inline-block;" } })
                </div>
            </div>
            <div class="col-md-12 caja-contenedora">
                <table id="DetallesAjusteTabla" class="display compact" style="width:100%"></table>
            </div>
            <div id="DetalleTraspasos" style="display:none"></div>
        </div>
    }
</div>
<div class="modal-footer modalCreate">
    @{
        if (ViewBag.solo_lectura)
        {
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
        }
        else
        {
            <button type="button" class="btn btn-primary" onclick="ConfirmarAjuste($('#formAddOrEdit'))">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        }
    }
</div>

<script>
    $('#Fecha').datepicker();
    if ("@ViewBag.Fabrica_Enabled" == "disabled") {
        $("#Fabrica_Origen").attr("readonly", "readonly");
        $("#btn-fabrica").removeAttr('onClick');
    }

    function ConfirmarInsumo() {

        document.getElementById('tb-insumo').disabled = true;
        let Codigo = $('#InsumosLayoutTabla tr.selected td:first-child').html();
        $('#tb-insumo').val(Codigo);
        $.ajax({
            type: "GET",
            url: "/Insumos/GetOne/",
            data: { Codigo_Insumo: Codigo },
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    var Insumo = data.data[0];
                    if (Insumo != null) {
                        /*
                        for (var i in listadoDetallesAjuste) {
                            if (listadoDetallesAjuste[i].Codigo_Insumo == Insumo.Codigo_Insumo) {
                                notif({
                                    msg: "Ya existe un registro ingresado con ese Código",
                                    type: "warning",
                                    position: "center"
                                });
                                $('#tb-insumo').focus();
                                return;
                            }
                        }
                        */
                        $("#descripcion-insumo").text(pad(Insumo.Descripcion, 4));
                        $('#dataLote').html("");
                        $('#data3').html("");
                        $('#data4').html("");
                        let html = '<input id="lote" placeholder="Lote" class="col-md-9 text-box single-line" style="text-align:right" autocomplete="off">';
                        //html += '<div style="padding:0px !important; text-align:right"><a onclick="BuscarLotes()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>';

                        //$('#datalote').append('<input id="lote" placeholder="Lote" class="text-box single-line" style="text-align:right" autocomplete="off">');
                        $("#dataLote").append(html);
                        if (Insumo.Unidad_Medida == 'U' || Insumo.Unidad_Medida == 'A') {
                            $('#data3').append('<input id="nuevaCantidadDetalle" placeholder="Cantidad" class="text-box single-line" style="text-align:right" autocomplete="off">');
                        }
                        if (Insumo.Unidad_Medida == 'K' || Insumo.Unidad_Medida == 'A') {
                            $('#data4').append('<input id="nuevosKilosDetalle" placeholder="Kilos" class="text-box single-line" style="text-align:right" autocomplete="off">');
                        }
                        $("#lote").focus();
                    }
                    else {
                        notif({
                            msg: "Error, no existe registro con el Código ingresado.",
                            type: "error",
                            position: "center"
                        });
                        $('#tb-insumo').focus();
                    }
                }
                $("#lote").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $(this).trigger("enterKey");
                        $("#nuevosKilosDetalle").focus();
                        $("#nuevaCantidadDetalle").focus();
                    }
                });

                document.getElementById("tb-insumo").disabled = false;
            }
        });
        $('#modalInsumos').modal('toggle');
    }

    var listadoDetallesAjuste = [];
    function ConfirmarAjuste(Formulario) {
        $.validator.unobtrusive.parse(Formulario);
        if ($(Formulario).valid()) {
            for (var i in listadoDetallesAjuste) {
                $('#DetalleTraspasos').append('<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Codigo_Insumo" value="' + listadoDetallesAjuste[i].Codigo_Insumo + '"/>' +
                    '<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Cantidad" value="' + parseFloat(listadoDetallesAjuste[i].Cantidad).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Kilos_Litros" value="' + parseFloat(listadoDetallesAjuste[i].Kilos_Litros).toString().replace(".", ",") + '"/>' +
                    '<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Lote" value="' + listadoDetallesAjuste[i].Lote + '"/>' +
                    '<input type="text" name="Detalle_Ajuste_Insumos[' + i + '].Codigo_Interno_Ajuste" value="' + '@Model.Codigo_Interno_Ajuste'+ '"/>');

            }
            var x = $.ajax({
                type: "POST",
                url: "/TraspasosInsumos/AddOrEdit",
                data: $(Formulario).serialize(),
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        $('#modalAddOrEdit').modal('hide');
                        CargarTraspasosInsumos();
                    }
                    else {
                        if (data.message == "Iniciar Sesion") {
                            AbrirModalLogin();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            });
        }
        return false;
    }
    function VerificarKilosReales() {
        $('#kilos-restantes').html(parseFloat($('#Kilos_Reales').val()));
    }
    function RefrescarDetalles() {
        let solo_lectura = '@{ @ViewBag.solo_lectura;
        }'.toLowerCase();
        let mostrar = solo_lectura == 'false' ? true : false;
        dataTable = $("#DetallesAjusteTabla").DataTable({
            "bFilter": false,
            "destroy": true,
            "responsive": true,
            "bInfo": false,
            "iDisplayLength": 50,
            "lengthChange": false,
            data: listadoDetallesAjuste,
            "columns": [
                {
                    title: "Código",
                    data: "Codigo_Insumo",
                    "width": "10%"

                },
                {
                    title: "Descripción",
                    data: "Descripcion_Insumo",
                    sClass: "mayusculas-texto",
                    "width": "30%"

                },
                {
                    title: "Lote",
                    data: "Lote",
                    "width": "20%",
                    render: function (data) {
                        if (data == 'null')
                            return "";
                        else
                            return data;
                    }
                },
                {
                    title: "Cantidad",
                    data: "Cantidad",
                    "width": "14%",
                    render: function (data) {
                        if (data == null)
                            return "";
                        else
                            return parseFloat(data).toFixed(2);
                    }
                },
                {
                    title: "Kilos/Litros",
                    data: "Kilos_Litros",
                    "width": "14%",
                    render: function (data) {
                        if (data == null)
                            return "";
                        else
                            return parseFloat(data).toFixed(2);
                    }
                },
                {
                    title: "Herramientas",
                    data: "Codigo_Interno_Detalle",
                    "width": "10%",
                    "render": function (data) {
                        return "<a class='btn btn-default btn-xs' onclick=EditarDetalle('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                            "<a class='btn btn-danger btn-xs' onclick=BorrarDetalle(this," + data + ")><span class='glyphicon glyphicon-trash'></span></a>";
                    },
                },
                  {
                      title: "",
                      orderable: false,
                      data: "Codigo_Interno_Detalle",
                      "width": "2%",
                      "render": function (data) {
                          return "<input id='e' type='hidden' value='" + data + "'></input>";
                      },
                  },
            ],
            "language": idiomaEspañol,
            "columnDefs": [
                 {
                     "targets": [ 5 ],
                     "visible": mostrar
                 },
                {
                    className: "text-right",
                    targets: [3, 4, 2]
                },
                {
                    className: "text-center",
                    targets: [0, 5]
                }
            ],
            dom: 'Bfrtip',

            buttons: [
                {
                    text: '<span id="nuevo_detalle_traspaso" class="glyphicon glyphicon-plus">',
                    className: "nuevo nuevoDetalle",
                    action: function () {
                        if (mostrar) {
                            AgregarDetalleAjuste();
                        }

                    }
                }
            ],
            "order": [[2, "asc"]]
        });
        if (!mostrar) {
            $(".nuevoDetalle").hide();
        }
    }
    function CargarDetallesTraspasosInsumos(Codigo) {
        $.ajax({
            type: "GET",
            url: "/TraspasosInsumos/GetData/",
            data: {
                Codigo_Interno_Ajuste: Codigo
            },
            success: function (data) {
                listadoDetallesAjuste = [];
                if (data.success) {
                    if (Codigo >= 0)
                        listadoDetallesAjuste = data.detalles;
                    RefrescarDetalles();
                }
            }
        });
    }

    function AgregarDetalleAjuste() {
        var filaAgregada = false;
        $('#DetallesAjusteTabla').find('#insertarDetalle').each(function () {
            filaAgregada = true;
        });
        if (filaAgregada == false) {
            /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
            var html = '<tr>';
            html += '<td id="data1" class="form-medio">' +
                '<input id="tb-insumo" placeholder="Código" class="text-box single-line" style="text-align:right;width:70px;" autocomplete="off">' +
                `<div style="padding:0px !important; text-align:right"><a href="#" id="mostrarInsumos" onclick="AbrirModalInsumos(ConfirmarInsumo)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>` +
                '</td>';
            html += '<td id="descripcion-insumo" style="text-transform:capitalize"></td>';
            html += '<td id="dataLote"></td>'
            html += '<td id="data3"></td>';
            html += '<td id="data4"></td>';
            html += '<td style="display:flex; justify-content:center"><button type="button" name="insert" id="insertarDetalle" onclick="InsertarDetalle()" class="btn btn-success btn-xs" style="margin-right:5px;"><span class="glyphicon glyphicon-ok"></span></button>' +
                    '<button type="button" onclick="RefrescarDetalles()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
            html += '</tr>';
            $('#DetallesAjusteTabla tbody').prepend(html);
            $('#tb-insumo').focus();

        }

        $('#tb-insumo').focus();
    }
    function InsertarDetalle() {
        var bandera = false;

        if (bandera == false) {
            /*VERIFICA QUE EXISTA EN LA BASE DE DATOS EL INSUMO*/
            $.ajax({
                type: "GET",
                url: "/Insumos/GetOne/",
                data: { Codigo_Insumo: $('#tb-insumo').val() },
                dataType: "json",
                success: function (data) {
                    if (!data.success) {
                        notif({
                            msg: "Error, no existe un registro con el Código ingresado.",
                            type: "error",
                            position: "center"
                        });
                    }
                    else {
                        var Insumo = data.data[0];
                        if ($('#nuevaCantidadDetalle').val() == "" && (Insumo.Unidad_Medida == 'U' || Insumo.Unidad_Medida == 'A')) {
                            notif({
                                msg: "Por favor, ingrese una nueva cantidad.",
                                type: "error",
                                position: "center"
                            });
                            $('#nuevaCantidadDetalle').focus();
                            return;
                        }
                        if ($('#nuevosKilosDetalle').val() == "" && (Insumo.Unidad_Medida == 'K' || Insumo.Unidad_Medida == 'A')) {
                            notif({
                                msg: "Por favor, ingrese los kilos.",
                                type: "error",
                                position: "center"
                            });
                            $('#nuevosKilosDetalle').focus();
                            return;
                        }

                        let cod = 0;
                        let lote_no_repetido = true;
                        $.each(listadoDetallesAjuste, function (i, item) {
                            if (item.Codigo_Interno_Detalle > cod)
                                cod = item.Codigo_Interno_Detalle;

                            if ($('#lote').val() == item.Lote) {
                                notif({
                                    msg: "No puede ingresar el mismo Lote",
                                    type: "error",
                                    position: "center"
                                });
                                lote_no_repetido = false
                            }
                        });
                        if (lote_no_repetido) {
                            listadoDetallesAjuste.push({
                                Codigo_Interno_Detalle: cod + 1,
                                Codigo_Insumo: Insumo.Codigo_Insumo,
                                Descripcion_Insumo: Insumo.Descripcion,
                                Cantidad: (Insumo.Unidad_Medida == 'U' || Insumo.Unidad_Medida == 'A') ? $('#nuevaCantidadDetalle').val() : 0,
                                Kilos_Litros: (Insumo.Unidad_Medida == 'K' || Insumo.Unidad_Medida == 'A') ? $('#nuevosKilosDetalle').val() : 0,
                                Lote: $('#lote').val(),
                                control:false
                            });
                            RefrescarDetalles();
                            AgregarDetalleAjuste();
                        }
                        else
                            $("#lote").focus();
                    }
                }
            });
        }
    }
    function SaltosEnFormulario() {
        $("#Fecha").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");
                $("#Tipo_Movimiento").focus();
            }
        });
        $("#Tipo_Movimiento").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");
                $("#Numero_Comprobante").focus();
            }
        });
        $("#Numero_Comprobante").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");
                $("#Descuento").focus();
            }
        });
        $("#Descuento").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");
                $("#Comentario").focus();
            }
        });
        $("#Comentario").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");
                AgregarDetalleAjuste();
            }
        });
    }
    function BorrarDetalle(button, Codigo_Interno_Detalle) {
        $(button).parent().parent().remove();
        for (var i in listadoDetallesAjuste) {
            if (listadoDetallesAjuste[i].Codigo_Interno_Detalle == Codigo_Interno_Detalle)
                listadoDetallesAjuste.splice(i, 1);
        }
    }

    function EditarDetalle(codigo){

        $('#DetallesAjusteTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 6) {
                    if ($(this).find('#e').val() == codigo) {
                        $(this).parent('tr').find('td').each(function () {
                            $(this).addClass("editable");
                            /*if ($(this).index() == 2) {

                                var Lote = $(this).html();

                                $(this).html("");

                                $(this).prepend('<input id="loteEditable" class="col-md-12 text-box single-line" style="text-align:center">');

                                $('#loteEditable').val(Lote);
                                $('#loteEditable').focus();

                            }*/

                            if ($(this).index() == 3) {

                                    var Cantidad = $(this).html();
                                    if (Cantidad && Cantidad != 0) {
                                        $(this).html("");

                                        $(this).prepend('<input id="cantidadEditable" class="col-md-12 text-box single-line" style="text-align:right">');

                                        $('#cantidadEditable').val(Cantidad);
                                        $('#cantidadEditable').focus();


                                    }
                            }


                            if ($(this).index() == 4) {

                                    var kilos = $(this).html();
                                    if (kilos && kilos != 0) {
                                        $(this).html("");

                                        $(this).prepend('<input id="KilosEditable" class="col-md-12 text-box single-line" style="text-align:right">');

                                        $('#KilosEditable').val(kilos);
                                        $('#KilosEditable').focus();


                                    }

                            }

                            if ($(this).index() == 5) {

                                $(this).html("");

                                $(this).prepend(
                                    "<a class='btn btn-success btn-xs' onclick=ConfirmarEdicionDetalle('" + codigo + "')>" +
                                        "<span class='glyphicon glyphicon-ok'></span>" +
                                    "</a>" +
                                    "<a class='btn btn-danger btn-xs' onclick=RefrescarDetalles()>" +
                                        "<span class='glyphicon glyphicon-remove'></span>" +
                                    "</a>"

                                );
                                $("#cantidadEditable").keyup(function (e) {
                                    if (e.keyCode == 13 && $("#KilosEditable").length == 0) {
                                        $(this).trigger("enterKey");
                                        ConfirmarEdicionDetalle(codigo);
                                    }
                                });
                                $("#KilosEditable").keyup(function (e) {
                                    if (e.keyCode == 13) {
                                        $(this).trigger("enterKey");
                                        ConfirmarEdicionDetalle(codigo);
                                    }
                                });

                            }
                        });
                    }
                }
            }
        )
    }

    function ConfirmarEdicionDetalle(codigo) {
        let correcto = true;
        $.each(listadoDetallesAjuste, function (i, item) {
            if (item.Codigo_Interno_Detalle == codigo) {
                let nueva_cant = parseFloat($("#cantidadEditable").val()) || 0;
                let nuevo_kg = parseFloat($("#KilosEditable").val()) || 0;
                if (item.control) {
                    if (nueva_cant > item.Cantidad_Maxima) {
                        $("#cantidadEditable").val(item.Cantidad_Maxima);
                        $("#cantidadEditable").focus();
                        correcto = false;
                        notif({
                            msg: "La Cantidad Ingresada es Mayor a lo Disponible",
                            type: "error",
                            position: "center"
                        });
                    }
                    if (nuevo_kg > item.Kilos_Litros_Maxima) {
                        $("#KilosEditable").val(item.Kilos_Litros_Maxima);
                        $("#KilosEditable").focus()
                        correcto = false;
                        notif({
                            msg: "Los Kilos Litros Ingresados es Mayor a lo Disponible",
                            type: "error",
                            position: "center"
                        });
                    }
                }
                if (nuevo_kg == 0 && nueva_cant == 0) {
                    correcto = false;
                    notif({
                        msg: "El valor ingresado no puede ser 0",
                        type: "error",
                        position: "center"
                    });
                }
                if (correcto) {
                    //listadoDetallesAjuste[i].Lote = $("#loteEditable").val();
                    listadoDetallesAjuste[i].Kilos_Litros = nuevo_kg == 0 ? item.Kilos_Litros : nuevo_kg;
                    listadoDetallesAjuste[i].Cantidad = nueva_cant == 0 ? item.Cantidad : nueva_cant;
                }
            }
        });
        if (correcto) {
            RefrescarDetalles();
        }
    }
    function BuscarLotes() {
        let fabrica = $("#Fabrica_Origen").val();
        let insumo = $("#tb-insumo").val();
        if (!fabrica) {
            notif({
                msg: "Ingrese la Fabrica Origen",
                type: "error",
                position: "center"
            });
            return
        }
        if (!insumo) {
            notif({
                msg: "Ingrese el insumo",
                type: "error",
                position: "center"
            });
            return
        }
        $.ajax({
            type: "GET",
            url: "/ModalesListados/Modal_Stock_Insumo_Lote/",
            data: { insumo: insumo, fabrica: fabrica },
            success: function (data) {
                $("#contenedor_stock_lotes").append(data);
            },
            complete: function () {
                $('#modalStockLotes').modal('show');

            }
        });
    }

    function InsertarLotes() {
        $("#tablaConfirmarSeleccion tbody tr").each(function () {
            let lote = $(this).find("#lote_nuevo").val();
            if (!lote)
                lote = $(this).find(".lote").html();
            let cant = $(this).find("#c").val();
            let kg = $(this).find("#k").val();

            let cod = 0;
            cant = cant == '' ? 0 : cant;
            kg = kg == '' ? 0 : kg;
            let nuevo = true;
            $.each(listadoDetallesAjuste, function (i, item) {
                if (item.Codigo_Interno_Detalle > cod)
                    cod = item.Codigo_Interno_Detalle;

                if (item.Lote == lote && item.Codigo_Insumo == $("#tb-insumo").val()) {
                    listadoDetallesAjuste[i].Cantidad = parseFloat(item.Cantidad) + parseFloat(cant);
                    listadoDetallesAjuste[i].Kilos_Litros = parseFloat(item.Kilos_Litros) + parseFloat(kg);
                    nuevo = false;
                }
            });
            if (nuevo) {
                let registro = lotes_seleccionados.find(function (item) {
                    return item.Lote == lote
                });
                if (!registro) {
                    registro = lotes_seleccionados.find(function (item) {
                        return item.Lote == ''
                    });
                }
                listadoDetallesAjuste.push({
                    Codigo_Interno_Detalle: cod + 1,
                    Codigo_Insumo: $("#tb-insumo").val(),
                    Descripcion_Insumo: $("#descripcion-insumo").text(),
                    Cantidad: parseFloat(cant),
                    Kilos_Litros: parseFloat(kg),
                    Lote: lote,
                    Cantidad_Maxima: registro.Cantidad,
                    Kilos_Litros_Maxima: registro.Kilos_Litros,
                    control:true
                });
            }

        });
        lotes_seleccionados = [];

        RefrescarDetalles();
        AgregarDetalleAjuste();
    }


</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
