﻿@{
    ViewBag.Title = "Traspaso de Insumos : Listado";
}
<div class="col-sm-10" style="margin-left:auto;margin-right: auto;float: initial;">
    <h2>Traspaso de Insumos</h2>
    <table id="TraspasosInsumosTabla" class="display compact" style="width:100%"></table>

</div>
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:350px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteAjuste()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal AddOrEdit -->
<div class="modal fade" id="modalAddOrEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:65%">
        <div class="modal-content" id="ModalAddOrEdit"></div>
    </div>
</div>
<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button id="button_confirmar" type="button" class="btn btn-success">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<input class="codigo" hidden />
@section scripts{
    <script>
        var fabrica_usuario = @ViewBag.Fabrica_Usuario;
        var dataTableTraspasosInsumos = [];
        var listadoTraspasosInsumos = [];
        function CargarTraspasosInsumos() {
            $.ajax({
                type: "GET",
                url: "/TraspasosInsumos/GetData/",
                data: { Codigo_Interno_Ajuste : -1 },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoTraspasosInsumos = data.data;
                        dataTable = $("#TraspasosInsumosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            data: listadoTraspasosInsumos,
                            "columns": [
                                {
                                    "data": "Codigo_Interno_Ajuste",
                                    "title": "Código",
                                    "width": "100px"
                                },
                                {
                                    "data": "Numero_Comprobante",
                                    "title": "Comprobante",
                                    "width": "100px"
                                },
                                {
                                    "data": "Fecha",
                                    "title": "Fecha",
                                    "render": function (data) {
                                        if (data != null)
                                            return moment(data).format("DD/MM/YYYY");
                                        else
                                            return "";
                                    },
                                    "width": "100px"
                                }, 
                                {
                                    "data": "Tipo_Movimiento",
                                    "title": "Movimiento",
                                    sClass: "mayusculas-texto",
                                    "width": "150px"
                                },
                                {
                                    "data": "Comentario",
                                    "title": "Comentario",
                                    sClass: "mayusculas-texto",
                                },
                                {
                                    "data": "Fabrica_Origen",
                                    "title": "Origen",
                                    "width": "100px"
                                },
                                {
                                    "data": "Fabrica",
                                    "title": "Destino",
                                    "width": "100px"
                                },
                                {
                                    "data": "Codigo_Interno_Ajuste",
                                    "width": "160px",
                                    "title": "Herramientas",
                                    render: function (data, type, row, meta) {
                                        var boton_confirmar = "<a class='btn btn-success btn-sm' onclick=Verificar_Confirmacion(" + data + "); style='float:left;'><span class='glyphicon glyphicon-ok'></span> Confirmar</a>";
                                        var boton_editar = "<a class='btn btn-default btn-sm' onclick=AbrirModalAddOrEdit(" + data + "); style='float:right;'><span class='glyphicon glyphicon-pencil'></span></a>";
                                        var boton_eliminar = "<a class='btn btn-danger btn-sm' onclick=Salida(" + data + "); style='float:right;'><span class='glyphicon glyphicon-trash'></span></a>";
                                        var resultado = "";
                                        if (fabrica_usuario == row.Fabrica || fabrica_usuario == -1)
                                            resultado += boton_confirmar;
                                        if (fabrica_usuario == row.Fabrica_Origen || fabrica_usuario == -1)
                                            resultado += boton_eliminar+ boton_editar;
                                        return resultado;
                                    }
                                }

                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                {
                                    className: "text-center", "targets": [0, 1, 2, 3,4,5,6,7]
                                }
                            ],
                            dom: 'Bfrtip',
                            buttons: [
                               {
                                   text: '<span class="glyphicon glyphicon-plus"></span> Agregar',
                                   className: 'nuevo',
                                   action: function () {
                                       AbrirModalAddOrEdit();
                                   }
                               }
                            ],
                            "order": [[1, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            },
                            select : 'single'
                        });
                    }
                }
            });
        }
        function TraerInsumo() {
            $.ajax({
                type: "GET",
                url: "/Insumos/GetOne/",
                data: { Codigo_Insumo: $('#tb-insumo').val() },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        var Insumo = data.data[0];
                        if (Insumo != null) {
                            $("#data2").text("");
                            $('#data3').html("");
                            $('#data4').html("");
                            $("#data2").text(Insumo.Descripcion);
                            if (Insumo.Precio_Por == 'U')
                                $('#data3').append('<input id="nuevaCantidad" placeholder="Cantidad" class="col-md-12 text-box single-line" style="text-align:right">');
                            else
                                $('#data4').append('<input id="nuevaCantidad" placeholder="Kilos/Litros" class="col-md-12 text-box single-line" style="text-align:right">');
                            $('#nuevaCantidad').focus();
                        }
                        else {
                            notif({
                                msg: "Error, no existe registro con el Código ingresado.",
                                type: "error",
                                position: "center"
                            });
                            $('#data2').html("");
                            $('#data3').html("");
                            $('#data4').html("");
                            $('#tb-insumo').focus();
                        }
                    }
                    $("#nuevaCantidad").keyup(function (e) {
                        if (e.keyCode == 13) {
                            $(this).trigger("enterKey");
                            $("#nuevoMotivo").focus()
                        }
                    });
                    $("#nuevoMotivo").keyup(function (e) {
                        if (e.keyCode == 13) {
                            $(this).trigger("enterKey");
                            InsertarAjuste();
                        }
                    });
                }
            });
        }
        function AgregarAjuste() {
            var filaAgregada = false;
            $('#TraspasosInsumosTabla').find('#insert').each(function () {
                filaAgregada = true;
            });
            if (filaAgregada == false) {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
                var html = '<tr>';
                html += '<td id="data1" style="height:100%" class="form-medio">' +
                     '<input id="tb-insumo" placeholder="Código" class="col-md-8 text-box single-line" style="text-align:right"/>' +
                     '<div class="col-md-4"><a href="#" id="mostrarInsumos" data-toggle="modal" data-target="#modalInsumos" onclick="tipoModalInsumos=1" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>' +
                     '</td>';
                html += '<td id="data2" style="text-transform:capitalize"></td>';
                html += '<td id="data3"></td>';
                html += '<td id="data4"></td>';
                html += '<td id="data5"><input id="nuevaFechaAjuste" type="date" placeholder="Fecha" style="width:100%"></td>';
                html += '<td id="data6"><input id="nuevoMotivo" placeholder="Motivo" style="width:100%; text-transform:capitalize"></td>';
                html += '<td class="text-center"><button type="button" name="insert" onclick="InsertarAjuste()" id="insert" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span></button>' +
                    '<button type="button" name="cancel" id="cancel" onclick="CargarTraspasosInsumos()" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';
                $('#TraspasosInsumosTabla tbody').prepend(html);
                var date = new Date();
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                if (month < 10) month = "0" + month;
                if (day < 10) day = "0" + day;
                var today = year + "-" + month + "-" + day;
                document.getElementById('nuevaFechaAjuste').value = today;
                $('#tb-insumo').focus();
                $('#tb-insumo').numeric(",");
                $("#tb-insumo").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $(this).trigger("enterKey");
                        TraerInsumo();
                    }
                });
            }
            else
                $('#tb-insumo').focus();
        }
        function refrescarTraspasosInsumos() {
            CargarTraspasosInsumos()
        }
        function modificarInput(Codigo) {
            $('input.codigo').text(Codigo);
        }
        function DeleteAjuste() {
            $.ajax({
                type: "POST",
                url: "/TraspasosInsumos/Delete/",
                data: { Codigo_Ajuste: Salida },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');
                        CargarTraspasosInsumos();
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        function InsertarAjuste() {
            $.ajax({
                url: "/TraspasosInsumos/AddOrEdit/",
                method: "POST",
                data: {
                    Codigo_Insumo: $('#tb-insumo').val(),
                    Cantidad: parseFloat($('#nuevaCantidad').val()).toString().replace(".", ","),
                    Fecha: $('#nuevaFechaAjuste').val() != "" ? $('#nuevaFechaAjuste').val() : null,
                    Motivo: $('#nuevoMotivo').val()
                },
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        CargarTraspasosInsumos();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                        $('#tb-insumo').focus();
                    }
                }
            });
        }

        function AbrirModalAddOrEdit(Codigo) {
            $.ajax({
                type: "GET",
                url: "/TraspasosInsumos/AddOrEdit/",
                data: { id: Codigo },
                success: function (data) {
                    $('#ModalAddOrEdit').html(data);
                    CargarDetallesTraspasosInsumos(Codigo);
                    $('#modalAddOrEdit').modal('toggle');
                    SaltosEnFormulario();
                    $("#modalAddOrEdit").on('shown.bs.modal', function () {
                        $('#Tipo_Movimiento').focus();
                    });
                }
            });
        }
        function Verificar_Confirmacion(id) {
            $('#modalVerificarActualizar').modal('toggle');
            document.getElementById("button_confirmar").onclick = function () { Confirmar_Traspaso(id); };
        }
        function Confirmar_Traspaso(id) {
            $.ajax({
                type: "POST",
                url: "/TraspasosInsumos/Pasar_A_Historico",
                data: { Codigo_Interno_Ajuste: id},
                success: function (data) {
                    if (data.success) {
                        CargarTraspasosInsumos();
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        $('#modalVerificarActualizar').modal('hide');
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        $(document).ready(function () {
            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
            CargarTraspasosInsumos();
            CargarInsumos();

        });
    </script>
}




