﻿@{
    ViewBag.Title = "Traspaso de Insumos : Listado";
}
<div class="col-sm-10" style="margin-left:auto;margin-right: auto;float: initial;">
    <h2>Traspaso Pendiente de Insumos</h2>
    <table id="TraspasosInsumosTabla" class="display compact" style="width:100%"></table>

</div>
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:350px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteAjuste()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal AddOrEdit -->
<div class="modal fade" id="modalAddOrEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:90%">
        <div class="modal-content" id="ModalAddOrEdit"></div>
    </div>
</div>
<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button id="button_confirmar" type="button" class="btn btn-success">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalRechazar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:400px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title">Rechazar ingreso pendiente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="pregunta_rechazo"></p>
                <textarea id="motivo_rechazo" style="width:400px;height:200px;"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Confirmar_Rechazo()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<input class="codigo" hidden />
@section scripts{
    <script>
        var fabrica_usuario = @ViewBag.Fabrica_Usuario;
        var dataTableTraspasosInsumos = [];
        var listadoTraspasosInsumos = [];
        var codigo_rechazar;
        function Pregunta_Confirmar_Rechazo(codigo_interno_rechazar) {
            codigo_rechazar = codigo_interno_rechazar;
            $('#pregunta_rechazo').html('A continuación ingrese el motivo del rechazo del Traspaso: '+codigo_rechazar);
            $('#modalRechazar').modal('toggle');
            $('#motivo_rechazo').focus();
        }

        function Confirmar_Rechazo() {
            if (!$('#motivo_rechazo').val()) {
                notif({
                    msg: "Debe ingresar el motivo del rechazo del Traspaso",
                    type: "error",
                    position: "center"
                });
                $('#motivo_rechazo').focus();
                return;
            }
            $.ajax({
                type: "POST",
                url: "/TraspasosInsumos/Rechazar_Traspaso_Pendiente",
                data: { codigo_traspaso: codigo_rechazar, motivo: $('#motivo_rechazo').val() },
                success: function (data) {
                    if (data.success) {
                        CargarTraspasosInsumos();
                        notif({
                            msg: "El Traspaso pendiente fue rechazado correctamente.",
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        if (data.message == "Iniciar Sesion") {
                            AbrirModalLogin();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                    $('#motivo_rechazo').val('');
                    $('#modalRechazar').modal('hide');
                }
            });
        }


        function CargarTraspasosInsumos() {
            $.ajax({
                type: "GET",
                url: "/TraspasosInsumos/Obtener_Traspasos/",
                data: { pendiente_confirmacion : true },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoTraspasosInsumos = data.data;
                        dataTable = $("#TraspasosInsumosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            data: listadoTraspasosInsumos,
                            "columns": [
                                {
                                    "data": "Codigo_Interno_Ajuste",
                                    "title": "Código",
                                    "width": "5%"
                                },
                                {
                                    "data": "Numero_Comprobante",
                                    "title": "Comprobante",
                                    "width": "10%"
                                },
                                {
                                    "data": "Fecha",
                                    "title": "Fecha",
                                    "render": function (data) {
                                        if (data != null)
                                            return moment(data).format("DD/MM/YYYY");
                                        else
                                            return "";
                                    },
                                    "width": "10%"
                                }, 
                                {
                                    "data": "Tipo_Movimiento",
                                    "title": "Movimiento",
                                    sClass: "mayusculas-texto",
                                    "width": "15%"
                                },
                                {
                                    "data": "Comentario",
                                    "title": "Comentario",
                                    sClass: "mayusculas-texto",
                                    "width": "10%"

                                },
                                {
                                    "data": "Fabrica_Origen",
                                    "title": "Origen",
                                    "width": "5%"
                                },
                                {
                                    "data": "Fabrica",
                                    "title": "Destino",
                                    "width": "5%"
                                },
                                {
                                    "data": "Codigo_Interno_Ajuste",
                                    "width": "40%",
                                    "title": "Herramientas",
                                    render: function (data, type, row, meta) {
                                     
                                        return "<a class='btn btn-default btn-sm' onclick=AbrirModalAddOrEdit(" + data + ")>Ver Detalle</a>" +
                                                "<a class='btn btn-success btn-sm' onclick=Verificar_Confirmacion(" + data + ")>Confirmar Traspaso</a>" +
                                                "<a class='btn btn-danger btn-sm' onclick=Pregunta_Confirmar_Rechazo(" + data + ")>Rechazar</a>";
                                    }
                                }

                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                {
                                    className: "text-center", "targets": [0, 1, 2, 3,4,5,6,7]
                                }
                            ],
                       
                            "order": [[1, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            },
                            select : 'single'
                        });
                    }
                }
            });
        }
        function TraerInsumo() {
            $.ajax({
                type: "GET",
                url: "/Insumos/GetOne/",
                data: { Codigo_Insumo: $('#tb-insumo').val() },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        var Insumo = data.data[0];
                        if (Insumo != null) {
                            $("#data2").text("");
                            $('#data3').html("");
                            $('#data4').html("");
                            $("#data2").text(Insumo.Descripcion);
                            if (Insumo.Precio_Por == 'U')
                                $('#data3').append('<input id="nuevaCantidad" placeholder="Cantidad" class="col-md-12 text-box single-line" style="text-align:right">');
                            else
                                $('#data4').append('<input id="nuevaCantidad" placeholder="Kilos/Litros" class="col-md-12 text-box single-line" style="text-align:right">');
                            $('#nuevaCantidad').focus();
                        }
                        else {
                            notif({
                                msg: "Error, no existe registro con el Código ingresado.",
                                type: "error",
                                position: "center"
                            });
                            $('#data2').html("");
                            $('#data3').html("");
                            $('#data4').html("");
                            $('#tb-insumo').focus();
                        }
                    }
                    $("#nuevaCantidad").keyup(function (e) {
                        if (e.keyCode == 13) {
                            $(this).trigger("enterKey");
                            $("#nuevoMotivo").focus()
                        }
                    });
                    $("#nuevoMotivo").keyup(function (e) {
                        if (e.keyCode == 13) {
                            $(this).trigger("enterKey");
                            InsertarAjuste();
                        }
                    });
                }
            });
        }
        function AgregarAjuste() {
            var filaAgregada = false;
            $('#TraspasosInsumosTabla').find('#insert').each(function () {
                filaAgregada = true;
            });
            if (filaAgregada == false) {
                /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/
                var html = '<tr>';
                html += '<td id="data1" style="height:100%" class="form-medio">' +
                     '<input id="tb-insumo" placeholder="Código" class="col-md-8 text-box single-line" style="text-align:right"/>' +
                     '<div class="col-md-4"><a href="#" id="mostrarInsumos" data-toggle="modal" data-target="#modalInsumos" onclick="tipoModalInsumos=1" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a></div>' +
                     '</td>';
                html += '<td id="data2" style="text-transform:capitalize"></td>';
                html += '<td id="data3"></td>';
                html += '<td id="data4"></td>';
                html += '<td id="data5"><input id="nuevaFechaAjuste" type="date" placeholder="Fecha" style="width:100%"></td>';
                html += '<td id="data6"><input id="nuevoMotivo" placeholder="Motivo" style="width:100%; text-transform:capitalize"></td>';
                html += '<td class="text-center"><button type="button" name="insert" onclick="InsertarAjuste()" id="insert" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span></button>' +
                    '<button type="button" name="cancel" id="cancel" onclick="CargarTraspasosInsumos()" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></td>';
                html += '</tr>';
                $('#TraspasosInsumosTabla tbody').prepend(html);
                var date = new Date();
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                if (month < 10) month = "0" + month;
                if (day < 10) day = "0" + day;
                var today = year + "-" + month + "-" + day;
                document.getElementById('nuevaFechaAjuste').value = today;
                $('#tb-insumo').focus();
                $('#tb-insumo').numeric(",");
                $("#tb-insumo").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $(this).trigger("enterKey");
                        TraerInsumo();
                    }
                });
            }
            else
                $('#tb-insumo').focus();
        }
        function refrescarTraspasosInsumos() {
            CargarTraspasosInsumos()
        }
        function modificarInput(Codigo) {
            $('input.codigo').text(Codigo);
        }
        function DeleteAjuste() {
            $.ajax({
                type: "POST",
                url: "/TraspasosInsumos/Delete/",
                data: { Codigo_Ajuste: Salida },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');
                        CargarTraspasosInsumos();
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                    }
                    else {
                        if (data.message == "Iniciar Sesion") {
                            AbrirModalLogin();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            });
        }
        function InsertarAjuste() {
            $.ajax({
                url: "/TraspasosInsumos/AddOrEdit/",
                method: "POST",
                data: {
                    Codigo_Insumo: $('#tb-insumo').val(),
                    Cantidad: parseFloat($('#nuevaCantidad').val()).toString().replace(".", ","),
                    Fecha: $('#nuevaFechaAjuste').val() != "" ? $('#nuevaFechaAjuste').val() : null,
                    Motivo: $('#nuevoMotivo').val()
                },
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        CargarTraspasosInsumos();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                        $('#tb-insumo').focus();
                    }
                }
            });
        }
        function ConfirmarInsumo() {
            $('#InsumosTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {
                    $("#tb-insumo").val($(this).html());
                    TraerInsumo();
                }
            });
            CargarInsumos();
            $('#modalInsumos').modal('hide');
            $('#modalInsumos').on('hidden.bs.modal', function (e) {
                $("#nuevaCantidad").focus();
            });            
        }
        function AbrirModalAddOrEdit(Codigo) {
            $.ajax({
                type: "GET",
                url: "/TraspasosInsumos/AddOrEdit/",
                data: { id: Codigo,solo_lectura: true },
                success: function (data) {
                    $('#ModalAddOrEdit').html(data);
                    CargarDetallesTraspasosInsumos(Codigo);
                    $('#modalAddOrEdit').modal('toggle');
                    SaltosEnFormulario();
                    $("#modalAddOrEdit").on('shown.bs.modal', function () {
                        $('#Tipo_Movimiento').focus();
                    });
                }
            });
        }
        function Verificar_Confirmacion(id) {
            $('#modalVerificarActualizar').modal('toggle');
            document.getElementById("button_confirmar").onclick = function () { Confirmar_Traspaso(id); };
        }
        function Confirmar_Traspaso(id) {
            $.ajax({
                type: "POST",
                url: "/TraspasosInsumos/Pasar_A_Historico",
                data: { Codigo_Interno_Ajuste: id},
                success: function (data) {
                    if (data.success) {
                        CargarTraspasosInsumos();
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        $('#modalVerificarActualizar').modal('hide');
                    }
                    else {
                        if (data.message == "Iniciar Sesion") {
                            AbrirModalLogin();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                }
            });
        }
        $(document).ready(function () {
            /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
            CargarTraspasosInsumos();
            setInterval(function(){ CargarTraspasosInsumos(); }, 20000);

            CargarInsumos();
            $('#InsumosTabla tbody').on('click', 'tr.selected > td', function () {
                ConfirmarInsumo();
            });
        });
    </script>
}




