﻿@model MVC_Produccion.ContextoProduccion.Produccion
@using MVC_Produccion.ContextoProduccion
@{
    Entities db = new Entities();

    if (Model.Codigo_Interno_Produccion == 0)
    {
        ViewBag.Title = "Producciones : Nuevo";
    }
    else
    {
        ViewBag.Title = "Producciones : Editar";
    }
}

@using (Html.BeginForm("AddOrEdit", "Producciones", FormMethod.Post, new { onsubmit = "SubmitProduccion(this)", id = "FormNuevo" }))
{
    <div class="col-md-12 contenedor-producciones-add">
        <div class="col-md-12 flexible2">
            <!-- CONTENEDOR SUBMIT-->

            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <a onclick="SubmitProduccion('#FormNuevo')" class="AddProduccion btn btn-primary">Confirmar</a>
                        <a class="btn btn-default" href="@Url.Action("Index", "Producciones")">Volver</a>
                    </div>
                </div>
            </div>

            <!--FABRICA / NUMERO PLANILLA / FECHA / LOTE / PRODUCTO / QUESERO / ESTADO-->

            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Codigo_Interno_Produccion, new { @class = "control-label" })
                @Html.EditorFor(model => model.Codigo_Interno_Produccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Codigo_Interno_Produccion)
            </div>

            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Encabezado</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <div class="col-md-2 form-medio">
                                @Html.Label("Fábrica:", htmlAttributes: new { @class = "control-label" })
                            </div>

                            @{
                                if (Model.Codigo_Interno_Produccion != 0)
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Codigo_Fabrica, new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-addon">
                                                <a href="#" id="btn-fabrica" onclick="AbrirModalFabricas()">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="fabrica-descripcion">
                                            @{ 
                                                if(Model.Fabricas != null)
                                                {
                                                    <text>
                                                        @Model.Fabricas.Descripcion
                                                    </text>
                                                }
                                            }
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Codigo_Fabrica, new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-addon">
                                                <a href="#" id="btn-fabrica" onclick="AbrirModalFabricas()">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="fabrica-descripcion">

                                        </p>
                                    </div>
                                }

                            }

                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="form-medio">
                                <div class="col-md-4 col-md-offset-1 form-medio">
                                    @Html.LabelFor(model => model.Fecha, "Fecha:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-6 form-medio">
                                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @style= "text-align:right" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Nro_Planilla, "Número de Planilla:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @if (Model.Codigo_Interno_Produccion == 0)
                                    {
                                        @Html.EditorFor(model => model.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right", @disabled = "disabled", @id = "NroPlanillaEditar" } })
                                        @Html.EditorFor(model => model.Nro_Planilla, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                    }


                                    @Html.ValidationMessageFor(model => model.Nro_Planilla)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 form-medio" style="flex-direction:column !important">
                            @if (Model.Codigo_Interno_Produccion == 0)
                            {
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-3 form-medio">
                                        @Html.LabelFor(model => model.Lote, "Lote:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-9 form-medio">
                                        @Html.EditorFor(model => model.Lote, new { htmlAttributes = new { @class = "form-control" } })
                                        
                                    </div>
                                </div>
                                <div class="col-md-12 form-medio">
                                    @Html.ValidationMessageFor(model => model.Lote)
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 form-medio">
                                    <div class="col-md-3 form-medio">
                                        @Html.LabelFor(model => model.Lote, "Lote:", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-9 form-medio">
                                        @Html.EditorFor(model => model.Lote, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @id = "LoteEditar" } })
                                        @Html.EditorFor(model => model.Lote, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                        @Html.ValidationMessageFor(model => model.Lote)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12 form-medio">
                        <div class="col-md-5 form-medio">
                            <div class="col-md-2 form-medio">
                                @Html.Label("Producto:", htmlAttributes: new { @class = "control-label" })
                            </div>

                            @{
                                if (Model.Codigo_Interno_Produccion != 0)
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="Codigo_Producto" id="Codigo_Producto" style="text-align:right" value="@Model.Formulas.Codigo_Producto" />
                                            <span class="input-group-addon"><a href="#" id="btn-producto" data-toggle="modal" data-target="#modalFormulas"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="producto-descripcion">
                                            @{
                                                if (Model.Formulas.Productos != null)
                                                {
                                                    <text>
                                                         @Model.Formulas.Productos.Descripcion
                                                    </text>
                                                }
                                            }
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 form-medio">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="Codigo_Producto" id="Codigo_Producto" style="text-align:right" />
                                            <span class="input-group-addon"><a href="#" id="btn-producto" data-toggle="modal" data-target="#modalFormulas"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 producto">
                                        <p style="text-transform:capitalize" id="producto-descripcion">

                                        </p>
                                    </div>
                                }

                            }

                        </div>
                        <div class="col-md-4 form-medio" style="justify-content:flex-end">

                            @Html.LabelFor(model => model.Codigo_Quesero, "Responsable:", new { @class = "control-label" })

                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.Codigo_Quesero, new SelectList(db.Queseros.ToList(), "Codigo_Quesero", "Nombre"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize" })
                                @Html.ValidationMessageFor(model => model.Codigo_Quesero)
                            </div>
                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="col-md-3 form-medio">
                                @Html.LabelFor(model => model.Codigo_Estado, "Estado:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-9 form-medio">
                                @Html.DropDownListFor(model => model.Codigo_Estado, new SelectList(db.Estados.OrderBy(e => e.Descripcion).ToList(), "Codigo_Estado", "Descripcion"), "Seleccione", new { @class = "form-control", @style = "text-transform: capitalize" })
                                @Html.ValidationMessageFor(model => model.Codigo_Estado)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!--TINA / LITROS PROCESADOS / SILOS -->

            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Litros en Tina</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">

                        <div class="col-md-1 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Codigo_Tina, "Tina:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Codigo_Tina, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 form-medio">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.Litros_Tina, "Litros Leche:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Litros_Tina, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Litros_Tina)
                            </div>
                        </div>

                        <div class="col-md-1 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Codigo_Silo_1, "Silo:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Codigo_Silo_1, new { htmlAttributes = new { @class = "form-control", @id = "tb-silo1" } })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Litros_Silo_1, "Litros Silo:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.Litros_Silo_1, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <!--GR SILO 1-->

                        <div class="col-md-1 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Grasa_Silo_1, "% Gr:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Grasa_Silo_1, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                        <!--PR SILO 1-->

                        <div class="col-md-1 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Proteina_Silo_1, "% Pr:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Proteina_Silo_1, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1 form-medio">
                            <div class="col-md-4 form-medio">
                                @Html.LabelFor(model => model.Codigo_Silo_2, "Silo:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-7" style="padding-right:0px !important">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Codigo_Silo_2, new { htmlAttributes = new { @class = "form-control", @id = "tb-silo2" } })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Litros_Silo_2, "Litros Silo:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                <fieldset disabled>
                                    @Html.EditorFor(model => model.Litros_Silo_2, new { htmlAttributes = new { @class = "form-control", @id = "silo2" } })
                                </fieldset>
                                <div style="display:none">
                                    @Html.EditorFor(model => model.Litros_Silo_2, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                        <!--GR SILO 2-->

                        <div class="col-md-1 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Grasa_Silo_2, "% Gr:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Grasa_Silo_2, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                        <!--PR SILO 2-->

                        <div class="col-md-1 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Proteina_Silo_2, "% Pr:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Proteina_Silo_2, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!--GRASA / PROTEINA / FACTOR / GRASA SUERO-->

            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Calidad Tina</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">
                        <div class="col-md-2 form-medio">

                            <div class="col-md-4 form-medio">
                                @Html.LabelFor(model => model.Grasa, "Grasa:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Grasa, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Grasa)
                            </div>
              
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="form-medio">
                                <div class="col-md-4 form-medio">
                                    @Html.LabelFor(model => model.Proteina, "Proteina:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Proteina, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                    @Html.ValidationMessageFor(model => model.Proteina)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="form-medio">
                                <div class="col-md-4 form-medio">
                                    @Html.LabelFor(model => model.Factor, "Factor:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Factor, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                    @Html.ValidationMessageFor(model => model.Factor)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Grasa_Suero, "Grasa Suero:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @Html.EditorFor(model => model.Grasa_Suero, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                    @Html.ValidationMessageFor(model => model.Grasa_Suero)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="form-medio">
                                <div class="col-md-4 form-medio">
                                    @Html.LabelFor(model => model.Acidez, "Acidez:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-5 form-medio">
                                    @Html.EditorFor(model => model.Acidez, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                    @Html.ValidationMessageFor(model => model.Acidez)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Concentrado, "Concentrado:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.CheckBox("Concentrado", Model.Concentrado.HasValue ? Model.Concentrado : false)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!--HORA AGREGADOS / TIEMPO COAGULACION / TIEMPO LIRADO / TIEMPO COCCION / TEMPERATURA COCCION -->

            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Trabajo en Tina</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">

                        <div class="col-md-2 form-medio">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.HoraAgregados, "Hora Agregados:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.HoraAgregados, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HoraAgregados)
                            </div>
                        </div>

                        <div class="col-md-2 form-medio">
                            <div class="col-md-8 form-medio">
                                @Html.LabelFor(model => model.TiempoCoagulacion, "Tiempo Coagulación:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.TiempoCoagulacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TiempoCoagulacion)
                            </div>
                        </div>

                        <div class="col-md-2 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.TiempoLirado, "Tiempo Lirado:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-3 form-medio">
                                @Html.EditorFor(model => model.TiempoLirado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TiempoLirado)
                            </div>
                        </div>

                        <div class="col-md-2 form-medio">
                            <div class="col-md-7 form-medio">
                                @Html.LabelFor(model => model.TiempoCoccion, "Tiempo Cocción:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-4 form-medio">
                                @Html.EditorFor(model => model.TiempoCoccion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TiempoCoccion)
                            </div>
                        </div>

                        <div class="col-md-3 form-medio">
                            <div class="col-md-6 form-medio">
                                @Html.LabelFor(model => model.Temperatura_Coccion, "Temperatura Cocción:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-2 form-medio">
                                @Html.EditorFor(model => model.Temperatura_Coccion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Temperatura_Coccion)
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>

            <!--PIEZAS OBTENIDAS / KILOS TEORICOS / KILOS REALES -->

            <fieldset class="scheduler-border caja-contenedora">
                <legend class="scheduler-border">Rinde</legend>
                <div class="control-group">
                    <div class="col-md-12 form-medio">

                        <div class="col-md-3 form-medio flexible2">
                            <div class="col-md-12 form-medio">
                                <div class="col-md-6 form-medio">
                                    @Html.LabelFor(model => model.Piezas_Obtenidas, "Piezas Obtenidas:", new { @class = "control-label" })
                                </div>
                                <div class="col-md-4 form-medio">
                                    @Html.EditorFor(model => model.Piezas_Obtenidas, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-md-12 form-medio">
                                <div class="col-md-12 form-medio">
                                    @Html.ValidationMessageFor(model => model.Piezas_Obtenidas)
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="col-md-5 form-medio">
                                @Html.LabelFor(model => model.Kilos_Teoricos, "Kilos Teóricos:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Kilos_Teoricos, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Kilos_Teoricos)
                            </div>
                        </div>
                        <div class="col-md-3 form-medio">
                            <div class="col-md-4 form-medio">
                                @Html.LabelFor(model => model.Kilos_Reales, "Kilos Reales:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5 form-medio">
                                @Html.EditorFor(model => model.Kilos_Reales, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                                @Html.ValidationMessageFor(model => model.Kilos_Reales)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!--LISTADOS -->

            <div class="col-md-12 caja-contenedora" id="DetallesProduccionesAdd">
                 
                <table id="DetallesTabla" class="display compact" style="width:100%;"></table>
         
            </div>

            <div class="col-md-12 caja-contenedora" id="ProductosAsociados">

                <table id="ProductosAsociadosTabla" class="display compact" style="width:100%;"></table>

            </div>

            <!-- LISTADOS PARA ENVIAR AL CONTROLADOR -->

            <div id="DetallesProduccion" style="display:none"></div>
            <div id="Mov_Prod_Asoc" style="display:none"></div>

            <!-- CONTENEDOR SUBMIT-->

            <div class="col-md-12 flexible">
                <div class="col-md-12 col-sm-12 col-xs-12 contenedor-btns-form">
                    <div class="form-group" style="margin:0px !important">
                        <a onclick="SubmitProduccion('#FormNuevo')" class="AddProduccion btn btn-primary">Confirmar</a>
                        <a class="btn btn-default" href="@Url.Action("Index", "Producciones")">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Acidificación-->
    <div class="modal fade" id="modalAcidificaciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="min-width:700px">
                <div class="modal-content">
                    <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                        <h4 class="modal-title" id="exampleModalLabel">Listado Acidificación</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--TABLA ACIDIFICACIÓN -->
                        <div class="row">
                            <div class="col-md-12">
                                <table id="AcidificacionTabla" class="display compact" style="width:100%"></table>
                            </div>

                            <div style="display:none" id="ListadoAcidifaciones">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ConfirmarAcidificaciones()">Confirmar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
}
    <!-- Modal Formulas-->
    <div class="modal fade" id="modalFormulas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:800px">
            <div class="modal-content">
                <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                    <h4 class="modal-title" id="exampleModalLabel">Listado Formulas</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--TABLA FÒRMULAS -->
                    <div class="row">
                        <div class="col-md-12">
                            <table id="FormulasTabla" class="display compact" style="width:100%"></table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="ConfirmarFormulaProduccion()">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Fábricas-->
    <div class="modal fade" id="modalFabricas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:500px">
            <div class="modal-content" id="ModalFabricas"></div>
        </div>
    </div>

    <!-- Modal Detalles-->
<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:900px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Detalles</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA DETALLES -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="DetallesFormulaTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarAjustes()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{

<script src="~/Scripts/CorrectorDecimales.js"></script>
<script src="~/Scripts/Producciones/AddOrEdit.js"></script>

<script>

    function CargarProductosFormula() {
        dataTableProductosFormula = $("#ProductosAsociadosTabla").DataTable({
            "destroy": true,
            "autoWidth": true,
            data: listadoProductosFormula,
            "columns": [
                {
                    "data": "Codigo_Producto",
                    "title": "Código",
                    "width": "20%"
                },
                {
                    "data": "Descripcion",
                    "title": "Producto",
                    "sClass": "mayusculas-texto"
                },
                {
                    "data": "Litros",
                    "title": "Litros",
                    "width": "20%",
                    render: function (data) {
                        if (parseFloat(data) > 0) {
                            return '<input type="text" style="width:100%; text-align:right" id="kilosEditable" value=' + parseFloat(data).toFixed(2) + ' />';

                        }
                        else {
                            return '<input type="text" style="width:100%; text-align:right" id="kilosEditable"/>'; 
                        }
                    
                    }
                },

            ],
            "language": idiomaEspañol,
            "columnDefs": [
                  { className: "text-right", "targets": [2] },
                  { className: "text-center", "targets": [0] }
            ],
            "order": [[1, "asc"]],
            initComplete: function (data) {
                $('#kilosEditable').numeric();
            }
        })
    }

    var FormulaActual = [];

    var dataTableAcidificacion = [];

    var ListadoAcidifaciones = [];

    $('#HoraAgregados').timepicker();

    let Lote = "@Model.Lote";
    let Codigo_Form = "@Model.Codigo_Formula";

    function SaltosAlPresionarEnter() {
        $("#Codigo_Produccion").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Nro_Planilla').focus();
            }
        });

        $("#Nro_Planilla").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Lote').focus();
            }
        });

        $("#Fecha").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Nro_Planilla').focus();
            }
        });

        $("#Lote").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Codigo_Producto').focus();
            }
        });

        $("#Codigo_Producto").keyup(function (e) {
            if (e.keyCode == 13) {
                if ($('#Lote').val() == "") {
                    notif({
                        msg: "Por favor ingrese un Lote.",
                        type: "warning",
                        position: "center"
                    });

                    return;

                }
                else{
                    $.ajax({
                        type: "POST",
                        url: "/Formulas/GetOne/",
                        data: { Codigo_Formula: -1, Codigo_Producto: $('#Codigo_Producto').val() },
                        success: function (data) {
                            if (data.success) {

                                FormulaActual = [];
                                FormulaActual = data.data[0];

                                if (FormulaActual != null) {
                                    $("#producto-descripcion").html(FormulaActual.Producto);

                                    if(FormulaActual.Factor != null){
                                        $('#Factor').val(parseFloat(FormulaActual.Factor).toFixed(2));
                                    }

                                    /*CARGA LISTADO PRODUCTOS ASOCIADOS A LA FÓRMULA*/

                                    ObtenerProductosFormula(FormulaActual.Codigo_Formula, "");

                                    $('#Codigo_Quesero').focus();
                                }
                                else{
                                    notif({
                                        msg: "Error, no existe registro con el Código ingresado.",
                                        type: "error",
                                        position: "center"
                                    });
                                }


                            }
                        }
                    });
                }

            }
        });

        $("#Codigo_Fabrica").keyup(function (e) {
            if (e.keyCode == 13) {
                $.ajax({
                    type: "POST",
                    url: "/Fabricas/GetData/",
                    data: { Codigo_Fabrica: $('#Codigo_Fabrica').val() },
                    success: function (data) {
                        if (data.success) {

                            var Fabrica = data.data[0];

                            if (Fabrica != null) {
                                $("#fabrica-descripcion").html(Fabrica.Descripcion);
                                $('#Fecha').focus();

                            }

                            $.ajax({
                                type: "GET",
                                url: "/Producciones/GetUltimo/",
                                data: { Codigo_Fabrica: Fabrica.Codigo_Fabrica },
                                success: function (data) {
                                    if (data.success) {
                                        $('#Nro_Planilla').val(data.data[0]);
                                    }
                                    else {
                                        notif({
                                            msg: data.message,
                                            type: "error",
                                            position: "center"
                                        });
                                    }
                                }

                            });
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });

                            $('#Codigo_Fabrica').focus();

                        }
                    }

                });
            }
        });

        $("#Litros_Tina").keyup(function (e) {
            if (e.keyCode == 13) {

                if (FormulaActual.Kilos_Teoricos != null && FormulaActual.Kilos_Teoricos > 0 && FormulaActual.Litros_Tina != null && FormulaActual.Litros_Tina > 0) {
                    $('#Kilos_Teoricos').val((parseFloat((parseFloat($('#Litros_Tina').val()) * parseFloat(FormulaActual.Kilos_Teoricos)) / parseFloat(FormulaActual.Litros_Tina)).toFixed(2)).toString().replace(".", ","));
                }

                $('#tb-silo1').focus();
            }
        });

        $("#Piezas_Obtenidas").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Kilos_Teoricos').focus();
            }
        });

        $("#Codigo_Estado").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Codigo_Tina').focus();
            }
        });

        $("#Codigo_Tina").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Litros_Tina').focus();
            }
        });

        $("#tb-silo1").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Litros_Silo_1').focus();
            }
        });

        $("#Grasa_Silo_1").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Proteina_Silo_1').focus();
            }
        });

        $("#Proteina_Silo_1").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#tb-silo2').focus();
            }
        });

        $("#tb-silo2").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Grasa_Silo_2').focus();
            }
        });

        $("#silo2").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Grasa_Silo_2').focus();
            }
        });

        $("#Grasa_Silo_2").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Proteina_Silo_2').focus();
            }
        });

        $("#Proteina_Silo_2").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Grasa').focus();
            }
        });

        $("#Kilos_Teoricos").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Kilos_Reales').focus();
            }
        });

        $("#Kilos_Reales").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Grasa').focus();
            }
        });

        $("#Grasa").keyup(function (e) {
            if (e.keyCode == 13) {

                $('#Proteina').focus();
            }
        });

        $("#Proteina").keyup(function (e) {
            if (e.keyCode == 13) {

                $('#Factor').focus();
            }
        });

        $("#Factor").keyup(function (e) {
            if (e.keyCode == 13) {

                var Grasa = parseFloat($('#Grasa').val());
                var Proteina = parseFloat($('#Proteina').val());
                var Factor = parseFloat($("#Factor").val());
                var Litros_Tina = parseFloat($("#Litros_Tina").val());

                if (Grasa > 0 && Proteina > 0 && Factor > 0 && Litros_Tina > 0) {
                    var Total = parseFloat((((Grasa + Proteina) * Factor) * Litros_Tina) / 100).toFixed(2);

                    $('#Kilos_Teoricos').val(Total.toString().replace(".", ","));
                }

                $('#Grasa_Suero').focus();
            }
        });

        $("#Codigo_Quesero").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Codigo_Estado').focus();
            }
        });

        $("#Codigo_Estado").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Codigo_Tina').focus();
            }
        });

        $("#Grasa_Suero").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Acidez').focus();
            }
        });

        $("#Acidez").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Concentrado').focus();
            }
        });

        $("#Concentrado").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#HoraAgregados').focus();
            }
        });

        $("#HoraAgregados").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#TiempoCoagulacion').focus();
            }
        });

        $("#TiempoCoagulacion").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#TiempoLirado').focus();
            }
        });

        $("#TiempoLirado").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#TiempoCoccion').focus();
            }
        });

        $("#TiempoCoccion").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Temperatura_Coccion').focus();
            }
        });

        $("#Temperatura_Coccion").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Piezas_Obtenidas').focus();
            }
        });


        $("#tb-silo1").keyup(function (e) {
            if (e.keyCode == 13) {
                $.ajax({
                    type: "POST",
                    url: "/Silos/GetOne/",
                    data: { Codigo_Silo: $('#tb-silo1').val() },
                    success: function (data) {
                        if (data.success) {

                            var Silo = data.data[0];

                            if (Silo != null) {
                                $("#silo1-descripcion").html(Silo.Descripcion);
                                $('#Litros_Silo_1').focus();
                            }
                            else {
                                notif({
                                    msg: "Error, no existe registro con el Código ingresado.",
                                    type: "error",
                                    position: "center"
                                });

                                $("#tb-silo1").focus();
                            }

                        }
                    }
                });
            }
        });

        $("#Litros_Silo_1").keyup(function (e) {
            if (e.keyCode == 13) {
                $('#Grasa_Silo_1').focus();

                var Litros_Totales = parseFloat($('#Litros_Tina').val());
                var Litros_Restantes = Litros_Totales - parseFloat($('#Litros_Silo_1').val());

                if ($('#Litros_Tina').val() == "") {

                    notif({
                        msg: "Por favor, ingrese Litros Procesados.",
                        type: "error",
                        position: "center"
                    });

                    $('#Litros_Tina').focus();

                    return;
                }

                if (parseFloat($('#Litros_Silo_1').val()) > Litros_Totales) {

                    notif({
                        msg: "Error, no puede ingresar un valor mayor a los Litros Procesados.",
                        type: "error",
                        position: "center"
                    });

                    $('#Grasa_Silo_1').focus();

                    return;
                }


                if (parseFloat($('#Litros_Silo_1').val()) < 0) {

                    notif({
                        msg: "Error, no puede ingresar un valor menor a 0.",
                        type: "error",
                        position: "center"
                    });

                    $('#Grasa_Silo_1').focus();

                    return;
                }

                if (Litros_Totales >= 0 && Litros_Restantes >= 0) {

                    $('#silo2').val(Litros_Restantes);
                    $('#Litros_Silo_2').val(Litros_Restantes);
                }

            }
        });

        $("#tb-silo2").keyup(function (e) {
            if (e.keyCode == 13) {
                $.ajax({
                    type: "POST",
                    url: "/Silos/GetOne/",
                    data: { Codigo_Silo: $('#tb-silo2').val() },
                    success: function (data) {
                        var Silo = data.data[0];

                        if (Silo != null) {
                            $("#silo2-descripcion").html(Silo.Descripcion);
                            $('#Litros_Silo_2').focus();
                        }
                        else {
                            notif({
                                msg: "Error, no existe registro con el Código ingresado.",
                                type: "success",
                                position: "center"
                            });

                            $("#tb-silo2").focus();
                        }
                    }
                });
            }
        });

        $("#Litros_Silo_2").keyup(function (e) {
            if (e.keyCode == 13) {

                var Litros_Totales = parseFloat($('#Litros_Tina').val());
                var Litros_Restantes = Litros_Totales - parseFloat($('#Litros_Silo_2').val());

                if ((parseFloat($('#Litros_Silo_1').val()) + parseFloat($('#Litros_Silo_2').val())) > Litros_Totales) {

                    notif({
                        msg: "Error, la suma de los litros de ambos Silos supera a los Litros Procesados.",
                        type: "error",
                        position: "center"
                    });

                    return;
                }

                if ((parseFloat($('#Litros_Silo_1').val()) + parseFloat($('#Litros_Silo_2').val())) < Litros_Totales) {

                    notif({
                        msg: "Error, la suma de los litros de ambos Silos es menor a los Litros Procesados.",
                        type: "error",
                        position: "center"
                    });

                    return;

                }

                $('#Litros_Silo_1').val(Litros_Restantes);

                $('.resultados').focus();
            }
        });
    }

    /* LLAMA AL METODO POST DE ADDOREDIT DE FORMULAS*/

    function SubmitProduccion(form) {

        var ProductoActual = 0;

        $('#ProductosAsociadosTabla').find('tr').find('td').each(function () {
              if ($(this).index() == 0) {

                  ProductoActual = $(this).html();

                  for (var i in listadoProductosFormula) {

                      if (listadoProductosFormula[i].Codigo_Producto == ProductoActual) {

                          $(this).parent().find('td').find('#kilosEditable').each(function () {

                              if ($(this).val() != "" || $(this).val() > 0) {
                                  listadoProductosFormula[i].Litros = parseFloat($(this).val());
                              }
                          });
                      }
                  }
              }
          }
        )

        for (var r in listadoProductosFormula) {

            $('#Mov_Prod_Asoc').append('<input type="text" name="Mov_Prod_Asoc[' + r + '].Codigo_Producto" value="' + listadoProductosFormula[r].Codigo_Producto + '"/>' +
                '<input type="text" name="Mov_Prod_Asoc[' + r + '].Litros" value="' + parseFloat(listadoProductosFormula[r].Litros).toString().replace(".", ",") + '"/>');
        }

        for (var i in listadoDetalles) {

            $('#DetallesProduccion').append('<input type="text" name="Detalle_Produccion[' + i + '].Codigo_Insumo" value="' + listadoDetalles[i].Codigo_Insumo + '"/>' +
                '<input type="text" name="Detalle_Produccion[' + i + '].Precio_Unitario" value="' + parseFloat(listadoDetalles[i].Precio_Unitario).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Detalle_Produccion[' + i + '].Cantidad" value="' + parseFloat(listadoDetalles[i].Cantidad).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Detalle_Produccion[' + i + '].Ajuste" value="' + parseFloat(listadoDetalles[i].Ajuste).toString().replace(".", ",") + '"/>');
        }

        for (var i in ListadoAcidifaciones) {

            $('#ListadoAcidifaciones').append('<input type="text" name="Acidificacion[' + i + '].Fecha" value="' + ListadoAcidifaciones[i].Fecha + '"/>' +
                '<input type="text" name="Acidificacion[' + i + '].Hora" value="' + ListadoAcidifaciones[i].Hora + '"/>' +
                '<input type="text" name="Acidificacion[' + i + '].Valor_Ph" value="' + parseFloat(ListadoAcidifaciones[i].Valor_Acidez).toString().replace(".", ",") + '"/>' +
                '<input type="text" name="Acidificacion[' + i + '].Valor_Acidez" value="' + parseFloat(ListadoAcidifaciones[i].Valor_Acidez).toString().replace(".", ",") + '"/>');
        }

        //VALIDADOR DEL FORMULARIO

        $('#Litros_Tina').val($('#Litros_Tina').val().toString().replace(".", ","));
        $('#Piezas_Obtenidas').val($('#Piezas_Obtenidas').val().toString().replace(".", ","));
        $('#Kilos_Teoricos').val($('#Kilos_Teoricos').val().toString().replace(".", ","));
        $('#Kilos_Reales').val($('#Kilos_Reales').val().toString().replace(".", ","));
        $('#Grasa').val($('#Grasa').val().toString().replace(".", ","));
        $('#Proteina').val($('#Proteina').val().toString().replace(".", ","));
        $('#Factor').val($('#Factor').val().toString().replace(".", ","));
        $('#Grasa_Suero').val($('#Grasa_Suero').val().toString().replace(".", ","));
        $('#Litros_Silo_1').val($('#Litros_Silo_1').val().toString().replace(".", ","));
        $('#Litros_Silo_2').val($('#Litros_Silo_2').val().toString().replace(".", ","));
        $('#Nro_Planilla').val($('#Nro_Planilla').val().toString().replace(".", ","));

        $.validator.unobtrusive.parse(form);

        if ($(form).valid()) {

            $('.AddProduccion').attr('disabled', true);

            $.ajax({
                type: "POST",
                url: "/Producciones/AddOrEdit",
                data: $(form).serialize(),
                success: function (data) {
                    if (!data.success) {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                    else{

                        window.location.href = "/Producciones/Index?resultado=" + data.resultado;
                    }
                },
                complete: function(data){
                    $('.AddProduccion').attr('disabled', false);
                }
            });
        }

        return false;
    }

    function ConfirmarFabrica(){
        $('#FabricasTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 0) {
                $("#Codigo_Fabrica").val($(this).html());
            }
        });

        $.ajax({
            type: "GET",
            url: "/Fabricas/GetData/",
            data: { Codigo_Fabrica: $('#Codigo_Fabrica').val() },
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    var Fabrica = data.data[0];

                    $("#Codigo_Fabrica").val(Fabrica.Codigo_Fabrica);
                    $("#fabrica-descripcion").html(Fabrica.Descripcion);

                    @{
                        OpcionesTrabajo configuraciones = new OpcionesTrabajo();
                        configuraciones = db.OpcionesTrabajo.FirstOrDefault();

                        if(configuraciones != null)
                        {
                            if(configuraciones.NroPlanillaDigitable == false)
                            {
                                <text>
                                    $.ajax({
                                        type: "GET",
                                        url: "/Producciones/GetUltimo/",
                                        data: { Codigo_Fabrica: Fabrica.Codigo_Fabrica },
                                        success: function (data) {
                                            if (data.success) {
                                                if(data.data != null && $.isNumeric(data.data)){
                                                    try{
                                                        $('#Nro_Planilla').val(parseInt(data.data) + 1);
                                                    }
                                                    catch(err){

                                                    }
                                                }
                                            }
                                        }
                                    });
                                </text>
                            }
                        }
                    }
                }

            }
        });

        $('#modalFabricas').modal('hide');

        CargarFabricas();

        $("#modalFabricas").on('hidden.bs.modal', function () {
            $('#Fecha').focus();
        });
    }

    function convertDate(inputFormat) {
        function pad(s) { return (s < 10) ? '0' + s : s; }
        var d = new Date(inputFormat);
        return [pad(d.getDate()), pad(d.getMonth()+1), d.getFullYear()].join('/');
    }

    function CargarAcidificacion(){
        $.ajax({
            type: "GET",
            url: "/Acidificaciones/GetData/",
            data: { Lote: Lote },
            dataType: "json",
            success: function (data) {
                if (data.success) {

                    for (var i in data.data) {
                        ListadoAcidifaciones.push(data.data[i]);
                    }

                    dataTableAcidificacion = $("#AcidificacionTabla").DataTable({
                        "destroy": true,
                        "responsive": true,
                        "iDisplayLength": 50,
                        "autoWidth": true,
                        "bInfo": false,
                        "lengthChange": false,
                        data : ListadoAcidifaciones,
                        "columns": [
                            {
                                "data": "Fecha",
                                "title": "Fecha",
                                render : function(data){
                                    if(data != null){
                                        return moment(data).format("DD/MM/YYYY");
                                    }
                                    else{
                                        return "";
                                    }
                                }
                            },
                            {
                                "data": "Hora",
                                "title": "Hora",
                                render : function(data){
                                    if(data != null){
                                        var Hora = data;
                                        Hora = Hora.substring(0, 5);

                                        return Hora.toString();
                                    }
                                    else{
                                        return "";
                                    }
                                }
                            },
                            {
                                "data": "Valor_Ph",
                                "title": "Valor PH",
                                render : function(data){
                                    if(data != null && data!= ""){
                                        return parseFloat(data).toFixed(1);
                                    }
                                    else{
                                        return "";
                                    }
                                }
                            },
                            {
                                "data": "Valor_Acidez",
                                "title": "Valor Acidez",
                                render : function(data){
                                    if(data != null && data!= ""){
                                        return parseFloat(data).toFixed(1);
                                    }
                                    else{
                                        return "";
                                    }
                                }
                            },
                            {
                                "data": "Codigo_Interno_Acidificacion",
                                "title": "Herramientas",
                                "width": "10%",
                                "render": function (data) {
                                    return " <a class='btn btn-default btn-xs' onclick=EdifarAcidificacionModal('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                             "<a class='btn btn-danger btn-xs'onclick=DeleteAcidificacionModal('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                                }
                            }

                        ],
                        "language": idiomaEspañol,
                        "columnDefs": [
                                { className: "text-center", "targets": [0, 1, 4] },
                                { className: "text-right", "targets": [2, 3] },
                        ],
                        "select": 'single',
                        dom: 'Bfrtip',
                        buttons: [
                           {
                               text: '<span class="glyphicon glyphicon-plus">',
                               className: 'nuevo',
                               action: function () {
                                   AgregarAcidificacion();
                               }
                           }
                        ],
                        "order": [[1, "asc"]]

                    });

                };
            }
        });


    }

    function AgregarAcidificacion() {

        var filaAgregada = false;

        $('#AcidificacionTabla').find('#insert').each(function () {
            filaAgregada = true;
        });

        if (filaAgregada == false) {
            /*AGREGA UNA FILA CON LOS SIGUIENTES CAMPOS EN EL DATATABLE*/

            var html = '<tr>';
            html += '<td><input id="data1" placeholder="Fecha" type="date" style="width:100%"></input></td>';
            html += '<td><input id="data2" placeholder="Hora" type="time" style="width:100%"></input></td>';
            html += '<td><input id="data3" placeholder="PH" style="width:100%; text-align:right"></input></td>';
            html += '<td><input id="data4" placeholder="Acidez" style="width:100%; text-align:right"></input></td>';
            html += '<td class="text-center">' +
                '<button type="button" name="insert" onclick="InsertarAcidificacion()" id="insert" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>' +
                '<button type="button" name="cancel" id="cancel" onclick="CargarAcidificacion()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>';
            html += '</tr>';

            $('#AcidificacionTabla tbody').prepend(html);

            //$('#data1').datepicker();
            $('#data2').timepicker();

            $('#data3').numeric();
            $('#data4').numeric();

        }
        else {
            $('#data1').focus();
        }

    };

    function DeleteAcidificacionModal(Codigo){
        for(var i in ListadoAcidifaciones){
            if (ListadoAcidifaciones[i].Codigo_Interno_Acidificacion == Codigo){
                ListadoAcidifaciones.splice(i, 1);
            }
        }

        dataTableAcidificacion.clear();
        dataTableAcidificacion.rows.add(ListadoAcidifaciones);
        dataTableAcidificacion.draw();
    }

    function GetFormula(Codigo) {

        var x = $.ajax({
            type: "GET",
            url: "/Formulas/GetOne/",
            data: { Codigo_Formula: Codigo,
                Codigo_Producto : -1
            },
            dataType: "json",
            success: function (data) {
                if (data.success) {

                    FormulaActual = data.data[0];

                    $('#Codigo_Formula').val(FormulaActual.Codigo_Producto);

                    return FormulaActual;
                }
                else {
                    $.notify(data.mensaje, {
                        globalPosition: "top center",
                        className: "error"
                    })
                }

            }
        });
    }

    function InsertarAcidificacion(){

        var Hora = $('#data2').val().toString();
        Hora = Hora.substring(0, 5);

        var UltimoCodigo = 0;

        for (i = 0; i < ListadoAcidifaciones.length; i++) {
            if(ListadoAcidifaciones[i].Codigo_Interno_Acidificacion > UltimoCodigo){
                UltimoCodigo = ListadoAcidifaciones[i].Codigo_Interno_Acidificacion;
            }
        }

        ListadoAcidifaciones.push({
            Codigo_Interno_Acidificacion : UltimoCodigo + 1,
            Fecha: $('#data1').val() == "" ? null : $('#data1').val(),
            Hora: $('#data2').val() == "" ? null : Hora,
            Valor_Ph: $('#data3').val() == "" ? null : $('#data3').val(),
            Valor_Acidez: $('#data4').val() == "" ? null : $('#data4').val(),
        })

        dataTableAcidificacion.clear();
        dataTableAcidificacion.rows.add(ListadoAcidifaciones);
        dataTableAcidificacion.draw();

        AgregarAcidificacion();
    }

    function ConfirmarFormulaProduccion() {

        $('#FormulasTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 0) {

                var Codigo_Producto = $(this).html();

                $.ajax({
                    type: "GET",
                    url: "/Formulas/GetOne/",
                    data: { Codigo_Formula: -1, Codigo_Producto: Codigo_Producto },
                    success: function (data) {
                        if (data.success) {

                            FormulaActual = [];
                            FormulaActual = data.data[0];

                            $("#Codigo_Producto").val(Codigo_Producto);
                            $("#producto-descripcion").html(FormulaActual.Producto);
                            $('#Factor').val(FormulaActual.Factor);
                            $('#Codigo_Quesero').focus();

                            /*CARGA LISTADO PRODUCTOS ASOCIADOS A LA FÓRMULA*/

                            ObtenerProductosFormula(FormulaActual.Codigo_Formula, "");

                        }
                    }
                });
            }
        })

        $('#modalFormulas').modal('hide');

        $('#modalFormulas').on('hidden.bs.modal', function (e) {
            CargarFormulas();
            $('#Codigo_Quesero').focus();
        });
    
    }

    function TraerFormula(Codigo){
        $.ajax({
            type: "POST",
            url: "/Formulas/GetOne/",
            data: { Codigo_Formula: -1, 
                Codigo_Producto: Codigo },
            success: function (data) {
                if (data.success) {

                    FormulaActual = [];
                    FormulaActual = data.data[0];

                    if (FormulaActual == null) {
                        notif({
                            msg: "Error, no existe registro con el Código ingresado.",
                            type: "error",
                            position: "center"
                        });
                    }


                }
            }
        });
    }

    $(document).ready(function () {

        /*EVITA ENVIO DEL FORMULARIO POR PRESIONAR ENTER*/

        $(document).on("keypress", 'form', function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                e.preventDefault();
                return false;
            }
        });
      
        if(@Model.Codigo_Interno_Produccion == 0){

            $('#Piezas_Obtenidas').val("");
            $('#Lote').val("");
            $('#Lote').focus();

            CargarDetalles();
        }
        else{
            $('#LoteEditar').val($('#Lote').val());
            $('#NroPlanillaEditar').val($('#Nro_Planilla').val())
            TraerFormula($('#Codigo_Producto').val());
            ObtenerProductosFormula("@Model.Codigo_Formula", $('#Lote').val());
            CargarDetallesProduccion();
        }

        CargarFormulas();
        CargarAcidificacion();
        SaltosAlPresionarEnter();

        $("#Fecha").datepicker();

        $('#FormulasTabla tbody').on('click', 'tr.selected', function () {
            ConfirmarFormulaProduccion();
        });

        $('#FabricasTabla tbody').on('click', 'tr.selected', function () {

            ConfirmarFabrica();

        });

        $('#modalSilos').on('hidden.bs.modal', function (e) {
            CargarSilos();
        });

        $('#modalFormulas').on('hidden.bs.modal', function (e) {
            CargarFormulas();
        });

        $('#modalDetalles').on('hidden.bs.modal', function (e) {
            CargarDetallesEnModal();
        });

        $('#btn-confirmar-detalles').click(function () {
            $('#modalDetalles').modal('hide');

            $('#modalDetalles').on('hidden.bs.modal', function (e) {
                CargarDetalles();
            });
        });

    });
</script>

}
