﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Producciones : Listado";
    Entities db = new Entities();
}
<h2>Producciones</h2>
<table id="ProduccionesTabla" class="display compact" style="width:100%"></table>
<div id="dropdownEstados" style="display:none; text-transform:capitalize">
    @Html.DropDownList("ListadoEstados", new SelectList(db.Estados.OrderBy(e => e.Descripcion).ToList(), "Codigo_Estado", "Descripcion"), new { @class = "form-control", @style = "text-transform: capitalize"})
</div>
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Delete()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Cambio de Estado-->
<div class="modal fade" id="modalEstados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:450px;" role="document">
        <div class="modal-content" id="ModalCambioEstado"></div>
    </div>
</div>
<!-- Modal Envasado-->
<div class="modal fade" id="modalEnvasado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:70%">
        <div class="modal-content" id="ModalEnvasado">

        </div>
    </div>
</div>
<!-- Modal Cámaras -->
<div class="modal fade" id="modalCamaras" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Listado Cámaras</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--TABLA CAMARAS -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="CamarasTabla" class="display compact" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarSeleccionCamara()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<input class="codigo" hidden />
@section scripts{
    <script src="~/Scripts/Producciones/Index.js"></script>
    <script>
        var ListadoDetalles = [];
        var Lote = "";
        function CambiarEstado() {
            var bandera = false;
            $('#ProduccionesTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {
                    Lote = $(this).html();
                    bandera = true;
                    $.ajax({
                        type: "GET",
                        url: "/CambiosEstado/AddOrEdit/",
                        data: { Lote: $(this).html() },
                        success: function (data) {
                            $('#ModalCambioEstado').html(data);
                            $('#modalEstados').modal('toggle');
                        }
                    });
                }
            });
            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });
                return;
            }
        }
        function CargarProduccionesPorEstado(Codigo) {
            var ListadoFiltrado = [];
            for (var i in listadoProducciones) {
                if (listadoProducciones[i].Codigo_Estado == Codigo)
                    ListadoFiltrado.push(listadoProducciones[i]);
            }
            if (Codigo == 0)
                ListadoFiltrado = listadoProducciones;
            dataTable.clear();
            dataTable.rows.add(ListadoFiltrado);
            dataTable.draw();
        }
        function CargarProducciones() {
            $.ajax({
                type: "GET",
                url: "/Producciones/GetData/",
                data: { Lote: "", Codigo_Estado: -1 },
                dataType: "json",
                success: function (data) {
                    listadoProducciones = [];
                    for (var i in data.data) {
                        listadoProducciones.push(data.data[i]);
                    }
                    dataTable = $("#ProduccionesTabla").DataTable({
                        "destroy": true,
                        "autoWidth": true,
                        "responsive": true,
                        data: listadoProducciones,
                        "columns": [
                            {
                                "data": "Lote",
                                "title": "Lote",
                                "width": "15%"
                            },
                            {
                                "data": "Nro_Planilla",
                                "title": "Nro Planilla"
                            },
                            {
                                "data": "Fecha",
                                "title": "Fecha",
                                "render": function (data) {
                                    if (data != null)
                                        return moment(data).format('DD/MM/YYYY');
                                    else
                                        return "";                                    
                                }
                            },
                            {
                                "data": "Producto",
                                "title": "Producto",
                                "sClass": "mayusculas-texto",
                            },
                            {
                                "data": "Piezas_Obtenidas",
                                "title": "U. Obtenidas",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    else
                                        return data;
                                }
                            },
                            {
                                "data": "Kilos_Teoricos",
                                "title": "Kilos",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    else
                                        return parseFloat(data).toFixed(4);
                                }
                            },
                            {
                                "data": "Kilos_Reales",
                                "title": "Kilos Reales",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    else
                                        return parseFloat(data).toFixed(4);
                                }
                            },
                            {
                                "data": "Estado",
                                "title": "Estado",
                                "sClass": "mayusculas-texto",
                            },
                            {
                                "data": "Lote",
                                "title": "Herramientas",
                                width: "10%",
                                "render": function (data) {
                                    return "<a class='btn btn-default btn-sm' href='/Producciones/AddOrEdit?Lote=" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                            "<a class='btn btn-danger btn-sm' onclick=modificarInput('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                                },
                            }

                        ],
                        "columnDefs": [
                            { className: "text-right", "targets": [1, 4, 5, 6] },
                            { className: "text-center", "targets": [0, 2, 8] }
                        ],
                        "order": [[1, 'asc']],
                        "language": idiomaEspañol,
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                text: '<span class="glyphicon glyphicon-plus"></span>',
                                className: 'nuevo',
                                action: function () {
                                    window.location.href = "/Producciones/AddOrEdit/";
                                }
                            },
                            {
                                text: '<span class="glyphicon glyphicon-arrow-right"></span> Cambiar estado',
                                className: 'cambiarEstado',
                                action: function () {
                                    CambiarEstado();
                                }
                            },
                            {
                                text: '<span class="glyphicon glyphicon-arrow-right"></span> Envasar',
                                className: 'envasar',
                                action: function () {
                                    Envasar();
                                }
                            },
                            {
                                text: $('#dropdownEstados').html(),
                                className: 'botonDropdown'
                            },
                        ],
                        initComplete: function () {
                            $('.envasar').prop("disabled", true);
                            $('#ListadoEstados').append(
                                $('<option></option>').val(0).html("Todos")
                            );
                            $("#ListadoEstados").change(function () {
                                CargarProduccionesPorEstado($('option:selected', this).val());
                            });
                            $('#ListadoEstados').val(0);
                            $('div.dataTables_filter input').focus();
                        },
                        select: 'single'
                    });
                }
            });

        }
        function CargarCamaras() {
            dataTable = $("#CamarasTabla").DataTable({
                "destroy": true,
                "autoWidth": true,
                "ajax": {
                    "url": "/Camaras/GetData",
                    "type": "GET",
                    "datatype": "json"
                },

                "columns": [
                    {
                        "data": "Codigo_Camara",
                        "title": "Código"
                    },
                    {
                        "data": "Nombre",
                        "title": "Nombre",
                        "sClass": "mayusculas-texto"
                    },
                    {
                        "data": "Codigo_Camara",
                        "title": "Herramientas",
                        "width": "10%",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-xs' onclick=EditarCamara('" + data + "','" + 'Editar' + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                   "<a class='btn btn-danger btn-xs' onclick=BorrarCamara('" + data + "')><span class='glyphicon glyphicon-trash'></span></a>";
                        },
                    }
                ],
                "language": idiomaEspañol,
                select: 'single',
                "columnDefs": [
                        { className: "text-center", "targets": [0, 2] },
                ],
                initComplete: function () {
                    //SumarTotales();
                },
                dom: 'Bfrtip',
                buttons: [
                   {
                       text: '<span class="glyphicon glyphicon-plus">',
                       className: 'nuevo',
                       action: function () {
                           //$('#modalProductoInsumo').modal('toggle');
                       }
                   }
                ],
                "order": [[1, "asc"]]
            });
        }
        function VerificarFilaEnvasado(Lote) {
            var x = $.ajax({
                type: "GET",
                url: "/Producciones/GetData/",
                data: {
                    Lote: Lote,
                    Codigo_Estado: -1
                },
                success: function (data) {
                    if (data.success) {
                        ProduccionActual = [];
                        ProduccionActual = data.data[0];
                        if (ProduccionActual.Estado.toLowerCase() != "liberado x calidad") {
                            $('.envasar').prop("disabled", false);
                            $(".envasar").addClass("verde");
                        }
                        else {
                            $('.envasar').prop("disabled", true);
                            $(".envasar").removeClass("verde");
                        }
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        function Envasar() {
            $.ajax({
                    type: "GET",
                    url: "/Envasados/AddOrEdit/",
                    data: { Lote : ProduccionActual.Lote },
                    success: function (data) {
                        $('#ModalEnvasado').html(data);
                        $.ajax({
                            type: "GET",
                            url: "/FormulasEnvasado/GetData/",
                            data: { Codigo_Producto: ProduccionActual.Codigo_Producto },
                            dataType: "json",
                            success: function (data) {
                                if (data.success) {
                                    ListadoDetalles = [];
                                    for (var i in data.data) {
                                        ListadoDetalles.push(data.data[i]);
                                    }
                                    dataTable = $("#FormulasEnvasadoTabla").DataTable({
                                        "bPaginate": false,
                                        "bFilter": false,
                                        "destroy": true,
                                        "responsive": true,
                                        "autoWidth": true,
                                        "bInfo": false,
                                        "lengthChange": false,
                                        data: ListadoDetalles,
                                        "columns": [
                                            {
                                                "data": "ProductoVentas",
                                                "title": "Producto Ventas",
                                                "sClass": "mayusculas-texto"
                                            },
                                            {
                                                "data": "Obtenidas_Por_Envasada",
                                                "title": "Piezas Obtenidas por Envasado",
                                                render: function (data) {
                                                    if (data == null)
                                                        return parseFloat(1).toFixed(2);
                                                    else
                                                        return parseFloat(data).toFixed(2);
                                                }
                                            },
                                            {
                                                "data": "Cantidad",
                                                "title": "Piezas Envasadas",
                                                render: function (data) {
                                                    return '<input class="col-md-11 col-md-offset-1 text-box single-line cantidadEditable" style="text-align:right">'
                                                }
                                            },
                                            {
                                                "data": "Kilos",
                                                "title": "Kilos",
                                                width: "15%",
                                                render: function (data) {
                                                    return '<input class="col-md-11 col-md-offset-1 text-box single-line kilosEditable" style="text-align:right">'
                                                }
                                            }
                                        ],
                                        "language": idiomaEspañol,
                                        "columnDefs": [
                                                { className: "text-right", "targets": [1] }
                                        ],
                                        initComplete: function () {
                                            var y = $.ajax({
                                                type: "GET",
                                                url: "/Producciones/ObtenerRestantes/",
                                                data: { Lote: ProduccionActual.Lote },
                                                dataType: "json",
                                                success: function (data) {
                                                    $('#kilos-restantes').html("");
                                                    $('#kilos-restantes').html(data.kilosRestantes);
                                                    $('#Lote').val("");
                                                    $('#Lote').val(ProduccionActual.Lote);
                                                    $('#LoteNuevo').html("");
                                                    $('#LoteNuevo').html(ProduccionActual.Lote);
                                                    $('#piezas-restantes').html("");
                                                    $('#piezas-restantes').html(data.piezasRestantes);
                                                    $('#Descripcion-Producto').html("");
                                                    $('#Descripcion-Producto').html(ProduccionActual.Producto);
                                                    $('#KilosTotales').html("");
                                                    if (ProduccionActual.Kilos_Reales != null)
                                                        $('#KilosTotales').append('<input type="text" class="form-control" name=""  id="Kilos_Reales" value="' + ProduccionActual.Kilos_Reales + '" disabled/>');
                                                    else
                                                        $('#KilosTotales').append('<input type="text" onkeyup="VerificarKilosReales()" class="form-control" name="Kilos_Reales" id="Kilos_Reales" />');
                                                    $('#Kilos_Reales').numeric();
                                                    $('#Piezas-Obtenidas').html("");
                                                    $('#Piezas-Obtenidas').html(ProduccionActual.Piezas_Obtenidas);
                                                    $('#modalEnvasado').modal('toggle');
                                                }
                                            });
                                        }
                                    });
                                }
                                else {
                                    notif({
                                        msg: data.message,
                                        type: "error",
                                        position: "center"
                                    });
                                }
                            }
                        });
                    }
                });
        }
        function ConfirmarSeleccionCamara() {
            $('#CamarasTabla').find('tr.selected').find('td').each(
                function () {
                    if ($(this).index() == 0)
                        $("#Codigo_Camara").val($(this).html());
                }
            )
            $('#modalCamaras').modal('hide');
            CargarCamaras();
            $('#modalCamaras').on('hidden.bs.modal', function (e) {
                $('#FechaCambioEstado').focus();
            });
        }
        function MostrarMensaje() {
            notif({
                msg: "@ViewBag.Resultado",
                type: "success",
                position: "center"
            });
        }
        $(document).ready(function () {
            CargarProducciones();
            CargarCamaras();
            if ("@ViewBag.Resultado" != "")
                MostrarMensaje();
            $('#ProduccionesTabla').on('click', 'td', function () {
                var evID = $(this).closest('tr').find('td').each(function () {
                    if ($(this).index() == 0) {
                        VerificarFilaEnvasado($(this).html());
                    }
                });
            });
            $('#CamarasTabla').on('click', 'tr.selected', function () {
                ConfirmarSeleccionCamara();
            });            
            $('#modalFormulasEnvasado').on('hidden.bs.modal', function (e) {
                CargarProducciones();
                $('#kilos-restantes').html("");
                $('#piezas-restantes').html("");
            });
        });
    </script>
}
