﻿@using MVC_Produccion.Models.Utilidades
@model List<InsumoConsumidoProduccion>
@{
    Layout = null;
}

<div class="col-md-12 caja-contenedora" id="DetallesProduccionesAdd">
    <table id="InsumosConsumidos" class="display compact" style="width:100%;"></table>
</div>
<script>
    var detalle = [];
    var StockInsumos = {};
    var jsonObj = @Html.Raw(Json.Encode(Model));
    detalle = jsonObj;
    CargarInsumosConsumidos();
    ObtenerStockLoteInsumos();
    function CargarInsumosConsumidos() {
        $.fn.dataTable.ext.errMode = 'none';

        dataTableInsumosConsumidos = $("#InsumosConsumidos").DataTable({
            "bPaginate": false,
            "bFilter": false,
            "destroy": true,
            "responsive": true,
            "autoWidth": true,
            "bInfo": false,
            "lengthChange": false,
            data: detalle,
            "columns": [
                {
                    orderable: false,
                    title: "Codigo Insumo",
                    data: "CodigoInsumo",
                    width: "120px",
                    render: function (data, type, row, meta) {
                        return "<span id='sp_codigo_insumo'>" + row.CodigoInsumo + "</span>"
                            + '<input  style="display:none;" class="sp_PrecioUnitario form-control" value="' + row.PrecioUnitario + '"></input>';
                    }
                },
                {
                    orderable: false,
                    title: "Insumo",
                    data: "DescripcionInsumo",
                    sClass: "mayusculas-texto tr-insumo",
                    width: "30%"
                },
                {
                    data: "Lote",
                    title: "Lote",
                    render: function (data) {
                        if (!data)
                            data = '';
                        return '<input type="text" onchange="VerificaStockInsumo($(this).parent().parent())" class="lote form-control" value="' + data + '"></input>';
                    },
                    width: "20%",
                    orderable: false,
                },
                {
                    orderable: false,
                    render: function () {
                        return '<a class="btn btn-default btn-sm" onclick="Agregar_Lote_Insumo($(this))" title="Sirve para cargar otro numero de lote para el mismo insumo"><span class="glyphicon glyphicon-plus"></span></a>';
                    },
                    width: "20px",
                },
                {
                    data: "Fecha_Vencimiento",
                    orderable: false,
                    title: "F. Ven.",
                    render: function (data, type, row, meta) {
                        if (!data)
                            data = '';
                        else {
                            let dateString = data.substr(6);
                            let currentTime = new Date(parseInt(dateString));
                            let month = currentTime.getMonth() + 1;
                            let day = currentTime.getDate();
                            let year = currentTime.getFullYear();

                            data = day + "/" + month + "/" + year;
                        }
                        return "<input type='datetime' name='fech_venc" + meta.row + "' class='form-control sp_fecha_ven' value='" + data + "' onkeypress='return SoloNumerosYBarra(event)' minlength='5' maxlength='10' autocomplete='off'></input>";
                    },
                    width: "100px",
                },
                {
                    orderable: false,
                    title: "Unidades",
                    data: "CodigoInsumo",
                    "render": function (data, type, row, meta) {
                        if (row.PrecioPor == 'U') {
                            return "<span id='sp_cantidad'>" + parseFloat(row.Cantidad).toFixed(4) + "</span>";
                                
                        }
                        else {
                            return "<span id='sp_cantidad'></span>";
                        }
                    }
                },
                {
                    orderable: false,
                    title: "Kilos/Litros",
                    data: "CodigoInsumo",
                    sClass: "tr-kilos",
                    "render": function (data, type, row, meta) {
                        if (row.PrecioPor != 'U') {
                            return "<span id='sp_kilos'>" + parseFloat(row.Cantidad).toFixed(4) + "</span>";
                        }
                        else {
                            return "<span id='sp_kilos'></span>";
                        }
                    }
                },
                {
                    orderable: false,
                    title: "Ajuste",
                    data: "Ajuste",
                    sClass: "tr-ajuste",
                    render: function (data, type, row, meta) {
                        let valor = parseFloat(data);
                        if (valor != 0) {
                            return "<span id='sp_ajuste'>" + valor.toFixed(3) + "</span>";
                        }
                        else {
                            return "<span id='sp_ajuste'></span>";
                        }
                    },
                    width: "100px",
                },
                {
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return "<a class='btn btn-default btn-sm' onclick='Ajustar_Detalle_Produccion($(this))' title='Ajustar'><span class='glyphicon glyphicon-pencil'></span></a>";
                    },
                    width: "20px",
                },
                {
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return "<a class='btn btn-danger btn-sm' onclick='Eliminar_Fila_Detalle_Insumo($(this))' title='Eliminar'><span class='glyphicon glyphicon-trash'></span></a>";
                    }
                }
            ],
            "language": idiomaEspañol,
            "columnDefs": [
                { className: "text-right", "targets": [3, 4, 5, 6, 7] }
            ],
            dom: 'Bfrtip',
            buttons: [
            ],
            "order": [[0, "asc"]],
            "initComplete": function (settings, json) {
                $('#InsumosConsumidos .sp_fecha_ven').each(function () {
                    $(".sp_fecha_ven").datepicker();
                });
                //Kilos_en_LitrosTina();
            }
        });

        dataTableInsumosConsumidos.on('error.dt', function (e, settings, techNote, message) {
            console.log('An error has been reported by DataTables: ', message);
        });
    };


    function Agregar_Lote_Insumo(boton) {
        var tr = boton.parent().parent();
        var new_tr = tr.clone();

        new_tr.find('#lote').val('');
        new_tr.find('.sp_fecha_ven').val('');
        new_tr.find('.sp_fecha_ven').attr('name', 'fech_venc' + dataTableInsumosConsumidos.rows()[0].length);
        new_tr.find('.sp_fecha_ven').attr('id', '');
        new_tr.find('#sp_ajuste').html('');
        new_tr.find('#sp_kilos').html('');
        new_tr.find('#sp_cantidad').html('');

        tr.after(new_tr);
        new_tr.find('.sp_fecha_ven').removeClass('hasDatepicker').datepicker();

        $('#InsumosConsumidos .sp_fecha_ven').each(function () {
            $(".sp_fecha_ven").removeClass('hasDatepicker').datepicker();
        });

        new_tr.find('#lote').focus();
    }

    function Ajustar_Detalle_Produccion(boton) {
        let tr = boton.parent().parent();
        let span = tr.find('#sp_ajuste');
        let td = tr.find('#sp_ajuste').parent();
        let ajuste = parseFloat(span.html()).toFixed(3);
        if (isNaN(ajuste))
            ajuste = '';
        td.html('<input id="ajuste_insumo" class="form-control" value="' + ajuste + '" style="text-align:right;"></input>');
        $("#ajuste_insumo").keyup(function (e) {
            if (e.keyCode == 13) {
                Confirmar_Edicion_Ajuste();
                return false;
            }
        });
        $("#ajuste_insumo").focus();
        $("#ajuste_insumo").select();
    }


    function Confirmar_Edicion_Ajuste() {
        if ($("#ajuste_insumo").length == 0)
            return;
        let tr_actualizar = $("#ajuste_insumo").parent().parent();
        let td_actualizar = $("#ajuste_insumo").parent();
        let ajuste = $("#ajuste_insumo").val() != '' ? parseFloat($("#ajuste_insumo").val()).toFixed(3) : '';
        td_actualizar.html("<span id='sp_ajuste'>" + ajuste + "</span>");
        VerificaStockInsumo(tr_actualizar);
    }

    function Eliminar_Fila_Detalle_Insumo(boton) {
        boton.parent().parent().remove();
    }

    function ObtenerStockLoteInsumos() {
        var StockInsumosLocal = {};
        let fabrica = $("#Produccion_Codigo_Fabrica").val();
        let parametros = {
            Codigos: [],
            Fabrica: parseInt(fabrica),
            Lote: ""
        };
        $.each(detalle, function (i, item) {
            parametros.Codigos.push(item.CodigoInsumo);
        });
        if (parametros.Codigos.length > 0)
            $.ajax({
                type: "POST",
                url: "/Insumos/ObtenerCantidadesStock/",
                data: parametros,
                success: function (data) {
                    $.each(data.cantidades, function (i, item) {
                        if (StockInsumosLocal[item.Codigo_Insumo]) {
                            StockInsumosLocal[item.Codigo_Insumo].push({
                                Lote: item.Lote,
                                Cantidad: item.Cantidad,
                                Kilos_Litros: item.Kilos_Litros,
                                Fecha_Vencimiento: item.Fecha_Vencimiento == null? '' : moment(item.Fecha_Vencimiento).format("DD/MM/YYYY")
                            });
                        }
                        else {
                            StockInsumosLocal[item.Codigo_Insumo] = [{
                                Lote: item.Lote,
                                Cantidad: item.Cantidad,
                                Kilos_Litros: item.Kilos_Litros,
                                Fecha_Vencimiento: item.Fecha_Vencimiento == null ? '' : moment(item.Fecha_Vencimiento).format("DD/MM/YYYY")
                            }];
                        }
                    });
                }
            });
        StockInsumos = StockInsumosLocal;
    }
    function VerificaStockInsumo(fila) {
        let codigo_insumo = fila.find('#sp_codigo_insumo').html();
        let ajuste = fila.find("#sp_ajuste").html();
        let cantidad = fila.find("#sp_cantidad").html();
        let kilos = fila.find("#sp_kilos").html();
        if (ajuste) {
            cantidad = ajuste;
            kilos = ajuste;
        }
        let lote = fila.find(".lote").val();
        let mensaje = "Insumo " + codigo_insumo + " sin stock en el lote " + lote;
        if (lote == '') 
            return ;
        $.each(StockInsumos[codigo_insumo],function (i, item) {
            if (item.Lote == lote) {
                if (cantidad) {
                    if (cantidad > item.Cantidad) {
                        mensaje = "Insumo " + codigo_insumo + " stock insuficiente lote " + lote;
                        mensaje += "\n Stock Actual: " + item.Cantidad;
                        mensaje += "\n Stock Solicitado: " + cantidad;

                    }
                    else {
                        mensaje = '';
                    }
                }
                if (kilos) {
                    if (kilos > item.Kilos_Litros) {
                        mensaje = "Insumo " + codigo_insumo + " stock insuficiente lote " + lote;
                        mensaje += "\n Stock Actual: " + item.Kilos_Litros;
                        mensaje += "\n Stock Solicitado: " + kilos;
                    }
                    else {
                        mensaje = '';
                    }
                }
                if (mensaje == '') {
                    fila.find('.sp_fecha_ven').val(item.Fecha_Vencimiento);
                }
            }
        });
        if (mensaje != '') {
            notif({
                msg: mensaje,
                type: "error",
                position: "center"
            });
            fila.find(".lote").focus();
        }
    }

    function SoloNumerosYBarra(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 47 && charCode > 31 && (charCode < 47 || charCode > 57)) {
            return false;
        } else {
            return true;
        }
    }
</script>
