﻿@using MVC_Produccion.Models.Utilidades
@model List<InsumoConsumidoProduccion>

@{ Layout = null; }

<div class="col-md-12 caja-contenedora" id="DetallesProduccionesAdd">
    <table id="InsumosConsumidos" class="display compact" style="width:100%;"></table>
</div>

<script>
    var detalle = [];
    var StockInsumos = {};
    var jsonObj = @Html.Raw(Json.Encode(Model));
    var codigosMasas = [];

    $.each(jsonObj, function (i, item) {
        detalle.push(item);
        if (item.EsMasa) codigosMasas.push(item.CodigoInsumo);
    });

    CargarInsumosConsumidosMuzza();
    ObtenerStockLoteInsumos();

    function CargarInsumosConsumidosMuzza() {
        $.fn.dataTable.ext.errMode = 'none';

        dataTableInsumosConsumidos = $("#InsumosConsumidos").DataTable({
            "bPaginate": false,
            "bFilter": false,
            "destroy": true,
            "responsive": true,
            "autoWidth": true,
            "bInfo": false,
            "lengthChange": false,
            data: detalle,
            "columns": [
                {
                    orderable: false,
                    title: "Codigo Insumo",
                    data: "CodigoInsumo",
                    class: "text-center",
                    width: "120px",
                    render: function (data, type, row, meta) {
                        return "<span id='sp_codigo_insumo'>" + row.CodigoInsumo + "</span>"
                            + '<input  style="display:none;" class="sp_PrecioUnitario form-control" value="' + row.PrecioUnitario + '">';
                    }
                },
                {
                    orderable: false,
                    title: "Insumo",
                    data: "DescripcionInsumo",
                    "sClass": "mayusculas-texto",
                    width: "30%"
                },
                {
                    data: "Lote",
                    title: "Lote",
                    render: function (data) {
                        if (!data)
                            data = '';
                        return '<input type="text" onchange="VerificaStockInsumo($(this).parent().parent())" class="lote form-control" style="width:110px" value="' + data + '">';
                    },
                    width: "120px",
                    orderable: false,
                },
                {
                    orderable: false,
                    render: function (data, type, row, meta) {
                        if (row.EsMasa) {
                            return '<a class="btn btn-default btn-sm" onclick="Agregar_Lote_Insumo_Masa($(this))" title="Cargar otro número de lote para el mismo insumo que use masa"><span class="glyphicon glyphicon-plus"></span></a>';
                        }
                        else {
                            return '<a class="btn btn-default btn-sm" onclick="Agregar_Lote_Insumo($(this))" title="Sirve para cargar otro numero de lote para el mismo insumo"><span class="glyphicon glyphicon-plus"></span></a>';
                        }
                        
                    },
                    width: "20px",
                },
                {
                    data: "Fecha",
                    orderable: false,
                    title: "Fecha Elaboración",
                    render: function (data, type, row, meta) {
                        if (!data)
                            data = '';
                        else {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var day = currentTime.getDate();
                            var month = currentTime.getMonth() + 1;
                            var year = currentTime.getFullYear();

                            data = day + "/" + month + "/" + year;
                        }
                        if (row.EsMasa) {
                            return "<input type='datetime' name='fech_elab" + meta.row + "' class='form-control sp_fecha_elab' value='" + data + "' onkeypress='return SoloNumerosYBarra(event)' minlength='5' maxlength='10' autocomplete='off'>";
                        }
                    },
                    width: "100px",
                },
                {
                    data: "Fecha_Vencimiento",
                    orderable: false,
                    title: "Fecha Vencimiento",
                    render: function (data, type, row, meta) {
                        if (!data)
                            data = '';
                        else {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var day = currentTime.getDate();
                            var month = currentTime.getMonth() + 1;
                            var year = currentTime.getFullYear();

                            data = day + "/" + month + "/" + year;
                        }
                        if (!row.EsMasa) {
                            return "<input type='datetime' name='fech_venc" + meta.row + "' class='form-control sp_fecha_ven' value='" + data + "' onkeypress='return SoloNumerosYBarra(event)' minlength='5' maxlength='10' autocomplete='off'>";
                        }
                        
                    },
                    width: "100px",
                },
                {
                    data: "Ph",
                    orderable: false,
                    title: "Ph",
                    render: function (data, type, row, meta) {
                        if (!data) {
                            data = '';
                        }
                        if (row.EsMasa) {
                            return '<input type="text" id="InsumosPh" name="InsumosPh" class="ph form-control" style="text-align:right" value="' + data + '" oninput="SoloNumeros($(this))">';
                        }
                    },
                    width: "100px",
                },
                {
                    data: "Humedad",
                    orderable: false,
                    title: "Humedad",
                    render: function (data, type, row, meta) {
                        if (!data) {
                            data = '';
                        }
                        if (row.EsMasa) {
                            return '<input type="text" id="InsumosHumedad" name="InsumosHumedad" class="humedad form-control" style="text-align:right" value="' + data + '" oninput="SoloNumeros($(this))">';
                        }
                    },
                    width: "100px",
                },
                {
                    data: "Rendimiento",
                    orderable: false,
                    title: "Rendimiento",
                    render: function (data, type, row, meta) {
                        if (!data) {
                            data = '';
                        }
                        if (row.EsMasa) {
                            return '<input type="text" id="InsumosRendimiento" name="InsumosRendimiento" class="rendimiento form-control" style="text-align:right;width:100px" value="' + data + '" oninput="SoloNumeros($(this))">';
                        }
                    },
                    width: "100px",
                },
                {
                    orderable: false,
                    title: "Unidades",
                    class: "text-right",
                    data: "CodigoInsumo",
                    "render": function (data, type, row, meta) {
                        if (row.EsMasa) {
                            return `<span id='sp_cantidad'>${row.Cantidad_Unidades != null ? parseFloat(row.Cantidad_Unidades).toFixed(4) : ""}</span>`;
                        }
                        else {
                            if (row.PrecioPor == 'U') {
                                return "<span id='sp_cantidad'>" + parseFloat(row.Cantidad).toFixed(4) + "</span>";

                            }
                            else {
                                return "<span id='sp_cantidad'></span>";
                            }
                        }
                    }
                },
                {
                    orderable: false,
                    title: "Kilos/Litros",
                    class: "text-right",
                    data: "CodigoInsumo",
                    "render": function (data, type, row, meta) {
                        if (row.EsMasa) {
                            return "<span id='sp_kilos'>" + parseFloat(row.Cantidad).toFixed(4) + "</span>";
                        }
                        else {
                            if (row.PrecioPor != 'U') {
                                return "<span id='sp_kilos'>" + parseFloat(row.Cantidad).toFixed(4) + "</span>";
                            }
                            else {
                                return "<span id='sp_kilos'></span>";
                            }
                        }
                    }
                },
                {
                    orderable: false,
                    title: "     Ajuste",
                    class: "text-right",
                    data: "Ajuste",
                    render: function (data, type, row, meta) {
                        let valor = parseFloat(data);
                        if (valor != 0) {
                            return "<span id='sp_ajuste'>" + valor.toFixed(3) + "</span>";
                        }
                        else {
                            return "<span id='sp_ajuste'></span>";
                        }
                    },
                    width: "100px",
                },
                {
                    orderable: false,
                    render: function (data, type, row, meta) {
                        if (row.EsMasa) {
                            return "<a id='BotonEditar' class='btn btn-default btn-sm' onclick='Editar_Ajuste_Cant_Produccion($(this), true)' title='Ajustar'><span class='glyphicon glyphicon-pencil'></span></a>";
                        }
                        else {
                            return "<a id='BotonEditar' class='btn btn-default btn-sm' onclick='Ajustar_Detalle_Produccion($(this))' title='Ajustar'><span class='glyphicon glyphicon-pencil'></span></a>";
                        }
                        
                    },
                    width: "20px",
                },
                {
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return "<a id='BotonEliminar' class='btn btn-danger btn-sm' onclick='Eliminar_Fila_Detalle_Insumo($(this))' title='Eliminar'><span class='glyphicon glyphicon-trash'></span></a>";
                    }
                }
            ],
            "language": idiomaEspañol,
            "columnDefs": [
                { className: "text-right", "targets": [3, 4, 5, 6, 7] }
            ],
            dom: 'Bfrtip',
            buttons: [
            ],
            "order": [[0, "asc"]],
            "initComplete": function (settings, json) {
                $('#InsumosConsumidos .ph').on("change", function () {
                    PromedioPh();
                });
                $('#InsumosConsumidos .humedad').on("change", function () {
                    PromedioHumedad();
                });
                $('#InsumosConsumidos .rendimiento').on("change", function () {
                    PromedioRendimiento();
                });
                $('#InsumosConsumidos .sp_fecha_elab').each(function () {
                    $(".sp_fecha_elab").datepicker();
                });
                $('#InsumosConsumidos .sp_fecha_ven').each(function () {
                    $(".sp_fecha_ven").datepicker();
                });
                $("#InsumosConsumidos").find('tr').each(function (index, element) {
                    if (index == 0) return;
                    if (codigosMasas.includes($(element).find('#sp_codigo_insumo').text())) {
                        Editar_Ajuste_Cant_Produccion($(element).find('#BotonEditar'), false);
                    }
                })
                $('#InsumosConsumidos #cantidad_insumo').on("change", function () {
                    PromedioUnidadesMasa();
                });
                $('#InsumosConsumidos input').first().focus();
            }
        });

        dataTableInsumosConsumidos.on('error.dt', function (e, settings, techNote, message) {
            console.log('An error has been reported by DataTables: ', message);
        });
    };


    function Agregar_Lote_Insumo(boton) {
        var tr = boton.parent().parent();
        var new_tr = tr.clone();

        new_tr.find('.lote').val('');

        new_tr.find('.sp_fecha_elab').val('');
        new_tr.find('.sp_fecha_elab').attr('name', 'fech_elab' + dataTableInsumosConsumidos.rows()[0].length);
        new_tr.find('.sp_fecha_elab').attr('id', '');
        new_tr.find('.sp_fecha_ven').val('');
        new_tr.find('.sp_fecha_ven').attr('name', 'fech_venc' + dataTableInsumosConsumidos.rows()[0].length);
        new_tr.find('.sp_fecha_ven').attr('id', '');
        
        new_tr.find('.ph').val('');
        new_tr.find('.humedad').val('');
        new_tr.find('.rendimiento').val('');

        new_tr.find('#sp_cantidad').html('');
        new_tr.find('#sp_kilos').html('');
        new_tr.find('#sp_ajuste').html('');

        tr.after(new_tr);
        new_tr.find('.sp_fecha_elab').removeClass('hasDatepicker').datepicker();
        new_tr.find('.sp_fecha_ven').removeClass('hasDatepicker').datepicker();

        $('#InsumosConsumidos .ph').on("change", function () {
            PromedioPh();
        });
        $('#InsumosConsumidos .humedad').on("change", function () {
            PromedioHumedad();
        });
        $('#InsumosConsumidos .rendimiento').on("change", function () {
            PromedioRendimiento();
        });
        $('#InsumosConsumidos #cantidad_insumo').on("change", function () {
            PromedioUnidadesMasa();
        });
        $('#InsumosConsumidos .sp_fecha_elab').each(function () {
            $(".sp_fecha_elab").removeClass('hasDatepicker').datepicker();
        });
        $('#InsumosConsumidos .sp_fecha_ven').each(function () {
            $(".sp_fecha_ven").removeClass('hasDatepicker').datepicker();
        });

        $("#ajuste_insumo").keyup(function (e) {
            if (e.keyCode == 13) {
                Confirmar_Edicion_Ajuste_Cant();
                return false;
            }
        });

        new_tr.find('.lote').focus();
    }
    function Agregar_Lote_Insumo_Masa(boton) {
        var tr = boton.parent().parent();
        var new_tr = tr.clone();

        new_tr.find('.lote').val('');

        new_tr.find('.sp_fecha_elab').val('');
        new_tr.find('.sp_fecha_elab').attr('name', 'fech_elab' + dataTableInsumosConsumidos.rows()[0].length);
        new_tr.find('.sp_fecha_elab').attr('id', '');
        new_tr.find('.sp_fecha_ven').val('');
        new_tr.find('.sp_fecha_ven').attr('name', 'fech_venc' + dataTableInsumosConsumidos.rows()[0].length);
        new_tr.find('.sp_fecha_ven').attr('id', '');

        new_tr.find('.ph').val('');
        new_tr.find('.humedad').val('');
        new_tr.find('.rendimiento').val('');

        new_tr.find('#sp_cantidad').replaceWith('<input id="cantidad_insumo" class="form-control" value="" oninput="SoloNumeros($(this))" onclick="this.select();" style="text-align:right;">');
        new_tr.find('#sp_kilos').replaceWith('<input id="kilos_insumo" class="form-control" value="" oninput="SoloNumeros($(this))" onclick="this.select();" style="text-align:right;">');
        new_tr.find('#sp_ajuste').replaceWith('<input id="ajuste_insumo" class="form-control" value="" oninput="SoloNumeros($(this))" onclick="this.select();" style="text-align:right;">');

        tr.after(new_tr);
        new_tr.find('.sp_fecha_elab').removeClass('hasDatepicker').datepicker();
        new_tr.find('.sp_fecha_ven').removeClass('hasDatepicker').datepicker();

        $('#InsumosConsumidos .ph').on("change", function () {
            PromedioPh();
        });
        $('#InsumosConsumidos .humedad').on("change", function () {
            PromedioHumedad();
        });
        $('#InsumosConsumidos .rendimiento').on("change", function () {
            PromedioRendimiento();
        });
        $('#InsumosConsumidos #cantidad_insumo').on("change", function () {
            PromedioUnidadesMasa();
        });
        $('#InsumosConsumidos .sp_fecha_elab').each(function () {
            $(".sp_fecha_elab").removeClass('hasDatepicker').datepicker();
        });
        $('#InsumosConsumidos .sp_fecha_ven').each(function () {
            $(".sp_fecha_ven").removeClass('hasDatepicker').datepicker();
        });

        $("#ajuste_insumo").keyup(function (e) {
            if (e.keyCode == 13) {
                Confirmar_Edicion_Ajuste_Cant();
                return false;
            }
        });

        new_tr.find('.lote').focus();
    }

    function Ajustar_Detalle_Produccion(boton) {
        let tr = boton.parent().parent();

        let span = tr.find('#sp_ajuste');
        let td = tr.find('#sp_ajuste').parent();
        let ajuste = parseFloat(span.html()).toFixed(3);
        if (isNaN(ajuste))
            ajuste = '';
        td.html('<input id="ajuste_insumo" class="form-control" value="' + ajuste + '" oninput="SoloNumeros($(this))" onclick="this.select();" style="text-align:right;">');

        tr.find("#ajuste_insumo").keyup(function (e) {
            if (e.keyCode == 13) {
                Confirmar_Edicion_Ajuste();
                return false;
            }
        });
        tr.find("#ajuste_insumo").select();
        tr.find("#ajuste_insumo").focus();
    }

    function Confirmar_Edicion_Ajuste() {
        if ($("#ajuste_insumo").length == 0)
            return;

        let tr_actualizar = $("#ajuste_insumo").parent().parent();
        let td_actualizar = $("#ajuste_insumo").parent();
        let ajuste = parseFloat($("#ajuste_insumo").val()).toFixed(3);
        if (isNaN(ajuste))
            ajuste = '';
        td_actualizar.html("<span id='sp_ajuste'>" + ajuste + "</span>");

        VerificaStockInsumo(tr_actualizar);
    }

    function Editar_Ajuste_Cant_Produccion(boton, selectCantidad) {
        let tr = boton.parent().parent();

        let span = tr.find('#sp_ajuste');
        let td = tr.find('#sp_ajuste').parent();
        let ajuste = parseFloat(span.html()).toFixed(3);
        if (isNaN(ajuste))
            ajuste = '';
        td.html('<input id="ajuste_insumo" class="form-control" value="' + ajuste + '" oninput="SoloNumeros($(this))" onclick="this.select();" style="text-align:right;">');

        let spanCant = tr.find('#sp_cantidad');
        let tdCant = tr.find('#sp_cantidad').parent();
        let cantidad = parseFloat(spanCant.text()).toFixed(4);
        if (isNaN(cantidad))
            cantidad = '';

        tdCant.html('<input id="cantidad_insumo" class="form-control" value="' + cantidad + '" oninput="SoloNumeros($(this))" onclick="this.select();" style="text-align:right;">');

        let spanKilos = tr.find('#sp_kilos');
        let tdKilos = tr.find('#sp_kilos').parent();
        let kilos = parseFloat(spanKilos.html()).toFixed(4);
        if (isNaN(kilos))
            kilos = '';
        tdKilos.html('<input id="kilos_insumo" class="form-control" value="' + kilos + '" oninput="SoloNumeros($(this))" onclick="this.select();" style="text-align:right;">');

        $('#InsumosConsumidos #cantidad_insumo').on("change", function () {
            PromedioUnidadesMasa();
        });

        $("#ajuste_insumo").keyup(function (e) {
            if (e.keyCode == 13) {
                Confirmar_Edicion_Ajuste_Cant();
                return false;
            }
        });
        if (selectCantidad) {
            $("#cantidad_insumo").select();
            $("#cantidad_insumo").focus();
        }
    }

    function Confirmar_Edicion_Ajuste_Cant() {
        if ($("#ajuste_insumo").length == 0)
            return;
        let tr_actualizar = $("#ajuste_insumo").parent().parent();
        let ajuste = parseFloat($("#ajuste_insumo").val()).toFixed(3);
        if (isNaN(ajuste))
            ajuste = '';
        $("#ajuste_insumo").parent().html("<span id='sp_ajuste'>" + ajuste + "</span>");

        if ($("#cantidad_insumo").length == 0)
            return;
        let cantidad = parseFloat($("#cantidad_insumo").val()).toFixed(4);
        if (isNaN(cantidad))
            cantidad = '';
        $("#cantidad_insumo").parent().html("<span id='sp_cantidad'>" + cantidad + "</span>");

        if ($("#kilos_insumo").length == 0)
            return;
        let kilos = parseFloat($("#kilos_insumo").val()).toFixed(4);
        if (isNaN(kilos))
            kilos = '';
        $("#kilos_insumo").parent().html("<span id='sp_kilos'>" + kilos + "</span>");

        VerificaStockInsumo(tr_actualizar);
    }

    function Eliminar_Fila_Detalle_Insumo(boton) {
        boton.parent().parent().remove();

        PromedioPh();
        PromedioHumedad();
        PromedioRendimiento();
        PromedioUnidadesMasa();
    }
    
    function Armar_Array_Insumos_Consumidos_Muzza(div) {
        if ($('#InsumosConsumidos .dataTables_empty').length == 0) {

            $('#InsumosConsumidos tbody tr').each(function (index) {
                let codigo_insumo, cantidad, kilos, lote, ajuste, precio_unitario, cant_final, cant_unidades, fecha_elaboracion, fecha_vencimiento, ph, humedad, rendimiento;

                codigo_insumo = $(this).find('#sp_codigo_insumo').html();

                cantidad = $(this).find('#sp_cantidad').html();
                cant_unidades = $(this).find('#sp_cantidad').html();
                kilos = $(this).find('#sp_kilos').html();

                if (kilos != '')
                    cant_final = parseFloat(kilos.replace(",", "."));
                else if (cantidad != '')
                    cant_final = parseFloat(cantidad.replace(",", "."));
                else
                    cant_final = 0;

                lote = $(this).find('.lote').val();

                fecha_elaboracion = $(this).find('.sp_fecha_elab').val();
                fecha_vencimiento = $(this).find('.sp_fecha_ven').val();

                ph = $(this).find('.ph').val();
                if (ph != '') {
                    ph = parseFloat(ph);
                }
                humedad = $(this).find('.humedad').val();
                if (humedad != '') {
                    humedad = parseFloat(humedad);
                }
                rendimiento = $(this).find('.rendimiento').val();
                if (rendimiento != '') {
                    rendimiento = parseFloat(rendimiento);
                }

                ajuste = $(this).find('#sp_ajuste').html();
                if (ajuste != '' && ajuste != undefined)
                    ajuste = parseFloat(ajuste.replace(",", "."));

                precio_unitario = $(this).find(".sp_PrecioUnitario").val();
                if (precio_unitario) {
                    precio_unitario = precio_unitario.replace(",", ".");
                }

                if (fecha_elaboracion != '') {
                    $(`#${div}`).append('<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Codigo_Insumo" value="' + codigo_insumo + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Precio_Unitario" value="' + parseFloat(precio_unitario).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Cantidad" value="' + parseFloat(cant_final).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Cantidad_Unidades" value="' + parseFloat(cant_unidades).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Lote_Insumo" value="' + lote + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Fecha" value="' + fecha_elaboracion + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Fecha_Vencimiento" value="' + fecha_vencimiento + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Ph" value="' + parseFloat(ph).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Humedad" value="' + parseFloat(humedad).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Rendimiento" value="' + parseFloat(rendimiento).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Ajuste" value="' + parseFloat(ajuste).toString().replace(".", ",") + '"/>');
                }
                else {
                    $(`#${div}`).append('<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Codigo_Insumo" value="' + codigo_insumo + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Precio_Unitario" value="' + parseFloat(precio_unitario).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Cantidad" value="' + parseFloat(cant_final).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Lote_Insumo" value="' + lote + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Fecha" value="' + fecha_elaboracion + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Fecha_Vencimiento" value="' + fecha_vencimiento + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Ph" value="' + parseFloat(ph).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Humedad" value="' + parseFloat(humedad).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Rendimiento" value="' + parseFloat(rendimiento).toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="Produccion.Detalle_Produccion[' + index + '].Ajuste" value="' + parseFloat(ajuste).toString().replace(".", ",") + '"/>');
                }
            });
        }

    }

    function ObtenerStockLoteInsumos() {
        var StockInsumosLocal = {};
        let fabrica = $("#Produccion_Codigo_Fabrica").val();
        let parametros = {
            Codigos: [],
            Fabrica: parseInt(fabrica),
            Lote: ""
        };
        $.each(detalle, function (i, item) {
            parametros.Codigos.push(item.CodigoInsumo);
        });
        if (parametros.Codigos.length > 0)
            $.ajax({
                type: "POST",
                url: "/Insumos/ObtenerCantidadesStock/",
                data: parametros,
                success: function (data) {
                    $.each(data.cantidades, function (i, item) {
                        if (StockInsumosLocal[item.Codigo_Insumo]) {
                            StockInsumosLocal[item.Codigo_Insumo].push({
                                Lote: item.Lote,
                                Cantidad: item.Cantidad,
                                Kilos_Litros: item.Kilos_Litros,
                                Fecha_Vencimiento: item.Fecha_Vencimiento == null ? '' : moment(item.Fecha_Vencimiento).format("DD/MM/YYYY"),
                                Fecha_Elaboracion: item.Fecha_Elaboracion == null ? '' : moment(item.Fecha_Elaboracion).format("DD/MM/YYYY"),
                                Ph: item.Ph,
                                Humedad: item.Humedad,
                                Rendimiento: item.Rendimiento
                            });
                        }
                        else {
                            StockInsumosLocal[item.Codigo_Insumo] = [{
                                Lote: item.Lote,
                                Cantidad: item.Cantidad,
                                Kilos_Litros: item.Kilos_Litros,
                                Fecha_Vencimiento: item.Fecha_Vencimiento == null ? '' : moment(item.Fecha_Vencimiento).format("DD/MM/YYYY"),
                                Fecha_Elaboracion: item.Fecha_Elaboracion == null ? '' : moment(item.Fecha_Elaboracion).format("DD/MM/YYYY"),
                                Ph: item.Ph,
                                Humedad: item.Humedad,
                                Rendimiento: item.Rendimiento
                            }];
                        }
                    });
                }
            });
        StockInsumos = StockInsumosLocal;
    }

    function VerificaStockInsumo(fila) {
        let codigo_insumo = fila.find('#sp_codigo_insumo').html();
        let ajuste = fila.find("#ajuste_insumo").val() != undefined ? fila.find("#ajuste_insumo").val() : fila.find("#sp_ajuste").html();
        let cantidad = fila.find("#cantidad_insumo").val() != undefined ? fila.find("#cantidad_insumo").val() : fila.find("#sp_cantidad").html();
        let kilos = fila.find("#kilos_insumo").val() != undefined ? fila.find("#kilos_insumo").val() : fila.find("#sp_kilos").html();
        if (ajuste) {
            cantidad = ajuste;
            kilos = ajuste;
        }
        let lote = fila.find(".lote").val();

        let mensaje = "Insumo " + codigo_insumo + " sin stock en el lote " + lote;
        if (lote == '')
            return;
        $.each(StockInsumos[codigo_insumo], function (i, item) {
            if (item.Lote == lote) {
                if (cantidad) {
                    if (cantidad > item.Cantidad) {
                        mensaje = "Insumo " + codigo_insumo + " stock insuficiente lote " + lote;
                        mensaje += "\n Stock Actual: " + item.Cantidad;
                        mensaje += "\n Stock Solicitado: " + cantidad;
                    }
                    else {
                        mensaje = '';
                    }
                }
                if (kilos) {
                    if (kilos > item.Kilos_Litros) {
                        mensaje = "Insumo " + codigo_insumo + " stock insuficiente lote " + lote;
                        mensaje += "\n Stock Actual: " + item.Kilos_Litros;
                        mensaje += "\n Stock Solicitado: " + kilos;
                    }
                    else {
                        mensaje = '';
                    }
                }
                if (mensaje == '') {
                    fila.find('.sp_fecha_elab').val(item.Fecha_Elaboracion);
                    fila.find('.sp_fecha_ven').val(item.Fecha_Vencimiento);
                    fila.find('.ph').val(item.Ph);
                    fila.find('.humedad').val(item.Humedad);
                }
            }
        });
        if (mensaje != '') {
            notif({
                msg: mensaje,
                type: "warning",
                position: "center",
                multiline: true
            });
            fila.find(".lote").focus();
        }
    }

    function SoloNumerosYBarra(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 47 && charCode > 31 && (charCode < 47 || charCode > 57)) {
            return false;
        } else {
            return true;
        }
    }
</script>
