﻿@model AccesoDatos.Contexto.Produccion.Envasado
@{
    Layout = null;
}
<div class="modal-header modalCreate col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Nuevo Envasado</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body modalCreate">
    <div class="modal-footer modalCreate">
        <button type="button" class="btn btn-primary ConfirmarEnvasado1" onclick="ConfirmarEnvasadoAddOrEdit($('#formEnvasado'))" id="ConfirmarEnvasado1">Confirmar</button>
        @if (ViewBag.siguiente_url == "")
        {
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>}
    </div>

    @using (Html.BeginForm("AddOrEdit", "Envasados", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formEnvasado" }))
    {
        <div class="col-md-12 caja-contenedora flexible2">
            @Html.EditorFor(model => model.Codigo_Interno_Envasado, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
            <div class="col-md-12 caja-contenedora caja-sector-modal">
                <div class="col-md-5 form-medio">
                    <div class="col-md-2 form-medio">
                        @Html.Label("Producto:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-8">
                        <p style="margin:0px !important; text-transform:capitalize" id="Descripcion-Producto"></p>
                    </div>
                </div>
                <div class="col-md-3 form-medio">
                    <div class="col-md-2 form-medio">
                        @Html.Label("Lote:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-8">
                        <p style="margin:0px !important; text-transform:capitalize" name="" id="LoteNuevo"></p>
                        @Html.EditorFor(model => model.Lote, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                    </div>
                </div>
            </div>
            <div class="col-md-12 caja-contenedora caja-sector-modal">
                <div class="col-md-2 form-medio">
                    @Html.Label("Fecha:", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center" } })
                </div>
                <div class="col-md-2 form-medio">
                    <div class="col-md-6 form-medio">
                        <label id="hormas-litros-total" class="control-label">Unidades: </label>
                    </div>
                    <div class="col-md-6 form-medio" id="PiezasTotales">
                        <p style="margin:0px !important" id="Piezas-Obtenidas" class="control-label"></p>
                    </div>
                </div>
                <div class="col-md-3 form-medio" id="div-kilos-saladero">
                    <div class="col-md-6 form-medio">
                        <label id="label-kilos-saladero" class="control-label">Kilos Reales: </label>
                    </div>
                    <div class="col-md-6 form-medio">
                        <input type="text" id="kilos_reales" class="form-control" style="text-align:right;margin-right:20px;" readonly />
                    </div>
                </div>
                <div class="col-md-3 form-medio" id="KilosTotales">
                    @Html.Label("Kilos/Litros Envasados:", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-2 form-medio" style="padding-left:5px !important;">
                    <div class="col-md-6 form-medio">
                        @Html.Label("Humedad:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-6 form-medio">
                        <p style="margin:0px !important; text-transform:capitalize" name="" id="LoteNuevo"></p>
                        @Html.EditorFor(model => model.Humedad, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div style="display:flex !important; justify-content:center; font-weight:bold; font-size:16px">
                    <h3>Detalles</h3>
                </div>
            </div>
            <div class="col-md-12">
                <table id="FormulasEnvasadoTabla" class="display compact" style="width:100%"></table>
            </div>
            <br />
            <div class="col-md-12" style="display:flex;justify-content:flex-end;">
                <div style="display:flex; flex-wrap:nowrap; flex-direction:row">
                    Restan envasar <p id="kilos-restantes" style="margin:0px 10px 0px 10px; font-weight:bold">0</p><p id="p-kilos-litros"> kilos/litros, y </p>
                    <p id="piezas-restantes" style="margin:0px 10px 0px 10px; font-weight:bold">0</p> <p id="hormas-litros">unidades</p>.
                </div>
            </div>
            <div class="col-md-12" style="display:flex;justify-content:flex-start;" id="div-cb-no-envasar">
                <input type="checkbox" id="cb-no-envasar" /><label for="cb-no-envasar" class="noselect" id="label_no_envasar" style="display:inline-block;margin-left:5px;"></label>
            </div>
            <div class="col-md-12" style="display:flex;justify-content:flex-start;">
                <div id="div-no-envasar" style="display:none;">
                    <table id="RestanteTabla" class="display compact" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:150px;">Motivo</th>
                                <th style="width:100px;">Unidades</th>
                                <th style="width:100px;">Kilos</th>
                                <th style="width:100px;">Insumo</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="padding-top:5px;">
                                <td>
                                    <select id="SelectRestante" class="form-control text-box single-line">
                                        <option value="Merma">Merma</option>
                                        <option value="Decomiso">Decomiso</option>
                                        <option value="Reproceso">Reproceso</option>
                                    </select>
                                </td>

                                <td>
                                    <input class="form-control text-box single-line" id="HormasRestante" placeholder="Unidades" style="text-align:right;padding:10px 10px !important;" />
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" id="KilosRestante" placeholder="Kilos" style="text-align:right;padding:10px 10px !important;" />
                                </td>
                                <td>
                                    <div id="Div_Insumo" style="display:none;">
                                        <div class="input-group">
                                            <input type="text" id="codigo-insumo-reproceso" name="Codigo_Insumo" class="form-control" style="width:80px;" />
                                            <span class="input-group-addon"><a href="#" onclick="AbrirModalInsumos(ConfirmarInsumo)"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="noselect control-label" style="font-weight:initial;margin-left:25px !important;" id="lb-descripcion-insumo-reproceso"></label>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-success btn-sm" onclick="AgregarRestante()"><span class="glyphicon glyphicon-save"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="DetallesDescarte" style="display:none">
            </div>
            <div id="DetallesEnvasado" style="display:none">
            </div>
            <div class="col-md-12 caja-contenedora" id="DetallesFormulaEnvasado">
                <h4>Articulos</h4> <p style="color:palevioletred">(Si modifica la cantidad envasada se recalcularán todos los articulos consumidos y se perderán los ajustes realizados.)</p>
                <table id="TablaDetallesEnvasado" class="display compact" style="width:100%;"></table>
            </div>
            <div id="DetallesInsumoEnvasado" style="display:none">
            </div>
        </div>
    }
</div>

<div class="modal-footer modalCreate">
    <button type="button" class="btn btn-primary ConfirmarEnvasado" id="ConfirmarEnvasado">Confirmar</button>
    @if (ViewBag.siguiente_url == "")
    {
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    }
</div>

<script>
    listadoDetallesInsumosEnvasado = [];
    listadoInsumosConsumidos = [];
    listadoDetalleInsumoEnvasadoForm = [];
    //var Kg_Desnudo = @ViewBag.Kg_Desnudo;
    var siguiente_url = '@ViewBag.siguiente_url';
    Envasa_sin_kilos = @ViewBag.Envasa_Sin_Kilos;
    var Fabrica_Deposito = '@ViewBag.Fabrica_Deposito';

    var Vencimiento_Envasado;

    $('#Fecha').datepicker();
    //if (Fabrica_Deposito == 'Fabrica')
    //    document.getElementById('Div_Sucursal').style.setProperty('display', 'flex', 'important');
    //else
    //    document.getElementById('Div_Sucursal').style.setProperty('display', 'none', 'important');

    GetDetallesInsumosEnvasado('@ViewBag.CodProducto');
    CargarDetallesFormulaEnvasado();

    //if (!location.href.toLowerCase().includes('quesos'))
    //    $('#div-cb-no-envasar').hide();

    $('#cb-no-envasar').change(function () {
        if (this.checked)
            $('#div-no-envasar').show();
        else {
            $('#div-no-envasar').hide();
        }
    });

    $('input[type=radio][name=rb-no-envasar]').change(function () {
        if (this.value == 'Reproceso') {
            $('#div-insumo-reproceso').show();
            $('#codigo-insumo-reproceso').focus();
        }
        else {
            $('#div-insumo-reproceso').hide();
        }
    });
    function ConfirmarInsumo() {

        $('#InsumosLayoutTabla').find('tr.selected').find('td').each(function () {
            if ($(this).index() == 0) {
                var Codigo = $(this).html();
                $('#codigo-insumo-reproceso').val(Codigo);
            }
            if ($(this).index() == 1) {
                $('#lb-descripcion-insumo-reproceso').html($(this).html());
            }
        });
        $('#modalInsumosLayout').modal('hide');
    }
    function BorrarRestante(td) {
        let hormas_agregar = parseFloat($(td).parent().parent().find("#td-hormas").html());
        let kilos_agregar = parseFloat($(td).parent().parent().find("#td-kilos").html());


        let kilos = parseFloat($("#kilos-restantes").text());


        let hormas = parseFloat($("#piezas-restantes").text());
        if (hormas) {
            $("#piezas-restantes").text((hormas + hormas_agregar).toFixed(3));
        }
        if (kilos) {
            $("#kilos-restantes").text((kilos + kilos_agregar).toFixed(3));
        }

        $(td).parent().parent().remove();
    }
    $("#SelectRestante").change(function () {
        estado = $('option:selected', this).val();
        if (estado == "Reproceso") {
            $("#Div_Insumo").show();
        }
        else {
            $("#Div_Insumo").hide();
        }
    });

    function AgregarRestante() {
        if ($("#SelectRestante").val() == "Reproceso" && $('#lb-descripcion-insumo-reproceso').html() == "") {
            return false;
        }

        if (!$('#HormasRestante').val()) {
            $('#HormasRestante').focus();
            return false;
        }

        if (!$('#KilosRestante').val()) {
            $('#KilosRestante').focus();
            return false;
        }
       // if ($("#SelectRestante").val() == "Reproceso" && !$('#codigo-insumo-reproceso').val()) {
       //     $('#codigo-insumo-reproceso').focus();
       //     return false;
       // }

        let kilos = parseFloat($("#kilos-restantes").text());


        let hormas = parseFloat($("#piezas-restantes").text());

        if (hormas) {
            $("#piezas-restantes").text((hormas - parseFloat($('#HormasRestante').val())).toFixed(3));
        }
        if (kilos) {
            $("#kilos-restantes").text((kilos - parseFloat($('#KilosRestante').val())).toFixed(3));
        }

        let fila = '';
        fila = '<tr class="tr-restante">';
        fila += '<td id="td-motivo">' + $("#SelectRestante").val()+ '</td>';
        fila += '<td id="td-hormas" style="padding:5px 10px !important;text-align:right;">' + parseFloat($('#HormasRestante').val().trim()).toFixed(3) + '</td>';
        fila += '<td id="td-kilos" style="padding:5px 10px !important;text-align:right;">' + parseFloat($('#KilosRestante').val().trim()).toFixed(3) + '</td>';
        fila += '<td id="td-insumo" style="padding:5px 10px !important;">' + $('#codigo-insumo-reproceso').val().trim() + '</td>';
        fila += '<td>' + $('#lb-descripcion-insumo-reproceso').html() + '</td>';
        fila += '<td style="text-align:right;"><a class="btn btn-danger btn-sm" onclick ="BorrarRestante($(this));"><span class="glyphicon glyphicon-trash"></span></a></td>';
        fila += '</tr>';
        $('#RestanteTabla').prepend(fila);
        $('#codigo-insumo-reproceso').val('');
        $('#lb-descripcion-insumo-reproceso').html('');
        $('#KilosRestante').val('');
        $('#HormasRestante').val('');
        $("#Div_Insumo").hide();
        $("#SelectRestante").val("Merma");
        $("#SelectRestante").focus();

    }

    $("#codigo-insumo-reproceso").keyup(function (e) {
        if (e.keyCode == 13) {
            if ($("#codigo-insumo-reproceso").val() )
                $.ajax({
                    type: "GET",
                    url: "/Insumos/GetOne/",
                    data: { Codigo_Insumo : $("#codigo-insumo-reproceso").val() },
                    success: function (data) {
                        if (data.data[0]) {
                            $('#codigo-insumo-reproceso').val(data.data[0].Codigo_Insumo);
                            $('#lb-descripcion-insumo-reproceso').html(data.data[0].Descripcion);
                            AgregarRestante();
                        }
                        else {
                            notif({
                                msg: "No existe el insumo ingresado.",
                                type: "error",
                                position: "center"
                            });
                            $("#codigo-insumo-reproceso").focus();
                        }
                    }
                });

            $("#codigo-insumo-reproceso").focus();
            return false;
        }
    });

    function ConfirmarDetallesEnvasado(Formulario) {
        var ProductoActual = [];
        $('#FormulasEnvasadoTabla').find('tr').find('td').each(function () {
            if ($(this).index() == 0) {
                ProductoActual = $(this).html();
                for (var i in ListadoDetalles) {
                    if (ListadoDetalles[i].ProductoVentas.trim() == ProductoActual.trim()) {
                        ListadoDetalles[i].Lote = ProduccionActual.Lote;
                        $(this).parent().find('.cantidadEditable').each(function () {
                            if ($(this).val() != "" && parseFloat($(this).val()) > 0) {
                                ListadoDetalles[i].Cantidad = parseFloat($(this).val());
                            }
                        });
                        $(this).parent().find('.kilosEditable').each(function () {
                            if ($(this).val() != "" && parseFloat($(this).val()) > 0) {
                                ListadoDetalles[i].Kilos = $(this).val().toString().replace(".", ",");
                            }
                        });
                    }
                };
            }
        });
        let KilosIngresados = 0;
        let PiezasIngresadas = 0;
        $('#FormulasEnvasadoTabla').find('tr').find('td').each(function () {
            var Piezas_Por_Envasado = 0;
            if ($(this).index() == 1) {
                Piezas_Por_Envasado = parseFloat($(this).html()).toFixed(3);
                $(this).parent('tr').find('.cantidadEditable').each(function () {
                    if (parseFloat($(this).val()) > 0)
                        PiezasIngresadas += $(this).toString().replace(".", ",") / Piezas_Por_Envasado;
                });
            }
        });
        $('#FormulasEnvasadoTabla').find('.kilosEditable').each(function () {
            if ($(this).val() != "")
                KilosIngresados += parseFloat($(this).val());
        });
        if ($('#Kilos-Reales').val() == "") {
            notif({
                msg: "Por favor, ingrese Kilos Teóricos.",
                type: "warning",
                position: "center"
            });
            $('#Kilos-Reales').focus();
            return;
        }
        else if (KilosIngresados > parseFloat($('#Kilos-Reales').val()) || PiezasIngresadas > parseInt($('#piezas-restantes').html())) {
            notif({
                msg: "Error, se está intentando envasar más de la cantidad a envasar.",
                type: "error",
                width: 500,
                timeout: 4000,
                multiline: true,
                position: "center"
            });
        }
        else if (KilosIngresados == 0 && PiezasIngresadas == 0) {
            notif({
                msg: "Error, ingrese Piezas Envasadas o Kilos",
                type: "error",
                width: 500,
                timeout: 4000,
                multiline: true,
                position: "center"
            });
        }
        else {
            for (var j in ListadoDetalles) {
                $('#DetallesEnvasado').append('<input type="text" name="Detalle_Envasado[' + j + '].Codigo_Interno_Formula" value="' + ListadoDetalles[j].Codigo_Interno_Formula + '"/>' +
                    '<input type="text" name="Detalle_Envasado[' + j + '].Lote" value="' + ListadoDetalles[j].Lote + '"/>' +
                    '<input type="text" name="Detalle_Envasado[' + j + '].Cantidad" value="' + ListadoDetalles[j].Cantidad * ListadoDetalles[j].Obtenidas_Por_Envasada  + '"/>' +
                    '<input type="text" name="Detalle_Envasado[' + j + '].Kilos" value="' + ListadoDetalles[j].Kilos + '"/>');

            }
            $('#Humedad').val($('#Humedad').val().toString().replace(".", ","));
            $('#Kilos_Reales_Envasado').val($('#Kilos_Reales_Envasado').val().toString().replace(".", ","));
            $.validator.unobtrusive.parse(Formulario);
            if ($(Formulario).valid()) {
                $.ajax({
                    type: "POST",
                    url: "/Envasados/AddOrEdit",
                    data: $(Formulario).serialize(),
                    success: function (data) {
                        if (data.success) {
                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center"
                            });
                            $('#modalEnvasado').modal('hide');
                            CargarProducciones();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
                return false;
            }
        }
    }

    function ConfirmarModificarEnvasado(Formulario) {
        $.validator.unobtrusive.parse(Formulario);
        $('#Humedad').val($('#Humedad').val().toString().replace(".", ","));
        if ($(Formulario).valid()) {
            $('.ConfirmarEnvasado').attr('disabled', true);
            $.ajax({
                type: "POST",
                url: "/Envasados/AddOrEdit",
                data: $(Formulario).serialize(),
                success: function (data) {
                    if (data.success) {
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        $('#modalEnvasado').modal('hide');
                        CargarEnvasados();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                },
                complete: function (data) {
                    $('.ConfirmarEnvasado').attr('disabled', false);
                }
            });
            return false;
        }
    }

    function VerificarKilosReales() {
        KilosRestantes = parseFloat($('#Kilos_Reales_Envasado').val()).toFixed(3);
    }

    function VerificarLitrosReales() {
        LitrosRestantes = parseFloat($('#Kilos_Reales_Envasado').val());
        $('#kilos-restantes').html(parseFloat($('#Kilos_Reales_Envasado').val()).toFixed(3));
        if (Envasa_sin_kilos) {
            $('#kilos-restantes').hide();
            $('#p-kilos-litros').hide();
        }
    }

    function VerificarCantidadesEnvasado(input) {
        if ((isNaN(parseFloat($('#Kilos_Reales_Envasado').val())) || parseFloat($('#Kilos_Reales_Envasado').val()) == 0) && !Envasa_sin_kilos) {
            notif({
                msg: "Por favor ingrese Kilos",
                type: "error",
                position: "center"
            });
            $('#Kilos_Reales_Envasado').focus();
            return;
        }
        else {
            var Kilos = 0, Piezas = 0, KilosDesnudo = 0;
            let Total = 0;
            var kgEnvasados = parseFloat($('#Kilos_Envasados').val());
            $('#FormulasEnvasadoTabla .kilosEditable').each(function () {
                if (!isNaN(parseFloat($(this).val()))) {
                    Total += parseFloat($(this).val());
                }
            });
            Kilos = 0;
            Kilos = kgEnvasados + Total;
            if (!Envasa_sin_kilos) {
                KilosRestantes = 0;
                KilosRestantes = parseFloat($("#kilos_reales").val()) - Kilos;
            }

            if (input != null) {
                let tr_actualizar = input.parent().parent();
                let piezas_por_horma, hormas;
                let pieza = parseFloat(input.val());
                piezas_por_horma = parseFloat(tr_actualizar.find('td:nth-child(2)').html()).toFixed(3);
                if (!isNaN(pieza) && pieza > 0) {
                    hormas = parseFloat(pieza.toString()) / piezas_por_horma;
                    hormas = parseFloat(hormas).toFixed(3);
                }
                else
                    hormas = 0;

                if (hormas > 0) {
                    tr_actualizar.find('.hormasEditable').val(hormas);
                    totalUnidades = _PiezasTotales;
                    if (parseInt(totalUnidades) == 0) {
                        $('#Piezas-Obtenidas').html(parseFloat(hormas).toFixed(3));
                    }

                }
                else {
                    tr_actualizar.find('.hormasEditable').val('');
                }
            }

            $('#FormulasEnvasadoTabla tr td').each(function () {
                let Piezas_Por_Envasado = 0;
                let hormas;
                if ($(this).index() == 1) {
                    try {
                        Piezas_Por_Envasado = parseFloat($(this).html()).toFixed(3);
                        let tr = $(this).parent();
                        tr.find('.cantidadEditable').each(function () {
                            if (parseFloat($(this).val()) > 0)
                                hormas = parseFloat($(this).val().toString().replace(",", ".")) / Piezas_Por_Envasado;
                        });

                        if (isNaN(hormas) == false)
                            Piezas += parseFloat(hormas).toFixed(3);
                    }
                    catch (error) {
                        console.log(error);
                    }
                }
            });

            let hormas_restantes;
            $('#div-hormas-no-envasar').show();
            let hormas, total_hormas = 0;
            $('.hormasEditable').each(function (index) {
                hormas = $(this).val().toString().replace(",", ".");
                if (hormas != '')
                    total_hormas += parseFloat(hormas);
            });

            hormas_restantes = PiezasRestantes - total_hormas;
            if (hormas_restantes > 0)
                $('#piezas-restantes').html(parseFloat(hormas_restantes).toFixed(3));
            else
                $('#piezas-restantes').html('0');

            if ($('#hormas-litros-total').html() == 'Unidades:') {
                let unid_rest = $('#Piezas_Obtenidas').val() - Piezas;
                if (unid_rest != 0)
                    $('#piezas-restantes').html(parseFloat(unid_rest).toFixed(3));
                else
                    $('#piezas-restantes').html('0');
            }


            if (parseFloat(KilosRestantes) < 0)
                KilosRestantes = 0;

            let kg_restantes;
            kg_restantes = parseFloat(KilosRestantes);

            if (kg_restantes > 0)
                $('#kilos-restantes').html(parseFloat(kg_restantes).toFixed(3));
            else
                $('#kilos-restantes').html('0');

            if (Envasa_sin_kilos) {
                $('#kilos-restantes').hide();
                $('#p-kilos-litros').hide();
                $('#Kilos_Reales_Envasado').val(parseFloat(Kilos).toFixed(3));
            }

            if (hormas_restantes == 0 && kg_restantes == 0) {
                $('#cb-no-envasar').prop('checked', false);
                $('#codigo-insumo-reproceso').val('');
                $('#lb-descripcion-insumo-reproceso').html('');
                $('#Kg_No_Envasados').val('');
                $('#Hormas_No_Envasadas').val('');
                $('#div-no-envasar').hide();
                $('#div-cb-no-envasar').hide();
            }
            else if (hormas_restantes > 0 && kg_restantes > 0) {
                $('#Kg_No_Envasados').val(kg_restantes);
                $('#Hormas_No_Envasadas').val(hormas_restantes.toFixed(3));
                $('#label_no_envasar').html('No envasar los Kilos y las unidades restantes');
                $('#div-cb-no-envasar').show();
            }
            else if (hormas_restantes > 0) {
                $('#Kg_No_Envasados').val('');
                $('#Hormas_No_Envasadas').val(hormas_restantes);
                $('#label_no_envasar').html('No envasar las unidades restantes');
                $('#div-cb-no-envasar').show();
            }
            else {
                $('#Kg_No_Envasados').val(kg_restantes);
                $('#Hormas_No_Envasadas').val('');
                $('#label_no_envasar').html('No envasar los Kilos restantes');
                $('#div-cb-no-envasar').show();
            }
            //if (contentPiezasTotales<=0)
            //$("#piezas-restantes p:first-child").html('0');

        }
        Calcular_Consumos();
    }

    function VerificarCantidadesLitros() {
        if ($('#Kilos_Reales_Envasado').val() == "") {
            notif({
                msg: "Por favor ingrese Litros",
                type: "error",
                position: "center"
            });
            $('#Kilos_Reales_Envasado').focus();
            return;
        }
        else {
            var Litros = 0;
            var Piezas = 0;
            $('#FormulasEnvasadoTabla').find('.litrosEditable').each(function () {
                if ($(this).val() != "")
                    Litros += parseFloat($(this).val());
            });

            $('#FormulasEnvasadoTabla').find('tr').find('td').each(function () {
                var Piezas_Por_Envasado = 0;
                if ($(this).index() == 1) {
                    try {
                        Piezas_Por_Envasado = parseFloat($(this).html()).toFixed(3);
                        $(this).parent('tr').find('.cantidadEditable').each(function () {
                            if (parseFloat($(this).val()) > 0)
                                Piezas += parseFloat($(this).val().toString().replace(".", ",")) / Piezas_Por_Envasado;
                        });
                    }
                    catch (error) {
                        console.log(error);
                    }
                }
            });

            $('#kilos-restantes').html(parseFloat(parseFloat($('#Kilos_Reales_Envasado').val()) - Litros).toFixed(3));
            if (Envasa_sin_kilos) {
                $('#kilos-restantes').hide();
                $('#p-kilos-litros').hide();
            }

            $('#piezas-restantes').html(parseInt(parseInt($('#Piezas-Obtenidas').html()) - Piezas));
        }
    }

    function GetDetallesInsumosEnvasado(Codigo_Producto) {
        $.ajax({
            type: "GET",
            url: "/FormulasEnvasado/GetInsumosEnvasado/",
            data: {
                Codigo_Producto: Codigo_Producto
            },
            dataType: "json",
            success: function (data) {
                listadoDetallesInsumosEnvasado = data.data;
            }
        });
    }

    function Calcular_Consumos() {
        listadoInsumosConsumidos = [];
        var producto_ventas;
        var $fila;
        var cantidad;
        for (r = 0; r < dataTableProductos_Ventas.rows().count(); r++) {
            $fila = dataTableProductos_Ventas.row(r).node();
            var cantidad = $($fila).find('.cantidadEditable').val();
            if (cantidad == 0)
                continue;
            producto_ventas = dataTableProductos_Ventas.rows(r).data()[0].Numero_Producto_Ventas;
            var existe = 0;
            for (f in listadoDetallesInsumosEnvasado) {
                var formula = listadoDetallesInsumosEnvasado[f];
                if (formula.Numero_Producto_Ventas.trim() == producto_ventas.trim()) {
                    for (i in listadoInsumosConsumidos) {
                        if (listadoInsumosConsumidos[i].Codigo_Insumo == formula.Codigo_Insumo) {
                            listadoInsumosConsumidos[i].Cantidad += (cantidad / formula.Obtenidas_Por_Envasada) * formula.Cantidad;
                            existe = 1;
                        }
                    }
                    if (existe == 0)
                        listadoInsumosConsumidos.push({
                            Codigo_Insumo : formula.Codigo_Insumo,
                            Cantidad: (cantidad / formula.Obtenidas_Por_Envasada) * formula.Cantidad,
                            Descripcion: formula.Descripcion,
                            Ajuste: 0,
                            Lote: '',
                            Precio_Por: formula.Precio_Por,
                            Unidad_Medida: formula.Unidad_Medida
                        });
                    existe = 0;
                }
            }
        }
        CargarDetallesFormulaEnvasado();
        ObtenerStockLoteInsumos();
    }
    var StockInsumos = {};
    function ObtenerStockLoteInsumos() {
        var StockInsumosLocal = {};
        let fabrica = '@ViewBag.Fabrica';
        let parametros = {
            Codigos: [],
            Fabrica: parseInt(fabrica),
            Lote: ""
        };
        $.each(listadoInsumosConsumidos, function (i, item) {
            parametros.Codigos[i]=item.Codigo_Insumo;
        });
        if (parametros.Codigos.length > 0)
            $.ajax({
                type: "POST",
                url: "@Url.Action("ObtenerCantidadesStock", "Insumos")",
                data: parametros,
                success: function (data) {
                    $.each(data.cantidades, function (i, item) {
                        if (StockInsumosLocal[item.Codigo_Insumo]) {
                            StockInsumosLocal[item.Codigo_Insumo].push({
                                Lote: item.Lote,
                                Cantidad: item.Cantidad,
                                Kilos_Litros: item.Kilos_Litros
                            });
                        }
                        else {
                            StockInsumosLocal[item.Codigo_Insumo] = [{
                                Lote: item.Lote,
                                Cantidad: item.Cantidad,
                                Kilos_Litros: item.Kilos_Litros
                            }];
                        }
                    });
                }
            });
        StockInsumos = StockInsumosLocal;
    }

    function VerificaStockInsumo(fila) {
        let codigo_insumo = fila.find('#td_codigo_insumo').html();
        let cantidad = fila.find("#td_cantidad").html();
        let kilos = fila.find("#td_kilos").html();
        let lote = fila.find("#lote").val();
        let mensaje = "Insumo " + codigo_insumo + " sin Stock en el lote " + lote;
        if (lote == '')
            return ;
        $.each(StockInsumos[codigo_insumo],function (i, item) {
            if (item.Lote == lote) {
                if (cantidad) {
                    if (cantidad > item.Cantidad) {
                        mensaje = "Insumo " + codigo_insumo + " stock insuficiente lote " + lote;
                        mensaje += "\n Stock Actual: " + item.Cantidad;
                        mensaje += "\n Stock Solicitado: " + cantidad;

                    }
                    else {
                        mensaje = '';
                    }
                }
                if (kilos) {
                    if (kilos > item.Kilos_Litros) {
                        mensaje = "Insumo " + codigo_insumo + " stock insuficiente lote " + lote;
                        mensaje += "\n Stock Actual: " + item.Kilos_Litros;
                        mensaje += "\n Stock Solicitado: " + kilos;
                    }
                    else {
                        mensaje = '';
                    }
                }
            }
        });
        if (mensaje != '') {
            notif({
                msg: mensaje,
                type: "error",
                position: "center"
            });
            fila.find("#lote").focus();
        }
    }

    var dataTableDetalles;
    function CargarDetallesFormulaEnvasado() {
        $.fn.dataTable.ext.errMode = 'none';
        dataTableDetalles = $("#TablaDetallesEnvasado").DataTable({
            bPaginate: false,
            bFilter: false,
            destroy: true,
            responsive: true,
            autoWidth: true,
            bInfo: false,
            lengthChange: false,
            data: listadoInsumosConsumidos,
            columns: [
                {
                    title: "Codigo Insumo",
                    data: "Codigo_Insumo",
                    sClass: "mayusculas-texto",
                    width: "120px",
                    orderable: false
                },
                {
                    title: "Insumo",
                    data: "Descripcion",
                    sClass: "mayusculas-texto",
                    orderable: false
                },
                {
                    title: "Lote",
                    render: function () {
                        return '<input id="lote" onchange="VerificaStockInsumo($(this).parent().parent())" class="form-control">';
                    },
                    width: "100px",
                    orderable: false,
                },
                {
                    orderable: false,
                    render: function () {
                        return '<a class="btn btn-default btn-sm" onclick="Agregar_Lote_Insumo($(this))" title="Sirve para cargar otro numero de lote para el mismo insumo"><span class="glyphicon glyphicon-plus"></span></a>';
                    }
                },
                {
                    title: "Cantidad",
                    data: "Cantidad",
                    render: function (data, type, row, meta) {
                        let valor = parseFloat(parseFloat(data).toFixed(3));
                        if (row.Unidad_Medida == 'U' || row.Unidad_Medida == 'A')
                            return valor;
                        else
                            return "";
                    },
                    width: "100px",
                    orderable: false
                },
                {
                    orderable: false,
                    render: function (data, type, row, meta) {
                        if (row.Unidad_Medida == 'U' || row.Unidad_Medida == 'A')
                            return "<a class='btn btn-default btn-sm' onclick='Editar_Cantidad_Detalle_Insumo($(this))' title='Editar la cantidad consumida'><span class='glyphicon glyphicon-pencil'></span></a>";
                        else
                            return '';
                    }
                },
                {
                    title: "Kilos/Litros",
                    data: "Cantidad",
                    render: function (data, type, row, meta) {
                        let valor = parseFloat(parseFloat(data).toFixed(3));
                        if (row.Unidad_Medida == 'K' || row.Unidad_Medida == 'A')
                            return valor.toFixed(3);
                        else
                            return "";
                    },
                    width: "100px",
                    orderable: false
                },
                {
                    orderable: false,
                    render: function (data, type, row, meta) {
                        if (row.Unidad_Medida == 'K' || row.Unidad_Medida == 'A')
                            return "<a class='btn btn-default btn-sm' onclick='Editar_Kilos_Detalle_Insumo($(this))' title='Editar los kilos consumidos'><span class='glyphicon glyphicon-pencil'></span></a>";
                        else
                            return '';
                    }
                },
                {
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return "<a class='btn btn-danger btn-sm' onclick='Eliminar_Fila_Detalle_Insumo($(this))' title='Eliminar'><span class='glyphicon glyphicon-trash'></span></a>";
                    }
                }
            ],
            language: idiomaEspañol,
            columnDefs: [
                {
                    targets: [0, 1, 2, 3, 4, 5, 6, 7, 8],
                    createdCell: function (td, cellData, rowData, row, col) {
                        let col_id = '';
                        switch (col) {
                            case 0:
                                col_id = 'td_codigo_insumo';
                                break;
                            case 1:
                                col_id = 'td_descripcion';
                                break;
                            case 2:
                                col_id = 'td_lote';
                                break;
                            case 3:
                                col_id = 'td_agregar_lote';
                                break;
                            case 4:
                                col_id = 'td_cantidad';
                                break;
                            case 5:
                                col_id = 'td_editar_cantidad';
                                break;
                            case 6:
                                col_id = 'td_kilos';
                                break;
                            case 7:
                                col_id = 'td_editar_kilos';
                                break;
                            case 8:
                                col_id = 'td_eliminar_fila';
                                break;
                        }
                        $(td).attr('id', col_id);
                    }
                },
                {
                    className: "text-right",
                    targets: [4, 6, 8]
                }
            ],
            dom: 'Bfrtip',
            buttons: [

            ],
            order: [[0, "asc"]]
        });

        dataTableDetalles.on('error.dt', function (e, settings, techNote, message) {
            console.log('An error has been reported by DataTables: ', message);
        });
    }

    function Editar_Kilos_Detalle_Insumo(boton) {
        Confirmar_Edicion_Kilos_Detalle_Insumo();
        let tr = boton.parent().parent();
        let td = tr.find('#td_kilos');
        let kilos = parseFloat(td.html()).toFixed(3);
        if (isNaN(kilos))
            kilos = '';
        td.html('<input id="kilos_insumo_envasado" class="form-control" value="' + kilos +'" style="text-align:right;"></input>');
        $("#kilos_insumo_envasado").keyup(function (e) {
            if (e.keyCode == 13) {
                Confirmar_Edicion_Kilos_Detalle_Insumo();
            }
        });
        $("#kilos_insumo_envasado").select();
        $("#kilos_insumo_envasado").focus();
    }

    function Confirmar_Edicion_Kilos_Detalle_Insumo() {
        if ($("#kilos_insumo_envasado").length == 0)
            return;
        let td_actualizar = $("#kilos_insumo_envasado").parent();
        let kilos = parseFloat($("#kilos_insumo_envasado").val()).toFixed(3);
        if (isNaN(kilos))
            kilos = '';
        td_actualizar.html(kilos);
        VerificaStockInsumo(td_actualizar.parent());
    }

    function Editar_Cantidad_Detalle_Insumo(boton) {
        Confirmar_Edicion_Cantidad_Detalle_Insumo();
        let tr = boton.parent().parent();
        let td = tr.find('#td_cantidad');
        let cant = parseFloat(td.html()).toFixed(3);
        if (isNaN(cant))
            cant = '';
        td.html('<input id="cantidad_insumo_envasado" class="form-control" value="' + cant + '" style="text-align:right;"></input>');
        $("#cantidad_insumo_envasado").keyup(function (e) {
            if (e.keyCode == 13) {
                Confirmar_Edicion_Cantidad_Detalle_Insumo();
            }
        });
        $("#cantidad_insumo_envasado").select();
        $("#cantidad_insumo_envasado").focus();
    }

    function Confirmar_Edicion_Cantidad_Detalle_Insumo() {
        if ($("#cantidad_insumo_envasado").length == 0)
            return;
        let td_actualizar = $("#cantidad_insumo_envasado").parent();
        let cant = parseFloat($("#cantidad_insumo_envasado").val()).toFixed(3);
        if (isNaN(cant))
            cant = '';
        td_actualizar.html(cant);
        VerificaStockInsumo(td_actualizar.parent());
    }

    function Agregar_Lote_Insumo(boton) {
        Confirmar_Edicion_Kilos_Detalle_Insumo();
        Confirmar_Edicion_Cantidad_Detalle_Insumo();
        var tr = boton.parent().parent();
        var new_tr = tr.clone();
        new_tr.find('#lote').val('');
        new_tr.find('#td_kilos').html('');
        new_tr.find('#td_cantidad').html('');
        tr.after(new_tr);
        new_tr.find('#lote').focus();
    }

    function Eliminar_Fila_Detalle_Insumo(boton){
        boton.parent().parent().remove();
    }

    function ArmarArrayInsumosEnvasado() {
        Confirmar_Edicion_Kilos_Detalle_Insumo();
        Confirmar_Edicion_Cantidad_Detalle_Insumo();

        listadoDetalleInsumoEnvasadoForm = [];
        if ($('#TablaDetallesEnvasado .dataTables_empty').length == 0) {
            $('#TablaDetallesEnvasado tbody tr').each(function () {
                let codigo_insumo, cantidad, kilos, lote;

                codigo_insumo = $(this).find('#td_codigo_insumo').html();
                cantidad = parseInt($(this).find('#td_cantidad').html().replace(",", "."));
                kilos = parseFloat($(this).find('#td_kilos').html().replace(",", "."));
                lote = $(this).find('#lote').val();

                listadoDetalleInsumoEnvasadoForm.push({
                    Codigo_Insumo: codigo_insumo,
                    Cantidad: cantidad,
                    Kilos: kilos,
                    Lote: lote
                });
            });
        }
    }

    function ConfirmarEnvasadoAddOrEdit(Formulario) {
        let kilosReales = parseFloat($('#kilos_reales').val().replace(",", "."));
        let kilosEnvasado = parseFloat($('#Kilos_Reales_Envasado').val().replace(",", "."));
        let dateRegex = /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-.\/])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$/;

        if ($("#Fecha").val() == '') {
            notif({
                msg: "Ingrese una fecha",
                type: "warning",
                position: "center",
                multiline: true
            });
            $("#Fecha").select();
            $("#Fecha").focus();
            return false;
        } else if ($("#Fecha").val().length != 10) {
            notif({
                msg: "Ingrese una fecha válida",
                type: "error",
                position: "center",
                multiline: true
            });
            $("#Fecha").select();
            $("#Fecha").focus();
            return false;
        } else if (!dateRegex.test($("#Fecha").val())) {
            notif({
                msg: "Ingrese una fecha válida.",
                type: "error",
                position: "center"
            });
            $("#Fecha").select();
            $("#Fecha").focus();
            return false;
        }
        if (kilosReales != 0 && kilosEnvasado > kilosReales) {
            notif({
                msg: "No se puede envasar más kilos de los disponibles, revise el detalle",
                type: "warning",
                position: "center",
                multiline: true
            });
            return false;
        }
        let ProductoActual = '';
        let error = false;
        
        $('#FormulasEnvasadoTabla tr td:first-child').each(function () {
            let CeldaActual = $(this);
            ProductoActual = $(this).text().trim();
            let hayProductoVentaValido = false;
            for (var i in ListadoDetalles) {
                let productoVentas = ListadoDetalles[i].ProductoVentas;

                if (((productoVentas != null) ? productoVentas.trim() : null) == ProductoActual) {
                    hayProductoVentaValido = true;
                    ListadoDetalles[i].Lote = ProduccionActual.Lote;

                    let Vencimiento_Editable = CeldaActual.parent().find('.vencimientoEditable').val();
                    Vencimiento_Editable = Vencimiento_Editable == '' ? 0 : Vencimiento_Editable;
                    if (Vencimiento_Editable != '') {
                        ListadoDetalles[i].Vencimiento = Vencimiento_Editable;
                    }

                    let Cantidad_Editable = CeldaActual.parent().find('.cantidadEditable').val();
                    Cantidad_Editable = Cantidad_Editable == '' ? 0 : Cantidad_Editable;
                    let hormas_editable = CeldaActual.parent().find('.hormasEditable').val();
                    hormas_editable = hormas_editable == '' ? 0 : hormas_editable;
                    let Kilos_Editable = CeldaActual.parent().find('.kilosEditable').val().replace(",", ".");
                    Kilos_Editable = Kilos_Editable == '' ? 0 : parseFloat(parseFloat(Kilos_Editable).toFixed(3));
                    let KilosDesnudo_Editable = 0;

                    if (Cantidad_Editable == 0 && (hormas_editable != 0 || Kilos_Editable != 0)) {
                        notif({
                            msg: `Falta completar Piezas de ${ProductoActual}`,
                            type: "warning",
                            position: "center"
                        });
                        error = true;
                        return false;
                    }

                    if (Cantidad_Editable > 0) {
                        ListadoDetalles[i].Cantidad = parseFloat(parseFloat(Cantidad_Editable).toFixed(3));
                    }

                    if (hormas_editable > 0) {
                        ListadoDetalles[i].Hormas = parseFloat(parseFloat(hormas_editable).toFixed(3));
                    }

                    if (parseFloat(Kilos_Editable) > 0) {
                        ListadoDetalles[i].Kilos = Kilos_Editable;
                    }

                    if (CeldaActual.parent().find('.kilosDesnudoEditable').length > 0) {
                        KilosDesnudo_Editable = CeldaActual.parent().find('.kilosDesnudoEditable').val().replace(",", ".");
                        KilosDesnudo_Editable = KilosDesnudo_Editable == '' ? 0 : parseFloat(parseFloat(KilosDesnudo_Editable).toFixed(3));
                    }

                    if (parseFloat(KilosDesnudo_Editable) > 0) {
                        ListadoDetalles[i].KilosDesnudo = KilosDesnudo_Editable;
                    }

                    if (Envasa_sin_kilos == true && (Cantidad_Editable > 0 && Kilos_Editable <= 0)) {
                        notif({
                            msg: "Ingresó unidades en " + ProductoActual + " pero no ingresó kilos",
                            type: "warning",
                            position: "center",
                            multiline: true
                        });

                        error = true;
                        return false;
                    }
                }
            };

            if (!hayProductoVentaValido) {
                notif({
                    msg: "No hay ningún producto de ventas válido en el detalle",
                    type: "warning",
                    position: "center"
                });
                error = true;
                return false;
            }
        });

        if (error)
            return false;

        ArmarArrayInsumosEnvasado();

        if (($('#Kilos_Reales_Envasado').val() == "" || parseFloat($('#Kilos_Reales_Envasado').val()) == 0) && !Envasa_sin_kilos) {
            notif({
                msg: "Por favor, ingrese Kilos Reales.",
                type: "warning",
                position: "center"
            });
            $('#Kilos_Reales_Envasado').focus();
            return false;
        } else if (parseFloat($('#piezas-restantes').html() < 0)) {
            notif({
                msg: "Está intentando envasar más de lo disponible",
                type: "error",
                width: 500,
                timeout: 4000,
                multiline: true,
                position: "center"
            });
        } else {
            let kg, kg_desnudo, cantidad, hormas;

            //Hay que vaciar el div que contiene los inputs que llegan como datos al controller porque si
            //se realizan modificaciones en los campos y el div no se vacía, los cambios no se reflejan
            $('#DetallesEnvasado').html('');
            let filasVacias = 0;
            for (var j in ListadoDetalles) {

                if (ListadoDetalles[j].Cantidad)
                    cantidad = ListadoDetalles[j].Cantidad.toString().replace(".", ",");
                else
                    cantidad = 0;

                if (ListadoDetalles[j].Hormas)
                    hormas = ListadoDetalles[j].Hormas.toString().replace(".", ",");
                else
                    hormas = 0;

                if (ListadoDetalles[j].Kilos)
                    kg = ListadoDetalles[j].Kilos.toString().replace(".", ",");
                else
                    kg = 0;

                if (ListadoDetalles[j].KilosDesnudo)
                    kg_desnudo = ListadoDetalles[j].KilosDesnudo.toString().replace(".", ",");
                else
                    kg_desnudo = 0;

                if (cantidad != 0 && hormas != 0 && kg != 0) {
                    let posProdVenta = j;
                    j = j - filasVacias;
                    $('#DetallesEnvasado').append('<input type="text" name="Detalle_Envasado[' + j + '].Codigo_Interno_Formula" value="' + ListadoDetalles[posProdVenta].Codigo_Interno_Formula + '"/>' +
                        '<input type="text" name="Detalle_Envasado[' + j + '].Cantidad" value="' + cantidad + '"/>' +
                        '<input type="text" name="Detalle_Envasado[' + j + '].Hormas" value="' + hormas + '"/>' +
                        '<input type="text" name="Detalle_Envasado[' + j + '].Kilos" value="' + kg + '"/>' +
                        '<input type="text" name="Detalle_Envasado[' + j + '].Kilos_Desnudo" value="' + kg_desnudo + '"/>' +
                        '<input type="text" name="Detalle_Envasado[' + j + '].Vencimiento" value="' + ListadoDetalles[j].Vencimiento + '"/>');
                } else
                    filasVacias++;
            }
            
            $('#DetallesInsumoEnvasado').html('');
            for (var ic in listadoDetalleInsumoEnvasadoForm) {
                if (listadoDetalleInsumoEnvasadoForm[ic].Kilos)
                    kg = listadoDetalleInsumoEnvasadoForm[ic].Kilos.toString().replace(".", ",");
                else
                    kg = 0;
                if (listadoDetalleInsumoEnvasadoForm[ic].Cantidad)
                    cantidad = listadoDetalleInsumoEnvasadoForm[ic].Cantidad.toString().replace(".", ",");
                else
                    cantidad = 0;
                $('#DetallesInsumoEnvasado').append(
                    '<input type="text" name="Detalle_Insumo_Envasado[' + ic + '].Codigo_Insumo" value="' + listadoDetalleInsumoEnvasadoForm[ic].Codigo_Insumo + '"/>' +
                    '<input type="text" name="Detalle_Insumo_Envasado[' + ic + '].Cantidad" value="' + cantidad + '"/>' +
                    '<input type="text" name="Detalle_Insumo_Envasado[' + ic + '].Kilos" value="' + kg + '"/>' +
                    '<input type="text" name="Detalle_Insumo_Envasado[' + ic + '].Lote" value="' + listadoDetalleInsumoEnvasadoForm[ic].Lote + '"/>');
            }

            $('#DetallesDescarte').html('');
            if ($('#cb-no-envasar').prop('checked')) {
                $("#RestanteTabla tbody .tr-restante").each(function (i, item) {
                    $('#DetallesDescarte').append(
                        '<input type="text" name="restante[' + i + '].Motivo" value="' + $(this).find("#td-motivo").html() + '"/>' +
                        '<input type="text" name="restante[' + i + '].Hormas" value="' + $(this).find("#td-hormas").html().toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="restante[' + i + '].Kilos" value="' + $(this).find("#td-kilos").html().toString().replace(".", ",") + '"/>' +
                        '<input type="text" name="restante[' + i + '].Codigo_Insumo" value="' + $(this).find("#td-insumo").html() + '"/>');
                });
            }

            if ($('#DetallesEnvasado').html() == '' && $('#DetallesDescarte').html() == '' ) {
                notif({
                    msg: "No se asignaron kilos ni piezas para envasar, revise el detalle",
                    type: "warning",
                    position: "center",
                    multiline: true
                });
                return false;
            }

            $('#Humedad').val($('#Humedad').val().toString().replace(".", ","));
            $('#Kilos_Reales_Envasado').val($('#Kilos_Reales_Envasado').val().toString().replace(".", ","));

            $.validator.unobtrusive.parse(Formulario);
            if ($(Formulario).valid()) {
                $.ajax({
                    type: "POST",
                    url: "/Envasados/Envasar",
                    data: $(Formulario).serialize(),
                    success: function (data) {
                        if (data.success) {
                            notif({
                                msg: "Envasado Correctamente.",
                                type: "success",
                                position: "center"
                            });
                            setTimeout(function () {
                                if (siguiente_url) {
                                    window.location = siguiente_url;
                                }
                                else {
                                    window.location.reload();
                                }
                            }, 1000);
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center",
                                multiline: true
                            });
                        }
                    },
                    beforeSend: function (data) {
                        $('.ConfirmarEnvasado').attr('disabled', true);
                    },
                    complete: function (data) {
                        $('.ConfirmarEnvasado').attr('disabled', false);
                    }
                });
                return false;
            }
        }
    }

    var TotalInicial = parseInt(document.getElementById('Piezas-Obtenidas').textContent);
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}