﻿@using MVC_Produccion.Sesiones
@{

    ViewBag.Title = "Envasados : Listado";
}
<h2>Envasados</h2>
<table id="EnvasadosTabla" class="display compact" style="width:100%"></table>

<style>
    .dt-buttons .azul {
        background: #428bca !important;
        padding: 5px !important;
        color: #fff;
    }

    .fila-retenida {
        background-color: rgba(255, 0, 0, 0.2) !important;
        border-bottom-color: #d9534f !important;
    }

    .ret-label {
        color: #d9534f;
        font-weight: bold;
        font-size: 10px;
    }

    .ui-autocomplete {
        position: absolute;
        cursor: default;
        z-index: 9999999999999 !important;
    }
</style>

<!-- Modal Motivos -->
<div class="modal fade" id="modalMotivosAuto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:650px; min-height: 150px;">
        <div class="modal-content" id="ModalMotivosAuto" style="max-width:650px; min-height: 150px;">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="Titulo-Modal">Retener el envasado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="margin-bottom: 15px;">
                    <label class="noselect" id="Texto-Retener" style="color:#0a6cbe;">Retener: </label>
                    <input type="text" class="form-control" id="cantidad_retener" style="width:80px;display:inline-block;text-align:right;" />
                    <label style="color:#0a6cbe;">Unidades </label>
                    <input type="text" class="form-control" id="kilos_retener" style="width:80px;display:inline-block;text-align:right;" />
                    <label style="color:#0a6cbe;">Kilos </label>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="noselect" style="color:#0a6cbe;">Fecha: </label>
                    <input type="text" class="form-control" id="Fecha_Retenido" style="width:120px;display:inline-block;text-align:right;" />

                </div>
                <div style="margin-bottom: 15px;">
                    <label for="motivoAuto" style="color: #0a6cbe;">Motivo:</label>
                    <select style="width: 300px; text-align: left;display:inline-block;" id="select_motivos" class="form-control"></select>
                    <input style="width:300px;text-align:left;display:none;" id="motivoAuto" type="text" placeholder="Ingrese un nuevo motivo de retención" class="form-control" />
                    <input type="checkbox" id="carga" onclick="MostrarInput()" style="margin-left:10px;" />
                    <label for="carga" style="padding-left: 5px; margin-top: 10px; color: #0a6cbe">Cargar Nuevo</label>
                </div>
                <div id="div-articulo" hidden>
                    <div style="display: flex; margin-bottom: 15px; align-items: center;">
                        <div style="width:75px;display:inline-block;">
                            <label class="noselect" style="color:#0a6cbe; margin-bottom: 0px">Artículo: </label>
                        </div>
                        <div style="width:100px;display:inline-block;">
                            <div class="input-group">
                                <input type="text" id="Codigo_Insumo" name="Codigo_Insumo" class="form-control" style="width:80px;" />
                                <span class="input-group-addon"><a href="#" onclick="AbrirModalInsumos()"><span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                        <label class="control-label" style="font-weight: initial; margin-left: 25px !important; text-transform: capitalize; color: #0a6cbe" id="descripcion-insumo"></label>
                    </div>
                    <div style="margin-top:10px;">
                        <label for="LoteArticulo" style="color: #0a6cbe;">Lote Artículo:</label>
                        <input style="width:400px;text-align:left;display:inline-block;" id="LoteArticulo" type="text" placeholder="Ingrese un Lote" class="form-control" />
                    </div>
                </div>
                <div style="margin-top:10px;">
                    <label for="comentarioMotivo" style="color: #0a6cbe;">Comentario:</label>
                    <input style="width:400px;text-align:left;display:inline-block;" id="comentarioMotivo" type="text" placeholder="Ingrese un Comentario" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button id="confirmarMotivoAuto" data-url="Retener" class="btn btn-primary">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteEnvasado()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Rehabilitar-->
<div class="modal fade" id="modalRehabilitar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea rehabilitar el envasado?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="RehabilitarEnvasado()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarLiberar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:400px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-liberar" onclick="LiberarPorCalidad(false)">Confirmar</button>
                <button type="button" class="btn btn-info btn-liberar" onclick="LiberarPorCalidad(true)">Confirmar e Imprimir</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Envasado-->
<div class="modal fade" id="modalEnvasado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:70%">
        <div class="modal-content" id="ModalEnvasado">

        </div>
    </div>
</div>
<!-- Modal Liberar por Calidad-->
<div class="modal fade" id="modalLiberarPorCalidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:60%">
        <div class="modal-content" id="ModalLiberarPorCalidad">
        </div>
    </div>
</div>
@section scripts{
    <script>
        var listadoEnvasados = [];
        var Envasado = 0;
        var ProduccionActual = [];

        function MostrarInput() {
            let que_mostrar = $("#carga").prop('checked');
            console.log(que_mostrar);
            if (que_mostrar) {
                $("#select_motivos").hide();
                $("#motivoAuto").css('display','inline-block');
                $("#motivoAuto").focus();
            }
            else {
                $("#select_motivos").css('display', 'inline-block');
                $("#motivoAuto").hide();
            }
        }
        function VerificarFilaEnvasado(Lote) {
            $.ajax({
                type: "GET",
                url: "/Producciones/GetData/",
                data: {
                    Lote: Lote,
                    Codigo_Estado: -1
                },
                success: function (data) {
                    if (data.success) {
                        ProduccionActual = data.data[0];
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        function AbrirModalAddOrEdit(Codigo_Interno_Detalle) {
            let bandera = false;
            let Lote = [];
            $('#EnvasadosTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 0) {
                    if ($(this).html() == Codigo_Interno_Detalle) {
                        bandera = true;
                        $(this).parent('tr').find('td').each(function () {
                            if ($(this).index() == 1) {
                                Lote = $(this).html();
                            }
                        });
                    }
                }
            });
            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });
                return;
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "/ProduccionesQuesos/GetHistoricos/",
                    data: {
                        Lote: Lote
                    },
                    success: function (data) {
                        if (data.success) {
                            ProduccionActual = data.data[0];
                            $.ajax({
                                type: "GET",
                                url: "/Envasados/EditarEnvasado/",
                                data: {
                                    Codigo_Interno_Detalle: Codigo_Interno_Detalle,
                                    Lote: ""
                                },
                                success: function (data) {
                                    $('#ModalEnvasado').html(data);
                                    $.ajax({
                                        type: "GET",
                                        url: "/Envasados/GetDetallesEnvasado/",
                                        data: { Codigo_Interno_Envasado: $('#Codigo_Interno_Envasado').val() },
                                        dataType: "json",
                                        success: function (data) {
                                            if (data.success) {
                                                ListadoDetalles = data.data;
                                                dataTable = $("#FormulasEnvasadoTabla").DataTable({
                                                    "bPaginate": false,
                                                    "bFilter": false,
                                                    "destroy": true,
                                                    "responsive": true,
                                                    "autoWidth": true,
                                                    "bInfo": false,
                                                    "lengthChange": false,
                                                    data: ListadoDetalles,
                                                    "columns": [
                                                        {
                                                            "data": "ProductoVentas",
                                                            "title": "Producto Ventas",
                                                            "sClass": "mayusculas-texto"
                                                        },
                                                        {
                                                            "data": "Obtenidas_Por_Envasada",
                                                            "title": "Piezas Obtenidas por Envasado",
                                                            render: function (data) {
                                                                if (data == null) {
                                                                    return parseFloat(1).toFixed(3);

                                                                }
                                                                else {
                                                                    return parseFloat(data).toFixed(3);
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "data": "Cantidad",
                                                            "title": "Piezas Envasadas",
                                                            render: function (data) {
                                                                if (data == null) {
                                                                    return "";

                                                                }
                                                                else {
                                                                    return parseFloat(data).toFixed(3);
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "data": "Kilos",
                                                            "title": "Kilos",
                                                            render: function (data) {
                                                                if (data == null) {
                                                                    return "";

                                                                }
                                                                else {
                                                                    return parseFloat(data).toFixed(3);
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "language": idiomaEspañol,
                                                    "columnDefs": [
                                                        { className: "text-right", "targets": [1, 2, 3] }
                                                    ],
                                                    initComplete: function () {
                                                        $.ajax({
                                                            type: "GET",
                                                            url: "/ProduccionesQuesos/ObtenerRestantes/",
                                                            data: { Lote: ProduccionActual.Lote },
                                                            dataType: "json",
                                                            success: function (data) {
                                                                $('#kilos-restantes').html(data.kilosRestantes);
                                                                $('#Lote').val(ProduccionActual.Lote);
                                                                $('#LoteNuevo').html(ProduccionActual.Lote);
                                                                $('#piezas-restantes').html(data.piezasRestantes);
                                                                $('#Descripcion-Producto').html(ProduccionActual.Producto);
                                                                $('#KilosTotales').html("");
                                                                if (ProduccionActual.Kilos_Reales != null)
                                                                    $('#KilosTotales').append('<input type="text" class="form-control" name=""  id="Kilos_Reales_Envasado" value="' + ProduccionActual.Kilos_Reales + '" disabled/>');
                                                                else
                                                                    $('#KilosTotales').append('<input type="text" onkeyup="VerificarKilosReales()" class="form-control" name="Kilos_Reales_Envasado" id="Kilos_Reales_Envasado" />');
                                                                $('#Kilos_Reales_Envasado').numeric();
                                                                $('#Piezas-Obtenidas').html(ProduccionActual.Piezas_Obtenidas);
                                                                $('#modalEnvasado').modal('toggle');
                                                                $('#ConfirmarEnvasado').click(function () {
                                                                    ConfirmarModificarEnvasado($('#formEnvasado'));
                                                                });
                                                                if (ProduccionActual.Kilos_Reales != null) {
                                                                    $("#modalEnvasado").on('shown.bs.modal', function () {
                                                                        $('#Kilos_Reales_Envasado').focus();
                                                                    });
                                                                }
                                                                else
                                                                    $('#Fecha').focus();
                                                            }
                                                        });
                                                    }

                                                });
                                            }
                                            else {
                                                notif({
                                                    msg: data.message,
                                                    type: "error",
                                                    position: "center"
                                                });
                                            }
                                        }
                                    });
                                }
                            });
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
        }

        var EnvasadosTable = null;
        var liberacion_condicional = @ViewBag.Liberacion_Condicional.ToString().ToLower();
        function verMotivoRetencion(motivo, comentario) {
            notif({
                msg: `Motivo Retención: ${motivo} <br> Comentario: ${comentario}`,
                type: "info",
                position: "center",
                multiline: true,
                timeout: 8000,
                bgcolor: "#fa932d"
            })
        }
        function CargarEnvasados() {
            $.ajax({
                type: "GET",
                url: "/Envasados/GetData/",
                data: { Codigo_Fabrica: -1, Historico: false },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoEnvasados = data.data;

                        EnvasadosTable = $("#EnvasadosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            "responsive": true,
                            data: listadoEnvasados,
                            "columns": [
                                {
                                    "data": "Codigo_Interno_Detalle",
                                    "title": "Código",
                                    width: "45px",
                                    render: function (data, type, row, meta) {
                                        let motivo = row.Descripcion_Motivo_Retencion;
                                        let retenido = (motivo != null) && (motivo != '');
                                        return `<span class="${retenido ? "retenido" : ""}">${retenido ? "<span class='ret-label'>[RETENIDO]</span>" : ""} <span>${data}</span></span>`;
                                    }
                                },
                                {
                                    "data": "Lote",
                                    "title": "Lote",
                                    "className": "col-editable lote",
                                    // Fuerza que se alinee a la derecha
                                    createdCell: cell => $(cell).css('text-align', 'right'),
                                    width: '100px'
                                },
                                {
                                    "data": "Producto_Ventas",
                                    "title": "Producto Ventas",
                                    "sClass": "mayusculas-texto",
                                    width: '160px'
                                },
                                {
                                    "data": "FechaProduccion",
                                    "title": "Fecha Elaboración",
                                    "orderable": true,
                                    "render": function (data) {
                                        return moment(data).format('DD/MM/YYYY');
                                    },
                                },
                                {
                                    "data": "Fecha",
                                    "title": "Fecha Envasado",
                                    "orderable": true,
                                    "render": function (data) {
                                        return moment(data).format('DD/MM/YYYY');
                                    }
                                },
                                {
                                    "data": "Cantidad",
                                    "title": "Cantidad",
                                    render: function (data) {
                                        if (data == null || parseFloat(data) < 0)
                                            return "";
                                        else
                                            return parseFloat(data).toFixed(3);
                                    },
                                    width: '100px',
                                },
                                {
                                    "data": "Kilos",
                                    "title": "Kilos/Litros",
                                    render: function (data) {
                                        if (data == null || parseFloat(data) < 0)
                                            return "";
                                        else
                                            return parseFloat(data).toFixed(3);
                                    },
                                    width: '100px',
                                },
                                {
                                    "data": "Humedad",
                                    "title": "Humedad",
                                    "className": "col-editable humedad",
                                    render: function (data) {
                                        if (data == null)
                                            return "";
                                        else
                                            return parseFloat(data).toFixed(3);
                                    },
                                    width: '50px',
                                },
                                {
                                    "data": "Envasado_Completo",
                                    "title": "Envasado Completo",
                                    render: function (data) {
                                        if (data == null)
                                            return "";
                                        else
                                            return data;
                                    },
                                    width: '150px',
                                },
                                {
                                    data: "Codigo_Interno_Detalle",
                                    render: function (data, type, row, meta) {
                                        let motivo = row.Descripcion_Motivo_Retencion;
                                        let retenido = (motivo != null) && (motivo != '');
                                        let res = "";
                                        if (retenido)
                                            res += "<a class='btn btn-success btn-sm' onclick='AbrirModalRehabilitar(" + data + ")'><span class='glyphicon glyphicon-refresh'></span> Rehabilitar</a>";
                                        return res;
                                    },
                                    orderable: false,
                                    width: '80px',
                                    visible: !liberacion_condicional,
                                },
                                {
                                    data: "Codigo_Interno_Detalle",
                                    render: function (data, type, row, meta) {
                                        let res = "";
                                        res += `<a class='btn btn-default btn-sm' onclick='AbrirProcesarEnvasado(${data}, "Decomisar")'><span class='glyphicon glyphicon-refresh'></span> Decomisar</a>`;
                                        res += `<a class='btn btn-default btn-sm' onclick='AbrirProcesarEnvasado(${data}, "Reprocesar")'><span class='glyphicon glyphicon-refresh'></span> Reprocesar</a>`;
                                        return res;
                                    },
                                    orderable: false,
                                    width: '200px',
                                    visible: !liberacion_condicional,
                                },
                                {
                                    data: "Codigo_Interno_Detalle",
                                    width: "10%",
                                    render: function (data, type, row, meta) {
                                        let motivo = new String(row.Descripcion_Motivo_Retencion ?? "").trim();
                                        let comentario = new String(row.Comentario_Retencion ?? "").trim();
                                        let retenido = (motivo != null) && (motivo != "");
                                        let res = "";
                                        @{if (Sesion.UsuarioActual.Rol.ToLower() == "administrador" || !ViewBag.configuraciones.Requiere_Rol_Administrador || !ViewBag.configuraciones.Utiliza_Login)
                                        {
                                            <text>
                                                res += "<a class='btn btn-danger btn-sm' onclick='AbrirModalDelete(" + data + ")'><span class='glyphicon glyphicon-trash'></span></a>";
                                            </text>
                                            }
                                        }
                                        return res + (!retenido ? `<a class='btn btn-danger btn-sm' onclick='AbrirProcesarEnvasado(${data}, "Retener")'><span class='glyphicon glyphicon-warning-sign'></span> Retener</a>` : `<a href='#' onclick="verMotivoRetencion('${motivo}', '${comentario}')" class='retenido text-center' style='color: black; text-decoration: underline; font-weight: medium;'>Ver Motivo</a>`);
                                    },
                                    orderable: false,
                                    width: '120px',
                                    visible: !liberacion_condicional,
                                }
                            ],
                            "columnDefs": [
                                {
                                    className: "text-right",
                                    targets: [5, 6, 7]
                                },
                                {
                                    className: "text-center",
                                    targets: [0, 3, 4, 8, 9]
                                }
                            ],
                            order: [[3, 'desc'], [4, 'desc']],
                            language: idiomaEspañol,
                            dom: 'Bfrtip',
                            buttons: [
                                {
                                    text: 'Liberar por Calidad <span class="glyphicon glyphicon-paste">',
                                    className: 'verde',
                                    action: function () {
                                        AbrirModalVerificarLiberado();
                                    },
                                },
                                {
                                    text: 'Liberar Todo <span class="glyphicon glyphicon-arrow-right">',
                                    className: 'azul liberar_todo',
                                    action: function () {
                                        AbrirModalVerificarLiberado(true);
                                    },
                                },
                                {
                                    text: 'Refrescar <span class="glyphicon glyphicon-refresh">',
                                    className: '',
                                    action: function () {
                                        CargarEnvasados();
                                    }
                                }
                            ],
                            select: 'multiple',
                            drawCallback: function (settings) {
                                if (liberacion_condicional == true)
                                    $('.liberar_todo').hide();
                            },
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();

                                let filasRetenidas = $("#EnvasadosTabla .retenido").parent().parent();

                                for (let index = 0; index < filasRetenidas.length; index++) {

                                    let fila = $(filasRetenidas[index]);

                                    let retenido = 'fila-retenida';

                                    if (!fila.hasClass(retenido))
                                        fila.addClass(retenido);
                                }

                                var editor = new ControlEditable(
                                    "#EnvasadosTabla td.col-editable.humedad",
                                    "/Envasados/GetData",
                                    "Humedad"
                                );

                                var editor2 = new ControlEditable(
                                    "#EnvasadosTabla td.col-editable.lote",
                                    "/Envasados/DetalleEnvasadoLote",
                                    "Lote"
                                );

                                editor.loadEditor();
                                editor2.loadEditor();
                            }
                        });


                        EnvasadosTable.on('draw.dt', function () {

                            var editor = new ControlEditable(
                                "#EnvasadosTabla td.col-editable.humedad",
                                "/Envasados/GetData",
                                "Humedad"
                            );

                            var editor2 = new ControlEditable(
                                "#EnvasadosTabla td.col-editable.lote",
                                "/Envasados/DetalleEnvasadoLote",
                                "Lote"
                            );

                            editor.loadEditor();
                            editor2.loadEditor();
                        });

                    }
                }
            });
        }

        $('#motivoAuto').click(function (e) {
            if (e.keyCode == 13) {

                $("#confirmarMotivoAuto").click();

            }
        });

        $("#confirmarMotivoAuto").click(function (e) {
            let comentario = $("#comentarioMotivo").val();
            let motivo = $("#select_motivos").val();
            if ($("#carga").prop('checked'))
                motivo = $("#motivoAuto").val();
            if (motivo) motivo = new String(motivo).trim();

            let kg, cantidad, fecha;
            fecha = $("#Fecha_Retenido").val();
            cantidad = parseFloat($('#cantidad_retener').val().replace(',', '.'));
            kg = parseFloat($('#kilos_retener').val().replace(',', '.'));

            if (cantidad > reteniendo_cantidad || cantidad <= 0) {
                notif({
                    msg: 'La cantidad debe estar entre 0 y ' + reteniendo_cantidad,
                    type: "error",
                    position: "center"
                });
                return;
            }

            if (kg > reteniendo_kg || kg <= 0) {
                notif({
                    msg: 'Los kilos deben estar entre 0 y ' + reteniendo_kg,
                    type: "error",
                    position: "center"
                });
                return;
            }
            let insumo = $("#Codigo_Insumo").val();
            let es_reproceso = $("#div-articulo").hasClass("reproceso");
            if (!insumo && es_reproceso) {
                notif({
                    msg: 'Debe Seleccionar un Articulo',
                    type: "error",
                    position: "center"
                });

                return;
            }

            if (motivo != null) {
                if (motivo) {
                    let dataForm = new FormData();

                    dataForm.append("CodigoDetalle", reteniendoEnvasado);
                    dataForm.append("MotivoRetencion", motivo);
                    dataForm.append("Kilos", kg.toString().replace('.', ','));
                    dataForm.append("Cantidad", cantidad.toString().replace('.', ','));
                    dataForm.append("Fecha",fecha);
                    dataForm.append("ComentarioRetencion", comentario);
                    dataForm.append("InsumoReproceso", insumo);
                    dataForm.append("LoteInsumoReproceso", $("#LoteArticulo").val());

                    let url = `/Envasados/${$("#confirmarMotivoAuto").data("url")}`;
                    $.ajax({
                        type: "POST",
                        url: url,
                        processData: false,
                        contentType: false,
                        data: dataForm,
                        success: function (data) {
                            if (data.success == true) {
                                notif({
                                    msg: data.message,
                                    type: "success",
                                    position: "center"
                                });
                                location.reload(true);
                            } else {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }
                else {
                    notif({
                        msg: "Para rechazar el envasado debe proporcionar un motivo",
                        type: "error",
                        position: "center"
                    });
                }
            }
        });

        var reteniendoEnvasado = null;
        var reteniendo_kg = 0;
        var reteniendo_cantidad = 0;

        function AbrirProcesarEnvasado(envasado, movimiento) {
            if (movimiento != "Reprocesar") {
                $("#div-articulo").hide();
                $("#div-articulo").removeClass("reproceso");
            }

            if (movimiento == "Reprocesar") {
                $("#Titulo-Modal").html("Reprocesar Envasado");
                $("#Texto-Retener").html("Reprocesar: ");
                $("#div-articulo").show();
                $("#div-articulo").addClass("reproceso");
            } else if (movimiento == "Decomisar") {
                $("#Titulo-Modal").html("Decomisar Envasado");
                $("#Texto-Retener").html("Decomisar: ");
            } else if (movimiento == "Retener") {
                $("#Titulo-Modal").html("Retener Envasado");
                $("#Texto-Retener").html("Retener: ");
            }
            $("#confirmarMotivoAuto").attr("data-url", movimiento);
            $('#modalMotivosAuto').modal('toggle');

            reteniendo_kg = 0;
            reteniendo_cantidad = 0;
            let envasados = EnvasadosTable.data();
            for (env in envasados) {
                if (envasados[env].Codigo_Interno_Detalle == envasado) {
                    reteniendo_kg = envasados[env].Kilos;
                    reteniendo_cantidad = envasados[env].Cantidad;
                    $('#kilos_retener').val(reteniendo_kg);
                    $('#cantidad_retener').val(reteniendo_cantidad);
                    break;
                }
            }

            ObtenerMotivosRetencion(envasado);
        }

        function ObtenerMotivosRetencion(envasado) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetData", "MotivosRetencion")",
                success: function (data) {
                    var motivos = data.data.filter(function (elemento) {
                        return elemento.Tipo == "Calidad";
                    });

                    $("#select_motivos").html("");
                    $.each(motivos, function (i, registro) {
                        $("#select_motivos").append('<option value=' + registro.Descripcion + '>' + registro.Descripcion + '</option>');
                    });

                    let motivosN = [];

                    for (let motivo in motivos) {
                        let motivoData = motivos[motivo];
                        if (motivoData)
                            motivosN.push(motivoData.Descripcion);
                    }
                    if (motivosN.length > 0) {
                        $('#motivoAuto').autocomplete({
                            source: motivosN
                        });
                    }
                    reteniendoEnvasado = envasado;
                }
            });
        }

        var liberarTodo = false;
        function AbrirModalVerificarLiberado(todo = false) {
            liberarTodo = todo;

            if (liberarTodo) $('#modalVerificarLiberar').modal('toggle');

            if (!liberarTodo) {
                let bandera = false;
                $('#EnvasadosTabla').find('tr.selected').find('td').each(function () {
                    if ($(this).index() == 0)
                        bandera = true;
                });
                if (bandera == false) {
                    notif({
                        msg: "Por favor seleccione un registro de la tabla.",
                        type: "warning",
                        position: "center"
                    });
                    return;
                } else
                    $('#modalVerificarLiberar').modal('toggle');
            }
        }

        function AbrirModalDelete(Codigo_Interno_Envasado) {
            Envasado = Codigo_Interno_Envasado;
            $('#modalDelete').modal('toggle');
        }
        function AbrirModalDecomiso(Codigo_Interno_Envasado) {
            Envasado = Codigo_Interno_Envasado;
            $('#modalDecomiso').modal('toggle');
        }
        function AbrirModalReproceso(Codigo_Interno_Envasado) {
            Envasado = Codigo_Interno_Envasado;
            $('#modalReproceso').modal('toggle');
        }
        function AbrirModalRehabilitar(Codigo_Interno_Envasado) {
            Envasado = Codigo_Interno_Envasado;
            $('#modalRehabilitar').modal('toggle');
        }
        function RehabilitarEnvasado() {
            $.ajax({
                type: "POST",
                url: "/Envasados/Rehabilitar/",
                data: { Codigo_Interno_Detalle: Envasado },
                success: function (data) {
                    if (data.success) {
                        $('#modalRehabilitar').modal('hide');
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        CargarEnvasados();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        function LiberarPorCalidad(imprimir) {
            let bandera = false;
            let Fila = null;
            let codigos_liberar = []
            if (!liberarTodo) {
                $('#EnvasadosTabla tr.selected td').each(function () {
                    if ($(this).index() == 0) {
                        Fila = $(this).parent();
                        bandera = true;
                    }
                });
                if (Fila)
                    if (Fila.hasClass('fila-retenida'))
                        bandera = false;

                if ((bandera == false) && Fila.hasClass('fila-retenida')) {
                    notif({
                        msg: "No se puede liberar un envasado retenido",
                        type: "warning",
                        position: "center"
                    });
                    return;
                }
                else if (bandera == false) {
                    notif({
                        msg: "Por favor seleccione un registro de la tabla.",
                        type: "warning",
                        position: "center"
                    });
                    return;
                }
            }

            let liberar = "tr.selected:not('.fila-retenida')";

            $('.btn-liberar').attr("disabled", true);
            $('.azul').attr("disabled", true);

            let liberadosFilas = $('#EnvasadosTabla').find(liberar).find('td');
            if (liberarTodo)
                liberadosFilas = liberadosFilas = listadoEnvasados.filter(e => !e.Descripcion_Motivo_Retencion);
            // inicializo la fecha con la que se van a liberar los envasados
            // inicia en estado invalido para validar luego
            let fechaLiberados = "Invalid date";

            // si hay para liberar pido una fecha de liberado
            if (liberadosFilas.length > 0) {

                // mientras el usuario ingrese una fecha invalida trato de
                // pedir otra para ajustarla al formato que necesito DD/MM/AAAA
                // si da como respuesta null significa que cancelo la operación
                while (fechaLiberados === "Invalid date") {

                    let now = new moment().format("DD/MM/YYYY");

                    // pido la fecha de liberado, por defecto hoy
                    let userInput = prompt("Ingrese una fecha de liberación", now);

                    // si no cancelo la operacion valido
                    if (userInput != null) {

                        userInput = new moment(userInput.trim(), "DD/MM/YYYY").format("DD/MM/YYYY");

                        if (userInput === "Invalid date")
                            alert("La fecha ingresada debe respetar el formato DD/MM/AAAA");

                    }

                    fechaLiberados = userInput;

                }

            }

            else {

                // cancelo operacion
                fechaLiberados = null;

            }

            // si no fue cancelada la operacion y es posible, libero
            if (fechaLiberados != null) {
                if (liberarTodo) {
                    for (let envasado of liberadosFilas) {
                        let codigo = envasado.Codigo_Interno_Detalle;
                        console.log("Detalle Liberado: ", codigo);
                        codigos_liberar.push(codigo);

                    };
                } else {
                    liberadosFilas.each(function () {
                        if ($(this).index() == 0) {
                            let codigo = $(this).text().trim();
                            console.log("Detalle Liberado: ", codigo);
                            codigos_liberar.push(codigo);
                        }
                    });
                }
                $.ajax({
                    type: "POST",
                    url: "/Envasados/LiberarPorCalidad",
                    data: { codigos: codigos_liberar, date: fechaLiberados },
                    success: function (data) {
                        if (data.success) {
                            $('#modalVerificarLiberar').modal('hide');
                            $('div.dataTables_filter input').focus();
                            notif({
                                msg: data.message,
                                type: "success",
                                position: "center",
                                multiline: true
                            });
                            if (imprimir) {
                                let url = "/Listados/Impresion_Etiquetas_Liberados?codigos=" + JSON.stringify(codigos_liberar)
                                window.open(url);
                            }
                        } else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center",
                                multiline: true
                            });
                        }
                        CargarEnvasados();
                    },
                    error: function (err) {
                        console.log("Error al liberar: ", err);
                    },
                    complete: function (data) {
                        $('.btn-liberar').attr("disabled", false);
                    }
                });

            } else {
                $('.btn-liberar').attr("disabled", false);
                $('.azul').attr("disabled", false);
            }
            liberarTodo = false;
            $("#modalVerificarLiberar").modal("toggle");
            
        }
        function DeleteEnvasado() {
            $.ajax({
                type: "POST",
                url: "/Envasados/Delete/",
                data: { Codigo_Interno_Detalle: Envasado },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                        CargarEnvasados();

                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        $("#Codigo_Insumo").keyup(function (e) {
            if (e.keyCode == 13) {
                $.ajax({
                    type: "GET",
                    url: "/Insumos/GetOne/",
                    data: { Codigo_Insumo: $("#Codigo_Insumo").val() },
                    success: function (data) {
                        $('#Codigo_Insumo').val(data.data[0].Codigo_Insumo);
                        $('#descripcion-insumo').html(data.data[0].Descripcion);
                    }
                });
            }
        });

        $(document).ready(function () {
            CargarEnvasados();

            $("#Fecha_Retenido").datepicker().datepicker('setDate', new Date());
        });
    </script>
}


