﻿@using MVC_Produccion.Sesiones
@{
    ViewBag.Title = "Liberados Por Calidad";
}
<h2>Liberados Por Calidad</h2>
<table id="EnvasadosTabla" class="display compact" style="width:100%"></table>
<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteEnvasado()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarLiberar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button t ype="button" class="btn btn-success btn-liberar" onclick="LiberarPorCalidad()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Envasado-->
<div class="modal fade" id="modalEnvasado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:70%">
        <div class="modal-content" id="ModalEnvasado">

        </div>
    </div>
</div>
<!-- Modal Liberar por Calidad-->
<div class="modal fade" id="modalLiberarPorCalidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:60%">
        <div class="modal-content" id="ModalLiberarPorCalidad">
        </div>
    </div>
</div>
@section scripts{
    <script>
        var listadoEnvasados = [];
        var Envasado = 0;
        var ProduccionActual = [];
        function VerificarFilaEnvasado(Lote) {
            var x = $.ajax({
                type: "GET",
                url: "/Producciones/GetData/",
                data: {
                    Lote: Lote,
                    Codigo_Estado: -1
                },
                success: function (data) {
                    if (data.success) {
                        ProduccionActual = [];
                        ProduccionActual = data.data[0];
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        function AbrirModalAddOrEdit(Codigo_Interno_Detalle) {
            var bandera = false;
            var Lote = [];
            $('#EnvasadosTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 0) {
                    if ($(this).html() == Codigo_Interno_Detalle) {
                        bandera = true;
                        $(this).parent('tr').find('td').each(function () {
                            if ($(this).index() == 1) {
                                Lote = $(this).html();
                            }
                        });
                    }
                }
            });
            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });
                return;
            }
            else {
                var x = $.ajax({
                    type: "GET",
                    url: "/ProduccionesQuesos/GetHistoricos/",
                    data: {
                        Lote: Lote
                    },
                    success: function (data) {
                        if (data.success) {
                            ProduccionActual = [];
                            ProduccionActual = data.data[0];
                            $.ajax({
                                type: "GET",
                                url: "/Envasados/EditarEnvasado/",
                                data: {
                                    Codigo_Interno_Detalle: Codigo_Interno_Detalle,
                                    Lote: ""
                                },
                                success: function (data) {
                                    $('#ModalEnvasado').html(data);
                                    var x = $.ajax({
                                        type: "GET",
                                        url: "/Envasados/GetDetallesEnvasado/",
                                        data: { Codigo_Interno_Envasado: $('#Codigo_Interno_Envasado').val() },
                                        dataType: "json",
                                        success: function (data) {
                                            if (data.success) {
                                                ListadoDetalles = [];
                                                for (var i in data.data) {
                                                    ListadoDetalles.push(data.data[i]);
                                                }
                                                dataTable = $("#FormulasEnvasadoTabla").DataTable({
                                                    "bPaginate": false,
                                                    "bFilter": false,
                                                    "destroy": true,
                                                    "responsive": true,
                                                    "autoWidth": true,
                                                    "bInfo": false,
                                                    "lengthChange": false,
                                                    data: ListadoDetalles,
                                                    "columns": [
                                                        {
                                                            "data": "ProductoVentas",
                                                            "title": "Producto Ventas",
                                                            "sClass": "mayusculas-texto"
                                                        },
                                                        {
                                                            "data": "Obtenidas_Por_Envasada",
                                                            "title": "Piezas Obtenidas por Envasado",
                                                            render: function (data) {
                                                                if (data == null) {
                                                                    return parseFloat(1).toFixed(3);

                                                                }
                                                                else {
                                                                    return parseFloat(data).toFixed(3);
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "data": "Cantidad",
                                                            "title": "Piezas Envasadas",
                                                            render: function (data) {
                                                                if (data == null) {
                                                                    return "";

                                                                }
                                                                else {
                                                                    return parseFloat(data).toFixed(3);
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "data": "Kilos",
                                                            "title": "Kilos",
                                                            render: function (data) {
                                                                if (data == null) {
                                                                    return "";

                                                                }
                                                                else {
                                                                    return parseFloat(data).toFixed(2);
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "language": idiomaEspañol,
                                                    "columnDefs": [
                                                            { className: "text-right", "targets": [1, 2, 3] }
                                                    ],
                                                    initComplete: function () {
                                                        var y = $.ajax({
                                                            type: "GET",
                                                            url: "/ProduccionesQuesos/ObtenerRestantes/",
                                                            data: { Lote: ProduccionActual.Lote },
                                                            dataType: "json",
                                                            success: function (data) {
                                                                $('#kilos-restantes').html("");
                                                                $('#kilos-restantes').html(data.kilosRestantes);
                                                                $('#Lote').val("");
                                                                $('#Lote').val(ProduccionActual.Lote);
                                                                $('#LoteNuevo').html("");
                                                                $('#LoteNuevo').html(ProduccionActual.Lote);
                                                                $('#piezas-restantes').html("");
                                                                $('#piezas-restantes').html(data.piezasRestantes);
                                                                $('#Descripcion-Producto').html("");
                                                                $('#Descripcion-Producto').html(ProduccionActual.Producto);
                                                                $('#KilosTotales').html("");
                                                                if (ProduccionActual.Kilos_Reales != null)
                                                                    $('#KilosTotales').append('<input type="text" class="form-control" name=""  id="Kilos_Reales_Envasado" value="' + ProduccionActual.Kilos_Reales + '" disabled/>');
                                                                else
                                                                    $('#KilosTotales').append('<input type="text" onkeyup="VerificarKilosReales()" class="form-control" name="Kilos_Reales_Envasado" id="Kilos_Reales_Envasado" />');
                                                                $('#Kilos_Reales_Envasado').numeric();
                                                                $('#Piezas-Obtenidas').html("");
                                                                $('#Piezas-Obtenidas').html(ProduccionActual.Piezas_Obtenidas);
                                                                $('#modalEnvasado').modal('toggle');
                                                                $('#ConfirmarEnvasado').click(function () {
                                                                    ConfirmarModificarEnvasado($('#formEnvasado'));
                                                                });
                                                                if (ProduccionActual.Kilos_Reales != null) {
                                                                    $("#modalEnvasado").on('shown.bs.modal', function () {
                                                                        $('#Kilos_Reales_Envasado').focus();
                                                                    });
                                                                }
                                                                else
                                                                    $('#Fecha').focus();
                                                            }
                                                        });
                                                    }

                                                });
                                            }
                                            else {
                                                notif({
                                                    msg: data.message,
                                                    type: "error",
                                                    position: "center"
                                                });
                                            }
                                        }
                                    });
                                }
                            });
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
        }
        function CargarEnvasados() {
            $.ajax({
                type: "GET",
                url: "/Envasados/GetData/",
                data : { Codigo_Fabrica : -1, Historico : true},
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoEnvasados = [];
                        for (var i in data.data) {
                            listadoEnvasados.push(data.data[i]);
                        }
                        dataTable = $("#EnvasadosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            "responsive": true,
                            data: listadoEnvasados,
                            "columns": [
                                 {
                                     "data": "Codigo_Interno_Detalle",
                                     "title": "Código",
                                     width: "15%"
                                 },
                                {
                                    "data": "Lote",
                                    "title": "Lote",
                                    // Fuerza que se alinee a la derecha
                                    createdCell: cell => $(cell).css('text-align', 'right'),
                                },
                                {
                                    "data": "Producto_Ventas",
                                    "title": "Producto Ventas",
                                    "sClass": "mayusculas-texto"
                                },
                                {
                                    "data": "Fecha",
                                    "title": "Fecha",
                                    "render": function (data) { return moment(data).format('DD/MM/YYYY'); }
                                },
                                {
                                    "data": "Cantidad",
                                    "title": "Cantidad",
                                    render: function (data) {
                                        if (data == null || parseFloat(data) < 0)
                                            return "";
                                        else
                                            return parseFloat(data).toFixed(0);
                                    }
                                },
                                {
                                    "data": "Kilos",
                                    "title": "Kilos/Litros",
                                    render: function (data) {
                                        if (data == null || parseFloat(data) < 0)
                                            return "";
                                        else
                                            return parseFloat(data).toFixed(4);
                                    }
                                },
                                {
                                    "data": "Humedad",
                                    "title": "Humedad",
                                    render: function (data) {
                                        if (data == null)
                                            return "";
                                        else
                                            return parseFloat(data).toFixed(4);
                                    }
                                },
                                {
                                    "data": "Envasado_Completo",
                                    "title": "Envasado Completo",
                                    render: function (data) {
                                        if (data == null)
                                            return "";
                                        else
                                            return data;
                                    }
                                },
                                 @{
                                    if (Sesion.UsuarioActual.Rol.ToLower() == "administrador" || !ViewBag.configuraciones.Requiere_Rol_Administrador  || !ViewBag.configuraciones.Utiliza_Login)
                                    {
                                        <text>
                                            {
                                                "data": "Codigo_Interno_Detalle",
                                                "title": "Herramientas",
                                                width: "10%",
                                                "render": function (data) {
                                                    return "<a class='btn btn-danger btn-sm' onclick='AbrirModalDelete(" + data + ")'><span class='glyphicon glyphicon-trash'></span></a>";
                                                    /*"<a class='btn btn-default btn-sm' onclick='AbrirModalAddOrEdit(" + data + ")'><span class='glyphicon glyphicon-pencil'></span></a>" +*/
                                                },
                                            }
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            {
                                                "title": "",
                                                "render": function (data) {
                                                    return "";
                                                }
                                            }
                                        </text>
                                    }
                                }
                             
                            ],
                            "columnDefs": [
                                { className: "text-right", "targets": [4, 5, 6] },
                                { className: "text-center", "targets": [0, 1, 3, 7, 8] }
                            ],
                            "order": [[3, 'desc']],
                            "language": idiomaEspañol,
                            select: 'multiple',
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            }
                        });
                    }
                }
            });
        }
        function AbrirModalVerificarLiberado() {
            var bandera = false;
            var Codigo_Interno_Detalle = 0;
            $('#EnvasadosTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0)
                    bandera = true;
            });
            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });
                return;
            } else
                $('#modalVerificarLiberar').modal('toggle');
        }
        function AbrirModalDelete(Codigo_Interno_Envasado) {
            Envasado = Codigo_Interno_Envasado;
            $('#modalDelete').modal('toggle');
        }
        function LiberarPorCalidad() {
            var bandera = false;
            var Codigo_Interno_Detalle = 0;
            $('#EnvasadosTabla tr.selected td').each(function () {
                if ($(this).index() == 0) {
                    Codigo_Interno_Detalle = $(this).html();
                    bandera = true;
                }
            });
            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });
                return;
            }
            else {
                $('.btn-liberar').attr("disabled", true)
                var error = "";
                let codigos_liberar =[]
                $('#EnvasadosTabla').find('tr.selected').find('td').each(function () {
                    if ($(this).index() == 0) {
                        codigos_liberar.push($(this).html());
                    }
                });
                console.log(codigos_liberar);
                $.ajax({
                    type: "POST",
                    url: "/Envasados/LiberarPorCalidad",
                    data: { codigos: codigos_liberar },
                    success: function (data) {
                        console.log(data);
                        if (data.success) {
                            $('#modalVerificarLiberar').modal('hide');
                            $('div.dataTables_filter input').focus();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                        CargarEnvasados();
                    },
                    complete: function (data) {
                        $('.btn-liberar').attr("disabled", false)
                    }
                });
            }
            notif({
                msg: "Registro/s liberado/s satisfactoriamente.",
                type: "success",
                position: "center"
            });
        }
        function DeleteEnvasado() {
            $.ajax({
                type: "POST",
                url: "/Envasados/Delete/",
                data: { Codigo_Interno_Detalle: Envasado },
                success: function (data) {
                    $('#modalDelete').modal('hide');
                    if (data.success) {
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        CargarEnvasados();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        $(document).ready(function () {
            CargarEnvasados();
        });
    </script>
}


