﻿@model MVC_Produccion.ViewModels.LocalViewModels.LiberarPorCalidadModel
@using MVC_Produccion.ContextoProduccion
@{
    Layout = null;

}

<div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
    <h4 class="modal-title" id="exampleModalLabel">Liberar por Calidad</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    @using (Html.BeginForm("LiberarPorCalidad", "Envasados", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "FormLiberar" }))
    {
        @Html.EditorFor(model => model.idUsuario, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
        @Html.EditorFor(model => model.Codigo_Interno_Envasado, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })

        <div class="col-md-12 caja-contenedora flexible2">
            <div class="col-md-12 form-medio">
                <div class="col-md-5 form-medio">
                    <div class="col-md-7 form-medio">
                        @Html.LabelFor(model => model.Numero_Comprobante, "Número de Comprobante:", new { @class = "control-label" }):
                    </div>

                    <div class="col-md-4 form-medio">
                        @Html.EditorFor(model => model.Numero_Comprobante, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                        @Html.ValidationMessageFor(model => model.Numero_Comprobante)
                    </div>
                </div>    
                <div class="col-md-4 form-medio">
                    <div class="col-md-7 form-medio">
                        @Html.LabelFor(model => model.Tipo_Comprobante, "Tipo Comprobante:", new { @class = "control-label" }):
                    </div>

                    <div class="col-md-3 form-medio">
                        @Html.DropDownListFor(model => model.Tipo_Comprobante, ViewBag.Tipo_Comprobante as IEnumerable<SelectListItem>, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Tipo_Comprobante)
                    </div>
                </div> 
                <div class="col-md-3 form-medio">
                    <div class="col-md-4 form-medio">
                        @Html.LabelFor(model => model.Prefijo, "Prefijo:", new { @class = "control-label" }):
                    </div>

                    <div class="col-md-8 form-medio">
                        @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right" } })
                        @Html.ValidationMessageFor(model => model.Prefijo)
                    </div>
                </div>      
            </div>

            <br />

            <div class="col-md-12 form-medio">
                <div class="col-md-5 form-medio">
                    <div class="col-md-3 form-medio">
                        @Html.LabelFor(m => m.Sucursal, new { @class = "control-label" }):
                    </div>
                    <div class="col-md-3 form-medio">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Sucursal, "Sucursal", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon"><a href="#" onclick="AbrirModalSucursales()"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                    </div>
                    <div class="col-md-5" style="display:flex; align-content:center;">
                        <p style="text-transform:capitalize; margin:0px" id="Desc_Suc">@ViewBag.Sucursal</p>
                    </div>
                </div>
                <div class="col-md-7 form-medio">
                    <div class="col-md-3 form-medio">
                        @Html.LabelFor(model => model.Comentario, "Comentario:", new { @class = "control-label" }):
                    </div>

                    <div class="col-md-9 form-medio">
                        @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:capitalize" } })
                    </div>
                </div> 
            </div>
        </div>

        <script>
            function AbrirModalSucursales() {
                $.ajax({
                    type: "GET",
                    url: "/ModalesListados/Modal_Sucursales/",
                    success: function (data) {

                        $('#ModalSucursales').html(data);

                        CargarSucursales();

                        $('#ConfirmarSucursal').click(function () {
                            ConfirmarSucursal();
                        });

                        $('#SucursalesTabla tbody').on('click', 'tr.selected', function () {

                            ConfirmarSucursal();

                        });

                        $('#modalSucursales').modal('toggle');

                    }
                });
            }

            function ConfirmarSucursal() {
                $('#SucursalesTabla').find('tr.selected').find('td').each(function () {

                    if ($(this).index() == 0) {

                        var Numero = $(this).html();

                        $('#Sucursal').val(Numero);
                    }

                    if ($(this).index() == 1) {

                        var Nombre = $(this).html();

                        $('#Nombre_Sucursal').html(Nombre);
                    }
                });

                $('#modalSucursales').modal('hide');
            }
        </script>

    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="boton-confirmar-detalles" onclick="ConfirmarDetallesEnvasado($('#formEnvasado'))">Confirmar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
