﻿@{
    ViewBag.Title = "Liberados Condicionales";
}
<h2>Liberados Condicionales</h2>
<table id="EnvasadosTabla" class="display compact" style="width:100%"></table>

<style>
    .dt-buttons .azul {
        background: #428bca !important;
        padding: 5px !important;
        color: #fff;
    }

    .fila-retenida {
        background-color: rgba(255, 0, 0, 0.2) !important;
        border-bottom-color: #d9534f !important;
    }

    .ret-label {
        color: #d9534f;
        font-weight: bold;
        font-size: 10px;
    }

    .ui-autocomplete {
        position: absolute;
        cursor: default;
        z-index: 9999999999999 !important;
    }
</style>

<!-- Modal Motivos -->
<div class="modal fade" id="modalMotivosAuto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:650px; min-height: 150px;">
        <div class="modal-content" id="ModalMotivosAuto" style="max-width:650px; min-height: 150px;">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title">Retener el envasado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="margin-bottom: 15px;">
                    <label class="noselect" style="color:#0a6cbe;">Retener: </label>
                    <input type="text" class="form-control" id="cantidad_retener" style="width:80px;display:inline-block;text-align:right;" />
                    <label style="color:#0a6cbe;">Unidades </label>
                    <input type="text" class="form-control" id="kilos_retener" style="width:80px;display:inline-block;text-align:right;" />
                    <label style="color:#0a6cbe;">Kilos </label>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="noselect" style="color:#0a6cbe;">Fecha: </label>
                    <input type="text" class="form-control" id="Fecha_Retenido" style="width:120px;display:inline-block;text-align:right;" />
                   
                </div>
                <div>
                    <label for="motivoAuto" style="color: #0a6cbe;">Motivo:</label>
                    <select style="width: 300px; text-align: left;display:inline-block;" id="select_motivos" class="form-control"></select>
                    <input style="width:300px;text-align:left;display:none;" id="motivoAuto" type="text" placeholder="Ingrese un nuevo motivo de retención" class="form-control" />
                    <input type="checkbox" id="carga" onclick="MostrarInput()" style="margin-left:10px;" />
                    <label class="noselect" for="carga" style="padding-left:5px;margin-top:10px;">Cargar Nuevo</label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="confirmarMotivoAuto" class="btn btn-primary">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteEnvasado()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Rehabilitar-->
<div class="modal fade" id="modalRehabilitar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea rehabilitar el envasado?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="RehabilitarEnvasado()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Decomiso-->
<div class="modal fade" id="modalDecomiso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea decomisar el envasado?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DecomisarEnvasado()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Reproceso-->
<div class="modal fade" id="modalReproceso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:500px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Seleccione el Articulo donde se hará el ingreso:</p>
                <div class="form-medio">
                    <div style="width:75px;display:inline-block;">
                        <label class="noselect" style="font-weight:initial;">Articulo: </label>
                    </div>
                    <div style="width:100px;display:inline-block;">
                        <div class="input-group">
                            <input type="text" id="codigo-insumo-reproceso" name="Codigo_Insumo" class="form-control" style="width:80px;" />
                            <span class="input-group-addon"><a href="#" onclick="AbrirModalInsumos(ConfirmarInsumo)"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                    </div>
                    <label class="noselect control-label" style="font-weight:initial;margin-left:25px !important;" id="lb-descripcion-insumo-reproceso"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ReprocesarEnvasado()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Verificacion-->
<div class="modal fade" id="modalVerificarLiberar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro?</p>
            </div>
            <div class="modal-footer">
                <button t ype="button" class="btn btn-success btn-liberar" onclick="LiberarPorCalidad()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Envasado-->
<div class="modal fade" id="modalEnvasado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:70%">
        <div class="modal-content" id="ModalEnvasado">

        </div>
    </div>
</div>
<!-- Modal Liberar por Calidad-->
<div class="modal fade" id="modalLiberarPorCalidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:60%">
        <div class="modal-content" id="ModalLiberarPorCalidad">
        </div>
    </div>
</div>
@section scripts{
<script>
        var listadoEnvasados = [];
        var Envasado = 0;
        var ProduccionActual = [];

        function ConfirmarInsumo() {

            $('#InsumosLayoutTabla').find('tr.selected').find('td').each(function () {
                if ($(this).index() == 0) {
                    var Codigo = $(this).html();
                    $('#codigo-insumo-reproceso').val(Codigo);
                }
                if ($(this).index() == 1) {
                    $('#lb-descripcion-insumo-reproceso').html($(this).html());
                }
            });
            $('#modalInsumosLayout').modal('hide');
        }
        
        function MostrarInput() {
            let que_mostrar = $("#carga").prop('checked');
            console.log(que_mostrar);
            if (que_mostrar) {
                $("#select_motivos").hide();
                $("#motivoAuto").css('display','inline-block');
                $("#motivoAuto").focus();
            }
            else {
                $("#select_motivos").css('display', 'inline-block');
                $("#motivoAuto").hide();
            }
        }
        function VerificarFilaEnvasado(Lote) {
            var x = $.ajax({
                type: "GET",
                url: "/Producciones/GetData/",
                data: {
                    Lote: Lote,
                    Codigo_Estado: -1
                },
                success: function (data) {
                    if (data.success) {
                        ProduccionActual = [];
                        ProduccionActual = data.data[0];
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        function AbrirModalAddOrEdit(Codigo_Interno_Detalle) {
            var bandera = false;
            var Lote = [];
            $('#EnvasadosTabla').find('tr').find('td').each(function () {
                if ($(this).index() == 0) {
                    if ($(this).html() == Codigo_Interno_Detalle) {
                        bandera = true;
                        $(this).parent('tr').find('td').each(function () {
                            if ($(this).index() == 1) {
                                Lote = $(this).html();
                            }
                        });
                    }
                }
            });
            if (bandera == false) {
                notif({
                    msg: "Por favor seleccione un registro de la tabla.",
                    type: "warning",
                    position: "center"
                });
                return;
            }
            else {
                var x = $.ajax({
                    type: "GET",
                    url: "/ProduccionesQuesos/GetHistoricos/",
                    data: {
                        Lote: Lote
                    },
                    success: function (data) {
                        if (data.success) {
                            ProduccionActual = data.data[0];
                            $.ajax({
                                type: "GET",
                                url: "/Envasados/EditarEnvasado/",
                                data: {
                                    Codigo_Interno_Detalle: Codigo_Interno_Detalle,
                                    Lote: ""
                                },
                                success: function (data) {
                                    $('#ModalEnvasado').html(data);
                                    var x = $.ajax({
                                        type: "GET",
                                        url: "/Envasados/GetDetallesEnvasado/",
                                        data: { Codigo_Interno_Envasado: $('#Codigo_Interno_Envasado').val() },
                                        dataType: "json",
                                        success: function (data) {
                                            if (data.success) {
                                                ListadoDetalles = [];
                                                for (var i in data.data) {
                                                    ListadoDetalles.push(data.data[i]);
                                                }
                                                dataTable = $("#FormulasEnvasadoTabla").DataTable({
                                                    "bPaginate": false,
                                                    "bFilter": false,
                                                    "destroy": true,
                                                    "responsive": true,
                                                    "autoWidth": true,
                                                    "bInfo": false,
                                                    "lengthChange": false,
                                                    data: ListadoDetalles,
                                                    "columns": [
                                                        {
                                                            "data": "ProductoVentas",
                                                            "title": "Producto Ventas",
                                                            "sClass": "mayusculas-texto"
                                                        },
                                                        {
                                                            "data": "Obtenidas_Por_Envasada",
                                                            "title": "Piezas Obtenidas por Envasado",
                                                            render: function (data) {
                                                                if (data == null) {
                                                                    return parseFloat(1).toFixed(3);

                                                                }
                                                                else {
                                                                    return parseFloat(data).toFixed(3);
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "data": "Cantidad",
                                                            "title": "Piezas Envasadas",
                                                            render: function (data) {
                                                                if (data == null) {
                                                                    return "";

                                                                }
                                                                else {
                                                                    return parseFloat(data).toFixed(1);
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "data": "Kilos",
                                                            "title": "Kilos",
                                                            render: function (data) {
                                                                if (data == null) {
                                                                    return "";

                                                                }
                                                                else {
                                                                    return parseFloat(data).toFixed(3);
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "language": idiomaEspañol,
                                                    "columnDefs": [
                                                        { className: "text-right", "targets": [1, 2, 3] }
                                                    ],
                                                    initComplete: function () {
                                                        var y = $.ajax({
                                                            type: "GET",
                                                            url: "/ProduccionesQuesos/ObtenerRestantes/",
                                                            data: { Lote: ProduccionActual.Lote },
                                                            dataType: "json",
                                                            success: function (data) {
                                                                $('#kilos-restantes').html("");
                                                                $('#kilos-restantes').html(data.kilosRestantes);
                                                                $('#Lote').val("");
                                                                $('#Lote').val(ProduccionActual.Lote);
                                                                $('#LoteNuevo').html("");
                                                                $('#LoteNuevo').html(ProduccionActual.Lote);
                                                                $('#piezas-restantes').html("");
                                                                $('#piezas-restantes').html(data.piezasRestantes);
                                                                $('#Descripcion-Producto').html("");
                                                                $('#Descripcion-Producto').html(ProduccionActual.Producto);
                                                                $('#KilosTotales').html("");
                                                                if (ProduccionActual.Kilos_Reales != null)
                                                                    $('#KilosTotales').append('<input type="text" class="form-control" name=""  id="Kilos_Reales_Envasado" value="' + ProduccionActual.Kilos_Reales + '" disabled/>');
                                                                else
                                                                    $('#KilosTotales').append('<input type="text" onkeyup="VerificarKilosReales()" class="form-control" name="Kilos_Reales_Envasado" id="Kilos_Reales_Envasado" />');
                                                                $('#Kilos_Reales_Envasado').numeric();
                                                                $('#Piezas-Obtenidas').html("");
                                                                $('#Piezas-Obtenidas').html(ProduccionActual.Piezas_Obtenidas);
                                                                $('#modalEnvasado').modal('toggle');
                                                                $('#ConfirmarEnvasado').click(function () {
                                                                    ConfirmarModificarEnvasado($('#formEnvasado'));
                                                                });
                                                                if (ProduccionActual.Kilos_Reales != null) {
                                                                    $("#modalEnvasado").on('shown.bs.modal', function () {
                                                                        $('#Kilos_Reales_Envasado').focus();
                                                                    });
                                                                }
                                                                else
                                                                    $('#Fecha').focus();
                                                            }
                                                        });
                                                    }

                                                });
                                            }
                                            else {
                                                notif({
                                                    msg: data.message,
                                                    type: "error",
                                                    position: "center"
                                                });
                                            }
                                        }
                                    });
                                }
                            });
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                    }
                });
            }
        }

        var EnvasadosTable = null;

        function CargarEnvasados() {
            $.ajax({
                type: "GET",
                url: "/Envasados/GetData/",
                data: { Codigo_Fabrica: -1, Historico: true , Liberado_Condicional: true},
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        listadoEnvasados = data.data;

                        EnvasadosTable = $("#EnvasadosTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            "responsive": true,
                            data: listadoEnvasados,
                            "columns": [
                                {
                                    "data": "Codigo_Interno_Detalle",
                                    "title": "Código",
                                    width: "45px",
                                    render: function (data, type, row, meta) {
                                        let motivo = row.Descripcion_Motivo_Retencion;

                                        let retenido = (motivo != null) && (motivo != '');

                                        return `<span>${retenido ? "<span class='ret-label'>[RETENIDO]</span>" : ""} <span>${data}</span></span>`;
                                    }
                                },
                                {
                                    "data": "Lote",
                                    "title": "Lote",
                                    "className": "col-editable lote",
                                    // Fuerza que se alinee a la derecha
                                    createdCell: cell => $(cell).css('text-align', 'right'),
                                },
                                {
                                    "data": "Producto_Ventas",
                                    "title": "Producto Ventas",
                                    "sClass": "mayusculas-texto"
                                },
                                {
                                    "data": "Fecha",
                                    "title": "Fecha",
                                    "orderable": true,
                                    "render": function (data) {
                                        return moment(data).format('DD/MM/YYYY');
                                    }
                                },
                                {
                                    "data": "Cantidad",
                                    "title": "Cantidad",
                                    render: function (data) {
                                        if (data == null || parseFloat(data) < 0)
                                            return "";
                                        else
                                            return parseFloat(data).toFixed(0);
                                    },
                                    width: '100px',
                                },
                                {
                                    "data": "Kilos",
                                    "title": "Kilos/Litros",
                                    render: function (data) {
                                        if (data == null || parseFloat(data) < 0)
                                            return "";
                                        else
                                            return parseFloat(data).toFixed(4);
                                    },
                                    width: '100px',
                                },
                                {
                                    "data": "Humedad",
                                    "title": "Humedad",
                                    "className": "col-editable humedad",
                                    render: function (data) {
                                        if (data == null)
                                            return "";
                                        else
                                            return parseFloat(data).toFixed(3);
                                    },
                                    width: '50px',
                                },
                                {
                                    "data": "Envasado_Completo",
                                    "title": "Envasado Completo",
                                    render: function (data) {
                                        if (data == null)
                                            return "";
                                        else
                                            return data;
                                    },
                                    width: '150px',
                                },
                                {
                                    data: "Codigo_Interno_Detalle",
                                    render: function (data, type, row, meta) {
                                        let motivo = row.Descripcion_Motivo_Retencion;
                                        let retenido = (motivo != null) && (motivo != '');
                                        let res = "";
                                        if (retenido)
                                            res += "<a class='btn btn-success btn-sm' onclick='AbrirModalRehabilitar(" + data + ")'><span class='glyphicon glyphicon-refresh'></span> Rehabilitar</a>";
                                        return res;
                                    },
                                    orderable: false,
                                    width: '80px',
                                },
                                {
                                    data: "Codigo_Interno_Detalle",
                                    render: function (data, type, row, meta) {
                                        let res = "";
                                        res += "<a class='btn btn-default btn-sm' onclick='AbrirModalDecomiso(" + data + ")'><span class='glyphicon glyphicon-refresh'></span> Decomisar</a>";
                                        res += "<a class='btn btn-default btn-sm' onclick='AbrirModalReproceso(" + data + ")'><span class='glyphicon glyphicon-refresh'></span> Reprocesar</a>";
                                        return res;
                                    },
                                    orderable: false,
                                    width: '200px',
                                },
                                {
                                    data: "Codigo_Interno_Detalle",
                                    width: "10%",
                                    render: function (data, type, row, meta) {
                                        let motivo = row.Descripcion_Motivo_Retencion;
                                        let retenido = (motivo != null) && (motivo != '');
                                        motivo = new String(motivo).trim().toLowerCase();
                                        let res = "";
                                        res += "<a class='btn btn-danger btn-sm' onclick='AbrirModalDelete(" + data + ")'><span class='glyphicon glyphicon-trash'></span></a>";

                                        return res + (!retenido ? "<a class='btn btn-danger btn-sm' onclick='RetenerEnvasado(" + data + ")'><span class='glyphicon glyphicon-warning-sign'></span> Retener</a>" : `<a href='#' onclick="alert('Motivo Retención: ${motivo}')" class='retenido text-center' style='color: black; text-decoration: underline; font-weight: medium;'>${'ver motivo'}</a>`);
                                        /*"<a class='btn btn-default btn-sm' onclick='AbrirModalAddOrEdit(" + data + ")'><span class='glyphicon glyphicon-pencil'></span></a>" +*/
                                    },
                                    orderable: false,
                                    width: '120px',
                                }
                            ],
                            "columnDefs": [
                                {
                                    className: "text-right",
                                    targets: [4, 5, 6]
                                },
                                {
                                    className: "text-center",
                                    targets: [0, 3, 7, 8]
                                }
                            ],
                            order: [[3, 'desc']],
                            language: idiomaEspañol,
                            dom: 'Bfrtip',
                            buttons: [
                                {
                                    text: 'Liberar Definitivamente <span class="glyphicon glyphicon-paste">',
                                    className: 'verde',
                                    action: function () {
                                        AbrirModalVerificarLiberado();
                                    },
                                },
                                {
                                    text: 'Liberar Todo <span class="glyphicon glyphicon-arrow-right">',
                                    className: 'azul liberar_todo',
                                    action: function () {
                                        AbrirModalVerificarLiberado(true);
                                    },
                                },
                                {
                                    text: 'Refrescar <span class="glyphicon glyphicon-refresh">',
                                    className: '',
                                    action: function () {
                                        CargarEnvasados();
                                    }
                                }
                            ],
                            select: 'multiple',
                            drawCallback: function (settings) {
                            },
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();

                                let filasRetenidas = $("#EnvasadosTabla .retenido").parent().parent();

                                for (let index = 0; index < filasRetenidas.length; index++) {

                                    let fila = $(filasRetenidas[index]);

                                    let retenido = 'fila-retenida';

                                    if (!fila.hasClass(retenido))
                                        fila.addClass(retenido);
                                }

                                var editor = new ControlEditable(
                                    "#EnvasadosTabla td.col-editable.humedad",
                                    "/Envasados/GetData",
                                    "Humedad"
                                );

                                var editor2 = new ControlEditable(
                                    "#EnvasadosTabla td.col-editable.lote",
                                    "/Envasados/DetalleEnvasadoLote",
                                    "Lote"
                                );

                                editor.loadEditor();
                                editor2.loadEditor();
                            }
                        });


                        EnvasadosTable.on('draw.dt', function () {

                            var editor = new ControlEditable(
                                "#EnvasadosTabla td.col-editable.humedad",
                                "/Envasados/GetData",
                                "Humedad"
                            );

                            var editor2 = new ControlEditable(
                                "#EnvasadosTabla td.col-editable.lote",
                                "/Envasados/DetalleEnvasadoLote",
                                "Lote"
                            );

                            editor.loadEditor();
                            editor2.loadEditor();
                        });

                    }
                }
            });
        }

        $('#motivoAuto').click(function (e) {
            if (e.keyCode == 13) {

                $("#confirmarMotivoAuto").click();

            }
        });

        $("#confirmarMotivoAuto").click(function (e) {
            let motivo = $("#select_motivos").val();
            if ($("#carga").prop('checked'))
                motivo = $("#motivoAuto").val();

            if (motivo) motivo = new String(motivo).trim();

            let kg, cantidad,fecha;
            fecha = $("#Fecha_Retenido").val();
            cantidad = parseFloat($('#cantidad_retener').val().replace(',', '.'));
            kg = parseFloat($('#kilos_retener').val().replace(',', '.'));

            console.log('Cantidad maxima a retener: ' + reteniendo_cantidad);
            console.log('Cantidad a retener: ' + cantidad);
            console.log('Kilos maximos a retener: ' + reteniendo_kg);
            console.log('Kilos maximos a retener: ' + kg);

            if (cantidad > reteniendo_cantidad || cantidad <= 0) {
                notif({
                    msg: 'La cantidad a retener debe estar entre 0 y ' + reteniendo_cantidad,
                    type: "error",
                    position: "center"
                });
                return;
            }

            if (kg > reteniendo_kg || kg <= 0) {
                notif({
                    msg: 'Los kilos a retener deben estar entre 0 y ' + reteniendo_kg,
                    type: "error",
                    position: "center"
                });
                return;
            }

            if (motivo != null) {
                if (motivo) {
                    let dataForm = new FormData();

                    dataForm.append("CodigoDetalle", reteniendoEnvasado);
                    dataForm.append("MotivoRetencion", motivo);
                    dataForm.append("Kilos", kg.toString().replace('.', ','));
                    dataForm.append("Cantidad", cantidad.toString().replace('.', ','));
                    dataForm.append("Fecha",fecha);

                    $.ajax({
                        type: "POST",
                        url: "/Envasados/Retener",
                        processData: false,
                        contentType: false,
                        data: dataForm,
                        success: function (data) {
                            if (data.success == true) {
                                notif({
                                    msg: "Envasado retenido correctamete",
                                    type: "success",
                                    position: "center"
                                });
                                location.reload(true);
                            }
                            else {
                                notif({
                                    msg: data.message,
                                    type: "error",
                                    position: "center"
                                });
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }
                else {
                    notif({
                        msg: "Para rechazar el envasado debe proporcionar un motivo",
                        type: "error",
                        position: "center"
                    });
                }
            }
        });

        var reteniendoEnvasado = null;
        var reteniendo_kg = 0;
        var reteniendo_cantidad = 0;
        function RetenerEnvasado(envasado) {
            $('#modalMotivosAuto').modal('toggle');
            $("#Fecha_Retenido").datepicker();
            reteniendo_kg = 0;
            reteniendo_cantidad = 0;
            let envasados = EnvasadosTable.data();
            for (env in envasados) {
                if (envasados[env].Codigo_Interno_Detalle == envasado) {
                    reteniendo_kg = envasados[env].Kilos;
                    reteniendo_cantidad = envasados[env].Cantidad;
                    $('#kilos_retener').val(reteniendo_kg);
                    $('#cantidad_retener').val(reteniendo_cantidad);
                    break;
                }
            }
            $.getJSON(
                '/MotivosRetencion/GetData/',
                function (data) {
                    var motivos = data.data.filter(function (elemento) {
                        return elemento.Tipo == "Calidad";
                    });
                    $.each(motivos, function (i, registro) {
                        $("#select_motivos").append('<option value=' + registro.Descripcion + '>' + registro.Descripcion + '</option>');
                    });

                    let motivosN = [];

                    for (let motivo in motivos) {
                        let motivoData = motivos[motivo];
                        if (motivoData)
                            motivosN.push(motivoData.Descripcion);
                    }
                    console.log("Motivos: ", motivosN);
                    if (motivosN.length > 0) {
                        console.log('autocomplete');
                        $('#motivoAuto').autocomplete({
                            source: motivosN
                        });
                    }
                    reteniendoEnvasado = envasado;
                }
            );
        }

        var liberarTodo = false;
        function AbrirModalVerificarLiberado(todo = false) {
            liberarTodo = todo;

            if (liberarTodo) $('#modalVerificarLiberar').modal('toggle');

            if (!liberarTodo) {
                let bandera = false;
                $('#EnvasadosTabla').find('tr.selected').find('td').each(function () {
                    if ($(this).index() == 0)
                        bandera = true;
                });
                if (bandera == false) {
                    notif({
                        msg: "Por favor seleccione un registro de la tabla.",
                        type: "warning",
                        position: "center"
                    });
                    return;
                } else
                    $('#modalVerificarLiberar').modal('toggle');
            }
        }

        function AbrirModalDelete(Codigo_Interno_Envasado) {
            Envasado = Codigo_Interno_Envasado;
            $('#modalDelete').modal('toggle');
        }
        function AbrirModalDecomiso(Codigo_Interno_Envasado) {
            Envasado = Codigo_Interno_Envasado;
            $('#modalDecomiso').modal('toggle');
        }
        function AbrirModalReproceso(Codigo_Interno_Envasado) {
            Envasado = Codigo_Interno_Envasado;
            $('#modalReproceso').modal('toggle');
        }
        function AbrirModalRehabilitar(Codigo_Interno_Envasado) {
            Envasado = Codigo_Interno_Envasado;
            $('#modalRehabilitar').modal('toggle');
        }
        function RehabilitarEnvasado() {
            $.ajax({
                type: "POST",
                url: "/Envasados/Rehabilitar/",
                data: { Codigo_Interno_Detalle: Envasado },
                success: function (data) {
                    if (data.success) {
                        $('#modalRehabilitar').modal('hide');
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        CargarEnvasados();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        function LiberarPorCalidad() {
            let bandera = false;
            let Fila = null;
            if (!liberarTodo) {

                $('#EnvasadosTabla tr.selected td').each(function () {
                    if ($(this).index() == 0) {
                        Codigo_Interno_Detalle = $(this).html();
                        Fila = $(this).parent();
                        bandera = true;
                    }
                });

                if (Fila)
                    if (Fila.hasClass('fila-retenida'))
                        bandera = false;

                // indica si el/los envasado/os ya fue/fueron liberado/dos
                let liberadoYa = false;

                if ((bandera == false) && Fila.hasClass('fila-retenida')) {

                    notif({
                        msg: "No se puede liberar un envasado retenido",
                        type: "warning",
                        position: "center"
                    });

                    return;

                }

                else if (bandera == false) {
                    notif({
                        msg: "Por favor seleccione un registro de la tabla.",
                        type: "warning",
                        position: "center"
                    });

                    return;
                }
            }
        
            let liberar = "tr.selected:not('.fila-retenida')";

            $('.btn-liberar').attr("disabled", true);
            $('.azul').attr("disabled", true);

            let liberadosFilas = $('#EnvasadosTabla').find(liberar).find('td');
            if (liberarTodo)
                liberadosFilas = liberadosFilas = listadoEnvasados.filter(e => !e.Descripcion_Motivo_Retencion);
            // inicializo la fecha con la que se van a liberar los envasados
            // inicia en estado invalido para validar luego
            let fechaLiberados = "Invalid date";

            // si hay para liberar pido una fecha de liberado
            if (liberadosFilas.length > 0) {

                // mientras el usuario ingrese una fecha invalida trato de
                // pedir otra para ajustarla al formato que necesito DD/MM/AAAA
                // si da como respuesta null significa que cancelo la operación
                while (fechaLiberados === "Invalid date") {

                    let now = new moment().format("DD/MM/YYYY");

                    // pido la fecha de liberado, por defecto hoy
                    let userInput = prompt("Ingrese una fecha de liberación", now);

                    // si no cancelo la operacion valido
                    if (userInput != null) {

                        userInput = new moment(userInput.trim(), "DD/MM/YYYY").format("DD/MM/YYYY");

                        if (userInput === "Invalid date")
                            alert("La fecha ingresada debe respetar el formato DD/MM/AAAA");

                    }

                    fechaLiberados = userInput;

                }

            }

            else {

                // cancelo operacion
                fechaLiberados = null;

            }

            // si no fue cancelada la operacion y es posible, libero
            if (fechaLiberados != null) {
                let codigos_liberar = []
                if (liberarTodo) {
                    for (let envasado of liberadosFilas) {
                        let codigo = envasado.Codigo_Interno_Detalle;
                        console.log("Detalle Liberado: ", codigo);
                        codigos_liberar.push(codigo);

                    };
                } else {
                    liberadosFilas.each(function () {
                        if ($(this).index() == 0) {
                            let codigo = $(this).text().trim();
                            console.log("Detalle Liberado: ", codigo);
                            codigos_liberar.push(codigo);
                        }
                    });
                }
                $.ajax({
                    type: "POST",
                    url: "/Envasados/LiberarPorCalidad",
                    data: { codigos: codigos_liberar, date: fechaLiberados },
                    success: function (data) {
                        console.log(data);
                        if (data.success) {
                            $('#modalVerificarLiberar').modal('hide');
                            $('div.dataTables_filter input').focus();
                        }
                        else {
                            notif({
                                msg: data.message,
                                type: "error",
                                position: "center"
                            });
                        }
                        CargarEnvasados();
                    },
                    error: function (err) {
                        console.log("Error al liberar: ", err);
                    },
                    complete: function (data) {
                        $('.btn-liberar').attr("disabled", false);
                    }
                });


                liberadoYa = true;

            }

            else {

                $('.btn-liberar').attr("disabled", false);
                $('.azul').attr("disabled", false);

            }


            liberarTodo = false;            

            if (liberadoYa) {

                notif({
                    msg: "Registro/s liberado/s satisfactoriamente.",
                    type: "success",
                    position: "center"
                });
            }
        }
        function DeleteEnvasado() {
            $.ajax({
                type: "POST",
                url: "/Envasados/Delete/",
                data: { Codigo_Interno_Detalle: Envasado },
                success: function (data) {
                    if (data.success) {
                        $('#modalDelete').modal('hide');

                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });

                        CargarEnvasados();

                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        function DecomisarEnvasado() {
            $.ajax({
                type: "POST",
                url: "/Envasados/Decomisar/",
                data: { Codigo_Interno_Detalle: Envasado },
                success: function (data) {
                    if (data.success) {
                        $('#modalDecomiso').modal('hide');
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        CargarEnvasados();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }
        function ReprocesarEnvasado() {
            if ($('#codigo-insumo-reproceso').val() == '') {
                notif({
                    msg: 'Debe seleccionar un articulo!',
                    type: "error",
                    position: "center"
                });
                return;
            }
            $.ajax({
                type: "POST",
                url: "/Envasados/Reprocesar/",
                data: { Codigo_Interno_Detalle: Envasado, Codigo_Insumo_Reproceso: $('#codigo-insumo-reproceso').val() },
                success: function (data) {
                    if (data.success) {
                        $('#modalReproceso').modal('hide');
                        notif({
                            msg: data.message,
                            type: "success",
                            position: "center"
                        });
                        $('#codigo-insumo-reproceso').val('');
                        $('#lb-descripcion-insumo-reproceso').html('');
                        CargarEnvasados();
                    }
                    else {
                        notif({
                            msg: data.message,
                            type: "error",
                            position: "center"
                        });
                    }
                }
            });
        }

        $("#codigo-insumo-reproceso").keyup(function (e) {
            if (e.keyCode == 13) {
                $.ajax({
                    type: "GET",
                    url: "/Insumos/GetOne/",
                    data: { Codigo_Insumo: $("#codigo-insumo-reproceso").val() },
                    success: function (data) {
                        console.log(data.data[0]);
                        $('#codigo-insumo-reproceso').val(data.data[0].Codigo_Insumo);
                        $('#lb-descripcion-insumo-reproceso').html(data.data[0].Descripcion);
                    }
                });
            }
        });

        $(document).ready(function () {
            CargarEnvasados();
        });
</script>
}


