﻿@using MVC_Produccion.ContextoProduccion
@{
    ViewBag.Title = "Fábricas : Listado";

    Entities db = new Entities();
}

<h2>Fábricas</h2>

<table id="FabricasTabla" class="display compact" style="width:100%"></table>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12" style="display:flex; justify-content:space-between">
                <h4 class="modal-title" id="exampleModalLabel">Verificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro desea eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteFabrica()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<input class="codigo" hidden />

@section scripts{

    <script src="~/Scripts/Fabricas/Index.js"></script>

    <script>

        function CargarFabricas() {

            $.ajax({
                type: "GET",
                url: "/Fabricas/GetData/",
                data: { Codigo_Fabrica: -1 },
                dataType: "json",
                success: function (data) {
                    if (data.success) {

                        listadoFabricas = data.data;

                        dataTableFabricas = $("#FabricasTabla").DataTable({
                            "destroy": true,
                            "autoWidth": true,
                            data: listadoFabricas,
                            "columns": [
                                {
                                    "data": "Codigo_Fabrica",
                                    "title": "Código",
                                    "width": "15%"
                                },
                                {
                                    "data": "Descripcion",
                                    "title": "Descripción",
                                    "sClass": "mayusculas-texto"
                                },
                                {
                                    "data": "Nro_Planilla",
                                    "title": "Nro Planilla",
                                    "sClass": "mayusculas-texto"
                                },
                                {
                                    "data": "Codigo_Fabrica",
                                    "width": "10%",
                                    "title": "Herramientas",
                                    "render": function (data) {
                                        return " <a class='btn btn-default btn-sm' onclick=EditarFabrica('" + data + "')><span class='glyphicon glyphicon-pencil'></span></a>" +
                                                 "<a class='btn btn-danger btn-sm'onclick=modificarInput('" + data + "') data-toggle='modal' data-target='#modalDelete'><span class='glyphicon glyphicon-trash'></span></a>";
                                    },
                                }

                            ],
                            "language": idiomaEspañol,
                            "columnDefs": [
                                    { className: "text-center", "targets": [0, 3] },
                                    { className: "text-right", "targets": [2] },
                            ],
                            dom: 'Bfrtip',
                            buttons: [
                               {
                                   text: '<span class="glyphicon glyphicon-plus">',
                                   className: 'nuevo',
                                   action: function () {
                                       AgregarFabrica();
                                   }
                               }
                            ],
                            "order": [[1, "asc"]],
                            initComplete: function (data) {
                                $('div.dataTables_filter input').focus();
                            }

                        });
                    }

                }
            });
        };

        $(document).ready(function () {

            CargarFabricas();
        });

    </script>
}


